[2020-09-09 20:40] asharonbaltazar commented on #2594
I've never done something this advanced in someone else's project, but I can try my hand at it for a day.

[2020-09-09 20:46] develohpanda commented on #2594
Try and break it down into small pieces, and see how you get on. 🤗

[2020-09-09 21:28] sc911 opened #2596 "Nested Template Tags"
Hello, it would be great if nested Template Tags would be possible.

For example: retrieve value from previous response, concatenate with environment variable, MD5 on the whole string.

It is possible to concat strings, so combining a body attribute from a previous response and an environment variable is possible. Whats not working is hashing the result.

To reproduce:
* Add two environment variab

[2020-09-10 00:36] nijikokun commented on #1841
Hi @joshpaulchan,

We haven't started one for Websockets _just yet_. The team and myself included have been working through GRPC, which has some similarities in the way responses should be handled (streaming). Our thought process is once we have finalized our plans for the GRPC feature-set, we can use these assets and documents to begin framing how we want to approach Websockets.

That said, we ar

[2020-09-10 00:54] nijikokun commented on #2596
Welcome @sc911,

While nesting template tags directly does not work, you can achieve the same outcome through variable assignment. First by assigning the result token to a variable, then another variable to join the two variables (`resultToken` and `accessKey`) which then you can pass to the md5 hashing function as the value to be hashed.

You can find an example of assignment being used this way

[2020-09-10 01:55] develohpanda commented on #1883
Very much related to #2593 as well, leaving both open as there is discussion in each 😊

@etauker I can see [insomnia-plugin-system-env](https://insomnia.rest/plugins/insomnia-plugin-system-env) on the plugin hub. The other one, likely doesn't show because it's quite old? Not entire sure.

@bongosway, it looks like your plugin is not published to NPM so Insomnia is not able to install it. It's awes

[2020-09-10 02:03] develohpanda commented on #2593
@alexbjorlig there is a comment in the linked issue above, referring to a plugin that can consume env files! 🎉 https://github.com/Kong/insomnia/issues/1883#issuecomment-596269972

[2020-09-10 02:36] asharonbaltazar commented on #2594
Hello, I'm having trouble setting up the environment. Is there a group where I can ask questions?

[2020-09-10 02:44] develohpanda commented on #2594
Join our Slack at https://chat.insomnia.rest/, you can just ping in #general

[2020-09-10 04:54] yihyang opened #2597 "Include folder information on Create Snapshot"
![Screenshot 2020-09-10 at 12 50 00 PM](https://user-images.githubusercontent.com/8537324/92683029-654c4d80-f364-11ea-99d7-0e811198d2da.png)

Hi there, I'm currently using the version control beta. However I realize that only the current request name is include when I wanted to create a snapshot.

Currently my team structure the requests by endpoint. Example, "Api > V1 > Web > User > Index"

There

[2020-09-10 06:05] bongosway commented on #1883
*Perhaps you could update yours to be named something like insomnia-plugin-dotenv*

@develohpanda  This will be done today.

[2020-09-10 08:33] bongosway commented on #2593
@alexbjorlig https://www.npmjs.com/package/insomnia-plugin-dotenv is now published. Please give it a test run and let me know of any  bugs or enhancements.

Kind Regards

[2020-09-10 08:34] bongosway commented on #1883
https://www.npmjs.com/package/insomnia-plugin-dotenv is now published. Please give it a test run and let me know of any bugs or enhancements

[2020-09-10 08:57] sc911 commented on #2596
Thanks @nijikokun! That was what I was searching for! I think this should be mentioned in the docs (more prominent if it is already there).

For everybody reading this, here is the long version of doing this:
* Open "Manage Environments"
* Edit Base Environment like this
[code]
* Then in your request you can hash the environment variable `accessKeyTokenNoHash`
[code]

[2020-09-10 08:57] #2596 closed, assigned to nobody

[2020-09-10 10:20] alexbjorlig commented on #2593
Thanks for putting together a plugin - however it's the first Insomnia plugin I tried. Where do I provide the path for the env file?

[2020-09-10 11:12] bongosway commented on #2593
In the template screen:
1. Select dotenv from the dropdown.
2. Click to choose .env, your system dialog will open up to enable you to select a file
3. Enter the variable name you need to retrieve.
4. Live Preview should now show you the value assigned to that variable
5. Click done.
6. Your screen should like the below.

![Screenshot 2020-09-10 at 10 06 22 am](https://user-images.githubusercontent

[2020-09-10 11:56] alexbjorlig commented on #2593
That works - and pretty impressive this is possible with just 35 lines of code - good job 🥳

However, if I understand this correctly the "limitations" of the environment API in insomnia means that if I have 31 secrets I have to define 31*3=93 environment variables - because a plugin can't create an environment on my behalf (dev/stage/prod)?

(I'm not saying it's a showstopper, it's just error-pron

[2020-09-10 12:13] develohpanda commented on #2593
@bongosway amazing! I'm excited to try this out. 💯

@alexbjorlig technically yes. You'll notice that in the template tag modal, there is a cog on the right hand side, meaning the entry can itself come from an Insomnia environment variable.

What you can do, is map each variable one to one against your env file in the base insomnia environment. Then specify an envFilePath in the three sub environme

[2020-09-10 12:18] alexbjorlig commented on #2593
Thanks! It's already much better than hard-coding the secrets multiple places

[2020-09-10 15:01] keihuli commented on #804
Still Open

[2020-09-10 19:47] develohpanda commented on #2593
Here is an example workspace, but note, need @bongosway to review [this](https://github.com/bongosway/insomnia-plugin-dotenv/pull/1) PR and deploy an update of the plugin to support it. I found a case that didn't work during testing, and created a PR against the plugin.

[![Run in Insomnia}](https://insomnia.rest/images/run.svg)](https://insomnia.rest/run/?label=Example%20dotenv%20consmption&uri=h

[2020-09-10 21:04] nijikokun opened #2599 "Add plugin `onPluginUpdate` lifecycle event for data / migration management"
**Is your feature request related to a problem? Please describe.**

It is difficult for plugin developers to implement migration paths for major plugin upgrades. Currently plugin developers will have to manage their own lifecycle event detection by storing arbitrary versioning data or detecting outdated data models.

**Describe the solution you'd like**

On plugin update, an event that the plugin

[2020-09-10 23:01] develohpanda commented on #1883
Hi @edirinIndex, I will go ahead and close this issue as it is achievable with [insomnia-plugin-system-env](https://insomnia.rest/plugins/insomnia-plugin-system-env). Please reopen or create a new issue as you see fit :)

[2020-09-10 23:01] #1883 closed, assigned to nobody

[2020-09-10 23:32] bongosway commented on #2593
Done. v1.0.1 released

Many thanks @develohpanda

[2020-09-10 23:45] wassimoo opened #2600 "Prettify GraphQL long query args"
**Describe the bug**
Long query args not splitting into multiple lines when prettified making it a bit ugly and harder to read.

**Screenshots**

Current behavior:

![image](https://user-images.githubusercontent.com/12980387/92825474-7e3a1a80-f3c7-11ea-9feb-611d23ca8683.png)

Would be more reader-friendly to prettify it like this:

![image](https://user-images.githubusercontent.com/12980387/928256

[2020-09-11 00:48] rhukster commented on #1666
Won't work with cloudflare API at all for this very reason.  "x-auth-email" won't allow `-` which is ludicrous.

I was seriously considering this is a replacement for Postman, and one tiny regex fix would sort it.

[2020-09-11 06:00] nijikokun commented on #1666
Hi @rhukster,

Would an acceptable fix for this be to convert hyphenated variables imported from postman (`x-auth-email`) to pascal-case (`xAuthEmail`)?

The alternative workaround is that we create a filter to allow pulling hyphenated variables globally like shown here: https://github.com/11ty/eleventy/issues/567#issuecomment-575828788

Reason being that the underlying templating language (Nunjuc

[2020-09-11 06:30] nijikokun commented on #2580
Hi @codeasashu,

Thank you for raising this and also the implementation PR.

I'm wondering if the Unit Testing functionality from Designer would solve the same issues (which takes it a step further and allows you to execute and confirm the status code as well). They look similar in use-case and solve the same expectations.

*As a note*, you don't need a specification to try out Unit Testing in Des

[2020-09-11 08:03] nijikokun commented on #2580
After discussion internally, wondering if this could tie into unit tests, and thoughts from others on this.

Being able to create or store examples (maybe not the best terminology here) that you can reference from a unit test to be executed with (body, headers, etc).

Another item we discussed was the potential for this to be a plugin, there are some challenges here, we lack the APIs necessary to

[2020-09-11 08:33] codeasashu commented on #2580
I initially started this off as a plugin, but then it only allowed me to use Modals to contain the json.
The current implementation also uses Modals, since I am not aware of how can I add a new sub-window in the request UI for each example. (I am very new to react and electron).

AFAIK, with plugins, I can:

- Add modals
- Add context menu for each request to trigger open this modal
- Use store to

[2020-09-11 08:40] codeasashu commented on #2580
My usecase for examples is more for the sharing (and discussing) than for the unit testing. This means some part of audiences like Project managers, group of team leads etc. who might get an idea about the feature, by seeing the API response.

Adding, editing examples is quite intuitive too. I usually use postman example editor,  during the team meetings, to share how I think the API might look go

[2020-09-11 08:42] develohpanda commented on #2580
We have recently explored UI plugins - see the implementation [here](https://github.com/Kong/insomnia/tree/develop/plugins/insomnia-plugin-kong-portal). If this was a candidate to be a plugin there would be several APIs we would need to explore and expose. I quite like this use case, but agree that it might fit better as a plugin.

This is more of an idea to _consume_ some of the examples, to set

[2020-09-11 08:49] codeasashu commented on #2580
@develohpanda As [commented above](https://github.com/Kong/insomnia/issues/2580#issuecomment-690956333), I can use modals (which I am limited to, when using as a plugin), but then I will be "forced" to open yet another modal on top of existing to allow add/editing the examples.

Can you help me with how I can do the same within same modal? I am not against using modals, however, Opening another mo

[2020-09-11 09:09] develohpanda commented on #2580
I don't think it's a great idea to open multiple modals on top of each other.

We can likely add plugin API to allow you to create a tab and control the content inside it, and you can already control the content inside a modal as per [this](https://github.com/Kong/insomnia/blob/af6a9b6a78a46402bc254e709b31d8dfa9e4b314/plugins/insomnia-plugin-kong-portal/index.js#L9-L26). That should, in theory, al

[2020-09-11 09:32] codeasashu commented on #2580
@develohpanda Thanks for pointing me to the right direction.

I can still use the code-editor I used (by making a copy of it inside the plugin) or can add mine, inside the component. I will try to add another PR which allows adding a tab to a request editor. Then everything I've made in this PR can be added as a plugin.

Code-editor inside modal is tricky, yes. However, if given a certain height f

[2020-09-11 09:36] develohpanda commented on #2580
That sounds good. From an interface standpoint, it would be nice to define the tabs via a `requestTabs` array exported from the plugin, similar to how the `documentActions` and `workspaceActions` one works.

Feel free to reach out to me on [Slack](chat.insomnia.rest) if you need any assistance, and/or create draft PRs for early reviews, so you don't end up working too deep on an approach and have

[2020-09-11 10:48] develohpanda commented on #456
Re-opening this as a potential fix is in the works (#2601), and there was a lot of activity on this (and duplicate) issues. 😄

[2020-09-11 11:12] rhukster commented on #1666
I did a manually search and replace in the api json file converting the - (dashed) based keys to _ (underscores).  Then imported and that worked fine.   So ya I think at least while importing it’s a good workaround  to convert to camel/pascal case or underscored.

Weirdly I noticed that with dashed syntax the preview when you add the token shows the correct value just not when you inspect or send.

[2020-09-11 11:34] develohpanda commented on #1666
Hi @rhukster, Insomnia plugins can create custom [template tags](https://support.insomnia.rest/article/40-template-tags). As such, nearly anything you see in the `ctrl + space` drop-down (encoding, prompts) and many plugins (eg [insomnia-plugin-faker](https://insomnia.rest/plugins/insomnia-plugin-faker)) actually integrate with Insomina through Nunjucks [custom tags](http://mozilla.github.io/nunju

[2020-09-11 11:51] rhukster commented on #1666
Totally get it. I use Twig extensively in Grav so I appreciate that Nunjucks is used for more than it appeared to me at first glance. I’ll continue on the PR. Thanks!

[2020-09-11 12:41] dmythro commented on #2503
Oh, that would be awesome and a completely automated flow for me!

[2020-09-11 12:49] dmythro opened #2602 "OAuth 2 "refresh_token" is not populated"
**Describe the bug**
Checked OAuth2 flow now, seems like Refresh Token from response is not populated (it is empty on UI).

**To Reproduce**
Steps to reproduce the behavior:
1. Use **OAuth 2**
2. Choose **Client Credentials**
3. Send credentials **In Request Body** in Advanced Options
4. Click **Fetch Token**
5. Refresh Token field is empty

**Expected behavior**
Refresh Token field has data from

[2020-09-11 13:05] Duvel commented on #2592
I see that I mixed what I needed and what is available. I meant "the use of the id".

[code]

In my use case response2 sets a few variables for response1.

[2020-09-11 13:22] smacktoid opened #2603 "Insomnia designer is missing key validation of API specification"
**Describe the bug**
Insomnia designer does not flag up several types of validation problem with API specs in YAML format. I am learning how to write these specs and was hoping the designer would assist in getting the structure correct, but once I exported my spec to editor.swagger.io there were several misplaced properties which were stopping the designer from properly parsing the spec.

The key

[2020-09-11 13:50] pgp opened #2604 "Allow exporting requests without environments"
**Is your feature request related to a problem? Please describe.**
It may happen that both requests and environments grow over time; in this scenario, when you import some requests (even a single one) from someone else, environments are imported as well - it's likely one's interested only in the request content, for doing further customization, and doesn't want to pollute its own envs with the imp

[2020-09-11 15:26] iandunn opened #2605 "Local host file ignored when using proxy"
**Is your feature request related to a problem? Please describe.**

When using a proxy, it looks like hostnames are resolved through the proxy, rather than the local machine.

My staging and production environments use the same hostname, and I modify the hosts file to switch between them. After enabling the proxy settings, all requests go to the production server, even though requests in `curl`, C

[2020-09-11 20:06] iandunn commented on #2605
Er, my bad, I just needed to [use `socks5://` instead of `socks5h://`](https://curl.haxx.se/docs/manpage.html#--socks5-hostname).

[2020-09-11 20:06] #2605 closed, assigned to nobody

[2020-09-11 20:43] iandunn opened #2606 "Allow customizing curl DNS cache timeout"
### Problem

#1529 describes how libcurl reuses connections for `60` seconds by default. Because of that, switching between local and production hosts is inconvenient, if they share the same hostname.

Setting a `Connection: close` header doesn't seem to help.

It seems like the way to modify that cache is with the [`CURLOPT_DNS_CACHE_TIMEOUT`](https://curl.haxx.se/libcurl/c/CURLOPT_DNS_CACHE_TIME

[2020-09-11 21:52] iandunn opened #2607 "Expose the response body text for plugins"
### Problem

#423 requested being able to get and set the request and response bodies. #2003 added that ability for requests, but not  for responses. #1830 was related.

My use case is that I'd like to write a plugin that appends a formatted date/time to timestamp values in  responses, so that they're human-readable. For example, `1599858469` would become `1599858469 (Fri Sep 11 14:07:49 PDT 2020)

[2020-09-11 23:54] develohpanda commented on #2592
Cool, that's what I assumed you meant. 😊 It would be nice to explore nunjucks templating in unit tests so that we can show the request name, instead of id, for instance.

[2020-09-13 18:57] Vap0r1ze commented on #203
I wanted to use this, so I forked the app and added a params tab:
![image](https://user-images.githubusercontent.com/20448879/93026051-16572000-f5d1-11ea-9b3e-a6a2bb60348c.png)

After reading the contributing guidelines, I'm not so sure if a PR would be welcome. Let me know!

[2020-09-13 20:19] rezonant commented on #203
The contribution guidelines seem pretty normal, I see no reason you shouldn't PR it! On behalf of everyone else watching this issue and hoping for this feature, I appreciate the effort! I will say though that there is already a way to specify placeholders with ctrl+space for environment variables, maybe you could hook into that system?

[2020-09-14 02:40] develohpanda commented on #2604
Firstly, private environments are never exported; does this work for your use case?
![image](https://user-images.githubusercontent.com/4312346/93038196-6f3dbb80-f698-11ea-8774-02c86f15c5c1.png)

I agree that more control over what is imported or exported could be useful. For exporting, it would be a matter of adding to the dialog here. Importing, may be a little more involved.
![image](https://use

[2020-09-14 02:47] Vap0r1ze commented on #203
How cool! I'm new to Insomnia forgive me haha. I should probably add a new type of placeholder for params; I'll give that a try and keep you updated.

[2020-09-14 03:38] develohpanda commented on #203
Hi @Vap0r1ze! Usually it's nice to discuss and agree on a particular approach so that there is less need for rework. But, seeing as you already have something running, feel free to create a PR with some notes on your design/thought process, and we can discuss specific implementation details further. I, too, appreciate the effort!

I will add that I'm not quite sure on what the best solution for th

[2020-09-14 07:18] pgp commented on #2604
I wasn't aware of private environments... This seems a reasonable compromise, thanks!

[2020-09-14 09:56] develohpanda commented on #2604
You're welcome! I will close this issue.

I will discuss "selective import/export" internally and track as a standalone feature request if appropriate. 😄

[2020-09-14 09:56] #2604 closed, assigned to nobody

[2020-09-14 12:56] SimonGodefroid opened #2608 "Allow to upload multiple json at a time when uploading configurations to insomnia"
**Is your feature request related to a problem? Please describe.**
So I have 20 endpoints documented in RAML and I want my users to be able to use Insomnia to make API calls.

I used a script to download all the .raml and I use a parser to convert from RAML 1.0 to OAS3.

When the users are going to use our APIs they will have to import 20 times a json file by going to import/export and click on a

[2020-09-14 13:19] SimonGodefroid opened #2609 "Allow selecting with checkboxes multiple requests and perform bulk actions on them (edit, move, delete)"
**Is your feature request related to a problem? Please describe.**
I am super frustrated when I imported a configuration file with 20 requests for instance or whenever actually, and I have to:
(
- click on a request
- click on the drop down icon
- click on delete
- click on delete
)* 20

When deleting a request
When moving requests under a folder (after import especially but whenever).
When changi

[2020-09-14 15:39] danielkocot opened #2610 "Custom extension x-kong-plugin is not converted to declarative config"
The custom extension x-kong-plugin is not converted to declarative config but for Kubernetes config. The extension is placed at OpenAPI level.

![CleanShot 2020-09-14 at 17 38 49](https://user-images.githubusercontent.com/466609/93106938-3e1db500-f6b1-11ea-8e9e-200d681fd988.png)
![CleanShot 2020-09-14 at 17 38 43](https://user-images.githubusercontent.com/466609/93106945-40800f00-f6b1-11ea-876f-f8

[2020-09-14 17:57] prakashm1 opened #2611 "[FEATURE REQUEST] Save OpenAPI as file in local file system"
Insomnia needs to work with OpenAPI specs in the local file system. Currently it keeps them in an internal format only.
This has several problems:

1. The specs are not useable outside of Insomnia Designer.
1. One cannot reference definitions from other specs. Each spec has to be entirely self-contained.

It would be much simpler and useful to work with spec yaml's in local file system instead.

[2020-09-14 19:31] gschier commented on #203
Note that there's also a simple params plugin to achieve that feature, specifically https://insomnia.rest/plugins/insomnia-plugin-path-parameters

[2020-09-14 20:04] nijikokun commented on #2610
Hi @danielkocot 👋

To get a plugin to apply to the service, you'll want to nest the plugin under the server you wish to target. This is to differentiate plugins per environment.

Hope this helps!

[2020-09-15 05:08] danielkocot commented on #2610
Hi @nijikokun

good to know. I didn't find this in the documentation.

Best,
Daniel

[2020-09-15 05:09] #2610 closed, assigned to nobody

[2020-09-15 05:24] #1592 closed

[2020-09-15 08:21] hadisfr opened #2614 "Unreadable about menu in Linux"
**Describe the bug**
About menu in Linux Ubuntu is totally filled with unreadable square-like characters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Help' menu
2. Click on 'About'
3. See error

**Expected behavior**
Seeing readable contents.

**Screenshots**
![image](https://user-images.githubusercontent.com/24562441/93184541-9d330680-f751-11ea-8561-6ae00c82f310.png)

**Desktop**

[2020-09-15 08:59] michbsd opened #2615 "Copy as Curl not respecting header case"
When doing "Copy as Curl" on a request - the header is copied in all lower case.
E.g. I have a query with a header called "X-Application" - when doing a "Copy as Curl" it is copied as "x-application"

**Desktop (please complete the following information):**
 - OS: macOS 10.15.6
 - Installation Method: dmg
Version: Insomnia Core 2020.4.0
Release date: 10/09/2020
OS: Darwin x64 19.6.0
Electron: 9.1.

[2020-09-15 09:01] develohpanda commented on #2614
Thanks for the report! I wonder if it is related to missing fonts. Did it work for you in 2020.3.3 (the previous stable version)?

[2020-09-15 09:11] martisj commented on #1533
![image](https://user-images.githubusercontent.com/661994/93190836-1f1c3300-f744-11ea-84b3-571ade8f0f7b.png)

I am getting this when loading a PDF.

[2020-09-15 09:15] danielkocot opened #2616 "OpenAPI Extension for Kong Enterprise Workspace"
Implementation of something like x-kong-workspace to elaborate the use of workspaces in Kong Enterprise in an easy way and direct from the API spec.

[2020-09-15 16:26] #2562 closed, assigned to sonicyeti

[2020-09-15 19:59] nijikokun commented on #2610
@danielkocot good observation, we've created a ticket to add this to the support site, for the time being documentation can be found on the npm package, and on the github package readme here - https://github.com/Kong/insomnia/tree/develop/packages/openapi-2-kong

[2020-09-15 21:05] ashosborne opened #2618 "Unit test requests are not respecting timeout and redirect parameters from users settings"
**Describe the bug**

It would appear that the timeout and follow redirect settings are not being respected when Insomnia is instantiating an Axios instance when sending requests in tests.

I can see in https://github.com/Kong/insomnia/blob/develop/packages/insomnia-testing/src/run/insomnia.js there is a constant called options which sets follow redirects to false as a hardcode. It also has no ref

[2020-09-15 21:09] ashosborne opened #2619 "Tests are lost when exported"
**Describe the bug**
Exporting a workspace appears to lose the tests that have been created.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new OAS document
2. Create test suites and some tests
3. Go to preferences >> Data >> Export >> Current workspace >> All requests
4. Delete the original document
5. Go to preferences >> Data >> Import >> From File >> Import the document that wa

[2020-09-15 21:19] hadisfr commented on #2614
Unfortunately, I cannot test the previous version. After reverting to 2020.3.3 using `snap`  I get some no such file or directory related to `appmenu-gtk-module` (Seems `snap revert` bug or incomplete revert or sth).

[2020-09-15 21:31] hadisfr commented on #2614
But also a totally white screen appears whenever I click _Preferences_ in 2020.4.0. t may be related to this issue or not.

Logs in `--enable-logging` modes:
[code]

[2020-09-16 01:37] develohpanda opened #2620 "Incorrect verbiage in move folder to workspace modal"
**Describe the bug**
what it says (or doesn't say, heh) on the tin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Insomnia Core
2. Create a new folder
3. Right click on folder
4. Click "move" in the context menu
5. Hover over the `(i)` next to "New Workspace" to see a tooltip

**Current behavior**
Tooltip reads "Workspace will be moved to the root of the new workspace"

**Expected beh

[2020-09-16 01:44] develohpanda commented on #2614
Just looked at the PR that introduced it (https://github.com/Kong/insomnia/pull/2505) and it contains a screenshot from Linux working correctly on Ubunutu 20.04.1. 🤔 INS-124.

[2020-09-16 03:04] develohpanda commented on #2618
This will need a little more thought than simply consuming the user preferences. User preferences are not synchronized to Git, and as a result, test parameters between the CLI and the app will differ. None of the other networking preferences are respected by unit testing either, so any solution should cater/plan for that.

INS-125

[2020-09-16 03:08] develohpanda commented on #2619
Thanks for reporting! 🎉

INS-75

[2020-09-16 03:29] develohpanda commented on #2615
For anybody venturing into this issue and would like to pick it up, here is the generation logic 😄 Losing case may either be happening during `exportHarRequest`, or during HTTPSnippet convert.

https://github.com/Kong/insomnia/blob/51d3a5de32043dcf429f66afab955e66b6ac7e76/packages/insomnia-app/app/ui/containers/app.js#L466-L473

[2020-09-16 07:15] ashosborne commented on #2618
Would it not make sense that the CLI and app should have different parameters as they are separate users?

[2020-09-16 07:26] codeasashu commented on #2580
@develohpanda I've added a draft PR for review. Will add tests if everything looks good

[2020-09-16 08:43] hadisfr commented on #2614
Interesting… 🤔

My config is (using the left button which seems to be copy):
[code]
So it seems to be just font problem, as you said. But I expected a warning (in terminal) for missing font, at least in debug mode. 🤔
My full log:
[code]

Is there any way I can test other versions without installation? _.zip_ artifact of release seems to have macOS version only.

[2020-09-16 10:04] develohpanda commented on #2614
Very strange

Unfortunately there is no portable version, so the only way is to install it. Older versions should be under releases if you filter to `core@2020.` or `designer@2020.`.

When I get a change I will try this in a fresh VM running your version of Ubuntu. That might help to narrow down whether this is scoped to your installation, or to do with Ubuntu itself.

With the Electron upgrade in

[2020-09-16 10:22] develohpanda commented on #2618
That would make sense yeah. As part of this fix (can be a separate PR) we should also expose additional flags for the `inso run test` command to keep the app and CLI testing functionality in sync.

That shouldn't be too difficult:
- The app vs CLI entry points for unit testing are [here](https://github.com/Kong/insomnia/blob/51d3a5de32043dcf429f66afab955e66b6ac7e76/packages/insomnia-testing/src/ru

[2020-09-16 12:26] janispritzkau opened #2623 "PDF Preview broken in Insomnia 2020.4.0"
**Describe the bug**
The response preview is empty and a error is thrown in the console.

**To Reproduce**
Send a GET request with a response of content type `application/pdf`.

**Screenshots**
![insomnia-broken-pdf-preview](https://user-images.githubusercontent.com/1692391/93336838-962af780-f828-11ea-86bc-119c010ceb91.png)

**Desktop:**
 - OS: tested on Linux and macOS
 - App Version: Insomnia Co

[2020-09-16 13:19] iamkd opened #2624 "[FEATURE REQUEST] Use multiple Documents with 1 collection"
Insomnia Designer documentation has [screenshots](https://d33v4339jhl8k0.cloudfront.net/docs/assets/59e383122c7d3a40f0ed78e2/images/5ea6a7122c7d3a7e9aebac16/file-5LZXP8fMb1.png) where a lot of documents are shown that are different parts of the API. I could not find a way to sync all the documents into one repository. It looks like each document requires its own repository. Is it correct?

I'd rea

[2020-09-16 14:02] black-snow opened #2625 "Support OAS 3.1"
**Is your feature request related to a problem? Please describe.**
OAS 3.1 hasn't settled yet but is quite close to being final (afaik). I couldn't find any issue / roadmap tracking progress for this - please close the issue & hint me if I'm blind.

**Describe the solution you'd like**
Support [OAS 3.1 RC0](https://www.openapis.org/blog/2020/06/18/openapi-3-1-0-rc0-its-here) / JSON-Schema 2019-09

[2020-09-16 15:02] jgiovaresco commented on #2615
It seems we are loosing case during HTTPSnippet convert. There is an existing issue in `httpsnippet` project related to the issue: https://github.com/Kong/httpsnippet/issues/74

[2020-09-16 15:05] jgiovaresco commented on #2615
I can confirm that we are loosing case during snippet conversion. It seems related to https://github.com/Kong/httpsnippet/issues/74 🤔

[2020-09-16 15:29] DMarby commented on #2623
Thank you for reporting this!

INS-127

[2020-09-16 19:13] DMarby commented on #2577
Closing this as it was resolved before the 2020.4 release.

[2020-09-16 19:13] #2577 closed, assigned to nobody

[2020-09-16 21:23] nijikokun commented on #2625
Good call-out @black-snow still waiting for the third-party libraries to catch up 👀

[2020-09-16 21:25] nijikokun commented on #2624
Not yet 😞, but it is a part of the roadmap to address how we handle connecting an existing repository to another document.

[2020-09-16 21:34] nijikokun opened #2627 "Add plugin apis to control spec design functionality"
**Is your feature request related to a problem? Please describe.**

As a plugin author it would be nice to be able to have APIs for the design panes to hook into the design process.

**Describe the solution you'd like**

- Being able to control the language parser for the spec loaded
- Being able to hook into the spec loaded event
- Being able to hook into spec change event
- Being able to control

[2020-09-16 21:40] nijikokun commented on #2616
Do you have an example of what you are thinking the outcome of a feature like this would look like @danielkocot ?

[2020-09-17 02:00] #2252 closed, assigned to nijikokun

[2020-09-17 08:31] RHammar opened #2628 "Keyboard shortcut for switching workspace"
It would be great if there was a keyboard shortcut to switch between different workspaces.

I have set up Insomnia so that each microservice that I am working with is under it's own workspace. I keep switching back and forth between them, it would be great for productivity to be able to do it using a keyboard shortcut.

[2020-09-17 08:48] melardev opened #2629 "Export GraphQL schema"
Hi, I was using Insomnia for a while now and I am impressed it has so many good features but lacking a very basic one such as exporting the GraphQL schema as SDL, I am not familiar with the source code nor electron apps so I can not afford this very basic challenge, but someone used to it can do it very easily, can someone please add the possibility to export as JSON/SDL? the GraphQL schema is fet

[2020-09-17 11:10] michbsd opened #2630 "SOCKS5 and/or HTTP(S) proxy support"
**Is your feature request related to a problem? Please describe.**
I would like to be able to choose a pre-configured proxy to use per workspace and/or query.

**Describe the solution you'd like**
Configurable under workspace settings, next to "client certifcates" - and could be ticked on or off on each Request

**Describe alternatives you've considered**
At the moment there is only the "HTTP Netw

[2020-09-17 12:16] black-snow opened #2631 "Designer - move parameters, header, docs etc. from design to debug"
**Is your feature request related to a problem? Please describe.**
So I modelled an API and hit the `DEBUG` tab. I saw that my paths were already added just like an environment. But the requests do not feature the query parameters I defined in my OAS in the `DESIGN` tab. Is this by design (pun intended)?
It's cumbersome and error prone to manually copy them left back and forth.

Same goes for the

[2020-09-17 15:32] black-snow opened #2633 "Add response vs model / spec validation"
**Is your feature request related to a problem? Please describe.**
Either I'm blind and cannot find this or I must be awkward - this feature seems to be quite essential to me (and pretty much half of what assertible.com does):
I'd like to be able to validate my requests from the `DEBUG` view against my model spec defined in the `DESIGN` view. And/or I'd like to be able to automatically set up test

[2020-09-17 18:24] nijikokun commented on #2633
Absolutely.

We had it to be slated as a part of the unit testing feature-set but was cut from scope due to timing. We haven't really had time to build it out yet, the idea was to take the spec and generate unit tests based on it for the user like you mention under the alternatives so you wouldn't have to. Would that be a viable solution?

[2020-09-17 23:57] develohpanda commented on #2615
https://github.com/Kong/httpsnippet/pull/178 has been merged, which resolves the linked issue - thanks @jgiovaresco! Once a new version of httpsnippet is released, it will just be a matter of updating Insomnia to consume that new version.

[2020-09-18 00:27] githubcansuckmypenis commented on #2506
I am having the same issue as you do.
A temporary workaround is to switch from Visual Preview to Raw Data in the right panel, at the top.

[2020-09-18 00:35] daniel-tavares-osf opened #2636 "How do I save a document"
Hi,

How do I save a document that I have created.

In Insomnia Design I only find the Duplicate, Rename and Delete options.

![Insomnia](https://user-images.githubusercontent.com/48334666/93541772-b7c1d700-f92d-11ea-82b4-7a60dce577fd.jpg)

[2020-09-18 09:43] black-snow commented on #2633
Hey, thanks for your quick reply. That sounds like a solution - as long as the error reporting is good ;) If you take a look at assertible.com for example, the reporting is pretty bad *imho*, like "something is not good somewhere over there". But a very good solution will probably be a huge pile of work, both technically and on the UX side.

As a user I'd expect the tool not just to tell me the js

[2020-09-18 09:47] danielkocot commented on #2616
The x-kong-workspace would generate a workspace-tag in the declarative config. Hopefully this helps. This [link](https://docs.konghq.com/deck/guides/kong-enterprise/) should be the reference.

[2020-09-18 10:20] bhumijgupta opened #2638 "App crashes when trying to import from file"
**Describe the bug**
When I click 'Import from file' on main window, the app crashes and exits
**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Click on `import from file`

**Expected behavior**
Some file picker to open to select the file to be imported

**Logs**
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Installation Method: snap
 -

[2020-09-18 10:29] bhumijgupta commented on #2638
Cannot reproduce on app installed with .deb package instead of snap store

[2020-09-18 13:40] #2451 closed, assigned to DMarby, develohpanda

[2020-09-18 14:39] thepisu commented on #2414
I have trying redefining a parameter with different name, in the same environment, and exporting the environment.

Here we can see the difference, "token" is the old parameter (that caused error) , and "token2" is the new parameter (that works).

[code]

Maybe this helps to diagnose the issue.

[2020-09-18 15:34] rezrov opened #2639 "[Feature Request] Option to disable certificate validation on Git operations in Designer"
**Is your feature request related to a problem? Please describe.**
Our internal git server uses a company self-signed cert and CA which is installed on our workstations. This causes git operations in Designer to fail because it can not access these certificates (using OSX).

**Describe the solution you'd like**
An option in Designer to disable certificate validation for git operations, similar to

[2020-09-19 04:25] bimbimprasetyoafif commented on #2524
Hi, i am also. is it wrong with my swagger or insomnia. idk

[2020-09-19 06:16] crimsonvspurple opened #2640 "Using env var in header Content-Type messes up body formatter/highlighter"
**Describe the bug**
Using env var in header Content-Type messes up body formatter/highlighter.

**To Reproduce**
Steps to reproduce the behavior:
1. Set an env variable to `application/json
2. Use that variable in requests' header -> `Content-Type`
3. Body highlighter goes away (white color and beautify json is missing) even though JSON is selected at top

**Expected behavior**
Highlighter and Be

[2020-09-19 06:26] crimsonvspurple opened #2641 "Smarter Duplicate | Auto Update Reference"
**Is your feature request related to a problem? Please describe.**
Imagine you have 5 requests in a folder for an entity1: C, R, L, U, D.
R/U/D references response body ($.data.id) of C.

Now you want to have another entity2. So you duplicate the folder. Rename the folder to corresponding new entity2.
But now the _new_ R/U/D requests of entity2 are still referencing entity1's R. This is very time

[2020-09-19 10:38] anildigital commented on #2225
@reynolek When is the next version coming out? I am using `Version 2020.3.3 (2020.3.3)` and this issue exists.

[2020-09-19 16:32] reynolek commented on #2225
@anildigital Give 2020.4.0 a shot, it was released this week.

If it still persists, please open a new issue with the details of what you are seeing.

[2020-09-20 16:51] murilokprado commented on #2506
Hi, I'd like to try to do this, would I?

Can you send me the webserver? @lrweck

[2020-09-21 02:11] JohnRobson commented on #1613
Same problem here.

`Failed to install insomnia-plugin-os

There may be an issue with the plugin itself, as a note you can discover and install plugins from the Plugin Hub.
Additionl Information
Error: insomnia-plugin-os install error: Command failed: /opt/Insomnia/insomnia.bin --no-deprecation /opt/Insomnia/resources/bin/yarn-standalone.js add insomnia-plugin-os --modules-folder /tmp/insomnia_202

[2020-09-21 05:24] develohpanda commented on #2414
@thepisu thank you for that information, that definitely helped me to narrow down the cause 👍

[2020-09-21 07:27] develohpanda commented on #1613
If you run `npm install insomnia-plugin-os` within the `/plugins` directory, then go into the plugins list within Insomnia and hit "Reload Plugins", this should work. I was able to reproduce the installation error on macOS (it should be looked at and fixed), but I was also able to install it directly into the directory as a workaround for now.

[2020-09-21 08:02] deep-outcome opened #2646 "Microbug – autoscroll in response preview scrolls badly upwards"
**Description**
When it is upwards autoscrolled in response preview window the searched term is shown only partially.

**Repro steps**
1. Get some long response.
2. Find some term in the beginning.
3. Scroll down.
4. Search for the term of step 2.

**Expected behavior**
Term is autoscrolled fully.

**Screenshots**
http://software919.cz/__other/Autoscroll%20upwards.png

**Desktop (please complete t

[2020-09-21 08:45] #2623 closed, assigned to nobody

[2020-09-21 14:38] JohnRobson commented on #1613
Worked, Thank you so much.  $ ~/.config/Insomnia/plugins

[2020-09-21 14:45] alexandrim0 commented on #1909
It would be nice to configure Authrization header for fetch schema request because result depends on permissions.

[2020-09-21 18:03] stvkpln opened #2647 "Environment color selection on MacOS"
**Describe the bug**
This bug is two-fold:

1. When trying to set an environment color on an environment with no color set, the only option for picking a color is RGB. This was not the case on earlier releases, where you could use the "pencil picker" (sorry, I don't know what this is actually called!!) or any of the usual MacOS options to pick.
2. For environments where you want to change the colo

[2020-09-21 18:04] stvkpln commented on #2647
I meant to say "specific to 2020.4.0" -- the behavior is as expected on 2020.3.0 (I just reverted to capture that screen shot)

[2020-09-21 18:41] DMarby commented on #1755
Insomnia requires macOS Sierra (10.12) or newer to function correctly, if you're having issues and are running an older macOS version then 10.12, please **update your computer** to **at least** macOS Sierra (10.12).

If you are using a more recent macOS version (10.12 or newer) and are having issues, please update your Insomnia app to the latest version.

If you're still seeing issues with a white

[2020-09-21 18:41] #1755 closed

[2020-09-21 19:29] tarunyadav1 commented on #2620
Hey, Can you assign this issue to me?

Thank you

[2020-09-21 20:44] develohpanda commented on #2620
Hi @tarunyadav1! Feel free to work on it and send through a PR 😄

[2020-09-22 06:02] wesleyegberto commented on #691
I've created a simple Nodejs script to do that from a Postman backup version 1, it keeps the same structure (currently I have 270+ folders and 740+ requests).

https://gist.github.com/wesleyegberto/8994f8d20b33970ad8304f285e91b0e5

[2020-09-22 06:16] develohpanda commented on #2414
Hmm, strange - it looks like #2643 _didn't_ fix this, at-least on Windows. Reopening it.

[2020-09-22 11:37] alexandrim0 commented on #2503
Also vote for this feature!

[2020-09-22 11:39] alexandrim0 commented on #2541
It would be very useful!
Thank you!

[2020-09-22 11:41] jameskennard commented on #1621
Same problem for me, it happens everytime I try to browse for a file for a multipart body, and when I try to export my workspace.

[code]

[2020-09-22 18:01] nijikokun commented on #2503
I'm wondering if this could be a plugin?

[2020-09-22 18:06] nijikokun commented on #2503
This is a great candidate for a plugin, there is even [some prior art](https://github.com/incureforce/insomnia-plugin-oauth2-token-handler/blob/master/plugin.js) which might already satisfy your needs!

[2020-09-22 19:30] reynolek commented on #2225
@anildigital Checking in -- Have you tried out 2020.4.0?

[2020-09-22 22:14] #2414 closed, assigned to develohpanda

[2020-09-22 23:08] apidrop commented on #2319
Same problem here. Any update?

[2020-09-22 23:09] fremeni commented on #2319
Same problem here, any update?

[2020-09-23 10:24] develohpanda commented on #2319
Hi @wsrast and @fremeni! Especially for team and sync related queries, the best channel is via the support email address - support@insomnia.rest - as it is monitored more closely. Would you mind sending an email through, refer to this GH issue and share any account related information (your email) so that we can have a look at what might be going on? Thank you!

[2020-09-23 10:34] develohpanda commented on #2541
Hi @rbrianhazzard and @alexandrim0, while private base environments are not supported yet I do have a proposed solution in https://github.com/Kong/insomnia/issues/2593#issuecomment-690679032 using `.env` files. Let me know if that works for your use case?

This way, none of your secrets are actually _in_ Insomnia - just pulled in from private `.env` files on your filesystem. But the structure of e

[2020-09-23 11:09] rbrianhazzard commented on #2541
Hi @develohpanda, that looks great. I'll try it out today but looks like it should be a suitable workaround for what I was asking.

[2020-09-23 11:29] NazgulTuga opened #2655 "Preview mode - Raw Data too many padding"
**Describe the bug**
When choosing the "preview mode" "raw data", the lines apear with too many padding (top/bottom).

**Expected behavior**
The last version didn't behave this way.

**Screenshots**
![insomnia_error_raw](https://user-images.githubusercontent.com/4954227/94006831-5750f080-fd98-11ea-9e51-ad49568f947f.png)

[2020-09-23 11:37] develohpanda commented on #2636
Hi @daniel-tavares-osf, this isn't supported within the application right now - we are working on something, but no ETA yet. In the meantime, an alternative option would be to export it using the [CLI](https://support.insomnia.rest/article/125-cli-export-spec).

That drop-down menu can also be extended with a custom plugin as another option.

[2020-09-23 12:55] sonicyeti commented on #2655
Thanks for the catch!

[2020-09-23 13:29] gedsonmarcelino commented on #1533
I am with the same problem in version Insomnia Core 2020.4.0.

[2020-09-23 13:37] gedsonmarcelino commented on #1533
Guys, I updated to **version 2020.4.1** and it is working perfectly.

=)

[2020-09-23 13:38] deep-outcome commented on #1986
The same – **“Let’s Encrypt CA”** is not trusted.

![Let’s Encrypt SSL Error](https://user-images.githubusercontent.com/26486200/94019846-87a58880-fdb2-11ea-910d-841ffdbe1403.png)

In Windows this authority is *Intermediate Certification Authorities/Certificates/Les's Encrypt Authority X3* while its issuer is *Trusted Root Certification Authorities/DST Root CA X3*, thus should be trusted.

[2020-09-23 13:39] deep-outcome commented on #1986
@gschier, (At least for me) If validation is switched off, it works. And I did not expect anything else.

[2020-09-23 14:37] miguelbaldi commented on #2614
Same thing for me, on Fedora 32.
I've tested the AppImage version, and seems to work fine: https://updates.insomnia.rest/downloads/linux/latest
Problem only occurs on Snap version.

[2020-09-23 14:49] miguelbaldi commented on #2614
Log runnig with AppImage (works fine):
[code]

Log running with Snap (does not work):
[code]

[2020-09-23 16:24] dschulten opened #2656 "Installing Plugins fails with npm error"
**Describe the bug**
I try to install insomnia-plugin-run-folder from Preferences-Plugins (or any other plugin).
I have entered proxy configuration to be able to access the internet. Insomnia can update just fine via the proxy.
The proxy configuration includes no_proxy settings for localhost, 127.0.0.1 and my local domain.

**To Reproduce**
Steps to reproduce the behavior:

Behind a corporate prox

[2020-09-23 18:17] nymous opened #2657 "OAuth 2 not capturing redirection"
**Describe the bug**
I configured an OAuth 2 authentication against a PingOne server with the following parameters:
- Grant type: Authorization Code
- Authorization URL: {pingUrl}/as/authorization.oauth2
- Access token URL: {pingUrl}/as/token.oauth2
- Client ID, Client secret: set correctly
- Redirect URL: {myAppUrl}/api/auth/ping/callback

Unfortunately Insomnia doesn't seem to catch the redirect

[2020-09-23 20:52] develohpanda commented on #2414
This has been released with [2020.4.1](https://github.com/Kong/insomnia/releases/tag/core%402020.4.1) 😄

[2020-09-23 20:53] develohpanda commented on #2623
A fix to this has been released with [2020.4.1](https://github.com/Kong/insomnia/releases/tag/core%402020.4.1) 😄

[2020-09-23 20:56] jonocairns commented on #2457
@develohpanda BTW an unfortunate side effect of this is that locally people think they have no changes to commit when quickly selecting the commit button - this leads to a significant drift which makes merging a real issue later on (likely leading to one person completely dropping their changes)

[2020-09-23 22:54] develohpanda commented on #2457
That doesn't sound great, especially with losing changes. I don't think it should be too tricky to add a loading spinner - we will try to prioritize this, haven't had a chance to look at it 👍

INS-160

[2020-09-23 22:59] jcsena commented on #1367
Same problem trying  to upload `swagger.json`

![image](https://user-images.githubusercontent.com/4293508/94082373-6f3f6900-fdc6-11ea-8283-c50b0f5e75bf.png)

[2020-09-24 02:03] TheAifam5 commented on #1367
The problem occurs while generating examples for an object, calls again the function and the loop never closes

[2020-09-24 03:35] #2018 closed, assigned to nobody

[2020-09-24 05:54] #2620 closed, assigned to nobody

[2020-09-24 10:46] SergioSuarezGil commented on #1536
+1 for this feature

Would be nice add an option in Insomnia to do this feature

[2020-09-24 12:21] 3DRaven commented on #2494
It may be simplified.

Need just add indicator "two latest responses is same". If we have differences, need to set this indicator as false.

Because for testing we need to manually check diff in current version of app. And many of regression tests is just "all responses is still same".

[2020-09-24 15:25] thepisu commented on #2414
Thank you! I confirm that now it works.

[2020-09-24 17:05] targetdrone commented on #2310
Still broken in 2020.4.1

[2020-09-24 20:58] #1558 closed

[2020-09-24 22:32] develohpanda commented on #1536
![2020-09-25 10 31 08](https://user-images.githubusercontent.com/4312346/94206774-59db5380-ff1a-11ea-9ce5-9776ee7cad3a.gif)

With 2020.4.1 we shipped #2626 - so, resolved!

Use Shift Cmd = or Shift Ctrl = to unfold all nodes

cc: @SergioSuarezDev @miraclx

[2020-09-24 22:36] develohpanda commented on #1533
We shipped #2645 in **2020.4.1** which resolves the last few comments, but I'm not sure if it resolves the initial bug report yet. Could somebody validate and report back, please?

[2020-09-24 22:40] develohpanda commented on #2656
Because we are using a version of `yarn` bundled within Insomnia to enable plugin installation, it does not respect the proxy settings. You can however, go directly into the plugins directory and install your plugin, if you have your global installation of npm or yarn following proxy rules - see https://github.com/Kong/insomnia/issues/1613#issuecomment-695949299.

[2020-09-25 00:16] #2619 closed, assigned to sonicyeti

[2020-09-25 02:24] erlangparasu opened #2664 "[Feature Request] Bind value to the URL path. eg: /books/{id}/show"
**Is your feature request related to a problem? Please describe.**
Currently there is Query tab to set query parameters. But i want to set parameters in path too.

**Describe the solution you'd like**
Bind the values to the url path template.

Thank you!

[2020-09-25 02:25] erlangp commented on #2664
Something like Retrofit `@Path("id") id: Int`

[2020-09-25 07:22] tauinger-de opened #2665 "Sub environment resets changes (upon sync?)"
**Describe the bug**
Modifications made to sub environment are reset to previous value after ~10 seconds

**To Reproduce**
Steps to reproduce the behavior:
1. CTRL-E to edit env
2. Change env content
3. Click Done
4. Repeat pressing CTRL-E to open env and click Done to close for ~ 10 seconds
5. OR perform a "Sync Now"

**Expected behavior**
Changes to env remain. Instead, after some time / after s

[2020-09-25 07:24] tauinger-de commented on #2665
BTW occurs only in sub-env that I received thru sync. Changes in base-env created by me remain.

[2020-09-25 09:19] alexandrim0 commented on #2541
It looks too complicated.
Maybe I can use this.
But my colleagues won't.
I'd rather wait for the update.

Thank you!

[2020-09-25 09:33] oliverjanik commented on #623
Has this been implemented? Why is the issue closed?

[2020-09-25 10:29] develohpanda commented on #2541
No worries! I'm not sure we can provide an ETA on if or when something like this might be included in the core application.

The only thing your colleagues will need to do, once you have set up the workspace and environment, is specify where the `.env` file exists (on their filesystem), and install the `insomnia-plugin-dotenv` plugin. 🤗

[2020-09-25 11:55] abbasc52 opened #2666 "Add insomnia V4 import support to Insomnia CLI"
**Unable to use insomnia designer export with CLI**
I am planning to use the inso cli to integrate with CI. I don't plan on create a separate git repo and would like to use it along with my existing repo.

**Importing insomnia export in the CLI**
If the cli can import the insomnia_export file and create the .insomnia folder or directly run it , that can simplify using inso for CI

[2020-09-25 13:56] develohpanda commented on #2666
Insomnia Designer can certainly sync with an existing repo, co-exist with other files. There are some edge cases that we need to work through, but the intention is for your code and Insomnia Designer data to co-exist. The `.insomnia` folder format is a little nicer to review changes for, because each model exists as a standalone file in a particular folder structure.

Would that suffice as a long-

[2020-09-25 14:00] alexandrim0 commented on #2541
I will try this at some point.
Thank you!

[2020-09-25 14:18] abbasc52 commented on #2666
@develohpanda you are right having `.insomnia` folder would we ideal for a long term solution. But the current challenge i am facing is essential exporting the designer data to a local folder which can be directly accessed by CLI. It would also work if insomnia designer can create `.insomnia` folder via export data feature. Although we plan on maintaining versioning for the data, we would prefer h

[2020-09-25 14:32] develohpanda commented on #2666
Great point about the freedom it provides, keen to explore that as you further implement your workflow. Perhaps inso can be extended with some export functionality.

What is your reason for needing a local folder containing designer data for inso?

Running inso locally, it should detect the app data folder for Designer, and work seamlessly. (And running inso in CI, it would detect the `.insomnia`

[2020-09-25 14:53] rbrianhazzard commented on #2541
Hey - this works for my usecase. I will close the ticket since there's a workaround now via the plugin

[2020-09-25 14:53] #2541 closed, assigned to nobody

[2020-09-25 15:06] abbasc52 commented on #2666
@develohpanda let me explain my scenario:
We have our API project and we plan to run tests on CI
We also have some strict rules where we can't check in any credentials.
So currently we use postman and export the collection to our repository and run newman(postman cli) for our CI tests.

I am planning to replace it with insomnia designer + inso but having trouble with exporting it and running it on

[2020-09-25 15:22] sonicyeti commented on #2614
I'm unable to reproduce this on Ubuntu 20.04.1 LTS running snap installed Insomnia Designer 2020.4.1.

![Image 2020-09-25 at 11 21 23 AM](https://user-images.githubusercontent.com/52717970/94285170-5a2b1d00-ff21-11ea-90b4-3b780512eb33.png)

[2020-09-25 16:34] sonicyeti commented on #2614
I'm also unable to reproduce this on Ubuntu 20.04.1 LTS running snap installed Insomnia Designer 2020.4

![Image 2020-09-25 at 12 32 59 PM](https://user-images.githubusercontent.com/52717970/94292798-6916cd00-ff2b-11ea-8c43-3ae8c2935a92.png)

[2020-09-25 17:28] reynolek commented on #2615
1.23.0 for httpsnippet has been released: https://github.com/Kong/httpsnippet/releases/tag/1.23.0

[2020-09-25 18:04] vbrich opened #2667 "Base64 Function - Insomnia has become unresponsive"
**Describe the bug**
We have many scripts that contain xml data we are base64 encoding within Insomnia. The files are large, but not ridiculous (60kb).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POST to any endpoint
2. Add a Base64=>Encode function
3. Paste a larger file in there
4. Do anything, e.g. try to cut/paste it out, try to put a new file in, etc

**Expected behavior**

[2020-09-25 20:06] miraclx commented on #1536
🎉

[2020-09-26 00:23] willsthompson opened #2669 "Disable/hide/minimize request timer"
When a developer is using Insomnia to make a request that will hit a breakpoint in application code and needs to dig around for a while, the very prominent request timer might not be the most appropriate visual display:

<img width="378" alt="Screen Shot 2020-09-25 at 10 46 26 AM" src="https://user-images.githubusercontent.com/1315884/94324893-8b2b4200-ff61-11ea-9847-6be6c0acbb2d.png">

It conveys

[2020-09-26 00:34] develohpanda commented on #2666
Totally makes sense. Thanks for explaining your workflow, that's very insightful!

I'll add some notes to this issue (when on computer) around how to add v4 support to inso 👍

[2020-09-26 02:41] develohpanda commented on #2666
For anybody looking to pick this up, it is a matter of adding a new adapter [here](https://github.com/Kong/insomnia/tree/develop/packages/insomnia-inso/src/db/adapters) for the Insomnia V4 export format, returning a database object in this format: https://github.com/Kong/insomnia/blob/19a9d6a7e7925afa8285a76972f32bc2dc0f8c2c/packages/insomnia-inso/src/db/index.js#L17-L25

An update will be require

[2020-09-26 09:08] develohpanda commented on #2667
Thank you for reporting this! This

[2020-09-26 09:12] develohpanda commented on #2667
Thank you for reporting this! Curiously, you mention this is happening with _larger_ files. Looking at the size of the scrollbar in the live preview, I think this is a performance limitation with `textarea`. See a related issue and fix in #2590.

I am fairly certain this isn't new to 2020.4.0, though (I don't see any related changes). Would you be able to confirm if you see the same behavior with

[2020-09-26 13:07] #2615 closed, assigned to nobody

[2020-09-27 06:40] hadisfr commented on #2614
@sonicyeti Could you check insomnia client, too, please?

[2020-09-27 18:39] felinto-dev commented on #1902
Same problem here.
Did you find a solution?

[2020-09-27 23:05] sonicyeti commented on #2614
Will do!

[2020-09-28 02:48] bob-laz commented on #1345
+1

[2020-09-28 10:41] kwielo opened #2672 "Wrong window icon for Insomnia Core on Windows"
**Describe the bug**
Window icon for Insomnia Core is from Insomnia Designer, however the taskbar and start menu icon is correct.

When switching between windows it is confusing and takes time to find the write window, especially for visuals (as myself).

**To Reproduce**
Steps to reproduce the behavior:
1. Run Insomnia core
2. Look at the window icon
3. Try to switch windows with Alt + Tab
4. See

[2020-09-28 10:44] vlf commented on #2372
Are there any updates on this? I'm on 2020.4.1 and have the similar? issue, but we're using self-signed cert with gitlab.

Push:
[code]

Pull:
[code]

[2020-09-28 12:23] naruto112 opened #2673 "Anti-virus reporting a permissions issue with a build artifact file"
When installing insomnia on my machine, my anti-virus detected that it is a malicious one and shows that a js file has a problem. Guys is this a bug or purposeful?

[2020-09-28 12:42] develohpanda commented on #2673
Hi @naruto112, as long as you downloaded from official channels (github releases, Linux snap store, insomnia.rest, etc), it is most definitely **not purposeful**.

Could you please add any further information about particular files your antivirus is reporting? In the past I remember seeing something about a `.crypto` file.

Additionally, which version you are trying to install, was version your OS

[2020-09-28 12:46] naruto112 commented on #2673
Hello, I downloaded it directly from the official website. I will send an image of the file in which the anti-virus relatoy.

![Captura de Tela 2020-09-28 às 09 45 51](https://user-images.githubusercontent.com/9589702/94433977-73c1a400-016f-11eb-9175-a2eef16d53cb.png)

[2020-09-28 12:47] sgohl commented on #2614
edit: this happens with the snap package. the AppImage does work

I have this issue on Fedora 32 (xfce) with the following logs message:
[code]

That message is apparently caused by the fact that my user is not a classic system passwd/shadow user, but SSSD (Active Directory) bound. Insomnia seems to rely on a local system user id

[2020-09-28 16:28] zigfreid5 commented on #1794
I have a similar use case to present:

I use request chaining to populate the form parameters of a "save" request from a "get" request. Depending on the item, some parameters are not present in the "get" request, and those values are optional in the "save" request. It would be nice if when the JSONPath returns no results, a default value can be provided, or ignore the parameter altogether. Like so

[2020-09-28 16:56] nickwinsor commented on #1015
+1 on this.
I experience this issue hundreds of times a day.

One thing to add though is that letting the autocomplete dropdown sit for a second before navigating, bypasses the bug.

**Version: Insomnia Core 2020.4.1
Release date: 9/22/2020
OS: Darwin x64 18.6.0
Electron: 9.1.1
Node: 12.14.1
V8: 8.3.110.13-electron.0
Architecture: x64
node-libcurl: libcurl/7.69.1 OpenSSL/1.1.1g zlib/1.2.11 brotli/

[2020-09-28 17:28] iomarcovalente commented on #2255
I can confirm that downgrading to v7.1.0 solves this and certificate validation works as intended.

[2020-09-28 17:37] vbrich commented on #2667
Great response time! Was expecting this to sit for a bit.

I have uninstalled Insomnia, then re-installed 2020.3.3 (and turned off auto updates). Everything is working now. I will ask a couple of other people who were also seeing the issue to confirm this is what they see as well.

Maybe it isn't "large files", but something within the actual data being base64 encoded? I can't post my sample works

[2020-09-28 20:33] develohpanda commented on #2614
Ooh thanks for this, it might help narrow down what's causing it... @hadisfr and @miguelbaldi, is that the same case with your accounts as well?

[2020-09-28 20:58] develohpanda commented on #2667
Absolutely, that would be very useful to help reproduce it. I created an example value that gave me an encoded length similar to yours, and it seemed speedy - on v2020.4.1.

[2020-09-28 21:02] develohpanda commented on #2673
It looks like FortiClient which is also Electron, contains that file, as well as Skype, just looking at the error messages there. This is just one of the build artifacts, we can take a look but I'm not sure the likelihood of a fix existing for it. Which antivirus are you using?

Note: I will rename this issue to reflect this information. 😄

[2020-09-28 21:05] develohpanda commented on #2372
Hi @vlf, unfortunately we haven't had a change to dig further into this one yet.

[2020-09-28 22:03] hadisfr commented on #2614
Hmm interesting. It might be a case in snap version, too. But I would expect a related log as the one is in https://github.com/Kong/insomnia/issues/2614#issuecomment-699984493 to appear in my logs, if it's the case. I could not find such log in my full logs(https://github.com/Kong/insomnia/issues/2614#issuecomment-693265008). 🤔

[2020-09-28 22:35] develohpanda commented on #1691
Has been fixed by https://github.com/Kong/httpsnippet/pull/179 - cc: @jgiovaresco

[2020-09-28 22:52] develohpanda commented on #2672
Thank you for reporting this! INS-80.

[2020-09-28 23:51] naruto112 commented on #2673
Hi, the name is  cleaMyMac

site: https://cleanmymac.com/pt

[2020-09-29 02:10] #2012 closed, assigned to nobody

[2020-09-29 08:54] rekrios opened #2674 "Support for html debugger is broken"
Hi. Thanks for app ^_^

**Describe the bug**
I'm using insomnia with laravel html debugger(https://github.com/barryvdh/laravel-debugbar), which included in response. With new version, 2020.4, support for this debugger is broken. I can see HTML debugger part, but can't see visual part, which you can see on screenshot below(version 2020.3.3)

**To Reproduce**
Steps to reproduce the behavior:
1. Enab

[2020-09-29 13:04] sonicyeti commented on #2614
Here is what I'm seeing w/ Core on the same VM.

![ubuntu-insomnia-core](https://user-images.githubusercontent.com/52717970/94561977-bb5d3400-0232-11eb-8621-11061e258951.png)

[2020-09-29 13:11] deep-outcome opened #2675 "History – cannot navigate to item (1st in 2nd group)"
**Description**
1st item in second group in history cannot be navigated as long as it is 1st one in 2nd group.

**How to reproduce**
Steps to reproduce the behavior:
1. Execute 2 request.
2. Wait for about 8 mins.
3. Execute new request.
4. Navigate to history.
5. Open last request (i.e. 1st of step 1).
6. Try open 2nd request from step 1.

**Expected behavior**
History is opened.

**Screenshots**

[2020-09-29 13:25] hadisfr commented on #2614
The problem seems similar to https://github.com/electron-userland/electron-builder/issues/5217.

[2020-09-29 13:40] hadisfr commented on #2614
OK. I found something.
It seems to be related to `fontconfig`'s bug (See https://forum.snapcraft.io/t/snapped-app-not-loading-fonts-on-fedora-and-arch/12484/18).
The workaround https://forum.snapcraft.io/t/snapped-app-not-loading-fonts-on-fedora-and-arch/12484/60 fixed the problem for me:
[code]
![image](https://user-images.githubusercontent.com/24562441/94565750-7529c400-0276-11eb-8446-9bd37fa64d

[2020-09-29 13:44] sgohl commented on #2614
I did that before I commented here. Does not work for me. I also copied over all fonts from a ubuntu installation and rerun `sudo fc-cache --really-force`

I think my problem with the user from sssd is like on-top of the base problem here

[2020-09-29 13:55] sonicyeti commented on #2614
My oldest Ubuntu VM is only a few months old, tried it though anyway and the issue isn't present.

[2020-09-29 15:11] jjr52 commented on #2310
I had this issue when using a new certificate from Let's Encrypt. I solved it by regenerating a proper certificate chain by using this very useful website: https://whatsmychaincert.com/

[2020-09-29 18:49] emelendez89 opened #2677 "Use System Proxy"
**Is your feature request related to a problem? Please describe.**
Ex. I'm always frustrated when I have to deal with multiple proxies, the company I work for have this <filename>.pac (proxy autoconfig file) which is actually a Javascript file that Windows use to select the proxy.

**Describe the solution you'd like**
Either a radio button that select from specific proxy (textboxes as now it is) o

[2020-09-29 18:56] emelendez89 commented on #2672
That's odd, I see the right icon on both window and taskbar (Also on Alt+Tab which I can't screenshot):
![Captura de Pantalla 2020-09-29 a la(s) 1 52 33 p  m](https://user-images.githubusercontent.com/1562673/94603057-59fd8b00-025b-11eb-8be4-fa8ea1e8a133.png)

[2020-09-29 19:32] develohpanda commented on #2672
@emelendez89 you're seeing an icon consistently, but it's the wrong one. You've got Insomnia Core, but the icon you see is the Designer one 😅

[2020-09-29 20:17] emelendez89 commented on #2672
@develohpanda  I see, I thought it was a new design, so yeah, I guess I supported evidence to the issue then. (I didn't even knew about Insomnia Designer, I might use it from now on)

[2020-09-30 12:27] schester44 commented on #2675
On line 74 of response-history-dropdown.js, `null` is being passed to the `value` prop of `<DropdownItem />` when the index is `0`.

Path: packages/insomnia-app/app/ui/components/dropdowns/response-history-dropdown.js

[2020-09-30 14:34] douhaolee opened #2680 "add support to not override the changes in debug tab, like environment variables, etc."
in designer, when we make some changes in debug tab, such as add some environment variables, and update some requests, and if we click design tab to take a look, and then click debug tab, all old changes in debug tab will be overridden by initial debug settings.

as usually user will add more and more environment variables to be used in more and more requests added in debug tab, which would also b

[2020-09-30 23:08] felderi opened #2681 "Tags are not applied to plugin entities in the generated declarative config"
**Describe the bug**
When the `x-kong-plugin` entity is used in a spec, when generating config using one of the entry point methods (for example [`generateFromString`](https://github.com/Kong/insomnia/blob/984881c0cb8d3c468d62cac2cf7e35f2e24d3041/packages/openapi-2-kong/src/index.js#L27-L31), the default tag or any tags provided are not applied to the generated declarative config of the plugin.

S

[2020-09-30 23:38] develohpanda commented on #2681
Example spec:
[code]

Should generate the following config:
[code]

Config is generated using `insomnia-plugin-kong-declarative-config` which, in turn uses `openapi-2-kong`, all existing in the code.

The tag value for plugins should be sourced from wherever the other tag values are sourced from - the various entry points in https://github.com/Kong/insomnia/blob/develop/packages/openapi-2-kong/src

[2020-09-30 23:38] felderi opened #2682 "Insomnia Designer does not tag generated declarative Kong config with tags in the spec"
**Describe the bug**
When writing a spec and leveraging tags, generating Kong configuration from the spec does not tag the configuration with the tags in the spec.

This leads to a situation where teams working on different specs, generating declarative config and running deck to sync config could overwrite other teams configuration.

**To Reproduce**
Steps to reproduce the behavior:
1. Use ID or

[2020-10-01 08:40] Netoun commented on #2647
I can take this

[2020-10-01 08:45] AmirShitrit opened #2683 "Having an env var point to an attribute of either of multiple responses"
My problem is that I'm trying to test a paging endpoint where paging is done using a continuation token (as opposed to using skip and limit params). In this scenario, requesting the first page not only returns the results, but also a token pointing to the next page. The second page will be requested using the token retrieved from the previous response.
Today, if I want to iterate through N pages,

[2020-10-01 18:49] #456 closed

[2020-10-01 18:49] #1666 closed

[2020-10-01 18:55] develohpanda opened #2684 "Validate environment variables against nested keys"
There is a bug here in that both previously and now, only the root keys are checked. A recursive algorithm needs to be created to validate nested keys appropriately.

_Originally posted by @develohpanda in https://github.com/Kong/insomnia/pull/2601#discussion_r498003061_

Root keys must follow these rules (as currently implemented):
- A key cannot be simply `_`
- A key cannot start with `$`
- A ke

[2020-10-01 20:21] develohpanda commented on #2683
Because Insomnia uses Nunjucks templates, you can do conditionals as part of a template. Note, the tag for the `resolved` variable is simply `{{ first or second }}`.

<img width="1157" alt="image" src="https://user-images.githubusercontent.com/4312346/94858596-c5c83980-048f-11eb-8b1c-d5db5006e074.png">

This _somewhat_ works though. If `first` cannot find the token, it actually returns an error ra

[2020-10-01 20:23] simplywondrous commented on #2583
I'll take a shot at this :)

[2020-10-01 20:36] develohpanda commented on #2583
@simplywondrous awesome! Have a look at how it happens on the debug tab (wrapper-debug.js), as we (hopefully) shouldn't need to re-do too much here.

[2020-10-02 06:03] johnhorsema commented on #2684
Hi, I'm working on this issue. Do I submit a pull request with the `develop` branch for this issue?

[2020-10-02 06:07] develohpanda commented on #2684
Hi @johnhorsema, yes, PR against develop please!

[2020-10-02 07:19] krossekrabbe commented on #1614
Had the same problem, data was lost during snap self-upgrade. It worked fine to copy the old data to the current version `cp -R ~/snap/insomnia/XXX/.config/* ~/snap/insomnia/current/.config/`

[2020-10-02 07:20] languitar commented on #2161
If you maintain your definition file in git or something like that, the current behavior is very confusing and also the UI doesn't explain that a copy is created.

[2020-10-02 07:30] krossekrabbe commented on #1651
@aaronmannino Yes, exactly that is the problem. I was looking for SSL as well and could not find the setting until I googled this issue. Should be renamed to "Validate SSL certificates"

[2020-10-02 08:20] surendrajat commented on #2104
Any updates on this? I see many electron apps on flathub but insomnia is still missing. I guess it's easier than snapcraft(except that canonical guys approach for snap but flatpak is a community endeavor). Snap store being proprietary(**like** windows store, as you might be aware) is not being very well received by the open-source community and only a few outside Ubuntu use it while flatpak is ven

[2020-10-02 10:12] draconteus commented on #2187
I'm using this version:

[code]

The POST request (with JSON payload) actually switched to GET (and this is a problem for us), but PUT/PATCH/etc. is not.

I would like to have the option to enforce keeping the original request method as it can be a valid use case (api is behind Cloudflare which responds with 301). Also it's an option for curl (using `-X/--request` explicitly) or even in Postman.

[2020-10-02 10:19] starsep commented on #905
Insomnia v2020.4.1 installed via snap v2.46.1+20.04
I am getting:
[code]
while trying to install plugin.

This shared library seems to be installed:
/snap/gnome-3-28-1804/128/usr/lib/x86_64-linux-gnu/libX11.so.6
/snap/gnome-3-28-1804/128/usr/lib/x86_64-linux-gnu/libX11.so.6.3.0

Manually installing plugin as suggested above works.

[2020-10-02 18:16] AvDevx commented on #2584
I would like to work on this but I have no idea how to get started can you maybe give me some pointers?
Thanks.

[2020-10-02 18:52] zersiax commented on #1436
I just had a play with the latest Insomnia as well. While I haven't quite found the issues @Neurrone  describes, I did find a number of controls that aren't labeled or could use some ARIA love in the request creation UI:

- The HTTP VERB selector doesn't currently indicate that it can be expanded. It just lists as a button with the label "GET" which can be anything really. Adding aria-expanded  to

[2020-10-03 12:44] thewheat commented on #2569
I've managed to reproduce the problem and would like to take this on 😃

A quick dig into the code and seems that there could be 2 possible places to tackle this (am leaning towards option 2 as there could be other single line uses in the future)

**Option 1) In `OneLineEditor` (which uses `CodeEditor` with a `singleLine` prop)**
https://github.com/Kong/insomnia/blob/1bbbf38a9653792fd137662d015846f

[2020-10-03 18:25] felinto-dev opened #2686 "Insomnia does not allow inserting dynamic values of the body of the GraphQL request in Windows"
**Describe the bug**
Hello,

I'm a try to insert dynamic values in GraphQL query insomnia doesn't do anything. I press CRTL + SPACE but nothing happens.
![Screenshot_46](https://user-images.githubusercontent.com/32253743/94998879-8e3eb780-058b-11eb-9493-a9e43552f114.png)

If I do it with a REST API, everything works fine:
![Screenshot_47](https://user-images.githubusercontent.com/32253743/94998892

[2020-10-04 14:26] thewheat commented on #2298
I believe the doc page in reference here is https://support.insomnia.rest/article/68-run-button
And the button is the 2nd one on the page
![image](https://user-images.githubusercontent.com/892961/95018183-9df3f400-0690-11eb-88d4-33d7d148adb1.png)

[2020-10-04 14:56] thewheat commented on #1006
I believe this can now be closed as importing auto selects the newly created environment 👍
![image](https://user-images.githubusercontent.com/892961/95018859-c7168380-0694-11eb-98c7-4862529e51b3.png)

[2020-10-04 15:13] thewheat commented on #2563
This looks to be a dupe of https://github.com/Kong/insomnia/issues/757 so will leave some comments that I've found in that issue 👍

[2020-10-04 15:26] thewheat commented on #757
I believe I've replicated the root cause on MacOS as well when having a file with a backslash in it. Happy to try fix this but digging into the code it seems there is some tokenization and untokenization which could be the root cause as I do see some backslash handling/manipulations

https://github.com/Kong/insomnia/blob/1bbbf38a9653792fd137662d015846f4334b1989/packages/insomnia-app/app/templating

[2020-10-04 18:38] wkrueger opened #2687 "Designer - Option for auto refreshing/polling OpenAPI schema"
**Target**

Insomnia designer.

**Use case**

I'm loading an auto-generated OpenAPI schema from `http://localhost:3000/api-json`. As I develop the application and it auto-reloads, I have to copy-paste the JSON schema from the browser to Insomnia Designer for updates.

**Feature idea**

Add an option to poll the source from time to time to update the schema. Lock the inline editing if this is enabl

[2020-10-05 03:19] develohpanda commented on #2584
Key things to note are:

- The `WrapperDesign`, `WrapperDebug`, and `WrapperUnitTest` components correspond to the debug/design/test views you see in the gif above
- Each `Wrapper*` component contains a root `PageLayout`, which contains the [logic](https://github.com/Kong/insomnia/blob/1bbbf38a9653792fd137662d015846f4334b1989/packages/insomnia-app/app/ui/components/page-layout.js#L69) to control l

[2020-10-05 09:31] daveharding commented on #2687
+1 This would be really useful, same use case for our team as described by @wkrueger

[2020-10-05 09:37] johanhammar commented on #2399
Looks like https://github.com/Kong/insomnia/issues/2684 will solve this?

[2020-10-05 11:42] devhammed opened #2688 "Add option to expand template tags in plugins and UI when exporting"
**Is your feature request related to a problem? Please describe.**

Template tags are not been expanded when exporting data, I need it the most in a plugin (https://insomnia.rest/plugins/insomnia-plugin-documenter) when using `context.data.export.insomnia` or `context.data.export.har` and also it will be nice to have in the UI export too.

**Describe the solution you'd like**

For the plugin syste

[2020-10-05 13:10] danielkocot commented on #2616
Is a example still needed, @nijikokun?

[2020-10-05 18:33] rickmartensnl opened #2689 "Bearer Authorization header change prefix"
**What is your question?**
A clear and concise description of what you are wanting to ask. Ex. I'm always frustrated when [...]
Is there any way to use a bearer authorization header with another prefix? I want to change my prefix to `Token {apiKey}` instead of `Bearer {apiKey}`. How can I do that? If it is possible if not please fix this.

**What is the context?**
If applicable, describe the conte

[2020-10-06 05:42] jgiovaresco commented on #2689
Which authentication mode do you use?

You can change the Header prefix of `OAuth2` authentication in Advanced Options using `HEADER PREFIX` input.

<img width="578" alt="Screenshot 2020-10-06 at 07 36 57" src="https://user-images.githubusercontent.com/4171593/95162940-151bac00-07a7-11eb-99d4-000f98c05128.png">

If you are using the `Bearer Token` mode, there is a `PREFIX` input to change the pref

[2020-10-06 05:45] rickmartensnl commented on #2689
I'm trying to add it in the .yml. I'm using designer not the core version.

[2020-10-06 05:50] develohpanda opened #2690 "Starting two requests and cancelling the first one does not behave as expected"
**Describe the bug**
I started two long running requests, the first one takes 15 seconds and the second one takes 10 seconds. Then I go to the first request and press cancel, but nothing happens. Then I look at the second one, and see that it has been cancelled.

The _cancel request_ button cancels the last started request, not the active request. I see the correct request duration as I switch bet

[2020-10-06 05:53] selamanse commented on #2690
@develohpanda I'd be glad like to try this.

[2020-10-06 05:58] develohpanda commented on #2690
@selamanse sure! Give it a go and reach out if you need any help. 👏

[2020-10-06 06:14] diegogub opened #2691 "Linux export/import window doest not show properly"
**Describe the bug**
Trying to export endpoints, the window does not show any character, everything as squares .

**To Reproduce**
1 . Go to Export / Import

**Screenshots**
![Screenshot_20201006_081237](https://user-images.githubusercontent.com/2489012/95165224-db996f80-07ab-11eb-9f16-0e186071e902.png)

**Desktop (please complete the following information):**
 - OS: Linux Manjaro
 - Installation

[2020-10-06 06:17] develohpanda commented on #2691
This looks very much related to #2614 🤔

[2020-10-06 07:12] develohpanda commented on #2399
Nice find @johanhammar. Yes, sort of. #2684 addresses warnings for nested keys (like in the description above), but #2601 actually added support for kebab-case variables recently, so it is no longer invalid.

I'm going to close this as resolved with #2601. 😄 It will be published with the next beta/stable release.

[2020-10-06 07:12] #2399 closed, assigned to nobody

[2020-10-06 07:21] develohpanda commented on #2689
It looks like the OpenAPI 3.0 standard uses `Bearer` as the prefix without any official syntax to alter the prefix, as per the [documentation](https://swagger.io/docs/specification/authentication/bearer-authentication/).

If changing the prefix is officially supported in OpenAPI then I'm sure it's something we can cater for. If not, some more discussions/thought needed here.

[2020-10-06 07:25] diegogub commented on #2691
yes, it's same issue. . I will close this one then. Thanks!

[2020-10-06 07:25] #2691 closed, assigned to nobody

[2020-10-06 07:35] develohpanda commented on #2691
No worries, thank you for reporting! From the activity in the other issue we're still trying to get to the bottom of it. Even though this issue is closed it will be linked in #2614 when being investigated. 😄

[2020-10-06 07:39] develohpanda commented on #2688
Interesting, I can totally see the use case for it. Sometimes template tag expansion can also send requests, which I suppose is okay, but something to keep in mind. Provided expansion is added, perhaps you could prompt for the user to check/uncheck the option through your plugin (using a modal, for instance).

I'm not sure off the top of my head how tricky it may be to add expansion, though. I do

[2020-10-06 08:26] devhammed commented on #2688
Yeah, I could do that.

I will be waiting for the support, thank you 🚀🚀🚀

[2020-10-06 08:47] Pimentoso commented on #1937
+1 same issue, Macos Catalina 10.15.7
Version: Insomnia Core 2020.4.1

[2020-10-06 08:49] rickmartensnl commented on #2689
Is there a way to do the same thing like bearer authentication but then with apiKey, I have seen some things about template variable inside apiKey authorization header, but for some reason, the Insomnia Designer doesn't detect template.

[2020-10-06 09:42] phylor commented on #2408
Using an OpenAPI v3 file with [global tags](https://swagger.io/docs/specification/grouping-operations-with-tags/), folders are correctly created for me in Insomnia 2020.3.3.

Note that you need to use global tags (`tags` defined at the root of your file). Local tags per request are ignored by Insomnia.

[2020-10-06 11:39] kreosus commented on #2646
@nijikokun may I tackle this issue?

[2020-10-06 12:12] sbrattla opened #2693 "Sort endpoints / group endpoints"
I'm a happy user of Insomnia, but there's one thing which I believe Insomnia lacks.

When you have a growing list of endpoints for an API, it becomes harder and harder to locate a specific request. It is not possible to sort the list of endpoints. It's possible to drag and drop / arrange endpoints, but it's cumbersome when you have a long list of endpoints - and you need to make sure you arrange n

[2020-10-06 18:04] codeasashu commented on #1778
I've created a very basic [npm package](https://www.npmjs.com/package/insomnia-openapi-converter/) here which may suit the needs. Can someone give it a try. Its an early release and thus not a cli usable package, but it does borrow some of the items from swaggymnia

https://www.npmjs.com/package/insomnia-openapi-converter/

[2020-10-06 18:10] codeasashu commented on #1383
I've tried my hands on adding tabs to request window for my usecase (see #2580). A basic attempt seems to be doing for me. However, rendering tabs for all requests initially, while having some heavy IO bound operations might lead to crashes, hence will be planning to async these.

Here is the [PR](https://github.com/Kong/insomnia/pull/2621) implementing the same

[2020-10-06 18:24] codeasashu opened #2695 "Export data should include plugin's data"
**Is your feature request related to a problem? Please describe.**
As an insomnia user, I want to be able to export all the plugin's data so that I can use third party tools on them to output something useful.

Given that the plugin ecosystem is such that any plugin can not access the other plugin's data, it makes it useless to have scattered data all around and nothing to see/do with them as a wh

[2020-10-06 18:27] codeasashu commented on #2693
Doesn't request groups (folder) solves your grouping problem? naming that folder is same as folder name IMO.

I too like to have the sort option

[2020-10-06 19:52] 4n70w4 commented on #2319
The same issue! Failed to decrypt data on pull remote workflow from paid account.
![image](https://user-images.githubusercontent.com/38257723/95253105-97978080-0826-11eb-9d77-7d169b184f84.png)

[2020-10-06 20:38] develohpanda commented on #2693
Thanks for requesting this, there is an open issue with some conversation so I will close this as duplicate of https://github.com/Kong/insomnia/issues/2594.

[2020-10-06 20:38] #2693 closed, assigned to nobody

[2020-10-06 20:39] nijikokun commented on #2614
@sgohl any help would be appreciated here, we cannot reproduce on the team and it looks like our current best solution for the issue is comment posted by @hadisfr which points to it being an underlying snap issue.

[2020-10-06 20:46] develohpanda commented on #2408
Yes that's right^, you need to use global tags, and then apply that global tag onto a request to achieve the desired behavior. 😄

[Here](https://gist.githubusercontent.com/gschier/4e2278d5a50b4bbf1110755d9b48a9f9/raw/801c05266ae102bcb9288ab92c60f52d45557425/petstore-spec.yaml) is an example V3 spec that groups into folders as expected.

[2020-10-06 20:51] develohpanda commented on #2319
@4n70w4 as per the previous comment, please send through your account related information to support@insomnia.rest and we can investigate what is going on.

[2020-10-06 20:55] nijikokun commented on #2687
While we currently don't have any plans to add this functionality ourselves, would be open to a PR which adds this functionality

[2020-10-06 21:00] nijikokun commented on #2688
Ah, I understand now, by `expansion` you mean `evaluate`? So on export the evaluated result replaces the template tag expression? This definitely could be a good feature :+1:

[2020-10-07 00:30] antempus commented on #2372
I had this issue on a existing repo (without insomnia designer) and reset the repository settings and then tried to pull and got a similar error with `master`. I went to view branches and waited for it to populate before creating a new branch. After that, I was able to push after committing changes. I will attempt to repro with another repository.

@vlf try resetting repo settings and then looking

[2020-10-07 02:16] simplywondrous commented on #2583
@develohpanda Hello! I forked the repo but have been stuck trying to run `insomnia-app` - the build is skipped with `[build] Skipping build for ref ""`. I've tried tracing it, and it seems like `${buildContext.gitRef}` is `""`, and `buildContext.version` is `null`. Am I missing a step? I first ran `npm install` in packages/insomnia-app, and then ran `npm run build`.

[2020-10-07 02:30] develohpanda commented on #2583
Hi @simplywondrous! Yes the monorepo structure can be a little confusing at times. 😅 From the root of the repository, all you need to do is `npm run bootstrap` to install and prepare all the dependencies and packages, then `npm run app-start` to run the application in dev mode. There are some notes in the README to help you get going.

You shouldn't need to run the build step as that's used prior

[2020-10-07 03:20] simplywondrous commented on #2583
Thank you for the explanation! 🤦 Sorry for forgetting the readme - the boostrap was successful! However I ran into
[code]
when running `npm run app-start`. At first I had an electron folder in `~/.cache/electron` so I removed that per instruction and then re-ran `bootstrap` and `app-start`, but am still getting the same error. Would you have an idea for what to try?

[2020-10-07 03:38] develohpanda commented on #2583
Hmm, that's definitely a little strange, which OS are you developing on? You're running on the latest commit on the develop branch?

Also, when things break I tend to try `npm run clean && npm run bootstrap` to completely delete all my `node_modules` and re-install them. Give that a go, and if it still doesn't work, can you share some extended logs from your console window?

[2020-10-07 08:46] sgohl commented on #2614
it is reproducable if you just install a fresh fedora xfce spin (not sure if classic gnome has same problem), install snapd and then insomnia.
If you tell me I should test something particular, I will help happily

[2020-10-07 10:03] devhammed commented on #2688
Exactly, will be looking forward to that!

[2020-10-07 11:12] SpOOnman opened #2699 "Native Apache Avro support for requests"
**Is your feature request related to a problem? Please describe.**
Insomnia lacks Apache Avro support.

**Describe the solution you'd like**
I want to work on Apache Avro support in Insomnia. I think that this may be close to GraphQL editor. There will be two editable editors (in one panel?): one for query and one for schema. I will use official JS avro library to check if a query matches the sche

[2020-10-07 20:40] lasrol opened #2700 "OAuth 2 - Extra parameters"
When using the OAuth 2.0 flow we are required to add additional parameters. In our case it is acr_values, but i think it would be good to add any extra parameters any might require.

Currently we now use the Bearer auth instead, but it is a bit inconvenient to manually request a token and copy paste it into diffrent environments.

It might be better to allow clients to create any custom params the

[2020-10-08 03:30] simplywondrous commented on #2583
Yep, latest on develop. I'm using WSL 2 with Ubuntu 20.04. Turns out / I learned

and

so following the second link, I set up X Server and Insomnia's now up and running!
Also, thanks for being generally friendly, helpful, and responsive. As a beginner, working on open source is quite intimidating, so I really appreciate it!

Looks like there are a couple ways to refactor the code - with the easies

[2020-10-08 03:39] antoine29 commented on #1831
Hey @gschier @nijikokun
I'm checking this issue. I hope is not too late :D

[2020-10-08 03:50] MDornian commented on #1638
+1 to this feature request.  It would be nice that each environment had its own save location as I work on different projects each with their own repo

[2020-10-08 05:42] develohpanda commented on #2583
Wow, nice sleuthing! It might be useful to add a line describing what you had to do differently with WSL 2 into the README, for anybody else that faces the same issue.

No problem! 🤗 OSS is not some holy grail where every PR is perfect first time. It's still, always, a collaborative process and an opportunity to learn. We all start somewhere; I'm glad you chose this project!

Ideally, generic and

[2020-10-08 05:56] develohpanda commented on #1638
Hey all, Insomnia Designer does support directly syncing your workspace with a git repository. Specifically for @cyberhck, Unit Tests in Designer also sync to your repository, and you can run them in CI using the companion CLI, [Inso](https://github.com/Kong/insomnia/tree/develop/packages/insomnia-inso#-inso-run-test-identifier) - `inso run test TestSuite --env Staging`.

Git Sync, and the ability

[2020-10-08 07:17] sdarmofal commented on #2524
Hi. I have this problem too. I think that it is problem with $ref in requestBody. For example:
If I tried to use this OpenAPI schema I've got null value in debug:
[code]
I've tried another schema and this works well:
[code]
This problem occurs in Insomnia Core too. I'm working on Ubuntu 20.04.1

[2020-10-08 10:30] smacktoid opened #2702 "Pretty print exported workspaces to make reviewing changes easier."
When a workspace is exported to a file the JSON is all placed on one long line in the file. I'm trying to foster adoption of Insomnia workspaces across my team by maintaining a repository of workspaces in Git. The current format of the exported files makes it hard for me and my colleagues to review changes to a workspace when a merge request is opened for it.

I'm using the Insomnia v4 export form

[2020-10-08 10:41] smacktoid commented on #2664
You can set various tags in the path already. Hit ctrl + space to bring up the list.

There are all sorts of things you can configure

- Prompt the user to type the value in before sending the request
- Use an environment variable
- Extract a property from another request in the workspace

[2020-10-08 11:36] TjorbenWridt opened #2703 "Using nested variable in base64 encode function"
**Describe the bug**
I have some request in our application which need a double authentication, due to thrid party software which is in use. Therefore I tried to use the base64 encode function of insomnia, but the function can only work with one parameter. So I introduced another variable which stores the concat of the username + : + password. This variable is added to the base64 function. The ret

[2020-10-08 14:39] #2646 closed, assigned to nobody

[2020-10-08 15:24] KurzedMetal commented on #260
I'm kinda having a bad experience due to something similar to this.

Imagine this workflow happening in a few minutes
1. Having a Prod and Non-Prod environment setup with variables to handle OAuth that change between the envs
2. Open Non-Prod, Login window pops up (I also have to 2FA), finally I get my Token, and do stuff
3. Open Prod, get a new Token (Login + 2FA again), do stuff
4. Open Non-Prod

[2020-10-08 16:25] BoKKeR commented on #2408
Thanks for clearing this up!

For anyone looking for the nestjs way of doing this:

The tags have to be declared both on the controller level and in the root main.ts file as following:

[code]

main.ts
[code]

The tag name has to match the one in the controller.

[2020-10-08 16:25] #2408 closed, assigned to nobody

[2020-10-08 17:17] #2690 closed, assigned to nobody

[2020-10-08 20:56] rlueder commented on #2214
@tebruno99 https://github.com/Kong/insomnia/releases/ has all downloads listed

[2020-10-09 08:48] nurdism opened #2705 "(feature) Ability to follow a location header regardless of the http status option"
~~**Describe the bug**~~
~~201 status with a location header does not redirect to location~~

~~**To Reproduce**~~
~~Steps to reproduce the behavior:~~
~~1. Create new post request to resource that returns a 201 status with a location header~~
~~2. Run request~~

~~**Expected behavior**~~
~~App to redirect to location header~~

**Desktop (please complete the following information):**
Version: Inso

[2020-10-09 12:22] denisluciano commented on #1792
I'm having the same problem. How i do this? Where i find this file?

[2020-10-09 12:44] smacktoid commented on #2705
I wouldn't expect a 201 status itself to cause a client to automatically redirect to the Location URL. Clients aren't obliged to follow the Location header for a 201 response. One of the redirecting status codes such as 303 (See Other) would expect that behaviour.

If you want to load the resource you just created in Insomnia just create a second request and use request chaining to set the URL to

[2020-10-09 14:10] doctorwu opened #2706 "kubernetes.io/ingress.class: "kong" missing"
When generating Kubernetes configs, the generated config is missing the `kubernetes.io/ingress.class: "kong"` annotation on all of the resources. The latest version of the Kubernetes Ingress Controller requires them,

**To Reproduce**
Steps to reproduce the behavior:
1. Generate any Kubernetes config from inso or Insomnia Designer

[2020-10-09 16:25] elucidsoft commented on #1513
Does it on Windows as well

[2020-10-09 16:47] AbrahamNuno opened #2707 "Blank screen when opening "Applications->Preferences""
I just installed Insomnia in Fedora 32 following the instructions in the Installation page.

The application launches properly and I'm able to create and run some requests, but when I go to "Application -> Preferences" all I get is a blank screen:
![image](https://user-images.githubusercontent.com/43212222/95609847-05a99680-0a25-11eb-8617-f116039cca85.png)

I also noticed that the about screen is

[2020-10-09 19:42] nurdism commented on #2705
well seeing that insomnia is a *REST* client I would expect at least an option to follow a 201 with a location redirect as it is a fairly common practice

[2020-10-09 20:04] smacktoid commented on #2705
But it’s not a redirect. It’s a created response. The location header is just there to tell you where the thing you created now lives. There’s no expectation that a client loads that URL automatically.  In fact, I don’t want it to do that automatically.

[2020-10-09 20:12] nurdism commented on #2705
I get that you don't want that. There is no option to configure this, and I would like that option. Insomnia *used* to have this behavior. Yes, I could create a new request using the location header, but it should be simple enough to add an option to either follow all location headers or follow location headers for a specific status.

[2020-10-09 20:33] #1550 closed

[2020-10-10 09:43] rsharifnasab commented on #1309
any changes on this issue?

[2020-10-10 16:39] AvDevx commented on #2584
Thank you for the explanation!
I checked the codebase and in both the `WrapperDesign` & `WrapperUnitTest` in which the force vertical layout is not working.
They have defined the props and state with `{|` `|}` I don't know if this is a typescript thing or a typo but I think this is the reason for it to be not working.

[code]

[2020-10-10 22:54] jirian commented on #1752
Hi! For some time now, I've been trying to get devs of Insomnia to release the synchronization server as open source. I've found some old issues, where @gschier is considering this (https://github.com/Kong/insomnia/issues/190), he says "I'm not that worried about how it will affect revenue. There are plenty of companies (eg. Sentry and GitLab) that use the same open-source model.". I've tried to s

[2020-10-10 22:57] jirian commented on #190
Would anyone be interested in this, either by creating a plugin with the same functionalities as the official synchronization, or by reverse engineering the code in Insomnia which communicates with the sync server and writing our own implementation?

[2020-10-11 06:19] rohinrohin commented on #190
I would be interested to pick this up @jirian. Let's connect?

On Sun, 11 Oct 2020 at 4:27 AM, jirian <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-10-11 15:41] jgiovaresco commented on #2647
For the first issue

It is related to the Electron upgrade (see https://github.com/electron/electron/issues/24830#issuecomment-695369844).
This is now the default behavior for Electron and it could be disabled. IMHO we should keep the default behavior. What do you think about it?

[2020-10-11 16:42] jirian commented on #190
That'd be great. Which way of communication do you prefer? We can use email, but I'd actually say it'd be easier to just use GitHub issues in a new repo dedicated to the project (e.g. https://github.com/jirian/insomnia-server - it's almost empty so far).

[2020-10-11 16:46] jirian commented on #1752
In any case, i've created this repo: https://github.com/jirian/insomnia-server, feel free to create issues about anything that comes to your mind.

[2020-10-11 20:09] simplywondrous commented on #2583
Hello! The PR's going well - the Test Results pane is now resizable!

Before I clean it up more, I have a question about how to proceed, written in the PR if you could take a look!

[2020-10-12 01:52] rmsy commented on #2681
I'm a little confused about the examples provided for this issue. In the original post, the provided example shows a case where there is a `tags` array specified at the plugin object level, and it is not passed through to the plugin's declarative config. However, the "expected behavior" from the original post (as well as the example provided by @develohpanda) seem to refer to a different issue, wh

[2020-10-12 05:19] develohpanda commented on #2681
Good eyes, and thanks for clarifying upfront @rmsy 👀

The only way to provide tags (currently) is to send them as arguments to the entry point functions in [index.js](https://github.com/Kong/insomnia/blob/develop/packages/openapi-2-kong/src/index.js). Here is some [documentation](https://github.com/Kong/insomnia/tree/develop/packages/openapi-2-kong#tags) showing how tags behave currently.

The ori

[2020-10-12 05:22] develohpanda commented on #2682
**For example,** the following tag applied to a `x-kong-plugin` entity (although this behavior is exhibited by other entities as well):
[code]

Will generate the following declarative config (without a tag):
[code]

[2020-10-12 05:25] abhijit-hota commented on #2457
This was opened quite a few days earlier.
Just making sure if I can go ahead and work on it?

[2020-10-12 05:32] develohpanda commented on #2457
Certainly!

The fix should (most likely) be scoped to [this file](https://github.com/Kong/insomnia/blob/develop/packages/insomnia-app/app/ui/components/modals/git-staging-modal.js). Adding `isLoading: boolean` to `state` and a corresponding view when changes are loading.

Perhaps the body can just say "Loading..." and show a spinner using font-awesome `fa fa-spin fa-refresh`.

[2020-10-12 05:38] abhijit-hota commented on #2457
@develohpanda Thanks for the pointers!

Seems perfect. Is font awesome already installed as a package?

[2020-10-12 05:43] develohpanda commented on #2457
Yep, and it's already used as well 😉

https://github.com/Kong/insomnia/blob/984881c0cb8d3c468d62cac2cf7e35f2e24d3041/packages/insomnia-app/app/ui/components/dropdowns/git-sync-dropdown.js#L319-L325

[2020-10-12 05:50] abhijit-hota commented on #2457
Thanks! Will update you on the task soon.

[2020-10-12 06:05] rmsy commented on #2681
That clears it up, thank you!

[2020-10-12 13:33] dhoelzgen commented on #1937
Same issue here. Adding a numeric environment variable / response variable to the query variables leads to invalid json, and it seems it does not really re-evaluate it.

Problem seems to be the way Insomnia handles the references:

`{
	"id": {% response 'body', 'req_fa61b45b7eeb4643ae0a4ce424d72abe', 'b64::JC5kYXRhLmFkZENhc2VEYXRhR3JvdXBUb0Nhc2UuY2FzZURhdGFHcm91cC5pZA==::46b', 'never', 60 %}
}`

[2020-10-12 20:38] nijikokun commented on #2707
Appears to be related to #2614

[2020-10-12 21:32] #2706 closed, assigned to nobody

[2020-10-13 05:08] RobertWi commented on #2221
Same issue here. Insomnia.Designer-2020.4.1 only allows for token. I'm unable to get it working with user/pw

[2020-10-13 05:46] #2569 closed, assigned to nobody

[2020-10-13 08:29] TeeSeal commented on #2705
201 is not a redirect status code as far as I know. The location header in the response is there just for your information, so you don't have to build the URI for GET-ing the created resource manually and it also may be missing. The client may or may not use it. Would you be able to reference any resources that state otherwise? 🤔

Another good argument not to have this handling is that 201 respons

[2020-10-13 12:21] iKonstX opened #2718 "Infinite Request Spinner when cancelling "Send and Download""
**Describe the bug**
Using the option "Send and download", if you cancel the save dialog without saving a file, the UI is stuck on the request infinitely. The "Cancel Request" button does not work. The only way to leave this state is to start another request.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new GET request to any URL (ie. https://insomnia.rest/)
2. Right click "Send"

[2020-10-13 16:55] DMarby opened #2719 "Add help menu item for accessing the logs folder"
Add a new item to the Help menu to make it easier to access the folder containing the application logs.

**Implementation notes**:
For getting the log folder path, a new method should be added to [common/log.js](https://github.com/Kong/insomnia/blob/develop/packages/insomnia-app/app/common/log.js) that returns the folder.
The folder should be able to be retrieved by extracting the directory from `

[2020-10-14 00:14] Deividev365 commented on #1195
i just opened the insomnia using the run as administrator and it solved out. I hope it can help. if it keeps showing the same err, try reinstalling the application

[2020-10-14 01:37] AbrahamNuno commented on #2707
Hi @nijikokun!

Yes, issue #2614 is about unreadable about dialog, but not about blank screen when opening "Application -> Preferences".

So I guess dev team can ignore the about dialog report of this issue and focus only on the "Application -> Preferences" one.

BTW... I followed the steps in #2614 about `fontconfig` but didn't fix the issue for me :(.

[2020-10-14 02:31] tomprats opened #2720 "Documentation Browser - Supporting Search"
I'm having a frustrating experience with the documentation browser. I'm working in a large project with a large number of GraphQL queries. The documentation browser shows the queries but there are so many and they don't appear to be ordered in a meaningful way (although I understand it's probably the way the introspection query returns the data).

Adding support for search, ctrl-f or at least list

[2020-10-14 04:43] dselans commented on #2525
Hi folks, any update on this?

My current workaround for syncing API spec with an existing repo (using github):

1. Import spec via file
1. Create a temp repo
1. Setup git sync in Insomnia Designer with new repo
1. Commit and push to temp repo
1. Clone temp repo
1. Grab `.insomnia` dir from temp repo and move to your existing repo
1. Commit and push in existing repo
1. Open Insomnia designer and c

[2020-10-14 04:52] tvvignesh commented on #902
Hey guys. This would be great to have. Can make our life a lot simpler. Currently, I have to end up either manually typing or copy pasting variables with complex object or array types. The main query/mutation editor autocomplete works great but variables and  input autocomplete doesn't exist sadly. Kindly repoen this.

Same as:
https://github.com/Kong/insomnia/issues/887
https://github.com/Kong/in

[2020-10-14 08:47] migolovanov commented on #528
Also would like to see this feature in Insomnia, and in case it would help anyone - the best websocket client I've found so far is chrome extension [WebSocket King Client](https://chrome.google.com/webstore/detail/websocket-king-client/cbcbkhdmedgianpaifchdaddpnmgnknn)

[2020-10-14 10:03] abhijit-hota commented on #2457
@develohpanda Are there any extra steps for setting up the dev environment in Windows?  I've been struggling to set it up.

[2020-10-14 10:51] SpOOnman commented on #2699
Can you please mark it with hacktoberfest label? Thanks!

[2020-10-14 12:00] tcelestino commented on #2482
@jrodalo works here too! :crab:

[2020-10-14 12:29] l0co commented on #2720
Exactly the same I've intended to report right now :)

However, if this feature can take some time to develop, please do at least a simple fix to sort queries and mutations in documentation to enable manual search of them. Currently it's not browsable because of the random order.

[2020-10-14 12:33] l0co commented on #2720
@tomprats There's a workaround for that. Open documentation and hit `Alt+Ctrl+I` to toggle dev tools and on Elements tab hit `Ctrl+F` to enable search. Here you can find your query/mutation by name and the documentation will navigate to it.

[2020-10-14 13:27] ilkerunal commented on #2719
Hello, I'd like to solve this. Can you assign it to me ?

[2020-10-14 14:45] DMarby commented on #2719
Hi @ilkerunal!

Awesome, please give it a go and submit a PR whenever ready, let me know if you require any assistance.

[2020-10-14 16:17] tomprats commented on #2720
Good idea @l0co, that definitely helps in the meantime

[2020-10-14 16:38] cbejensen opened #2722 "Use response tag as a default value for a prompt"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to chain my commands together using response variables, but other times I just want to use one of the commands in that chain real quick with a prompt. For example, I have a create user command followed by a get user command that pulls the created ID from the create user command. However, sometimes I want to get a u

[2020-10-14 17:35] udemezue01 commented on #1606
Hey,

johnzeus14@gmail.com has invited you to join Maiyro

<a class="btn btn-success" href="https://u6875058.ct.sendgrid.net/ls/click?upn=wEPWKOC-2Brp0P7yeV5QFI9-2BUCBn-2Fj1I2K-2BLq9V9C-2FReglTPCGoASB0rX-2BN0UkIjEoG617_U31jt5HgHBh7k3Grc5s4l6twKTy5Up5vZ9pbyuzOt1Mk-2BJisP-2FEqjoPLVTKs6ybefA-2FUEb2nhyrtp8GiR7LweSSzPGMhEKM5bLNa-2FUOOLnfX3NSZCIbPZkKjkGn1Q3vlxcP1zm0-2FUyKqX8bFifBlT3djjgcHwJcVTRZMgwqAgjX

[2020-10-14 17:55] nijikokun commented on #2707
@AbrahamNuno does the console logs have any errors when you open the application preferences? `View > Toggle Dev Tools > Console`

[2020-10-14 18:27] nijikokun commented on #2689
OpenAPI 3.0 does allow setting up an API Token with a custom header name but does not allow setting values (see [OpenAPI 3.0 API Keys Documentation](https://swagger.io/docs/specification/authentication/api-keys/))

You would have to use Template Variables within the debug tab of Designer to set the `Token {value}` once your requests are generated

[2020-10-14 18:27] #2689 closed, assigned to nobody

[2020-10-14 18:27] nijikokun commented on #2689
Closing since the original request is a limitation of the OpenAPI 3.0 specification

[2020-10-14 19:28] schemar commented on #2707
I have the same issue. Also on Fedora 32. I use snap. The AppImage works as expected.

The console log deosn't give any output. The last line it logs is this:

[code]

And then it shows this modal:

[code]

I also get a notification that "insomnia has crashed". It is still responsive, e.g. I can open and close "about", but the main window seems to have crashed unrecoverable.

This is more log outp

[2020-10-14 19:59] JCMais commented on #528
`node-libcurl` author here. I just added an example showing how to build a WebSockets client using the library: https://github.com/JCMais/node-libcurl/blob/develop/examples/21-websockets-client.js

It's very barebones but should work as inspiration if this feature is to be implemented using node-libcurl itself.

[2020-10-14 23:18] TheCataliasTNT2k opened #2723 "Insomnia does not send cookie when following link in response"
**Describe the bug**
If I return a link, and click in Insomnia on this link, stored cookies are not sent to the server, even if it is the same domain

**To Reproduce**

0. OPTIONAL: I use Flask with "flask-autoindex", if you add an authentication using sessions to this [example](https://github.com/general03/flask-autoindex), you get my situation.
1. Get a link (in my case I return a page with dire

[2020-10-15 02:19] develohpanda commented on #2457
@abhijit-hota where is the setup failing for you, and what steps are you taking to set up?

The only unique note for Windows in the README is to install [Windows Build Tools](https://github.com/felixrieseberg/windows-build-tools). I have it running on a W10 machine at the moment, so it definitely is possible.

[2020-10-15 03:09] abhijit-hota commented on #2457
It was an `ELIFECYCLE` error for a module name `front-matter` if I remember it correctly. I ran `npm run clean` yesterday and removed `node_modules`.

Will install Windows build tools and retry. Thanks!

Edit: The module name is `font-scanner` which runs a `node-gyp build` while installing which requires Windows Build Tools.

[2020-10-15 05:59] nizmow commented on #2095
I don't see how this needs "support" for Azure Devops. It's just a git repository, and it's a simple mistake on this side to try and append `.git` at the end. Holding me back from using this feature, too.

[2020-10-15 06:11] develohpanda commented on #528
Wow, that's awesome! There has not been much investigation into how WS support might be implemented yet, so this will be _very_ useful when the time comes.

In terms of UI, the gRPC feature-set (next in the pipeline) should provide many of the assets required for Websockets as well.

[2020-10-15 06:53] thewheat commented on #980
I'd like to dig a bit more into this but I'm sure on the replication steps. Some questions I have are

1. Are we exporting as a regular Insomnia JSON file?
![image](https://user-images.githubusercontent.com/892961/96086463-f9c24680-0ef4-11eb-849c-20500f1a1391.png)
2. How is that file then imported to Swagger (I haven't had much exposure to it and the most references I've seen is https://editor.swa

[2020-10-15 08:51] nurdism commented on #2705
look I would just like the ability to follow a location header regardless of the http status, there should be an *option* for this.

[2020-10-15 08:54] nurdism commented on #2705
updated issue to reflect that

[2020-10-15 11:20] jgiovaresco commented on #175
Hi @vitalca 👋 ,

I've tried to reproduce the issue but until now I haven't managed to reproduce it 😞 .

Maybe it is related to the size of the payload, I'm trying to generate a 60+MB JSON file to try 🤞

Besides, I'm not sure to understand how did you create the POST request with the 62MB file? Could you be more specific?

[2020-10-15 11:38] max-wittig commented on #175
This also happened with a very small json body, but not sure how to reproduce it either ☹️

[2020-10-15 15:15] thewheat commented on #1633
I've managed to take a crack at this and have managed to get keyboard shortcuts working but it requires reload of Insomnia at the moment https://github.com/Kong/insomnia/pull/2726

[2020-10-16 06:37] giosueDelgado opened #2731 "Adding support for MQTT protocol (Asyncapi)"
**Is your feature request related to a problem? Please describe.**

It would be nice if the Insomnia tool supported MQTT messages and protocol
I have nowhere found a client that had an mqtt message editor that had both the ability to test them and to document them.

Is there anything planned in this regard? In the IoT sector, MQTT messages are widely used.

**UPDATE**

I found this: https://www.as

[2020-10-16 07:16] rogeraime commented on #733
Hi,
 someone here know how to write a operations's query in Multipart using Insomnia for testing single file Upload? I write my own but did not work and I received :
{
  "timestamp": 1602774721435,
  "status": 422,
  "error": "Unprocessable Entity",
  "message": "",
  "path": "/graphql"
`}
hier is my query :
{
  "query": "mutation ($numberPlate: String, $country: $String, $file: Upload) {createTic

[2020-10-16 09:28] zersiax commented on #1436
Plaintive bump? :)
@gschier I added some feedback on this issue two weeks ago, just making sure you saw it? :)

[2020-10-16 13:59] jgiovaresco commented on #1571
@KarthikSiddarth I don't know if you are still working on this? But I've started to think about how I can tackle this issue on my side.

@develohpanda @nijikokun @DMarby
I have a good idea of how to implement this in Insomnia Core, but I've got another idea: what about extracting the `Copy As` feature in a plugin?
It seems that there are several [plugins](https://github.com/Kong/insomnia/tree/deve

[2020-10-16 15:31] TheCataliasTNT2k commented on #1991
Still an issue.....
Would be nice, if you can disable the cache completely when you want to do so.......

[2020-10-16 16:12] nijikokun commented on #1571
@jgiovaresco From a product perspective, I like this idea, and aligns with our overall long-term strategy in that we originally wanted with reducing the core codebase footprint and improving the plugin system.

[2020-10-16 16:26] jgiovaresco commented on #1571
@nijikokun 👌  I will delve into this to see how I can implement this.

I might need some help to understand how those [plugins](https://github.com/Kong/insomnia/tree/develop/plugins) are loaded because for now, it looks like dark magic 😅
And do you think I need the change of https://github.com/Kong/insomnia/pull/2678?

[2020-10-16 17:39] nijikokun commented on #1571
@jgiovaresco From an approach standpoint, I would say to satisfy this issue, MVP would be _not in a plugin_ and could be scoped to:

- Change `Copy as cURL` to `Copy As`
- Dialog with dropdown to choose what to copy as (shown on each copy as - this can be improved on later)
- Remember last option selected for future copies

Then converting the above into a plugin would be the second stage as it do

[2020-10-16 20:29] aviranco commented on #1651
Its a challenge, making sure you are investing your time in the right things

Indeed. Or even better open the popup on the relevant field/highlighted.

[2020-10-16 20:40] jgiovaresco commented on #1571
I've noticed the `Generate Code` action. This action opens a modal where we can choose the target, and we can copy the generated code in the clipboard (see screenshot below)

<img width="828" alt="Screenshot 2020-10-16 at 22 37 11" src="https://user-images.githubusercontent.com/4171593/96306572-3333a880-1000-11eb-87e5-88769e0b2ab9.png">

[2020-10-16 20:42] jgiovaresco commented on #1571
@nijikokun I've noticed the `Generate Code` action. This action opens a modal where we can choose the target, and we can copy the generated code in the clipboard (see screenshot below)

I'm wondering if we really need an additional action to "generate code" in the clipboard. 🤔

<img width="828" alt="Screenshot 2020-10-16 at 22 37 11" src="https://user-images.githubusercontent.com/4171593/96306572-

[2020-10-16 23:13] DMarby commented on #2570
Closing this since this is done

[2020-10-16 23:13] #2570 closed, assigned to nobody

[2020-10-17 20:18] cobwebsonsale commented on #2594
Hi, I'm trying to work my way through the code to make an attempt here. The details added so far were helpful! I'll try to add one type of sorting and will update here.

[2020-10-17 21:27] #1006 closed

[2020-10-18 01:53] erlangparasu commented on #2664
thanks for answer sir, but i actually want that url value is set in UI like Query form, not defined via the environment

[2020-10-18 03:32] coolhome commented on #1571
@jgiovaresco The idea I was proposing was to repurpose the `Copy as Curl`, which internally uses the same generate code feature, to be `Copy as <My preferred generate client code>` instead. Not everyone has cURL or uses cURL by default. Like Windows users are probably more likely to use Powershell's Invoke-WebRequest instead of cURL.

However recently I've asked a lot of people to copy as curl so

[2020-10-18 09:34] spro commented on #1633
Awesome, and the "you have to reload" text discussed in the pull request is certainly an improvement over the current experience of changing the shortcut and nothing happening.

[2020-10-18 10:44] smacktoid commented on #2664
You can use a Prompt Tag to do that. When you send the request it will pop up a dialog asking you to enter the value of the placeholder.

[2020-10-18 20:00] cobwebsonsale commented on #2594
Added a pull request. The basic feature is in, but I had some things I needed help with. I've asked them on the PR itself.

[2020-10-19 03:43] seanghay opened #2739 "[Feature Request] Archived/Grouped Workspaces"
**Is your feature request related to a problem? Please describe.**
When we have a lot of workspaces and some of them are old and we want to archive it because we stopped working on those workspaces, so it would be nice if we can archive them to another place instead of listing them all in the main place. It gets really messy when we got too many workspaces.

I don't really want to delete those unu

[2020-10-19 08:42] tauinger-de opened #2741 "Color picker doesn't show when changing environment color"
**Describe the bug**
For a sub-env for which I want to change the color the color picker just briefly flashes and disappears again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Manage Evnrionments
2. Duplicate existing environment with a color
3. Click "Color" to change color
4. See color picker disappearing instantly

**Expected behavior**
Picker should remain visible

**Desktop (p

[2020-10-19 09:18] jgiovaresco commented on #2741
Duplicate of #2647

A [fix](https://github.com/Kong/insomnia/pull/2711) is waiting for a review it should be fixed soon ;)

[2020-10-19 09:21] tauinger-de commented on #2741
Oh, yeah, ok. I did a search before posting but got misled by "MacOS" part ;)

[2020-10-19 12:34] milessabin opened #2743 "Add support for importing GraphQL schemas from local files."
Complementary to #2629 ...

Sometimes server deployments disable GraphQL introspection. It would be nice if in those situations Insomnia could load the schema from a local SDL file.

[2020-10-19 13:02] syedsimanta03 opened #2744 "How to get dynamic token environment variable value?"
**What is your question?**
How to get dynamic token environment variable value? I mean postman has pm.environment.set("TOKEN", pm.response.json().token)  : means if any res.json() sends token, save that as a value of 'TOKEN' as env variable

**What is the context?**
If user one log in he gets a token, this token will be saved as an env variable. So that, I'll no longer have to keep copying my JWT

[2020-10-19 13:40] ghost opened #2745 "Sort request list in dropdown of "Response -> Body attribute" tag editor"
When I want to insert a tag using "Response -> Body attribute", in the list of all requests in the dropdown, the requests are not sorted like in the sidebar.

I'd like the requests in the dropdown list to be sorted like in the sidebar.

I often sort the requests as to group them by functionality, and it's hard to navigate through 30+ requests to find the one I need.

Here's how the dropdown list l

[2020-10-19 14:54] jgiovaresco commented on #2744
Do you know the feature `Response -> Body Attribute` template tag? From my understanding, it should fit your needs.

You can define a specific variable (using CTRL + Space) which will be valued with the content of an existing response body.
I've tried to generate a GIF to explain.

![response-body-attribute](https://user-images.githubusercontent.com/4171593/96467822-a10fe800-122b-11eb-8030-d27d01f

[2020-10-19 16:06] jgiovaresco commented on #2482
Hum, I've tried to create a simple node server that returns a cookie without `expires` but I can't reproduce the error.

@stormherz @jrodalo @tcelestino
Do you reproduce it using the last version of Insomnia?

[2020-10-19 16:43] jgiovaresco commented on #2512
After some digging, I think I found the root cause of the issue.

Currently, we give the proxy URL directly in a Curl option: see [here](https://github.com/Kong/insomnia/blob/develop/packages/insomnia-app/app/network/network.js#L481-L488))
It seems that Curl does not parse the URL to extract the user:password. That's why in the timeline, we can see
[code]

Curl thinks the stuff after the first `@`

[2020-10-19 17:04] jrodalo commented on #2482
Yes, I'm using Insomnia Core 2020.4.1

Steps to reproduce it:

1. Create a new request for `http://localhost/test`
2. Create a new cookie with the same domain: `localhost` and leave `Expires` empty
3. Try to use the `Generate Code` or `Copy as Curl` options on the request
4. See the error in the console: `Cannot read property 'getTime' of null`

Manually setting `Expires = 0` fixes it. In my case,

[2020-10-19 18:42] antempus commented on #2548
That's not a complete workaround, I am having this issue pretty consistently on existing repos with or without an `.insomnia` folder.

[2020-10-19 19:26] nijikokun commented on #2744
It appears this is answered by @jgiovaresco above so I will be closing, very well done especially with the gif 👏

[2020-10-19 19:26] #2744 closed, assigned to nobody

[2020-10-19 19:26] nijikokun commented on #2741
Closing since it's a duplicate and there is a fix in progress 👍

Even though it's a duplicate, better late than never!

[2020-10-19 19:26] #2741 closed, assigned to nobody

[2020-10-19 19:37] nijikokun commented on #2731
This is something we have in the product roadmap backlog, much of our movement with gRPC can potentially be leveraged for both the networking layer and the interface.

[2020-10-19 19:42] nijikokun commented on #2739
Welcome @seanghay,

This is something that aligns with some of the work we've made on Designer, and something we have been thinking about from a product perspective - bringing the dashboard to Core. The main reason is that the needs of Core in relation to workspace management is similar to needs with the documents, and its getting increasingly hard to provide easy to use, and understandable ways w

[2020-10-19 20:27] jamierytlewski opened #2746 "Changing Browser User Agent"
**What is your question?**
Our company has the Azure Active Directory (OAuth2) on lockdown by browser. I used to be able to use Insomnia to connect to Azure AD, now I cannot as we have to use Chrome, Edge, or IE. Is there a way to change the User Agent to make it seem like it's coming from Chrome?

Thanks,

Jamie

[2020-10-19 21:21] giosueDelgado commented on #2731
Is there already an issue about it? If so, which one?

I mean you could take asyncAPI 2.0 protocol support see: https://www.asyncapi.com/docs/getting-started/coming-from-openapi

[2020-10-19 21:21] develohpanda commented on #2647
I agree to keeping default behavior. If it needs to be changed, can become a custom setting in the future.

[2020-10-19 22:57] NickAcPT opened #2748 "Code completion for Insomnia designer"
**Is your feature request related to a problem? Please describe.**
Since OpenAPI is still somewhat new to me, I feel lost when starting to design a new API with Insomnia Designer.

**Describe the solution you'd like**
The solution would be to add code completion to it.

**Describe alternatives you've considered**
I've looked into using https://github.com/42Crunch/vscode-openapi on VSCode, but it's

[2020-10-20 02:16] antoine29 commented on #2745
Hey guys. I'm looking at this but I got a little bit confused.
Are the sidebar items sorted?
I think the sidebar items sort is still under work #2594

[2020-10-20 02:28] NickAcPT commented on #1778
The fragmentation on this project is a bit worrying and confusing.

With that out of the way, I'm making it clear: I'd love to have this included itself on the Insomnia Core application. Other than the (currently unusable) npm package mentioned above, has there been any progress on this?

[2020-10-20 02:35] develohpanda commented on #1778
Hi @NickAcPT - there was some confusion with the comments/questions and the original feature request here, so I cleared that in my comment above. However, the original feature request currently does not have an progress.

I believe there are enough plugin APIs available in order to create a plugin for Insomnia Core to be able to achieve this.

[2020-10-20 05:24] hrastnik commented on #2745
The sidebar is sorted - and by sorted I mean ordered the way I rearranged the items - The way I want it to be ordered.

[2020-10-20 06:27] develohpanda commented on #2745
@antoine29 the sidebar _is_ sorted, but #2594 adds the ability to _automatically_ sort by a particular condition.

Regardless, manual sorting and automatic sorting will alter the `metaSortKey` property that exists on a [`request`](https://github.com/Kong/insomnia/blob/27d588168457679f9e28463d43c7119b3c2f58b6/packages/insomnia-app/app/models/request.js#L81) and a [`request-group`](https://github.co

[2020-10-20 06:45] #2718 closed, assigned to nobody

[2020-10-20 06:49] develohpanda commented on #2147
Duplicate of #902 (I think?)

@nishantha-kumara please close this issue if #902 sufficiently summarizes what you are after.

[2020-10-20 06:58] develohpanda commented on #2482
I believe Insomnia is currently two major versions behind with `tough-cookie`, I wonder if upgrading to latest might help here?

[2020-10-20 07:23] jgiovaresco commented on #2482
@develohpanda I was thinking about updating the library. But first I would like to reproduce the error and I've not succeeded yet 😞

[2020-10-20 07:33] jgiovaresco commented on #2512
I've tried something in the Console:

[code]

As you can see, the URL is not parsed correctly. This should be the original cause. 🤔
If found [this](https://github.com/bagder/docs/blob/master/URL-interop.md#userinfo) that explains the differences between specs related to URL.

@develohpanda @nijikokun What do you think about adding in the settings 2 attributes to fill the proxy user and the proxy p

[2020-10-20 07:37] abhijit-hota commented on #2457
Sorry for the delay but I'm still facing issues. This one in particular:

[code]

![image](https://user-images.githubusercontent.com/8116174/96555250-2a2f2980-12d5-11eb-99e8-21d94c731564.png)

[2020-10-20 07:53] abhijit-hota commented on #2457
Sorry for the delay but I'm still facing issues. This one in particular:

[code]
Then it gives a bunch of `npm ENOENT` errors and displays this:
[code]
and then again a bunch of `ENOENT` errors and then finally crashes with this.
[code]

I've installed Windows build tools. I've tried verifying and cleaning the `npm` cache.
I think this is a proxy issue on my side as mentioned [here](https://github

[2020-10-20 07:58] #1653 closed

[2020-10-20 07:58] #2154 closed, assigned to gschier

[2020-10-20 08:25] jgiovaresco commented on #2482
@jrodalo Thanks! I can reproduce 🎉  🙇

[2020-10-20 08:52] jgiovaresco commented on #2482
Okay, I still reproduce the error when I update the `tough-cookie` dependency.

However, I've noticed something. When I create a cookie on the server-side without the `expires` attribute, I can see that the cookie is saved in Insomnia with `expires: 'Infinity'`.

Looking at [rfc](https://tools.ietf.org/html/rfc6265#section-5.2.1) or [Mozilla docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/

[2020-10-20 08:55] develohpanda commented on #2482
Sounds reasonable - setting an expiry to null or Infinity seem one and the same to me, and if the RFC points to Infinity then we should do the same.

@DMarby any objections? Not as familiar with cookies.

[2020-10-20 09:18] sahinyanlik commented on #2220
Hello,

I am having same problem

[code]

I am able to clone through console however when I use my token and username in the Insomnia Designer V2 I cannot pull. If I try wrong username then I get 401 response so I am sure username and token is true.

I cloned from console such as git clone https://usename:token@bitbucketserver.com

I am using bitbucket server in local.

Thanks.

[2020-10-20 09:45] Ansuman28 commented on #2512
@jgiovaresco 👍 for different input for user/pwd. This will also ensure password is a secure input and not in cleartext in URL.

[2020-10-20 11:01] #2719 closed, assigned to nobody

[2020-10-20 11:38] develohpanda commented on #2457
No rush @abhijit-hota, this isn't blocking anything.

Unfortunately I've never come across this before, on both Mac and Windows.

What is your NPM version? Have you tried using Powershell in Admin mode? Have you got flow installed globally and it might be clashing? Are you using [NVM](https://github.com/coreybutler/nvm-windows)? In case you haven't seen this, [here](https://stackoverflow.com/a/479

[2020-10-20 13:39] abhijit-hota commented on #2457
6.14.6

I've been using `cmd` in Admin mode today. Although I've tried Powershell in Admin mode earlier for this.

Nope.

Yes. This is what I used to install `12.18.3`.

I haven't tried all of the solutions from this. One solution is deleting `package-lock.json` and I don't think I should do that 😅. I'll try out the others!

Thanks a lot!

[2020-10-20 15:07] svaldetero-envoc opened #2750 "Unable to create tag for Cookie"
**Describe the bug**
I have cookies in the cookie jar. When I try to create a tag that "references a cookie value from the cookie jar", it tells me there are no cookies for that url.

**To Reproduce**
- Add a tag
- Select Cookie
- Type any url that matches something in the cookie jar

**Expected behavior**
I should be able to choose a cookie from that jar

**Screenshots**
![cookies](https://user-i

[2020-10-20 16:53] DeeGeeMan opened #2751 "Unable to import a GraphQL Postman collection v2.x"
**Describe the bug**
Importing a GraphQL Postman collection version 2.0 or 2.1 doesn't include the GraphQL body in Insomnia.

**To Reproduce**
Steps to reproduce the behavior:
1. Import an existing GraphQL into Postman v7.34.0
2. Export the collections into a JSON file using v2.x
3. Import the newly created JSON file into Insomnia
4. All the request's body are showing **No Body**

**Expected behav

[2020-10-20 19:10] jlee-locktonmylo commented on #217
This seems like such a big miss for insomnia.  I have a lot of payload examples that I want to save and send off then save an id from the response to a global variable.  That way I can fetch and do other things referencing that one variable that multiple calls can set.

Right now I have to make the 2-3 calls that I need to chain, put them in a folder then duplicate the folder, then go into every c

[2020-10-20 21:04] DMarby commented on #2319
This issue should have been resolved now on the API end, if you experience this issue in the future, please send an email to support@insomnia.rest.

[2020-10-20 21:04] #2319 closed, assigned to nobody

[2020-10-20 21:22] #2492 closed, assigned to nobody

[2020-10-20 23:00] 4n70w4 commented on #2319
@DMarby problem don't solved! Why closed?

[2020-10-20 23:02] 4n70w4 commented on #2319
You can see logs of your system. I wan't spent my time for make work instead your team.

You keep logs and monitoring? Otherwise, what do you charge for? For a system without production quality control?

[2020-10-20 23:51] nijikokun commented on #2319
Hi @4n70w4,

We recently resolved a number of issues surrounding this that requires us to work with the users impacted directly through support to get them to a resolved state, this issue is resolved from the API side but we need to get you to a good state on the client side.

Seeing that you are still encountering this issue, and while we do have server logs and server monitoring, as well as data

[2020-10-21 00:12] develohpanda commented on #2703
Hi @TjorbenWridt!

How is `"base64EncodedValue": "base64({{ application.utils.concatValue }})"` working for you? That just resolves to `base64(test : test)` for me...

Regardless, there is a way to achieve this using Nunjucks templating.

Firstly, when you create a new sub environment, it isn't automatically activated, so your base environment `concatValue` doesn't resolve correctly (and thus reso

[2020-10-21 00:24] develohpanda commented on #2457
I agree, any solution other than deleting `package-lock.json`. 😄

[2020-10-21 05:08] psmcleish commented on #1389
I would be interested in being included in the discussion regarding this.

[2020-10-21 13:35] jgiovaresco commented on #2750
@svaldetero
I've built a simple test case on my side and I noticed that I should use `http://localhost` in `Cookie Url` (instead of `localhost`) to be able to find cookies.

[2020-10-21 14:43] devhammed opened #2759 "[Plugins] Add `requestActions` actions support"
**Is your feature request related to a problem? Please describe.**

Currently, the plugin API support adding items to Workspace and Request Groups context menu but it is not supported for Requests and now since there is no builtin support for API testing for Insomnia Core. I am writing a plugin that does just that (almost done actually) but the problem is that I am forced to only hook to Request G

[2020-10-21 15:22] skimwpi opened #2760 "HTTPS support in Insomnia Designer in Design mode"
In the Design mode of Insomnia Designer, testing an API endpoint that requires https fails even if I uncheck the option to validate the cert (thereby choosing not to validate a cert). The current workaround is to use the Debug mode of Insomnia Designer but it would be great to see https work in Design mode too.

**To Reproduce**
Steps to reproduce the behavior:
1. Write an openapi spec to a server

[2020-10-21 15:47] jgiovaresco commented on #2759
I think it is a duplicate of #2119
On the good side, a PR (#2678) is already open to fix that 🎉

[2020-10-21 18:34] DMarby commented on #2482
@develohpanda For clarity, the RFC has no concept of Infinity, `Expires` can only be set to a valid date. What the `tough-cookie` library does under the hood is set it to the max possible value for a Date in JS, if you pass it `Infinity`.

If a cookie does not have an `Expires` or a `Max-Age` attribute, it becomes what's known as a "session-cookie", meaning it should be deleted once a session is o

[2020-10-21 18:36] christiannaths commented on #530
I'd _love_ to see this, IMO it would be a killer feature over every other offering out there. I want to get my whole team using Insomnia because it's so great, but syncing is still a pain. Storing Insomnia requests and config in code would be perfect:

Think of this scenario: I want to build something new using a new feature that a teammate on the backend team rolled out in the API.

- Teammate pu

[2020-10-21 18:40] nijikokun commented on #2482
If a manually created cookie persists beyond the application session this seems reasonable from a product perspective. What do we think about passing the max date value instead of the non-rfc compliant string (`Infinity`),  this way we can avoid needless comments and can worry less about dependency reliance.

[2020-10-21 18:46] DMarby commented on #2482
I think that makes sense.

[2020-10-21 18:55] nijikokun commented on #2760
Ah, was going to ask about this 😅

[2020-10-21 19:06] nijikokun opened #2761 "Add ability to see what environment is currently selected, and a way to change environment from Manage Environment modal"
**Is your feature request related to a problem? Please describe.**

Currently when managing environments and dealing with sub-environment variables from within the base environment, a user has to close the manage environment modal, to check / switch environments for variables to work.

Here, I have a sub-environment that I have just created (with no way to switch to it, or indicator telling me wha

[2020-10-21 19:14] nijikokun opened #2762 "Support Object Literals for environments instead of JSON"
Since the application already converts the provided JSON object to a Object Literal. Not only would it be backwards-compat this change would reduce the time it takes to write the environment and also reduce the number of issues we see due to missing quotation marks as quotation marks inside of Object Literals is not required, but supported - as well as being able to support trailing commas.

Objec

[2020-10-21 23:52] develohpanda commented on #2618
Just a note that this issue is specifically for the Axios timeout, not Mocha timeout (which is currently hard-coded to 5000ms)

[2020-10-22 05:29] perplexedyawdie commented on #973
Any updates on this as yet? I'm getting a similar error message when trying to use a template tag with an environment variable

[2020-10-22 05:51] diyorbek commented on #2762
Hello @nijikokun ! Can I get this task?

[2020-10-22 06:19] devhammed commented on #2759
I can see 😁😁😁

Can you please accelerate work on merging it so my plugin can finally be ready for use because I personally would prefer setting test for each request than on a request group.

[2020-10-22 13:39] TheCataliasTNT2k commented on #2723
No one interested in fixing this?

[2020-10-22 15:05] cobwebsonsale commented on #2506
The problem isn't really about exception messages. It happens on success too:
<img width="820" alt="Screenshot 2020-10-22 at 8 25 23 PM" src="https://user-images.githubusercontent.com/1848127/96890251-1803e580-14a5-11eb-9c21-f9a7ecf152a7.png">

This is happening because an incorrect header is set (`application/json`) by the server when the response isn't a valid JSON. The issue gets resolved if ei

[2020-10-22 20:00] jgiovaresco commented on #2482
I've started to work on this, but there is something weird in the cookies modal logic.

I've taken a record when I've created a cookie and played with the `Expires` attribute
![2482-cookies-modal](https://user-images.githubusercontent.com/4171593/96920108-07576d80-14ad-11eb-946a-19c30aa7c892.gif)

As you can see, there is something wrong. I've found the cause in those lines:
https://github.com/Kon

[2020-10-22 20:39] nijikokun commented on #2762
Welcome @Diyorbek! Absolutely, feel free to ask questions if needed

[2020-10-22 20:40] jgiovaresco commented on #2103
@peheje I've just tried, and I've been able to generate Swift code.
Could you test again using the last version of Insomnia?

[2020-10-22 20:43] #2672 closed, assigned to nobody

[2020-10-22 20:53] Stef-33560 opened #2767 "Support updating environment variables"
**Is your feature request related to a problem? Please describe.**
Environment variables can't be modified during a test suite. Dynamically generated variables can't be updated from a response's body

**Describe the solution you'd like**
I would like, like in Postman, the ability to `pm.globals.set("myVariable", pm.response.json().theNewValueOfMyVariable);`

For example, for chaining a login reque

[2020-10-23 00:12] aaronhmiller opened #2768 "inso loads spec from cache based on filename"
**Describe the bug**
I'm using inso to generate a configuration but because I have the same file name in two different repos, and one repo I load into Insomnia Designer, and the other repo I use to run `inso generate config` because inso loads the file name from cache, I'm not getting the generated results I expect.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to ID, load a repo based o

[2020-10-23 00:58] develohpanda commented on #2609
Thanks for the feature request @SimonGodefroid!

Technically, because a request can already be "pinned", the same concept can be used to introduce the concept of being "selected". What will need some thought and design is how to expose bulk actions in a nice manner, and just general UX patterns there.

[2020-10-23 01:03] aaronhmiller commented on #2768
this is working as designed after all.

should document advice to use `./` to not load from Insomnia Designer cache when using inso to generate a specification however.

[2020-10-23 01:03] #2768 closed, assigned to nobody

[2020-10-23 01:07] aaronhmiller opened #2769 "inso lint cannot run against local file"
**Describe the bug**
When linting a file, it is useful to ensure exactly what file is being checked.

**To Reproduce**
Steps to reproduce the behavior:
1. checkout a repo
2. run `inso lint spec ./spec.yaml`
3. see FATAL error

**Expected behavior**
Expect the file to be read, loaded and linted properly.

**Screenshots**
n/a cli operation

**Desktop (please complete the following information):**
 -

[2020-10-23 01:21] develohpanda commented on #2769
Currently `inso generate config` supports loading from a file on the filesystem:

https://github.com/Kong/insomnia/blob/65a333cac317e7082e9a026e43588c404f026259/packages/insomnia-inso/src/commands/generate-config.js#L46-L60

`inso lint spec` does not support this yet, but adding in a different source is as simple as taking a snippet of the above code, loading the contents of the file, and consumin

[2020-10-23 04:15] ephelsa commented on #2761
It looks very helpful.

I want to help with this. 😬

[2020-10-23 05:32] joemirizio commented on #2769
Thanks for the info! I can take this one.

[2020-10-23 05:41] jgiovaresco commented on #1985
@eczex I try to reproduce with the last version of Insomnia, but it seems I can open any of my previous responses.
Could you retry on your hand?

[2020-10-23 06:11] develohpanda commented on #2769
Thanks @joemirizio, awesome!

[2020-10-23 06:21] DMarby commented on #1985
I think this is the same bug as #2675, which has a fix pending in #2735 @jgiovaresco

[2020-10-23 06:30] jgiovaresco commented on #1961
@TuyenTk @develohpanda
It seems the ResponseEval plugin has been updated: https://github.com/taylorgoolsby/insomnia-plugin-response-eval/commit/c21878031708b289a036501bd8e7889a4904c0df

I can't reproduce the issue anymore. We should be able to close this issue.

[2020-10-23 08:07] jgiovaresco commented on #1946
👋  @stdedos

I'm not sure I understand your request. 🤔

I've been using Insomnia for a while, and I always thought that when you duplicate a request or a folder, the duplicated item is added just below the original item.

![duplicate-request](https://user-images.githubusercontent.com/4171593/96970865-99469100-1514-11eb-9365-84a23a8263b2.gif)

[2020-10-23 09:29] stdedos commented on #1946
Hello @jgiovaresco. Thank you for your response.

Sadly, as the issue report is 8 months old, even "just" the updates on the repository might have inadvertently fixed the issue I have reported.

Unfortunately, I am not using Insomnia anymore; cost (pain) and benefit (usability/necessity) make it a poor choice for me.

[2020-10-23 10:31] vigamage commented on #923
i am also having the same issue

[2020-10-23 14:24] thewheat commented on #1991
I could not replicate this on MacOS with a test PHP server. Could the replication steps be missing anything? Or could this be OS dependent?

**Insomnia details**
[code]

**Test file**
[code]

**Request when setup a 301 redirect**
![image](https://user-images.githubusercontent.com/892961/97015492-3853a300-157e-11eb-89a0-101b0c2cb960.png)

**Change file content to no longer redirect and get a 200 an

[2020-10-23 14:53] #2463 closed, assigned to nobody

[2020-10-23 15:11] masseelch commented on #1991
I can check again with my setup. Will take me a day or so.

[2020-10-23 16:07] mxmlnglt opened #2771 "Can't import workspace "as is" (either I lose history or hierarchical org + config)"
**Describe the bug**
The whole export feature is inconsistent.

You have to choose between 3 formats, of which the first 2 are basically the same (JSON and YAML), and the 3rd one (HAR) is radically different:
 - with JSON/YAML you keep the hierarchical organization of your workspace(s) with folders + configuration (environments + variable templating) but NO request history is exported
 - with HAR

[2020-10-23 17:10] diyorbek commented on #2762
@nijikokun I played around with code and somehow achieved what we want. But there is a problem with the code editor.

There are javascript and JSON modes. Currently, it's working in JSON mode.

We will need JS mode to be able to use object literals, but JS mode gives us syntax error. Because it treats `{` here as the start of a block. Besides, we will have to limit the usage of JS.

It seems like

[2020-10-23 18:07] Stef-33560 commented on #2767
Duplicate issue #1181

[2020-10-24 09:38] cobwebsonsale commented on #2745
@antoine29, let me know if you're still looking into this issue. Since I'd worked on a similar one, I had a chance to investigate this one as well.

[2020-10-24 11:04] reginaalyssa commented on #2745
Hi, if this is still available I'd like to also give it a try. :)

[2020-10-24 11:11] reginaalyssa commented on #2745
@cobwebsonsale If you're up for it, I have a working code now implementing the default/automatic sorting based on the `metaSortKey` maybe you can add on to it with the manual sorting as well if we're pushing through with that. Let me know your thoughts on this!

[2020-10-24 14:43] cobwebsonsale commented on #2745
@reginaalyssa I had a branch closing this issue as well lol. I was waiting on @antoine29 to know if it was okay for me to submit a PR for it. :D
For what it's worth, the automatic sorting being added in the other issue will not change things here as it uses the same `metaSortKey` field.

[2020-10-24 15:30] reginaalyssa commented on #2745
@cobwebsonsale Oh no sorry about that! I opened a PR [here](https://github.com/Kong/insomnia/pull/2775) but I can close it if you already have another branch/PR open as well to prevent duplicates. I'm new to contributing to open source so I'm not entirely sure yet what I'm doing or if what I added was correct although it seemed to work on my local environment.

[2020-10-24 15:50] cobwebsonsale commented on #2745
I'm afraid just a simple sort on `metaSortKey` would not be enough here. The requests within a request group have their own metaSortKey for their sorting within the group. You can checkout [this commit](https://github.com/cobwebsonsale/insomnia/commit/aaff4ca6ead44f7bdb947bf16e16c33b63f076f6) on [cobwebsonsale:feature/sort-requests-in-tag-editor](https://github.com/cobwebsonsale/insomnia/tree/feat

[2020-10-24 15:58] reginaalyssa commented on #2745
Ohhh I think since it's already been built, I'll just close my PR. Thank you for the reference though, appreciate the guidance on this. :)

[2020-10-24 21:45] antoine29 commented on #2745
hey guys
Sorry for the delay, it's been a busy week for me
You're right @cobwebsonsale, a metaSort key sorting is not enough to get the same sort as is in the sideBar (due to the groupRequests case). But I think I got an approach to get it, I already opened a PR for your consideration :D

[2020-10-24 21:51] develohpanda commented on #2745
Thanks folks! @cobwebsonsale feel free to review @antoine29 PR and suggest any changes or ideas that you had in mind from your investigation. 🤗

@reginaalyssa welcome! Feel free to browse issues with the label "Good First Issue", there are still lots of issues that don't have any conversation yet. Also, be sure to read the [contribution guide](https://www.github.com/Kong/insomnia/tree/develop/CONT

[2020-10-25 06:37] nijikokun commented on #2762
This makes sense, I'll defer to @develohpanda for implementation details, a naïve approach I can think of is to wrap the object with something like `var x = ... object here ...;` when passed to the linter/codemirror so that way it treats it as JavaScript. By default the highlighting as JS works (tested on codemirror without linting) for Object Literals.

[2020-10-25 06:38] nijikokun commented on #2761
Looking forward to seeing what you come up with @ephelsa, feel free to ask any questions if you need help!

[2020-10-25 08:12] nijikokun commented on #2771
Welcome @mxmlnglt, glad you brought this up. This has been discussed in the past, HAR was user requested from #416, lately discussion around sync in these issues #2587, and further even going so far as to being able to include plugin data #2695.

Here it does pose a challenge, as sometimes for security reasons, on-boarding team members, or third-party sharing purposes some users might not want to

[2020-10-25 08:16] nijikokun commented on #2750
Seems like we might need a better description, or error message detailing what format is expected.

[2020-10-25 09:06] GlennMm commented on #1902
same problem here, but the mutation is not being executed

[2020-10-26 00:19] ericp3reira commented on #2700
Hi people! May I work on this one?

[2020-10-26 04:28] TCFox opened #2778 "OAuth 2.0 Authorization Window does not respect "Validate certificates" setting"
**Describe the bug**
When fetching a new "authorization code" token with help from the OAuth 2.0 auth helper, if the "Authorization URL" uses a self-signed certificate, the Authorization Window appears, but is blank. This is regardless of the "Validate certificates" setting in the preferences window.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the "Validate Certificates" setting in t

[2020-10-26 09:42] mxmlnglt commented on #2771
I did see that issue where HAR was request, but as far as I could see, this is rather a limited format and/or not really suitable for the whole "export" of Insomnia configuration & so.

Also I do understand the problem with security-related data, e.g passwords should not be exported by default, user should explicitly ask for it, but a question remains: how to flag such data as sensitive? (in my ca

[2020-10-26 12:10] BuchholzTim opened #2779 "Authorization-Window incorrectly themed"
**Describe the bug**
The selected Theme in Insomnia Designer does not correctly apply to the "Authorize"-Window.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a Theme other than "Designer Light", preferably some dark theme
2. Define a Security Scheme (in my Case JWT Bearer)
3. Click on the "Authorize"-Button, which should have appeared after defining the Scheme
4. The new Window sho

[2020-10-26 12:23] jorisroling commented on #1890
Still think this should be done by Insomnia, GraphQL GET is importand for many GraphQL servers having a cache in front of them (bigger venues do many times), and it's not that big thing, instead of creating a BODY, this should create the extra Query parameters. So Insomnia's UI would not need to change at all.

Would mean a big deal to me too!

TIA, Joris

[2020-10-26 13:34] anno1985 opened #2780 "Error when importing Swagger 2.0 json file"
**Describe the bug**
When trying to import a Swagger 2.0 json file, I get the following error:

StackTrace
[code]

**Expected behavior**
File should import without issues.

**Desktop (please complete the following information):**
 - OS: MacOS 10.15.7
 - App Version: 2020.4.1

**Additional context**
- The Swagger Editor does find several warnings, but no errors, so the file should parse.
- The file

[2020-10-26 14:42] masseelch commented on #1991
I did another test and the issue still is present.

**Insomnia details**
[code]

**My Testserver (Go)**
[code]

**With 301**
![image](https://user-images.githubusercontent.com/12862103/97186263-5c42fe80-17a1-11eb-924c-8b51fef128cf.png)

**Changed to simple 200 - "Hello World"**
![image](https://user-images.githubusercontent.com/12862103/97186467-9a402280-17a1-11eb-8069-8d965f1c3ece.png)

The issue

[2020-10-26 15:09] #2767 closed, assigned to nobody

[2020-10-26 15:26] jgiovaresco commented on #2190
👋  @k-lebedev

Insomnia is using `libcurl` under the hood.
I've managed to reproduce this behavior using cUrl directly (`curl --digest -u user:pass`)

Therefore I don't think it is an Insomnia "issue" 🤔

[2020-10-26 19:38] octaneadmin opened #2781 "Allow user to change Mocha timeout"
**Is your feature request related to a problem? Please describe.**
Insomnia Designer currently allows multiple requests to be created as part of a single unit test. This is an important functionality if you have multiple requests relying on a previous ones (request chaining helps, but for more complex situations it fails to satisfy the need).
The problem is that the Mocha timeout is hard-coded to

[2020-10-26 19:49] nicholas-l opened #2782 "Travis CI in README.md is failing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'README.md'
2. Click on 'Travis CI' badge
3. See error

**Expected behavior**
Travis CI should be passing to give users confidence in Insomnia.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following inf

[2020-10-26 19:49] nicholas-l commented on #2782
It looks like this is left over from a previous time, last run was 5 months ago: https://travis-ci.org/github/Kong/insomnia/builds

[2020-10-26 21:41] DMarby commented on #2302
Hi @dmeunier,

We just released [2020.4.2](https://insomnia.rest/changelog/core/2020.4.2) which contains a number of fixes for issues related to the version control beta sync, including this one.

Please give it a try, and if you're still having issues, send us an email at support@insomnia.rest so that we can best assist you with these issues!

[2020-10-26 21:41] #2302 closed, assigned to nobody

[2020-10-26 21:42] DMarby commented on #2303
Hi @dmeunier,

We just released 2020.4.2 which contains a number of fixes for issues related to the version control beta sync, including this one.

Please give it a try, and if you're still having issues, send us an email at support@insomnia.rest so that we can best assist you with these issues!

[2020-10-26 21:42] #2303 closed, assigned to nobody

[2020-10-26 21:42] DMarby commented on #1828
Hi @natepisarski,

We just released 2020.4.2 which contains a number of fixes for issues related to the version control beta sync, including this one.

Please give it a try, and if you're still having issues, send us an email at support@insomnia.rest so that we can best assist you with these issues!

[2020-10-26 21:42] #1828 closed

[2020-10-26 21:53] Fyb3roptik commented on #980
I did the v4 JSON

[2020-10-27 01:24] #1831 closed

[2020-10-27 06:05] develohpanda opened #2787 "Resizing pane visibility in vertical layout in Designer"
**Describe the bug**
When in Designer on the debug tab (currently the only tab that caters for vertical layout), the horizontal pane is not visible (see screenshot)

**Expected behavior**
The vertical pane should be visible in both Core and Designer (in the debug tab at-least).

**Screenshots**
![image](https://user-images.githubusercontent.com/4312346/97262420-aa313280-1885-11eb-813a-b4e093126ed8

[2020-10-27 07:02] #2647 closed, assigned to nobody

[2020-10-27 10:00] SamueleDassatti opened #2788 "Consistent icon on macOS 11 Big Sur"
**Is your feature request related to a problem? Please describe.**
The current icon on macOS is perfectly round while all other apps are moving to the squircle design suggested by Apple since the release of the Big Sur betas; this makes Insomnia feel out of place on the platform.

**Describe the solution you'd like**
The app icon on Big Sur should be inside a square with rounded corners to make it

[2020-10-27 12:04] tauinger-de opened #2789 "Feature Request: Extend template tags system to chose one of several username/password pairs"
I have a "Log In" request, whose output is chained to other requests (access token).

Now I am looking for a way how to add several username/password pairs to my environment to chose from, so that I can log in with one of those test users but still have all my subsequent requests chained to that single login request.

Maybe the "prompt" tag can be extended for this?

[2020-10-27 12:59] jgiovaresco commented on #2034
👋 @bleketux

I'm not sure that `http://localhost/api/v2/index.php?/todo` is a valid URL following the standard. If I read the [RFC grammar](https://tools.ietf.org/html/rfc3986#appendix-A) correctly, the `?` is not allowed in the URL path. It is used as the delimiter for the query string.

Therefore I don't think we would implement a "fix" in Insomnia 🤔.

[2020-10-27 14:02] jceb commented on #2780
Same issue here with a YAML file. I was able to import the very same file into swagger.io without any issues.

Version: Insomnia Core 2020.4.2
Release date: 10/21/2020
OS: Linux x64 5.4.72-1-lts
Electron: 9.1.1
Node: 12.14.1
V8: 8.3.110.13-electron.0
Architecture: x64
node-libcurl: libcurl/7.69.1 OpenSSL/1.1.1g zlib/1.2.11 brotli/1.0.9 libidn2/2.3.0 libssh2/1.9.0 nghttp2/1.41.0

The import still w

[2020-10-27 15:56] moneyfaker opened #2791 "Visual preview not displaying anything"
Visual preview showing blank white page (Source code and Raw Data works fine)

Insomnia 2020.4.2
macOS 10.15.7

Log from console:
`electron/js2c/renderer_init.js:126 Uncaught (in promise) Error: Error invoking remote method 'ELECTRON_GUEST_VIEW_MANAGER_CALL': Error: ERR_INVALID_URL (-300) loading 'data:text/html; charset=utf-8,test%0A%0A%0A%0A%3C!--%20Tracy%20Debug%20Bar%20--%3E%0A%3Cscript%20src%

[2020-10-28 07:15] bleketux commented on #2034
:wave:  Thank you @jgiovaresco , yes, it's definitely wrong setup on backend side, they should follow the standard.
At the time I found this problem, it can be handled by postman. But I agree with you this is not a "fix" since this is not valid, I already asked them (API maintainer) to change and follow the standard with cleaner URL, so I can use only insomnia for dealing with every API out there

[2020-10-28 07:15] #2034 closed, assigned to nobody

[2020-10-28 09:01] #2782 closed, assigned to nobody

[2020-10-28 18:01] stvkpln commented on #2647
Just wanted to leave a comment to say thank you for solving -- I get this is a pretty corner case thing for people with Mac's who make use of multiple environments and use colors to differentiate them, so to see this resolved quickly is a big part of why I continue to support Insomnia. You folks are awesome!

[2020-10-29 09:01] thewheat commented on #1991
I think this could be an OS issue as I couldn't replicate on macOS

![redirect-with-go](https://user-images.githubusercontent.com/892961/97547040-41be8e80-1a08-11eb-8037-4a0a0c0612cb.gif)

[2020-10-29 09:02] thewheat commented on #980
Thanks for the clarification @Fyb3roptik : how / where did you import into on the Swagger side of things?

[2020-10-29 10:01] masseelch commented on #1991
Weird! I'll run another test on Debian.

[2020-10-29 10:04] masseelch commented on #1991
@TheCataliasTNT2k What OS do you use? Happen to be Manjaro or Arch too?

[2020-10-29 18:13] irajtaghlidi commented on #2791
Hi @jerrx, please attach the complete HTTP request like URL, header, request body (mask sensitive data).

[2020-10-30 10:04] VojtaStanek commented on #961
I am using recent version of insomnia, but it still doesn't allow brotli:
[code]

My version of insomnia:
[code]

[2020-10-30 10:45] lasrol commented on #2700
Since there has not been any reply, i would say go for it 👍  I assume they will just be happy to get a PR for this.

[2020-10-30 11:19] fjfnaranjo-wavelt commented on #1638
It will be nice if we can tell the workspace exporter not to minimize the resulting JSON. This feature (the export/import) is ok for me as it is but having it not minimized will help with diffs. It will also allow to implement a VCS backed workspace even if you have to import/export it manually.

[2020-10-30 14:44] jgiovaresco commented on #1991
I can't reproduce the issue either :thinking:

I've tried on Mac

[code]

and on Linux Mint

[code]

I'm using a [simple Node.js server](https://github.com/jgiovaresco/node-simple-server) on which I built a [route](https://github.com/jgiovaresco/node-simple-server/blob/master/src/routes/get-with-301-redirect.ts) that will redirect every two requests.

Would it be related to the `libcurl` version?

[2020-10-30 14:47] gerhard4 commented on #2347
Related to this is support for NDJSON on the sending side.

[2020-10-30 15:06] jgiovaresco commented on #1921
👋  @LeeBear35

I can't reproduce the issue on Mac nor Linux.

Besides, there is an open issue related to cUrl & multipart (https://github.com/Kong/insomnia/issues/2282). I've used the [fixed version](https://github.com/Kong/insomnia/pull/2740) to try to reproduce the issue.

Therefore, I suggest to wait for the fix to be released, and hopefully, it should be fixed. 🤞

[2020-10-30 15:50] feganmeister opened #2800 "Losing requests from source when duplicating Document"
**Describe the bug**
When duplicating a Document in Designer, the requests in the target (new) Document are duplicated (as reported on #2080) but the source (existing) Document looses the requests. On the source Document, you need to navigate to Design, then back to Debug to get them back. However, this causes the Environment to reset (as reported on #2228).

**To Reproduce**
Reproduction steps ha

[2020-10-30 16:31] Kaitachi commented on #2722
Hey there! I'm quite frankly a novice to this product and began lurking around the repo to check out comments related to features.

Have a question regarding your setup: do you need to send these parameters (User ID and others) as query parameters or as part of the URL itself? That is, do you query for a specific user with a syntax similar to `api/users?user_id=7` or `api/users/7`? Depending on yo

[2020-10-30 16:49] cbejensen commented on #2722
Thanks @Kaitachi for the feedback! I am using the second convention you described, so unfortunately that won't work for me. In other words, a get user command might look like this:

`users/Prompt`

where `Prompt` is the usual Insomnia template tag. And the feature being requested (which you seem to understand but I'll reiterate here for others) is to enable a default value of the `Prompt` template

[2020-10-30 22:54] Kaitachi commented on #2722
Ah, it's a bit sad to see the example I illustrated won't fit neatly for your scenarios, @cbejensen. 🙁

Have been experimenting a little bit more with Insomnia after reading your last post a couple of times, and I now understand the `Prompt` template tag you were referring to -- I honestly didn't know of it, for it was just this morning that I first heard of Insomnia and downloaded it... 😛 Anyways

[2020-10-31 21:10] johanhammar commented on #2506
A simple (and maybe naive) solution is to only prettify the response if it's valid json otherwise display the response as is. However, it seems like insomnia-prettify prettifies json with trailing commas (which is not valid json), see [trailing-comma-input.json](https://github.com/Kong/insomnia/blob/develop/packages/insomnia-prettify/src/__fixtures__/trailing-comma-input.json).

[2020-11-01 06:32] Sited opened #2801 "White screen after Get"
On my first use ever of the app, and subsequent attempts, when I try to Get a Basic Auth the app goes 'white screen' and never recovers. I've tried numerous times.

I'm connecting to a Wordpress site using the Woocommerce rest api, keys read/write...

[2020-11-01 14:49] johanhammar commented on #2707
Other Electron based apps also have this problem, https://github.com/laurent22/joplin/issues/4016, and it does indeed seem to have something with snap to do.

[2020-11-01 15:33] ghost commented on #1986
@gschier It doesn't work for me got anything else up your pockets?

[2020-11-02 07:09] jgiovaresco commented on #2801
👋  @Sited

If I understand correctly, you are requesting a GET endpoint using the Basic Authentication?

I suggest trying to `Copy as curl` the request (by right-clicking on the request element) and paste the result in a terminal to see if the request succeeds.
By the way, you can look at the `Timeline` tab (on the right pane) to have more information on what is going on when you send the request.

[2020-11-02 10:31] 3DRaven opened #2805 "UI crash"
**Describe the bug**
Sometime I have crash in UI. See attachment screenshot.
**To Reproduce**
Sometime
**Expected behavior**
Version: Insomnia Core 2020.4.0
Release date: 10.09.2020
OS: Linux x64 5.8.0-9.3-liquorix-amd64
Electron: 9.1.1
Node: 12.14.1
V8: 8.3.110.13-electron.0
Architecture: x64
node-libcurl: libcurl/7.69.1 OpenSSL/1.1.1g zlib/1.2.11 brotli/1.0.7 libssh2/1.9.0 nghttp2/1.41.0
**Scree

[2020-11-02 13:44] lyrixx opened #2806 "With "follow redirect = true", 303 are followed"
Hello

**Describe the bug**

As you can see, the option is disabled

![image](https://user-images.githubusercontent.com/408368/97874253-075f3500-1d19-11eb-9b9b-d0eb103c1a7a.png)

And when a got a 303  **and I'm on preview mode** the redirection is followed. I think this is due to the fact there is a "meta refresh" in the body, and it's interpreted

[code]

More over, the redirected request does no

[2020-11-02 14:40] jgiovaresco commented on #2806
👋  @lyrixx

I guess you are right; it seems related to "meta refresh" in the body that is interpreted. Besides, we can reproduce it with a 200 response.

Does that mean that the manually defined headers are sent to the redirected request when the `Follow redirects` is checked?

Would you be able to provide the content of the Timeline tab to help the investigation?

[2020-11-02 15:07] lyrixx commented on #2806
yes, it looks like

<details>

<summary>Here is the timeline</summary>

[code]

</details>

[2020-11-02 17:12] jgiovaresco commented on #2806
When `follow redirect: true`, Insomnia will follow the redirection. Insomnia is using cUrl under the hood. When the setting is checked, the option [FOLLOWLOCATION](https://curl.haxx.se/libcurl/c/CURLOPT_FOLLOWLOCATION.html) is given, and cUrl will automatically redirect using the `Location` header when the response status is 30x.

When `follow redirect: false`, Insomnia will detect it can render t

[2020-11-02 17:38] lyrixx commented on #2806
This is very well summarized 👍🏼

And actually, I don't know if this issue can be solved. I lost some time today about this (I'm on an audit mission, so I don't really know the code). But this is absolutely not your fault 💛. If it can, this is awesome. It not, feel free the close this issue, I understand.

Note: Idea to close this issue: encapsulate the meta tag in a comment before passing the HTML

[2020-11-02 20:55] Fyb3roptik commented on #980
Honestly, this was from a while ago and im not sure this is still an issue. I am not on the project anymore so feel free to close this issue. Sorry to waste your time

[2020-11-02 20:55] #980 closed

[2020-11-02 20:59] cbdelavenne commented on #960
I know this has been closed for 2 years+, but our team would also benefit from this feature.

[2020-11-02 21:18] develohpanda commented on #980
I don't think this is anything to do with swagger in particular. Just looking at the initial report, this issue seems very closely related to https://github.com/Kong/insomnia/issues/2688

[2020-11-02 22:05] reynolek commented on #2780
Hi @jceb, thanks for the bug report! is it possible to provide the swagger file in question? Or perhaps a swagger file that allows us to reproduce the error?

[code]

The stack trace providing this error message is pretty tough to make assumptions about where the issue may lie, other than in some key `data`.

[2020-11-03 06:40] jceb commented on #2780
Here you go: https://0bin.net/paste/UYLRsCQJ#sDTz4VgqF1zP315VNTLRYUAESUh5wfhc5o9UpgHCDvR

[2020-11-03 07:26] masseelch commented on #1991
I downgraded to `libcurl/7.69.1` but the issue still remains.

However, using Debian everything works like it should. It seems to be anOS issue after all. Closing this then.

[2020-11-03 07:26] #1991 closed, assigned to nobody

[2020-11-03 09:25] develohpanda commented on #2805
Hi @3DRaven!

Thanks for reporting. Can I ask what you were doing at that point in time, or if you've been able to reproduce it reliably? Seems like there's only one place that uses `lastIndexOf` so this should be simple enough to fix.

https://github.com/Kong/insomnia/blob/a9e22075fb1ece88bb0ce38214d7cf4bf31a16de/packages/insomnia-app/app/ui/components/codemirror/code-editor.js#L316

[2020-11-03 09:44] 3DRaven commented on #2805
I don't know precisely, but I think at this time I tryed to start request from keyboard shortcut ctrl+enter.

[2020-11-03 16:20] smacktoid opened #2807 "How do you load a GraphQL schema which is protected by OAuth?"
I'm trying to use the GraphQL tooling. I've got a GraphQL endpoint which requires authentication to access. I can easily configure an authentication helper (for OAuth 2.0) for the main query, but when I try to load the schema so that I can see the documentation it appears to fail. A message appears at the bottom of the screen that reads "Failed to fetch schema: No OAuth 2.0 tokens found for reques

[2020-11-03 16:47] doctorwu opened #2808 "Ignore Auth Settings"
As an author of Open API specs and debugging requests, when I enter why authentication credentials and sync to a git repo., the credentials are pushed. This is not ideal.

 I would like to ignore the authentication settings when I sync to Git, so passwords do not get pushed to Git.

[2020-11-03 16:53] #2808 closed, assigned to nobody

[2020-11-04 11:36] scollovati opened #2810 "failed swagger json import - "The URI does not contain a valid specification""
**Describe the bug**
Hi, Insomnia is failing in importing this swagger.json: file https://ultra-us-prod-csa.bbcollab.cloud/swagger.json

RangeError: Maximum call stack size exceeded

**To Reproduce**
Steps to reproduce the behavior:
1. Click on workspace name > "import/export"
2. Import from URL https://ultra-us-prod-csa.bbcollab.cloud/swagger.json
3. See error "The URI does not contain a valid sp

[2020-11-04 14:50] jgiovaresco commented on #1963
👋  @LoicHa

It seems that Chrome has been updated. I can't see `Copy as cURL (bash)` anymore

![image](https://user-images.githubusercontent.com/4171593/98125741-17138080-1eb5-11eb-9dd8-7195ea1de49d.png)

You should be ok now 😅

[2020-11-04 18:14] cbdelavenne commented on #1796
Our team is also very interested in this specific feature.

[2020-11-05 01:30] AlexandreLage commented on #2781
Importante!

[2020-11-05 05:54] Namphibian commented on #2082
Yeah this is kind of a deal breaker for me. Not being able to declare some common models in a separate file and having to break the DRY principle is like getting a $7 note in change.... it does not sit well with me.

[2020-11-05 10:33] soulseekah commented on #2443
Confirmed. This is broken and quite an issue for multi-domain cookies.

![image](https://user-images.githubusercontent.com/685880/98230029-b7c47780-1f6b-11eb-9f03-ce41b13ebcd9.png)

[2020-11-05 18:19] WhyNotHugo opened #2812 "Node 15 support"
**What is your question?**

I [and many other users] are having issues building / installing Insomnia since it's not compatible with node 15. While installing a secondary node version _can_ be done (e.g.: `nvm`), this kind of tool is usually used for development, not for OS packages.

Also due to this, the [ArchLinux package](https://aur.archlinux.org/packages/insomnia/#comment-774153) for insomni

[2020-11-05 18:51] douglascamata commented on #203
This is the **only** reason why I don't use Insomnia currently. I work with a lot of restful APIs, full of parameters in the URLs. I would love to see this given the attention it deserves. <3

[2020-11-05 19:01] xaocon commented on #2082
Anyone want to try to tag team this? I don't have much backend JS/TS experience but the lib the package uses says it works with $ref so it seems like it shouldn't be too hard to do.

[2020-11-06 02:58] dbeckwith01 opened #2815 "How to Resolve "Multiple workspaces found in repository" Message"
When using the Create/Git Clone menu option I get the following message after entering the repo details:
![Screen Shot 2020-11-05 at 5 23 15 PM](https://user-images.githubusercontent.com/18648394/98320860-a0e84a00-1f98-11eb-9c0d-d681c365c475.png)

My repository looks like this:
![Screen Shot 2020-11-05 at 6 57 58 PM](https://user-images.githubusercontent.com/18648394/98320966-d9882380-1f98-11eb-9a

[2020-11-06 03:10] dbeckwith01 commented on #2815
Figured it out, it didn't like the `.gitignore` file in the Workspace folder

[2020-11-06 03:10] #2815 closed, assigned to nobody

[2020-11-06 11:20] eliam commented on #1103
Same.  v2020.4.2.  Includes .wsdl file type for the import but bugs out with "Error: No importers found for file".

Any chance of reopening this feature request?  I'd still find this handy.

[2020-11-06 11:56] jostFT opened #2816 "Autofill GraphQL request from Documentation Fields"
**Is your feature request related to a problem? Please describe.**
Whenever I have to setup a new GraphQL request, and the request is quite hefty (say, 5-6 parameters and/or a ton of return data). It is incredibly tedious to manually type it in. Especially, when I want to structure it to support Query Variables.

**Describe the solution you'd like**
I would like the ability to press an "import" bu

[2020-11-06 17:18] xaocon commented on #2082
I started digging into this a little and I imagine one of the reasons this hasn't been done yet is because it would need to change a number of files. I think this could be fixed with only changes to the insomnia-importers package, which is quite handy on it's own.

Currently, however, it takes a filename, then reads out the contents and passes it on to all the different importers looking for one t

[2020-11-06 20:00] bushblade opened #2818 "Strange white thing in top left of screen"
Hi I just upgraded to version 20204.2
And see this weirdness in the app now...
![Screenshot_2020-11-06_19-57-23](https://user-images.githubusercontent.com/21976188/98409393-ab731400-206a-11eb-9d8d-244242513f03.png)

I have seen similar issues in the desktop slack app recently and in Chromium browser, so I'm assuming it's an issue with the version of Electron in use?

Version: Insomnia Core 2020.4.

[2020-11-07 23:19] Namphibian commented on #2082
@xaocon thanks for the look into it.

One thing we do is top down API development, we generate the code from the contract/interface definition. So there is a  concern for me at this point is that most of the code generator do not seem to handle multiple files. If that is the case we would probably need to have all files joined into one for export. Will investigate this a little more over the follo

[2020-11-08 05:17] xaocon commented on #2082
@Namphibian I'll defer to you guys just trying to be helpful in getting this out.

[2020-11-08 18:33] xaocon commented on #2082
I should be clear that you pass a single path to the library and it opens the additional files as necessary.

[2020-11-09 14:41] LoicHa commented on #1963
@jgiovaresco Hello :  )
Sadly i still have the same issue and my cURL option has not changed so far .. :'(
Chrome Version 86.0.4240.183 on Windows
Insomnia 2020.4.2

[2020-11-09 17:04] bushblade commented on #2818
Its still an issue after today's update too...
![Screenshot_2020-11-09_17-05-27](https://user-images.githubusercontent.com/21976188/98572706-d4cfb200-22ad-11eb-963f-d2f4f67b9c08.png)

Version: Insomnia Core 2020.4.2
Release date: 09/11/2020
OS: Linux x64 5.8.18-1-MANJARO
Electron: 10.1.5
Node: 12.16.3
V8: 8.5.210.26-electron.0
Architecture: x64
node-libcurl: libcurl/7.73.0 OpenSSL/1.1.1h zlib/1.2.

[2020-11-09 18:09] ulisesqg commented on #2818
```CTRL + ALT + I``` opens the console

Excecute: ```window.location.href="chrome://flags/#enable-vulkan"```

I have an AMD graphic card and this stop the glitches for me.

[2020-11-09 18:12] bushblade commented on #2818
Thanks for the reply.
That crashes the app for me.
I too have an AMD card though, radeon RX580

[2020-11-09 18:14] ulisesqg commented on #2818
RX590 here. It crashed for me too. I reopened the app and glitches were gone.

[2020-11-09 18:34] bushblade commented on #2818
Still have the issue after reopening here.

[2020-11-09 18:56] dbeckwith01 commented on #2624
@nijikokun Do you have timeline on when this feature will be available?

[2020-11-10 12:58] oxxy1337 opened #2821 "Template Injection"
**Describe the bug**
Inso crashed while uploading files, contain template injection payloads as file name

Insomnia is a perfect tool for web pentesting, So while uploading file, with "{{7*7}}" as filename Inso will render this input and showing the following error :
[code]
Inso respond to the injection payload with 49

Field: Request.body.params[0].fileName

**Screenshots**
<img width="1440" alt=

[2020-11-10 13:46] anno1985 opened #2822 "Folder environment variables don't merge into sub and base environments; override instead"
**Describe the bug**
When you define a "variable tree" in your base environment, you can selectively override it by setting some of it in your sub environments. Sub environments are effectively merged into base environments. Variables defined in folder environments will completely override the variable tree, however. This is unexpected (and unhelpful).

**To Reproduce**
Steps to reproduce the beha

[2020-11-10 13:56] Flo-Schilli opened #2823 "Insomnia for snap not starting on Fedora 33"
**Describe the bug**
After upgrading to Fedora 33 Insomnia is not starting when installed via snap

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the terminal
2. Run the following command: `snap run insomnia`
3. Error will be shown in terminal

**Expected behavior**
Insomnia is starting

**Desktop (please complete the following information):**
 - OS: Fedora 33 with kernel 5.8.16-300

[2020-11-10 20:22] khuongntrd opened #2825 "Docs - Generating heading anchors in HTML output & can be navigated while click on anchor tag link"
I need to support generating heading anchors in the HTML output in Docs section, similar to the way GitHub allows the linking to each heading. And while click on the link with those anchor tag the viewer can be jump to this heading.

[2020-11-11 11:07] heavenkiller2018 commented on #1659
@weeix  your way is right when useing express.js and multer!

[2020-11-11 22:27] Traksewt commented on #1825
It is obvious when you study both, but to save anyone else some time, I got it working by changing \\\\n to \n  and changing '--data binary $' to '--data '

[2020-11-12 13:47] jgiovaresco commented on #1963
Ok I've reproduced the behavior: it is related to Windows... I should be able to work on a fix ;)

[2020-11-12 16:51] estar73 opened #2829 "[Feature Request] Less strict JSON parser in the editor (json5/comments/trailing comma)"
Nowadays, many APIs support a superset of JSON format that allows comments, unquoted object keys, single quotes, hanging trailing commas, etc. For example, services that use the popular "Newtonsoft Json.NET" library support such JSON by default.

Insomnia allows us to use such "malformed" JSON in requests but the error highlighting is a bit annoying.
Can we have an option that will treat such JSON

[2020-11-12 18:19] bartdorsey commented on #1962
What about building this for RaspberryPi? Seems like it should be similar since it's ARM as well.... Also Apple shipped ARM macs so it seems ARM really should be figured out.

[2020-11-13 09:05] petermilan commented on #1825
@Traksewt  thanks for feedback, I made me a  bash script on my kubuntu which is  taking the CURL from clipboard, replacing the characters like you described and putting back to clipboard :) so I can just paste modified curl into insomnia. Here is the bash script:

`xsel -b | sed -e "s|--data-binary \\$|--data |g"  | sed -e "s|\\\n|n|g"  | xsel -b`

perhaps it can help to someone.

`xsel -b` - is u

[2020-11-13 13:05] ehausen opened #2833 "Escaped Unicode Carriage Return is displayed as syntax error in JSON"
**Describe the bug**
If a string in JSON, for example multiline description contains escape code \u000a they are handled as not allowed line breaks in Insomnias JSON response view, even thought to my knowledge  \u000a is allowed in JSON. Also they are converted as line breaks so that text is actually displayed on new line.

**To Reproduce**
Steps to reproduce the behavior:
Query an API that return

[2020-11-13 15:00] PCeja commented on #776
Hey is there anyone working on this?
I use insomnia pretty often and I would like to work on it because that'd make a huge difference while using it.

[2020-11-14 19:00] jvzaniolo opened #2835 "Broken rounded corners in Big Sur"
**Describe the bug**
Broken rounded corners in Big Sur

**To Reproduce**
1. Run `brew install --cask insomnia`

**Expected behavior**
Rounded corners following Big Sur's UI pattern.

**Screenshots**
![image](https://user-images.githubusercontent.com/54036572/99154888-0243a380-2692-11eb-8f94-ec7731110374.png)

**Desktop:**
 - OS: Big Sur 11.0.1 (20B29)
 - Installation Method: Homebrew
 - App Versio

[2020-11-15 10:41] MrSnix opened #2836 "Yarn fails plugin installation over a warning (e.g deprecated dependency)"
**Describe the bug**
Hi, i have been developing a plugin on Insomnia Designer but i'm experiencing a bug while installing it from the npm registry after have published it. It stops when there is a warning for a deprecated dependency. The build pass on GitHub Action so i don't understand what i'm doing wrong and why it should throw an error over a warning message. I have seen that if i install with

[2020-11-15 11:44] MrSnix commented on #2836
I'm working on a fix for this

EDIT: I proposed a fix here [ PR #2861 ](https://github.com/Kong/insomnia/pull/2861)

[2020-11-15 16:43] MrSnix commented on #2805
**EDIT**:
I moved my proposal for fix here [ PR #2048 ](https://github.com/Kong/insomnia/pull/2840)

[2020-11-15 18:24] abdullahumer commented on #1352
I faced the same issue.

[2020-11-15 20:27] rastislavcore opened #2838 "Push rejected with errors"
**Describe the bug**
Cannot push changes to Gitlab instance.

**To Reproduce**
Steps to reproduce the behavior:
1. Design your API calls in the environment.
2. Setup "Repository Settings"
3. Git URI: `https://myinstance.com/org/repo.git`; Author; Author email; Username; Authentification token
4. Commit changes
5. Push
6. Push rejected; Question: `Do you want to force push?`; Answer: `Force push`
7

[2020-11-16 02:14] avatarneil commented on #2788
I contributed a Big Sur style icon to https://macosicons.com/ for Insomnia, would be happy to cut a PR adding it here too if there's interest!

[2020-11-16 09:00] AgentFire opened #2839 "Right click on a URL from the Preview tab opens both Context Menu and system browser."
**Describe the bug**
Right click on a URL from the Preview tab opens both Context Menu and system browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Receive any JSON which contains one or more valid HTTP(s) links.
2. Right click on a highlighted link, assuming to open a context menu.
3. Observe the context menu opens and then immediately a default system browser opens as well, navigati

[2020-11-16 14:43] BalintPogatsa commented on #1103
+1

[2020-11-16 21:04] ricardoamb commented on #1555
Yah. I had the same! but cleaning the json just settind "No Body" and setting "JSON" again solve my prob! Hope solve yours also!
And I break my head thinkin the error is my code! chears!!!

[2020-11-16 22:16] develohpanda commented on #2838
Hi @raisty, in the console window do you see anything prefixed with `[git]` or `[git-event]`? The error you've shared is unrelated to git (albeit it is still an error).

Here's an example:
![image](https://user-images.githubusercontent.com/4312346/99314556-2daed400-28c6-11eb-9121-e74c830a3f0e.png)

[This PR](https://github.com/Kong/insomnia/pull/2432) contains a gif showing this very error. It's q

[2020-11-17 07:04] ceisserer commented on #2104
too bad there is no progress in uploading insomnia to flathub - I am so used to installing stuff with flatpack, I don't want to go back to the days of downloading tarballs and/or manually adding distribution-specific repos to my package manager configuration.

[2020-11-17 09:17] koldoon-qs commented on #2835
+1, And it seems that overall window behavior is slow, even such operations like minimizing and maximizing (seems like a sort of overall rendering mode issue). In comparison, other electron-based applications work just fine.

[2020-11-17 12:34] speedy-sasquatch-code opened #2843 "Feature Request - Keyboard Shortcut for Download"
I use Insomnia on a daily basis and have to send and download multiple requests a day. It would be really useful if there was a Keyboard binding for Download option or Send and Download option so that I can make my work more effient.

Thank you for your consideration!

[2020-11-17 13:30] ldelossa commented on #2104
TBH i just moved to Postman which has a flathub deployment.

[2020-11-17 16:15] weeebdev opened #2845 "How to create default request body with form data/multiform in Insomnia Designer?"
Normally, we do it like this:
[code]
[code]

How can I create multiform data (with files,etc) instead of `application/json`?

[2020-11-17 19:56] rastislavcore commented on #2838
I found the part related to the mentioned part.
And found out you tested it on the GitHub provider, but in my case is the GitLab instance.
Which rights in the GitLab token should be assigned, please?

![Screenshot 2020-11-17 at 8 56 23 PM](https://user-images.githubusercontent.com/537310/99440783-5b703900-2917-11eb-9875-963d9f18289f.png)

[2020-11-17 20:18] develohpanda commented on #2838
The `git-event` message says you're not allowed to force push to a protected branch.

I believe Gitlab marks the main/master branch as protected by default, and if your user role doesn't have permissions to force push, this will fail. If you _are_ able to push to another branch, then you've selected the correct scopes for the token.

Also, which version of Gitlab are you using?

[2020-11-17 20:26] rastislavcore commented on #2838
GitLab 13.5.3

I will test your suggestion, thank you.

[2020-11-17 21:53] rastislavcore commented on #2838
Seems like unprotect branch enables the Force push for me.
Thank you for your help.

Please, @develohpanda 🐼 update the documentation about GitLab's requirements.

[2020-11-17 21:53] #2838 closed, assigned to nobody

[2020-11-17 22:15] develohpanda commented on #2838
No worries! I have updated the documentation for pushing changes: https://support.insomnia.rest/article/96-git-sync#Pushing_Changes.

[2020-11-18 07:31] Shawyeok commented on #2015
Same problem here, high cpu usage up to 120% when idle.

Process Name: **Insomnia Helper (Renderer)**
[code]

[2020-11-18 08:24] Faisal0sal opened #2848 "Feature Request: Export to web version or to swagger/postman"
In our team we face the issue of having to share our api’s to other people outside of our team. Usually that’s easy with swagger or postman since there’s no application to be downloaded and the web is enough.

That’s not the case with insomnia. I would love for there to be a page to work with insomnia api’s or to be able to export insomnia api’s in swagger/postman types

[2020-11-18 08:29] Shawyeok commented on #2015
![image](https://user-images.githubusercontent.com/5058708/99504274-426c9400-29ba-11eb-9545-35f48d144edf.png)
The process keep holding these file descriptors which the corresponding files are empty, problem hasn't re-occurred since I deleted those files and restarted insomnia.

[code]

![image](https://user-images.githubusercontent.com/5058708/99505105-5a90e300-29bb-11eb-8f98-197449fc00c1.png)

[2020-11-18 09:22] develohpanda commented on #2015
Wow thanks @Shawyeok, that's quite useful. Those files are used for Insomnia's response history, I wonder if they are being cleared correctly. There _is_ a setting in the user preferences to control how much response history is stored, it's possible that Insomnia isn't releasing those files.

Does this ring any bells relating to how you are using Insomnia? Are you restarting the app infrequently,

[2020-11-18 09:27] develohpanda opened #2849 "Hide the active workspace when moving a folder to a new workspace"
**Describe the bug**
Moving a folder shows a modal allowing you to select the new workspace, but it also shows the active workspace in that dropdown. This can be quite misleading and confusing, so let's hide it from the dropdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new workspace (so you have two workspaces with **unique names**)
1. Create a new folder
2. Right click on t

[2020-11-18 09:55] Shawyeok commented on #2015
**Response History Limit: 20**

I rarely restart the insomnia app as well as os unless I have to do, e.g. app/system upgrade, my system is up for 25 days until now.

Depends on what's _many_, now I have 3000+ files with `.response` and `.timeline` suffixes in `responses` folder.

[2020-11-18 10:23] develohpanda commented on #2015
Very useful information - both not restarting the app often and how many files you have in there. Each `.response` file represents one response, so even if the history limit is limited to 20, and like you mentioned most of the files are empty, there could still be a lock/hold on the _file_ at an OS level.

Judging by the other comments in this thread, if you were to simply restart the app and not

[2020-11-18 18:01] BradRyan commented on #468
It would be cool it if there was a way (maybe there is?) to make a template for the documentation within Insomnia itself. Similar to how you can have a default template for new pull requests in GitHub.  Every time I make a new endpoint I am recreating (or copy/pasting) the same format from other requests.  Also, new team member often skip the documentation or don't fill it out with the same format

[2020-11-18 19:59] Nabellaleen opened #2850 "URLs with a `$` are not properly handled"
**Describe the bug**
The RFC3986 (https://tools.ietf.org/html/rfc3986) about URI list the `$` sign as an allowed subdelimiter, which allows you to expose services on URLs like : `https://www.myservice.com/$graphql`

With the current version of Insomnia, this URI is not well handed, as the `$` is converted into `%24` before the request is sent

**To Reproduce**
I've reproduced the error, in particu

[2020-11-18 20:08] StudioDove opened #2851 "Authorization token not being added to request headers"
**Describe the bug**
When attempting to query a GraphQL API I have locally with OAuth2 Implicit credentials, the Authorization header is not being added to the request. I am able to get the Acces Token to populate and if I manually add an Authorization header with that token (prefixed with "Bearer ") it works just fine. However, this requires needing to copy and paste the token into the headers se

[2020-11-19 00:13] #2583 closed, assigned to nobody

[2020-11-20 11:08] KinG-InFeT opened #2854 "various problems, preference page and broked fonts"
**Describe the bug**
click on preference all page white and fonts broked

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Application
2. Click on Preference
3. See error

**Expected behavior**
Page totally white

**Screenshots**
![image](https://user-images.githubusercontent.com/193969/99793463-03a91c00-2b29-11eb-959e-0ae0e39c0f17.png)
![image](https://user-images.githubusercontent.com/

[2020-11-20 11:29] johanhammar commented on #2854
Duplicate of https://github.com/Kong/insomnia/issues/2707

[2020-11-20 14:54] m-v-k commented on #1998
so, it's now november and the issues remain.
we pay for insomnia teams, and collaborate with 25+ devs on multiple workspaces.
i hear a lot of complaints from my devs on the syncing issues, some have it set to manual sync, some automatic.
one complaint i hear a lot:
make changes, hit the sync button, and then they are gone (overwritten from server), while there are no changes on the server (the sta

[2020-11-20 21:45] TheCataliasTNT2k commented on #2723
This is now open for over a month and no one seems to be interested in getting this fixed?

[2020-11-20 21:54] Suncatcher opened #2855 "[Feature request] Enable concurrent runs of API requests"
**Is your feature request related to a problem? Please describe.**
The typical task in my work is load testing, and running API requests through load balancer with redirects them into different servers. With the concurrent API toolset I can test this easily.

**Describe the solution you'd like**
Like specification to run that request in several threads, to different endpoints and/or maybe in diffe

[2020-11-20 21:59] PenguinShade commented on #1486
I'm on version 2020.4.2
I'm also experiencing whenever I try to drag and drop it doesn't do anything.
![insomnia-drag-bug](https://user-images.githubusercontent.com/16569829/99853839-94d3bf00-2b38-11eb-8924-bc4e1da2538d.gif)

[2020-11-21 02:16] doums commented on #2104
It really sucks that insomnia is still not present in flatpak after all this time.
Moving to Postman too..

[2020-11-22 01:24] Matz92 commented on #528
@JCMais that would be great! I love Insomnia and i hope this feature will be added soon

[2020-11-22 05:39] anyforever opened #2856 "The query value add selection mode，OK?"
![Image of example](https://wx3.sinaimg.cn/mw1024/63900ec6ly1gkxw23nbeoj20a905cgli.jpg)

[2020-11-22 08:22] CallMeLaNN commented on #667
Insomnia is the best especially about the simplicity of the UI, plain json environment, E2EE and full GraphQL support.

I'm looking for multi-window support for a long time. This is the only missing feature in Insomnia and it is the only blocker for my team to get Teams plan and keep using multiple tools until now. Having many APIs for OIDC, GraphQL and REST from many backends require many open wi

[2020-11-22 15:47] rkrueger11 opened #2857 "Support for Environment Variables in the Basic Auth Password Field"
Looks like the password field for the Basic Auth works to hide what you type, which is great, but it also seems to lack support for environment variables.

[2020-11-22 23:10] zbuc commented on #2780
I am having the same problem. There is no `data` key in my Swagger 2.0 file but it's (AFAIK) a valid file; other parsers like the one Connexion uses work on my API definition.

Minimal example:

[code]

[2020-11-23 10:11] shreyas-segu opened #2858 "Template rendering not working when "Filter responses by environment" is enabled and there's no environment created"
**Failed to render "placeholder" prior to sending**
When I'm using a template string of type `Response->Body Attribute` and adding this template in the url and/or query parameter. The request is failing to send with the error `Failed to render "Request.url" or "Request.parameters[0]" prior to sending`, but the url preview is rendering as expected. This is happening only when the setting `Filter re

[2020-11-23 13:06] jamescodesthings commented on #2835
+1 I originally got a blank window for ages, thought compatibility was off and went after postman.

Now works but definitely not quick to load.

[2020-11-23 19:31] koldoon opened #2860 "[Bug] Interface is slow on MacOS Big Sur"
After update to the last Mac OS Big Sur interface became slow, application startup is slow and resizing (and even minimizing the window!) is freezing.

[2020-11-23 21:28] reynolek commented on #2860
Hi @koldoon!

Can you provide us more information for us to reproduce? Useful pieces of info would be:

1. Are you running Insomnia or Insomnia Designer? What Version?
2. Are you seeing this slow down with any other Electron applications (such as VS Code, Atom, etc)?

[2020-11-23 21:34] koldoon commented on #2860
I run Insomnia Core 2020.4.2
Release date: 21/10/2020
OS: Darwin x64 20.1.0
Electron: 9.1.1
Node: 12.14.1
V8: 8.3.110.13-electron.0
Architecture: x64
node-libcurl: libcurl/7.69.1 OpenSSL/1.1.1g zlib/1.2.11 brotli/1.0.7 libidn2/2.1.1 libssh2/1.9.0 nghttp2/1.41.0

I don't see such a slowdown in any other electron-based application, such as Skype, Microsoft Teams, Slack, Spotify, VS Code - everything

[2020-11-24 01:33] #2282 closed, assigned to nobody

[2020-11-24 02:03] JaroVoltix commented on #1784
I am getting to a point I have to copy 2-4 fragment for each query. Adding shared fragments would really help

[2020-11-24 02:44] #2769 closed, assigned to nobody

[2020-11-24 04:40] #2805 closed, assigned to nobody

[2020-11-24 09:21] b1az opened #2865 "Can't 'Import Data' from file"
Resolved: had a stray char in the JSON file.

**Describe the bug**
Exported workspace cannot be re-imported, even when both Insomnias are on the same version, i.e. `v2020.4.1` as seen in the first few lines of the exported .json:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My Workspace' (top-left dropdown menu)
2. Click on 'Import/Export'
3. Click on 'Import Data > From Fil