[2019-03-07 15:53] kitsu opened #1398 "Moving folder to workspace copies instead"
### Versions

- Insomnia Version: 6.3.2
- Operating System: Win7

### Details

I was trying to get a little organized this morning, created a new workspace and tried to ship some folders over there. It seemed to work correctly on single requests, but I noticed moved folders still appear in their original workspace.

I checked the request ids between the two workspaces and the requests are separate

[2019-03-07 18:49] gschier commented on #1398
Thanks for reporting this! It sounds like it was probably a design oversight and should be fixed

[2019-03-07 18:51] gschier commented on #1347
I'm glad to hear the RPM worked! I've updated the build system to publish an RPM package to GitHub releases for all future updates. Closing this one for now

[2019-03-07 18:58] gschier commented on #1319
PayPal was considered early on but the amount of work needed to support it far outweighs the demand, unfortunately

[2019-03-07 19:01] gschier commented on #1383
Just to provide a bit of insight here. UI plugins are definitely something that I want to implement eventually. Now that Insomnia is stable, the general goal is to go over the current features 1-by-1 and extend the plugin system so that each can be refactored into plugins.

So, this means authentication, request body editors, response viewers, menu items, etc will hopefully all be possible to exte

[2019-03-07 19:03] gschier commented on #976
@aindong how on Earth did you figure that one out?

[2019-03-07 19:06] gschier commented on #1315
To clarify, are you generating the signature manually or using Insomnia's built-in AWS auth helper?

[2019-03-07 19:10] gschier commented on #1388
I think there's an issue somewhere around here for this already. Unfortunately it's pretty hard to fix.

[2019-03-07 19:12] gschier commented on #208
@kitsu if you want to submit a PR for this I'd be happy to take a look.

[2019-03-07 19:14] gschier commented on #1386
Can you provide a screencast for this? To my knowledge, authentication settings _are_ duplicated successfully.

[2019-03-07 19:18] commodon commented on #1315
using the built-in AWS Auth helper

[2019-03-07 19:21] gschier commented on #831
@barell your mockup looks awesome!

[2019-03-07 19:22] gschier commented on #1344
@viktree it's definitely okay if you want to try 😃

[2019-03-07 20:37] gschier commented on #301
@tolgayildizz please create another issue if you are seeing this again

[2019-03-07 20:43] gschier commented on #1370
I think you might be able to replace `'$.example'` with simply `example` and Nunjucks will include the variable for you. Can you see if that works?

I think there's also a `render()` method exposed to plugins so you could render the `{% faker .... %}` tag directly from inside your plugin, although that would be kind of a hack.

[2019-03-07 20:58] gschier commented on #1162
@rickychandra sorry, I've just been busy. Another PR would be appreciated 😃. My goal is to deal with all the open PRs next week!

[2019-03-07 20:59] gschier commented on #412
Should be in the %APPDATA% directory I think @iquirino

[2019-03-07 21:01] gschier commented on #1373
That's really strange. It doesn't seem to happen on my end (Mac). Maybe an Electron update will fix it?

[2019-03-07 21:17] gschier commented on #1342
This makes a lot of sense and has also come up before for authentication tokens as well

[2019-03-07 21:18] mertvetsky commented on #1373
Yeah, this may solve problem. If needs, I can try build with next Electron, but if updating already in your nearest plans, I'll just waiting.

Btw, in other linux distros (like Ubuntu/Mint) problem doesn't appear.

[2019-03-07 21:22] gschier commented on #1272
Ya I think a way to enable periodic refresh would be good to add back

[2019-03-07 21:40] gschier commented on #1395
Awesome! I added it to the README 😄

[2019-03-07 21:40] #1395 closed

[2019-03-08 09:28] vermgit commented on #708
Is there any chance that we can have support for this please?

[2019-03-08 15:37] danielo515 commented on #1383
Wow, that sounds more like a full-fledged platform for any application that could need network request and not just a request runner 🤣

[2019-03-08 21:54] artoodeeto opened #1399 "[Feature Request] - Run script on directly on Insomnia"
Hello. Is this possible for a feature that you could run script on insomia? Example.
I have to test something at work where I need to notify my fake user account. so i have this body.
[code]

i need to change the id for every request. Since I have a hundred sample ID's I was thinking of putting them in an array and make a simple script that automates my request. sorry if im not being clear.

[2019-03-08 22:52] krainboltgreene opened #1400 "[Feature Request] Type checking requests"
Okay, so here's the idea:

What if a plugin could provide type checking for requests? For example, I often mess up jsonapi requests by hand, but with a type checker that could be very easy to detect. Further, you could expand type checking to type check based on auto discovery services like json-home.

[2019-03-11 17:16] Valpertui opened #1401 "[Feature Request] GraphQL: add a Fragment Structured Request Type"
## Details

I would like to be able to save GraphQL fragments as fragments structured requests type and also have saved GraphQL queries or fragments using the same schema (check if the URL is the same for example) being able to import and use those saved Fragments.
Right now I need to copy paste all my fragments into my structured query request, even though many fragments are shared with other que

[2019-03-11 21:52] #1321 closed

[2019-03-11 22:20] #1313 closed

[2019-03-12 04:31] kzbt opened #1402 "[Improvement] Persist code folding in responses"
- Insomnia Version: 6.3.2
- Operating System: macOS

## Details

Hello,
Would it be possible to persist the code folding of json responses?
Currently any code folding I've done to a response will be gone if I navigate away to another api. Its quite inconvenient when browsing and comparing large api responses

# How to replicate
Create two simple endpoints (eg: httpbin.org/get) and execute both of

[2019-03-12 16:38] #1162 closed

[2019-03-13 10:29] alxpsr commented on #1354
any progress? 🙄

[2019-03-13 12:52] pinggi opened #1404 "[Feature Request] Show id in collapsed json object"
- Insomnia Version: 6.3.2
- Operating System: Win10

## Details

I get response with json containing many items (entities). If I am not interested in their content, I can collapse them. However by doing this I loose their id. The collapsed json object is shown as {<-->}, but I'd like to see it's id { id: "99d610d9-cb4d-4c77-981e-f2d90e6134ca", ... }. To see many {<-->} are useless for me.

What I

[2019-03-13 13:29] AdrianCarreno commented on #532
I'm sorry for reopening this old thread, but I think this is a necesary feature.

When i'm typing a url ending (eg: GET {{myappur}}/users/2) and hit enter, Insomnia autocompletes it and changes my route  (in this example it replaces the 2 with "Hash => SHA256"), so I get an error and have to re-type the route. It's nice to have a suggestion when you type, but it's annoying to have it auto select t

[2019-03-13 17:18] gschier commented on #319
@danielo515 this problem doesn't exist when using a variable in a JSON request. The syntax checker will complain but the request will still send

[2019-03-13 17:20] gschier commented on #454
I just forgot to tag it. It won't get closed now

[2019-03-13 17:22] gschier commented on #476
I don't know enough about Windows to work on this unfortunately

[2019-03-13 17:23] audvin commented on #281
@gschier Can you confirm if Insomnia actually supports OpenAPI import?

I see this issue as closed and accepted, but when I try to import OpenAPI I get `no importers found for file`.

[2019-03-13 19:30] banksio opened #1405 "[Bug] Installer taskbar icon is default Windows Forms icon"
- Insomnia Version: 6.3.2
- Operating System: Windows 10 19H1 Insider Build

## Details

When installing Insomnia via the download button on https://insomnia.rest/, the taskbar icon does not have any title or text associated with it, and the icon is that of the default Windows Forms icon.

![image](https://user-images.githubusercontent.com/30214760/54308671-5f867800-45c6-11e9-93d3-ce82ee2be293.png

[2019-03-13 20:27] albandus commented on #532
- With completion in URL, sometimes there is a small lag before the box gets displayed and I already tried to click on the "Send" button at the same moment the box was displayed: it replaces the query instead of running it.
- My original request was to disable auto-completion about JSON editing: on my most frequent example is with elasticsearch. I do a lot of copy/paste of partial JSON to build qu

[2019-03-14 02:44] #1150 closed

[2019-03-14 08:11] sankalpsans commented on #1404
Although this might make sense in some use cases, and specifically in yours, I see some issues with this.

1. "id" is a naming convention that you are using, there might be many more. A possible workaround would be to specify which field is "ID" for you, but that might add more complexity to the product itself (usability).
2. There might be cases where unique identifier are objects with nested str

[2019-03-14 10:36] kikeh commented on #493
Any updates on this?

This is a very basic feature, I can't believe it is not implemented from the beginning 😢 It is true that it's not something that you do every day, but it is quite annoying whenever you have a lot of requests and want to rearrange them in groups. I hope it gets implemented someday!

[2019-03-14 11:30] mrdan opened #1406 "[Feature Request] Template tag of sub-environment name"
- Insomnia Version: 6.3.2
- Operating System: macOS 10.14

## Details

I have to query a few different api subdomains (same API structure, different data and server) so it'd be cool if I could name the sub-enviroments as the api domain and then have that used to build the query url via a template tag. I already use the folder name in this way to build part of the url and to decide what key should

[2019-03-14 13:33] #1325 closed

[2019-03-14 19:51] leonbreedt opened #1407 "[Feature Request] Allow different font styles"
- Insomnia Version: 6.3.2
- Operating System: macOS

## Details

The ability to choose a font for UI and text editor is great, thank you for adding this. I would like to propose a small tweak.

I noticed the fonts I use most often do not show up in the drop-down list.

After some investigation it seems some pre-filtering is done to exclude non-italic and non-regular styles, in _general.js_.

I ima

[2019-03-14 20:41] leonbreedt commented on #1407
Correction; this hack is not quite right since the settings only stores the family name, and not the selected style - that would also need to be stored for this to work correctly.

[2019-03-15 13:25] mi-mazouz commented on #1102
any updates?

[2019-03-15 21:27] michaeljmcd commented on #281
@audvin - I noticed that Open API v2 JSON worked, but Open API 3 JSON or YAML did not. Wasn't too big a deal to me because the API I am using is fronted by an API gateway that supports all three, but it is a caveat of which to be aware.

[2019-03-17 12:23] enovision commented on #480
+1 for this feature. In my current project I would already clicked it at least hundreds of times. I really would love a collapse all and then easily pick the third node or so from a (large) JSON.

[2019-03-18 09:43] mathieuk commented on #855
Any movement on this? FWIW, I'd like to be able to add status tags too. I'd like to use it to show certain debug information my API endpoints return in dev-mode.

[2019-03-18 11:50] DarrienG opened #1410 "[Bug] Insomnia resolves .dev domains locally unless https:// is provided"
Insomnia version 6.3.2
OS: Arch Linux (fully updated)

## Details

Insomnia doesn't seem to understand .dev domains exist now and resolves locally unless an https:// is added at the beginning.

For example, hit vim.dev versus https://vim.dev

It is reasonable to assume this is actually default behavior (go local without http[s]://) but if you try to hit vim.org, it will not search locally, so I ha

[2019-03-18 16:23] bennettdams commented on #480
+1, could really use this, especially a default option to always expand/collapse the response.

[2019-03-18 17:56] pinggi commented on #1404
1. The property name doesn't have to be "id" always. It can be configurable by specifying list of the property names in an input field. I'm convinced the input field doesn't hurt the configuration neither the usability.

![image](https://user-images.githubusercontent.com/18471834/54550924-3e9a9a00-49ad-11e9-869f-45424062fb5f.png)

2. If it's not a simple type, then only the name + collapsed sign c

[2019-03-18 18:12] audvin commented on #281
Should I open a feature request for Open API 3 support?

[2019-03-18 21:34] maniutek20 commented on #1361
@4ekki You have a lot of luck: I can't add request or folder (Win10 Home)

[2019-03-20 01:58] DarrienG commented on #1410
Huh, it must have been. Everything works now. Sorry for bothering!

[2019-03-20 01:58] #1410 closed

[2019-03-21 17:18] otavioschwanck opened #1411 "Titlebar darker theme, insomnia gets black text instead white."
- Insomnia Version: 6.3.2
- Operating System: Linux Mint 19.1 (occurs on Ubuntu 18.10+ with default theme)

## Details

![image](https://user-images.githubusercontent.com/9551316/54771451-121c9300-4be4-11e9-89a6-9cd32801b7da.png)

In full white theme and full dark theme it runs perfectly.  Probabily its a electron issue, it occurs on franz lately.

[2019-03-21 17:49] exception117 opened #1412 "[Feature Request] Mask preview for user inputs"
- Insomnia Version: 6.3.2.2588
- Operating System: macOS

## Details

For the `Prompt` tag, if the Mask Text option is selected and using the Storage Key option, the value displayed in the Live Preview should also be masked (or the Live Preview should be disabled). The use case is if I'm sharing my screen and pull up the tag editor, I don't want my secret to accidentally be revealed unless I inten

[2019-03-22 10:24] codephobia opened #1413 "[Feature Request] – Hide sensitive information (similar to Basic Auth password)."
A way to hide tokens, OAuth information, etc from both the input forms, and the response headers. When using the app during content creation (Twitch, YouTube, screencaps, etc) it would be nice to show what is being done without worrying about leaking keys.

[2019-03-22 20:25] XReaper95 opened #1414 "Download After Send cannot cancel request"
- Insomnia Version: 6.3.2
- Operating System: Manjaro Linux 18.0.4

## Details

Hi, so i recently discovered the "Download After Send" option, it works fine and find it very useful with some scripts i'm using.However, i am unable to cancel the request(using the 'Cancel Request' button) once sent when using this mode.Also, a little request, when downloading the answer, in the response window only s

[2019-03-25 20:00] AgentFire commented on #1318
yeah? well, which activity do u need, lol. the issue is still there.

[2019-03-25 21:43] dmhalejr commented on #1156
I've got a working prototype of at least GraphQL calls being ported properly into Postman collections v2.1.0 schema. @KevinSnyderCodes are you still working on this? Is there any extended post call examples you can provide @gschier?

Will probably just use it for my purposes for now and strengthen the code if I should make it feature candidate quality

[2019-03-26 01:56] sandeeepbethu opened #1415 "[Bug] Double curly braces with text inside"
[Question] – How to pass a request body which has curly braces and text inside it?
- Insomnia Version: 6.3.2
- Operating System: MacOS HighSierra

## Details
I am seeing encoding issues when i end data like {{store_logo}} in request body. I tried checking and unchecking the box `automatically encode spl characters n URL` but of no use!

[2019-03-26 09:26] #1348 closed

[2019-03-26 16:30] jackTaw88 opened #1416 "More details on timeline"
Hi,

It is possible to show more details on timeline? At least can it be optional?

For example the details of handshake: https://www.ibm.com/support/knowledgecenter/en/SSFKSJ_7.1.0/com.ibm.mq.doc/sy10660_.htm

Thank you

[2019-03-26 21:15] #1251 closed

[2019-03-26 21:15] #1250 closed

[2019-03-26 22:15] #1330 closed

[2019-03-27 02:15] #1324 closed

[2019-03-27 11:16] b3none commented on #1413
Potentially viable solution:
https://stackoverflow.com/a/45451268/8471992

[2019-03-27 12:44] stdedos opened #1417 "[Improvement] Parse "Run in Postman" / Environment JSONs"
- Insomnia Version: _Help->About does not work, no idea :/ `apt-get` hasn't provided an update though_
- Operating System: Ubuntu 16.04.5

## Details

Import from URL should work with e.g.:

* https://app.getpostman.com/run-collection/1755573c5cf5fbf7968b <br/> (`--> Web View` https://app.getpostman.com/view-collection/1755573c5cf5fbf7968b?referrer=https%3A%2F%2Fapp.getpostman.com%2Frun-collection

[2019-03-28 09:41] ChangeTheCode opened #1418 "[Feature Request] Export workspace without environments"
**[Feature Request]**
I would to like to have a function to export a workspace / collection without my environments.

Now maybe little bit more explanation for this feature.

If I use insomnia i have in each environments secrets but I store my insomnia in a git like my source code. In this case I have several benefits
1. My test collection has all request which i need for the current code base
2.

[2019-03-28 10:02] nicktunac opened #1419 "[Bug] Hover request url overflow with textbox"
- Insomnia Version:
![image](https://user-images.githubusercontent.com/7882308/55148595-778ff700-5183-11e9-927c-933866d40988.png)

- Operating System: Windows 10

## Details

![image](https://user-images.githubusercontent.com/7882308/55148568-6cd56200-5183-11e9-8ba9-45898b5fff49.png)

When checking for the previous requests, and hovering the URL, if the URL is long. It'll not be readable.

[2019-03-28 15:47] helioalb opened #1420 "[Bug] – Typo: PTCH insted PATCH"
- Insomnia Version: 6.3.2 (6.3.2.2588)
- Operating System: macOS Mojave 10.14.3 (18D109)

## Details

![typo](https://user-images.githubusercontent.com/349951/55171674-8f518600-5157-11e9-912f-a5add0b0a66b.png)

[2019-03-28 16:00] gschier commented on #1420
Method names are intentionally truncated in the sidebar to a maximum of 4 characters so they don't take up too much space. For example, `DELETE` will become `DEL` and `OPTIONS` will become `OPT`.

<img width="264" alt="image" src="https://user-images.githubusercontent.com/587576/55172733-e43dce00-5150-11e9-9f82-c1123e452235.png">

[2019-03-29 09:41] dominik-lekse commented on #1354
I have tried to import the following Swagger 2.0 spec without success: "No importes found for file"

https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/managedClusters.json

[2019-03-29 09:46] pinggi opened #1421 "[Feature Request] Stringify before sending"
- Insomnia Version: 6.3.2
- Operating System: Win 10

## Details

I need to send a json string containing a json inside to a rest endpoint.
Currently I write it like this:

[code]

but it's difficult to write it and hard to read. I'd like to write it somehow like:

[code]
so I can clearly see the data to be sent and wouldn't have to escape characters.

I believe it's not possible now, so I'm marki

[2019-03-29 18:17] diegosps commented on #217
My use case would be the following:
I have _n_ possible requests that create a _ticket_ at the database and return the created id.
Later, I also have a number of requests that manipulate the created ticket and requires its id.

With this scenario, I have to declare the ticket_id as an environment variable and update it manually according to the result of the chosen create ticket request.

The chai

[2019-03-29 23:13] rcranney commented on #480
+1 for this feature....

[2019-03-30 18:37] RuslanZavacky commented on #1262
@gschier is there a way how to change this setting now, without UI changes?

[2019-03-31 15:51] coolhome commented on #1145
This might be a good resource for whoever wants to implement this https://github.com/chromium/chromium/blob/9a08a5e480434999d3cfa852b35c45aae1ea9b48/third_party/blink/renderer/devtools/front_end/network/NetworkLogView.js#L1781-L1833

[2019-03-31 15:52] coolhome commented on #1145
Chrome's Developer Tools has the ability to copy network requests as PowerShell. This might be a good resource for whoever wants to implement this.
https://github.com/chromium/chromium/blob/9a08a5e480434999d3cfa852b35c45aae1ea9b48/third_party/blink/renderer/devtools/front_end/network/NetworkLogView.js#L1781-L1833

[2019-03-31 16:51] gschier commented on #1415
You can disable rendering of the request body in the request settings.

<img width="442" alt="image" src="https://user-images.githubusercontent.com/587576/55292022-b3110800-53b3-11e9-9be4-da199f9c3033.png">

[2019-03-31 16:51] #1415 closed

[2019-03-31 16:52] #1420 closed

[2019-04-01 06:42] hollesse commented on #1003
@gschier I would like to use insomnia in our company. At the moment we are using postman. Insomnia have a lot of benefits but also one big disadvantage and thats the autosaving. In our Postman collection that we share we have a some requests for our different services, but the most time we test some special cases where we have to edit the request. Therefore i now have to duplicate a request to cha

[2019-04-01 10:41] soderluk commented on #1360
Any thoughts on this?

[2019-04-01 15:17] natebrunette commented on #1357
boop

[2019-04-01 15:53] DavidMCook commented on #1156
It looks like this was never done? Shame, it would be so helpful to have.

[2019-04-01 18:48] mim-Armand opened #1423 "[Feature Request] OAuth 2 missing Identity token."
- Insomnia Version: `6.2.3`
- Operating System: Mac OSX

## Details

OAuth specification document provides two kinds of token, `access` token and `identity` token, The **Insomnia** OAuth 2 module works beautifully for most of the things as it exposes and uses the `Access_token` (in addition to `refresh_token`) which is used more often, there are a few oddballs however that need `identity_token` fo

[2019-04-01 18:55] mim-Armand commented on #1423
As I was talking with @gschier , I have made a few changes to the source code of the OAuth2 module and rebuild the project to see if it's working, and it does work nicely! as a matter of fact, OAuth2 module receives the `identity_token` at the same time as `access_token` and `refresh_token`, it doesn't show it however in the UI ( it's simply ignored for OAuth protocol ), which may make sense in mo

[2019-04-01 23:10] FallingSnow commented on #997
@gschier HTTP/2 does not appear to be working for me.

[code]

When using the firefox extension [RESTClient](https://addons.mozilla.org/en-US/firefox/addon/restclient/) it works as expected.
![Screenshot from 2019-04-01 16-08-33](https://user-images.githubusercontent.com/2512197/55365194-6f43fe80-5498-11e9-875f-bda875d13b0e.png)

However Insomnia is another story. It reacts the same way as Postman

[2019-04-02 09:25] 4n70w4 commented on #1202
Any news? I'd like to start using plugins!

Maybe there is some other way to install plugins in Windows?

[2019-04-02 10:00] WingGithub commented on #997
@FallingSnow , there may be some other issue in your use case. Postman works with HTTP2 and the error message I get when I try to use insomnia with http2 looks like this: Error: SSL connect error.

[2019-04-02 10:45] Wazbat commented on #1202
It is possible to install some things manually as a workaround, but the main install remains broken.

For example, to install insomnia-plugin-faker I had to:
Create a new npm project
Install insomnia-plugin-faker via npm install insomnia-plugin-faker, which included dependencies
Create a node_modules folder inside the insomnia-plugin-faker folder, and move every dependency that was downloaded into

[2019-04-02 14:08] mcnemesis opened #1424 "[Feature Request] JSON to Form-Encoded HTTP POST"
- Insomnia Version: 6.2.3
- Operating System: Win10

## Details

In situations where you (already) have your payload encoded as JSON, it would be great to be able to merely paste in the JSON, and have the option to tell insomnia to post it as a key:value collection that's Form or URL Encoded for example.

[2019-04-02 17:00] #1351 closed

[2019-04-02 19:43] joseffb-mla commented on #1022
deleting ~/Library/Application Support/insomnia.Response.db worked for me and saved my history.

[2019-04-03 01:01] senoctar commented on #1202
The root cause is not likely to be solved, it seems to be a reoccurring issue randomly affecting projects:
https://github.com/sass/node-sass/issues/2168
https://github.com/symfony/webpack-encore/issues/281

I created a PR for a fix that tries to go around the problem: https://github.com/getinsomnia/insomnia/pull/1425

[2019-04-03 01:39] junaidbhura commented on #451
This feature would complete this app!

[2019-04-03 19:35] franticallycodes commented on #1355
Hi there; just switched from Postman and I love Insomnia.

I'm having this same issue when trying to install a different package.
[code]

[2019-04-03 20:47] FallingSnow commented on #997
Correct, postman also has an [issue open](https://github.com/postmanlabs/postman-app-support/issues/2701) for using http2.

It looks like the error you're receiving with Insomnia has to do with SSL rather than HTTP2.

[2019-04-03 21:03] FallingSnow commented on #997
Good news. The develop branch does in fact support HTTP2 on at least Linux. I just followed the develop instructions to compile and start the app and bingo, it worked!

[2019-04-04 08:48] Sun-FreePort commented on #1372
...

[2019-04-04 08:48] #1372 closed

[2019-04-04 14:49] pinggi opened #1426 "[Bug] Insomnia takes 99% of CPU"
- Insomnia Version: 6.3.2
- Operating System: Win 10

## Details

1. A rest service in a debug mode
2. Insomnia sends a request
3. The rest service is stopped at a break point
4. Insomnia takes 99% of cpu, the laptop starts overheating, the fan is noisy, the cpu throttles, everything is slow and unusable!

This happens when Insomnia is maximized on 4K display.
When it is minimized, it's ok and Ins

[2019-04-04 20:36] jfitchett56 opened #1427 "[Help] Request Fails"
I have a rest call that works in one tool only and I cannot find why.  I just tried it in insomnia and it fails returning blank page.  I'm hoping the log will shed some light but its a lot go Greek to me.  If someone has a moment to take a look and offer suggestions that would be very nice.
Log results:

[code]

[2019-04-05 14:45] mohanjoyappa opened #1428 "How to remove double quotes from HTTP response body in environment variable?"
- Insomnia Version: 6.3.2
- Operating System: Win 7

## Details

I am trying to use environment variable to capture I previous request's response body  and passing that  response to  my next request. My first request response produces id as  "sampleid"  (response contains double quotes)

Is there any way for me to strip the double quotes so that environment variable stores it as sampleid instead o

[2019-04-05 17:29] ThHareau commented on #1347
I had a similar issue with slack on fedora (which is also using electron). I don't know if it's related.

Anyway, the rpm worked for me also

https://ask.fedoraproject.org/en/question/129141/slack-not-running-on-fedora-29/

[2019-04-06 14:30] #1353 closed

[2019-04-06 18:36] brendano86 commented on #1424
Today when switching from JSON to form based, it puts the full JSON blob in the first item.  Would be nice if it did a key/value match instead

[2019-04-07 15:29] gschier commented on #1427
Looks like your request has a redirect, which is causing it to convert from `POST` to `GET`.

The redirect is going from `/cp/reqserv` -> `/cp/reqserv/` so if you add a trailing slash to your URL it should prevent the redirect from happening.

[2019-04-08 00:23] gschier commented on #1369
Thanks. Added.

[2019-04-08 00:23] #1369 closed

[2019-04-08 00:35] gschier commented on #1402
I just took a brief look around for ways to do this in [CodeMirror](https://codemirror.net/doc/manual.html) but wasn't able to find a way. There's already some logic for persisting scroll position, selections, cursor, and edit history if someone else wants to look into this further:

https://github.com/getinsomnia/insomnia/blob/0333244d332e5c765e9e02d4666d0b7ac7275255/packages/insomnia-app/app/ui/

[2019-04-08 03:40] #1356 closed

[2019-04-08 03:53] gschier commented on #1428
Yes, Insomnia variables are just UI on top of Nunjucks template variables. If you enable Nunjucks power user mode in settings you'll be able to see the raw Nunjucks syntax and apply a substring or replace filter on your variable.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-08 08:39] #1359 closed

[2019-04-08 16:03] gschier commented on #1364
Does Apollo support exporting data like this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-08 16:06] gschier commented on #1423
I think some sort of toggle would work but only show it if both are detected

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-08 16:13] jhalborg commented on #1364
Yes,

https://github.com/apollographql/apollo-tooling#apollo-clientextract-output

😄

[2019-04-08 17:01] mim-Armand commented on #1423
That's a good idea!

[2019-04-08 17:10] brendano86 commented on #1344
@viktree are you still looking to do this?  I was *also* considering it 😄

[2019-04-08 17:39] viktree commented on #1344
@brendano86 Kinda left this for a little while. Have at it 😄

[2019-04-08 19:05] mohanjoyappa commented on #1428
Excellent. Thank you.

[2019-04-08 20:33] SystemDisc commented on #1232
This really needs to be fixed. Please add an option to not automatically create links from URLs.

[2019-04-08 21:56] relgames commented on #1030
Hi, I faced the same issue: can't use single quotes in JSONPath, like $.data['my-test']

Is there a workaround?

[2019-04-09 05:38] ggicci commented on #203
1. `/users/{% placeholder "user id" %}/posts/{% placeholder "post id" %}` vs. `/users/:user_id/posts/:post_id`, I prefer the latter. Are you happy to type so many letters and finally make such a tedious URL?
2. Instead of bringing up new tabs or windows, why not to integrate with `Query` tab? #364 had already pointed out the right solution, which is user-friendly, IMO.

[2019-04-09 12:18] Nta1e commented on #451
I agree @junaidbhura

[2019-04-09 19:02] gschier commented on #1367
Can you provide a sample import file that can be used to reproduce this?

[2019-04-09 21:29] JavaFrame commented on #1030
The only workaround I found (haven't checked since I write the issue) is to switch to the Nunjuck Power User Modus in the settings (a restart is required) and escape it manually and then switch back again.

[2019-04-10 00:19] #1358 closed

[2019-04-10 02:45] spider4216 commented on #1181
I wanted to create feature request to offer possibility to edit variables in modal dialog and suddenly found that other users have already created this issue. For me this feature will be very useful. Edit variable in modal dialog will be able to make manage variables function more friendly and conveniently

[2019-04-10 03:42] nkl90 commented on #1181
This is a very useful feature, please add it!

[2019-04-10 17:57] spider4216 opened #1431 "[Question] 32bit in documentation's category "Installation""
The main problem is: documentation's category "[Installation](https://support.insomnia.rest/article/23-installation)" doesn't have any information about 32bit and 64bit in Linux section.

According to manual I tried to install insomnia on my 32bit pc via snap, but it didn't run. It took some times until I realized that very old version of insomnia from edge channel was used by snap

`snap info ins

[2019-04-11 18:47] JavaFrame commented on #1030
The only workaround I found (haven't checked since I write the issue) is to switch to the Nunjuck Power User Modus in the settings (a restart is required) and escape it manually and then switch back again.

[2019-04-11 20:40] #1346 closed

[2019-04-12 02:15] captn3m0 opened #1432 "[improvement] Use OS CA certs when possible"
- Insomnia Version: 6.3.2.1
- Operating System: Linux  5.0.7-arch1-1-ARC

## Details

Ref:

https://github.com/getinsomnia/insomnia/blob/776b3bd31e86f947dac26709a81d670cb3acc416/packages/insomnia-app/app/network/network.js#L348-L362

`libcurl` on linux gives the same functionality, and there should be no need to rely on a insomnia-provided CA bundle.

[2019-04-12 02:56] gschier commented on #1432
Do you know if this is this new curl behavior? A few years ago this logic was definitely required and was the suggested way of doing in by the libcurl docs. It's the reason they provide an up-to-date CA bundle https://curl.haxx.se/docs/caextract.html

I can't seem to find any mention of this requirement in the docs anymore but I also cannot find any information on the change.

Also remember, Insom

[2019-04-12 03:04] gschier commented on #1431
I appreciate the feedback and I've added a note to the Troubleshooting section 🥇

[2019-04-12 03:04] #1431 closed

[2019-04-12 03:12] gschier commented on #1426
Hmm, that's strange. Well the spinning icon uses a CSS animation which would be GPU-accelerated. I can't seem to reproduce the problem on Mac though.

<img width="784" alt="image" src="https://user-images.githubusercontent.com/587576/56009824-26b5ed80-5caf-11e9-991c-da3ae0945b40.png">

Can you provide your CPU/GPU models?

[2019-04-12 03:13] #1428 closed

[2019-04-12 03:15] gschier commented on #1418
You can do this by creating "Private Environment"

<img width="373" alt="image" src="https://user-images.githubusercontent.com/587576/56009944-9fb54500-5caf-11e9-81f3-e7d8566133ff.png">

[2019-04-12 09:26] tkvlnk commented on #451
+1

[2019-04-12 18:33] jluiz20 commented on #905
I am having the same issue using Ubuntu 18.04.2 LTS and Insomnia 6.3.2 installed using snap

[2019-04-12 19:07] captn3m0 commented on #1432
I meant that it comes bundled with every linux distro these days, and insomnia on linux should set up the ca-certificates package as a dependency instead of bundling its own.

I thought that this must be standardized in some way, but [it doesn't look like it](https://serverfault.com/a/722646).

Node seems to come with it hardcoded though: https://github.com/nodejs/node/blob/master/src/node_root_ce

[2019-04-13 05:08] ferronrsmith opened #1434 "Disable Autosave"
Sometimes I want to run a quick test without actually saving the changes. Is there a way to disable the auto-save feature ? Thanks

[2019-04-13 07:26] parasuramln opened #1435 "[Help] unable install plugun"
npm i insomnia-plugin-validator npm error: Command failed: "C:\Users\z003s16f\AppData\Local\insomnia\app-6.3.2\Insomnia.exe" --no-deprecation C:\Users\z003s16f\AppData\Local\insomnia\app-6.3.2\resources\bin\yarn-standalone.js info npm i insomnia-plugin-validator --json
{"type":"error","data":"Too many arguments, maximum of 2."}

[2019-04-13 15:51] #1365 closed

[2019-04-13 16:46] gschier commented on #1435
What did you enter into the plugin field of insomnia?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-13 16:48] gschier commented on #1434
No, There's no way to disable auto save at the moment

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-13 17:04] pinggi commented on #1426
The models are:
CPU: i7-8650U
GPU: Intel(R) UHD Graphics 620

[2019-04-13 17:10] ferronrsmith commented on #1434
That’s a bummer, it’s nice at times to have it, but other times it’s annoying. It forces you to use environments even for simple tests just to avoid overwriting existing requests. Is this something that can be added ? Either by a plug-in or to the settings menu ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-14 08:09] senoctar commented on #1421
Is your use case to encode some json inside a json property?
Many APIs are "envelope" APIs, that is they have a JSON model and are used to carry a client-defined payload. Most clients would use JSON for the payload so we end up needing to write JSON as a string value for a JSON property.

I wrote a plugin for this use case: https://github.com/senoctar/insomnia-plugin-inception
Let me know if it wo

[2019-04-14 08:41] senoctar commented on #1416
Some SSL handshake details are printed in the timeline as output from cURL. Sessions can be kept open for a while and you won't see the details every time because a handshake is not performed.
Here is an output for an expired certificate:
![image](https://user-images.githubusercontent.com/970918/56090369-3e0cfa80-5eaa-11e9-8a94-19ddbf3e9902.png)

[2019-04-14 13:35] Neurrone opened #1436 "[Improvement] Improve accessibility for screen reader users"
- Insomnia Version: latest, 6.4.3
- Operating System: Windows 10 1809__

Insomnia works fairly well out of the box, since most elements read correctly, but there are some things that could be improved.

All testing done with the [NVDA screen reader](https://www.nvaccess.org/).

#### Offscreen content is still visible to screen readers

There is some content that is visually hidden that still shows

[2019-04-15 15:48] #1350 closed

[2019-04-15 21:09] tarwich commented on #645
Can this please get re-opened @gschier? I don't see any resolution for this issue.

[2019-04-15 23:32] gschier commented on #1434
There's an issue over here that has a bit of a discussion on it https://github.com/getinsomnia/insomnia/issues/1003

I'm going to close this one as a duplicate

[2019-04-15 23:32] #1434 closed

[2019-04-16 17:37] gschier commented on #1432
Based on that it seems like the best idea might be to check those common directories and fallback to the bundled CAs if they don't exist. We could also make the path configurable in the app preferences.

Let me know if you want to take this one on and I can point you in the right direction (if needed).

[2019-04-16 19:23] captn3m0 commented on #1432
Sounds good. I'll wrap it into a separate NPM package if that makes sense (or if I can't find one).

Just checking, but this wouldn't affect https://github.com/getinsomnia/insomnia/issues/675 right?

[2019-04-16 22:13] maxsitu commented on #363
Anyone looking into this? I think it is useful especially for authentication/authorization

[2019-04-16 22:26] senoctar commented on #1399
This is possible with the [Chance](https://www.npmjs.com/package/insomnia-plugin-chance) plugin.
Install the plugin and use the template tag with "Pick One". Edit the tag an enter the values as an array under Options:
![image](https://user-images.githubusercontent.com/970918/56248071-8ea17500-60af-11e9-96c5-551df032f098.png)
Your body in the editor should look like this:
![image](https://user-imag

[2019-04-17 03:29] artoodeeto commented on #1399
thank you so much!!! I was thinking of doing a bash script and curl for http. thank you

[2019-04-17 13:45] clery opened #1437 "[Bug] Rendering laggy on Mac"
- Insomnia Version: 6.3.2.2588
- Operating System: macOS Mojave (10.14.4)

Same issue on both a 2016 and 2018 MacBook Pro

## Details

Insomnia gets laggy when editing or rendering a rather large GraphQL request.

Here is an example request for https://swapi.graph.cool/
[code]

When trying to add a field or pretty much any kind of text, the whole thing gets laggy.
Also, when switching from one wor

[2019-04-17 17:53] gschier commented on #1437
Ah yes, I noticed this a while ago and it's already fixed in the develop branch. Thanks for the report!

[2019-04-17 17:53] #1437 closed

[2019-04-17 19:03] dcatt-haiku opened #1438 "[Bug] Generate Code for Ruby is not requiring the OpenSSL library when needed"
- Insomnia Version: 6.3.2
- Operating System: Mac OS 10.14

**Steps to Reproduce**
1. create a new GET request for https://www.example.com/
2. **Generate Code** for Ruby
3. observe that **require 'openssl'** is not included in the generated code
4. execute generated Ruby code
5. observe an exception for **NameError: uninitialized constant OpenSSL** is raised

_code that is currently generated by t

[2019-04-17 22:09] gschier commented on #1436
Thanks for taking the time to write this up! I will add `aria-hidden` attributes to the hidden content right now since that is straightforward.

For the editable fields, we might be blocked on this CodeMirror issue: https://github.com/codemirror/CodeMirror/issues/4604

[2019-04-18 01:18] Neurrone commented on #1436
Since this offscreen content is meant to b hidden for everyone, i suggest using the hidden attribute instead.

There is a recemt firefox patch that fixes the code mirror issue. Will look for it

Sent from my iPhone

________________________________
From: Gregory Schier <notifications@github.com>
Sent: Thursday, April 18, 2019 6:09 AM
To: getinsomnia/insomnia
Cc: Dickson Tan; Author
Subject: Re: [g

[2019-04-18 05:08] gschier commented on #1436
Ah, thanks! I didn't know about the `hidden` attribute.

[2019-04-18 05:11] gschier commented on #1432
Yes, it should not affect #675. Unless you are also planning on making it configurable too. In that case, you'd be able to close #675.

[2019-04-18 05:12] gschier commented on #1438
Insomnia uses the [`httpsnippet`](https://github.com/Kong/httpsnippet/issues) library for code generation so this bug report should be directed there.

[2019-04-18 08:11] GrayedFox opened #1440 "[Feature Request] Default Sync Behaviour"
- Insomnia Version: 6.3.2
- Operating System: Windows 10/Ubuntu 18.04LTS

## User Story

As an Insomnia shared collection user, I would like to set a default sync behaviour, so that I don't have to set it each time I open a collection for the first time on a new machine.

**Must Have**
- I can set a default sync behaviour that is tied to my account so that signing in remembers my default sync beha

[2019-04-18 13:46] Neurrone commented on #1436
@gschier thanks for being willing to help with this.

forgot to also mention that `display: none` would have worked too. See this [article on hiding content](https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html) for more info.

Pending CodeMirror 6 which should fix the editor, there is a workaround implemented in Firefox now to allow codemirror editors to work - this is [the MR introd

[2019-04-18 14:41] captn3m0 commented on #1432
Package created: https://www.npmjs.com/package/find-root-ca-cert

[2019-04-18 17:52] gschier commented on #1440
Hi @GrayedFox!

The sync behavior is about to undergo a major change which will address this. In summary, sync will be transitioning to a more Git-like workflow, favoring manual sync over automatic sync. This will give teams much more control over how and what gets synced with team members. I'll leave a few screenshots below of what it will look like.

![](https://user-images.githubusercontent.com

[2019-04-18 18:13] #1273 closed

[2019-04-18 18:40] gschier commented on #1412
Ah yes, nice catch. Will fix this right away

[2019-04-18 21:01] #1412 closed

[2019-04-18 23:30] gschier commented on #532
This was actually fixed by https://github.com/getinsomnia/insomnia/pull/1323 and will be out in the next release

[2019-04-18 23:30] #532 closed

[2019-04-19 06:07] #1368 closed

[2019-04-19 14:03] nvengal commented on #1087
@j-collier is this still being worked on? I've run into a system where using the space to override the prefix seems to cause an invalid token error.

[2019-04-19 18:35] gschier commented on #1421
Woah, that plugin is very cool @senoctar!

[2019-04-19 18:41] gschier commented on #1421
One other thing that might be useful:

If you have an object as an environment variable like this:

[code]

you can stringify it using Insomnia's template language (Nunjucks) by applying a filter like this:

[code]

https://mozilla.github.io/nunjucks/templating.html#dump

I'm going to close this issue as it seems like the question has been answered but feel free to follow up if it's still unclear.

[2019-04-19 18:41] #1421 closed

[2019-04-20 02:15] develohpanda commented on #1419
Hey @gschier, I've set up my local env and can take a look at this bug. :)

[2019-04-20 03:43] gschier commented on #1419
Awesome, thanks @develohpanda !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-20 12:08] develohpanda commented on #1329
Hey @gschier, I had a stab at this feature request and added my thoughts to the PR description. :)

[2019-04-21 11:01] nkkollaw opened #1443 "[Bug] Sidebar drag and drop freeze"
- Insomnia Version: 6.3.2
- Operating System: Xubuntu 18.04

## Details

When I try to sort request groups in the sidebar, the app completely freezes and I have to kill it and restart it.

This was a problem connected to Electron actually (https://github.com/electron/electron/issues/14430 I believe), but it had been solved. Now it appeared again.

[2019-04-21 14:38] YECharles opened #1444 "How package the app to exe on MAC OS?"
- Insomnia Version: ___
- Operating System: ___

## Details

[2019-04-21 21:05] gschier commented on #1444
The only way to package it for windows is on a windows machine due to the native dependency on libcurl. Insomnia uses the Appveyor environment for its builds if you're curious

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-21 21:05] #1444 closed

[2019-04-22 04:54] #1374 closed

[2019-04-22 07:06] samarthya commented on #1022
Deleting deleting ~/Library/Application Support/Insomnia/insomnia.Response.db worked for me.

[2019-04-22 11:54] #1332 closed

[2019-04-22 15:58] danizen opened #1445 "Built-in URI encoding function"
- Insomnia Version: 6.3.2 (Shell 3.04)
- Operating System: Windows 10 with Node 10.2.0)

## Desired Behavior

If a variable is inserted in the Path of a request, it should be an option on the dialog  for the variable to URI encode the variable or not.  Another option would be to have a `uri_encode` function plugin built-in to insomnia.

## Actual Behavior

When a variable is inserted into the Path

[2019-04-22 18:32] gschier commented on #1443
Does this still happen in 6.4.0? I'm not able to reproduce it on my Mac unfortunately. I've heard of it happening on Mac too though but it seems to only happen on certain setups.

[2019-04-22 18:40] nkkollaw commented on #1443
@gschier yup, just installed 6.4 and it's still happening.

Also, I don't know if there's a switch that I can use, but even if I launch it from the command line there is no error.

[2019-04-22 19:13] gschier commented on #1443
There probably isn't an error message if it's hanging.

Also going to close this one as a duplicate of #1373
Please move further discussion there

[2019-04-22 19:13] #1443 closed

[2019-04-22 19:18] gschier commented on #1373
So I think the only way forward on this one is to wait for Electron to fix it. There might be a fix in 4.x already but there were some build issues caused by the upgrade and I didn't have the time to spend to fix it. I'll try and get an upgrade into the next release though.

[2019-04-22 19:24] nkkollaw commented on #1373
@gschier : are you able to reproduce the problem?

[2019-04-22 19:26] #1419 closed

[2019-04-22 19:30] #1329 closed

[2019-04-22 19:43] gschier commented on #1427
Going to close this one as it looks like user error but feel free to comment and I'll re-open

[2019-04-22 19:43] #1427 closed

[2019-04-22 19:44] gschier commented on #1435
Going to close this one as it looks like a user error.

From the message you posted, it looks like you entered `npm i insomnia-plugin-validator` instead of `insomnia-plugin-validator` into Insomnia

[2019-04-22 19:44] #1435 closed

[2019-04-22 19:47] gschier commented on #1373
I haven't been able to reproduce it no. Perhaps it depends on something external to the application like mouse/monitor/etc settings?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-22 21:38] nkkollaw commented on #1373
No idea, but I doubt it. The same thing happened in VS Code, and they fixed it (I guess by upgrading Electron).

This is most probably the bug in Electron that it's causing the crash: https://github.com/electron/electron/issues/12820/

Unfortunately I have no idea how Electron apps work or I'd create a pull request. I'm just here to complain :-D

[2019-04-23 01:44] nicktunac commented on #1419
Thanks @develohpanda

[2019-04-23 07:25] stdedos opened #1446 "[Bug] Ctrl+Q is marked, but does not close Insomnia"
- Insomnia Version: 6.4.0
Version 6.4.0
Shell 3.0.4
Node 10.2.0
V8 6.6.346.32
Architecture x64

libcurl/7.61.1 OpenSSL/1.1.0h zlib/1.2.11 nghttp2/1.29.0
- Operating System: Ubuntu 16.04.5

## Details

![Screenshot 2019-04-23 10:24:05](https://user-images.githubusercontent.com/133706/56562456-0e4ca980-65b2-11e9-94cc-46d3810c9ec7.png)

[2019-04-23 07:29] ypxio opened #1447 "[Bug] - Error: Invalid export format dataStr. Must be "json" or "yaml""
- Insomnia Version: Version 6.4.0 (6.4.0.2712)
- Operating System: macOS Sierra (Version 10.12.6)

## Details

When try to export All Workspaces, this error appear. Only works for export to `.yaml` but not for `.json`

![image](https://user-images.githubusercontent.com/1691373/56562639-0c93dd80-65d4-11e9-8db5-ec500816b5da.png)

[2019-04-23 11:17] ngetahun opened #1448 "[Feature Request] Generic request template"
- Insomnia Version: Version 6.4.0 (6.4.0.2712)
- Operating System: macOS Mojave Version 10.14.4

## Details

Hi guys,
First off I want to say I love the work you're doing here. I wanted to ask if we could have a feature of creating basic request template. Whenever I create a new request, I find myself having to configure the request Headers, target url, etc.. and this seems like a good use case fo

[2019-04-23 11:35] Vyoam commented on #776
For note, Ace seems to support it. A bit weird how this request was outright closed in CodeMirror.
https://github.com/ajaxorg/ace/issues/3121
https://ace.c9.io

[2019-04-23 12:13] michael-82 opened #1449 "[Bug] OAuth2 Panel not working correctly"
- Insomnia Version: v6.4.0
- Operating System: ubuntu 19.04

## Details

When trying to change the Grant Type on the OAuth2 Tab, all options are visible in the selectbox, but no matter what I choose, it stays on "Authorization Code". Same when I try to uncheck the "Enabled" Checkbox - nothing happens.

I downloaded 6.3.2 again, and there it was still working.

[2019-04-23 12:37] abdullahsari opened #1450 "[Bug] 6.4.0 exceptionally slow"
- Insomnia Version: 6.4.0
- Operating System: macOS Mojave 10.14.4

## Details

After the automatic update today, I immediately noticed a severe performance hit with the API client. Expanding/collapsing folders take almost half a second and editing is a nightmare now since the changes do not appear instantly. 6.3.2 was working just fine without any issues, using a MBP mid 2015 model.
I am revertin

[2019-04-23 12:40] kernelp4nic opened #1451 "[Bug] EDN Formatting, Optional commas highlighted as errors"
- Insomnia Version: `Version 6.4.0 (6.4.0.2712)`
- Operating System: `macOS Mojave 10.14.4`

## Details

Commas in EDN are highlighted as errors in the latest release:

![image](https://user-images.githubusercontent.com/519481/56581574-a4c99c80-65ab-11e9-81a9-62fe8598b84d.png)

Commas are optional in EDN notation, from docs:

This wasn't happening on previous releases.

[2019-04-23 13:56] rbrianhazzard commented on #1449
Seeing the same issue on Windows 7 - I can't change any of the dropdown / checkbox fields on the OAuth 2 tab. Instead of "Authorization Code", I am seeing "Client Credentials" which is what i had selected prior to upgrading. "Refresh Token" still works for me when passing a valid Access Token URL, Client ID + Client secret (again, using Client Credentials).

[2019-04-23 14:06] develohpanda commented on #1344
@brendano86 any progress from your end? Otherwise I will pick this up.

[2019-04-23 14:14] develohpanda commented on #1046
@gschier I'd like to pick this up! 🎊 Do you have an approach in mind, given it may be a tough one to solve?

[2019-04-23 16:17] pcfleischer commented on #1449
Same issue for me on mac anything i try to do in oauth authorization dissappears or does not take effect. The same issue exists for both OAuth 1.0 and 2.0

[2019-04-23 16:26] gschier commented on #1450
Can you let me know roughly how many requests you have? Also, can you try it again on a fresh workspace to see if having fewer requests helps?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-23 17:22] gschier commented on #1449
I'll get a fix out for this ASAP

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-23 17:55] #1449 closed

[2019-04-23 17:55] gschier commented on #1449
I'll ship a point release within the next 24 hours

[2019-04-23 18:03] gschier commented on #1451
It looks like this happened when upgrading Codemirror.

I can reproduce this on the official Codemirror [Clojure mode demo](https://codemirror.net/mode/clojure/index.html). It seems like [this may be the patch](https://github.com/codemirror/CodeMirror/pull/5582) that introduced it if you'd like to leave a comment there.

[2019-04-23 18:12] gschier commented on #1447
I'll take a look ASAP

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-23 18:22] #1447 closed

[2019-04-23 18:22] gschier commented on #1447
A fix will be out in the next release within the next 24 hours

[2019-04-23 19:53] Diaskhan commented on #1103
There is Mature Soap lib for nodejs
https://github.com/vpulim/node-soap

[2019-04-23 19:54] rafaelrenanpacheco commented on #1450
I had the same issue in a workspace with 91 requests. A temporary fix was to hit `Clear All Responses` responses in the following dialog:

![image](https://user-images.githubusercontent.com/12160864/56611454-3656ff80-65e8-11e9-8a7a-fb1da0b979db.png)

It took around 1-2 minutes to finish this job at 100% CPU usage for the insomnia thread. After that the workspace became responsive again.

[2019-04-23 19:57] Diaskhan commented on #1103
There some Ideas or Prototype interface Of Soap Client ?
UI sketchs?
Conception ?

[2019-04-23 20:03] rafaelrenanpacheco opened #1452 "[Bug] 6.4.0 unable to change OAuth2 values"
- Insomnia Version: 6.4.0
- Operating System: Arch Linux 5.0.7

## Details

When changing some values at the OAuth2 tab Insomnia throws some erros on the console, and the changed value is reverted to the previously state. For example, when changing some of these credentials:

![image](https://user-images.githubusercontent.com/12160864/56611886-55a25c80-65e9-11e9-8a70-00ca1d0ffd72.png)

Insomnia th

[2019-04-23 21:56] gschier commented on #1452
Duplicate of #1449

[2019-04-23 21:56] #1452 closed

[2019-04-23 21:57] gschier commented on #1450
I'm 90% sure I've identified the regression so I'll have a fix out soon

[2019-04-23 21:58] gschier commented on #1446
Ah, good catch. That hotkey should only be shown for Mac

[2019-04-23 22:36] #1450 closed

[2019-04-23 22:39] #1446 closed

[2019-04-23 23:43] gschier commented on #1450
New release is live now: https://insomnia.rest/changelog/6.4.1

[2019-04-23 23:43] gschier commented on #1449
New release is live now: https://insomnia.rest/changelog/6.4.1

[2019-04-23 23:44] gschier commented on #1447
New release is live now: https://insomnia.rest/changelog/6.4.1

[2019-04-24 00:29] gschier commented on #1046
Awesome @develohpanda! This is a tough one though. I have two ideas for how to do this.

1. Store environments as stringified JSON objects instead of JS Objects. However, we'd need to make sure that this does not affect things like exports, plugins, etc.
2. Store an additional object that somehow maintains the sort order of the environment (including nested keys).

In my opinion, option 2 is more

[2019-04-24 03:09] stdedos commented on #1446
_I'd much rather you'd register it 😕_
Ctrl+Q / Ctrl+W / Alt+F,X ...

I could guess that Alt+F4 does the work, but, working on Ubuntu (Linux?), different layouts come to mind usually

[2019-04-24 03:44] 317174106 opened #1453 "[Bug]Click Preference, then Insomnia show a white page"
- Insomnia Version: 6.4.1
- Operating System: Win7 64

## Details

Click Preference, then Insomnia show a white page.
And the only way is close Insomnia and restart it. I can't open Preference.

![image](https://user-images.githubusercontent.com/25921468/56631052-2db50680-6686-11e9-81b8-9086f21e7084.png)

[2019-04-24 04:16] gschier commented on #1446
I'm not sure what best practices on Windows/Linux are. Is Ctrl+w the most common?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-24 04:56] gschier commented on #1453
Can you check View > Toggle DevTools > Console to see if any errors come up when you do this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-24 05:15] develohpanda commented on #1046
No worries, up for a challenge and a chance to learn something! Admittedly I have not looked at code yet in this area so will come back to you when I do. But I think we are better off with option 2 as well. It would be an isolated change, which can be tested and validated independently, and it would leave all other uses unchanged. We would also avoid unexpected side-effects of serialization and de

[2019-04-24 07:02] 317174106 commented on #1453
First I open dev tools , then I click Perference, the dev tools was disconnected as below.

I tried to uninstall Insomnia, delete AppData, then reinstall it, but the problem still exists.

![image](https://user-images.githubusercontent.com/25921468/56638796-a2496e80-66a1-11e9-94a5-b0e530004a46.png)

[2019-04-24 07:41] stdedos commented on #1446
From my experience, `Ctrl+Q` (as in Quit) is a common option (e.g. Sublime, VLC, Evolution, Libre Office, Chrome `Ctrl+Shift+Q` before moving to `Alt+F,X`)

`Ctrl+W` would be to close windows/tabs (if this is the case). In that case, `Ctrl+W` closing the last window, _could have `Quit` a side-effect (instead of closing the window, to start on a new "environment" next time, Chrome), or not (Firefox

[2019-04-24 08:10] torakiki opened #1454 "[Bug] Menu is unreadable"
- Insomnia Version: 6.4.1
- Operating System: Linux Mint 19.1 Cinnamon 4.0.10

## Details
The menu is unreadable:
![image](https://user-images.githubusercontent.com/3884479/56642818-98f7dc00-6678-11e9-97a2-83937624f1a0.png)

See the difference between Insomnia and Nemo:
![image](https://user-images.githubusercontent.com/3884479/56643008-073c9e80-6679-11e9-90c5-f7a264ef5718.png)

[2019-04-24 12:56] #1127 closed

[2019-04-24 17:11] gschier commented on #1454
Was this working before the last update?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-24 18:31] runofthemill commented on #1453
Having the same issue, but on macOS.

Insomnia 6.4.1.2725
macOS 10.14.4

Screen recording: https://www.dropbox.com/s/6vx8t9jse2w49b6/insomnia-bug.mov?dl=0

[2019-04-24 20:20] torakiki commented on #1454
No, I was using version 6.3.something and it was the same

Il giorno mer 24 apr 2019 alle ore 19:11 Gregory Schier <
notifications@github.com> ha scritto:

[2019-04-24 20:29] gschier commented on #1453
That's so strange that DevTools would disconnect when opening preferences.

@317174106 does Help > About work for you?

@runofthemill do you also see the same DevTools disconnect error?

[2019-04-24 20:32] gschier commented on #1454
I'm on a different monitor now and I can now see the black font on the dark gray background. At first I thought the menu items weren't drawing at all.

Do you have any other Electron-based apps you can try this on? I don't think Electron actually lets you control the color of that menu background/font.

[2019-04-24 20:36] runofthemill commented on #1453
Yep - you can see it disconnecting at the end of the clip I uploaded!

[2019-04-24 20:40] gschier commented on #1046
Each model actually has a `migrate` method which is called whenever an object is pulled out of the local database. The migration in that case would be the easy part. Here's an example

https://github.com/getinsomnia/insomnia/blob/6f98da7df89fa0da646ad5950defd8c4c9bd8771/packages/insomnia-app/app/models/response.js#L76-L80

After thinking about it, I think the ideal solution would be to keep enviro

[2019-04-24 20:48] gschier commented on #1046
As for the implementation of the second object, my initial thought would be to store the key order under a lookup table containing a full path to each object within the environment (I'm open to suggestions here).

[code]

[2019-04-24 20:49] torakiki commented on #1454
![image](https://user-images.githubusercontent.com/3884479/56692170-e2304600-66e1-11e9-996a-423067e46a66.png)
This is based on Electron 4.1.3. It's the menu brought up by `electron-debug` when in development if I'm not mistaken and I didn't set any color or anything and it's like menus in all the other apps in the system

[2019-04-24 22:32] gschier commented on #1454
It might be fixed then by bumping Insomnia to Electron 4.x. Looks like it's been a common issue for a while:  https://github.com/electron/electron/issues/15194

I ran intro build issues trying to upgrade Electron last week but I'll give it another shot for the next release. There's some more motivation to do so now if it fixes this bug 😄

[2019-04-24 22:36] gschier commented on #1453
Wow, sorry I didn't even notice your screen recording link (long day 🤪)

I've only ever seen the DevTools disconnect when there has been a problem linking the native libcurl  module. Can you try running the following command from within the console to see if it triggers  the same issue?

[code]

[2019-04-24 23:37] develohpanda commented on #1046
Thanks for explaining the migration! That looks very handy. I raised a concern about data loss through serialization initially but edited it out for lack of context of how it currently works 😅 I agree that having to unnecessarily convert back and forth is bound to cause issues which would also be very difficult to debug.

If we really do walk down the path of storing a second object, we could stor

[2019-04-25 02:24] develohpanda commented on #1046
Going through this a bit more, I'm starting to lean towards your lookup suggestion. I decided to do some experimentation and it seems this method shouldn't be as complex as I first thought (famous last words). Currently I have a small script that generates the lookup table from an input object, and now I'm working to consume that lookup table to generate the desired JSON.

While thinking about it,

[2019-04-25 03:11] ypxio commented on #1447
Great! thank you for the great work @gschier!

[2019-04-25 04:42] develohpanda commented on #1046
I've uploaded my results and code into a repository (https://github.com/develohpanda/json-lookup-order) to see if this is an approach we could pursue. It looks promising from the exploratory testing I have done, but naturally would some thorough unit tests for edge cases.

Let me know what you think 😄

[2019-04-25 06:40] 317174106 commented on #1453
@gschier Help --> About is ok

![image](https://user-images.githubusercontent.com/25921468/56714631-fae33f00-6767-11e9-817e-ec60dc566b09.png)

[2019-04-25 06:44] 317174106 commented on #1453
@gschier Help --> About is ok, and the command won't trigger the same issue.

![image](https://user-images.githubusercontent.com/25921468/56714849-9e345400-6768-11e9-8377-e6a8925b7d79.png)

[2019-04-25 08:53] tjventurini commented on #451
+1 :wink:

[2019-04-25 10:26] Dracer5 commented on #1354
A lot of people experiencing with bug. Will you provide further info?

[2019-04-25 10:44] leweohlsen commented on #1453
Experiencing the same problem with Insomnia 6.4.1.2725 on macOS 10.14.4. DevTools keep disconnecting when the Preferences page flips to white, so I cannot begin to debug the issue.

[2019-04-25 13:12] soderluk opened #1455 "[Bug] Using Base64 encode in header not working after update"
- Insomnia Version: Version 6.4.1
- Operating System: Ubuntu 18.04

## Details
Insomnia was updated today (2019-04-25) at some point automatically, and now that I try to use my existing request, including a header with the function base64 encode, I get an error, and the header value is empty when posting:
![image](https://user-images.githubusercontent.com/6086071/56737937-33891580-6774-11e9-8ad9-a

[2019-04-25 13:42] scottmmmm opened #1456 "[Feature Request] Allow prompt values to be cleared"
- Insomnia Version: 6.4.1
- Operating System: Ubuntu 16.04 LTS

## Details

The Prompt tag is a really useful way of getting a user to provide a piece of data that can't be derived from a previous request.

It'd be good if the user could choose to clear the value stored against a Prompt Tag. As it stands, there only seem to be two ways of doing this :

1. Close the application and restart it.
2. C

[2019-04-25 14:31] scottmmmm opened #1457 "[Feature Request] Quickly create new request from URL property in response body"
- Insomnia Version: 6.4.1
- Operating System: Ubuntu 16.04 LTS

## Details

When working with REST APIs which make use of lots of hypermedia, it'd be very useful to allow new requests to be created by clicking on properties on a response body which contain URLs.

At the moment, clicking on a property whose value is a URL causes the URL to be opened in my web browser. It'd be much better if clickin

[2019-04-25 14:32] AlexC opened #1458 "[Bug] Sync is stuck at 97.3%"
- Insomnia Version: 6.4.1
- Operating System: Ubuntu 16.04

## Details

I have multiple workspaces and our team has just signed up to Insomina Teams, however the sync for our workspace is stuck at 97.3%. I've tried logging out and logging in again however the same issue.

Unsure what other details I can get to help debug this.

[2019-04-25 14:50] zissakos opened #1459 "[Question] Possible to use semicolons instead of question mark and ampersands in query string?"
It seems I cannot change the default behaviour of how the query string is being created.

Insomnia creates this:
`blabla/faqu/subscriptionapi/rest/subscription?param1=value1&param2=value2`

But I want this:
`blabla/faqu/subscriptionapi/rest/subscription;param1=value1;param2=value2`

is that possible?
I added the params in the "Query" tab, was that wrong?

[2019-04-25 18:46] royledford opened #1460 "[Bug] Paste text from clipboard into graphql body fails"
- Insomnia Version: 6.4.0.2712
- Operating System: MacOs Mojave 10.14.2

## Details

Bug. I think this started happening after the latest update.

Open any existing (or create new) request, set to POST and body to graphQl.
paste text into body

In new, nothing happens
In existing, all existing text disappears and new pasted text does not show.

[2019-04-25 19:37] gschier commented on #1460
Hmm, I can't reproduce this. Would it be possible to provide a screen recording of the issue?

[2019-04-25 19:41] gschier commented on #1455
Ah, it looks like there was a breaking change in the last release for this tag (sorry about that). You'll need to switch the _Kind_ selection to "Normal" and move your `basic_auth` variable into the _Value_ parameter.

[2019-04-25 19:52] gschier commented on #1459
Hi @zissakos, thanks for reporting your issue.

I have never seen that kind of format used before. To my knowledge, it's not part of any common web standard (please correct me if I'm wrong) which is why it's not supported by Insomnia,

[2019-04-25 20:11] gschier commented on #1453
Okay, one more thing to try:

In View > Toggle DevTools > Console, can you try running the following?

[code]

[2019-04-25 20:40] gschier commented on #1458
I have checked out your team's account on my end and everything looks okay from here. It's difficult to say what the issue is without having access to your machine. Can you try duplicating the workspace (from the workspace settings) to see if a fresh instance of the workspace has the same problem?

I should also mention there is a new beta sync system included in v6.4.0 that is available as an opt

[2019-04-25 20:57] gschier commented on #1456
That's a neat use case. Right now the plugin system doesn't have a way for template tags to define actions but I'll give it some thought and see how that might work within the current system.

I'm not sure if this is any easier, but you could define the storage key inside an environment variable (if you're not doing that already) and reference that within each Prompt tag. Then at least you only ha

[2019-04-25 21:03] gschier commented on #1046
Nice, thanks for sharing some code 😄

I took a quick look at your code and it looks great at first glance.

I feel like a good API for this would be:

[code]

Calling `orderedJSONStringify` would stringify an object in the correct order and calling `orderedJSONParse` would parse a JSON string and also return a second object for the order.

[2019-04-25 21:26] royledford commented on #1460
It seems it is a bit different than what I originally thought.

I copied text from a code block in MS Teams and pasted and that failed.

Also opened a new file in VS Code and pasted text. Works and looks correct in VS Code, copied that to clipboard, and then pasted into a query in insomnia and that failed.

To reproduce:
* create a graphql query in insomnia
* select and copy query text from teams

[2019-04-25 21:50] Fyb3roptik opened #1461 "[Bug] Pull for Updated Snapshot is greyed out in bottom menu"
- Insomnia Version: 6.4.1
- Operating System: MacOS

## Details

I created a new snapshot and pushed. My dev team could not do a pull from the bottom sync menu. It was really confusing! Instead they had to click the top left menu and do the pull there. Should probably update the bottom menu to match

[2019-04-25 21:58] gschier commented on #1461
_Responding here with a summary from our email thread_

Currently, in the [new sync beta](https://support.insomnia.rest/article/67-version-control), each member of the dev team needs to _pull_ the project locally in order to start collaborating. This becomes confusing when migrating from the old sync system because they will have already had the workspace on their machine but it won't be tracking

[2019-04-25 21:58] #1461 closed

[2019-04-25 22:20] develohpanda commented on #1046
Sounds good! I'll update my repo with your suggestions. I feel like this is generic enough to create as a standalone package and consume in `insomnia-app` - would you suggest doing it this way or roll it into the monorepo? Keeping it separate would simplify testing for it.

[2019-04-25 22:30] develohpanda commented on #1344
@gschier I've started on this and my approach (for both request and request group) is to:
1) Create a `Pin/Unpin` option in the action menu dropdown
2) Show section identical to the `sidebar-list` between the `filter` and `sidebar-list`, for pinned items (hidden if no pinned items)
3) Show a `fa-thumb-tack` on pinned items

I'm yet to figure out sizing constraints for the pinned rows and all rows,

[2019-04-25 23:37] gschier commented on #1460
Unfortunately I still can't reproduce on my Mac using 6.4.1. Does this happen when you copy text from anywhere or specifically MS Teams? I'm thinking it might be cause by copying "rich text" into the Insomnia editor.

Can you also check View > Toggle DevTools > Console for any errors? Since the line numbers disappear completely after you paste, it seems like it's crashing the entire CodeMirror tex

[2019-04-25 23:44] gschier commented on #1344
It sounds like you're on the right track @develohpanda 😄

If you want some early feedback feel free to create a PR with what you have.

[2019-04-25 23:47] gschier commented on #1046
I was going to mention that before but forgot. If you'd like to create a package for it that'd be great. I'll leave that choice up to you 🥂

[2019-04-25 23:48] develohpanda commented on #1046
I'll keep it separate and create a package 😄🥂

[2019-04-26 01:21] runofthemill commented on #1453
No problem with the libcurl command!

[code]

works without a problem.

[code]

causes a crash:

<img width="567" alt="Screen Shot 2019-04-25 at 6 21 17 PM" src="https://user-images.githubusercontent.com/8418440/56777527-f5e1b800-6786-11e9-840e-7bb914338b87.png">

[2019-04-26 03:45] gschier commented on #1453
Dang, it looks like we're going to have to make the font manager only available when it's supported. I'm not quite sure why it wouldn't work on Mac since it works on my Mac and Mac is a fairly stable platform. Anyway...

Since I can't reproduce it over here, can you look at the module and see if there's any way to conditionally check if it's going to crash without actually crashing it? ie. figure

[2019-04-26 04:06] gschier commented on #1354
Just took a look at this and it seems like `$ref` attributes are causing the issues.

@alxpsr's example file returns the following error:

[code]

@dominik-lekse's example returns the following error:

[code]

It looks like $refs are only for linking to documentation reference so there errors probably should be ignored. I just refactored the import module to try continuing if the Swagger validatio

[2019-04-26 04:18] gschier commented on #1354
Also, thank you @alxpsr for the test case file. I've included it in the test suite fixtures

[2019-04-26 04:27] #1354 closed

[2019-04-26 04:31] gschier commented on #1416
Unfortunately we cannot provide any more details on this since the info is coming straight from `libcurl`.

[2019-04-26 04:31] #1416 closed

[2019-04-26 05:15] gschier commented on #1384
Feel free to submit a PR for this if you'd like to the internal
`insomnia-importers` package

https://github.com/getinsomnia/insomnia/tree/develop/packages/insomnia-importers

[2019-04-26 05:19] gschier commented on #1373
😢

[2019-04-26 05:23] gschier commented on #1380
A long time ago there was some discussion on adding the ability to activate multiple environments at once. Along with the use cases presented at the time, I think it could also solve your problem.

For example, you could activate **Production** and **User A** at the same time.

[2019-04-26 05:43] 317174106 commented on #1453
@gschier the second command causes a crash. But I am on win7

[2019-04-26 05:44] 317174106 commented on #1453
Any solution?

[2019-04-26 05:47] #1377 closed

[2019-04-26 05:48] runofthemill commented on #1453
As I have a number of custom fonts installed, it seems likely it's the same issue noted here: https://github.com/foliojs/font-manager/issues/20

I'm not versed in TS dev, but as a test I dropped in https://www.npmjs.com/package/font-scanner linked from https://github.com/foliojs/font-manager/issues/20#issuecomment-445905519, created `packages/insomnia-app/flow-typed/font-scanner.js` with the follo

[2019-04-26 05:58] #1232 closed

[2019-04-26 06:05] SystemDisc commented on #1232
@gschier You rock!

[2019-04-26 06:11] gschier commented on #1453
You saved the day @runofthemill! That's all I needed.

[2019-04-26 06:16] gschier commented on #1232
You too! Thanks for reminding me about this 😄

[2019-04-26 06:29] #1453 closed

[2019-04-26 07:34] zissakos commented on #1459
The developer of our REST service told me this:
_"The URLs of rest services are created using Matrix Parameters and that is the reason semicolons “;”  are mandatory in the URLs.
“?” and “&” are used in case of Query Parameters, which is not used in our URLs."_

What do you think of this?

[2019-04-26 08:05] nkkollaw commented on #1373
Mh..?

[2019-04-26 08:23] avin-kavish opened #1464 "[Feature Request] Open new request in editor without a modal"
Currently, hitting `Ctrl + N` opens a modal dialog, prompting for request name, method and body type. These are all optional and configurable in the editor. It would be nice to have the new request just pop up in the editor with default values and allow the user to change whatever values they see fit.
This behaviour is currently implemented in VS Code. Creating a new file in explorer, adds a file

[2019-04-26 09:29] pwrigshi opened #1465 "[Feature Request] CPU Render"
This is related to GPU render bug (https://github.com/getinsomnia/insomnia/issues/1316). I have issues also with other apps which use GPU render, e.g. Steam, Discord, Postman, Slack. Some of them have 'disable GPU render' feature (by setting UI option or flag on executable file) which allowed me to use apps normally.

just fyi: got this issue right after one of the Win10 updates. but since Linux u

[2019-04-26 09:52] pwrigshi commented on #1465
oops, did not know that this app has also --disable-gpu flag. is this for all electron apps?

[2019-04-26 09:52] #1465 closed

[2019-04-26 09:54] pwrigshi commented on #1316
have you tried `--disable-gpu` flag? it helped me.

[2019-04-26 10:13] AlexC commented on #1458
Thanks for the quick reply @gschier. I tried the clone and that failed too (at 95%). Out of interest I create a new workspace with a single call in and that failed at 75%.

The new beta sync however seems to work quite nicely! Looking forward to that being on by default.

[2019-04-26 10:43] scottmmmm commented on #1456
Thanks, I'll give that a shot to see if it's easier.

[2019-04-26 10:50] KamilKot95 commented on #451
+1

[2019-04-26 11:03] #1375 closed

[2019-04-26 12:22] valdetero commented on #1455
I tried doing the above and it still couldn't resolve the error. I had to remove and re-add every encoding tag that I had.

[2019-04-26 13:16] AlexC opened #1466 "[Question] Delete previously shared and sync workspaces?"
- Insomnia Version: 6.4.1
- Operating System: Ubuntu 16.04

## Details

Once a workspace has been sync and shared, is it possible to delete it? I've tried setting the sharing settings to private and then deleting the workspace, however it always appears under the "Remote workspaces" section.

[2019-04-26 14:09] AL1L commented on #1316
Yes, this was tried

https://github.com/getinsomnia/insomnia/issues/1316#issuecomment-454241363

[2019-04-26 17:02] petergruenbeck opened #1467 "[Bug] OAUTH1 panel clears consumer key/secret"
- Insomnia Version: 6.4.1
- Operating System: Ubuntu 18.04

## Details
Attempting to enter the consumer key and consumer secret on the OAuth1 panel, the values are immediately cleared when the field loses focus.

[2019-04-26 17:31] avin-kavish commented on #1464
I got an idea: preserve current behaviour and add a new keyboard shortcut,  i.e. Quick Create Action which creates a new request without the modal dialog prompt

[2019-04-26 17:39] gschier commented on #1464
I like that idea

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-26 17:45] #1467 closed

[2019-04-26 18:27] Fyb3roptik commented on #1461
Also I should note that I did another push after they subscribed and he could not pull until he closed Insomnia and re-opened it

[2019-04-26 18:27] #1340 closed

[2019-04-26 19:55] suschizu opened #1468 "Is 6.4.1 a beta version?"
hey @gschier - I'm a bit confused: on GitHub version 6.4.1 is marked as pre-release but on the website 6.4.1 seems to be a stable version (https://insomnia.rest/changelog/) - could you please help me out - thank you!

[2019-04-26 20:17] gschier commented on #1468
Oh, thanks for pointing this out. I just forgot to change it. Fixed!

[2019-04-26 20:17] #1468 closed

[2019-04-26 20:29] gschier commented on #1461
Hmm, that's not expected. I will keep an eye out for that issue.

[2019-04-26 20:38] gschier commented on #1426
@pinggi can you try starting the app from the command line with the `--disable-gpu` flag?

[2019-04-26 20:43] gschier commented on #1458
That's quite strange. Is there anything out of the ordinary about that workspace? For example, are there many requests or large request bodies?

[2019-04-26 20:44] gschier commented on #1466
I have definitely experienced this as well in some cases. The workspace will only be deleted remotely if it's set to automatically sync. If that still doesn't work, feel free to send the name of the workspace to support@insomnia.rest along with your account email and I can delete it from my end.

[2019-04-26 20:52] royledford commented on #1460
Yes, only when copying text from teams. I was thinking it was a rich text issue.
But odd that pasting into vs code, then copying again and pasting into insomnia had the same behaviour.

Here is the log ss
![image](https://user-images.githubusercontent.com/27828240/56835949-a44b3300-6843-11e9-89f9-87ab08661958.png)

[2019-04-26 20:58] #1464 closed

[2019-04-26 21:02] gschier commented on #1459
Matrix parameters seems to be specific to JAX-RS API Java framework and not an actual web standard. If they translated more closely to query parameters then it might be easier, but there is a key difference, which is that there can be multiple instances of matrix parameters.

For example, a URL could like like the one you provided:

[code]

Or there could be any number of matrix instances like thi

[2019-04-26 21:06] gschier commented on #1460
Thanks for the screen shot @royledford. It might be possible that VSCode acts differently since it's backed by a different text editor framework.

Unfortunately, I can't seem to find a source to copy from that reproduces this. Do you happen to have an example from a public web page that I can test with?

[2019-04-26 21:07] gschier commented on #1460
It could also be that there are some funky unicode characters in what you are copying that get preserved when pasting them into VSCode.

[2019-04-26 21:23] gschier commented on #1465
I just learned about it from your comment! Thanks for teaching me something. After some searching, yes, it seem as though all Electron apps support this flag.

[2019-04-26 21:24] gschier commented on #1316
There might be a visible error in View > Toggle DevTools > Console. There also might be a visible error if you launch it from the command line.

[2019-04-26 21:25] gschier commented on #1316
Also, I'm not sure if this will make a difference, but there is another installation method for Insomnia from Portapps that might be worth a try: https://portapps.io/app/insomnia-portable/

[2019-04-26 22:11] gschier commented on #1373
Just shedding a tear because bugs like this are so difficult 🙃

[2019-04-26 22:30] gschier commented on #1371
I just remembered there _is_ a way to achieve something similar already. The Prompt dialog supports a `hints` property that can be used to show suggestions below the text input box.

[code]

![image](https://user-images.githubusercontent.com/587576/56839620-30eff400-6838-11e9-8d60-c14bb4911ae3.png)

[2019-04-26 22:38] #1414 closed

[2019-04-26 22:42] gschier commented on #1413
This makes things bit less user-friendly but the Prompt tag now has a "mask input" checkbox.

![image](https://user-images.githubusercontent.com/587576/56839939-d5266a80-6839-11e9-9b7e-842255b9b59f.png)

And, if you use the "Storage Key" feature, it will only prompt you on first use.

![image](https://user-images.githubusercontent.com/587576/56839956-eb342b00-6839-11e9-83f3-9bcefa398fdc.png)

[2019-04-26 22:44] gschier commented on #1413
That, of course, does not work for response values. Do you have any ideas of solutions on how to generalize this? It would be possible to write a plugin response hook that uses `getBody` and `setBody` methods to replace sensitive info (maybe via regex or something).

[2019-04-26 22:47] gschier commented on #1202
Can someone verify whether or not PR #1425 fixed this issue?

[2019-04-26 22:49] gschier commented on #1355
What is the appropriate way to escape spaces on Windows? There is currently some logic that surrounds the path with quotes but that doesn't solve it according the the continued reports.

https://github.com/getinsomnia/insomnia/blob/e68b1b186c41b5938dd01015cd74fb0045508053/packages/insomnia-app/app/plugins/install.js#L184-L192

[2019-04-26 22:52] gschier commented on #1411
By full dark and full white do you mean Insomnia's themes, or your OS's themes?

[2019-04-26 22:54] gschier commented on #1411
I know this issue is older, but I'm going to close this one as a duplicate, since there is already discussion on #1454

[2019-04-26 22:54] #1411 closed

[2019-04-26 22:55] #1459 closed

[2019-04-26 22:57] gschier commented on #1454
Going to as the same question from #1411. Does this happen on all Insomnia themes?

[2019-04-26 22:57] gschier commented on #964
Closing this for now due to low demand

[2019-04-26 22:57] #964 closed

[2019-04-26 23:03] gschier commented on #1407
So your change does not modify the weight?

From what you said, it seems like changing the filter to include `book` may also work?

[code]

[2019-04-26 23:04] gschier commented on #1407
Can you specify which font you are using so I can test it out?

[2019-04-26 23:12] gschier commented on #1417
I just tried this and found two problems:

1. Insomnia does not support the Postman export format under https://app.getpostman.com/api/collections/1755573c5cf5fbf7968b. Currently it only supports collection format v2
2. Postman does not provide CORS headers on those endpoints so making the request fails. This can be solved by using something other than the HTML5 fetch API but it's a bit of work.

[2019-04-26 23:22] gschier commented on #1145
Should be in soon! https://github.com/Kong/httpsnippet/pull/127

[2019-04-26 23:25] gschier commented on #1460
Okay, I was able to reproduce this outcome but by pressing Option+Space instead, which inserts a weird unicode character. https://github.com/getinsomnia/insomnia/issues/1254

[2019-04-26 23:32] gschier commented on #1460
After some research, it looks like Option+Space inserts a "Non-breaking space" specifically, which is very common in HTML. So perhaps, when copying text from MS Teams, these magical spaces get included?

[2019-04-26 23:39] #1460 closed

[2019-04-26 23:47] gschier commented on #1455
Thanks for letting me know. This breaking API change definitely should not have ended up in production but it's a bit late now to fix it, unfortunately.

[2019-04-26 23:47] #1455 closed

[2019-04-26 23:49] gschier commented on #1400
You can right a plugin right now to type check requests using a request hook. You can use the `getBodyText` method to get the body of the request at send time, validate it against some sort of schema, and show an alert if it fails.

[2019-04-27 00:56] gschier commented on #1389
This could potentially be part of a larger discussion on security. Currently the app store everything unencrypted on the filesystem.

The simplest solution would probably be to create an Encrypted Value [template tag](https://support.insomnia.rest/article/40-template-tags) that can be used to encrypt specific values (similar to the already-existing Prompt tag).

I'm definitely open to having a con

[2019-04-27 01:53] gschier commented on #1376
Insomnia uses the httpsnippet library for code snippets. Feel free to submit a PR or issue on that project

https://github.com/Kong/httpsnippet

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-27 01:53] #1376 closed

[2019-04-27 01:56] gschier commented on #1364
I'm not sure I understand what you mean by that. Perhaps you could provide some code examples?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-27 01:59] gschier commented on #1360
This is a tough one because the purpose of workspaces is to provide this separation. I do agree that working with Microservices is tricky (I've had discussions about this with other users too) but I'm not sure that muddying up the workspace concept is a good idea.

I'm open to extending the plugin api to provide access to other workspaces though so that it would be possible to fork the Response ta

[2019-04-27 02:01] gschier commented on #1262
Not at the moment.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-27 04:19] gschier commented on #286
🎁

[2019-04-27 04:34] #286 closed

[2019-04-27 04:51] gschier commented on #286
I didn't implement the 401 logic but this can now be done by forking the response plugin and making some slight tweaks for a new plugin with whatever behavior you want/need.

for example, to check the status code of the current request from within the response tag plugin:

[code]

[2019-04-27 05:00] gschier commented on #645
I don't think there is enough demand to include this in the app but I'm willing to accept a PR to add plugin hooks that allow the response filter to be overridden

[2019-04-27 08:09] torakiki commented on #1454
Yes, tried all of them with the same result.

[2019-04-27 08:33] gschier commented on #1283
The `timeline` attribute of the response in `insomnia.Response.db` was taking up quite a bit of space. I'm currently working on moving that out of that model like response bodies so this DB size can't get so large.

[2019-04-27 08:55] #1262 closed

[2019-04-27 08:55] gschier commented on #1262
This will be live in the next release

![image](https://user-images.githubusercontent.com/587576/56847426-915e5000-688f-11e9-8fbb-df0a7dce06f6.png)

[2019-04-27 09:27] gschier commented on #1392
I feel like this is the same as #283. It was closed for being stale but I have reopened it just now.

I've been wanting to do that one for a long time (as you can tell by the date of the issue) but just haven't gotten around to it yet.

[2019-04-27 09:27] #1392 closed

[2019-04-27 09:41] suschizu commented on #1468
Thank you!

[2019-04-27 15:57] nkkollaw commented on #1373
HA!
Actually, it's even worse now. Now it's working :-/

I have no idea. Maybe it's related to memory usage..? For instance, if I'm low in memory it doesn't work..?

Baffling.

[2019-04-27 19:20] KennethWussmann commented on #1181
@bbbco I would like to implement this feature, but I could need some guidance.
I couldn't find a clean way of getting the environment id of the variable being edited in the `VariableEditor`.
Only the name of the environment which is not unique.
Thanks.

[2019-04-28 01:36] crstauf commented on #363
Just now running into this issue myself; disappointing to see it was brought up (over a year ago) but hasn't been tended to. 😞

[2019-04-28 22:27] leonbreedt commented on #1407
The UI font is _Circular_, but this is a commercial LineTo font. If you have access to a Mac, the Bodoni font is also using a style name of _Book_. Your suggestion works fine here.

The text font is a custom build of Iosevka I did because I don't like the thin rendering of its Regular style. However, the custom build still ends up having a style of _Medium_, and I don't see a nice workaround for t

[2019-04-29 02:48] BehindTheMath commented on #1308
This is still an issue.

CC @gschier

[2019-04-29 03:41] BehindTheMath commented on #1308
After some research, it looks like the issue being caused by [this code](https://github.com/getinsomnia/insomnia/blob/3fea57328defb6ada2238bde7b26f1287f824858/packages/insomnia-url/src/querystring.js#L214). Any raw text that matches an already-encoded character is ignored, so `%11` will never be encoded.

[2019-04-29 08:52] AlexC commented on #1458
They are all rather normal. The main one that I was trying to sync had about 30 API calls in it, all with no or little request bodies. There was a few folders to organise things, but apart from that it was normal.

As mentioned I created a new workspace with just a single call in it (a simple GET) which failed at 75%.

[2019-04-29 08:57] ghost99cze commented on #1202
It seems that it is working in v6.4.1. Tested on Windows 10.

[2019-04-29 09:15] ghost99cze commented on #1202
At least it is working for `insomnia-plugin-jwtdecode` but it is not working for example for `insomnia-plugin-plus4u-oidc`. But it looks like there is a problem in this plugin. (But when i install it manually - everything works fine)

[2019-04-29 09:23] #1379 closed

[2019-04-29 10:30] jhalborg commented on #1364
Sure,

If you have a project using Apollo as a GraphQL client, the project will have the queries and mutations in `gql` tags. These queries and mutations can be extracted into a `json` file by using the command `apollo client:extract`, the docs for which is linked above. This outputs the queries into a `manifest.json` file that looks something like this:

[code]

If one could import a `manifest.js

[2019-04-29 13:55] harsman opened #1472 "Base64 encoding in JSON body fails in 6.4"
Version 6.4.1
Shell 3.0.4
Node 10.2.0
V8 6.6.346.32
Architecture x64
libcurl/7.57.0-DEV OpenSSL/1.0.2o zlib/1.2.11 libssh2/1.7.0_DEV

- Insomnia Version: 6.4.1
- Operating System: Windows 10

## Details

Base64 encoding part of a JSON request body fails with the unspecific error message "error" in Insomnia 6.4.1.

To reproduce:

Create a new environment
Add variable called "encoded" and set the va

[2019-04-29 13:57] harsman commented on #1472
Possibly related to #1455

[2019-04-29 15:46] dsutphin commented on #1449
I am still having this problem with OAuth 1.0 with Insomnia 6.4.1 installed via brew on Mac. OAuth 2.0 does not appear to have this issue.
<img width="554" alt="Screen Shot 2019-04-29 at 11 42 36 AM" src="https://user-images.githubusercontent.com/16996439/56908449-4e110680-6a74-11e9-9ca9-d6ff8549f8f5.png">

[2019-04-29 16:05] ylvare commented on #1453
Hi, I still have this issue if I download from https://insomnia.rest/download/ or brew cask install insomnia (mac)

[2019-04-29 16:39] bbbco commented on #1288
Any updates?

[2019-04-29 18:00] gschier commented on #1453
The Fox is not released yet

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-29 18:02] gschier commented on #1449
OAuth 1 was exhibiting the same problem and has been fixed as well but not released. It will be included in a release later today

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-29 18:19] ylvare commented on #1453
I understand. Any idea on when it will be?

[2019-04-29 18:43] gschier commented on #1466
I just realized that my response assumed you were using the default sync mechanism, not the new one. There isn't yet the ability to remove remote projects yet but that'll be out soon.

Going to close this one as I've responded to your email.

[2019-04-29 18:43] #1466 closed

[2019-04-29 19:43] royledford commented on #1460
Thanks for looking into this. Don't have a public source to copy from.

I pasted from teams into https://www.soscisurvey.de/tools/view-chars.php to see what was getting pasted

![image](https://user-images.githubusercontent.com/27828240/56921955-15355980-6a95-11e9-9a64-cf008a9b1678.png)

It looks likes it's using nbsp for the tabs. Seems odd but...that's what it does.

I may go create a ticket on

[2019-04-29 22:00] gschier commented on #1453
Out now!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-29 22:00] gschier commented on #1449
Fix is out now in 6.4.2

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-29 23:09] gschier commented on #1472
Yes, this looks like a duplicate of #1455. Can you try deleting the tag and recreating it?

The new format should now be the following:

[code]

[2019-04-30 00:12] gschier commented on #1460
Woah, thanks for sharing that tool. I could definitely use that in the future.

I've released an update 6.4.2 today which will convert non-breaking spaces in GraphQL queries into normal spaces. Let me know if it solves your problem.

[2019-04-30 01:39] gschier commented on #1202
What error do you get with the oidc plugin? Insomnia was able to install it correctly on Mac

[2019-04-30 02:31] gschier commented on #1288
Looks like the lookup logic does not account for nested properties at all:

https://github.com/getinsomnia/insomnia/blob/0d333b008bba19422618c8e85808def1678b5d9b/packages/insomnia-app/app/common/render.js#L216-L240

[2019-04-30 03:11] #1407 closed

[2019-04-30 03:11] gschier commented on #1407
Ya, I think I agree that allowing weight selection is probably too complicated compared to demand. I have gone ahead and added "Book" fonts to the filter though so at least they will show up now 😄

[2019-04-30 04:30] gschier commented on #1364
Okay, that makes more sense now for sure. I was initially confused as to where the queries were coming from but it makes sense that it's extracted from source code (I have a small amount of experience with Apollo).

Would you be interested in writing an importer for this? If so, you can check out the existing ones here for reference https://github.com/getinsomnia/insomnia/tree/develop/packages/ins

[2019-04-30 04:31] gschier commented on #1390
It's now actually possible to write a request hook plugin to do this: https://support.insomnia.rest/article/26-plugins#request-hook-api

You can check the URL of the request while it's being sent and override it to HTTPS if the protocol is not present.

[2019-04-30 05:20] ylvare commented on #1453
:)

Den tis 30 apr. 2019 00:00Gregory Schier <notifications@github.com> skrev:

[2019-04-30 09:17] #1385 closed

[2019-04-30 12:27] philippguertler opened #1473 "[Bug] Links in deprecation tooltips are opened inside Insomnia"
- Insomnia Version: 6.4.2
- Operating System: Arch Linux, using AUR for insomnia

## Details

Clicking a link in a deprecation tooltip will open the link inside Insomnia. I was unable to return to the normal Insomnia interface after that. The only way I found to fix this is to restart Insomnia.

The link should be opened in the default browser instead.

![image](https://user-images.githubuserconte

[2019-04-30 15:01] 0ptimusrhyme commented on #987
Let me know if I should create another issue **but**: it would be really nice if we could disable sending cookies _globally_ instead of just on a per-request basis. Is that something up for consideration? I didn't see an issue open or closed for this specifically. @gschier

[2019-04-30 17:17] #1387 closed

[2019-04-30 17:34] tobecwb commented on #1104
I tested a new install (never used Insomnia), and got the same problem, but with version 6.4.2!
Deleted all appdata\local\insomnia folder, installed again, and the error continue.

Windows 10 x64.

[2019-04-30 17:59] gschier commented on #1473
Thanks for reporting this one. I didn't even realize there could be links in there. I'll get this fixed.

[2019-04-30 18:08] gschier commented on #987
@0ptimusrhyme yes, please create another issue 🙂

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-30 18:15] 0ptimusrhyme opened #1474 "[Feature Request] Allow for globally disabling cookies with requests"
- Insomnia Version: 6.3.2
- Operating System: Mac OSX Mojave 10.14.4

## Details

Quality of life improvement thought:

I work a lot with authenticated REST and GraphQL APIs. In a some cases, the API I'm interacting with does not behave well when the request includes cookies. Shopify's APIs for example behave this way.

To me it seems like it would be super convenient to allow for the ability to g

[2019-05-01 08:59] abhinavmall opened #1475 "[Bug] Copy as curl is adding \n literal instead of nextline in json data"
- Insomnia Version: 6.4.2
- Operating System: Windows 10 x64

## Details

Feature "Copy as curl"
Copies to clipboard json data having literal \n if you have beautified json.
Example -
curl --request POST \
  --url http://google.com/ \
  --header 'content-type: application/json' \
  --data '{\n	"key_1": "value_1",\n	"key_2": "value_2"\n}'

These added \n literal creates problems while parsing json.

[2019-05-01 09:04] abhinavmall commented on #1475
Same request when created using v6.4.1

curl --request POST \
  --url http://google.com/ \
  --header 'content-type: application/json' \
  --data '{
	"key_1": "value_1",
	"key_2": "value_2"
}'

[2019-05-01 15:28] senoctar commented on #1202
The issue with `insomnia-plugin-plus4u-oidc` does not seem related. When running the command manually yarn stops at `[3/4] Linking dependencies...` with no message (`--verbose` doesn't help either).
Using `yarn-1.15.2.js` instead of `yarn-standalone.js` bundled with insomnia fixes the issue.

You can even make insomnia work (until a version with a newer yarn is available). Download [yarn-1.15.2.js

[2019-05-01 16:06] jasonbrancazio commented on #605
+1 for making the encoding of query params configurable

[2019-05-02 04:07] XBeg9 commented on #451
+1 can't use insomnia for Graphql, until we get explorer for schema.

[2019-05-02 09:15] mxmlnglt opened #1476 "[Bug] Error: Failed writing received data to disk/application"
- Insomnia Version: see below (copy of the About popup)
- Operating System: Windows 10 Pro (64-bit)

[Content]
Version 6.4.2
Shell 3.0.4
Node 10.2.0
V8 6.6.346.32
Architecture x64

libcurl/7.57.0-DEV OpenSSL/1.0.2o zlib/1.2.11 libssh2/1.7.0_DEV

## Details

When issuing a "simple" PUT request on an (internal) API, Insomnia retrieves the response (JSON) but can't display it, just an "Error: Failed

[2019-05-02 12:12] ivanwhm opened #1477 "[Feature Request] Black background when using dark themes"
- Insomnia Version: 6.4.2
- Operating System: Windows 10

## Details

Hi Guys!

I'm using Insomnia with a dark theme, however, every time that I openned Insomnia, I get a white background color screen while Insomnia is loading the application. Is it possible to change that background color from white to a dark color, maibe related to the theme I choose?

![Opening](https://user-images.githubuserco

[2019-05-02 15:08] benoit-brulfert commented on #451
+1

[2019-05-02 15:29] gschier commented on #1475
Ah yes, this was a regression from moving back to the official `httpsnippet` library. I have a PR about to be merged over there that I'll make sure gets into the next release: https://github.com/Kong/httpsnippet/pull/102

[2019-05-02 15:48] hnryjms opened #1478 "[Bug] Request fails if Description Can't Render"
- Insomnia Version: 6.3.2 (6.3.2.2588)
- Operating System: macOS 10.14.4

## Details

When a request has a Description that references it's own Response attribute, you are unable to run the request, and instead see the error below:

<img width="797" alt="Screen Shot 2019-05-02 at 10 36 10 AM" src="https://user-images.githubusercontent.com/3521186/57088287-8eb48e00-6cc7-11e9-92a5-90926a6c0c8a.png">

[2019-05-03 03:42] mlambley commented on #931
Bump or close?

[2019-05-03 03:58] Fyb3roptik commented on #667
Please keep alive!

[2019-05-03 04:14] serkand commented on #774
+1

Absolutely critical to have in any API testing tool and not just for test automation.

[2019-05-03 06:56] bradjones1 commented on #874
Unstale

[2019-05-03 07:51] harsman commented on #1472
I had actually tried recreating previously, but when I looked at the text I had '' instead of a variable reference, so I reinstalled Insomnia and removed the base64 reference completely and added it again and now it works.

[2019-05-03 07:51] #1472 closed

[2019-05-03 11:30] rocketraman commented on #894
Still interested in this.

[2019-05-03 13:31] erikw commented on #691
@stale This is not stale, it's still the most major blocker for mass Insomnia adoption for current Postman users. Please un-stale.

[2019-05-03 13:42] Brunohes commented on #480
+1 For this feature...

[2019-05-03 13:46] Jaum97 commented on #480
+1 Quality of life needed

[2019-05-03 14:20] gschier commented on #874
Sorry, Stalebot was acting up since I change some of the label names!

[2019-05-03 14:28] damianb commented on #1116
...Any way to make stale bot not touch this issue other than having to repeatedly bump it?  Stalebot is great if it's a support request, but this isn't such.

[2019-05-03 14:38] gschier commented on #1478
Woah, I never thought of that edge case. I will see if I can render the description separately, in a try/catch.

[2019-05-03 14:53] #1341 closed

[2019-05-03 14:57] gschier commented on #1116
It won't touch it. I renamed some tags which is why it happened again

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-03 15:12] robinfla commented on #454
I'd love to see this feature as well. I'm chaining calls and one of them generates a Stripe card token, which is limited to one use only. Hence I can't use the response body attribute because the value is static.

[2019-05-03 16:47] thanhtoan1196 commented on #363
I also encountered the same problem, I solved using this plugin with the function: Add / Subtract time from current time
https://github.com/Gabb1995/insomnia-plugin-customtimestamp

[2019-05-03 17:19] gschier commented on #454
Oh this is done actually https://github.com/getinsomnia/insomnia/pull/1470

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-03 17:19] #454 closed

[2019-05-03 18:03] yozlet commented on #774
@gschier Now that the Response Template tag is resending dependent requests (#1470 - thank you for that!), what's the next step here?

[2019-05-03 19:10] ignacio-chiazzo commented on #944
This is a nice feature!

[2019-05-03 20:32] gschier commented on #734
Oh this was done a while ago. You can clear all responses for a workspace in the workspace settings dialog

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-03 20:32] #734 closed

[2019-05-04 10:47] develohpanda commented on #1109
Duplicate of #1344.

Funny, @gschier we had the same idea to resolve this! I just saw it come up in the list because of the stale bot.

[2019-05-04 16:01] jbruni opened #1480 "[Bug] Template Tag plugin: can't use quotes in `string`"
- Insomnia Version: 6.4.2
- Operating System: Windows 10

## Details

You can reproduce the bug in these conditions:
- using a Template Tag plugin
- one of the plugin `args` is of type `string`

Now, try using quotes character `"` in the value for the `string` type argument.

Even though the "Live Preview" shows a valid value, the request JSON body parser throws an error.

Maybe this is a duplicat

[2019-05-04 16:03] jbruni commented on #1480
Hmmm... just found this bug reported as a "warning" in `insomnia-plugin-chance` README:

https://www.npmjs.com/package/insomnia-plugin-chance#warning

[2019-05-04 19:06] gschier commented on #1254
Ah, this is fixed!

[2019-05-04 19:06] #1254 closed

[2019-05-04 19:16] gschier commented on #1480
Yes, it's just the linter warning you that it's invalid JSON.

This is because, under the hood, template tags look like this:

[code]

The tag is unaware where it's being used so it has no way of knowing that the double quotes inside of it conflict with the JSON string it's being used within.

[2019-05-04 19:19] gschier commented on #1476
This is basically a duplicate of #1025

Insomnia uses `libcurl` to send requests, which is rather strict on content encoding types. Your server is returning a `Content-Encoding` header of `UTF-8` which is not a valid value.

[2019-05-04 19:19] #1476 closed

[2019-05-04 19:23] gschier commented on #1474
I just want to mention here first that you _can_ write a request hook plugin that calls the `settingSendCookies(false)` method based on the URL of the current request: https://support.insomnia.rest/article/26-plugins#request-hook-api

Personally, if we are to add this as a first-party feature, I feel like a global toggle doesn't make much sense. Rather, a host-based toggle would probably be more a

[2019-05-04 19:44] strarsis commented on #865
Not stale!

[2019-05-04 20:36] gschier commented on #774
Just added the ability to define folder actions within plugins.

![image](https://user-images.githubusercontent.com/587576/57184533-b738b580-6e8a-11e9-8e28-f4e05f7ffcad.png)

Wrote a quick plugin to test if it works:

[code]

This ability will be live in the next release

[2019-05-05 00:06] jbruni commented on #1480
I see... It works fine when the template engine renders the JSON body provided to the request..

But... why not also apply some parsing to the JSON before it is provided to the linter?

Instead of having `{% mytag '"some value"' %}` string reaching JSON linter... we could apply `JSON.stringify` on it, so the linter would receive a valid syntax:

[code]

[2019-05-05 02:50] #1352 closed

[2019-05-05 18:19] gschier commented on #1104
If it's a fresh install it's likely a different problem. Perhaps insufficient permissions to write the dB files?

[2019-05-06 11:49] robinfla commented on #454
My bad I didn't see that new feature. I updated my insomnia version to 6.4.2 and tried it out but it seems that the response body attributes doesn't get updated whereas I did use the "always - resend request when needed".

I have a request where I need a stripe card token, so I used the response body attribute with the "always resend" option to get the token from another saved request to Stripe AP

[2019-05-06 13:14] ValorMorgan commented on #1104
I've recently now seen the same issue and it's hauntingly familiar to errors I was seeing on Postman (why I switched to Insomnia in the first place).  Assuming nedb is the issue (as both use this), this team may find it worthwhile to dig into the issue along with the Postman team / nedb team.
Postman issue describing the same thing: [Postman fails to start on Windows 10.0.17763.437](https://github

[2019-05-06 14:31] gschier commented on #1104
@ValorMorgan can you provide an example of the "corrupt" file?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-06 14:35] gschier commented on #454
Thanks for the feedback. I will take a look and see if I can reproduce. You can also take a look at the request that's being referenced to ensure a new response has been triggered

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-06 15:01] ValorMorgan commented on #1104
I formatted the source for readability but on first open, this file is in a single line.  Note: I replaced my cookies with `[...]` for privacy.  None of the cookies appeared to be the issue though (in my testing, I removed the cookies and saw the error message still).

[code]

Example in one line (saving as one line fixes the issue):
[code]

Cookie structure (for reference):
[code]

[2019-05-06 17:56] mgraham commented on #479
I think it's still a valid long-term feature request

[2019-05-06 18:28] #1391 closed

[2019-05-06 22:41] #1386 closed

[2019-05-07 01:00] tehmantra commented on #1370
Thanks for the reply. I decided to just use environment variables for anything that needed to be shared.

[2019-05-07 01:00] #1370 closed

[2019-05-07 07:42] IvanRibakov opened #1481 "[Question] - OpenAPI v3 import - debugging "factory is not a function" error message"
- Insomnia Version: 6.4.2
- Operating System: macOS 10.14.4

## Details

Tried to use new OpenAPI v3 importer, but as I tried to load it from file I got a brief `factory is not a function` error message:

![image](https://user-images.githubusercontent.com/3639958/57281280-f3e2f780-70aa-11e9-93cd-4303e349100b.png)

I'm guessing this is probably due to the current lack of full OpenAPI v3 support, bu

[2019-05-07 10:10] robinfla commented on #454
Thanks! I've tried and checked the request that's been referenced and I can confirm no new response was triggered when I hit send on the request with the response body attribute.

[2019-05-07 14:38] gschier commented on #1481
It looks like the error would be coming from here:

https://github.com/getinsomnia/insomnia/blob/7a549310470fc17851a5358e740dcfae85249d2c/packages/insomnia-importers/src/importers/openapi3.js#L333

It looks like maybe your import has a type that is not in this map?

https://github.com/getinsomnia/insomnia/blob/7a549310470fc17851a5358e740dcfae85249d2c/packages/insomnia-importers/src/importers/opena

[2019-05-07 14:45] gschier commented on #1477
I took a brief look at how hard this would be to do and it's a bit trickier than I expected. Going to leave this one open for a later time.

[2019-05-07 14:46] #1109 closed

[2019-05-07 14:46] #1344 closed

[2019-05-07 14:57] toughengineer commented on #528
Hey all!
I use Insomnia almost daily and I really _really_ miss websocket support in _any_ form.
My scenario is just sending requests to the backend and watching what it spits out, all in JSON.
Currently I use [WebSocket Test Client](https://chrome.google.com/webstore/detail/websocket-test-client/fgponpodhbmadfljofbimhhlengambbn) and it works... but it is super ugly and not productive.
Also I lear

[2019-05-07 15:17] #1440 closed

[2019-05-07 15:54] pinggi commented on #1426
The flag really helps 👍

The first line is without the flag and the second one is with it. The graphs are in order: CPU, Commit, Memory, I/O, Network, GPU.
![image](https://user-images.githubusercontent.com/18471834/57313810-9ffb0180-70f0-11e9-8e3e-4032a81822cb.png)

You can see that CPU & GPU goes down with the flag. I can use it as a workaround and start Insomnia always with the flag.

[2019-05-07 17:24] brolaugh commented on #975
Any update on this?

[2019-05-07 18:04] gschier commented on #1475
Should be back to normal now

[2019-05-07 18:05] #1475 closed

[2019-05-07 18:07] gschier commented on #774
Here's a link to the docs: https://support.insomnia.rest/article/26-plugins#folder-actions

[2019-05-07 18:07] #774 closed

[2019-05-07 18:24] #1478 closed

[2019-05-07 18:45] mobsoftware opened #1482 "[Feature Request] Display number of array items in response when arrays are collapsed"
- Insomnia Version: 6.4.2
- Operating System: Windows 10

## Details

It would be useful if the preview tab on the right displayed the number of items in the response or when arrays are collapsed show the number of items in the arrow between the square brackets like this "[ 99 ]". This can help validate the expected number of items are returned.

[2019-05-07 19:25] bulletinmybeard opened #1483 "Your client has issued a malformed or illegal request. That’s all we know."
- Insomnia Version: Version 6.4.2 (6.4.2.2759)
- Operating System: macOS Mojave (10.14.4)

I'm using Insomnia for an API developed in Node.js with the help of Sails.js. After every single deployment to our production system, randomly endpoints are throwing the error **400. That’s an error - Your client has issued a malformed or illegal request. That’s all we know.**.

The failing endpoints are not

[2019-05-07 19:29] gschier commented on #1483
Are you sending an empty Multipart form on purpose? That looks suspicious

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 19:30] gschier commented on #454
Sorry about this. There was a small bug in the last release but it should be working now in 6.5.1

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 19:32] bulletinmybeard commented on #1483
@gschier Damn, you're right!!!!!

After 16 hours of programming, I didn't notice that. Thank you so much.

Changing it to *No Nody* fixed the issue!!!!!

Cheers

[2019-05-07 19:33] bulletinmybeard commented on #1483
@gschier Damn, you're right!!!!!

After 16 hours of programming, I didn't notice that. Thank you so much.

Changing it to *No Nody* fixed the issue!!!!!

Cheers

[2019-05-07 19:33] #1483 closed

[2019-05-07 19:53] gschier commented on #1483
Hehe, sometimes you just need another set of eyes 😄

[2019-05-07 21:38] gschier commented on #1426
Awesome! I'm going to consider this one "fixed" for now then unless it becomes a problem for more users. It seems like it may resolve itself in a future ElectronJS update.

[2019-05-07 21:38] #1426 closed

[2019-05-07 21:39] gschier commented on #1438
Should be fixed now

[2019-05-07 21:39] #1438 closed

[2019-05-07 21:52] rafaelrenanpacheco commented on #1457
Duplicated.

Some issues were opened and got stalled about this: #662 and #1332

[2019-05-07 22:00] bulletinmybeard commented on #1483
That is so true :D

The cause of the issue was simply my stupidity by cloning existing endpoints and changing the request method, but not how I want to send the data, damn.

Cheers

[2019-05-08 07:02] Thejas007 commented on #826
Facing the same issue.

PS C:\OpenSource\insomnia> npm run bootstrap

npm WARN rollback Rolling back readable-stream@2.3.6 failed (this is probably harmless): EPERM: operation not permitted, rmdir 'C:\OpenSource\insomnia\node_modules\@babel\cli\node_modules\fsevents\node_modules'
npm WARN babel-loader@8.0.5 requires a peer of webpack@>=2 but none is installed. You must install peer dependencies yo

[2019-05-08 10:17] soderluk opened #1484 "[Bug]: Not able to use special keys in environment variables"
- Insomnia Version: Version 6.5.1
- Operating System: Ubuntu 18.04

This issue is similar to #945, but in regards of being able to use the special keys in the environment variable definitions.

## Details

We're returning JSON-LD data from our APIs, with keys such as `@type`, `@context` and `@id`.
Now I'd like to use the response attribute `@id` from one request as an environment variable, but I g

[2019-05-08 10:21] dachucky opened #1485 "[Bug] Having any Response tag with trigger behaviour "Always" results in infinite requests"
- Insomnia Version: 6.5.1
- Operating System: Ubuntu 19.04 (Disco Dingo)

## Details

If any response tag in the workspace is set to always trigger a resend, sending any request (even if it doesn't contain the response tag) will result in Insomnia infinitely sending that request. This prevents the results of a request from being shown, as the timer will just count up indefinitely. The `Cancel` but

[2019-05-08 11:21] scottmmmm commented on #1457
Thanks for letting me know. I'll close this issue and lend my support to those ones. It'd be great to have better HATEOAS support in Insonia.

[2019-05-08 11:24] scottmmmm commented on #1332
I closed the feature request that @rafaelrenanpacheco referenced above, since it duplicates this one.

I'd love to see some of the features discussed here added to Insomnia, so it's +1 from me.

[2019-05-08 11:24] scottmmmm commented on #1332
Oh no, just noticed this has been closed by the stale bot! :(

[2019-05-08 11:25] scottmmmm commented on #1457
Actually I'll reopen this, as the other feature request has been closed by the stale bot.

[2019-05-08 14:19] gschier commented on #1484
... Since this problem basically only occurs in the response tag, we could also just add some logic to make the filter parameter use base64 (or some other encoding) always

[2019-05-08 14:20] gschier commented on #1484
Since this basically only happens in the response tag, we could also just update that tag specifically to always encode that parameter in base64 or something similar.

[2019-05-08 14:21] gschier commented on #1484
... Since this problem basically only occurs in the response tag, we could also just add some logic to make the filter parameter use base64 (or some other encoding) always

[2019-05-08 14:41] gschier commented on #1485
Thanks for the sample workspace. I should be able to fix the issue now that I can reproduce 😄

[2019-05-08 14:46] gschier commented on #1485
Ah yes. It seems that the problem comes from:

1. Trigger request to be sent
2. Environment is rendered, causing the response tag to send the dependency
3. Trigger dependent request to be sent
4. Environment is rendered, causing the response tag to send the dependency
5. Go to step 3

This might be a tricky one to fix...

[2019-05-08 17:36] robclancy opened #1486 "[Bug] Can't click and drag a request into an empty folder"
- Insomnia Version: 6.5.1
- Operating System: Arch Linux

## Details

Created a new folder and attempted to move a request into it and it would just do it below the new folder. I created an empty request in the folder and then moving into it would work. I think this is a new issue to 6.5.

[2019-05-08 17:40] #1484 closed

[2019-05-08 17:40] #1030 closed

[2019-05-08 17:58] danielo515 commented on #1383
Dear stale bot,you are a rude person that does not bring anything useful to the conversation.
This is a planned feature for whenever the developers find a slot to implement it.

[2019-05-08 18:01] robclancy commented on #1486
Calm down I only just reported it :open_mouth:

[2019-05-08 18:02] gschier commented on #1486
Hehe, it was an easy fix! 😄

Thanks for taking the time to report it 💯

[2019-05-08 18:09] gschier commented on #1485
Added a fix for this here: https://github.com/getinsomnia/insomnia/commit/8adee60c8671291712b8ad33f6bbc1e43c453c16

Basically, the response tag will now track that it's already sending a request dependency and simply return `null` if it is. This is the best I could come up with for now and it seems to work pretty well.

[2019-05-08 18:09] #1485 closed

[2019-05-08 18:13] gschier commented on #1480
This was fixed here: https://github.com/getinsomnia/insomnia/commit/8adee60c8671291712b8ad33f6bbc1e43c453c16

The response tag will now store the filter value in base64 so the quotes won't interfere

[2019-05-08 18:13] #1480 closed

[2019-05-08 19:38] gschier commented on #1383
There, @stale won't close it now with that tag attached 😄

[2019-05-08 19:42] gschier commented on #1383
**I'd love to hear some ideas that people have for UI plugins!** 💯

This is a simple example, but the latest release came with the ability to add entries to the folder dropdown menu: https://support.insomnia.rest/article/26-plugins#folder-actions

UI features like this are nice because they don't require the ability to define UI via HTML. Everything can be done with configuration objects in JS.

T

[2019-05-08 19:46] gschier commented on #1404
This one might be tricky, as code folding is currently done within the CodeMirror text editor itself. It also works for many different languages and formats.

That being said, if someone wants to take a look and see how difficult it might be to implement, I'm happy to discuss 👍

[2019-05-08 19:48] gschier commented on #1482
My response here will be similar to that on https://github.com/getinsomnia/insomnia/issues/1404#issuecomment-490624622

Currently, code folding is currently done within the CodeMirror text editor itself and has support for many languages and formats.

That being said, if someone wants to take a look and see how difficult it might be to implement, I'm happy to discuss 👍

[2019-05-08 19:51] gschier commented on #1457
There's actually a still-open issue over here: https://github.com/getinsomnia/insomnia/issues/874

Please feel free to participate in that discussion.

[2019-05-08 19:51] #1457 closed

[2019-05-08 20:12] qJake commented on #669
Bad bot! No stale tag! This is still something I'd love to see - essentially having the history / response cache be per-environment instead of global. Would have numerous benefits!

[2019-05-08 20:13] #1473 closed

[2019-05-08 20:21] gschier commented on #931
On it!

[2019-05-08 20:32] #931 closed

[2019-05-08 20:34] #720 closed

[2019-05-08 21:14] gschier commented on #669
Sorry about that. I was changing up the issue tag descriptions so the stale bot went on a rampage!

[2019-05-08 21:16] gschier commented on #1484
This is not ideal, but I wonder if we could workaround this by coming up with a special encoding for complicated tag arguments.

For example, we could prefix complex arguments with a special encoding function like this

[code]

This, of course, would break compatibility with stock Nunjucks templating but it would solve the problem.

[2019-05-08 21:16] gschier commented on #826
@Thejas007

Your error message is more clear. You need to have Python installed.

[code]

[2019-05-09 03:25] BehindTheMath commented on #687
I think this is still a viable feature, and should not be marked stale.

[2019-05-09 06:09] soderluk commented on #1484
@gschier: Sorry, I didn't find the existing issue. I tried with the `\"$['@id']\"` both in the popup window and in the `{%%}` string format, but didn't get it to work... I'll continue trying to find a solution for that.
Thanks for your responses!

[2019-05-09 06:28] soderluk commented on #1030
@gschier gave me this workaround, that worked:
[code]

[2019-05-09 07:22] danielo515 commented on #1382
So this was closed by my usual friend @stale, who doesn't even care about the feature usefulness.

[2019-05-09 07:23] danielo515 commented on #1379
I would love some human interaction. Even just for telling me that this is not going to be implemented

[2019-05-09 07:26] danielo515 commented on #1383
Adding entries to a drop-down is definitively a good step forward.
However, I think that the real power comes in the form of being able to define "views". Not sure if they should be inside a tab, a panel, a popup or even any of those.
Have you thought about mimic the model that chrome has for extensions? seems to be successful

[2019-05-09 07:55] ddesna opened #1487 "[Bug] Can't move request inside empty folder"
- Insomnia Version: 6.5.1
- Operating System: Windows 10

## Details

After updating to 6.5.1 version I can't move request inside empty folder.
Steps to reproduce:
1. Create new empty folder
2. Try to move some request inside folder created on previous step

If some request is already exist in folder, other request could be moved inside.

[2019-05-09 08:02] robinfla commented on #454
Awesome, thanks! I've just tried it now and it works. This is gonna save me tons of time :)

[2019-05-09 08:37] 4ekki opened #1488 "[Feature Request] show time when request was made"
- Insomnia Version: 6.4.2
- Operating System: Windows 10

## Details

This may sound quite stupid, but still =) Sometimes I switch to the Insomnia from some other application, see the response and get confused, did I just send the request and this is fresh response or some outdated one?
It would be handy to expose the time when the request was made to the response header, something like this:
![im

[2019-05-09 08:47] 4ekki commented on #1072
@gschier, this one is back in 6.5.0

[2019-05-09 09:49] verglor opened #1489 "[Question] Silent installation"
Is it possible to install Insomnia (on Windows) silently without automatically starting ?
I would like to add installation of Insomnia to my unattended setup script.

[2019-05-09 09:51] verglor opened #1490 "[Feature Request] Official chocolatey package"
It would be great if there is official and up to date chocolatey package of Insomnia.

[2019-05-09 11:59] ghost99cze commented on #1202
I also think it is not related. For now i'm using npm install in the plugin folder which is working fine as well.
Maybe yarn-standalone has some problems with dependencies or something like that.

Either way. Original problem seems fixed.

[2019-05-09 13:51] 4ekki commented on #44
still happens

[2019-05-09 14:50] royledford commented on #1460
Thanks for taking the time to look into this. Haven't got 6.4.2 yet but will try once it comes through.

And thanks for the quick response. Insomnia is a great product!

[2019-05-09 15:52] gschier commented on #1490
You are probably aware but I just wanted to follow up quickly and point out (for those who are unaware) that there is an unofficial Chocolatey package already: https://chocolatey.org/packages/insomnia-rest-api-client

It seems to be about a month behind usually, though.

[2019-05-09 15:57] gschier commented on #1489
I'm not a Windows user but the Windows version of Insomnia is packaged with Squirrel, which might have a way of doing this. I found a GitHub issue that makes it seem like there is a `--silent` flag you can use https://github.com/Squirrel/Squirrel.Windows/issues/1096

[2019-05-09 16:10] verglor commented on #1489
It works, thanks !

[2019-05-09 16:10] #1489 closed

[2019-05-09 16:21] gschier commented on #1072
Will take a look. The sidebar did change a bit to accommodate the new request pinning feature

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-09 16:40] gschier commented on #1487
Duplicate of #1486

[2019-05-09 16:40] #1487 closed

[2019-05-09 16:45] gschier commented on #1488
I love this suggestion. What about showing the time in the history menu?

![image](https://user-images.githubusercontent.com/587576/57471084-61805680-7258-11e9-872d-21f8c43fb16d.png)

[2019-05-09 16:45] verglor commented on #1490
I know about this, but it seems quite unmaintanied. Auto-updated package whould be better. However since Insomnia seemlessly self-updates it is not so urgent. Problem may probably arrise when you install old version from choco with database from newer version...

[2019-05-09 17:03] #1488 closed

[2019-05-09 17:04] 4ekki commented on #1488
Looks great!
Do you have an idea, how to make the relative one show actual info? Probably, the static timestamp is better since you won't need to re-draw it at all.

[2019-05-09 17:32] gschier commented on #1181
There is a map of environment names generated here:

https://github.com/getinsomnia/insomnia/blob/bba03d0eab34e29ec4f9fdb2d6dca4f82ddc1225/packages/insomnia-app/app/common/render.js#L217-L241

There are some problems with it though, like it does not work with nested variables (#1288). We can likely ignore this one for now and just not show the ability to edit if we cannot infer the environment.

H

[2019-05-09 17:34] gschier commented on #1181
Also, as usual, don't worry about the UI/UX too much if you don't want to. If you can put together a barebones UI, I can tweak things after.

[2019-05-09 17:36] gschier commented on #1488
The relative one has a `title` attribute to show the actual info. It also uses the `<TimeFromNow>` component, which automatically updates the value as time passes.

If we want better access to when a request was sent, I suggest also printing a timestamp at the start of the Timeline.

[2019-05-09 17:38] gschier commented on #1488
![image](https://user-images.githubusercontent.com/587576/57474251-acea3300-725f-11e9-99ef-e2cfb569e340.png)

[2019-05-09 17:39] gschier commented on #1030
Also, the fix included in https://github.com/getinsomnia/insomnia/commit/8adee60c8671291712b8ad33f6bbc1e43c453c16 will be released soon!

[2019-05-09 17:42] gschier commented on #1202
I'll get an update to `yarn-standalone.js` into the next release. Thanks for testing that out @senoctar! ❤️

[2019-05-09 18:17] 4ekki commented on #1488
Label in the history menu covers my use-case completely. However, could be useful to add this to the Timeline for other cases.

[2019-05-09 18:27] gschier commented on #1202
Going to close this one for now actually and can reopen it if the problem still occurs after the next release.

[2019-05-09 18:27] #1202 closed

[2019-05-09 18:28] gschier commented on #1488
Oh, awesome. And I did add it to the timeline as well. I think it'll be useful there too

[2019-05-09 20:13] KennethWussmann commented on #1181
Hey! Thanks for the suggestions.

Okay I can add the id to the `keySource`, but it will always only be possible to edit root-level variables like:
[code]
and not something like:
[code]
Because the `keySource` only holds the root-level variables with the corresponding environment:
https://github.com/getinsomnia/insomnia/blob/bba03d0eab34e29ec4f9fdb2d6dca4f82ddc1225/packages/insomnia-app/app/common/

[2019-05-09 20:17] brilang commented on #203
I like the second option @ggicci mentioned in his first point.
`/users/:user_id/posts/:post_id`
It would be very easy for people migrating from Postman to learn since that's how they do it.

[2019-05-09 22:04] gschier commented on #1379
Sorry @danielo515! Some issue slip through the cracks. You may want to take a look at this: https://github.com/getinsomnia/insomnia/issues/774#issuecomment-489363559

[2019-05-09 22:30] mths0x5f opened #1492 "Refresh token is null after one usage"
Insomnia currently does not maintain the refresh token after its usage, if response for a new access token request does not include one. As in: [Refreshing Access Tokens](https://www.oauth.com/oauth2-servers/access-tokens/refreshing-access-tokens/#example)

https://github.com/getinsomnia/insomnia/blob/4a50ad149682f6facd9504d4d3c3732516385f6f/packages/insomnia-app/app/network/o-auth-2/refresh-token

[2019-05-09 22:44] mths0x5f commented on #1492
I'm not motivated to fork to propose such a little commit... but from what I've read, I think that between lines 76 and 78,
https://github.com/getinsomnia/insomnia/blob/4a50ad149682f6facd9504d4d3c3732516385f6f/packages/insomnia-app/app/network/o-auth-2/refresh-token.js#L75-L78
would just suffice to put a conditional like:
[code]

[2019-05-10 01:18] #1138 closed

[2019-05-10 01:32] gschier commented on #1492
Thanks for reporting this!

I just took a look at the [OAuth 2.0 RFC](https://tools.ietf.org/html/rfc6749#section-6) and can confirm that issuing a new refresh token is optional:

I'll get this fixed!

[2019-05-10 01:44] #1492 closed

[2019-05-10 01:47] mths0x5f commented on #1492
WOW! That's what I call a fast response. Thank you for this, Insomnia is awesome!

[2019-05-10 01:51] gschier commented on #1382
That was my bad. It's getting difficult to respond to everything! I feel like, ideally, stalebot would not act if there have not been any comments on the issue yet.

It's actually a common suggestion to be able to see what Insomnia is going to send before sending it. I  think it might be useful to provide a rendered preview of the environment that will be used but it might cover more use cases to

[2019-05-10 01:53] gschier commented on #1104
@ValorMorgan, is there any way you could attach a raw version of the DB file that broke it? If it's line endings causing the issue, then I won't be able to copy your example to reproduce the problem.

I think part of the issue here might be that NeDB uses a 10% corruption limit. For a DB with only a few bytes of data in it, one "invalid" line ending might be all it takes to prevent it from loading

[2019-05-10 02:11] gschier commented on #1104
I just changed the corruption threshold from 10% to 90% to see if that prevents some of this.

[2019-05-10 02:43] #1163 closed

[2019-05-10 02:43] #994 closed

[2019-05-10 02:43] #790 closed

[2019-05-10 02:43] #1242 closed

[2019-05-10 02:43] #619 closed

[2019-05-10 02:43] #1140 closed

[2019-05-10 02:43] #1204 closed

[2019-05-10 02:43] #1212 closed

[2019-05-10 02:43] #584 closed

[2019-05-10 02:43] #1051 closed

[2019-05-10 02:43] #1327 closed

[2019-05-10 02:43] #1309 closed

[2019-05-10 02:43] #643 closed

[2019-05-10 02:43] #1016 closed

[2019-05-10 02:43] #1049 closed

[2019-05-10 03:17] gschier commented on #894
What happens if you have both a query and a mutation in a request?

[2019-05-10 03:23] rafaelrenanpacheco commented on #892
![noooo](https://user-images.githubusercontent.com/12160864/57500438-d2a42600-72b9-11e9-889d-4278b60ec8df.gif)

[2019-05-10 03:34] rocketraman commented on #894
If you go the route of having secondary tagging for higher-level protocol information, then you could just show both?

[2019-05-10 03:35] gschier commented on #1181
Ya, I wouldn't worry about nested variables for now.

I hesitate having a cancel/save button where the Done button is because all other dialogs (eg. environment editor) saves as you type. Having this one work differently would likely be confusing even though it makes sense in isolation.

What about something like having the save button inline with where you change the value?

![image](https://user

[2019-05-10 03:43] #781 closed

[2019-05-10 03:43] #866 closed

[2019-05-10 03:43] #870 closed

[2019-05-10 03:43] #875 closed

[2019-05-10 03:43] #898 closed

[2019-05-10 03:43] #901 closed

[2019-05-10 03:43] #934 closed

[2019-05-10 03:43] #992 closed

[2019-05-10 03:43] #917 closed

[2019-05-10 03:43] #936 closed

[2019-05-10 03:43] #877 closed

[2019-05-10 03:43] #1086 closed

[2019-05-10 03:43] #840 closed

[2019-05-10 03:43] #1146 closed

[2019-05-10 03:43] #1080 closed

[2019-05-10 03:43] #1094 closed

[2019-05-10 05:37] parasuramln opened #1493 "no support for collection running like post man"
- Insomnia Version: ___
- Operating System: ___

## Details

[2019-05-10 06:35] bukajsytlos commented on #1138
thank you

[2019-05-10 06:47] Misiu commented on #423
@gschier any updates? HMAC support would be an awesome addition

[2019-05-10 08:05] nike-emea-trade opened #1494 "[Bug] Default value in promt dialog"
- Insomnia Version: 6.5.1
- Operating System: Windows 10

## Details

When adding a default value in the a prompt, I would expect to still see the prompt screen pop up every time I press the send button. This is however not the case. Moreover, the behavior is pretty inconsistent, sometimes it does show the pop-up with the default value, other times it just does the request with the default value f

[2019-05-10 09:59] develohpanda commented on #1046
@gschier update for this - I've created a [package](https://github.com/develohpanda/json-order) with this implementation and will start work on now pulling this into insomnia.

[2019-05-10 12:51] ValorMorgan commented on #1104
Git doesn't let me post a `.db` file but here's the file with a `.txt` extension.  I went through and removed private data in strings (left stuff outside strings alone).  Note the trailing `}` on the 2nd line.
[insomnia.CookieJar.db.txt](https://github.com/getinsomnia/insomnia/files/3166539/insomnia.CookieJar.db.txt)

[2019-05-10 13:39] gschier commented on #781
Ah, this was done a while ago

[2019-05-10 13:48] #1494 closed

[2019-05-10 13:51] gschier commented on #1494
So the prompt tag uses storage to ensure it doesn't prompt multiple times during the same request, even if the tag is rendered more than once. There was a bug in the logic that was causing to store the default value before the request had been sent (eg, when previewing the value).

It was a fairly simple fix though, luckily!

[2019-05-10 14:00] gschier commented on #1493
Duplicate of #774

[2019-05-10 14:00] #1493 closed

[2019-05-10 14:03] gschier commented on #1104
@ValorMorgan in your example, the trailing `}` is on its own line. Previously, you mentioned it was on a single line. Can you confirm this?

[2019-05-10 14:04] gschier commented on #423
No updates on this yet. It should remain open though

[2019-05-10 15:03] ValorMorgan commented on #1104
I cannot fully confirm.  At this point, my backups were either modified for my testing or to show what I have here.

Off memory, the trailing `}` was on its own line when I first had the issue.  I am able to confirm that simply adding a 2nd line in the `.db` files with text (not an empty line) does cause the 10% corruption message.

Apologies for losing the very original source file...

[2019-05-10 16:10] gschier commented on #1104
Don't worry about it. It's just a bit unfortunate not to know the exact reason.

[2019-05-10 16:13] gschier commented on #1046
Awesome! 😄

[2019-05-10 16:24] #44 closed

[2019-05-10 16:27] gschier commented on #1383
I think the Chrome model _could_ work but it'd be nice if plugins could have access to the native Insomnia components in order for plugins to provide a nice experience. For example, you'd have to use the Insomnia code editor and input fields to get the autocomplete.

[2019-05-10 17:31] yozlet commented on #1259
@gschier Can this one be reopened? Sure, it's been a long time, but it's still a valid enhancement.

[2019-05-10 17:54] gschier commented on #1259
Yep, sorry. Have been having some trouble with stalebot lately

[2019-05-10 18:27] rafaelrenanpacheco commented on #1474
A host-based configuration would fit perfectly.

What about the configuration to enable cookies be opt-in instead of opt-out? Insomnia's default behavior would be "no cookies at all". If the user need cookies for some host, then the user must add it to the "hosts with cookies" configuration.

[2019-05-10 18:30] rafaelrenanpacheco commented on #1474
This dialog could have 2 sessions:

1º session: A grid to add hosts that allow cookies to be stored and sent.
2º sessions: List of stored cookies received by Insomnia (the current behavior).

![image](https://user-images.githubusercontent.com/12160864/57548883-746a5800-7338-11e9-8120-b88e8cdb1225.png)

[2019-05-10 19:59] awkj commented on #1392
Can you describe the plan ?

I use workspace to split my projects, and I think if have environment  can cross workspace should be useful. because domain of company is similar even though project is diffent. but base enviroment limit I to use the same variable.

[2019-05-11 09:32] o8e opened #1495 "[Feature Request] Simple fullscreen mode (OSX)"
Is it possible to have a "simple" fullscreen mode? Similar to iTerm and VSCode, so you can go into fullscreen and still be able to see and tab between other windows.

[2019-05-11 21:00] prurph opened #1496 "[Bug] Vim insert mode cursor incorrect behavior for certain commands when editing GraphQL query"
- Insomnia Version: 6.5.1.279
- Operating System: OS X 10.14.4

## Details
When using Vim mode to edit the body of a GraphQL query, certain motions that place Vim in insert mode result in the cursor appearing as a block instead of changing to a pipe.

Examples include: `o` (new line > insert mode), `O` (new line > insert mode above), `ci(` (change inside parens). Actions that _do_ correctly change

[2019-05-11 21:07] prurph commented on #1496
Whoops, I'm sorry! I didn't realize codemirror has its own graphql support so I opened the issue here thinking since it didn't happen for the JSON requests it must be something with Insomnia. Looking further at the code here it is extremely unlikely that is the case.

[2019-05-11 21:07] #1496 closed

[2019-05-12 00:33] gschier commented on #1495
I'm not sure what you mean by this. Can you please provide more info as to what you're looking for?

[2019-05-12 21:18] #1326 closed

[2019-05-12 21:18] #1328 closed

[2019-05-13 06:21] Thejas007 commented on #826
@gschier Thanks for noticing it.

I was thinking npm will resolve all dependencies and runs the app smoothly.

After fixing python issue , start getting vcbuild.exe not found issue. Looks like other dependecies needs few more dev tools before run.

Is there any set of dev tools to be installed before running npm run bootstrap?

[2019-05-13 07:26] vermgit commented on #708
Please? Hello?

[2019-05-13 07:32] vermgit commented on #554
This makes a lot of sense when having to pass a time period to a remote service. As far as the API is concerned I suggest to implement something like UNIX' `date` has. If that isn't practical, I'd do something like `-4h`, `+20d12h15m`. With `w` for weeks, `d` for days, `h` for hours, `m` for minutes and `s` for seconds.

[2019-05-13 07:40] vermgit opened #1498 "[Feature Request] Timestamp-Function (now) with Offset"
https://github.com/getinsomnia/insomnia/issues/554 makes a lot of sense and I commented a suggested API there:

This makes a lot of sense when having to pass a time period to a remote service. As far as the API is concerned I suggest to implement something like UNIX' `date` has. If that isn't practical, I'd do something like `-4h`, `+20d12h15m`. With `w` for weeks, `d` for days, `h` for hours, `m`

[2019-05-13 07:48] vermgit opened #1499 "[Feature Request] Multipart Form Headers"
I commented in #708 a while ago, but I guess Github kind of ignores that.

Anyway, it would be great if there was support to allow headers in multipart forms.

[2019-05-13 08:20] msphn commented on #480
+1 I would like as well!

[2019-05-13 08:20] micha-hammer commented on #480
+1 This would be nice

[2019-05-13 10:12] o8e commented on #1495
@gschier I'm not really sure of the actual term, but the applications in my original post all refer to it as "simple fullscreen", which I think just means not using the native fullscreen functionality. It allows the window to occupy the whole screen (on OSX) without opening it in a new desktop. If you're using multiple monitors, going into another desktop on one makes the rest of the monitors go b

[2019-05-13 14:19] AL1L commented on #1308
Not really sure how to interpret this, but [RFC 3986 Section 2.4](https://tools.ietf.org/html/rfc3986#section-2.4) outlines when to encode or not. I think that if the percent-encoding is invalid, such as the `%jk` above then the `%` must be encoded as it is scheme-specific while `%de` is a valid encoding.

[2019-05-13 14:43] davibusanello commented on #836
I have the same problem, and I don't have tokens in these requests like `login` endpoint.
I'm also using in my local development server and the request doesn't reach the server with Insomnia however in `curl` works normally.

- OS `Ubuntu 18.04 bionic x86_64 Linux 4.15.0-48-generic`

- Insomnia `v6.5.1`

[code]

[2019-05-13 14:44] davibusanello opened #1500 "[BUG] Insomnia fail but curl works?"
I have the same problem, and I don't have tokens in these requests like `login` endpoint. This request already was in my Workspace for a long time and always worked.

I'm also using in my local development server and the request doesn't reach the server with `Insomnia` however in `curl` works normally.

- OS `Ubuntu 18.04 bionic x86_64 Linux 4.15.0-48-generic`

- Insomnia `v6.5.1`

[code]

_Origin

[2019-05-13 17:27] gschier commented on #1500
Can you post the full debug info here from the Timeline tab?

[2019-05-13 17:29] gschier commented on #1498
There is a great plugin [`insomnia-plugin-customtimestamp`](https://www.npmjs.com/package/insomnia-plugin-customtimestamp) that supports offsets

[2019-05-13 17:43] davibusanello commented on #1500
@gschier The Timeline never appears because request can't be canceled and no timeout occurs.

![Captura de tela de 2019-05-13 14-41-20](https://user-images.githubusercontent.com/160360/57642317-67927200-758d-11e9-92ac-76b9809037bf.png)

[2019-05-13 19:58] #1388 closed

[2019-05-13 20:02] vermgit commented on #1498
Oh, cool :) Thanks

[2019-05-13 20:02] #1498 closed

[2019-05-14 00:48] jasonsemko commented on #538
@gschier still open for help on this? Can't let postman off the hook that easily!

[2019-05-14 04:44] Gomah commented on #1500
Same issue here, tested with 2 laptops using Mojave 10.4.4. It works fine with 6.4.2;

[2019-05-14 09:30] trizz commented on #1383
It would be great if it is possible that a plugin can add another panel (or tab) with an URL or HTML view. Currently I'm constantly cmd+tabbing between Insomnia and my debug page in a browser ([Laravel Telescope](https://laravel.com/docs/5.8/telescope) in my case) to view what happens when I fire a request.

It would be very nice if I can create a plugin that loads the (external) debug info of my

[2019-05-14 09:41] danielo515 commented on #1379
Thanks for the answer @gschier
Does that mean that I have to write a plugin per each set of requests I want to send? Or that I should install a plugin that allows me to do that?
Thanks!

[2019-05-14 09:48] danielo515 commented on #1382
Well, I see appealing on both.
I mean seeing a request "rendered" before sending it is probably the most useful one!
But there are times where I need to see the values of several variables to decide which request to send or to check that certain token that I need exist. This is also very important because it gets very tedious to mentally "merge" the base environment with the environment you are us

[2019-05-14 09:51] trizz commented on #1383
@danielo515 You are absolutely right, but as I see it, it can be a start to fully fledged UI plugins. I can imagine other plugins that want to display a webview based on stuff of the request/response.

[2019-05-14 12:57] wayneworkman commented on #538
Have at it.

On Mon, May 13, 2019, 7:48 PM Jason <notifications@github.com> wrote:

[2019-05-14 13:17] stanfieldr commented on #905
Same here on Ubuntu 19.04 using the snap

[2019-05-14 16:34] davibusanello commented on #1500
@gschier I also make the downgrade to 6.4.2 and everything works fine!

[2019-05-14 21:11] gschier commented on #1500
@davibusanello @Gomah Did any requests work for you or specific ones? I can't reproduce this on my Mac running 6.5.1.

[2019-05-14 22:41] gschier commented on #1500
Please also check to see if there are any errors visible in View > Toggle DevTools > Console

[2019-05-14 23:35] Gomah commented on #1500
@gschier

#### Using 6.5.1:

I can't see my defined variables
![Screen Shot 2019-05-15 at 9 31 44 am](https://user-images.githubusercontent.com/2362138/57738853-8d865680-76f4-11e9-9c4b-88d407c95bd5.png)

Looks like there's an infinite loop in the console:

![Screen Shot 2019-05-15 at 9 32 24 am](https://user-images.githubusercontent.com/2362138/57738872-9e36cc80-76f4-11e9-889b-02bab4bbdf08.png)

#

[2019-05-15 06:11] danielo515 commented on #1383
Yes, I'm not saying that it has no value, I'm just saying that, despite being a good idea, it is way easier and simpler (I think) to implement.
So maybe opening a new issue, and relating it to this one it could get implemented faster.
But, this is something that has to be decided by @gschier , not me, I am just suggesting.

[2019-05-15 07:01] vermgit commented on #217
Like the above, we have a bunch of requests that cause tasks to be created and return the task's id. Then we have one single request that checks the given task id.

Chaining requests doesn't work here as I can only assign one single request as a source, not 100.

So I want to execute the creating request and then be able to execute the check request a few times with that task id.

[2019-05-15 13:36] CharlesNjau opened #1501 "Insomnia runs but does not launch application window"
- Insomnia Version: ___6.5.1
- Operating System: ___window 10

## Details
Insomnia application when started in window 10 it runs but does not display the application window to interact  with the app

[code]

[2019-05-15 13:46] gschier commented on #1500
I just talked to someone on Slack with the same issue. For them, it was caused by using the Response Tag in an environment with Trigger Behavior set to "Always".

![image](https://user-images.githubusercontent.com/587576/57780445-46996080-76f6-11e9-8a54-846dd9eeb701.png)

[2019-05-15 15:24] mxmlnglt commented on #1501
I can read **The remote name could not be resolved: 'updates.insomnia.rest'**, probably a temporary hiccup of your internet connection/provider/...

[2019-05-15 16:40] gschier commented on #1500
Working on a fix!

[2019-05-15 17:01] davibusanello commented on #1500
Thank you @gschier, I use the Response Tag to in the environment, however the strange is because I don't use those properties with Response Tag in this `login` requests.

![insomnia](https://user-images.githubusercontent.com/160360/57794352-d00e5a00-7719-11e9-847a-4c0da516f3ac.png)

I'm going to wait the fix!

[2019-05-15 18:54] Robert430404 commented on #1065
@gschier Is there some interest in merging a feature like this into core? I would like to develop something to make this available since my company has base64 encoded response values.

If you would be open to merging it in, I'd invest the time in developing it.

[2019-05-15 19:40] anniecruz13 commented on #1104
I just fixed my problem by editing the insomnia.CookieJar.db file to remove a couple of extra carriage returns.

[2019-05-15 19:55] gschier commented on #1500
It will still happen even if you don't reference those properties in a request. The environments are compiled and rendered no matter what.

[2019-05-15 20:01] #1500 closed

[2019-05-15 21:03] davibusanello commented on #1500
I have already installed the version 6.5.2 and works again!
Thank you!

[2019-05-15 21:59] gschier commented on #1501
Are you using an external (or multiple) monitors? This might be a duplicate of https://github.com/getinsomnia/insomnia/issues/1255

[2019-05-15 23:10] gschier commented on #1500
Can you see if this is fixed now in https://insomnia.rest/changelog/6.5.3?

[2019-05-15 23:11] gschier commented on #1500
Oh, just noticed your comment @davibusanello. I'm so happy it works for you again 😄 👍

[2019-05-15 23:31] Gomah commented on #1500
Works for me too, thanks @gschier !

[2019-05-16 02:57] xin7c opened #1503 "[Generate Code]Generate Code is not work on v6.5.1.2798"
- Insomnia Version: ___v6.5.1.2798
- Operating System: ___mac osx

## Details

![image](https://user-images.githubusercontent.com/11660641/57823259-664d8900-77c9-11e9-8f13-57c3107b6d9b.png)

[2019-05-16 04:40] gschier commented on #1503
Unfortunately I cannot reproduce this. Can you provide an export of a minimal workspace used to reproduce this/

[2019-05-16 05:21] gschier commented on #538
I'm still open to this if someone wants to pick it up 👌🏻

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-16 08:59] GrayedFox commented on #1440
Awesome! Thank you kindly for the sneak preview :+1:

[2019-05-16 12:58] gschier commented on #1440
You can use it now by enabling the beta at the bottom of the app preferences screen.

Here's a link to the docs as well: https://support.insomnia.rest/article/67-version-control

[2019-05-16 15:24] Fyb3roptik opened #1504 "[Bug] Unable to pull, says all endpoints have been edited"
- Insomnia Version: 6.5.3
- Operating System: MacOS 10.14.5

## Details

I push out changes regularly to Insomnia and everyone on my team pulls them. One of my team members his Insomnia shows ALL endpoints as edited and he cannot pull. He has not changed anything with the endpoints, so no idea how this is happening.

Can we either have an option to pull and overwrite all changes or a revert all ch

[2019-05-16 16:13] gschier commented on #1504
There was a new setting added to the Request object in the latest release which is why it says they've all been modified. You can see which fields have been modified when creating a snapshot:

![image](https://user-images.githubusercontent.com/587576/57869687-900bad80-77d3-11e9-9a14-e4afac186a25.png)

Unfortunately it's not possible to revert this change since it will automatically be re-added to

[2019-05-16 16:14] gschier commented on #1504
That being said, performing a force pull should be an option. You can do this via a workaround by deleting the workspace locally, then pulling again from the top-left workspace dropdown.

[2019-05-16 19:46] davibusanello commented on #1500
6.5.3 works very well too! Thanks @gschier

[2019-05-16 22:01] bgmort opened #1505 "[Improvement] Allow for unnamed requests and display the url as the name"
- Insomnia Version: 6.5.1
- Operating System: macOS 10.14.3

## Details

Every time I create a new request from scratch or by duplicating an existing request, I have to create a name for it.  Most of the time I'd rather that the name displayed in the sidebar just be the url or the request.  It requires an extra step to create the request, and if I it also allows for a   mismatch between the reques

[2019-05-16 23:04] banksio commented on #1405
If this won't be fixed, is there a way I could create a pull request to cover it?

[2019-05-17 05:00] Fyb3roptik commented on #1504
Ah ok I will have him create a snapshot and pull, then push. So far great stuff man!

[2019-05-17 10:29] yash3x opened #1506 "[Bug] Unable to switch between Sub environments"
- Insomnia Version: Version 6.5.3 (6.5.3.2835)
- Operating System: macOS Mojave 10.14.4 (18E226)

[Bug] Unable to switch between sub-environments

Steps to Reproduce:
Create two Sub environments at Manage Environment Panel
Try to switch between the Sub environments to update values

**Actual Results:**
Unable to switch between the Sub environments

**Expected Result:**
User must be able to switch

[2019-05-17 15:08] aryzing opened #1507 "[Bug] GraphQL variables show error before any interaction"
- Insomnia Version: 6.5.3
- Operating System: Ubuntu 18.04

## Details

An error is dispayed warning about an unused variable, when in fact it is used
![Screenshot 2019-05-17 16:07:25](https://user-images.githubusercontent.com/4924405/57937455-e6551b00-78bd-11e9-9271-03e9f24b32e3.png)

[2019-05-17 16:22] gschier commented on #1507
Ya, I noticed this one before too. The error disappears as soon as you edit the query, right?

[2019-05-17 16:24] gschier commented on #1506
Thanks for the helpful screen recording! I can't seem to reproduce this. Can you see if there are any errors in View > Toggle DevTools > Console?

[2019-05-17 16:25] gschier commented on #1504
I'm glad you're liking it! Thanks for continuing to give this awesome feedback too 😄

[2019-05-17 16:26] #1504 closed

[2019-05-17 18:39] yash3x commented on #1506
Thanks for your prompt reply.
I tried to reinstall the application and it seems to have solved the issue. I'm unable to reproduce the issue right now. You may close the issue.

[2019-05-17 18:57] gschier commented on #1506
Hmm, that's odd. Well let me know if it happens again!

[2019-05-17 18:57] #1506 closed

[2019-05-17 19:05] #1401 closed

[2019-05-17 21:00] ripvannwinkler opened #1508 "Binary file fails when synchronized to another computer."
- Insomnia Version: 6.5.1
- Operating System: Windows 10 build 17763.475

## Details

I purchased a subscription for the sync feature. When I specify the type "binary file" for a post body on one computer, it works fine. When I attempt to launch the app on the other computer, it fails to load, presumably because it's trying to sync / load the file specified on the previous computer which does not

[2019-05-18 06:04] develohpanda commented on #1072
Hmm @4ekki are the reproduction steps the same this time around? I installed 6.5.3 fresh and can't seem to reproduce it. 😄

[2019-05-18 16:46] jakeswork commented on #451
+1

[2019-05-18 17:15] aryzing commented on #1507
Yes

[2019-05-19 09:40] 4ekki commented on #1072
Doesn't reproduce in 6.5.1 and 6.5.3, looks like it was fixed.

[2019-05-19 09:40] #1072 closed

[2019-05-19 09:45] 4ekki commented on #1488
@gschier, neat work on this, thank you!

[2019-05-19 10:21] KamilKot95 commented on #451
It is useless without docs. It will be perfect with.

[2019-05-19 18:58] #476 closed

[2019-05-20 09:07] mxmlnglt opened #1509 "Bug: HTTP requests not traced in Network tab of the Developer Tools"
- Insomnia Version: 6.4.2
- Operating System: Windows 10 Pro (64-bit)

## Details

Apart from a request to https://api.insomnia.rest/notification none of the requests made in the main window are displayed in the Network tab from the Developer Tools.

See: in this case I was refreshing the schema from my local server, but this works with whatever API url you can use.

![Insomnia_no_request_network]

[2019-05-20 12:03] #1406 closed

[2019-05-20 12:40] mxmlnglt opened #1510 "Bug: Insomnia using wrong Content-Type header to send IntrospectionQuery (POST)"
- Insomnia Version: 6.5.3
- Operating System: Windows 10 Pro (64-bit)

## Details

When requesting the schema from the GraphQL server, Insomnia uses the user-input HTTP header "Content-Type" to POST the IntrospectionQuery, whatever its value is.
However this value **should** always be `application/json` as that's how the IntrospectionQuery is formatted.

In the case below (using the open API at ht

[2019-05-20 12:45] mxmlnglt commented on #1397
I question where you get that `application/json` is **always** UTF-8?

https://www.iana.org/assignments/media-types/application/json
just mentions that:

   Adding one really has no effect on compliant recipients.

[2019-05-20 14:02] dvdbot opened #1511 "[Feature Request] Store request sending settings locally (not globally)"
- Insomnia Version: 6.5.3
- Operating System: Windows 10 (Build 1903)

## Details

Currently Insomnia stores request settings like ''send on interval' globally for all requests.
It would be better and also allow more use cases if this were per request.

Quoting @gschier

See following files:
https://github.com/getinsomnia/insomnia/blob/92641f872a616a2a85b1c9e295197a57ac8d0842/packages/insomnia-app

[2019-05-20 14:28] gschier commented on #1510
I agree that, ideally, this is true. However, I've seen GraphQL servers that accept JSON but still require the Content-Type `application/graphql`

Does this not cause an issue for sending regular queries as well, since Insomnia only supports sending GraphQL requests in JSON format? (ie. raw GraphQL query bodies are not supported)

[2019-05-20 14:33] gschier commented on #1511
I feel like it likely makes sense to have things stored on the request for most cases. We can likely change this without worrying too much about breaking user's workflows. And we can always add a global setting back later if needed (or a plugin).

[2019-05-20 14:40] gschier commented on #1509
Thanks for the issue 😄

All Insomnia (user-created) requests are made using the `libcurl` library which is why it's not possible to view them in DevTools. `libcurl` was chosen because it supports more features (auth types, debugging, more specific configuration, etc) which is a great fit for an HTTP debugging app.

Non-user-created requests will continue to use the Chromium network stack because i

[2019-05-20 14:40] #1509 closed

[2019-05-20 14:58] gschier commented on #1508
Currently, Insomnia only syncs the file path for the binary file on the request and _should_ be handling missing files gracefully. Here's what I get on the Mac version:

![image](https://user-images.githubusercontent.com/587576/58030246-374a5680-7aec-11e9-8b3b-e851531d58e4.png)

It seems like this issue may not be related to sync or the "binary file" request body type. The error seems to be coming

[2019-05-20 15:02] mxmlnglt commented on #1510
Ah. Didn't know that. In fact, I thought choosing GraphQL as "structured" type (vs "JSON" as "Text") would send the "application/graphql" Content-Type, which I noticed is not the case, after a round of testing (e.g. when creating a new request POST, or when changing the body type).

Also the reference for supporting the application/graphql is here: https://graphql.org/learn/serving-over-http/#post

[2019-05-20 18:33] gschier commented on #1072
Glad it's fixed! I don't remember fixing this on purpose 🤣

[2019-05-20 18:38] gschier commented on #1405
Ah, yes @banksio , that would be awesome if you'd like to take a look. I imagine it's due to something in electron-builder but upgrading to a later version causes the production build to fail unfortunately.

Going to tag this one so it won't be closed and feel free to take a look if you'd like to help 😄

[2019-05-20 18:45] gschier commented on #1065
I do have interest into supporting this in Insomnia but I think the solution should be generic enough to handle more than just base64 decoding. I've thought about providing an additional filter type that can execute arbitrary JS but that could open up potential security issues.

For now, I would recommend forking the Insomnia Response Tag plugin and extending it to suit your needs.

[2019-05-20 18:48] gschier commented on #1379
The latter – Install/create a plugin that allows you to do that

[2019-05-20 18:49] gschier commented on #480
Going to reopen this one based on demand

[2019-05-20 18:53] gschier commented on #826
On Windows and Linux, there are not usually any other required steps. I thought that I had outlined the Windows-specific steps on the README but I must have misremembered.

The library that causes these failures is node-libcurl, which lists an NPM module that will setup what you need automatically: https://github.com/JCMais/node-libcurl#building-on-windows

[2019-05-20 19:01] gcamp0730 opened #1512 "[Bug] Auto-switch to top-most recent request on keypress"
- Insomnia Version: 6.5.3.2835
- Operating System: macOS 10.14.5

## Details

**Issue:** Insomnia will switch to whatever item is at the top of the recents menu when you press / release any key

**How to reproduce:**
  - Use Ctrl-Tab to switch to any request
  - Use the mouse to click to a different request (one or more times)
  - Press and release any key
  - Observe that focus has returned to th

[2019-05-20 21:22] antempus commented on #1423
Any update on this, I have a defined workflow that uses the ID token and having access to it is required.

[2019-05-20 23:13] ripvannwinkler commented on #1508
No plugins. Happens immediately on startup, before the window or anything.
Uninstalling the app entirely and blowing away the insomnia directory in
both AppData (local and roaming) directories fixed it.

On Mon, May 20, 2019 at 9:58 AM Gregory Schier <notifications@github.com>
wrote:

[2019-05-20 23:37] mim-Armand commented on #1423
@antempus I'm hoping to make a **PR** this week or early next week, but if you need a hacky solution, for now, feel free to build the Master branch on my [fork](https://github.com/mim-Armand/insomnia).
My main blocker is to learn the proper way of contributing to the project ( learning the project structure, tests, etc ), but I'll try to spend some time this week to get it done as I'd really love

[2019-05-21 06:46] develohpanda commented on #1511
I'd like to pick this up if nobody else has! 😊

[2019-05-21 07:47] matthijssn commented on #1341
Same issue here. I tried to open a prompt from a requestgroupaction, but the mentioned property is set to "no_render", so no dialog is rendered.

[2019-05-21 11:20] GrayedFox opened #1513 "[Bug] Icon disappears after update to 6.5.3"
- Insomnia Version: 6.5.3 (installed via aptitude)
- Operating System: Ubuntu 18.04 (LTS)

## Details

Icon disappears (replaced by generic settings icon) after updating to version 6.5.3. To be honest I think I had the aptitude as well as snap package, so I removed both, then reinstalled the snap package only, and the icon is back now.

Got a little suspicious since I noticed in the change log a c

[2019-05-21 11:27] GrayedFox commented on #1513
For those landing here from various parts of the interwebs, here's a one line workaround (Ubuntu 18.04 LTS, no guarantees for other *nix flavours):

`sudo apt remove insomnia && sudo snap remove insomnia && sudo snap install insomnia`

[Link for discussion about using sudo for installing snap](https://forum.snapcraft.io/t/run-snap-without-installing-it/1764)

[2019-05-21 12:36] banksio commented on #1405
After some research, it was actually a known (issue/feature) in Squirrel.Windows https://github.com/Squirrel/Squirrel.Windows/issues/152, which is the installation framework that's set in `.electronbuilder`. Supposedly there's not meant to be a taskbar icon at all (https://github.com/Squirrel/Squirrel.Windows/pull/184), so I'm not sure why it appears in this case.

Squirrel.Windows is actually dep

[2019-05-21 13:25] josdejong commented on #1513
Same here on Linux Mint

[2019-05-21 16:20] gschier commented on #1513
Hmm, I _did_ change the icon in the last release. Must have goofed something up on Linux. Will take a look!

[2019-05-21 16:27] gschier commented on #1512
Hmm, this is actually the desired behavior. Ctrl+Tab to open the switcher, then (while still holding Ctrl) Tab or Shift+Tab through the requests, and release Ctrl to activate.

Do you think there's a better way this could be communicated?

[2019-05-21 16:33] gschier commented on #1511
Feel free @develohpanda!

You already have experience modifying the `RequestMeta` model so it shouldn't be too difficult. Let me know if you need some guidance though 😄

My initial thought to achieve this would be to move the preference out of the component state and into the `RequestMeta` model. We should probably just start with `downloadPath` for now because making the "Repeat on Interval" one

[2019-05-21 16:52] gcamp0730 commented on #1512
My instructions for reproducing the issue might need additional explanation.

When I said, "Use Ctrl-Tab to switch to any request" I meant fully releasing Ctrl to activate. If you then use the mouse to select a different request (not in the recents list, but in the workspace view on the left of the screen), the very next key you press will take you back to the request you had previously selected u

[2019-05-21 17:17] sergiopacezup commented on #1383
May I suggest a simple (AFAICT) first step. Allow plugins to add a free text tab on the requests and pass the user typed content (perhaps tag processed) back to the plugin. This would allow plugin developers to start gathering UI "usecases" and, based on those, discuss specific components APIs.

[2019-05-21 17:43] gschier commented on #1512
Oooooh, I see. I think I actually heard the same problem described by someone else (maybe in Slack?) and also couldn't figure out what it was. Thanks for clarifying! I will fix it right now 👍

[2019-05-21 18:18] jasonsemko commented on #538
As an update I reached out to @gschier about a week ago via Twitter to get more context and thoughts on this solution so I can implement this in the simplest and most efficient way first time around. Have yet to hear back. @gschier is there a better way to contact you and discuss?  Only looking for a high level opinions/suggestions since you know the app better than anyone. Thanks

[2019-05-21 18:41] #1512 closed

[2019-05-21 22:19] nathanchapman commented on #530
@gschier Any chance we can revive this?
Having version controlled, human-readable requests and workspaces would be incredible.
This would reduce conflicts as well as allow people to reuse files (like `.graphql` and `.json` files) between Insomnia and their integration tests

[2019-05-22 00:55] nitro52 commented on #203
@brilang this wouldn't help with session level variables in a Post body though would it? You could do something similar but maybe don't limit it to variables in the Path but rather any variable that impacts the current request.

[2019-05-22 08:38] rmedaer commented on #1354
I figured out that there is the same bug in OpenAPI importer (`openapi3.js`). Here is the output of my console:

[code]

I guess we could apply the same fix ?

[2019-05-22 09:17] rmedaer commented on #1354
Here is my patch: #1515

[2019-05-22 13:28] zKauaCodes opened #1516 "[Help] Failure when receiving data from the peer in windows 10"
Hello, I try to make a request for my routes and end up giving error, when running, I already tested on other clients and it worked

[2019-05-22 16:02] mlh758 opened #1517 "Large Files Crash Application"
- Insomnia Version: Version 6.5.3 (6.5.3.2835)
- Operating System: MacOS Mojave

## Details

This seems related to #282 and #608 but those are both closed and I'm definitely experiencing the problem.

I requested a 2.5MB Excel file through Insomnia and it became unresponsive. This used to work so I think this was broken in a recent update. Also, if I reopen the application after I'm prompted to th

[2019-05-22 17:20] smare commented on #451
+1

[2019-05-22 17:24] mim-Armand commented on #1423
So the least intrusive solution I can think of is to add a checkbox in the UI that lets the user choose `identity_token` instead of `access_token` when it's available and desired. ( like in the screen-shot below )

I have implemented the UI to show the token if it exists in the response, we need to let the user choose which token to use though to make their calls, or we can add that in a future PR

[2019-05-22 17:24] gschier commented on #1517
Hi @mlh758,

Are you able to post an example XML file for me to test with?

[2019-05-23 02:05] yozlet opened #1518 "[Bug] Request API is inconsistent when dealing with multi-value parameters"
Say that we have multiple parameters with the same name. `request.parameters` looks like:
[code]

There are these problems when accessing this multi-value parameter with the existing `context.request.*Parameter` methods:

* `getParameter("multi")` will return `c`, because it only returns the _last_ value of a multi-value parameter
* `setParameter("multi", "d")` will replace the _first_ value, so..

[2019-05-23 09:05] ExPande opened #1519 "[Feature Request] Increasing the width of the block of documentation"
- Insomnia Version: 6.5.3
- Operating System: Windows 10

I propose to increase the width of the block of documentation.
![Screenshot_1](https://user-images.githubusercontent.com/15219302/58239684-2ac73780-7d52-11e9-8655-430b90070893.png)
![Screenshot_2](https://user-images.githubusercontent.com/15219302/58239685-2ac73780-7d52-11e9-9447-9c8ecb46d67f.png)

My proposed solution is to change the CSS

[2019-05-23 14:43] markkrj commented on #1513
`~/insomnia $ diff -U0 <(dpkg -c insomnia_6.5.1_amd64.deb | awk '{print$6}') <(dpkg -c insomnia_6.5.3_amd64.deb | awk '{print$6}')`

[2019-05-23 15:30] gschier commented on #1519
This is the second time this has been brought up so I this it should be dealt with.

Previously, I didn't want to change the width because it makes paragraphs and headings harder to read. However, it's fairly easy to make _just_ the code blocks extend wider, which I have done here, and it feels like a good solution:

![image](https://user-images.githubusercontent.com/587576/58265592-f81b4000-7d4d-

[2019-05-23 15:31] #1519 closed

[2019-05-23 21:15] matthijssn opened #1520 "[Bug] context.app.prompt from requestGroupAction"
I tried to open a prompt from a requestgroupaction, but no dialog is rendered when the plugin starts by clickin on the Plugn in the folder menu.

[code]

- Insomnia Version: ___6.5.3
- Operating System: ___Win 10

[code]

[2019-05-23 21:18] mlh758 commented on #1517
[data.xml.zip](https://github.com/getinsomnia/insomnia/files/3214202/data.xml.zip)

I zipped the response body up and attached it to this comment.

[2019-05-23 22:01] gschier commented on #1520
Looks like this is a bug. I'll get a fix into the next release

[2019-05-23 22:02] #1520 closed

[2019-05-23 22:04] gschier commented on #1513
@markkrj can you please explain your comment?

[2019-05-23 22:21] gschier commented on #1518
Thanks for digging through this issue @yozlet! This was indeed a design mistake early on.

I would like to avoid changing existing behavior if at all possible. Especially since I know that method is used quite frequently.

I just took a look at Node's `querystring` module docs and they use arrays **only** if there are multiple with the same name. I don't necessarily agree with this design 100% but

[2019-05-23 22:23] gschier commented on #1516
Hi @zKauaCodes and thanks for the report. Unfortunately this is not enough information to debug the problem. Can you please provide more information? A copy of the Timeline tab would be a great start.

[2019-05-23 22:51] yozlet commented on #1518
@gschier Agreed on everything with the possible exception of `addParameter()`, since it feels like silent failure and may be hard to debug. Perhaps it could either raise an exception or log a warning to the console?

I already started on this yesterday, with the same `setParameter()` behaviour you've asked for: #1521. I don't know how much time I'll have to complete it, but I'll push my work as I

[2019-05-23 22:54] yozlet commented on #1518
Also, how about `setParameter(string, array)` for creating/setting a multi-value parameter?

[2019-05-23 23:14] zKauaCodes commented on #1516
Good here.

* Preparing request to https://localhost:8080/api/group/create
* Using libcurl/7.57.0-DEV OpenSSL/1.0.2o zlib/1.2.11 libssh2/1.7.0_DEV
* Current time is 2019-05-23T23:13:32.209Z
* Disable timeout
* Enable automatic URL encoding
* Enable SSL validation
* Enable cookie sending with jar of 0 cookies
* Enable network proxy for https:
* Connection 3 seems to be dead!
* Closing connection 3

[2019-05-24 00:36] markkrj commented on #1513
It diffs the 6.5.1 and 6.5.3 packages... 6.5.3 misses all the icons from 6.5.1 and adds hicolor/0x0/... I extracted the icons from 6.5.1 to fix the issue for me temporarily.

[2019-05-24 02:34] andreldm commented on #1513
I couldn't find anything in the freedesktop specs or gtk implementation telling anything against icons in `hicolor/0x0`, but it seems to be not supported. Check out this icon tester:
https://gist.github.com/andreldm/b971fa0d671a90ae133650f85ce2836a

`gtk_icon_theme_lookup_icon` can't find insomnia's icon when it's on `hicolor/0x0`.

Now run:
[code]
Now the icon tester is able to find the icon as e

[2019-05-24 03:48] qJake commented on #669
I have a follow-up suggestion to this that may work or be a bit easier to implement with regards to the suggestion above...

I noticed a new feature, *Trigger Behavior*, on the Response function. Would it be possible to add a new Trigger Behavior called "On Environment Change" that would cause the request to re-execute if the user switched environments? This would satisfy my previous concern about

[2019-05-24 08:25] Thejas007 commented on #826
Thanks.
 Finally I could resolve the build issue.

1. As I was having VS2017 installed in my machine,  Installed VC++ as per below.
https://stackoverflow.com/questions/33154696/msbuild-error-the-builds-tools-for-v140-platform-toolset-v140-cannot-be-f

2. Set Environment variable VCTargetsPath
VCTargetsPath to C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\Common7\IDE\VC\VCTargets

[2019-05-24 12:41] TeeSeal opened #1522 "[Feature Request] Support HTTP Date format for Timestamps"
Some APIs consume the Date header sent with requests which must comply to the format shown on the following [MDN page](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date) and [RFC7231](https://tools.ietf.org/html/rfc7231#section-7.1.1.2).

While it may be possible to use the `Timestamp => Custom Format` tag for this, the format by definition must be in the GMT timezone, and it is not p

[2019-05-24 17:42] antempus commented on #1423
@gschier what would be needed to help get @mim-Armand's improvement into the main codebase?

[2019-05-24 22:08] #1361 closed

[2019-05-25 08:05] dyanezr92 commented on #451
+1

[2019-05-25 18:53] acao commented on #451
I'm a maintainer of graphiql. All our components are exported. graphql-playground imports some of our DocExplorer components to acheive this. Unfortunately we can't expose the styles via styled components, but with graphiql 1.x we will! Join our working group for graphiql and tasks like this could be a lot easier. I'm a big fan of Insomnia and would love this feature as well!

[2019-05-26 18:59] matthijssn opened #1523 "[Feature Request] Create requests from plugin"
It would be nice to create new requests from within the plugin system. I'm trying to generate requests from a Folder plugin.

[2019-05-27 14:27] amjd opened #1524 "[Bug] Plugins are not refreshed correctly"
- Insomnia Version: 6.5.3 (6.5.3.2835)
- Operating System: macOS Mojave (10.14.3)

## Details
When developing a plugin locally, Insomnia doesn't always refresh the plugin from the file system when you click "Reload Plugins" in settings. I have tried this with and without changing the version and with the plugin directory being symlinked vs being copied in the plugins directory.

For all of these c

[2019-05-27 16:09] hellp commented on #686
Can confirm that it still idles around at 4-5% CPU when in foreground, and 1% when minimized. (Ubuntu 18.04, 4 cores)

[2019-05-27 16:44] rafaelrenanpacheco commented on #686
The OP was about Insomnia using 10% CPU when idle, which were kind of a problem. Nowadays (Insomnia 6.5.3) uses around < 2% when idle. I don't see any problem with that, even if using 5% in foreground as reported by @hellp.

[2019-05-27 17:06] hellp commented on #686
It's not a huge problem, sure, but I find 5% for doing "nothing" still a bit much. My 50+ tabs Firefox is using only slightly more than that. It could indicate some unwanted or overly busy code running. Just take my comment as a +1 for waking up this stale issue.

[2019-05-27 20:21] joneshq opened #1525 "[Question] Is it possible to (pre)view response chunks as they are received?"
Does Insomnia have a setting to view response chunks as the are received instead of buffering and printing when the response finishes?  I believe the equivalent cURL command would be `curl -N http://some.url.com`.  Thanks.

[2019-05-27 20:54] mdeboer commented on #1458
Same here with v6.5.3 on Mac OSX (installed using homebrew) and it's stuck at 97.9%. This only happens when disabling "Sync Cookie Jars" and/or "Sync SSL Client Certificates". When I enabled them both and synced, it jumped straight to a 100%.

My guess it was the cookie jars option for me as the developer console said:
[code]
But it got stuck there, never getting to the point where it said: `[sync

[2019-05-28 06:55] ToX82 commented on #1454
Hi, I am having the same trouble with ubuntu 19.04 here. Not sure if it's helpful, but when the window is inactive I can actually read the menu items :D

Active window
![active](https://user-images.githubusercontent.com/659492/58457085-215d1700-8126-11e9-96e8-24cf65ef85d8.png)

Inactive window
![inactive](https://user-images.githubusercontent.com/659492/58457087-215d1700-8126-11e9-87d0-34baa890abc

[2019-05-28 10:11] jankosecki opened #1527 "[BUG] Export to YAML contains mixed spaces with tabs"
- Insomnia Version: 6.5.3
- Operating System: macOS Mojave 10.14.3

## Details

Exported workspace that contains a request with JSON body mixes spaces with tabs.

## Steps to reproduce

1. Create a POST request with JSON body
2. Export workspace to YAML
3. Open exported YAML in any editor that can show whitespaces
4. Fragment defining body of the request uses tabs for indentation

<img width="604"

[2019-05-28 14:18] finex commented on #1446
Hi, on my Insomnia version (6.5.3, Archlinux) the menu is different: it only contains "preferences" and "changelog" so I've to force quit the application using the window manager shortcut (in my case Awesome WM).

[2019-05-28 14:36] stdedos commented on #1446
@finex obviously it looks differently!

This is closed & resolved in https://github.com/getinsomnia/insomnia/commit/6f98da7df89fa0da646ad5950defd8c4c9bd8771
and in: v6.5.3  v6.5.1 v6.5.0 v6.4.2 v6.4.1

I was hoping that @gschier would also resolve the comment https://github.com/getinsomnia/insomnia/issues/1446#issuecomment-486107294 (which theoretically needs its own Issue), but probably not happe

[2019-05-28 19:52] gschier commented on #1527
It looks like that's because the request body contained tabs. The first two indents use spaces because the YAML document it indented with spaces, and the JSON body intents with tabs because that's what's in the request body within Insomnia. We can't convert those tabs to spaces or we would be modifying the contents of the request.

Going to close this issue as this is expected behavior.

Note, you

[2019-05-28 19:52] #1527 closed

[2019-05-28 20:28] kaitlynbrown commented on #1347
A link to the rpm on the download page would be nice too btw (since the snap doesn't seem to work at all)

[2019-05-28 21:16] sebmor commented on #451
+1

[2019-05-28 22:13] acao commented on #451
@gschier here is the working group discussion:

https://github.com/graphql/graphiql/issues/829

I'll be sure to invite you or someone you'd prefer from your project to the next WG meeting, which is due soon. We also have `codemirror-graphql` and it's dependents under our domain, which I see you are using

[2019-05-29 02:08] AdityaHarindar opened #1529 "[Bug] hosts lookup not refreshed"
- Insomnia Version: 6.5.3
- Operating System: Windows 10 1903 (Issue was present on 1809 as well)

## Details

Changes in `C:\Windows\System32\drivers\etc\hosts` (`/etc/hosts`) don't seem to reflect until a restart of insomnia, however the same is not an issue on Ubuntu (18.04). Some services we develop resolve some information from the domain name, for which we need to point that domain to `local

[2019-05-29 16:04] jwir3 opened #1530 "[Bug] Changing environment color after editing reverts any changes"
- Insomnia Version: 6.5.3
[code]
- Operating System: Ubuntu 18.04 LTS (Bionic Beaver)

## Details

**Steps to Reproduce**:
1. Open Insomnia, Click 'No Environment' dropdown, select 'Manage Environments', click the '+' next to 'Sub-Environments'.
2. Add the following information to a new environment called 'Foamfactory Local':
[code]
3. Click the 'Color' dropdown, click 'Assign Color', and choose a

[2019-05-29 16:17] gschier commented on #1530
I just took a look and it looks like it's the act of changing the color that overwrites any changes made before closing the dialog. It also works the other way. If you select a color, then edit the JSON, the color will not be saved.

Will get a fix for this out in the next release 👍

Thanks for the detailed explanation!

[2019-05-29 16:24] jwir3 commented on #1530
Awesome! Thanks for the speedy response!

[2019-05-29 16:58] egopal opened #1531 "Insomina Environments with Projects Diappear after Laptop restart"
- Insomnia Version: __6.5.3_
- Operating System: _Windows 10

## Details

I created an environment called REL_Test and added multiple JSON POST Service requests.
Created subfolder as EMP within the above environment folder and moved all the files from the parent REL_Test folder to the child folder
Created one more new parent project as STAGE and created a child folder as EMP and added JSON POST re

[2019-05-29 17:30] maciek-d commented on #842
Any updates on this issue?

[2019-05-29 18:07] gschier commented on #1531
Can you clarify how you're using the terms "Environment" and "Project"? I assume you mean to say Workspace instead of Environment. Do you also mean Workspace when you say Project?

[2019-05-29 20:10] #1046 closed

[2019-05-29 20:37] #1530 closed

[2019-05-29 20:43] #1513 closed

[2019-05-29 20:53] gschier commented on #1458
OOOHH, that makes sense. It must be including the ignored resources (cookies, certs) in the total.

[2019-05-30 10:09] ianchadwick commented on #1531
Sounds like the same problem I'm having. All workspace stuff is inaccessible now after the update.

[2019-05-30 10:11] ianchadwick commented on #1531
So... potential user error, seems I just needed to hit CMD+\ to bring it back.

[2019-05-30 10:25] betterphp opened #1533 "PDF preview does not render text"
- Insomnia Version: 6.5.3
- Operating System: Ubuntu 18.10

## Details
When an endpoint returns a PDF the preview does not render any text.

This is from Insomnia
![image](https://user-images.githubusercontent.com/788007/58626493-db8e8300-82cc-11e9-96b7-38af27dda9c6.png)

This is the PDF saved using the _Save response body_ option.
![image](https://user-images.githubusercontent.com/788007/58626496

[2019-05-30 16:13] JakeQuilty opened #1534 "[Bug]File Tag does not let allow selecting file from FS"
- Insomnia Version: ___6.5.3
- Operating System: ___OSx Sierra 10.12.6

## Details
I can see the files in the menu of the filesystem browser, but unable to select any of them. The files are greyed out and cannot be selected or highlighted in the browser. I can still move around through different directories.
![Screen Shot 2019-05-30 at 12 10 59 PM](https://user-images.githubusercontent.com/4412134

[2019-05-30 16:38] egopal commented on #1531
Tried the above, it does not work for me in Windows.
I am moving on.

[2019-05-30 18:42] gschier commented on #1534
This is already fixed and will be out in the next release 👍

[2019-05-30 18:42] #1534 closed

[2019-05-30 21:54] cnarvaa opened #1535 "[Feature Request] auto format JSON on request body"
- Insomnia Version: 6.5.3
- Operating System: Windows 10 latest

## Details

I was wondering if it's possible to get an automatic JSON formater for the requests body.
Currently, we have the lintern active so I can see when my JSON is bad formated.

Input:
[code]

expected output
[code]

I'm thinking maybe in a right click option?

![actual UI menu for json input](https://user-images.githubusercont

[2019-05-30 22:31] gschier commented on #1535
There is a button to format the JSON below the request body

![image](https://user-images.githubusercontent.com/587576/58669125-2af2a480-8309-11e9-8594-bda193cbb795.png)

[2019-05-30 22:31] #1535 closed

[2019-05-30 22:33] gschier commented on #1533
Can you attach the PDF file to this issue?

There isn't much we can do here either way. Insomnia uses pdfjs to render PDFs so, if this _is_ in fact an issue, it should be reported on that project instead.

[2019-05-30 22:37] gschier commented on #1529
It might be because Insomnia reuses network connections (well, `libcurl` does)when it can. Do you know if it will eventually refreshes? It looks like `libcurl`'s default DNS cache is set to 60 seconds.

[2019-05-30 23:46] cnarvaa commented on #1535
You don't know how much I search for this. I couldn't find it in the documentation and maybe my first options were to find it in the JSON menu or in the click menu.

Thanks for your quick response.

[2019-05-31 03:50] AdityaHarindar commented on #1529
That seems to do the trick, lookup is successful after about 60 seconds. Thanks!

[2019-05-31 03:50] #1529 closed

[2019-05-31 08:10] betterphp commented on #1533
Sure here's the file. [example_file.pdf](https://github.com/getinsomnia/insomnia/files/3240365/example_file.pdf)

If I upload it to the [demo viewer page](https://mozilla.github.io/pdf.js/web/viewer.html) the text renders correctly.

Could it be something to do with the font not being available?

[2019-05-31 08:22] madetara commented on #1517
Hi. Same issue here. Insomnia becomes unresponsive whent trying to load heavy response (about 1mb text), which leads to it failing to start

[2019-05-31 08:25] madetara commented on #1517
![Version info](https://user-images.githubusercontent.com/31938575/58692116-99ca0f00-8396-11e9-8915-a6f42b0601a9.png)
OS: Windows 10

[2019-05-31 09:34] 4n70w4 opened #1536 "[Feature] Json Preview: collapse all items and collapsed snippets for humans"
It will be very useful to collapse and expand all the nodes with one button (the red arrows in the screenshot).

And it will be useful to make a more informative view of collapsed elements (blue arrows in the screenshot). May be show first chars of collapsed values.

![image](https://user-images.githubusercontent.com/38257723/58696569-802dc500-83a0-11e9-86f6-883edba8f3ed.png)

[2019-05-31 09:43] 4n70w4 opened #1537 "[Feature] Preview Content-Type application/jpeg as image"
![image](https://user-images.githubusercontent.com/38257723/58697043-7fe1f980-83a1-11e9-9579-4bbc0619318d.png)

![image](https://user-images.githubusercontent.com/38257723/58697051-87a19e00-83a1-11e9-9974-0d487acfba0e.png)

[2019-05-31 10:10] 4n70w4 opened #1538 "[Feature] Search text in all responces (in folder)"
Case: I have data provider with 100+ json api methods.
Problem: hard to find a method that returns the desired value.

[2019-05-31 10:13] 4n70w4 opened #1539 "[Feature] Send all requests (in folder)"
Case: I use environment variables and after change environment I want re-send all request.
Related: https://github.com/getinsomnia/insomnia/issues/1538

[2019-05-31 10:17] 4n70w4 commented on #1326
Still relevant, for example, to automatically add a get-parameter or a header with a acces-token only 1 time, but not in every request.

[2019-05-31 10:17] 4n70w4 commented on #1327
Still relevant.

[2019-05-31 10:19] 4n70w4 commented on #1328
Still actual.

[2019-05-31 11:22] 4n70w4 opened #1540 "[Feature] Search in PDF content"
Currently don't work. By Control+F search input don't appears.

![image](https://user-images.githubusercontent.com/38257723/58702765-5f20a080-83af-11e9-858c-9067327f3adb.png)

[2019-06-01 01:10] Vector-SMG opened #1541 "[Improvement] Internationalization"
- Insomnia Version: ___
- Operating System: ___

## Details

[2019-06-01 09:47] maple3142 opened #1542 "[Bug] File won't be selected when accepting Content-Type suggestion"
- Insomnia Version: 6.5.4
- Operating System: win10 x64 1903

## Details

Video: https://streamable.com/4nl75

After I click "Yes" in the "Change Content-Type" dialog, the file won't be selected as expected.

[2019-06-01 17:34] jasonsemko commented on #1362
Thanks @barell this worked for me. I'm on a fresh Ubuntu so it'd be nice to have all of of your suggestions mentioned in the README for Linux users.

@gschier would you be open to a pull request that adds a little "Linux gotchas" problems/solutions to the README?

[2019-06-02 16:37] johnjago commented on #1446
I also use a window manager (dwm) like @finex does, and there is no way to quit the application using a standard shortcut, so I have to use the window manager manager shortcut. The behavior that @stdedos described is correct based on my experience with Linux. It's usually the same for Windows as well.

My Insomnia version is 6.5.4.

[2019-06-02 16:48] stdedos commented on #1446
Yes, as @johnjago mentions, it is like that as well on Windows (I probably missed that one).
The "windows manager" shortcut on Windows would be `Alt+F4`, but I don't think you need to cover this case - making `Ctrl+Q` work would be enough

[2019-06-03 04:35] oliverjanik opened #1545 "[Help] Insomnia has become unresponsive"
I'm stuck in this loop. As soon as I open Insomnia it dies on me.

![image](https://user-images.githubusercontent.com/2280140/58776148-7a3c1c00-860c-11e9-832b-4526252e986d.png)

All I did was hit "Send" and re response started loading a bigger (few MB) binary file. I'm assuming Insomnia is trying to load the response into to the UI and just dies doing this.

Should there be a circuit breaker for t

[2019-06-03 11:42] pmanu93 opened #1546 "[BUG] Version 6.5.4 blocks Desktop Environment"
- Insomnia Version: 6.5.4
- Operating System: Linux Mint 17.3 64bit (Cinnamon 2.8.8)
## Details

After trying to execute insomnia, the desktop environment (cinnamon) blocks. Only mouse moves.

[2019-06-03 11:44] pmanu93 commented on #1546
No problem with version 6.5.3 tho.

[2019-06-03 13:07] NikxDa commented on #1363
Still relevant.

[2019-06-03 14:22] Peter-Optiway commented on #1445
This would be nice, I'm having the problem above, i get a value from a request that i need to append to a url, but it contains a / making the uri invalid.
Adding a checkbox on the response body attribute to uri encode would solve the problem.
Adding a tag like base64 encode, would not solve the issue as you can't nest tag.

[2019-06-03 18:23] gschier commented on #1545
Hi Oliver,

You should be able to delete the large response from `%APPDATA%/Insomnia/responses` and restart the app.

[2019-06-03 18:28] gschier commented on #1546
Hmm, the only thing that really changed was 6.5.4 included new icon sizes. Can you try starting it from the command line and seeing if that shows any errors?

[2019-06-03 18:34] gschier opened #1547 "[Improvement] Add back View > Toggle Sidebar item"
This menu item was remove during the recent hotkeys refactor but I've been getting a few emails from people who accidentally hide the sidebar (CmdOrCtrl+\) and don't know how to bring it back.

[2019-06-03 18:36] gschier commented on #1541
I think internationalization is a great idea as Insomnia gets more popular.

Can you elaborate on what parts of the app should be covered first?

[2019-06-03 18:45] #1511 closed

[2019-06-03 18:49] #1398 closed

[2019-06-04 09:23] smeijer commented on #875
Too bad this one has been closed. It's a reason for me to use playground over insomnia.

[2019-06-04 09:38] pmanu93 commented on #1546
Starting it via command line, does not work. Even in 6.5.3..

This is the output from the command line:
![Captura de ecra de 2019-06-04 10:34:45](https://user-images.githubusercontent.com/15691766/58868511-677d2200-86b4-11e9-9d95-416bdd3ad14e.png)

It actually opens a window, but with artifacts:
![ezgif-4-7fbcc43d4e56](https://user-images.githubusercontent.com/15691766/58868697-c347ab00-86b4-11e9-

[2019-06-04 09:46] pmanu93 commented on #1546
Update:
If I wait a little without closing the window, a message saying "Insomnia has become unresponsive" (or something similar), and right after that, my system halts (like when I open via start menu)

The only difference between command line and start menu shortcut, is the fact that in command line opens a window and only after a few seconds the system halts. Via start menu system halts before

[2019-06-04 09:47] develohpanda commented on #892
Hahaaaa 😄

Let me give this one a go. I've been working with GraphQL plenty (via GatsbyJS) but may still need some advice with this. Any suggestions?

[2019-06-04 15:49] 4n70w4 opened #1549 "Lags and brakes with a large amount of post data"
If post data > 1mb then interface slows down, the buttons do not work, the animation slows down.

![image](https://user-images.githubusercontent.com/38257723/58893695-4ab70d80-86f9-11e9-8f71-05a806f3150f.png)

@related https://github.com/getinsomnia/insomnia/issues/793

[2019-06-05 05:04] oliverjanik commented on #1545
Thank you that worked.

[2019-06-05 09:56] develohpanda commented on #892
Example of how GraphiQL achieves this - https://github.com/graphql/graphiql/blob/5b9012ea0e74452787f6c793d68aaa2cb915731b/src/utility/fillLeafs.js#L73-L104

[2019-06-06 04:37] KarolineKarkosch opened #1550 "[Improvement] Let users turn off Deletion of OAuth2 Session on restart"
In this issue: https://github.com/getinsomnia/insomnia/issues/168 the "feature" that oauth2 cookies are automatically deleted on restart was added. I really don't like that since it is super annoying to have to type in the Credentials every time again. I don't mind the popup opening again but usually (for example with Postman or when logging in via browser) at least the linked windows account is s

[2019-06-06 14:45] ylg commented on #973
This is still an issue as of 6.5.4.2876. Since you accepted it @gschier, might be good to block the stale bot with exemptLabels or some such.

[2019-06-06 15:14] adam-koblentz opened #1551 "[Bug] Insomnia no longer suggests/intellisenses headers in latest version"
- Insomnia Version: 6.5.4 (6.5.4.2876)
- Operating System: MacOS Mojave 10.14.5

## Details

Previously in Insomnia, when adding headers, I received suggestions on known/typical headers and some of their known values. For example: 'content-type' and 'application/json'. With the latest version of Insomnia that is no longer happening.

I have a normal GET request as my request type.

[2019-06-06 15:45] ovdienko opened #1552 "[Bug] Methods in history changes when changes current method"
- Insomnia Version: 6.5.4
- Operating System: windows 10 x64

## Details

History saves only URL, not method. Methods displays at History is incorrect. There is current method displays for all history requests, not their own methods.

1) Do some requests (for example, by method GET)
2) Change method of request (for example, to POST, DELETE, etc)
3) Go to Response history, see methods of past respo

[2019-06-07 05:40] adrian-baker commented on #1206
Is anyone aware of a plugin implementing this ?

[2019-06-07 13:06] mih-kopylov commented on #1357
Are there any plans to fix that?

[2019-06-07 13:26] rafaelrenanpacheco commented on #1551
This config if set to 0 will prevent popups (suggestions) from openning as you type:

![image](https://user-images.githubusercontent.com/12160864/59107250-94c50c80-890e-11e9-9a42-64d7eb5eaec2.png)

In order to show suggestions you have to press Ctrl+Space (on not mac keyboards).

[2019-06-07 13:43] adam-koblentz commented on #1551
Thanks!

[2019-06-07 13:43] #1551 closed

[2019-06-07 15:25] #1552 closed

[2019-06-08 20:16] nwthomas opened #1553 "[Improvement] Update HTTP Status Code Descriptions"
- Insomnia Version: 6.5.4.2876
- Operating System: MacOS Mojave 10.14.5

## Details

- Spotted minor grammatical and sentence flow issues with HTTP status code descriptions for 300/400-level responses
- Updated codes locally and will open pull request shortly
- Only one file changed for current PR scope: `constants.js`
- The changes improve status code descriptions for readability

[2019-06-09 19:40] ph55 commented on #1507
I can confirm. Same issue.
![image](https://user-images.githubusercontent.com/1386622/59163289-94439600-8b07-11e9-9176-2e3db82f1cba.png)

[2019-06-10 19:19] #1553 closed

[2019-06-10 23:11] doneill commented on #1517
I am seeing an issue with responses from json, workaround proposed in #282.  The json responses from the requests were working before so maybe recent introduction as mentioned in the issue description

[2019-06-11 20:21] skyhirider commented on #1517
I am experiencing Insomnia getting stuck when I get a larger json response back.

I click into the body response window, do Ctrl+A and Insomnia gets stuck. Unsure if I should open a separate issue, but this happened repeatedly. Exporting raw body works.

Wish there was a copy body button that would prevent this issue.

[2019-06-11 23:19] cashcoder88 opened #1555 "POST Request Json Body Not Sending"
- Insomnia Version: _6.5.4__
- Operating System: _Mac OS High Sierra__

## Details

 For whatever reason the POST req.body would not send through to my API. It was a simple JSON Body object i.e. {"username": "example", "password":"pass"}. At one point I restarted Insomnia and changed around the Body settings and it worked, but then broke again.