[2022-07-28 12:04] Lilkedus commented on #3099
No, I am not. I don't use windows anymore. Insomnia on my mac is no longer blurry. Sorry

[2022-07-28 13:14] bport commented on #3917
This feature already exist
Right click on folder => settings => Move/copy to workspace

[2022-07-28 14:43] filfreire commented on #4501
Hi @vandijkstef thanks for reporting this! Sorry for not getting any reply sooner 🙇

This is being tracked in another issue internally, alongside other performance related issues, and we'll update you here as soon as we know more about it.

[2022-07-28 14:46] t-reppert commented on #3917
@bport
When I submitted this feature request on **August 16, 2021,**   Insomnia version 2021.4.1 was the current stable version.  You could only do a MOVE of a folder from one workspace to another.  It did not at that time have the right click on a folder option to select settings and to then move or copy it to another workspace.

This feature appears to have been added since I made this request b

[2022-07-28 14:49] #1924 closed, assigned to nobody

[2022-07-28 14:59] #3917 closed, assigned to nobody

[2022-07-28 15:54] wongstein commented on #5008
Ah, if you have emailed Insomnia Support, then I'll let insomnia support handle this ticket.  Also, a sample json would go a long way to helping us reproduce this issue.

[2022-07-28 16:22] bport commented on #3917
@t-reppert yes the message was only to inform you and future user (I found your issue by searching how to copy a request to a different collection)

[2022-07-28 16:41] Forrestt-LFX commented on #5013
@filfreire
Thanks for considering this.
Either way, love the software.
Cheers

[2022-07-28 19:03] inqueue commented on #4531
The issue reproduces multiple times daily. Sometimes it goes away with a click, here or there, other times relaunching Insomnia is required.

Version: Insomnia 2022.4.2
Build date: 6/22/2022
OS: Darwin x64 21.6.0
Electron: 18.1.0
Node: 16.13.2
V8: 10.0.139.15-electron.0
Architecture: x64

<img width="628" alt="image" src="https://user-images.githubusercontent.com/6099128/181615603-c24b1700-a9e7-41

[2022-07-28 19:09] CaiusJard commented on #5008
I raised this as a bug here, and I sent a sample file already to your support because I did not want to post the file publicly. Please handle the bug here, and use the file I submitted to support, but do not post the file into this ticket

[2022-07-29 17:02] mitchlloyd opened #5026 "Plugin setCookie sets only the last cookie"
### Expected Behavior

In a plugin, calling context.request.setCookie would set multiple cookies:

[code]

Expecting to see `first=first-value; last=last-value` in the request cookie header.

### Actual Behavior

 Instead I see `last=last-value` in the request cookie header.

### Reproduction Steps

Add the plugin shown above. Make a request. Look at the cookie header value in Timeline tab.

### I

[2022-08-01 19:49] wongstein commented on #2340
I'm going to close this issue from now, but feel free create a new issue if you come back and still find this problem in the latest Insomnia version

[2022-08-01 19:49] #2340 closed, assigned to wongstein

[2022-08-01 19:50] wongstein commented on #1903
I'm going to close this issue for now, but please open a new one if you encounter this issue with the latest Insomnia.

[2022-08-01 19:50] #1903 closed, assigned to wongstein

[2022-08-01 20:07] HankieCodes opened #5033 "GraphQL Explorer Markdown: Disable Nunjucks Template"
### Expected Behavior

In GraphQL markdown description's, the Insomnia nunjucks templates should not be allowed for a few reasons:

* Remote code execution(?)
* Causes rendering problems for docs using code examples/variables

### Actual Behavior

From the "Reproduction Steps" example, the template won't render, with the error:

[code]

### Reproduction Steps

Create a GraphQL field or type with a

[2022-08-01 20:48] wongstein commented on #1945
Hello, sorry for the late reply.  This does feel like a feature request and I agree, an easier experience on Insomnia is something we all want.  If you're still interested in this feature, what I'm hearing from the description is that you'd like Insomnia to help with understanding your request "tree structure" as it evolves via duplication (did I get that right?).  What do you use that request-ori

[2022-08-01 20:51] wongstein commented on #2027
Hi!  Sorry for the late reply.  Have you been able to reproduce this with the latest version of Insomnia?

[2022-08-01 21:00] wongstein commented on #2051
I'm going to close this issue in favor of other issues reported in the comment above.

[2022-08-01 21:00] #2051 closed, assigned to wongstein

[2022-08-01 21:01] wongstein commented on #2434
Hi @NSExceptional , sorry for the delayed response.  Have you been able to replicate this with the latest Insomnia version?  And could you provide a test json?

[2022-08-01 21:18] nreavesHRC commented on #4283
I just encounter this issue as well. At the very least a rollback feature would be helpful to avoid loss of data when importing from file.

[2022-08-02 12:42] powtac opened #5036 ""A JavaScript error occured in the main processs" Error popup"
### Expected Behavior

Insomnia should start

### Actual Behavior

A popup shows up, Insomnia does not start

![grafik](https://user-images.githubusercontent.com/36167/182377002-6499047a-0260-4cac-91bd-487d7d099556.png)

### Reproduction Steps

Try to start Insomnia, according to Windows installed programs this is the installed version:

![grafik](https://user-images.githubusercontent.com/36167/18

[2022-08-02 12:55] stdedos commented on #1945
Hello @wongstein, and thank you for your response.

Sadly, as the issue report is 2 years old, I don't remember entirely what is this about.
I vaguely remember that for "one flow", multiple requests are needed, in order. Copy-pasting one specific request (e.g. the login one), means that if the login request changes, then I'll have to manually update all of the login copies.

[2022-08-04 06:42] filfreire commented on #4974
Heads up closing this one as duplicate of #4766

[2022-08-04 06:42] #4974 closed, assigned to nobody

[2022-08-04 06:42] filfreire commented on #4766
Hi folks, quick update, @gatzjames has given a shot at fixing it with https://github.com/Kong/insomnia/pull/4917 and https://github.com/Kong/insomnia/pull/4937

We'll update you here once a definitive fix is merge. In the meantime feel free to report any other issues! 🙇

[2022-08-04 06:57] teocci opened #5042 "Add support of uploading multiple files within the same multipart field"
### Expected Behavior

I need to upload more than 1200 images and it is impossible with insomnia. Imagine uploading each file manually.  It is a nightmare.  Also after 100 it is tedious and it can produce  human errors.

### Actual Behavior

Manually upload of files (one by one)

### Reproduction Steps

_No response_

### Is there an existing issue for this?

- [X] I have searched the [issue track

[2022-08-04 12:08] denis-gol opened #5045 "After import collection remains empty"
### Expected Behavior

after import, the collection becomes full, the block with the environment is also filled

### Actual Behavior

nothing is added when importing, the collection remains empty

### Reproduction Steps

1. export collection (json|yaml)
2. import file in a new collection

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kon

[2022-08-04 21:07] erwinetchart commented on #5012
@filfreire  Should i close the issue? The app installed from apt works fine, but no from snap, not sure the actions to take.

Thanks

[2022-08-05 08:26] filfreire commented on #4274
Hi folks, we'll try to prioritise this issue, and also #4283  as soon as possible as like many of you mention the current user experience is very stressful or surprising (in a wrong way).

Heads up @wongstein and @subnetmarco - marking these in our internal `Needs Fix` area in the internal [GH triage project](https://github.com/orgs/Kong/projects/20/views/1)

[2022-08-05 08:26] filfreire commented on #5045
Hi @denis-gol, thanks for reporting this!

This issue might be a duplicate of https://github.com/Kong/insomnia/issues/4274, in any case I would recommend the following:

- Double check if your imported data is by any chance going to another `New Document` you might have somewhere on your dashboard (similar to [this comment](https://github.com/Kong/insomnia/issues/4274#issuecomment-1102753929))

-

[2022-08-05 08:29] filfreire commented on #5042
Hi @teocci thanks for reporting this! I went ahead and added this to our possible improvements/feature requests backlog internally.

This might not be implemented or considered any time soon as we have other priorities right now, but I'd like to encourage you to report any other issues or improvements you can think off as this is helpful to us in the long run 🙇

[2022-08-05 08:33] filfreire commented on #5036
Hi @powtac thanks for reporting this!

- Do you still get this error if you attempt to run our [latest release (2022.5.0)](https://github.com/Kong/insomnia/releases/tag/core%402022.5.0) ?

Alternatively, I would also recommend you to for now delete (or rename) [Insomnia's data folder](https://docs.insomnia.rest/insomnia/application-data), which might help with this issue.

Let us know if any of th

[2022-08-05 09:00] powtac commented on #5036
It still occurs at 2022.05.0

[2022-08-05 10:11] filfreire commented on #4454
Hi @mastazi, we found out the issue, turns out that for security keys that were defined as pairs, we would only consider the first. We should be able to include the fix in one of our upcoming betas.

You can read more about it in this PR: https://github.com/Kong/insomnia/pull/5047

[2022-08-05 11:01] #4454 closed, assigned to nobody

[2022-08-05 14:48] mastazi commented on #4454
Amazing, thank yuo @filfreire !

[2022-08-05 15:18] avetis-avagyan opened #5049 "Insomnia Installation Failed"
### Expected Behavior

When I run the `Insomnia.Core-2022.5.0.exe` executable, it is supposed to Install and Setup Insomnia.

### Actual Behavior

[SquirrelSetup.log](https://github.com/Kong/insomnia/files/9269824/SquirrelSetup.log)
I get this setup error log when I try to install

### Reproduction Steps

1. Download the executable from the Insomnia website
2. Run it

### Is there an existing issu

[2022-08-05 15:42] wongstein commented on #1945
Ah I see a bit what you're saying.  The expectation is, if I create children requests from a parent requests, then I expect changes in that parent requests should be propagated down to the children.

Just a follow up to that: Should a parent request change always override?  For example, let's say you make a change in the child request, and then you change the parent request in the same field.  Sho

[2022-08-05 15:47] stdedos commented on #1945
If you'd change the same field, nooo, I don't think the child should "hear" about that change. However, if you "undo" the child's override, then parent's value should be used (kinda like system/global/per-dir configuration option schemes: if `system` is set, and then you set `global`, any change above is transparent to "the overriding level and below")

[2022-08-05 21:10] kreosus opened #5051 "HelpScout flow"

[2022-08-05 21:14] kreosus commented on #5051
Test with integration of Helpscout and Github issues with zappier

[2022-08-06 13:36] benemohamed commented on #2027
Hi, not yet with version
[code]

[2022-08-08 08:54] powtac commented on #5036
@filfreire Renaming the data folder did not help.

[2022-08-08 09:17] 4n70w4 opened #5056 "Please remove github stars from UI"
### Expected Behavior

No github stars in UI

### Actual Behavior

![image](https://user-images.githubusercontent.com/38257723/183383921-7ee16df5-9aed-4d05-9193-8ec8e01797e3.png)

### Reproduction Steps

_No response_

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for this problem.

### Additional Information

It in

[2022-08-08 13:01] kreosus commented on #1849
Closing as a duplicate of https://github.com/Kong/insomnia/issues/667 . This feature is not currently on the roadmap, but hope to add it soon.

[2022-08-08 13:01] #1849 closed

[2022-08-08 14:18] wongstein commented on #5008
I have confirmed that the issue here are values in the spec which have a "." in them.  My recommendation is the replace them with Camel Case or a "-".  Doing so removes the import error.

[2022-08-08 14:18] #5008 closed, assigned to wongstein

[2022-08-08 15:38] kreosus opened #5058 "HelpScout Test-2"
Workflow test-2

[2022-08-08 15:48] kreosus commented on #5058
closing test issue

[2022-08-08 15:48] #5058 closed, assigned to nobody

[2022-08-08 15:49] kreosus commented on #5051
closing test-case

[2022-08-08 15:49] #5051 closed, assigned to nobody

[2022-08-08 16:18] KristobalJunta commented on #5056
I would +1 this. While it is cool to show what Insomnia has achieved - as it is indeed a really good tool - I find that having Github stars in the app's toolbar doesn't meaningfully add to my experience with the app. Neither does it add useful features for daily work, nor for esthetics - and is actually visually cluttering.

What I would suggest here is adding ability to hide the button via settin

[2022-08-08 17:09] haijunsu opened #5059 "could not parse PKCS12 file, check password, OpenSSL error error:0308010C:digital envelope routines::unsupported"
# See workaround solution: https://github.com/Kong/insomnia/issues/5059#issuecomment-1674101495

### Expected Behavior
Return response body without errors

### Actual Behavior
Cannot connect to the server because there is an error while parses the PKCS12 file.

### Reproduction Steps

1. Document settings
2. Client Certificates tab
3. New Certificate
4. Add a p12 certificate for a domain
5. Create

[2022-08-08 17:43] wongstein commented on #5012
Let's close this issue, since apt works.  We can reopen this issue again later if all forms of download stop working.

[2022-08-08 17:43] #5012 closed, assigned to filfreire

[2022-08-08 19:28] kreosus commented on #1912
Hi @ankitkesarwani,
Good day and I hope that all is well. I am just checking in with as per this issue and if you require any further assistance. Have a nice day.

[2022-08-08 19:37] CaiusJard commented on #5008
So, are you going to fix the bug or are you just posting this workaround we have to do?

[2022-08-08 20:13] kreosus commented on #4587
Hi @oedo808,

Have you tried this on our newest release, available here: https://github.com/Kong/insomnia/releases/tag/core%402022.5.0?

[2022-08-08 20:20] kreosus commented on #1941
Hi @pgp,

Are you still experiencing this issue, even with our newest release: https://github.com/Kong/insomnia/releases/tag/core%402022.5.0

[2022-08-08 23:12] WeskleyP opened #5061 "Cannot use Send And Download Feature without a environment selected"
### Expected Behavior

When i try to use send and download feature without an environment is selected, the button doesn't work properly

### Actual Behavior

On the older version, i was able to use send and download feature without a need to select an environment

### Reproduction Steps

_No response_

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.

[2022-08-09 02:13] ivanyhchun commented on #1756
Was annoyed by Postman's inability to choose install path as [this long thread](https://github.com/postmanlabs/postman-app-support/issues/3897). Tried Insomnia but still no luck. Why is it so common for apps like this kind not allowing user to choose where to install?

[2022-08-09 10:10] henningko opened #5062 "OAuth 2.0 with Google: Missing `response_type`"
### Expected Behavior

When using `Authorization Code` Grant Type with Google OAuth, I expect the integrated OAuth 2.0 flow to work.

### Actual Behavior

Using `implicit` grant type, a token is issued. When using `Authorization Code` as Grant Type and the following settings:
* Authorization URL: `https://accounts.google.com/o/oauth2/v2/auth`
* Access Token URL URL: `https://accounts.google.com/o/

[2022-08-09 10:18] bershanskiy commented on #1756
Because both apps use Electron which by default uses `AppData`. There are ways to let user pick install directory, but it is not the default (if I'm correct, VS Code does this). Three years ago when I opened this issue I knew how to do it, but frankly I forgot since then.

[2022-08-09 11:49] henningko commented on #5062
I was using the wrong `Access Token URL`, it is `https://oauth2.googleapis.com/token`

See:
https://developers.google.com/identity/protocols/oauth2/web-server#offline

[2022-08-09 11:49] #5062 closed, assigned to nobody

[2022-08-09 14:54] dimitropoulos commented on #4676
We just took another look at this on the Insomnia stream today.  While we were not able to reproduce it exactly, we were able to show that you can crash the app like is being described here by killing the port that the app uses for communication between the render thread and electron's main thread.

Until we know more, I'm not sure what we can do going forward to debug this.

[2022-08-09 15:12] dimitropoulos commented on #3013
On the stream today, we were able to debug this as far as we're aware, and it seems to work (now).  Not sure if something changed recently to cause this to start working.

Note then below screenshots the url is an oidc protected graphql endpoint: `http://127.0.0.1:4010/oidc/graphql`:

![Screenshot_20220809_110921](https://user-images.githubusercontent.com/15232461/183687268-529e0f6c-8a96-47e1-b9e6

[2022-08-09 15:13] smacktoid commented on #3013
Yeah I certainly can.

[2022-08-09 15:15] dimitropoulos commented on #3013
side note to @filfreire: it was much easier than I had expect to protect the graphql endpoint with oidc with our test server.  We might want to take a look at this in the future: https://github.com/Kong/insomnia/pull/5063

[2022-08-09 15:17] dimitropoulos commented on #3013
also of note: more info here: https://github.com/Kong/insomnia/issues/2807

[2022-08-09 15:30] smacktoid commented on #3013
It still seems to be a problem for me, testing against 2022.5.0 of Insomnia.

When the OAuth tab has been populated and a token has been fetched I see an error that the schema could not be loaded. The error is as it was before, "Failed to fetch schema: No OAuth 2.0 access token found for request".

As I mentioned before, the issue appears to go away when the Authorization header is populated witho

[2022-08-09 15:34] smacktoid commented on #3013
Showing the schema documentation loading with the workaround described in my previous comment.

![image](https://user-images.githubusercontent.com/3959288/183694435-f3acd4b2-2da4-46fa-aa96-d562c9b29b03.png)

[2022-08-09 18:08] oedo808 commented on #4587
@kreosus, yes I have and it works.  Thanks!

[2022-08-09 18:08] #4587 closed, assigned to kreosus

[2022-08-09 18:28] kreosus commented on #1942
Hi @lauw
Have you tried this on our newest release, available here: https://github.com/Kong/insomnia/releases/tag/core%402022.5.0?

[2022-08-09 18:31] kreosus commented on #2041
Hi @ejose19

Good day and I hope that all is well. Have you tried this on our newest release, available here: https://github.com/Kong/insomnia/releases/tag/core%402022.5.0?

[2022-08-09 18:33] kreosus commented on #2022
Hi @7sDream
Good day and I hope that all is well. Have you tried this on our newest release, available here: https://github.com/Kong/insomnia/releases/tag/core%402022.5.0?

[2022-08-09 18:49] kreosus commented on #2204
Hi @generatz
Good day and I hope that all is well. Have you tried this on our newest release, available here: https://github.com/Kong/insomnia/releases/tag/core%402022.5.0?

[2022-08-09 18:52] wongstein commented on #5008
The unexpected behavior is on our backlog.  I'm posting the workaround because I think it's important for other people who are encountering the same thing, to have at least the work around.  And as always, we would welcome a contribution that fixes this from @CaiusJard or anyone else happening upon this issue in the meantime.

[2022-08-09 19:21] wongstein commented on #2027
When you say "the response doesn't show when exporting), in that json, I see:

![Image](https://user-images.githubusercontent.com/12381507/183743633-68d6a205-b47a-4a0f-8ead-5e6013ad7ec5.png)

Are you expecting the output of the response you just ran to be in that exported json?  And if not, what is the expectation?

[2022-08-09 19:38] joeesteves commented on #1904
Hi, also experiencing the same error. Any  updates or workarounds?
![image](https://user-images.githubusercontent.com/4960589/183746549-7248cd70-2984-4554-a260-f97284fc9d75.png)

[2022-08-09 19:39] kreosus commented on #2821
Hi @oxxy1337

Have you tried this on our newest release, available here: https://github.com/Kong/insomnia/releases/tag/core%402022.5.0? Thank you and I await your reply.

[2022-08-09 19:44] kreosus commented on #2044
Hi @bharath144

Have you tried this on our newest release, available here: https://github.com/Kong/insomnia/releases/tag/core%402022.5.0?

[2022-08-09 19:57] wongstein commented on #2434
I'm going to close this for now.  Please feel free to reopen when you get time to reproduce on the latest version of Insomnia

[2022-08-09 19:57] #2434 closed, assigned to wongstein

[2022-08-10 09:33] evs-xsarus commented on #4407
Happens also when connecting to magento 2.4.4 Only with Postman, it's possible. Seems to go wrong when query parameters are set.

[2022-08-10 10:13] MorkovkAs commented on #3057
Hello. I have the same issue and I find a small workaround.

After clicking "Rollback all" or just "Rollback one file" I return to the Home (Dashboard) screen and after that I open again my current project. All files and theirs content are restored to the latest commit state.

Unfortunately "Commit changes" form still shows some changes after this steps.

[2022-08-10 13:55] DavidFarago opened #5067 "Generated curl behaves different to insomnia, causing a server error due to UnexpectedEof"
### Expected Behavior

I have a post multipart request with file and one other form parameter, and the request works fine in insomnia.

But when I "copy as curl" the request, I get a 500 error.

### Actual Behavior

The same communication with the server when using the generated curl command instead of insomnia, and thus also successful behavior when using the generated curl command.

### Reproduc

[2022-08-10 21:49] sgarner commented on #5056
I'm happy to give the repo a star, but I have to agree that putting this where the project selection menu used to be was a poor UX decision. It really gets in the way.

It might be better to occasionally present a "Give us a star on GitHub" dialog in the same way many apps have a "Leave us a review on the app store"-type nag screen.

[2022-08-11 01:32] john-james-ai commented on #3269
Is anyone taking a look at this. Tried pushing and 'publishing branch' in vs code, but syncing is taking over 10 minutes.

[2022-08-11 08:01] kikoosvk commented on #5056
remove this please

[2022-08-11 08:19] calmon-mms opened #5070 "Can't sync cloned git repository: "This repository is already connected to Insomnia;""
### Expected Behavior

Being able to sync my cloned repo so I can commit/pull/push/merge.

### Actual Behavior

Right now, I can simply clone my repository through dashboard, but it is not being synced, no matter what I do:

When cloned from dashboard the repository is downloaded once, but not synced, then I tried to click in the button "Setup Git Sync" > "repository settings" > "Git [tab]",  and

[2022-08-11 08:26] filfreire commented on #5056
Heads up @subnetmarco and @wongstein, please see this issue and feedback from community.

[2022-08-11 08:57] filfreire commented on #5061
Thanks for reporting this @WeskleyP, I can also reproduce it 👍

We'll try to fix this as soon as possible.

[2022-08-11 09:42] filfreire commented on #5067
Hi @DavidFarago are you still able to reproduce this same error with latest [stable Insomnia version (2022.5.0)](https://github.com/Kong/insomnia/releases/tag/core%402022.5.0)?

[2022-08-11 09:58] filfreire commented on #5059
Hi @haijunsu, could you double check if you can also reproduce this issue in our [latest stable release (2022.5.0)](https://github.com/Kong/insomnia/releases/tag/core%402022.5.0)?

We had a similar issue (#4543) a while back related to one of the dependencies we use ([node-libcurl](https://github.com/Kong/node-libcurl)) and it might have something to do with the PKCS12 file being in a format not s

[2022-08-11 10:05] filfreire commented on #5049
Hi @avetis-avagyan thanks for reporting this!

I noticed on your SquirrelSetup.log that you have a handful of installation attempts with an error similar to:
[code]

Do you have any limitations on your Windows account and are you able to install Insomnia if you try to run setup as an Admin user (or by going to properties of the file and checking the `Run as administrationr` option)?

Are you able

[2022-08-11 10:09] filfreire commented on #5070
Hi @calmon-mms, thanks for reporting this! I have a few questions to help us debug this:

- Is there any reason why you are trying to initially clone the repository on `Create > Git Clone > Git` tab instead of `Create > Git Clone > GitHub` tab?

- Are you able to consistently get this behaviour with other Git repositories or even other Git providers? (e.g. Gitlab)

- If you open Dev Tools on Insom

[2022-08-11 12:05] calmon-mms commented on #5070
- Yes, I've tried using the other method also, nevertheless without any success. :/
- Yes, I tried another random repository and it seems to work just fine, it is like the repo I need is stored somewhere and not ever been deleted, as I mentioned, even after successfully cloned the repository it is not available inside /version-control folder and therefore the sync can't be stablished.
- This is th

[2022-08-11 17:19] kreosus commented on #2152
Hi @crimsonvspurple
Have you tried this on our newest release, available here: https://github.com/Kong/insomnia/releases/tag/core%402022.5.0 to see if that resolves your issue? If not please let me know and I will proceed accordingly.

[2022-08-11 18:35] kreosus commented on #2137
Hi @mdaniel
Have you tried this on our newest release, available here: https://github.com/Kong/insomnia/releases/tag/core%402022.5.0?

[2022-08-11 18:49] #5061 closed, assigned to nobody

[2022-08-11 18:57] subnetmarco commented on #5056
Hello everyone, an increasing number of GitHub stars helps the Insomnia application by bringing more visibility to the project, which in turn increases adoption and the amount of investment that we can (and will) allocate to the project. As we all know, open source is free to use, but it is not free to build: GitHub stars are one of the most inexpensive ways to generate an outsized outcome in the

[2022-08-11 19:20] #2180 closed, assigned to nobody

[2022-08-11 21:42] haijunsu commented on #5059
Hi @filfreire, I tried the latest stable release (2022.5.0) first and it didn't work. Then I tried every stable version backward until I found the version 2021.7.2 which worked.

[2022-08-11 22:05] haijunsu commented on #5059
Hi @filfreire, I think I have the same issue as the [example](https://stackoverflow.com/questions/72598983/curl-openssl-error-error0308010cdigital-envelope-routinesunsupported/72600724#72600724). my certificate does have the information **_PKCS7 Encrypted data: pbeWithSHA1And40BitRC2-CBC, Iteration 2048_**. Since the certificate was generated by security team and protected by password and PEM pass

[2022-08-12 03:39] hendraptaksu opened #5073 "Params url parsing error"
### Expected Behavior

When I create a GET request to arbitrary endpoint with this query params:
[code]

My localhost server should recieve this format of query params (this is only the stub):
[code]

### Actual Behavior

Instead my localhost server recieves this format of query params:
[code]
The mistake is in `%bali%25`, the expected result should be `%bali%`.
The reason is this bug in parsed/en

[2022-08-12 03:50] hendraptaksu commented on #5073
I guess it's related to the issue #4818. So I close this because I believe it's sort of duplicate.

[2022-08-12 03:50] #5073 closed, assigned to nobody

[2022-08-12 08:06] filfreire commented on #4454
Hi @mastazi the fix I mentioned above is now part of our [latest beta release (2022.6.0-beta.1)](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.1). Feel free to report any other issues you come across!

[2022-08-12 08:07] filfreire commented on #5061
Hi @WeskleyP, the fix for this issue is now included in of our [latest beta release (2022.6.0-beta.1)](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.1). Feel free to report any other issues you come across.

[2022-08-12 09:39] filfreire commented on #2857
Hi folks, I'm closing this issue since we do support environment variables on Auth tabs, example with Basic auth:

![Image](https://user-images.githubusercontent.com/11976836/184327589-4f097078-4e4f-4f6b-9df3-fb2e41eeaa40.png)

Feel free to report any other issues you come across!

@czystolowski as for the issue you mentioned, it's likely a different issue. I would suggest you check your Preferenc

[2022-08-12 09:39] #2857 closed, assigned to nobody

[2022-08-12 09:45] #2884 closed, assigned to nobody

[2022-08-12 09:55] filfreire commented on #3453
Closing as duplicate of https://github.com/Kong/insomnia/issues/2882

Also related to https://github.com/Kong/insomnia/issues/4283

[2022-08-12 09:55] #3453 closed, assigned to nobody

[2022-08-12 09:56] filfreire commented on #2882
This is related to https://github.com/Kong/insomnia/issues/4283 and #3453

[2022-08-12 10:00] filfreire commented on #2915
Closing this one, as I'm also not able to reproduce.

![Image](https://user-images.githubusercontent.com/11976836/184331832-d1328cf0-0c9c-4aaa-9220-5036c0ab9870.png)

@thynquest feel free to open a new issue if you are still facing problems.

[2022-08-12 10:00] #2915 closed, assigned to nobody

[2022-08-12 10:10] #2950 closed, assigned to nobody

[2022-08-12 10:18] filfreire commented on #2049
Hello @pinggi, I can't reproduce this as of [latest beta release (2022.6.0-beta.1)](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.1).

![Image](https://user-images.githubusercontent.com/11976836/184334859-c2b1ccb3-565f-4e57-ad52-7e49edf01050.png)

I encourage you to try out this latest release and feel free to report any issues you come across.

[2022-08-12 10:18] #2049 closed, assigned to nobody

[2022-08-12 10:29] filfreire commented on #2139
This is still somewhat reproducible, even on [latest builds](https://github.com/Kong/insomnia/releases) (e.g. [2022.6.0-beta.1](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.1)), although it's sometimes hard to notice.

Here's an example video where I was trying to purposely scroll back and forth from the the top of the list until the bottom, and sometimes indeed I noticed jum

[2022-08-12 10:32] filfreire commented on #2442
Hi @projser thanks for reporting this!

I'm going to go ahead and close this issue as duplicate of #2882 and #4283.

Internally we are aware that there's a handful of problems when switching between Debug and Design tabs, and we'll be addressing these soon.

Feel free to create new issues and report any other problems or improvements you come across!

[2022-08-12 10:32] #2442 closed, assigned to nobody

[2022-08-12 10:37] filfreire commented on #2508
Hi @SylwesterZarebski thanks for reporting this!

I can also reproduce this. For example if I press `Cmd+A` / `Ctrl+A` on a csv:
![Image](https://user-images.githubusercontent.com/11976836/184337645-a3576f23-0558-42f4-803f-d3251c1143a0.png)

I get the following on the clipboard:
![Image](https://user-images.githubusercontent.com/11976836/184337768-ed83e11c-ba05-4792-b710-ca1a40fc3c05.png)

[2022-08-12 10:47] filfreire commented on #2574
I can reproduce this.

It's almost unnoticeable, but there is indeed a problem there, better noticed when using the dev tools performance tab. There's a split second where we increase the size of the element when it finishes opening up, which causes the visual jankiness:

![Image](https://user-images.githubusercontent.com/11976836/184338772-f82c30de-f30c-4356-9a41-a2e4b8b59b70.jpg)
![Image](https:

[2022-08-12 10:51] filfreire commented on #2779
This should have since been fixed. I tried reproducing it on[ latest beta (2022.6.0-beta.1)](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.1) but was unable to. Examples:

![Image](https://user-images.githubusercontent.com/11976836/184339972-beea71b9-9fb4-45fb-ade1-0de7d9ee6853.jpg)
![Image](https://user-images.githubusercontent.com/11976836/184339970-53a0ad08-ba80-40d5-b7ec-4

[2022-08-12 10:51] #2779 closed, assigned to nobody

[2022-08-12 10:54] filfreire commented on #1896
Hi @chrisjasp I'm going to go ahead and close this one, but feel free to reopen this issue and share more details on your mouse pad (e.g. model, brand, specs) if you are still facing this issue.

[2022-08-12 10:54] #1896 closed, assigned to nobody

[2022-08-12 10:56] filfreire commented on #1914
Hi @hmatt1 I'm going to go ahead and close this as duplicate of #1756, but I went ahead and marked that one internally as a possible improvement.

[2022-08-12 10:56] #1914 closed, assigned to nobody

[2022-08-12 10:58] filfreire commented on #3150
Related issue: https://github.com/Kong/insomnia/issues/2149

[2022-08-12 11:07] filfreire commented on #5001
@ericbrunner I found out the issue, you were missing the `servers` part in your spec, which meant that the curl when being sent from that document preview had an incomplete URL (not pointing to any server).

Once I added:
[code]

to the specification, I was able to reach your server and get responses back in the preview from the server:

![Image](https://user-images.githubusercontent.com/11976836/

[2022-08-12 11:07] #5001 closed, assigned to filfreire

[2022-08-12 11:10] filfreire commented on #3817
Hi @shokoladova thanks for reporting this issue!

I'm not able to reproduce this locally and I believe you might be facing the case that @aeri mentioned. Feel free to reopen the issue and add more details (perhaps screenshots) into how to reproduce.

Also feel free to report any other problems you come across!

[2022-08-12 11:10] #3817 closed, assigned to nobody

[2022-08-12 11:12] ghost commented on #5001
Ok. I just wanted to help. When doing the same Api Import from swagger url in Postman it worked.

[2022-08-12 11:14] filfreire commented on #4876
@FieteO no problem. This kind of expectation you mention is valid, and has been reported before.

I'm going to go ahead and close this issue in favour of https://github.com/Kong/insomnia/issues/1756. Feel free to report other issues you come across!

[2022-08-12 11:14] #4876 closed, assigned to nobody

[2022-08-12 11:16] filfreire commented on #4995
Heads up @wongstein this is dependant on another team internally (EngEnablement), and is also being tracked by them on: https://konghq.atlassian.net/browse/ENGEN-712

[2022-08-12 11:20] filfreire commented on #1862
Closing this one since. Folks should be able to disable notifications altogether in settings:
![Image](https://user-images.githubusercontent.com/11976836/184343912-1dfd69e2-7788-43f8-b201-6cdff505f71d.png)
![Image](https://user-images.githubusercontent.com/11976836/184343938-88a91d99-82b3-4973-8caa-47d51a544430.png)

[2022-08-12 11:20] #1862 closed

[2022-08-12 11:26] filfreire commented on #3084
HI @willtj I'm not able to reproduce this in our [latest beta build](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.1). Feel free to reopen this issue if you are still able to reproduce it and have more details on how to reproduce.

In any case, thank you for reporting this and I encourage you also to report any other problem you find!

[2022-08-12 11:26] #3084 closed, assigned to nobody

[2022-08-12 11:29] filfreire commented on #3285
Hi @RobertKlohr thanks for reporting this! Are you by any chance still able to reproduce it in a [recent insomnia version](https://github.com/Kong/insomnia/releases), like our [latest beta](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.1)?

[2022-08-12 11:33] filfreire commented on #1743
Hi folks, I'm going to go ahead and close this one since it's been a while, but feel free to report a new issue if you are still getting this error in one of our [latest Insomnia versions](https://github.com/Kong/insomnia/releases)

[2022-08-12 11:33] #1743 closed

[2022-08-12 11:34] filfreire commented on #1754
Hi folks, I'm going to go ahead and close this one since it's been a while, but feel free to report a new issue if you are still getting this error in one of our [latest Insomnia versions](https://github.com/Kong/insomnia/releases)

[2022-08-12 11:34] #1754 closed

[2022-08-12 11:37] filfreire commented on #4331
@bNobo thank you. Please feel free to open a new issue if you are still facing problems. We have a handful of [performance problems](https://github.com/Kong/insomnia/issues?q=is%3Aissue+is%3Aopen+label%3AB-performance) we'll need to look at that are in line with this one, so I'm closing it for now.

[2022-08-12 11:37] #4331 closed, assigned to nobody

[2022-08-12 11:39] filfreire commented on #2362
Hi @davidnavas-ashkalabs, thanks for reporting this! I'm not entirely certain this is specific to Insomnia, are you by any chance still able to reproduce this using latest Ubuntu and latest Insomnia versions?

[2022-08-12 11:47] filfreire commented on #5036
@powtac I noticed looking at your screenshot the error message says something like:

I wonder - are you by any chance running any antivirus software AND/OR are trying to boot up Insomnia in a windows user account that perhaps doesn't have enough admin permissions?

Are you able to open Insomnia if you check `Run as administrator` in the properties of the Insomnia executable?

[2022-08-12 12:59] kreosus commented on #1941
Hi @pgp
You can change the HTTP request Preferences as seen below.

https://kongstrong.slack.com/files/U02JCR2AB1V/F03T8NS15FY/image.png?origin_team=T0DS5NB27&origin_channel=D02KGD00TNY

Thank you and have a nice day.

[2022-08-12 12:59] #1941 closed, assigned to kreosus

[2022-08-12 13:05] #1929 closed, assigned to nobody

[2022-08-12 13:08] filfreire commented on #2036
Hi @mason and @srajsushmitha you should be able to use the [inception plugin](https://insomnia.rest/plugins/insomnia-plugin-inception) to do this. Feel free to report other issues you may come across.

Related comment: https://github.com/Kong/insomnia/issues/1421#issuecomment-482929134

[2022-08-12 13:08] #2036 closed, assigned to nobody

[2022-08-12 13:10] filfreire commented on #3104
Hi @Vyoam thank you for reporting this! Are you still noticing this behavior in [latest insomnia version](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.1)?

[2022-08-12 13:16] filfreire commented on #1866
Hi @ravshansbox and @erohmensing thank you for reporting this, and apologies for not getting a reply in a LONG time.

We've been trying to improve this, and as of now (for example, version [2022.6.0-beta.1)](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.1), you should be able to quickly create a request without having to specify a lot of things and "going through more clicks".

[2022-08-12 13:16] #1866 closed

[2022-08-12 13:23] filfreire commented on #1687
Hello @starx thanks for reporting this!

We have noticed that you at one point created the plugin (example [starx/Insomnia-Plugin-Faked-Moment](https://github.com/starx/Insomnia-Plugin-Faked-Moment/blob/master/index.js)).

Feel free to reopen this issue, or open a new one if you are still having problems.

[2022-08-12 13:23] #1687 closed

[2022-08-12 13:28] filfreire commented on #5059
@johnwchadwick looking for your expertise on this: any ideas if there is something we can do on our side, maybe on node-libcurl so that this kind of legacy certificates/encryption would be supported in the future, or not really feasible in long term for us to try and accommodate for?

[2022-08-12 13:44] johnwchadwick commented on #5059
Support for the RC2 cipher was moved into the OpenSSL legacy module in OpenSSL 3.x; I believe enabling this module would resolve the problem. It's something we'll have to look into.

[2022-08-12 15:31] Sl-Alex commented on #2592
I'd say, this is quite a critical bug.
Imagine the following test set:

Test case 1: login as admin with the default password
Test case 2: change the password
Test case 3: logout
Test case 4: login as admin with the new password
Test case 5: reset the configuration to the factory default

Executing tests in a different order will never work.
Of course, there are completely stateless APIs, like che

[2022-08-12 18:51] tjagithub commented on #5056
If I could suggest having it match the overall design?

Perhaps move it to the starting page of Insomnia, and the projects page or a button by the user/settings buttons with just a ★/☆ icon?

[2022-08-12 21:00] p8bin opened #5077 "New version start consume 50% cpu and became very slow"
### Expected Behavior

Fast

### Actual Behavior

Very slowly

### Reproduction Steps

Install
Create 400 tabs

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for this problem.

### Additional Information

Version: Insomnia 2022.5.0
Build date: 02.08.2022
OS: Windows_NT x64 10.0.19043
Electron: 19.0.3
Node: 16.14.2
V

[2022-08-13 11:39] mastazi commented on #4454
thank you @filfreire , I just downloaded it and tested I can confirm that the issue is resolved! I can see both keys where created for each endpoint! Thank you so much for the update.

[2022-08-14 06:08] ghoshzsh opened #5078 "SharedArrayBuffer is not defined"
### Expected Behavior

![image](https://raw.githubusercontent.com/resurfaceio/insomnia-plugin/master/assets/readme/insomnia_usage.gif)

### Actual Behavior

![image](https://user-images.githubusercontent.com/73014371/184524588-88918bd8-a72b-48fc-86e4-e1a52f975f6a.png)

### Reproduction Steps

1. Install `insomnia-plugin-usage-logger` plugin
![image1](https://github.com/resurfaceio/insomnia-plugin/

[2022-08-14 12:21] crimsonvspurple commented on #2152
I'm not seeing any specific change regarding this in latest release.

I use the git sync system that you have introduced for a while and it barely works I guess.

Because it can still mess up the workspace or not allow merge conflicts etc, I had to make the repo person write; others read to be safe.

You really should use one json file for each request so that git properly works.

[2022-08-15 20:32] dwedigital commented on #4822
I am having the same error in Insomnia GET'ing a google function API endpoint but no issues in client side where I am running the fetch

[2022-08-16 06:41] OriginalMHV commented on #2220
Any further details when this might get fixed? Still got the issue with Bitbucket server v7.21.2.

[2022-08-16 10:11] MarieR12 opened #5083 "Changes in custom method are not applied"
### Expected Behavior

Clicking 'done' or hitting enter after entering a custom method will apply the changes.

### Actual Behavior

Changing the method to a custom method works almost never. I have used custom methods in the past and it does not matter whether I pick one of those methods that I have used before or enter the method manually, the changes are not applied. Picking a standart method f

[2022-08-16 10:37] srikar99 opened #5084 "Access token expiry time not set properly"
### Expected Behavior

When we fetch access token using OAuth 2.0 and client-credentials, the expiry time of the token should be displayed

### Actual Behavior

Currently we only see, **ACCESS TOKEN (EXPIRES JUST NOW)**

![image](https://user-images.githubusercontent.com/15083042/184859687-0607427f-28e0-4ebc-b116-1c1d0fa3b6bf.png)

### Reproduction Steps

1. Go to OAuth 2.0 in the Auth tab.
2. Sel

[2022-08-16 12:32] filfreire commented on #5083
Hi @MarieR12, thanks for reporting this!

Indeed I can reproduce these behaviours consistently:

- If I try to pick any existing Custom Method, I'm not able to, and whichever I pick is not reflected back:
![Pasted_Image_16_08_2022__13_23](https://user-images.githubusercontent.com/11976836/184878802-3efeb232-2521-4fd4-babf-0750dc0e1566.png)

- Pressing `Enter` on the dialogue right after writing a

[2022-08-16 16:30] copiri-six commented on #5045
👍  I have this issue as well.  In my case, it did in fact turn out that the collection was being imported into another new document.  Meaning, the following steps occurred:

- Open Insomnia
- Create New Document
- Go to Debug, import from file (note: why doesn't the import from file in the Design tab work for this?!?)
- Import succeeds as shown above, but nothing changes
- Go back out to the list

[2022-08-16 18:55] nicjay commented on #5056
I don't mind it appearing by default, but I've long since starred the project. It serves no purpose for me and I'd like an option to hide it.

[2022-08-16 23:39] prookie commented on #5056
Please at least implement a setting to hide it for paying customers.

[2022-08-16 23:57] subnetmarco commented on #5056
@prookie yes, this is coming. We will make an update in such a way that paying customers won't see the star button.

[2022-08-17 02:31] purwowd opened #5087 "Insomnia has become unresponsive"
### Expected Behavior

The expectation is not an issue when opening the app

### Actual Behavior

The window blanks and shows an error popup: "Insomnia has become unresponsive. Do you want to reload?"

<img width="266" alt="image" src="https://user-images.githubusercontent.com/17087219/185019947-5bb4983d-77b9-4017-9c9f-f1d2a4b27078.png">

### Reproduction Steps

_No response_

### Is there an exis

[2022-08-17 03:01] trunglebka opened #5088 "Crash on Fedora 36 after got "Error: SSL connect error" when working with https websites"
## [SEE UPDATE 23 January 2023](https://github.com/Kong/insomnia/issues/5088#issuecomment-1400859407)

## Workaround
[code]

### Expected Behavior

Working normally

### Actual Behavior

After sending a request to a https website like https://google.com, got an error: `Error: SSL connect error`

### Reproduction Steps

1. Send request to any https website. E.g. https://google.com
2. Send request a

[2022-08-17 10:27] jquexxx commented on #3490
this is also true when getting "Bearer 1234567890" for header Authorization

{
  "token_type": "Bearer",
  "access_token": "1234567890",
...
}

Returned more than one result: $..[token_type,access_token]

[2022-08-17 10:40] #5083 closed, assigned to filfreire

[2022-08-17 12:55] wongstein commented on #5088
First, have you tried unchecking validate certificates in your preferences:
<img width="645" alt="Screen Shot 2022-08-17 at 5 52 55 AM" src="https://user-images.githubusercontent.com/12381507/185136472-0bdc0509-2bfc-48a3-bd8b-6dd8485fe4ce.png">

Second (if the unchecking the certificates doesn't work), can you reproduce an error with curl?  You can get the curl command from Insomnia by clicking on

[2022-08-17 13:09] wongstein commented on #5045
This is a bit of a UX mismatch between expectation and reality.  We are hoping to revamp this experience for users in the near future.  Please bear with us in the meantime.

[2022-08-17 13:09] #5045 closed, assigned to wongstein

[2022-08-17 13:11] trunglebka commented on #5088
First: Yes,  I  tried unchecking validate certificates. But since my OS is the recent Fedora version (36) with latest updated packages  and google is a very popular website I don't think that there is a problem with Certificate/CA. This is timeline with SSL validation disabled
[code]

Second: Yes, I tried both cURL, Postman (installed after so many tries to use Insomnia without success, including

[2022-08-17 13:13] filfreire commented on #5084
Hi @srikar99, thank you for reporting this!

We were able to reproduce this as well!

We did notice a difference between older version (2021.7.2) and more recent versions (e.g. 2022.4.2 and 2022.5.1), so we might have broken this at some point. It only seems to affect the label though, the timeout time is still the expected one.

On latest versions:
![image](https://user-images.githubusercontent.c

[2022-08-17 13:20] filfreire commented on #5078
Hi @aghosh0605, thank you so much for reporting this! Also thank you for your detailed bug description.

We were able to follow your steps, and also managed to reproduce this bug. It seems we must have broken the `SharedArrayBuffer` functionality sometime after version `2021.7.2`, which we noticed still works. Latest versions like `2022.5.1` and `2022.4.2` we do get the error:

![image](https://us

[2022-08-17 13:23] filfreire commented on #5077
Hi @p8bin, thank you for reporting this!

We're aware that there are a handful of performance issues, and we are tracking those [here](https://github.com/Kong/insomnia/issues?q=is%3Aopen+is%3Aissue+label%3AB-performance).

We'll likely be looking into these performance issues sometime in the future. Feel free to report any other issues you come across!

[2022-08-17 13:23] #5077 closed, assigned to nobody

[2022-08-17 13:28] kreosus commented on #5087
This sounds like it could be a bug.

Hi @purwowd  Please reply with the following information:

- What version of Insomnia are you using?
- What operating system and version is this on?
- How did you install Insomnia?

Try moving the application data, and see if that affects anything. Moving the folder instead of deleting it means you can restore it later.

App Data on macOS:  /Users/<your user>/L

[2022-08-17 13:44] wongstein commented on #2821
I'm going to close this issue for now, please feel free to open a new one when you've reproduced it on the latest version.

[2022-08-17 13:44] #2821 closed, assigned to wongstein

[2022-08-17 13:46] wongstein commented on #2204
Thanks for the workaround!  I'm sure it's helped some people in the past.  I'm going to close this issue for now.  If that stops working, or you feel this issue should be re-opened because it's reproducible with the latest version of Insomnia, please open a new issue.

[2022-08-17 13:46] #2204 closed, assigned to wongstein

[2022-08-17 13:49] wongstein commented on #2027
I'm going to close this issue for now.  This issue does feel like a feature request with the export function.  We need to do thinking about what the purpose is of insomnia spec documents and whether it should include historical responses in that spec.

In the meantime, if the goal is to have a copy of the latest response somewhere, you can download the response that comes from a tested request:

!

[2022-08-17 13:49] #2027 closed, assigned to wongstein

[2022-08-17 15:34] purwowd commented on #5087
Hi @kreosus, thanks for your suggestion. I tried to move the folder and it works, but all of the data HTTP requests in my folder have also been deleted.

And then I found the issue is the timeout response for parsing CSV from my HTTP request, and insomnia can't handle it.

Finally, my solution is to delete the responses folder on App Data. It works and all of the data HTTP requests in my folder st

[2022-08-18 00:46] hjbolide commented on #4531
Any possibility this bug could be verified?

[2022-08-18 03:05] srikar99 commented on #5084
Hi @filfreire,

Yes it used to display the correct expiry time until about April/May this year. It would be nice to have the label displayed with correct time to avoid any confusions.

[2022-08-18 05:18] Rayvion commented on #5088
I have the exact same problem on Fedora 36 after a system update since tuesday.
Crash is with Error "Speicherzugriffsfehler" => german translation of a segfault.

Was on version 2022.3.0 as this started and upgraded to 2022.5.0 and also tried 2022.6.0 beta, no difference at all.
No SSL errors in any other program that i'm aware of.

Core dump on crash:
[code]

[2022-08-18 10:28] #5087 closed, assigned to kreosus

[2022-08-18 14:17] lopezator opened #5093 "cannot add grpc directory"
### Expected Behavior

Folder to load correctly, as is does for example in BloomRPC or ezy.

### Actual Behavior

I get this error instead:

Error: duplicate name 'SourceContext' in Namespace .google.protobuf
    at Namespace.add (/opt/Insomnia/resources/app.asar/node_modules/protobufjs/src/namespace.js:239:23)
    at Namespace.add (/opt/Insomnia/resources/app.asar/node_modules/protobufjs/src/name

[2022-08-18 14:27] filfreire commented on #5093
Hi @lopezator thank you for reporting this!

This might be similar problem to a handful of issues we have gRPC related - where Insomnia doesn't properly import folders that have dependencies on "external" protobuf definitions (e.g. https://github.com/Kong/insomnia/issues/4084 and https://github.com/Kong/insomnia/issues/4038).

Any chance you can share an example, like a code snippet or a public fa

[2022-08-18 15:28] davelima commented on #5088
Same here. Same results on 2022.4.0 and 2022.5.1

[2022-08-18 15:54] 7sDream commented on #2022
Yes, It looks nice now, Thank you!

[2022-08-18 15:54] #2022 closed, assigned to kreosus

[2022-08-18 18:14] andrewwylde opened #5095 ""Send" button unresponsive in grpc request"
### Expected Behavior

When sending a grpc request with a body, I expect that the send button (and UI) will give some sort of feedback as to whether the request is sent, failed, or succeeded

### Actual Behavior

Please see [video](https://www.loom.com/share/c2459d2f3b374683b707cb393891d52b) for demonstration, but essentially the button depresses but nothing happens in the UI as far as I can tell.

[2022-08-18 20:49] wongstein commented on #4960
Hi @NicholasMata, I see how this is confusing.  In Insomnia, you can set the client certificate via the document settings.  In the debug view, click on the down arrow next to the workspace name
![Image](https://user-images.githubusercontent.com/12381507/185491389-a0be770f-4267-4ddc-883c-3df5b68dc81a.png)

Then click on "Document Settings"
![Image](https://user-images.githubusercontent.com/12381507

[2022-08-18 20:51] wongstein commented on #2123
Thanks for the report and the feature request!  We are in the process of rethinking our UX and making improvements.  This was a great point to make that would improve our Users' experience greatly.

[2022-08-18 20:53] wongstein commented on #3185
Hi, we've recently done some more work on git sync.  Can you still reproduce this error with the latest version?

[2022-08-18 20:56] wongstein commented on #4683
Seems like this might be a linting issue.  I'm going to close this issue for now.  We are rethinking how we do OpenAPI in general and we'll keep these linting issues in mind too.

[2022-08-18 20:56] #4683 closed, assigned to nobody

[2022-08-18 21:00] #2750 closed, assigned to nobody

[2022-08-18 21:35] neo-donnie-walsh commented on #5088
me too

[2022-08-18 22:28] Alex-ray commented on #1784
I would also like this. Shared fragments is fundamental to clean and maintainable Graphql queries.

[2022-08-18 22:29] Alex-ray commented on #1784
Super hacky but usable plugin for anyone else who finds this thread -> https://github.com/MartinBeuriot/insomnia-plugin-gql-fragments

[2022-08-19 07:06] vinod-sl opened #5443 "Request body larger than maxBodyLength Limit"
I am getting below error when try to push changes to git.

![image](https://user-images.githubusercontent.com/75352945/185562787-d38d1a76-01ef-4dc9-a298-6545eca4a54b.png)

[2022-08-19 09:26] mikaoelitiana opened #5097 "All plugin installation fail"
### Expected Behavior

User should be able to install plugins even if they already have a `NPM_TOKEN` set

### Actual Behavior

I cannot install any plugin, an error message is displayed, stating `Failed to replace env in config: ${NPM_TOKEN}`

![Screen Shot 2022-08-19 at 11 13 30](https://user-images.githubusercontent.com/674667/185588056-3d9370aa-c93f-417b-9866-a45d7a877212.png)

### Reproductio

[2022-08-19 13:12] filfreire commented on #5097
Hi @mikaoelitiana thanks for reporting this!

We were not able to reproduce this error on [latest stable (2022.5.1)](https://github.com/Kong/insomnia/releases/tag/core%402022.5.1) and [latest beta (2022.6.0-beta.2)](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.2).

Are you by any chance able to reproduce with any of these other versions?

[2022-08-19 13:23] filfreire commented on #5095
Hi @codelemur, thanks for reporting this! And thank you for the video showing the issue!

We couldn't reproduce this with a simpler example. Can you by any chance share with us a similar complex environment/project structure that we can use locally as example where we may reproduce this?

Or maybe sync this into a Insomnia collection that you could share with us (e.g using [Sync](https://docs.inso

[2022-08-19 13:31] vavsab commented on #5088
Same behavior on Fedora 26

[2022-08-19 14:01] sebastianbuechler commented on #3185
@wongstein Hi, sorry we already switched to another solution.

[2022-08-19 14:01] #3185 closed, assigned to wongstein

[2022-08-19 14:50] wongstein commented on #2876
Hello!  it's been awhile, but I'm marking this as a feature request.  I'm not sure right now how possible this is, given Insomnia's architecture within Electron.  But post a couple of changes/ refactors, it could be.  There would still probably need to be limits on how many concurrent requests could be sent.

[2022-08-19 16:49] neo-donnie-walsh commented on #5088
I have been facing this issue for a little while as well, after updating my system a few days ago on f36

[2022-08-19 18:15] Tubaleviao commented on #3786
Happening with me as well~

[2022-08-19 20:15] andrewwylde commented on #5095
OK, shared via Sync!

[2022-08-20 01:51] NicholasMata commented on #4960
@wongstein You are correct however I don't believe those certificates apply to the OAuth 2.0 Authorization window popup. At least I was unable to get them to work in this window. When I reviewed the code I didn't see anything that implements it for the OAuth 2.0 Authorization popup.

I do have a PR #4961 for a possible solution. I believe the reason is because the OAuth 2.0 popup is a new `Browser

[2022-08-22 07:34] mikaoelitiana commented on #5097
@filfreire I will try with one of these

[2022-08-22 07:37] mikaoelitiana commented on #5097
@filfreire I still have the error on latest stable. Maybe there is something wrong with my setup. I will double-check that

[2022-08-22 07:49] lopezator commented on #5093
Sure!

Is you use this repo's `third_party` directory along with `Add directory` option in Insomnia you will get the mentioned error:

https://github.com/lopezator/insomnia-grpc-err-repro

Thank you for your quick reply!

P.D. I am also using validate, so it might be the same to #4084 but the err message it's different.

[2022-08-22 13:21] wongstein commented on #4960
Ah drats.  Okay, we are still blocked on reviewing your PR by not having a testing environment to confirm that it's working.  So sorry, I'll try to find some time to do some digging to see if there's anything easy I can grab around the internet that can replicate this pop up box.  I've been having a rather hard time finding something off the shelf, all the stuff I've tried expects the certificate

[2022-08-22 13:22] kreosus commented on #2152
Hi @crimsonvspurple,

Thank you for reaching back out as to this issue. The issues that you have occurring should be going into a future released version, with no ETA at this time as to which version. These problems will be kept in mind when we re-architect the app. Thank you and have a nice day.

[2022-08-22 13:23] #1942 closed, assigned to kreosus

[2022-08-22 13:25] kreosus commented on #2137
Hi @mdaniel

As we have not heard back from you we are closing this issue out. If you require any further/future assistance please let us know and we will proceed accordingly. Have a nice day.

[2022-08-22 13:25] #2137 closed, assigned to kreosus

[2022-08-22 13:26] kreosus commented on #1912
Hi @ankitkesarwani
As we have not heard back from you we are closing this issue out. If you require any further/future assistance please let us know and we will proceed accordingly. Have a nice day.

[2022-08-22 13:26] #1912 closed, assigned to kreosus

[2022-08-22 13:46] kreosus commented on #2041
Hi @ejose19,

As we have not heard back from you we are closing this issue out. If you require any further/future assistance please let us know and we will proceed accordingly. Have a nice day.

[2022-08-22 13:46] #2041 closed, assigned to kreosus

[2022-08-22 13:47] kreosus commented on #2044
Hi @bharath144

As we have not heard back from you we are closing this issue out. If you require any further/future assistance please let us know and we will proceed accordingly. Have a nice day.

[2022-08-22 13:47] #2044 closed, assigned to kreosus

[2022-08-22 13:49] kreosus commented on #2362
Hi @davidnavas-ashkalabs

As we have not heard back from you we are closing this issue out. If you require any further/future assistance please let us know and we will proceed accordingly. Have a nice day.

[2022-08-22 13:49] #2362 closed, assigned to nobody

[2022-08-22 13:53] kreosus commented on #3104
Hi @Vyoam

As we have not heard back from you we are closing this issue out. If you require any further/future assistance please let us know and we will proceed accordingly. Have a nice day.

[2022-08-22 13:53] #3104 closed, assigned to nobody

[2022-08-22 13:54] wongstein commented on #2144
I didn't exactly set up a test environment like the gif provided, but I quickly checked selecting old responses with the latest Insomnia version (2022.5.1) and couldn't reproduce this issue.
(Ignore the watermarks and stuff)

![Image](https://user-images.githubusercontent.com/12381507/185937910-64f0d805-120c-47b1-b8e9-4da4792ef866.gif)

Are you still experiencing this issue with the latest Insomni

[2022-08-22 13:55] kreosus commented on #2158
Hi @develohpanda,

We were not able to reproduce this error on [latest stable (2022.5.1)](https://github.com/Kong/insomnia/releases/tag/core%402022.5.1) and [latest beta (2022.6.0-beta.2)](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.2).

Are you by any chance able to reproduce with any of these other versions?

[2022-08-22 13:58] kreosus commented on #2253
Hi @develohpanda

Have you been able to reproduce this error on [latest stable (2022.5.1)](https://github.com/Kong/insomnia/releases/tag/core%402022.5.1) and [latest beta (2022.6.0-beta.2)](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.2).

Are you by any chance able to reproduce with any of these other versions? Thank you.

[2022-08-22 14:03] ejose19 commented on #2041
Hello @kreosus, I just tried with `2022.5.1` but nothing has changed. I created 2 environments and when one gets a cookie the other also uses it, they're not separated and there's no option to enable/disable cookieJars. Can you tell me what was the change that implemented this FR?

Here's a sample server code (nodejs) I'm using to test:

[code]

[2022-08-22 15:06] kreosus commented on #2331
Hi @skiat

Have you been able to reproduce this issue with our latest release: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.2?

[2022-08-22 15:12] kreosus commented on #2450
Hi @natalywadie

Are you still able to reproduce this error with our latest release: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.2

[2022-08-22 15:24] wongstein commented on #2127
Without being to reproduce this error, it's hard for us to know what was in the data that caused the parsing error.  While I understand that this is frustrating to encounter, I feel I should close this issue until more definite details are available.  Please feel free to open a new issue if you are able to give more details

[2022-08-22 15:24] #2127 closed, assigned to nobody

[2022-08-22 15:27] wongstein commented on #1838
Closing this issue as it seems to have been resolved a couple of versions ago.

[2022-08-22 15:27] #1838 closed

[2022-08-22 15:29] wongstein commented on #1731
Closing this issue due to lack of interaction.

[2022-08-22 15:29] #1731 closed

[2022-08-22 15:52] wongstein commented on #1712
My very quick test of the endpoint provided on the latest Insomnia (2022.5.1) did not reproduce this error.

![Image](https://user-images.githubusercontent.com/12381507/185960040-b9a3799b-f4f8-43f0-bbe8-2f2613798e40.png)

I'm cognizant to @superhawk610 explanation of the behavior which we'll keep in mind next time we are touching the implementation of special characters and the request library.  I

[2022-08-22 15:52] #1712 closed

[2022-08-22 16:00] wongstein commented on #1486
I'm going to close this issue for now, since it seems that restarting the app fixes the issue (sometimes computers / programs need to be restarted).  Please feel free to re-open again if restarting doesn't fix the issue.

[2022-08-22 19:22] wongstein commented on #2920
Hotkeys have been an issue for us and we've recently retouched that code.  Can you still reproduce these problems with the latest Insomnia 2022.5.1?

[2022-08-22 19:26] wongstein commented on #4067
Want to further pipe in that if the issue originates with Insomnia's Electron version, we have since upgraded that to latest.  Let us know if you can still reproduce this error.

[2022-08-22 19:31] wongstein commented on #976
Piping in here again: Is this problem still reproducible with the latest Insomnia 2022.5.2?

[2022-08-22 19:33] wongstein commented on #2801
Piping in here to recommend trying to reproduce this issue with the latest Insomnia 2022.5.1.  A lot has changed!

[2022-08-22 19:35] Vyoam commented on #3104
Yes. I haven't observed this since quite a while. This can stay closed.

[2022-08-23 05:14] skiat commented on #2331
Hello kreosus, thanks for your message, unfortunately this bug and the other I posted in the same period did not allow my company to proceed with this version of insomnia. So I did not try it ever again. We are using an insomnia sync with a team account which is doing what we need 😉

[2022-08-23 07:16] darcyrush opened #5101 "Drag and Drop no longer working in sidebar"
### Expected Behavior

Folders and requests can be drag and dropped to reorder them in the sidebar, and to move them into folders

### Actual Behavior

Folders and requests can no longer be drag and dropped to reorder them in the sidebar, nor to move them into folders

### Reproduction Steps

_No response_

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https:/

[2022-08-23 08:39] robinbertram commented on #1003
Installed Insomnia (again), imported my Postman project, edited a request only to realize that everything I do still autosaves. Guess our company will stay with Postman :(

[2022-08-23 13:23] meesvandongen opened #5106 "path variables with special characters in openapi spec get converted to invalid regex"
### Expected Behavior

When using inso generate, the path variables should be converted to valid regex; replacing invalid characters with some other character.

### Actual Behavior

The path variables are copied as-is, including characters that would be invalid for a regex in kong.

### Reproduction Steps

- create a spec with a `-` in a path variable;
- use inso generate config
- sync the config

[2022-08-23 14:36] davelima commented on #5088
Could be this related to #4543 ?

I have tried the workaround described in [this comment](https://github.com/Kong/insomnia/issues/4543#issuecomment-1126771807) but got no luck.

[2022-08-23 14:59] wongstein commented on #4960
Whoops I seem to have read your PR responses way too fast (or not at all, sometimes that happens).  I was able to confirm that your PR works, and I've sent it to the team for review.  Thanks for the contribution!  Hoping to see this in a couple of betas from now!

[2022-08-23 15:42] sarim commented on #5088
The provided rpm is using gnutls. ldd shows `libgnutls.so.30`. No libssl. So it makes sense your openssl workaround didn't have any effect. @davelima

[2022-08-23 18:29] kreosus commented on #3780
Hi @PierreAdam

As we have not heard back from you we assume the issue to be resolved. If you require any future assistance please submit another issue. Have a nice day.

[2022-08-23 18:29] #3780 closed, assigned to kreosus

[2022-08-24 00:18] zLupa commented on #5088
Having the same error on fedora 36.
On the first request, it fails with "Error: SSL connect error" and on the second request it just crashes

[2022-08-24 03:38] kevinfiol commented on #5056
I agree that it doesn't enhance the experience at all, and clicking it to star the project doesn't make it go away, so I'm puzzled by this idea that it somehow benefits the project. Just seems like a random marketing idea that was done "because we can". I believe only allowing it to be removed for paid users is against the spirit of open-source and moves Insomnia more in the direction of a "freemi

[2022-08-24 07:00] MarvinJWendt commented on #5008
Hi @wongstein, I don't think this issue should be closed, as it's not fixed. I stumbled over the same error, and it took me a little while to find this issue here.

[2022-08-24 08:33] CaiusJard commented on #5008
Agree; in our work stream we close issues after we fix them rather than after we put them on our backlog..

[2022-08-24 09:15] #4153 closed, assigned to nobody

[2022-08-24 09:19] wongstein commented on #1389
Is the ask here to allow users to select which data-fields to encrypt locally on their machines?  In the time since this issue was posted, we have released Insomnia Sync which provides end to end encryption in the case of data being shared between Insomnia Users.  I'm trying to understand whether or not the Insomnia Sync feature covers this issue.

[2022-08-24 09:22] #1745 closed

[2022-08-24 09:44] MarvinJWendt commented on #5008
Yes, this issue is also still marked as "unverified". Also, a closed issue will reduce the possibility of contributions from the community dramatically, as contributors look for open issues to fix 😉

[2022-08-24 13:03] kreosus commented on #1733
Hi @susamn,

Thank you for reporting this issue and suggestion. It is not in our roadmap for a future release yet. Once again, thank you for the suggestion and have a nice day.

[2022-08-24 13:03] #1733 closed

[2022-08-24 13:28] kreosus commented on #2331
Hi @skiat

Thank you for the suggestion. In the future we will be redesigning our App and the use of Git-Sync that should accommodate you. Have a nice day.

[2022-08-24 13:28] #2331 closed, assigned to kreosus

[2022-08-24 14:04] Nopraz commented on #5088
Hello, same problem for me on fedora 36 on 2022.4.0, 2022.4.2, 2022.5.0 and 2022.5.1
Insomnia gives me a segmentation fault error

[2022-08-24 16:33] ic3guy commented on #5056
It's the mis-clicks. While I sympathize on what @subnetmarco has mentioned above, it's annoying. At a minimum, move it somewhere else. Maybe to the right side by the settings/account icons. It's incredibly distracting.

[2022-08-24 16:46] tjagithub commented on #5056
You can see that the Nightingale REST app has implemented this as a star icon: https://github.com/jenius-apps/nightingale-core

It looks much cleaner.

I still think rating/star begging comes off badly. It reminds me of _those_ mobile apps.

The haphazard way it was just thrown into the UI is concerning. Was there a particular pull request associated with this? How was it reviewed? Was it tested?

[2022-08-24 17:53] strzyzewski commented on #264
I'm having the exact same problem:
The server I'm sending my request to, **doesn't recognize query parameters** when they aren't followed by equal signs.

It would be very cool, if we could toggle this behaviour somewhere in the App's settings.

[2022-08-24 18:40] mcx808 commented on #1389
I'm also interested in this. I've also reached out to insomnia support so if I get a reply I'll post it here.

[2022-08-24 18:52] kreosus commented on #1806
Hi @bashovski,
Thank you for reporting this issue. Have you tried our newest release to see if it alleviates your issue? It can be located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.2

[2022-08-24 19:03] kreosus commented on #1796
Hi @Quelu
Thank you for the suggested feature. It is not currently on our roadmap, but will be revisited at some point in the future.

[2022-08-24 19:06] kreosus commented on #1788
Hi @davidhampson,
Thank you for bringing this to our attention. Have you been able to reproduce it on our newest release, located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.2

[2022-08-24 19:25] kreosus commented on #1770
Hi @halloamt,
Thank you for this feature request suggestion. This work is currently not on our future roadmap, but will be revisited in the future.

[2022-08-24 20:44] LIVelasco commented on #4481
Is there any update on this?

[2022-08-24 22:59] martinmunillas commented on #1904
I'm having the same issue, I would like to help solving this issue, but I'm not sure where to start, any tips?
<img width="393" alt="Screenshot 2022-08-25 at 00 58 56" src="https://user-images.githubusercontent.com/65319051/186539303-d03b5f8f-ca55-4f04-a41c-296323efd5de.png">

[2022-08-25 08:54] filfreire commented on #1931
Hi @manoger, this can be achieved through custom themes.

For example, by adapting  https://insomnia.rest/plugins/insomnia-plugin-luna-theme, you can get a result like:

![Image](https://user-images.githubusercontent.com/11976836/186620935-c59db6ee-384c-4121-8e62-b2c448e500ab.png)

Hope this helps 👍

[2022-08-25 08:54] #1931 closed, assigned to nobody

[2022-08-25 15:28] octaviobarbosa commented on #5088
Hey! same problem here on Fedora 36.

Please for God's sake help me... I can't keep working on postman. I need my Insomnia back 😭😭

[2022-08-25 15:59] filfreire commented on #2877
Hi @guidotrueb, I'm closing this as duplicate of #1999
SSO feature is at the moment being worked on by the team, with initial support of GitHub.
Soon other platforms will be added.

[2022-08-25 15:59] #2877 closed, assigned to nobody

[2022-08-25 16:01] filfreire commented on #1999
Hi folks! the team is working on SSO, initially for GitHub, and soon for other platforms.

We'll provide more information as soon as possible.

heads up @subnetmarco @wongstein

[2022-08-25 19:21] superhawk610 opened #5113 "plus sign (+) in query string incorrectly escaped to %2B"
### Expected Behavior

Sending a GET request to `http://localhost:3000/some/path?foo=bar+baz` should send the following HTTP request to the server running at port `3000`:

[code]

Specifically, the query string `?foo=bar+baz` should be passed through unchanged, as `+` belongs to the set of URI reserved characters as defined in [RFC 3986, Section 2.2](https://www.rfc-editor.org/rfc/rfc3986#section-

[2022-08-25 19:22] superhawk610 commented on #5113
cc @wongstein

[2022-08-26 01:34] atomicpages opened #5114 "Cannot run inso CLI"
### Expected Behavior

CLI should work with tools like `nvm` and [`n`](https://github.com/tj/n).

### Actual Behavior

Observing the following on my system:

[code]

### Reproduction Steps

1. Install `inso` via homebrew
2. Use `n` and install the current LTS via `n lts`
3. Try to execute `inso`

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github

[2022-08-26 01:35] #5114 closed, assigned to nobody

[2022-08-26 01:36] atomicpages commented on #5114
JK! I upgraded to `16.17.0` and it worked -- strange

[2022-08-26 06:45] PhoneixS commented on #4644
Why was this closed? It was implemented? how can we use it?

[2022-08-26 10:34] AlenBenkovic commented on #5088
Same problem here with Insomnia 2022.5.1 and F36

[2022-08-26 11:57] filfreire commented on #5088
Hi folks, just a quick update, we're aware of this issue and we know it's affecting a handful of users, we'll be looking into it as soon as possible. Please bear with us and if it helps in your case, I recommend using an older stable version, perhaps [2022.4.2](https://github.com/Kong/insomnia/releases/tag/core%402022.4.2).

EDIT: I just noticed @Nopraz comment that [2022.4.2](https://github.com/K

[2022-08-26 15:34] davelima commented on #5088
@filfreire thanks!

I have made some tests with older versions and it all seems to have the same issue, so i've reviewed the last updates on my OS and looks like the problem starts happening after upgrade **cups** from 2.4.1 to 2.4.2 (why i cannot say).

Downgrading **cups** to 2.4.1 solves the problem. Hope that piece of info help you guys.

This is the list of downgraded packages:

- cups-1:2.4.

[2022-08-26 15:41] bisby commented on #5088
Downgrading insomnia to 2022.4.2 didn't work.

Downgrading cups to 2.4.1 did work.

`sudo dnf install cups-1:2.4.1-7.fc36.x86_64` properly downgraded all 5 packages in 1 go.

EDIT: I'm just confirming that @davelima was right about cups. He did all the investigative work and is the real MVP.

[2022-08-26 16:19] neo-donnie-walsh commented on #5088
This worked for me. You are my hero.

[2022-08-26 17:49] octaviobarbosa commented on #5088
MY HERO!

thanks!

[2022-08-26 19:18] fhdiaze commented on #5088
It worked for me also. Thanks.

[2022-08-26 21:06] sarim commented on #5088
I only had cups-libs installed. So I just downgraded it, `sudo dnf install cups-libs-1:2.4.1-7.fc36`. It seems to be working now.

[2022-08-29 05:46] Neko-Design commented on #2592
Hey All, this one is a critical one for my current case as well, where we have an ordered flow to validate each step of an onboarding api, something like:

1. Create Account
2. Send validation email
3. Update Account
4. List account resources
5. Delete account

Where each call needs to be made in sequence as running the steps out of order wouldn’t work, so we need guaranteed ordering in some way.

[2022-08-29 08:32] Nopraz commented on #5088
Thank you so much !

But why does Insomnia uses cups ? Isn't cups for printers ?

[2022-08-29 13:19] filfreire commented on #1769
Thank you for reporting this @vaknin, this is indeed a bug. Happened to cross into it today.
Marking internally as needing fix as soon as possible.

Feel free to report other issues you come across.

![image](https://user-images.githubusercontent.com/11976836/187210495-157a6bf7-3b60-49c0-b925-3460c886413b.png)

[2022-08-29 13:50] filfreire commented on #5088
Hi folks, quick update, but after installing updates on Fedora 36, I can reproduce the exact same issue, with these error logs

[code]

and Insomnia crashing soon after the SSL error:
![image](https://user-images.githubusercontent.com/11976836/187215062-f745e56f-3fb1-4f66-9857-55a3239cdeb1.png)

###  Solution

I tried solution [mentioned above](https://github.com/Kong/insomnia/issues/5088#issuecom

[2022-08-29 19:29] flower7434 opened #5118 "Removal of Insomnia installation deletes everything (Windows)"
### Expected Behavior

Data stored at a safe location of a user account.

### Actual Behavior

Data stored along with installation. Gah.

### Reproduction Steps

Install Insomnia
Work with it
Reset Windows
Data loss since config is stored with the installation

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for this

[2022-08-30 04:34] griggsrl commented on #5036
I'm getting this exact same issue trying to install/run the current version (2022.5.1) on Windows 11.
![image](https://user-images.githubusercontent.com/3331954/187349201-21284928-4d52-4a4f-b046-246d6257cffe.png)

In my case I'm running Acronis Cyber Protect Home Office and it is blocking the generated tmp.node file that's getting created when it tries to start up and I can see it show up in the q

[2022-08-30 08:01] lmpampaletakis commented on #5059
What is the workaround? Same problem here.

[2022-08-30 10:55] filfreire commented on #5118
Hi @FredrikDahlberg, thanks for reporting this!

As of now, this behavior is by design, due to the fact that the [application data is stored](https://docs.insomnia.rest/insomnia/faq#where-does-the-application-store-data), in Windows case, on `AppData` folders, meant to be disposed of after uninstalling Insomnia.

There is an open Feature request we are tracking to allow users to setup this data fo

[2022-08-30 10:55] #5118 closed, assigned to nobody

[2022-08-30 12:16] #2220 closed, assigned to nobody

[2022-08-30 12:16] #4660 closed, assigned to nobody

[2022-08-30 13:30] wongstein commented on #5095
With the synced setup, I am able to reproduce the send button not working but just on the /RGConfigAPI/... endpoints and not on /HealthCheck.  There's nothing immediately obvious in the logs as to what could cause this, nor am I seeing anything in the setup.

[2022-08-30 13:34] vicenterusso commented on #5088
Just to reinforce `sudo dnf install cups-1:2.4.1-7.fc36.x86_64` did fixed the same error after F36 system upgrade. First SSL Error, then a crash.

Valeu @davelima

[2022-08-30 13:36] wongstein commented on #4067
Closing this issue for now, due to inactivity.  Feel free to open again when the error is reproduced with latest Insomnia

[2022-08-30 13:36] #4067 closed, assigned to wongstein

[2022-08-30 14:04] filfreire commented on #2220
Hi folks, quick update, the PR that @nHuebner contributed is now merged, it should be picked up for the upcoming Beta release this Thursday 👍

Stay tuned on https://github.com/Kong/insomnia/releases for release `2022.6.0-beta.4`

[2022-08-30 15:12] bczak commented on #2037
any  update here?

[2022-08-31 12:53] kreosus commented on #3268
Hi @devsamt, as we have not heard back from you we are closing this issue out. If you require any future assistance please let us know and we will proceed accordingly. Have a nice day.

[2022-08-31 12:53] #3268 closed, assigned to nobody

[2022-08-31 12:55] kreosus commented on #2789
Hi @zigfreid5, Good day and I hope that all is well. We are closing this issue out. If you require any future assistance please let us know. Have a nice day.

[2022-08-31 12:55] #2789 closed, assigned to nobody

[2022-08-31 13:18] kreosus commented on #1934
Hi @mandaputtra ,
Good day and I hope that all is well. We have figured out that the import as curl works. As seen in the screenshot below:

If you are trying to import as curl, the multi-part form data needs to be in the format of ```--form key=value```; for each key value pair in the form. In the sample you provided your multi-part  data was in 1 string attached to --data-binary. Which Insomnia

[2022-08-31 13:18] #1934 closed, assigned to nobody

[2022-08-31 13:29] kreosus commented on #2342
Hi @lguzik-bkp
We have another issue open as for your problem. Please refer to https://github.com/Kong/insomnia/issues/777 for more information.

[2022-08-31 14:53] kreosus commented on #2214
Hi @porcarelliandrea,
Good day and I hope that all is well. Have you tried to use our newest release located here: https://github.com/Kong/insomnia/releases/ I hope that this better assists you and have a nice day.

[2022-08-31 14:53] #2214 closed, assigned to nobody

[2022-08-31 15:08] kreosus commented on #1889
Hi @JLopeDeB,
Good day and I hope that all is well. Have you had a chance to try our new release, located here: https://github.com/Kong/insomnia/releases/?

[2022-08-31 15:11] Ghosty-chan commented on #2983
Hi, I'm having similar issues, and was wondering if there's a solution except running it as a "Requesthook" similar like the default-headers are doing it..

**Background:**
As I've "many" requests with Auth: Bearer, I wanted to switch all of them to OAuth 2. (& Later to export them 'correctly')
Now I gotta just add those 5-7 Variables everytime - not so hard when doing a new request.. but replacin

[2022-08-31 15:11] kreosus commented on #1907
Hi @sturose
Good day and I hope that all is well. Have you tried our newest release located here: https://github.com/Kong/insomnia/releases/

[2022-08-31 15:21] kreosus commented on #1909
Hi @golanw,
Good day and I hope that all is well. Have you had a chance to try our newest release located here: https://github.com/Kong/insomnia/releases/? If you require any further/future assistance please let us know and we will proceed accordingly. Have a nice day.

[2022-08-31 15:21] #1909 closed, assigned to kreosus

[2022-08-31 15:23] cubimon commented on #2037
I do have the same issue, maybe someone should try to build from source to find out where it is caused exactly and open a pr?

[2022-08-31 23:55] jmoniatte commented on #5056
Agree with the comments here, it should be removed or at least moved to a place where it does not break the UI.

Also surprised that this made it given the obvious attention given to details everywhere else in the product.

[2022-09-01 08:55] tauinger-de commented on #2789
Sorry, I don't get it. Why is this marked "as completed"..? Has it been implemented in Insomnia core? The workarounds above don't provide what my original feature request is aiming at

[2022-09-01 15:19] wongstein commented on #2920
Closing this issue for now, please feel free to re-report when you get a chance to reproduce problems on the latest Insomnia version.

[2022-09-01 15:20] #2920 closed, assigned to wongstein

[2022-09-02 06:49] kevle1 commented on #2624
This would be tremendously helpful, our organization uses multiple OpenAPI documents to keep track of our API definitions, and having a single repository would be great for sharing across teams. Since not everyone is contributing and simply consuming, it isn't feasible for us to buy that many subscriptions.

[2022-09-02 12:28] kreosus commented on #2487
Hi @Lyra2108

Have you been able to reproduce this issue on our newest release, located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4 I await your reply to proceed accordingly.

[2022-09-02 12:36] kreosus commented on #2673
Hi @naruto112
Do you receive the same error when using our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 12:58] kreosus commented on #2788
Hi @SamueleDassatti
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:04] kreosus commented on #2458
Hi @basarito
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:13] kreosus commented on #2083
Hi @allandiego
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:18] kreosus commented on #2111
Hi @gbogard
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:21] kreosus commented on #2191
Hi @pavelpatrin
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:23] kreosus commented on #2251
Hi @DnlCYan
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:25] kreosus commented on #1989
Hi @asyba
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:27] kreosus commented on #2025
Hi @stdedos
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:29] kreosus commented on #1752
Hi @rohinrohin

Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:31] kreosus commented on #5101
Hi @darcyrush
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:33] kreosus commented on #1272
Hi @rolurq
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 13:58] kreosus commented on #1772
Hi @TLPcoder
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 14:13] kreosus commented on #1911
Hi @NewLunarFire
Do you see the same behavior with our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4

[2022-09-02 14:35] DnlCYan commented on #2251
@kreosus I have to say that more than 2 years later, I can't recall what were the right steps to reproduce this error.
Though I add that today I'm using Insomnia 2022.5.1 version and I don't have any problem to call this endpoint at Azure.

Thank you for the attention.

[2022-09-02 14:35] #2251 closed, assigned to kreosus

[2022-09-02 19:01] sarim commented on #5088
So I compiled libcurl against my system's installed libcurl. I wasn't happy with cups downgrade workaround. I used the following steps
- make sure dependencies are installed
[code]
-
[code]
-
  Edit `packages/insomnia/electron-builder.config.js` and add `buildDependenciesFromSource: true`. This config actually makes packages app's libcurl to be recompiled.

-
[code]

Now its working fine with late

[2022-09-03 05:55] stdedos commented on #2025
In Ubuntu Xenial? An ESM LTS?

[2022-09-05 06:21] darkguy2008 commented on #5088
Thanks @sarim for the detailed writeup! I would've never been able to compile Insomnia otherwise. This took ages to build on my i5 12400, but in the end it worked. Fedora 36 as well. I didn't like the idea of downgrading the cups-lib package, nor removing it as others suggested - it wanted to remove all of my installed packages, quite crazy.

This is something that the Insomnia team should really

[2022-09-05 11:52] darcyrush commented on #5101
@kreosus Issue still persists with 2022.6 beta.4 installed via deb

[2022-09-05 12:17] MB175 commented on #2255
@ubeogesh what is the path of the CAFile ?

[2022-09-05 14:59] sarim commented on #5088
Yes, issue also happens with the official provided AppImage. You can use the AppImage after compiling from my instructions. It'll be in `packages/insomnia/dist` directory.

I don't know the metric of user distro's, who are the audience of rpm packages? Fedora users? centos/almalinux? suse?. Instead of trying to make a single rpm work in all distro/all version, A simple fix could be just to publish

[2022-09-06 22:00] RafaFreitasNog opened #5141 "Pressing the "return" key on Mac to select an environment variable in the URL also sends an HTTP request"
### Expected Behavior

Pressing return key should **only** trigger the environment variable selection in the URL.

### Actual Behavior

Pressing return is triggering the variable selection **and also sending an HTTP request**.

### Reproduction Steps

1. Type something on the URL 2. Use the up and down keys to switch between the recommended suggestions 3. Press the "return" key to select the desir

[2022-09-07 08:28] mroach commented on #5088
It also affects the AppImage. I tried 2022.5 and 2022.6-beta4 and both segfault just as the RPM version does.

[2022-09-07 09:02] vpul commented on #4780
@filfreire I was also having trouble setting the 'Content-Type' header on Insomnia and just tried it on Postman. While Postman does set ```Content-Type: multipart/form-data; boundary=``` uneditable header by default, you can 'uncheck' it and set your own Content-Type header like so:

![image](https://user-images.githubusercontent.com/10886135/188836740-14d88ea7-6de7-4d36-8e89-95836b30cec8.png)

It

[2022-09-07 20:54] ghost opened #5149 "[Feature request] Add support for Content-Type of multipart fields"
### Discussed in https://github.com/Kong/insomnia/discussions/5137

<div type='discussions-op-text'>

<sup>Originally posted by **pheianox** September  5, 2022</sup>
Is there any way to set Content-Type of multipart data field ?

In this example I need to send details as JSON, but it sends plain text...

![Screenshot_2022-09-05_23-37-08](https://user-images.githubusercontent.com/77569421/188505910

[2022-09-07 23:06] alexdmccabe commented on #5088
This worked for me too on Fedora 36.

Thanks so much!

[2022-09-07 23:52] darkguy2008 commented on #5088
While this works, I wouldn't encourage much to suggest this solution. I mean, **why** to install a print tool/driver/app/whatever for something related to REST APIs, and more importantly, SSL connections?

I get this when I try to run that. I'm definitely not going to install extra packages to fix something that isn't exactly broken:

![image](https://user-images.githubusercontent.com/6304136/1890

[2022-09-08 00:15] davelima commented on #5088
I'm not sure about **installing** cups, but at least for me, i already had this package installed in version 2.4.1, and only at 2.4.2 it started to cause this problem. That's why i suggested **downgrading** it. When i did it (`dnf downgrade cups`), no new packages were installed/changed.

Anyway i still don't understand the cups influence on this 😅. I think we should understand **why** it caused t

[2022-09-08 05:22] GoNzCiD commented on #2614
I have the same issue on OpenSUSE Leap 15.4

[2022-09-08 06:16] bisby commented on #5088
Based on your screenshot, you are downgrading cups-libs by doing this... which is clearly what the end goal is. dnf install cups-2.4.1 was assuming you had cups installed... It is kinda weird to have cups-libs installed, but not cups? It must be used as a dependency for things other than just cups. But for you, downgrading cups-libs would work:

`sudo dnf install cups-libs-1:2.4.1-7.fc36.x86_64`

[2022-09-08 13:44] cpirtea-bun opened #5151 "Unused auth with missing variables cause "attempted to output null or undefined value""
### Expected Behavior

Ignore variables used in different auth options and correctly authenticate using current selection.

### Actual Behavior

Insomnia fails with "attempted to output null or undefined value" and no apparent reason for the failure.

### Reproduction Steps

1. Go to auth and select OAuth 2
2. Select Grant Type "Implicit"
3. In Redirect Url type {{ParameterThatDoesNotExist}}
![ima

[2022-09-08 15:11] alexdmccabe commented on #5088
Yeah, I mean, this is a workaround, not a solution. I didn't have to install anything either, though, only downgrade:

![Screenshot from 2022-09-08 10-49-04](https://user-images.githubusercontent.com/6988721/189158856-6f863778-9ca4-4e3c-90e4-6a6838d678a6.png)

[2022-09-08 17:55] moraessena commented on #5088
Worked for me here. Thanks!

[2022-09-10 11:45] chelfonseca commented on #1555
That worked for me too. Thanks!

[2022-09-10 20:02] ZelvaMan commented on #3818
Any update on this issue?
Its really big problem for me because i use 303 to redirect to resource that only accepts get.
Thanks for response

[2022-09-12 00:28] ghost opened #5167 "My entire project just disappeared"
### Expected Behavior

Work

### Actual Behavior

There were 4 folders of 10-12 requests each. After I closed and opened the program, most of the requests and folders were gone...

### Reproduction Steps

_No response_

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for this problem.

### Additional Information

I wa

[2022-09-12 08:06] anthonyblond commented on #975
I ran into this problem specifically with commas. `url?id=1,2,3` becomes `url?id=1,2,3`, great, can use that to hit endpoint expecting comma separated array (i.e the qs library with comma: true).

Using `url?id=1%2C2%2C3` however becomes `url?id=1,2,3`,looks like now way to encode a comma

[2022-09-12 11:48] #1788 closed

[2022-09-12 11:48] #2487 closed, assigned to kreosus

[2022-09-12 12:14] marko-stimac commented on #4894
Auth details are missing in some other scenarios. I don't see them when using Microsoft NTLM auth with PHP Curl, data should include

CURLOPT_HTTPAUTH => CURLAUTH_NTLM,
CURLOPT_USERPWD => $username . ":" . $password,

[2022-09-12 12:58] filfreire commented on #5167
Hi @pheianox thanks for reporting this! This sounds like it could be a bug.

Please reply with the following information:

- How did you install Insomnia?
- Did you create your folders and requests manually, or by importing anything (e.g. like a Postman collection or OpenApi spec)
- Also can you share with us what does your project structure/dashboard look like? (e.g.

![image](https://user-images

[2022-09-12 13:00] filfreire commented on #5101
Possibly this is closed by - https://github.com/Kong/insomnia/pull/5168

[2022-09-12 13:08] filfreire commented on #5095
@codelemur we could reproduce this, and it seems it touches two other similar problems:

- https://github.com/Kong/insomnia/issues/4038
- https://github.com/Kong/insomnia/issues/5093

We have problems dealing with folder structures in gRPC requests, which in this cases causes us to have an error pressing send button like:

[code]

[code]

[2022-09-12 13:10] filfreire commented on #5095
Closing as duplicate of #4038

[2022-09-12 13:10] #5095 closed, assigned to wongstein

[2022-09-12 13:10] filfreire commented on #5093
Closing as duplicate of #4038

[2022-09-12 13:10] #5093 closed, assigned to nobody

[2022-09-12 13:16] filfreire commented on #5151
Hi @cpirtea-bun, thanks for reporting this!

We were able to reproduce this in a similar fashion:

![image](https://user-images.githubusercontent.com/11976836/189664128-8d398058-2267-456d-86d8-23369e94b0d5.png)

It seems we store values for inputs that are no longer applicable when a user changes `Grant Type`, which means, if they set a bad input on one `Grant Type` option, that gets carried over

[2022-09-12 13:20] filfreire commented on #5141
Hi @RafaFreitasNog, thanks for reporting this! We can also reproduce it.

[2022-09-12 22:15] cpirtea-bun commented on #5151
Awesome. I did not even consider option 4: clear properties that are no longer relevant.

My preference is still option 3. As a rule I would prefer errors messages to be as useful as possible. Someone might find it useful to preserve the values that are no longer applicable for the scenario when they switch back and forth between options.

That said if clear is your preference, go for it.

[2022-09-13 17:23] weeebdev commented on #4732
@philsturgeon any openapi v3 client other than postman?

[2022-09-14 01:20] subnetmarco commented on #5056
When logging into the application with any subscription, including the Free subscription, the GitHub start button will disappear after the next version of Insomnia will be released. Later this year there will be a UI redesign on the header bar that will move the "projects dropdown" in a different location, therefore avoiding potential mis-clicks on the GH star button for logged-out users.

[2022-09-14 07:49] #3065 closed, assigned to nobody

[2022-09-14 09:48] Samuelfaure opened #5182 "Can't move requests into folders (or folders into folders)"
### Expected Behavior

When drag-and-dropping a request or a folder onto another folder, it should move that request into that folder.

### Actual Behavior

It does not

![insomniabug](https://user-images.githubusercontent.com/14159757/190120991-2253ecad-00c6-4283-b8af-af0d76a1a1da.gif)

### Reproduction Steps

See attached GIF

### Is there an existing issue for this?

- [X] I have searched the [

[2022-09-14 09:59] filfreire commented on #5182
Hi @Samuelfaure, thanks for reporting this!

Are you by any chance also able to reproduce this issue with previous [stable version 2022.4.2](https://github.com/Kong/insomnia/releases/tag/core%402022.4.2) and/or with the [latest beta](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0-beta.4)?

[2022-09-14 10:06] Samuelfaure commented on #5182
@filfreire The issue has been happening for quite some time, I am certain it was present during 2022.4.2 (which is even why I upgraded to 2022.5)

I'll try with the latest beta immediately.

Edit: No dice, beta doesn't solve the issue.

[2022-09-14 16:15] hunterwilhelm commented on #4766
Changing the shortcut to Cmd+Shift+D is great, but is there any progress on this issue?

I'm sure new users are going to have a hard time figuring out why the duplicate dialog deletes their request URL at the same time.

[2022-09-14 16:28] Edchja commented on #4766
Hi everyone!

I was trying to duplicate some requests today and found the same bug when using `CTRL + D`. So I have tested it and found another bug regarding the same shortcut issue. When in the editor, clicking `CTRL + D` will delete the line where the cursor was set before and if a text block is selected, the whole block will be deleted when the shortcut is pressed.

Like @hunterwilhelm said, is

[2022-09-15 13:32] CharlesDevo opened #5185 "Inso Kong Declarative Configuration Generator - Tags generation issue/missing"
### Expected Behavior

1.  Generating kong declarative confguration file from Insomnia Windows or generating from Insomnia Inso CLI provide same configuration files

2. Possibility to add tags by defining them in Swagger openAPI 3.0 file.

According to openapi-2-kong readme, I understand unless I'm mistaken that tags field should be converted :

[code]

### Actual Behavior

1. Generating kong decl

[2022-09-15 13:44] #976 closed

[2022-09-15 16:40] brucethomax opened #5186 "Bug or Enhancement GQL formatting of comments and commenting is not consistent"
This is a minor annoyance more than anything. Thanks for your consideration!

Often times I find that the formatting commenting of GQL queries and then formatting via the Prettify GraphQL are at odds.

The comment # is placed at the beginning of the line. When Prettify is run, the comments are pushed to line start and tabbed in.

If the comments were placed at the beginning of the line start inclu

[2022-09-15 19:02] afzal442 commented on #4856
/assign

[2022-09-16 08:16] filfreire commented on #5186
Slightly linked with #4800

[2022-09-16 14:37] FrancescoPessina opened #5190 "Error while fetching schema: Unexpected <EOF>"
### Expected Behavior

When fetching a graphql schema, I would expect Insomnia to fetch the schema correctly.

### Actual Behavior

Actually the "Refresh Schema" action produces an error:
<img width="509" alt="image" src="https://user-images.githubusercontent.com/12136182/190664160-aa4c64dc-ac30-436a-b525-07295ace461a.png">

This is the content of the "debug" window:

[code]

Executing the introsp

[2022-09-17 11:19] thansk commented on #4530
This has been an issue for me as well. Was wondering why requests work in browser, when running curl but they fail in Insomnia.

[2022-09-17 17:29] ghost commented on #5167
Hello @filfreire! Thank you for response.

1. I downloaded file (Insomnia.Core-2022.5.1.deb) and installed via GUI
2. I created requests manually, I've never used import
4. Here's dashboard screenshot (empty, but there were only one collection with folders and each folder had requests + global env vars)
![image](https://user-images.githubusercontent.com/77569421/190868883-bda03989-289b-48e7-8e3a-f

[2022-09-17 17:36] ghost commented on #5167
I had this structure

(collection)
[code]

(global env)
[code]

So after I closed and came back folders `product`, `account`, ..., were deleted, but some were not. It looked like unsaved version, but maybe it's bug. I never actually thought about saving project, it would save it automatically every time, so it's mostly bug. Maybe something wrong with the state managment, you guys know it better ho

[2022-09-18 13:48] shalomeliy commented on #1003
Our company want's to replace Postman but this multi tab feature is a deal braker
Can someone answer when the multi tab feature will be available here

[2022-09-19 04:39] selivan commented on #3355
I am not using Ubuntu as desktop system anymore, so I can not check if the issue was fixed. I suppose this can be closed.

[2022-09-19 06:16] ppazos opened #5194 "Plugin hub is down"
### Expected Behavior

Show all plugins, including randomnumber.

### Actual Behavior

Only shows 20 plugins and can't find the randomnumber one I need.

### Reproduction Steps

1. check the plugin hub
2. plugin is not there

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for this problem.

### Additional Information

[2022-09-19 07:16] filfreire commented on #5194
Hi @ppazos, thanks for reporting this! We can also reproduce this internally.

[2022-09-19 14:24] prakash5751 opened #5196 "insominia connetion is failing out"
### Expected Behavior

Trying to post query on hapi server but connection is taking too long to respond.

### Actual Behavior

[Doc1.docx](https://github.com/Kong/insomnia/files/9599759/Doc1.docx)
Insomnia is crashing

### Reproduction Steps

 connection is taking too long

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issu

[2022-09-19 14:42] ppazos commented on #5194
@filfreire thanks, I was able to install it from the npm repo after I found it there, but took a little searching to find it there.

[2022-09-20 16:02] masukomi opened #5203 "gRPC calls don't allow for prefixes in request paths"
### Expected Behavior

our protobuffers define a valid request, HOWEVER that request exists within a "subdirectory" on our server, as a result, insomnia always gets an error .

As an example.
after choosing a proto file insomnia wants to send a request to

[code]

but we need it to send a request to

[code]

### Actual Behavior

it errors out because it's hitting an invalid url on our servers

###

[2022-09-21 06:34] JonahBranch commented on #2310
I'm having this issue as well with a newly generated cert

[2022-09-21 08:44] filfreire commented on #5194
@ppazos this should be fixed now.

It has something to do with a possible bug on npmjs.com, related with this issue: https://github.com/npm/feedback/discussions/769

Internally some team members have deployed a workaround, and you should see results now on the plugin hub.

Feel free to report any other issues you come across!

[2022-09-21 08:44] #5194 closed, assigned to nobody

[2022-09-21 08:54] filfreire commented on #5196
Hi @prakash5751, thanks for reporting this. We would need a bit more information before being able to do something with this issue.

I'm able to get a response from the server you show in your screenshot:
![image](https://user-images.githubusercontent.com/11976836/191460767-c5827698-3091-4fdd-89fa-962ff8434c90.png)

I would recommend the following, in order to check if there's some issue with Inso

[2022-09-21 08:54] #5196 closed, assigned to nobody

[2022-09-21 08:57] filfreire commented on #5190
Hi @FrancescoPessina, thanks for reporting this!

Do you see any errors on the DevTools console of Insomnia when you hit `Refresh Schema` button?

![image](https://user-images.githubusercontent.com/11976836/191461510-91901b67-844f-4f91-9716-42c12a2a58f2.png)

[2022-09-21 09:18] FrancescoPessina commented on #5190
Hi @filfreire ,
the console reports this:

<img width="557" alt="image" src="https://user-images.githubusercontent.com/12136182/191466323-f37bb167-b56b-4dd5-9a81-4f58980468f7.png">

[2022-09-21 14:46] rezekdan commented on #1486
i don't think this issue is resolved yet. Restarting also does not help:

Version: Insomnia 2022.5.1
Build date: 17.8.2022
OS: Linux x64 5.4.0-125-generic
Electron: 19.0.3
Node: 16.14.2
V8: 10.2.154.4-electron.0
Architecture: x64

[2022-09-21 18:38] yonas opened #5206 "Upgrade to Node 18"
### Expected Behavior

Be compatible with NodeJS v18.

### Actual Behavior

Only compatible with Node v16.

### Reproduction Steps

1. Install Node 18
2. Clone latest repo
3. Run `npm run bootstrap`

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for this problem.

### Additional Information

_No response_

### Insom

[2022-09-22 00:29] yuhwaa commented on #5206
Hi! I'd like to work on this. I am a newbie but this is my understanding:
1. Install Node 18
2. Clone latest repo
3. Run npm run bootstrap
4. and after this do I send s pull request?
Thank you!

[2022-09-22 03:29] yonas commented on #5206
@yuhwaa  Yes. A high level overview:

- remove `.nvmrc`
- add the following to `package.json`:
[code]

[2022-09-22 03:39] wiperawa commented on #1873
Same for me. Installed using Snap on Opensuse Timbleweed.
sometime it freeze, sometime not.

[2022-09-22 06:30] jackkav commented on #5206
Hi @yonas and @yuhwaa unfortunately node version and electron version must be in sync. There is no electron build which will work with node 18 currently. The latest electron version is 20 which requires node v16.15.0. I have an open PR for it but its blocked. Can I ask what feature of node 18 would make this desirable?

https://www.electronjs.org/releases/stable
#5173

[2022-09-22 09:06] pahofmann opened #5207 "Query parameters ignored when importing a Postman Collection v2"
### Expected Behavior

Query Prameters show up in the _Query_ tab when importing from a Postman Collection v2.

### Actual Behavior

Query Parameters are not imported. _Query_ tab is empty.

### Reproduction Steps

1. Go to Application -> Preferences -> Data -> Import Data From File
2. Import a Postman v2 Collection with Query Parameters: [Here is an example.](https://github.com/pahofmann/dynatrac

[2022-09-22 16:12] nbenninghoff commented on #2111
I just had this problem and can verify it is present in 2022.6.0-beta.4
Equals sign is getting stripped from empty parameters.  This causes a problem in ASP .NET sites as each parameter gets treated as a "keyless" parameter and each one gets concatenated to a query param with a null key.
https://stackoverflow.com/questions/3130541/access-query-string-parameters-with-no-values-in-asp-net

[2022-09-22 17:38] yonas commented on #5206
@jackkav On FreeBSD 13, the default node version is 18, although it's possible to install node 16.16.0.

It would be great to be able to build a web app only build so I can run insomnia headless on a dedicated server.

[2022-09-22 21:40] campbellhardingdeason opened #5212 "GQL required fields with default values causes error tooltip in Query Variables pane"
### Expected Behavior

GraphQL schema containing required fields with default values should not trigger red squiggly lines and a red error tooltip in the `Query Variables` editor

### Actual Behavior

GraphQL schema containing required fields with default values trigger red squiggly lines and a red outline error tooltip in the `Query Variables` editor

The text is `Object of type "<Type>" is missi

[2022-09-22 23:09] jackkav commented on #5206
Due to current insomnia architecture a web version is still a long way off, although it would be handy. Electron is moving fast, we might see a node 18 version in the next 12 months 🤞

[2022-09-22 23:09] #5206 closed, assigned to nobody

[2022-09-23 05:43] wendellestradairely opened #5214 "Random popup"
### Expected Behavior

Should be able to dismiss this popup.

### Actual Behavior

A popup that shows a list of URLs randomly pops up and can't be dismissed. Tried to hit the ESC key but the popup doesn't disappear.

![image](https://user-images.githubusercontent.com/50942719/191898174-0ed083ab-01f5-4fb3-9b55-7ebc29d12e86.png)

### Reproduction Steps

Unable to replicate because it just randomly p

[2022-09-23 09:23] zeratul2099 commented on #5088
Same issue here with F36 and Insomnia 2022.5.1 as well as 2021.7.1, both AppImages. I will try the workaround, but I'm not admin on this machine and our IT will not be happy about the downgrade :sweat_smile: So a permanent solution would be appreciated very much :smiley:

[2022-09-23 09:38] lukik commented on #1003
At least it got the `Improvement/Enhancement` label on it 2 months ago. That is something to celebrate. Patiently waiting.

[2022-09-23 11:43] kachar commented on #4759
I'm experiencing the same problem with a fresh exported project containing graphql queries

[2022-09-23 13:09] maciekdragan commented on #1003
It's only 4 years now, and it's third most commented issue...

[2022-09-23 20:10] bbbco commented on #3919
This also seems to only occur on the Base Environment; the variable is rendered correctly when a Sub Environment is selected.

[2022-09-23 20:13] bbbco commented on #2703
Likely related to https://github.com/Kong/insomnia/issues/3919

[2022-09-23 20:14] bbbco commented on #4690
Likely related to https://github.com/Kong/insomnia/issues/3919

[2022-09-23 20:38] bbbco opened #5218 "Environment variables unable to be overridden when nesting past four levels"
### Expected Behavior

Given an environment with variables nested more than four levels deep such as:
[code]
and a sub-environment that overrides it:
[code]

I should be able to refer to it inside of Insomnia using the following nunjuck: `{{ _.foo1.foo2.foo3.foo4.foo5 }}`

### Actual Behavior

When I reference the nunjuck tag like `{{ _.foo1.foo2.foo3.foo4.foo5 }}`:
![image](https://user-images.gi

[2022-09-26 07:17] filfreire commented on #5218
Hi @bbbco, thanks for reporting this!

We're currently focused on finalizing release 2022.6.0. We will look into community PRs as soon as possible, though it might take a while. In the meantime feel free to contribute other issues you find 👍

[2022-09-26 07:18] filfreire commented on #5214
Hi @wendellestradairely, thanks for reporting this. I've also noticed this behavior as of late. We'll update you here if there are any fixes or work done for this one soon.

[2022-09-26 11:44] georgmittendorfer commented on #1486
Version: Insomnia 2022.5.1
Build date: 8/17/2022
OS: Linux x64 5.19.0-1-amd64
Electron: 19.0.3
Node: 16.14.2
V8: 10.2.154.4-electron.0
Architecture: x64

Same here (on Debian testing). Restart doesn't help.

[2022-09-27 01:40] izzat-sq commented on #5182
Having the same problem. I have version 2022.5.1-1

[2022-09-27 07:48] filfreire commented on #5101
@darcyrush this will be fixed in out upcoming `2022.6.0` release.

[2022-09-27 07:48] #5101 closed, assigned to wongstein

[2022-09-27 07:49] filfreire commented on #5182
@Samuelfaure @izzat-sq  this will be fixed in our upcoming `2022.6.0` release.

Fix for it was introduced in https://github.com/Kong/insomnia/pull/5168

[2022-09-27 07:49] #5182 closed, assigned to nobody

[2022-09-27 14:14] #1272 closed

[2022-09-27 14:16] #2673 closed, assigned to kreosus

[2022-09-27 14:16] #1989 closed, assigned to kreosus

[2022-09-27 14:16] #1889 closed, assigned to kreosus

[2022-09-27 14:16] #1907 closed, assigned to kreosus

[2022-09-27 14:17] #2253 closed, assigned to kreosus

[2022-09-27 14:43] yangricardo commented on #5088
Also facing this error... downgrading some dependency may work, but is not suitable to working process...
I only can use insomnia in localhost or some environment that does not use http

[2022-09-27 15:21] wongstein opened #5228 "WebSocket Requests disappearing in Insomnia Sync"
### Expected Behavior

**This is a pre-emptive Issue made by the Insomnia team to document a known edge case with Team Sync**

If you are using Team Sync, you may experience synced Websocket requests mysteriously disappearing from Team Sync collections between syncing updates between different members of a team.  This is because WebSocket support is only available on Insomnia versions >= 2022.6.0.

[2022-09-27 21:09] kreosus commented on #2019
Hi @djibarian
Do you see the same behavior with our latest release located here:
https://github.com/Kong/insomnia/releases/tag/lib%403.6.0

[2022-09-28 06:52] dansailer commented on #4778
It would be great if someone could have a look at https://github.com/Kong/insomnia/pull/4779

[2022-09-28 08:01] topsoft-support commented on #5070
@filfreire  The tip: "This repository is already connected to Insomnia; try creating a clone from the dashboard instead."

My step:

1. `Dashboard` -> `Create` -> `Git clone`  (Git [tab])
2. `Repository Settings` (in document)
3. click `reset`
4. click `Setup Git Sync`
5. `Repository Settings`
6. (Git [tab]) again...
7. now, you will see the tip.

[2022-09-28 16:55] #4766 closed, assigned to nobody

[2022-09-28 18:17] aungthanlwin opened #5233 "[Feature-request] Allow to extend pinned requests area vertically"
### Discussed in https://github.com/Kong/insomnia/discussions/5232

<div type='discussions-op-text'>

<sup>Originally posted by **aungthanlwin** September 28, 2022</sup>
When there are too many requests pinned, I have to scroll up and down to look for the particular request. If I can extend and adjust area vertically, I can see all my pinned requests and that would be nice feature addition. (We al

[2022-09-28 22:29] manbeing opened #5234 "cursor loses its focus in the Manage Environments window"
### Expected Behavior

We can add/edit environment variables without interruption.

### Actual Behavior

OS: Ubuntu 20.4.
Insomnia version:  2022.6.0
Build date: 9/26/2022

In the Manage Environments window, when typing the variable name or variable value, the cursor loses focus after typing 1-2 character.
If you continue typing (without cursor focus), I find the characters you type will be input

[2022-09-29 10:51] kiwikern commented on #5036
I have the same problem and also have Acronis Cyber Protect Home Office. I turned it off and switched back to Windows Defender. Now, it is working again.

[2022-09-29 16:54] RVRX commented on #1182
Where is this setting located in the current version?
Would be nice if the location was added to this page in the docs: https://docs.insomnia.rest/insomnia/encoding#troubleshoot-special-character-issues

[2022-09-30 10:35] filfreire commented on #5234
Hi @manbeing, thanks for reporting this!

We had found a similar bug while preparing [release 2022.6.0](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0) that we fixed in [this PR](https://github.com/Kong/insomnia/pull/5184).

We've tried reproducing earlier and couldn't so far.

Are you still able to reproduce this if you do a clean install of Insomnia, or for example if you use a di

[2022-09-30 10:37] filfreire commented on #5233
Hi @aungthanlwin, thanks for reporting this1

I'm marking this as a possible improvement internally. Feel free to report other issues or improvements you come across.

[2022-09-30 11:17] wingedrhino commented on #5088
Still present on Fedora 36, Insomnia 2022.06.

[2022-10-03 09:07] suuunly commented on #3218
@filfreire, do you have an ETA on this feature?

[2022-10-03 10:06] endo64 commented on #4974
This and related issues are closed, PRs are merged, but the latest version doesn't have the fix yet (v2022.6.0) 🥲
CTRL-D still deletes the URL.

[2022-10-03 13:16] bu4ak commented on #4038
Same issue as in https://github.com/Kong/insomnia/issues/5095
"Send" button unresponsive in grpc request

[2022-10-03 18:57] manbeing commented on #5234
Hi @filfreire   I was able to reproduce it with a fresh install. I currently rolled back the version to 2022.5 in order to edit the environment variables.

[2022-10-03 21:45] RaymondMwaura commented on #5106
It is about time we had this fix in. I hope importing collections with "invalid" variable names will be resolved by this. Currently I have to edit such collections before importing them.

[2022-10-04 09:34] gloscombe-amp commented on #5088
Looks like with Fedora 37, this downgrade option is no longer available.

[2022-10-04 12:58] wongstein commented on #2450
I am closing out this issue, if this problem reappears please feel free to re-open or make a new Github issue.

[2022-10-04 12:58] #2450 closed, assigned to wongstein

[2022-10-04 12:59] wongstein commented on #2083
This feature has been implemented. Cheers all!

[2022-10-04 12:59] #2083 closed, assigned to wongstein

[2022-10-04 17:10] karein opened #5249 "lost folder and requests"
### Expected Behavior

when i created something it used to stay there when i quit and come back

### Actual Behavior

i had a problem that when i quit application, the requests and folders that i created had gone.
It seems to have frozen, and even creating or deleting a request, it returned to the previous state without the modification

### Reproduction Steps

1. Open insomnia
2. Create a new req

[2022-10-04 17:11] #5249 closed, assigned to nobody

[2022-10-05 10:08] scflode opened #5250 "modified timestamp changes when request has tags (Git integration)"
### Expected Behavior

Requests that are just run should not be marked as changed.

### Actual Behavior

Requests that are run and contain one or more tags have their `modified` timestamp changed and appear in the commit list.

### Reproduction Steps

1. Add Git integration
2. Add a request
3. Add a second request that has a tag f.e. capturing sth from request 1
4. Commit everything
5. Run the sec

[2022-10-05 13:42] wongstein commented on #2144
Closing this issue due to lack of activity.

[2022-10-05 13:42] #2144 closed, assigned to wongstein

[2022-10-05 13:44] wongstein commented on #2788
Closing this issue due to lack of activity

[2022-10-05 15:06] driden commented on #5234
Hello, I'm also experiencing the exact same behaviour on `macOS 12.6 (21G115)`.
I've reinstalled using homebrew to the following version
[code]

I'm using this for work so I can't really clean all my files, but let me know if there's something I can try out for you.

[2022-10-05 20:50] matthewdickinson commented on #5097
I'm experiencing the same issue on 2022.6.0 (M1 Mac).

[2022-10-06 14:25] wongstein opened #5253 "Crash with 2022.5.1 on Windows when application run from shared drive (but user data is local)"
### Expected Behavior

**Setup**

A user with admin privileges downloaded the Windows installer and ran it - it installed the whole software in %Localappdata%\Insomnia.

When insomnia.exe was run directly from %Localappdata%\Insomnia, it launched without problems. It also launched fine when copied to any other folder on the local C: drive.

Then the whole %Localappdata%\Insomnia folder was copied

[2022-10-06 14:27] wongstein commented on #5253
**The Cause of the Issue**

It seems that the problem is linked to the update to the new Electron version that apparently has a bug. Following the advice on several Internet forums with similar problems, I found that running Insomnia with the --no-sandbox command line argument, the application can start up fine even from the shared network drive.

[2022-10-06 15:35] josecsotomorales commented on #2788
Updated to 2022.6.0 and still getting the old icon.

[2022-10-06 15:39] barthol0 opened #5254 "Unable to edit/select environments from Manage Environments modal"
### Expected Behavior

In the 'Manage Environments' modal:
Double click on sub-environment name - being able to edit the environment
Click on checkbox - activate/deactivate environment

### Actual Behavior

It looks like any click action triggers drag event which prevents from editing/activating environment

### Reproduction Steps

1. Open 'Manage Environments'.
2. Create new sub environment.
3. C

[2022-10-06 15:57] Nopraz commented on #5088
Hello, any news for this problem ?

[2022-10-06 16:13] wongstein commented on #2823
Is this issue still reproducible in the latest Insomnia 2022.6.0?

[2022-10-06 18:39] ya55en commented on #3218
👍 +1

Just discovered **insomnia** couple hours ago and it feels like it knows exactly what I need and has that! The only exception so far ... accessing environment variables in unit tests. I need the test to have different expectations on different environments (seems quite natural). Any chance to get that? (Or would it be possible to write a plugin?)

[2022-10-06 22:14] kreosus commented on #2019
closing as no reply back

[2022-10-06 22:14] #2019 closed, assigned to nobody

[2022-10-06 22:15] kreosus commented on #2158
closing to lack of activity

[2022-10-06 22:15] #2158 closed, assigned to kreosus

[2022-10-06 22:17] kreosus commented on #2573
Hi @develohpanda

Have you tried with our new release located here: https://github.com/Kong/insomnia/releases. If you require any further assistance please let me know and we will proceed accordingly.

[2022-10-06 22:17] #2573 closed, assigned to nobody

[2022-10-06 22:21] kreosus commented on #2219
Hi @Gangezilla
Have you been able to reproduce this error from our newest release located here: https://github.com/Kong/insomnia/releases

[2022-10-06 22:23] kreosus commented on #2669
Hi @willsthompson

Have you tried our newest release: https://github.com/Kong/insomnia/releases to see if it addresses your issue

[2022-10-06 22:26] kreosus commented on #2680
Hi @douhaolee

Have you tried our newest release located here: https://github.com/Kong/insomnia/releases

[2022-10-06 22:28] kreosus commented on #2800
Hi @feganmeister

Can you try our newest release located here: https://github.com/Kong/insomnia/releases and hopefully it addresses your issue.

[2022-10-06 23:44] kreosus commented on #3810
Hi @BaderMarkus

Have you tried our latest release located here: https://github.com/Kong/insomnia/releases

[2022-10-07 09:48] davidsandoz commented on #2788
So am I. I feel like this issue should be reopened.

[2022-10-07 13:39] kweh commented on #5254
It seems that the modal loses the keyboard focus after a couple of seconds. Anything written in the environment modal while it is "unresponsive" instead appears in a text field underneath; the URL or the request body.
This is quite a breaking bug, as I can no longer edit or manage my environments.

Experiencing the same issue here:
Version: Insomnia 2022.6.0
Build date: 9/26/2022
OS: Darwin arm64

[2022-10-07 15:15] vaidd4 commented on #5234
Same behaviour on Fedora 36:
[code]

Notes (while looking at DevTools):
- The `div.CodeMirror` loses focus (and loses the class `.CodeMirror-focused`) one second after anything is written.
- If you continously write it doesn't lose focus.
- If the JSON is not valid it doesn't lose focus.
- If you only move around (with arrow keys for exemple) you don't lose focus
- **Edit**: It only happens in the

[2022-10-07 15:18] vaidd4 commented on #5254
@kweh This looks like this other issue https://github.com/Kong/insomnia/issues/5234

[2022-10-07 15:28] krossekrabbe commented on #5088
Yes can confirm, no 2.4.1 package available in f37 :(

[code]

[2022-10-07 15:30] darkguy2008 commented on #5088
So basically Insomnia is unusable and we have to move to another tool then? :/ I mean it's been almost two months already...

[2022-10-07 15:30] vaidd4 commented on #5254
Same behaviour on Fedora 36:
[code]

Behaviour:
- If you click & hold for too long on any sub environment label (element `li.env-modal__sidebar-item`) you trigger the drag n drop behaviour.
- If you click and release fast enough (wild guess, less than 250ms?) you can access the sub environment.
- Also by being fast enough you can click on the button to activate the environment (element `div.env-st

[2022-10-07 20:48] sturose commented on #1907
@kreosus This still is not working as I was hoping for in the latest release.

Getting the Edit Variable dialog gives me to something like
![image](https://user-images.githubusercontent.com/6200368/194649731-ca1ad7a4-e94b-425a-ab4a-77eda6f1649f.png)

But I don't want to switch away from using the variable, I want to change the value of variable.  In order to accomplish this I need to click on the

[2022-10-08 03:23] ntextreme3 commented on #1907
+1, was there some new functionality that was added to address this? I didn't see anything that looked related in the last couple bunch of release notes, and functionality on latest looks the same.

[2022-10-08 09:36] tartur commented on #2991
I still have this issue, I think what is the most annoying part of this bug is that the popup does not go away when I type esape or I click elsewhere! If this popup could be hidden with an escape it would be great, or like most of the editors appears and disappears with the ctrol+space shortcut

[2022-10-08 09:49] krossekrabbe commented on #5088
Hmmm, strange, I tried building cups 2.4.1 myself, which made Insomnia work again.

https://github.com/OpenPrinting/cups/archive/refs/tags/v2.4.1.zip

    ./configure && sudo make install

And now even reinstalling cups 2.4.2 with dnf still does not brake it again for me. I don't know why, maybe the install script did something which is not exactly reverted by reinstalling using dnf. I also tried

[2022-10-08 11:09] djuric commented on #2991
This fixed it for me, thanks!

[2022-10-08 23:18] imitko opened #5255 "WebSocket connection do not allow to debug graphql-ws"
### Expected Behavior

Allow setting a request header 'Sec-WebSocket-Protocol: graphql-transport-ws' and accept server response.

### Actual Behavior

The Insomnia WebSocket client drops connection with "Server sent a subprotocol but none was requested" error.

### Reproduction Steps

1. run a simple WebSocket enabled server e.g. https://github.com/enisdenjo/graphql-ws. following the basic example

[2022-10-09 19:47] NicholasNagy commented on #3263
I am having this same issue. This makes it very difficult for me to use, as I have to manually cherry-pick commits from another branch into the branch that I want to develop on.

[2022-10-10 00:11] sarim commented on #5088
@krossekrabbe Instead of messing with a system package like cups, you might want to try compiling insomnia instead. Check my previous comment https://github.com/Kong/insomnia/issues/5088#issuecomment-1235816006

[2022-10-10 06:42] endo64 commented on #3133
Duplicate issue is closed now, https://github.com/Kong/insomnia/issues/4974
But the problem still exists.

[2022-10-10 07:19] krossekrabbe commented on #5088
@sarim I actually started doing so, but If you don't have npm nvm and all that stuff already set up, simply recompiling cups was less effort and felt like messing less with my system.

[2022-10-10 07:36] filfreire commented on #5255
@imitko retry with our [latest beta](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.1).  We added a fix there to properly support `Sec-WebSocket-Protocol`.

[2022-10-10 07:38] #5255 closed, assigned to nobody

[2022-10-10 07:58] leonardehrenfried commented on #5088
Does anyone have an idea what CUPS has to do with SSL connections? I'm not trying to be sarcastic, I genuinely want to know.

[2022-10-10 08:05] filfreire commented on #5234
Are you folks by any chance still able to reproduce this in our [latest beta version](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.1)?

[2022-10-10 08:27] krossekrabbe commented on #5088
I do not exactly, have only some clues.

From cups INSTALL.MD:

They actually just recently changed A LOT of SSL stuff and implemented the OpenSSL support in 2.4.2 if I remember correctly. Before GNU TLS was used. Very likely this has something to do with it.

Electron has [cups as a dependency](https://www.electronjs.org/docs/latest/development/build-instructions-linux#prerequisites)  (probably f

[2022-10-10 12:43] diefesson commented on #3263
Same isssue, checkout is not updating history and generating conflicts when pulling

[2022-10-10 18:08] vaidd4 commented on #5234
@filfreire I installed the rpm version for the beta1 and got the same issue :
[code]

[2022-10-10 22:38] imitko commented on #5255
@filfreire
The beta works with sub-protocol, however it appear it has regression bug: all variables defined in already ready to debug GraphQL requests are appear to be lost, reverting back to latest release they become visible :-(

[2022-10-11 07:29] john3300 commented on #4780
Thanks for the confirmation and update.

Given that this prevents me from being able to use this tool with certain
servers that require non-standard media types I would argue that the other
API client is wrong too.  Two wrongs don't make a right.  :-)

On Mon, May 16, 2022 at 4:25 AM Filipe Freire ***@***.***>
wrote:

[2022-10-11 09:19] mttrhll commented on #4715
Thanks for getting back to me. I love insomnia and I want to help make it
better... it is an easy workaround to create a new request (but you can't
copy it sadly)... but if the setup is complex it is definitely annoying.
Let me know if I can help in any way.

-Matt

On Tue, May 10, 2022 at 9:16 PM Dimitri Mitropoulos <
***@***.***> wrote:

[2022-10-11 14:02] brunoluizkatz-NETZSCH commented on #4291
Same issue here, reseting old request bodies is annoying, always I forget to copy the requests body

[2022-10-11 14:19] petitout commented on #4291
For gRPC requests, I now use Kreya (https://kreya.app/) which is amazing

[2022-10-11 15:54] filfreire commented on #5234
Hi folks, we managed to reproduce this internally as well, we'll update you here when there's a fix, hopefully we might be able to include it in one of our weekly beta releases 👍

[2022-10-11 16:52] dselans commented on #4291
Thank you @petitout!

[2022-10-11 18:34] brunoluizkatz-NETZSCH commented on #4291
@petitout thanks a lot

[2022-10-11 18:41] zuernBernhard opened #5261 "Graphical Glitches in virtual machines. UI unusable."
### Expected Behavior

Consistent rendering

### Actual Behavior

UI is not usable - see screen record

### Reproduction Steps

Try to use insomnia client in a virtual machine (in my Case Guest and Host where Monterey on an intel Mac). Tried with parallels and vmware. Tried with and without hardware acceleration for graphics.

### Is there an existing issue for this?

- [X] I have searched the [is

[2022-10-11 22:04] okdv opened #5262 "Unable to trigger find in page/response (CTRL+F)"
### Expected Behavior

When pressing CTRL+F, should popup a search in page/search in response at top of response body to allow free text/regex searching

### Actual Behavior

No longer the case, CTRL+F seemingly does nothing

### Reproduction Steps

1. Make any HTTP/GraphQL request (may occur with others gRPC and websocket too but havent tried)
2. Attempt find in page on response (CTRL+F)
3. Note

[2022-10-11 22:10] filfreire commented on #5261
Hi @zuernBernhard, seems this is indeed related to the issue you mentioned, which is also related with https://github.com/electron/electron/issues/33685

[2022-10-12 07:29] filfreire commented on #5262
Hi @okdv thanks for reporting this, I can reproduce it as well:
On latest stable:
![Screenshot 2022-10-12 at 08 28 45](https://user-images.githubusercontent.com/11976836/195278113-25936acc-cd6b-4561-9c76-27d19f096d99.jpg)

On latest beta:
![Screenshot 2022-10-12 at 08 29 04](https://user-images.githubusercontent.com/11976836/195278120-914874db-2f43-4714-98d5-47e6b13b818d.jpg)

[2022-10-12 14:23] manbeing opened #5263 "Insomnia gets crashed when exporting the data"
### Expected Behavior

Data can be exported

### Actual Behavior

Insomnia gets crashed

### Reproduction Steps

1. Select Import/Export
2. Select Export Data
3. Select 'All Documents and Collections from the insomnia project"
4. Select default Insommnia v4 (JSON)
5. click Done
6. Insomnia gets crashed. No json file is generated.

### Is there an existing issue for this?

- [X] I have searched the

[2022-10-12 14:41] manbeing commented on #5234
@filfreire  How can I use snap to install your weekly beta release?
Only 2022.6 major release available to me on snap.
Thanks.

[2022-10-12 15:56] okdv opened #5265 "GraphQL query variables not visible"
### Expected Behavior

When opening a GraphQL request, the query variables from the last request should be visible and editable

### Actual Behavior

When reopening a previously returned GraphQL request, query variables that were used in the request are not visible- however they are still present as subsequent requests will reuse the query variables that were most recently present.

### Reproducti

[2022-10-12 20:02] danfercf1 commented on #2614
Same issue on import and about screens

[code]

The logs:

[code]

[2022-10-13 10:27] filfreire commented on #5262
Heads up @okdv this should be fixed later today in the new beta version (beta.2) we will release. Stay tuned to [releases page](https://github.com/Kong/insomnia/releases).

The fix was done through this PR https://github.com/Kong/insomnia/pull/5269

Feel free to report other issues you bump into.

[2022-10-13 10:27] #5262 closed, assigned to nobody

[2022-10-13 10:37] filfreire commented on #5265
@okdv thanks for reporting this, I can reproduce it as well. I can also reproduce it in latest 2022.6.0 stable release it seems.

[2022-10-13 10:51] filfreire commented on #5234
@manbeing unfortunately we don't publish beta releases on snapcraft, only on [github releases](https://github.com/Kong/insomnia/releases/)

However, you might be able to install latest one by enabling the Beta channel within Insomnia preferences:

![beta](https://user-images.githubusercontent.com/11976836/195577926-47d8f9ea-5be5-45d1-9a36-81fe14f3edcf.png)

[2022-10-13 10:57] filfreire commented on #5263
@manbeing are there any crash logs that you can provide for this issue?

[2022-10-13 10:59] filfreire commented on #5250
@scflode thanks for reporting this issue.

It is a known nuisance internally, we'll hopefully fix/improve it in the coming months when we work on improving our Git Sync feature as part of our roadmap.

Feel free to report other issues you find

[2022-10-13 13:25] manbeing commented on #5263
@filfreire  I went to the Insomnia Crash Report directory. It is empty.
![image](https://user-images.githubusercontent.com/39745132/195609062-215b273c-57ff-4f3a-a710-71d0b00326f5.png)

[2022-10-13 13:33] manbeing commented on #5234
@filfreire

I went to Preference window, but didn't find the section for 'Software Updates'. Is this new for 2022.06 release?
I am currently using 2022.05 release due to this losing cursor issue.

![image](https://user-images.githubusercontent.com/39745132/195610881-b458fcd9-8677-4ffa-8d13-712d5a06bb71.png)

[2022-10-13 13:46] kreosus commented on #2219
closing to lack of activity

[2022-10-13 13:46] #2219 closed, assigned to kreosus

[2022-10-13 14:24] filfreire commented on #5265
@okdv fix will be up in our upcoming beta release later today.

[2022-10-13 14:42] filfreire commented on #5263
@manbeing

- are there any logs you can share that show an error?
![image](https://user-images.githubusercontent.com/11976836/195626208-be249104-232a-41ab-a506-a3509ae5aad0.png)

- Alternatively, when you run `snap run insomnia` on a terminal, are there any particular error log messages that you can see when you try to export the data?

I double checked on a test Ubuntu instance, and I was able to

[2022-10-13 14:53] #5265 closed, assigned to nobody

[2022-10-13 15:33] manbeing commented on #5263
@filfreire
I ran  `snap run insomnia` to launch insomnia, then opened the export window. after I clicked 'Done' button and insomnia got crashed. The console popped up the following errors after I clicked 'Done' button:

`(insomnia:199892): Gtk-WARNING **: 11:30:59.911: Could not load a pixbuf from icon theme.
This may indicate that pixbuf loaders or the mime database could not be found.
**
Gtk:ERR

[2022-10-13 16:18] #5207 closed, assigned to nobody

[2022-10-13 16:25] seanghay opened #5274 "URL bar automatically gets focused when clicking SEND or pressing enter."
### Expected Behavior

It should not automatically focus the URL bar while my cursor is currently in Request Body or anywhere else. If this is an intended feature, please add an option to disable auto focus when sending requests in the **Preferences**.

### Actual Behavior

Whenever it focuses on the URL bar, it trigger the **Autocompletion Popup** which causes my current URL to be cleared sometim

[2022-10-14 08:38] fernandomacho opened #5280 "Escape {{string}}"
### Expected Behavior

Hi, I try to send request similar to:

{
  "a": "a",
  "b": "{{1}}"
}
Literally I need send {{1}} and not convert {{1}} into var 1.
I try to scape { and }
I try to create var 1 with value {{1}}

Nothing works.
It's posible send literally, into quotes string with {}?

Thanks

### Actual Behavior

replace literally {{whatever}} by whatever variable

### Reproduction Steps

_No

[2022-10-14 09:05] filfreire commented on #5280
@fernandomacho the closest you can get to this is by opening the request settings and enabling the option to `Skip rendering of request body`:
![image](https://user-images.githubusercontent.com/11976836/195808070-5c68291d-d92a-4d4f-b474-211380c48d34.png)

![Pasted_Image_14_10_2022__10_03](https://user-images.githubusercontent.com/11976836/195807856-d23a796b-cb16-464b-a4e2-b4a1f2d829ee.png)

![imag

[2022-10-14 09:06] #5280 closed, assigned to nobody

[2022-10-14 11:27] filfreire commented on #5088
Hi folks, quick update, we did a small workaround exploration to see how feasible it would be for us to provide builds for Fedora 36 in #5281.

We can't guarantee this will get merged anytime soon. One thing that would help is for us to get an idea of the size of the community that uses Fedora, so we could prioritize a proper solution in our roadmap. Feel free to upvote/thumbs-up this issue/commen

[2022-10-14 13:51] filfreire opened #5282 "Insomnia App urls "insomnia://" redirect not working on Windows"
### Expected Behavior

There's a bug affecting Insomnia version 2022.6.0 and latest beta releases where the redirect to app from browser, for example, for Login, is seemingly not working.

When folks press on the browser to open the link on Insomnia and complete Login:
![image](https://user-images.githubusercontent.com/11976836/195862093-47d25f5f-c3e7-4a54-a80b-35343caddb7b.png)

It's currently op

[2022-10-14 15:49] kreosus opened #5283 "Github Issues"

[2022-10-14 15:50] kreosus commented on #5283
just a test with zapier

[2022-10-14 15:50] #5283 closed, assigned to nobody

[2022-10-14 16:52] kreosus opened #5284 "HelpScout Test-2"
Workflow test-2

[2022-10-14 16:53] kreosus commented on #5284
test

[2022-10-14 16:53] #5284 closed, assigned to nobody

[2022-10-14 17:32] kreosus opened #5285 "HelpScout Test-2"
Workflow test-2

[2022-10-14 17:33] kreosus commented on #5285
test, closing

[2022-10-14 17:33] #5285 closed, assigned to nobody

[2022-10-14 17:37] kreosus opened #5286 "HelpScout Issue"
Workflow test

[2022-10-14 17:39] kreosus opened #5287 "HelpScout Test-2"
Workflow test-2

[2022-10-14 19:40] kreosus opened #5288 "Git Hub Issue"

[2022-10-14 19:41] #5287 closed, assigned to nobody

[2022-10-14 19:41] #5286 closed, assigned to nobody

[2022-10-14 19:42] kreosus opened #5289 "HelpScout Test-2"
Workflow test-2

[2022-10-14 19:48] #5288 closed, assigned to nobody

[2022-10-14 19:48] #5289 closed, assigned to nobody

[2022-10-14 20:47] kreosus opened #5290 "message,customer"

[2022-10-14 20:50] #5290 closed, assigned to nobody

[2022-10-16 09:29] fernandomacho commented on #5280
Thanks!

[2022-10-17 10:50] sbrattla commented on #4252
I'd very much like to see this issue fixed as well (`Download after send`). I need to rename files downloaded from API's, because Insomnia isn't treating the `Content-Disposition` header correctly. This is a quite annoying bug.

[2022-10-17 14:14] jorygeerts commented on #2372
I'm running into this issue as well. The HTTPS certificate is self-signed, the CA for it is trusted by my Windows certificate store (so browsers and such simply trust it).

Entering an HTTP URL somewhat works, but the URL field keeps getting cleared.

[2022-10-17 22:39] danielnieto opened #5297 "Loading screen taking minutes, for a request that takes milliseconds"
### Expected Behavior

Loading should take a second or two at most

### Actual Behavior

it randomly takes up to 2 minutes to send and show the request, I can see the request on my local server logs that it comes very late, meaning insomnia didn't send the actual request until much later after I supposedly sent it, also, the response takes a while to show in insomnia, even if my server already "fi

[2022-10-18 01:12] danielnieto commented on #5297
it seems like this is somehow caused by my "data"? I cloned the repo to try and investigate the problem myself, I used the same request as I show in the video but on the local built insomnia app, I can confirm that the newly built app feels super fast, I cannot reproduce this problem. So, it should have to be something related to the current state of my "production" instance... Could it be the num

[2022-10-18 01:31] danielnieto commented on #5297
[Clearing all responses cache](https://github.com/Kong/insomnia/pull/1317) does not solve the problem

[2022-10-18 06:03] VaheAntonyan opened #5298 "Update Request reference in Template tags after duplication if applicable."
### Expected Behavior

Template tag's request of 'Request1' In 'Folder1_copy' references to 'Request2' of 'Folder1_copy'

![image](https://user-images.githubusercontent.com/44782482/196348071-77e689e3-fc12-40e0-8d8f-09082c829df8.png)
_Image of tag in 'Request1' of 'Folder1_copy'._ (Expected Behavior after manual fix)

### Actual Behavior

Template tag's request of 'Request1' In 'Folder1_copy' refe

[2022-10-18 10:54] OllieCrook opened #5299 "When creating a new request the focus is now placed on the address bar not the request name"
### Expected Behavior

When creating a new request the cursor should be placed on the name of the request so you can name it.

### Actual Behavior

When creating a new request the cursor is placed into the address bar.

### Reproduction Steps

1. Go to the add button
2. Click "HTTP Request"
3. Cursor is placed directly into the address bar

### Is there an existing issue for this?

- [X] I have se

[2022-10-18 13:07] YakoYakoYokuYoku commented on #4820
@filfreire actually, I've found out the reason for this, turns out that in newer versions of Electron `process.resourcesPath`, which provides hints for `app.getAppPath()`, points to the `resources` path relative to the `electron` binary due to how Chromium `base::PathService` handles requesting the executable path,

https://github.com/electron/electron/blob/12eade752d38093f9b6abdc6a0b82f64176c4618

[2022-10-18 16:14] filfreire commented on #5263
@manbeing are you able to reproduce this:

- if you run with `sudo`, e.g. `sudo snap run insomnia`
- if you run a different build of Insomnia, e.g. AppImage, from [latest release](https://github.com/Kong/insomnia/releases/tag/core%402022.6.0)

[2022-10-18 16:22] filfreire commented on #5297
Hi @danielnieto thank you so much for reporting this!

This is unfortunately a know issue  and has been reported before in #3786.

I'm going to go ahead and close this one as duplicate, but we'll update you on the other ticket as soon as we manage to fix the issue.

Please feel free to report other issues you come across!

[2022-10-18 16:22] #5297 closed, assigned to nobody

[2022-10-18 20:02] danielnieto commented on #3786
Digging into this, seems like there's a performance issue with https://github.com/Kong/insomnia/blob/develop/packages/insomnia/src/common/database.ts#L579, but I think in reality it's NeDB the one crawling.

I edited network.ts file to add `console.time`s to take the measures of the `send` function:

[code]
Demo (has audio):

https://user-images.githubusercontent.com/2120107/196534831-cba2995f-ab7

[2022-10-19 03:05] g-industrialist opened #5302 "Cannot rename subfolder name"
### Expected Behavior

I can double  click to rename the root folder name.
I can double click to rename each request name.

But I cannot rename subfolder name.

[code]

### Actual Behavior

No way to rename the subfolder . except the 1st one.

### Reproduction Steps

_No response_

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insom

[2022-10-19 03:22] g-industrialist commented on #5302
![image](https://user-images.githubusercontent.com/40657526/196590044-18989f83-dc7c-419d-ad3b-66042a8cd05a.png)

[2022-10-19 08:03] filfreire commented on #1738
Closing as stale. We have a similar bug on latest version https://github.com/Kong/insomnia/issues/5214

[2022-10-19 08:03] #1738 closed

[2022-10-19 08:06] filfreire commented on #1656
Closing as stale

[2022-10-19 08:06] #1656 closed

[2022-10-19 08:06] #2025 closed, assigned to filfreire

[2022-10-19 08:07] #2052 closed, assigned to nobody

[2022-10-19 08:10] stdedos commented on #2025
_Closed as won't do, but who am I to argue ..._

[2022-10-19 08:54] erlangparasu opened #5303 "Cursor loss of focus when typing/edit JSON in Manage Environment menu"
### Expected Behavior

Cursor should not lose focus while typing

### Actual Behavior

Cursor loss of focus when typing

### Reproduction Steps

1. Go to menu Manage Environment
2. Create new environment
3. In text box, type a character
4. Wait for one second
5. Cursor will loss focus

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/i

[2022-10-19 09:07] filfreire commented on #5303
Hi @erlangparasu thanks for reporting this, this is a known issue, has been reported already in #5234.

We'll be fixing this as soon as possible in one of our upcoming beta releases.

[2022-10-19 09:07] #5303 closed, assigned to nobody

[2022-10-19 09:47] g-industrialist commented on #5302
not an issue. sorry

[2022-10-19 09:47] #5302 closed, assigned to nobody

[2022-10-19 17:00] philsturgeon commented on #4732
@weeebdev I am nort sure I understand the question? What is an openapi v3 client?

There are lots of tools over on https://openapi.tools/.

[2022-10-20 08:16] paneidos commented on #4530
Can confirm, Django developers like their trailing slashes.

[2022-10-20 09:59] MohamedRagabAnas commented on #4673
I have the same issue!

[2022-10-20 11:27] 4n70w4 opened #5311 "Resolver error; invalid-ref ENOENT: no such file or directory"
### Expected Behavior

Correctly open `openapi.yaml` without errors.

### Actual Behavior

![image](https://user-images.githubusercontent.com/38257723/196935607-33ce0e60-da18-4c68-a5cb-87587c1e7288.png)

### Reproduction Steps

1. I have `C:\api\openapi.yaml` with refs like `$ref: "./auth/paths/login.yaml#/SteamLoginRequest"`. It's correctly works in web ui docs, correctly uses to generate fronten

[2022-10-21 13:21] kreosus opened #5314 "Helpscout"

[2022-10-21 13:23] kreosus commented on #5314
testing, closing issue

[2022-10-21 13:23] #5314 closed, assigned to nobody

[2022-10-21 14:40] kreosus commented on #2800
closing due to lack of inactivity

[2022-10-21 14:40] #2800 closed, assigned to kreosus

[2022-10-21 17:13] samadams412 commented on #4274
For anyone still having this issue: I exported the collection as HAR - HTTP Archive Format instead of Insomnia V4(JSON) and was then able to successfully import it without any issues.

[2022-10-21 17:36] gh-andre commented on #4274
@samadams412
You lose all variables, etc using HAR. Use this instead.

https://github.com/Kong/insomnia/issues/4283#issuecomment-1167459831

[2022-10-24 10:02] BaderMarkus commented on #3810
@kreosus  my setup has changed in the meantime a little bit (using now Linux) - but I face the same issue with the version Insomnia 2022.7.0-beta.3
Here is the additional information:
Version: Insomnia 2022.7.0-beta.3
Build date: 10/20/2022
OS: Linux x64 5.15.0-10050-tuxedo
Electron: 19.0.3
Node: 16.14.2
V8: 10.2.154.4-electron.0
Architecture: x64

[2022-10-24 14:55] fabriziotrenti commented on #973
This problem is still present in version 2022.6.0
Has anyone been able to find a solution?

[2022-10-24 17:59] henriquesoaresg2 commented on #2310
Same here! :/

[2022-10-25 07:57] georgioslymperisdjakne commented on #2481
do that:
[code]

[2022-10-25 08:48] #3485 closed, assigned to nobody

[2022-10-25 08:50] filfreire commented on #5214
Closing as duplicate of https://github.com/Kong/insomnia/issues/4531

[2022-10-25 08:50] #5214 closed, assigned to nobody

[2022-10-25 09:25] #944 closed

[2022-10-25 09:57] filfreire commented on #944
Hi folks! We merged @bbbco's PR which adds support for this. You should be able to use it in one of our upcoming releases, in this case 2022.7.0-beta.4

[2022-10-25 11:05] trojkat commented on #5101
@filfreire It still doesn't work 😿
[code]
![drag-and-drop](https://user-images.githubusercontent.com/97532/197756839-9676e5a2-9e14-4c4d-998c-2a6e1bd257bc.gif)

[2022-10-25 11:13] fabriziotrenti commented on #1937
Any news on this issue? It is still present in version 2022.6.0

[2022-10-25 13:09] #5274 closed, assigned to nobody

[2022-10-25 13:10] filfreire commented on #5274
The fix for this issue was contributed by @arunnalla and will be included in one of our upcoming beta releases 👍

[2022-10-25 15:11] jmoniatte commented on #5101
Same here, it does not work on Debian either.

[code]

[2022-10-25 17:20] MayCXC opened #5328 "[Feature request] Add introspection options for fetching GraphQL schemas."
The graphql spec has added several optional fields and arguments to introspection queries, which graphql-js supports with an options interface to [include deprecated input fields, __Schema.description, __Directive.isRepeatable, __Type.specifiedByUrl, etc.](https://github.com/graphql/graphql-js/blob/main/src/utilities/getIntrospectionQuery.ts). It is very useful for developing graphql servers to ha

[2022-10-26 08:15] tangyl commented on #2624
+1
also looking for this feature.
Multiple file management is definitely helpful.

[2022-10-26 15:17] #5084 closed, assigned to nobody

[2022-10-26 15:19] filfreire commented on #5084
Hi folks, @arunnalla's contribution recently has fixed this issue. The fix should be available in one of our upcoming beta releases.

[2022-10-26 16:34] srikar99 opened #5333 "No way to cancel or go back when importing a design document"
### Expected Behavior

When I import a design document/collection from an OpenAPI spec into an existing workspace, there should be a way for me to cancel/go back.

### Actual Behavior

When I import a design document/collection from an OpenAPI spec into an existing workspace, there is no way for me to cancel it, this causes unnecessary problems if I select an incorrect workspace by mistake.

I wou

[2022-10-26 20:04] thibaultmeyer opened #5335 "Redirection not honored properly"
### Expected Behavior

Insomnia must switch from POST/PUT to GET method when 303 "See Other" redirection occur (and Following redirection option is enabled).

### Actual Behavior

[code]

### Reproduction Steps

_No response_

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for this problem.

### Additional Informatio

[2022-10-28 09:28] seriousdev-gh opened #5341 "Mouse scroll stops working"
### Expected Behavior

You can scroll large request and response bodies.

### Actual Behavior

If request or response has more than ~150 lines (guess dependent on resolution and font size) and you do fast mouse scroll, scroll stops and not respond until cursor is moved or after some time.

### Reproduction Steps

1. Create new HTTP Request
2. Set type to JSON
3. Paste JSON text longer than 150 lin

[2022-10-29 10:51] masoud88 commented on #1903
i have the same problem i download the last version from website  2022.6.0
i even tried administer but didn't work
![image](https://user-images.githubusercontent.com/22795580/198827235-6891672f-44f1-42db-83c6-88121e7f5c41.png)
os: win10 pro

[2022-10-31 09:01] mod42 opened #5356 "Environment editor locks with error"
### Expected Behavior

Show an error if needed, and remove the error message when TAB is removed again.

### Actual Behavior

If I hit TAB accidentally in the editor, an error message appears at the bottom and the editor is not leaving that state anymore.
Even deleting the TAB or CTRL-Z does not heal this situation. The only solution I found was, cancel the operation, close and re-open the editor,

[2022-10-31 11:56] tunezoi commented on #5356
I'm having the exact same issue in version 2022.7.0-beta.3 on Windows. "Unexpected token..." even though JSON is valid.
![2022-10-31 11_54_41-Insomnia](https://user-images.githubusercontent.com/18231270/199002296-cae9337f-9f32-423d-b380-446d7b775a94.png)

[2022-10-31 17:14] filfreire commented on #5356
Hi folks, thanks for reporting this!

We also found this internally and will try to have a fix ready asap in one of the follow-up beta iterations for 2022.7.0.

[2022-10-31 17:20] filfreire commented on #5333
Hi @srikar99, this is a known issue, we'll update you here once there's a fix for it. Thank you for reporting this and feel free to report other issues you come across!

[2022-10-31 17:24] filfreire commented on #5299
Hi @OllieCrook thanks for reporting this.

For now this specific behavior is by design.

There was a similar issue that might have affected you that we've since fixed, https://github.com/Kong/insomnia/issues/5274, and it should be released in our upcoming beta release iteration (beta.4)

[2022-10-31 17:24] #5299 closed, assigned to nobody

[2022-10-31 17:26] filfreire commented on #5335
Hi @thibaultmeyer, thanks for reporting this.

By any chance, are you able to reproduce this sort of thing if you issue a `curl` on console and set it to follow redirects?

[2022-10-31 17:30] filfreire commented on #5298
Hi @VaheAntonyan, thanks for reporting this.

This is a known issue, and is being tracked internally. We'll update you here as soon as there's a fix.

Feel free to report any other issues you come across.

[2022-10-31 17:30] filfreire commented on #5298
Internall issue: https://linear.app/insomnia/issue/INS-1643

[2022-10-31 17:42] filfreire commented on #2611
Closing as duplicate of #1638

[2022-10-31 17:42] #2611 closed, assigned to nobody

[2022-10-31 17:42] filfreire commented on #5311
Hi @4n70w4, thanks for reporting this!

Indeed this is related to #2082 and https://github.com/Kong/insomnia/discussions/3749

We don't support file references, and, I might be mistaken but there are no plans to support these anytime soon.

As an alternative to unblock you, try to use perhaps [this solution posted by another user](https://github.com/Kong/insomnia/discussions/3749#discussioncomment

[2022-10-31 17:42] #5311 closed, assigned to nobody

[2022-10-31 17:45] OllieCrook commented on #5299
Yes that other issue affected me too but this is definitely one that is affecting me on every new request I make.

If fixing that issue caused this one isn't that an unintended side effect? I don't see any acknowledgement of this in the fix PR.

[2022-10-31 19:08] thibaultmeyer commented on #5335
Hi,

Yes, i have other weird issue by using curl directly. Insomnia, in my usecase, lead to a "400 Bad Request" and "curl" to an infinite loop, Because, rather than the message "_Switch to GET_" is printed, the next query is still POST.

[code]

[code]

[2022-11-01 13:51] ryuusama09 commented on #5341
hey @seriousdev-gh , do you know whats the reason or a possible background reason for this ?

[2022-11-01 15:08] kreosus commented on #2669
Closing due to inactivity

[2022-11-01 15:08] #2669 closed, assigned to kreosus

[2022-11-01 15:09] kreosus commented on #2680
Closing due to inactivity

[2022-11-01 15:09] #2680 closed, assigned to kreosus

[2022-11-01 15:13] kreosus commented on #2858
Hi @shreyas-segu, have you tried our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.3 to see if it resolves your issue?

[2022-11-01 15:16] kreosus commented on #2880
Hi @waynegemmell, thank you for this information. Have you tried our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.3, to see if it resolves your issue? Thank you

[2022-11-01 15:18] kreosus commented on #2966
Hi @baermathias, have you tried our latest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.3, to see if it resolves your issue?

[2022-11-01 15:24] kreosus commented on #3094
Hi @findrella Have you tried our newest release located here: https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.3. I hope that it resolves your issue and let us know if you require any further assistance and we will proceed accordingly. Have a nice day.

[2022-11-01 15:24] #3094 closed, assigned to kreosus

[2022-11-01 15:47] iqoOopi opened #5364 "UI Blocking issue - Unuseable Insomnia"
### Expected Behavior

No UI Block

### Actual Behavior

![image](https://user-images.githubusercontent.com/46897552/199276117-456d4f18-cf6c-4f9a-a666-293004a7ac9f.png)
This url prop appears from time to time and won't disappear, have to restart Insomnia, basically makes the software unuseable

### Reproduction Steps

_No response_

### Is there an existing issue for this?

- [X] I have searched t

[2022-11-01 16:24] jackkav commented on #5364
Thanks for the issue, and sorry for the inconvenience. We are working on a simplified CodeMirror abstraction to eliminate issues like this one. Please bear with us. 🙏

[2022-11-01 16:57] iqoOopi commented on #5364
Thanks @jackkav , do you know is there a way to disable this prop (is it an autocomplete?)

[2022-11-01 18:00] gryphon commented on #5070
It is happenning oftern.

First the repository pull/push stopped working with error like "cannot parse repository URL: '' "
Repository URL disappearing every third push.

After entering same URL again this error will prevent to fix the problem.

[2022-11-02 08:00] jackkav commented on #5364
There is no way currently to disable the ctrl+space autocomplete dropdown. In normal cases it is dismissible with Esc, Tab or selecting a value. I hope you will consider joining our beta channel, where this issue should be resolved.

[2022-11-02 09:26] filfreire commented on #4531
Hi folks, this should have been fixed recently, please let us know if you can still reproduce this in tomorrow's beta.4 release.

[2022-11-02 10:14] filfreire commented on #5364
Duplicate of #4531

[2022-11-02 10:14] #5364 closed, assigned to nobody

[2022-11-02 10:15] filfreire commented on #5356
This will be fixed in `beta.4` release later this week.

[2022-11-02 10:15] #5356 closed, assigned to filfreire

[2022-11-02 10:19] mod42 commented on #5356
That was really fast, top job.

[2022-11-02 12:53] thgcode opened #5369 "Make screen readers and other assistive technologies read the response status as soon as the request completes"
This is related to the discussion #3720. Currently, when we press CONTROL+ENTER to send a request, the screen reader speaks nothing when the request completes, requiring the user to navigate to the status element to view if the request succeeded or not. It would be nice when the request finishes, Insomnia notifies the new HTTP status, so the user won't need to find the element to know it.

[2022-11-02 14:44] iqoOopi commented on #5364
@jackkav Thanks, how can I join the beta channel?

[2022-11-02 14:47] hirschtec-ep opened #5372 "Usage of "CMD+D" deletes URL field"
### Expected Behavior

Pressing "CMD+D" duplicates the selected request and does not delete the URL field from the original request.

### Actual Behavior

When I duplicate a request with CMD+D, the URL of the original request is deleted.

### Reproduction Steps

1. Select a stored request in your request-list
2. Focus the URL field
3. Press CMD+D for duplicating request
4. Enter new name for the n

[2022-11-02 14:52] hirschtec-ep commented on #5372
Found references here https://github.com/Kong/insomnia/issues/3133

[2022-11-02 15:51] jackkav commented on #5364
<img width="965" alt="image" src="https://user-images.githubusercontent.com/3679927/199537027-61e8a561-36e3-4e4e-840f-073dfbd0dfc2.png">

[2022-11-02 17:37] #5369 closed, assigned to nobody

[2022-11-02 17:37] filfreire commented on #4974
Fix for this is available on 2022.7.0 beta versions, you can download latest iteration of beta, [2022.7.0-beta.4](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.4)

[2022-11-02 17:37] filfreire commented on #3133
Fix for this is available on 2022.7.0 beta versions, you can download latest iteration of beta, [2022.7.0-beta.4](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.4)

[2022-11-02 17:37] #3133 closed, assigned to nobody

[2022-11-02 17:38] filfreire commented on #5372
Fix for this is available on 2022.7.0 beta versions, you can download latest iteration of beta, [2022.7.0-beta.4](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.4)

[2022-11-02 17:38] #5372 closed, assigned to nobody

[2022-11-02 17:40] filfreire commented on #5369
@thgcode thank you for reporting and contributing a pull request. Your contribution was merged.

Please feel free to submit more issues and pull requests that will make screen readers and assistive tech experience better.

[2022-11-02 18:12] filfreire commented on #5335
I see, thanks @thibaultmeyer

Perhaps it might be a good idea to raise the `curl` related infinite loop issue on https://github.com/curl/curl repository

As for the bug on Insomnia side, we would likely need to fix this on our [node-libcurl](https://github.com/Kong/node-libcurl) dependency

[2022-11-02 19:11] nnickodem commented on #3218
👍 +1

[2022-11-03 09:10] hirschtec-ep commented on #5372
Thank you @filfreire,
I can confirm that the bug no longer occurs with version 2022.7.0-beta.4.

[2022-11-03 12:07] solita-esatikka commented on #5234
I had this issue with 2022.6.0, switched to early access channel, got an update, and can no longer trigger the issue. Nice! 👍
[code]

[2022-11-03 17:11] #5282 closed, assigned to filfreire

[2022-11-03 17:53] filfreire commented on #2818
Closing as stale. We have updated through a handful of Electron versions since the issue was reported. Please report a new issue if you still face similar problem.

[2022-11-03 17:53] #2818 closed, assigned to nobody

[2022-11-03 17:54] filfreire commented on #2707
Closing as stale. We have updated through a handful of Electron versions since the issue was reported. Please report a new issue if you still face similar problem.

[2022-11-03 17:54] #2707 closed, assigned to nobody

[2022-11-03 17:54] filfreire commented on #2614
Closing as stale. We have updated through a handful of Electron versions since the issue was reported. Please report a new issue if you still face similar problem.

[2022-11-03 17:54] #2614 closed, assigned to nobody

[2022-11-03 18:01] filfreire commented on #1982
Closing as stale.

[2022-11-03 18:01] #1982 closed, assigned to nobody

[2022-11-03 18:03] #2298 closed, assigned to nobody

[2022-11-03 21:55] vetterj73 commented on #5182
This was not fixed with 2022.6.0.  I still have the same issue

[2022-11-03 22:01] vetterj73 opened #5380 "Can't move requests into folders (or folders into folders)"
### Expected Behavior

When I drag a request on a folder it should move there.

### Actual Behavior

It doesn't go there.

### Reproduction Steps

This is exactly the same as 5182 which was closed since you said the fix would be in 2022.6.0 but it still doesn't work in that version.

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/ins

[2022-11-04 01:34] izzat-sq commented on #5182
I still have the issue despite being on 6.0

[2022-11-04 09:20] Samuelfaure commented on #5182
Can confirm, issue is still there in 2022.6.0, please reopen

[2022-11-04 10:06] filfreire commented on #5380
Hi @vetterj73 thanks for reporting this!

Can you confirm that this only happens to you when the folder is "unwrapped" / "closed"?

I was trying to reproduce what you mention, and the only case where I can't move a request or a folder into another folder is if the destination folder is not expanded.

cc @Samuelfaure @izzat-sq

[2022-11-04 10:07] Samuelfaure commented on #5380
@filfreire Negative, I cannot move a request to the folder in any situation (expanded or closed)

[2022-11-04 10:18] filfreire commented on #5380
@Samuelfaure can you double check the version that you are running (Check in the Help tab):

![Screenshot 2022-11-04 101411](https://user-images.githubusercontent.com/11976836/199949297-8fb9be3d-9dab-4b45-ae57-5ffa4aa35b32.png)

Also would you be able to share the logs after trying to move a request or a folder:

![Screenshot 2022-11-04 101648](https://user-images.githubusercontent.com/11976836/19

[2022-11-04 10:31] Samuelfaure commented on #5380
Here are my whole specs
![image](https://user-images.githubusercontent.com/14159757/199951740-12a5b14b-8b74-4a47-8c23-fb2012b80e17.png)

Nothing happens in the log when I try to move the request to the folder :/ neither in `main` nor `renderer` (however if I do other actions I do see something happening in the logs)

[2022-11-04 11:29] valentinoPereira commented on #2255
I am using an application API locally with an invalid ssl certificate and insomnia is not able to call it, it gives me a Error: SSL peer certificate or SSH remote key was not OK error

I went to the General settings and unchecked validate certificates checkbox, but it still shows me the same error.. The request works on my browser well.. It seems like a bug in insomnia where it is not disabling ss

[2022-11-04 13:24] bbbco opened #5384 "Workspaces without a parentId don't show up in latest Beta build"
### Expected Behavior

All workspaces are displayed when Insomnia loads

### Actual Behavior

After upgrading to the latest beta build (I had been on stable builds previously), many of my workspaces suddenly disappeared.

I checked the `insomnia.Workspace.db` file and can see that the workspaces are still there, it's just that they don't display if the `parentId` field is `null`.

### Reproduction

[2022-11-04 13:58] ubeogesh commented on #2255
@MB175 i don't think this is a viable approach anymore - i cannot find the CAfile anymore. Previously it could be found from the log on the "Timeline" tab. So apparently now the only way is to turn off certificate validation

[2022-11-04 14:41] MB175 commented on #2255
Okay i see, thanks for replying. Some day there will be a way I guess

[2022-11-04 15:32] vetterj73 commented on #5380
Here are my Insomnia specs

Version: Insomnia 2022.6.0
Build date: 9/26/2022
OS: Windows_NT x64 10.0.22621
Electron: 19.0.3
Node: 16.14.2
V8: 10.2.154.4-electron.0
Architecture: x64

The video show me trying to move a request to a folder.

https://user-images.githubusercontent.com/9198450/200014653-476359eb-2ddf-40d9-83d9-31da2d9aa477.mp4

[2022-11-06 11:10] thibaultmeyer commented on #5335
Issue open on cURL project : https://github.com/curl/curl/issues/9859

[2022-11-06 14:53] codeasashu opened #5390 "Adding feature: Invalid hook call"
### Expected Behavior

I can add a react feature in form of my package in `packages` folder  without getting the error.

### Actual Behavior

When I add a functionality in `packages/<my-feat>` directory, I am getting
`Error: Invalid hook call. Hooks can only be called inside of the body of a function component` error.

This is happening due to different react instance in `my-feat` folder, causing

[2022-11-07 02:32] izzat-sq commented on #5380
This is my version. In my case, i cannot drag and drop at all. Not just into folders (both expanded and closed), but also cannot drag and drop to change the position of the request.
![2022-11-07 10-08-29](https://user-images.githubusercontent.com/108707382/200213694-5fecf1ef-ac6a-4a80-8c39-afe36e833ecc.png)

[2022-11-07 06:41] domingoladron commented on #3218
Yeah, I will +1 this one as well.

Programmatically being able to access:
- Request information
- Environment variables

Is very useful in tests.

Why?

Environment variable access means I don't need to duplicate data between env vars and unit tests

[code]

Information inside the request can be validated against the response data

[code]

[2022-11-07 12:38] HenJi commented on #1555
This bug still exists, and the "No Body" trick worked for me - Version 2022.6.0

[2022-11-07 13:31] aka-mj commented on #5097
I'm encountering the same error on Linux (Ubuntu 20.04 LTS) with version 2022.6.0.

[2022-11-07 15:10] sylvain1811 opened #5392 "Using CTRL+D to duplicate a request clears its URL"
### Expected Behavior

When selecting a request and then using CTRL+D shortcut should open the duplicate request popup.

### Actual Behavior

It works fine, but the URL of the selected request is cleared. It seems that CTRL+D is also the shortcut to clear the (selected) URL. Or CTRL+D is a global shortcut to clear focused field, and when a request is selected, the focus is on the URL field by defa

[2022-11-07 18:03] seriousdev-gh commented on #5341
The issue does not reproduce in version 2022.7.0-beta.4. I think that due to the update of electron.

[2022-11-07 18:03] #5341 closed, assigned to nobody

[2022-11-07 22:37] mattburdumy commented on #4041
I'm getting this bug now on Ubuntu 20.04 -- installing any plugin at all.

[2022-11-08 08:32] darcyrush commented on #5380
This was reported before and has been broken since 2022-5.1.
2022.7.0-beta.4 finally fixes it

https://github.com/Kong/insomnia/issues/5101

[2022-11-08 08:55] Samuelfaure commented on #5380
@darcyrush I am certain I had the problem in 2022-4.2 (see my original issue https://github.com/Kong/insomnia/issues/5182)

Edit: I confirm, 2022.7.0-beta.4 fixes it :1st_place_medal:

[2022-11-08 10:43] PierreStainton commented on #3218
👍 +1

[2022-11-08 10:56] nileshtrivedi opened #5396 "Visual preview styling broken"
### Expected Behavior

For HTML responses, visual preview should display the page similar to how it would appear in the browser. This means applying all the CSS styling.

### Actual Behavior

In some cases, Visual preview does not seem to load all CSS or styling.

### Reproduction Steps

1. Make a GET request to https://fosstodon.org/users/nilesh/statuses/109307404541138785
2. Turn on Visual Previ

[2022-11-08 11:09] filfreire commented on #5384
Could be what is causing https://github.com/Kong/insomnia/issues/5167 and https://github.com/Kong/insomnia/issues/2952

[2022-11-08 11:34] #4531 closed, assigned to nobody

[2022-11-08 11:54] waynegemmell commented on #2880
It's been almost a year and I don't even remember how to test this. My bad for not adding a test case to the issue. Thanks for sorting it out though. I'll just take your word for it and close this.

[2022-11-08 11:54] #2880 closed, assigned to kreosus

[2022-11-08 15:58] congwenma commented on #2744
what if I want to do this for multiple values?

[2022-11-08 15:59] vetterj73 commented on #5380
How can I download the beta?

Sent from Yahoo Mail on Android

  On Tue, Nov 8, 2022 at 2:32 AM, ***@***.***> wrote:

This was reported before and has been broken since 2022-5.1.
2022.7.0-beta.4 finally fixes it

#5101

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-11-08 16:11] Samuelfaure commented on #5380
@vetterj73 Available in the release section: https://github.com/Kong/insomnia/releases

[2022-11-08 18:05] vetterj73 commented on #5380
I installed the beta and it wiped out my previous project.  I know that is probably my issue since I didn't have it sync'd to the cloud.
Jeremy Vetter (612) 910 - 4225

    On Tuesday, November 8, 2022 at 10:11:45 AM CST, Samuel FAURE ***@***.***> wrote:

@vetterj73 Available in the release section: https://github.com/Kong/insomnia/releases

—
Reply to this email directly, view it on GitHub, or un

[2022-11-09 02:40] tuyen-at-work opened #5400 "Insomnia does not parse curl request correctly"
### Expected Behavior

The form name and value should be seperated:

![image](https://user-images.githubusercontent.com/68000455/200723565-840f1896-2cb2-4de9-9d54-39fda6ec4660.png)

### Actual Behavior

Both the form name and value are in the same place:

![image](https://user-images.githubusercontent.com/68000455/200723486-8ecfa409-77ae-4c0c-ad9d-08a6ea0d9991.png)

### Reproduction Steps

- Creat

[2022-11-09 02:54] warrenc5 commented on #4316
be aware - removing the snap appeared to delete my working project (%HOME%/snap/insomnia)

[2022-11-09 03:21] Dhavalc2012 commented on #4316
@warrenc5 Yes you are right. From my understanding snap seems to have isolated environments and when you clean it, everything is purged. Perhaps taking backup may be the solution.

[2022-11-09 08:33] SwiTool commented on #5400
I got even worse on latest stable : when pasting a curl request, nothing happens.

<img width="1368" alt="image" src="https://user-images.githubusercontent.com/8834915/200779939-197e10e4-df34-4224-b7f5-52c4dca88d70.png">

[code]

[2022-11-09 13:48] #5384 closed, assigned to nobody

[2022-11-09 14:57] Jaffex commented on #1486
Have this problem on:

Version: Insomnia 2022.6.0
Build date: 26.9.2022
OS: Linux x64 6.0.5-200.fc36.x86_64
Electron: 19.0.3
Node: 16.14.2
V8: 10.2.154.4-electron.0
Architecture: x64

On Fedora 36 (Installed via provided rpm):
![Peek 2022-11-09 15-56](https://user-images.githubusercontent.com/31133207/200863874-48ab2935-8692-4598-ba70-dbf6214918f1.gif)

Edit: Restarting the application does not he

[2022-11-09 16:07] monrax commented on #5078
Hello @filfreire!
Are there any updates on the `SharedArrayBuffer` issue? I'm the author of the plugin, and I'm not sure I can get rid of that part.
Please, let me know how can I help you squash this bug. Thanks!

[2022-11-09 16:15] JSonEVA commented on #4870
Sorry to jump in on this but I have a similar issue. However, in my case the Authorization header is proprietary:

[code]

in this case, Insomnia doesn't add it to the headers but also doesn't provide an alternative.

Sending the request doesn't provide the header.

**Insomnia Version**: 2022.6.0

[2022-11-09 17:33] filfreire commented on #5400
@SwiTool can you share an example in `text code` here that reproduces your issue as well?

[2022-11-09 18:52] thibaultmeyer commented on #5335
hi @filfreire

I have a feedback from the open ticket on cURL, the problem is the use of "-X POST" (or other --postXXX) flag.

[2022-11-09 20:14] filfreire commented on #5392
Hi @sylvain1811 this should be fixed in our [latest beta release](https://github.com/Kong/insomnia/releases)

[2022-11-09 20:14] #5392 closed, assigned to nobody

[2022-11-09 21:50] schoenbergerb commented on #4923
What i can say is that its just a bug in the "Edit Tag" - Modal. I have the same use-case:
![Bildschirmfoto vom 2022-11-09 22-38-51](https://user-images.githubusercontent.com/5960337/200948527-55f96552-2390-4a40-b568-26f4484d856c.png)

Within the Modal, only one "set-cookie" - header will be shown:
![Bildschirmfoto vom 2022-11-09 22-39-22](https://user-images.githubusercontent.com/5960337/20094873

[2022-11-09 23:25] warrenc5 commented on #4253
I had this and cookies were getting corrupted.

This is correct cookie I pasted from raw

![shot-2022-11-10_08-29-59](https://user-images.githubusercontent.com/3395365/200963403-6c5dd467-5bd9-4094-93e4-6374c17d9070.jpg)

This is corrupted cookie after first post.
![shot-2022-11-10_08-25-20](https://user-images.githubusercontent.com/3395365/200963408-ac7d3d4d-548e-4c8e-9099-3a56898905df.jpg)

The o

[2022-11-10 07:53] SwiTool commented on #5400
I should have done that indeed, because I tried with another request (simpler one) and it worked.

Here is the curl string that is not parsed :
https://paste.ofcode.org/4zyMNKYTNrEuURUAbAFA5n

I had trouble finding an online tool which accepts to paste this 👎  If the link dies, you can reproduce by POSTing a base64 encoded PDF in a JSON body.

It's a large string indeed. But on previous Insomnia v

[2022-11-10 11:25] filfreire commented on #5380
Closing since as fixed since [beta.4](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.4)

[2022-11-10 11:25] #5380 closed, assigned to nobody

[2022-11-10 11:30] filfreire commented on #5396
Hi @nileshtrivedi thanks for reporting this!

I can also reproduce this. Seems to happen in some websites but not all of them. Marking as needs fix internally.

[2022-11-10 11:42] filfreire commented on #2895
Hi @rideron89, sorry for not getting back to this issue since. I would recommend opening a new one if you are still able to reproduce this in a [recent insomnia release](https://github.com/Kong/insomnia/releases).

[2022-11-10 11:42] #2895 closed, assigned to nobody

[2022-11-10 13:31] #5218 closed, assigned to nobody

[2022-11-10 18:56] #4715 closed, assigned to nobody

[2022-11-11 00:41] chaz4short commented on #2372
I am having a similar issue can never get Git Sync to work but my error say 401 Unauthorized.
not sure about a self sgn Cert but I m trying to connect to an On Prem, Azure DevOps Git Repo and My team members and I have had no luck. Any ideas?

Insomnia Version: latest beta, 2022.7.0-beta4
Repo location: https://tfs.*****.com/tfs/***/*******/_git/Insomnia-api-collections.git

![image](https://user-

[2022-11-11 02:13] vetterj73 commented on #5380
This still doesn't work with this version

Version: Insomnia 2022.7.0-beta.4
Build date: 11/2/2022
OS: Windows_NT x64 10.0.22621
Electron: 21.2.0
Node: 16.16.0
V8: 10.6.194.18-electron.0
Architecture: x64

https://user-images.githubusercontent.com/9198450/201247474-412bade8-c2eb-4c55-8868-532db25a912f.mp4

[2022-11-11 08:14] darcyrush commented on #5380
@vetterj73, you need to release your mouse click when you see the dotted lines. It also helps if you drag to the right first

[2022-11-11 09:26] vetterj73 commented on #5380
That works it is a little confusing because most moves like this you release the mouse when you are over the folder.
Thanks
Jeremy Vetter (612) 910 - 4225

    On Friday, November 11, 2022 at 02:14:15 AM CST, darcyrush ***@***.***> wrote:

@vetterj73, you need to release your mouse click when you see the dotted lines. It also helps if you drag to the right first

—
Reply to this email directly, vi

[2022-11-11 18:38] #4942 closed, assigned to nobody

[2022-11-14 02:51] JoakoV3 commented on #4824
Same problem here, different error

Version: Insomnia 2022.6.0
Build date: 9/26/2022
OS: Linux x64 5.14.0-1054-oem
Electron: 19.0.3
Node: 16.14.2
V8: 10.2.154.4-electron.0
Architecture: x64
Error:
[code]

[2022-11-14 13:59] darcyrush opened #5410 "Add drag and drop to 'Manage Environments'"
### Expected Behavior

- You should be able to use drag and drop to re-order environments (Manage Environments)
- The 'Sub Environments' ordering within 'Manage Environments' should match the 'Activate Environment' order (at the top of the sidebar)

### Actual Behavior

- Environments within 'Manage Environments' cannot be reordered
- The 'Sub Environments' ordering within 'Manage Environments' do

[2022-11-14 16:49] dunhamjared commented on #5167
Also have this issue on my Windows 11 environment.

[2022-11-15 08:25] LucasDSVelco commented on #3218
+1 !

[2022-11-15 11:25] filfreire commented on #5410
Hi @darcyrush this is indeed a known issue. We've temporarily removed the option to drag and drop within the Environment Editor in order to fix other bugs and do other improvements.

We'll be improving and re-adding drag and drop as soon as possible.

[2022-11-15 11:46] kguskov commented on #5167
I have the same issue on Mac OS. Version: Insomnia 2022.7.0-beta.4

[2022-11-15 18:00] #2241 closed, assigned to nobody

[2022-11-16 14:47] #5333 closed, assigned to nobody

[2022-11-16 17:46] filfreire commented on #5167
Hi folks, this might be the same problem that was reported on https://github.com/Kong/insomnia/issues/5384 and then fixed on https://github.com/Kong/insomnia/pull/5397. The fix should go out in an upcoming beta release.

@pheianox @dunhamjared @kguskov if you feel comfortable in trying a workaround until then, I would recommend the following steps in the meantime to debug if it's the same issue th

[2022-11-16 17:53] filfreire commented on #4923
@schoenbergerb @amb-lucas we had a recent bug fix merged that submitted by @bbbco that might be similar to this problem - https://github.com/Kong/insomnia/pull/5192/files

[2022-11-16 19:32] dunhamjared commented on #5167
@filfreire

I can confirm that my issue is related to the null value for the parent ID.

Thank you for the workaround!

[2022-11-17 09:22] filfreire commented on #3413
Hi folks, I'm closing this one in favour of https://github.com/Kong/insomnia/issues/5167

- Avoid using more than one instance of Insomnia
- To retrieve your data, please refer to the workaround [posted here](https://github.com/Kong/insomnia/issues/5167#issuecomment-1317415546)
- A fix for this issue will be included on `2022.7.0-beta.5` and onwards.

[2022-11-17 09:22] #3413 closed, assigned to nobody

[2022-11-17 09:23] filfreire commented on #5167
Thank you for the confirmation @dunhamjared

We will keep this issue open until we release `2022.7.0-beta.5` that has the fix for this.

[2022-11-17 09:43] kguskov commented on #5167
It worked for me too! Thank you!

[2022-11-17 10:18] nagulv commented on #5390
I see the same issue - any new react hook usage seems to result in an error. I tried adding [mui ](https://mui.com/) as a dependency

lerna add @mui/material --scope insomnia
lerna add @emotion/react --scope insomnia
lerna add @emotion/styled --scope insomnia

and then adding a button to package/insomnia/src/ui/routes/root.tsx and that results in a "Failed to render" error:

`TypeError: Cannot rea

[2022-11-17 16:09] filfreire commented on #5167
2022.7.0-beta.5 is out now, https://github.com/kong/insomnia/releases

Marking this issue as closed. If you folks notice the behavior again, please feel free to reopen a new ticket. Hopefully after updating to this one it shouldn't happen though 🙏

[2022-11-17 16:09] #5167 closed, assigned to nobody

[2022-11-17 16:29] filfreire opened #5437 "Downloading or Installing Beta build on Windows shows warnings for unknown publisher"
Hi folks,

We're taking care of renovating our code signing certificates for our Windows builds, so for the time being, the [latest beta release 2022.7.0-beta.5](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.5) as well as [beta.6](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.6) are not code signed on Windows.

This was done in order to allow folks who wan

[2022-11-18 08:11] darcyrush commented on #3828
Still an issue. Cannot copy from the HEX input either

[2022-11-18 11:05] Sakiut commented on #3257
Hello, I have the exact same problem:

<img width="822" alt="image" src="https://user-images.githubusercontent.com/27028806/202691043-16e04c2e-0780-4bfb-ab0e-9908cdc371b1.png">

I'm barely in the same situation as well: behind a proxy, trying to reach a self-hosted gitlab instance.

I'm on the latest stable desktop client (2022.6.0), the gitlab is also barely up to date (15.2.x I guess).

[2022-11-18 11:43] pebie opened #5439 "Request summary didn't update when switching design to debug tab"
### Expected Behavior

Insomnia document use summary field of an OpenAPI Paths Object to name Requests in the debug tab.

**OpenAPI Spec (design tab)**
[code]
**Request (debug tab)**
![Capture d’écran 2022-11-18 à 12 20 31](https://user-images.githubusercontent.com/4931752/202694247-c07c72bb-02f4-43ea-837b-02b8b1ae5009.png)

Updating Paths Object summary should always update the Request name in

[2022-11-18 12:54] filfreire commented on #5439
Hi @pebie thank you for reporting this. This is a duplicate of #4373

Feel free to report other issues you come across.

[2022-11-18 12:54] #5439 closed, assigned to nobody

[2022-11-18 14:28] pebie commented on #5439
Hi @filfreire and thanks for answer :)

My point concerne only the update method of Request name. Other [issue](https://github.com/Kong/insomnia/issues/4373) try to sync Tags with folder when an operation move from tag to another tag (name included indeed).

I think updating only Request name with summary will be a good start before trying sync tags and operation with Requests Groups and Requests.

[2022-11-20 12:31] leonardehrenfried commented on #5088
Fedora 37 has been released now. This leaves users with no (known) workaround.

Is this issue going to be important enough for you to fix? If not I will cancel my subscription.

[2022-11-20 12:50] haroldallen commented on #1555
The issue for me (and probably others) was that I did not have this header:
![image](https://user-images.githubusercontent.com/67546646/202902715-bc4eefeb-8c16-4735-ba43-335b4d31513e.png)
Easily fixed (same as most people) by switching the body type to "No Body" and then back to "JSON".

So the bug seems to be that Insomnia doesn't re-add its header (if you accidentally delete it) without turning

[2022-11-21 10:46] filfreire commented on #5443
@vinod-sl I transfered this issue to the main https://github.com/Kong/insomnia/ repository. Thank you for reporting it!

Are you still facing this problem when pushing to repository in our [latest beta release](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.5)?

[2022-11-21 12:22] octaviobarbosa commented on #5088
Any solution to working in Fedora 37 ?

I need to work, help me pls.

[2022-11-21 13:37] davelima commented on #5088
I am currently on Fedora 37 and using @krossekrabbe's workaround described on https://github.com/Kong/insomnia/issues/5088#issuecomment-1272280460

@sarim's workaround might work as well https://github.com/Kong/insomnia/issues/5088#issuecomment-1235816006

[2022-11-21 15:45] #4960 closed, assigned to wongstein

[2022-11-21 22:05] yesthesoup commented on #1486
Also have this, restarting did not help.

Version: Insomnia 2022.6.0
Build date: 9/26/2022
OS: Darwin x64 21.5.0
Electron: 19.0.3
Node: 16.14.2
V8: 10.2.154.4-electron.0
Architecture: x64

I was able to solve by clicking "Click to add first request..." in the empty folder, then dragging the one I wanted onto that new request to add it into the folder. Then I delete the dummy request.

Note this on

[2022-11-22 05:47] bickkysahani commented on #5088
This (https://github.com/Kong/insomnia/issues/5088#issuecomment-1228651988)  worked for me too. Thanks @bisby

[2022-11-22 10:26] waveywaves opened #5449 "Pull Request Preview Environments for increasing maintainer productivity"
I would like to make life easier for Insomnia maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) preview environments.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi).

Uffizzi is a Open Source full stack previews engine and our platform is available completely free for Insomnia (and all open source projects). This will provide maintainers with

[2022-11-22 10:49] filfreire commented on #5449
Hi @waveywaves thanks for reporting this!

We already have preview builds of Insomnia on each PR, but thank you for your suggestion!

Feel free to report others issues you come across.

[2022-11-22 10:49] #5449 closed, assigned to nobody

[2022-11-22 11:04] waveywaves commented on #5449
Hey @filfreire, thanks for getting back to me. I don't see any comments on the PRs opened with the preview envs, something like [this](https://github.com/logto-io/logto/pull/2496#issuecomment-1323255608). How do you use your PR builds ?

[2022-11-22 16:16] kreosus commented on #2858
Closing due to no activity

[2022-11-22 16:16] #2858 closed, assigned to kreosus

[2022-11-22 22:23] rehpotsirhc21 commented on #4274
wow. It took way to long and a lot of bad answers. Are they doing anything to make it more clear as to what is happening? right now the whole file process is terrible you cant tell what happened from the import and its unclear where to navigate.

[2022-11-23 09:20] bjanders commented on #1876
I experience this issue with Insomnia 2022.6.0.

[2022-11-24 00:13] dselans commented on #5254
Same issue as described by @vaidd4 on macos. Losing focus in manage environments, every few seconds just typing any few characters. Does not seem to be JSON specific - feels like something is attempting to parse input which interrupts input window focus.

[code]

[2022-11-24 06:22] jeferro commented on #1003
+1

[2022-11-24 09:16] 2001db8 commented on #5088
Just switched to F37 and having the same issue.

Unfortunately building 2022.6.0 does not work here:
[code]

[2022-11-24 14:24] #4732 closed, assigned to nobody

[2022-11-24 16:28] filfreire commented on #5088
Hi folks, while we don't have a more definitive solution, in order to unblock you in the meantime, I've compiled an experimental build on my fork which you can download and use:

https://github.com/filfreire/insomnia/releases/tag/fedora-experiment%408ae4fe71

Contains changes up to [8ae4fe71](https://github.com/Kong/insomnia/commit/8ae4fe710dc7d80fcd14265e315f5c2f179821ab) and was built using: htt

[2022-11-24 16:54] filfreire commented on #5254
Hi folks, this should be fixed in our latest beta.5 release:  https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.5

[2022-11-24 16:54] #5254 closed, assigned to nobody

[2022-11-24 16:54] filfreire commented on #5234
Hi folks, this should be fixed in our latest beta.5 release:  https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.5

[2022-11-24 16:54] #5234 closed, assigned to nobody

[2022-11-25 07:02] frodeopdahl commented on #2458
I am having issues with committing while having an spec in the Design tab. When trying to commit I get this error:
`/Applications/Insomnia.app/Contents/Resources/app.asar/node_modules/yaml/dist/parse-cst.js:331 Uncaught (in promise) YAMLSyntaxError: All collection items must start at the same column
    at Collection.parse (/Applications/Insomnia.app/Contents/Resources/app.asar/node_modules/yaml/d

[2022-11-25 12:27] davelima commented on #5088
Thank you so much @filfreire, it is working fine with cups 2.4.2

[2022-11-25 16:41] elemanhillary opened #5463 "Editing Private Environments"
### Expected Behavior

When am editing any key in the environment, the editor shouldn't lose cursor focus on the line am editing

### Actual Behavior

When editing the cursor disappears and loses focus on the input

### Reproduction Steps

- Go to environments
- Create a private environment
- Add in some environment variables
- Click Done
- Go Back to environments
- Edit recent environment variabl

[2022-11-26 09:26] martin-pinjusic opened #5464 "Response preview tab gets unresposive when scrolling over "large" JSON response"
### Expected Behavior

The scrolling should work without getting unresponsive to mouse scroll.

### Actual Behavior

I got response of 1217 lines, 25KB. When scrolling over the response preview the window gets unresponsive to mouse scroll randomly for few seconds.

### Reproduction Steps

_No response_

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www

[2022-11-27 14:28] bbmatt commented on #1003
Just tried Insomnia and _really_ like it, tried to find settings that prevent auto-save, which led me to this "issue" thread.

I'm back with postman, sadly.
Auto-save doesn't fit with my personal way of working, as I frequently experiment with API requests, often ripping out entire sections of a query etc. - I didn't realise it was auto-saving at first and subsequently, had to restore a bunch of q

[2022-11-27 19:15] Angus1811 commented on #923
I had the same Problem. I found that the reason this was happening was due to **low disc space**.

[2022-11-28 00:07] dselans commented on #3786
Similar issues. Requests taking (seemingly randomly) from 1-10s while actual request time is <1s.

Simple GET requests against a Go rest'ish API service.

Has been happening for a few months.

[code]
![Screen Shot 2022-11-27 at 4 07 17 PM](https://user-images.githubusercontent.com/1938759/204167245-758e1393-cb48-4055-a9b8-dbf43e183d65.png)

[2022-11-28 06:19] rostislav-simonik commented on #4905
@filfreire I'd like to check if there is some progress on this issue or if you need help solving the problem. Thanks in advance for your answer.

[2022-11-28 09:31] jtfidje opened #5465 "v7-beta5 will not start due to GPU error"
### Expected Behavior

I expected the application to start

### Actual Behavior

Application crashes with the following error

[code]

### Reproduction Steps

_No response_

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for this problem.

### Additional Information

_No response_

### Insomnia Version

2022.7.0-beta

[2022-11-28 11:13] filfreire commented on #5463
@elemanhillary this has been fixed since, and should not be reproducible in [our latest beta build](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.5)

[2022-11-28 11:13] #5463 closed, assigned to nobody

[2022-11-28 11:14] filfreire commented on #5465
Hi @jtfidje can you confirm is installing these helps starting Insomnia:
[code]

From https://askubuntu.com/a/1328208

[2022-11-28 11:16] filfreire commented on #5464
@martin-pinjusic can you share some more information about your hardware specs (CPU, memory, GPU, ...)

also are you able to get the same kind of unresponsive behavior with our [latest beta build](https://github.com/Kong/insomnia/releases/tag/core%402022.7.0-beta.5)?

[2022-11-28 15:36] BlakeGardner commented on #4274
I just paid for the team version of Insomnia and had issues importing my collections into a team project. This solved my issue.

[2022-11-29 07:19] care198475II commented on #2251
well done by this answer, note just type below in git bash interface:

git config --global http.sslVerify "false"

[2022-11-29 10:10] DennisRoennebaek commented on #3265
I experience the same issue with v. 2022.6.0 - no cookies found for any domains eventhough they are there

[2022-11-29 15:22] filfreire commented on #3112
This is no longer reproducible in latest `develop`

[2022-11-29 15:22] #3112 closed, assigned to nobody

[2022-11-30 01:50] 0x524c opened #5470 "Crash rendering window when parsing GraphQL enum value"
### Expected Behavior

// Stack error
[code]

// exported data collection that manifest the crash
[code]

### Actual Behavior

When building a structure of variables it generated a crash that prevented rendering.

### Reproduction Steps

Import data collection JSON attached

### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/iss

[2022-11-30 08:24] rippo opened #5471 "Function requests intermittently get lost"
### Expected Behavior

Every now and again all my functions for requests seem to get forgotten.

 I then have to manually choose the right request and reselect on the drop down.

![2022-11-29_16-33-20](https://user-images.githubusercontent.com/772549/204743636-c61b1cba-0c78-41fd-aeb1-fb6b09d2f71d.png)

### Actual Behavior

This seems to be random behaviour. That is it is across 1 or 2 collections

[2022-11-30 09:29] filfreire commented on #5471
Hi @rippo thanks for reporting this issue!

- I suspect the cause of the issue is [another bug](https://github.com/Kong/insomnia/issues/4985) we have - where the moment you transfer a collection to another project (e.g. like porting over from local project to a paid subscription) the request ids change, so any references you had inside a given request to another, e.g. using request chaining, might

[2022-11-30 09:36] filfreire commented on #5470
Hi @524c thanks for reporting this!

I've tried out your collection export, but it looks like the error might be coming from Insomnia trying to parse the GraphQL schema. Any chance you can provide a schema file we can try for us to reproduce, or at least paste what the schema looks like for your `OauthProviders` ?

[2022-11-30 10:12] rippo commented on #5471
Thanks I thought I had already done this on this collection and the problem had resurfaced.
I will fix all my collections and push the snapshots.
Then will wait and see if it happens again. Thanks for response