[2020-06-03 10:34] AndreyD commented on #2234
+ have the same issue after update to Version 2020.2.0

[2020-06-03 12:54] JCMais commented on #2245
Just want to point out that according to RFC2616, section 4.2 header names must be case-insensitive, so if you server is not working correctly, it's not spec-compliant.

https://www.ietf.org/rfc/rfc2616.txt

[2020-06-03 13:04] bluntelk commented on #2245
I am sure I have known and then forgotten that at some stage!

I can however argue that being inconsistent with sending the header field names is more of a bug than a feature.

You can also argue for a new robustness testing feature where the case of field names is altered on every request (with a special note about it in the timeline)

[2020-06-03 13:04] general-CbIC commented on #2234
+1

Also, these fields disappear from the request.

[2020-06-03 14:12] iveelsm opened #2246 "Core Dump on Arch Linux"
**Describe the bug**

After installing the Insomnia snap, via `sudo snap install insomnia` per the documentation. It will fail to start on some systems and result in a core dump. The AppImage does not have this problem.

**To Reproduce**
Steps to reproduce the behavior:
1. sudo snap install insomnia
2. insomnia

**Expected behavior**

I would expect the app to start normally. Like it does with the

[2020-06-03 17:34] gschier commented on #2245
It looks like `libcurl` lowercases headers by default for HTTP/2 because HTTP/2 headers *must* be lowercase.

https://http2.github.io/http2-spec/#HttpHeaders
https://stackoverflow.com/questions/54067796/preserving-case-of-http-headers-with-curl

Perhaps Insomnia should have a way to force HTTP 1.1 usage

---

I definitely agree that Insomnia should send exactly what the user specifies where possib

[2020-06-03 17:35] gschier commented on #2237
@nataliamelissas do you have one in your environment? That would also affect things.

[2020-06-03 17:37] gschier commented on #2246
The Snap image has never been very reliable, unfortunately. I suggest trying out the AUR package instead: https://aur.archlinux.org/packages/insomnia/

[2020-06-03 17:58] #2235 closed, assigned to gschier

[2020-06-03 18:00] iveelsm commented on #2246
@gschier I was able to get it working with [the AppImage](https://support.insomnia.rest/article/23-installation#linux).

But I just wanted to open this as just as FYI.

[2020-06-03 19:04] tucosaurus commented on #944
Hey all, I would like to see this feature as well. Here's my use case.
I have an api whose request body needs a list of id's from an endpoint previously requested.

This is the request body structure.
[code]

I get the list of item ids from an `/items` endpoint.

[2020-06-03 20:48] #2182 closed, assigned to develohpanda

[2020-06-03 21:26] nataliamelissas commented on #2237
Oh okay, I did have one in my environment which I removed. The console prints out less now but I still don't see the response preview.

<img width="1678" alt="Screen Shot 2020-06-03 at 3 22 31 PM" src="https://user-images.githubusercontent.com/16572690/83690526-24e37380-a5ae-11ea-955c-a0ba41886ead.png">

<img width="1270" alt="Screen Shot 2020-06-03 at 3 27 45 PM" src="https://user-images.githubus

[2020-06-03 22:06] gschier commented on #2234
Hmm, I cannot seem to reproduce this on my end. Can someone here do a bit more digging to see if there's a specific case where it happens and if it happens in other areas of the app? 🙏

[2020-06-03 22:19] gschier commented on #2237
This is a bit of a long shot, but can you try clearing all responses for your workspace from the workspace settings dialog?
![image](https://user-images.githubusercontent.com/587576/83694707-7dfed780-a5ad-11ea-9b8e-106aaefcd8a8.png)

Also, can you let me know if you have the "filter responses by environment" setting enabled?
![image](https://user-images.githubusercontent.com/587576/83694756-92db6b

[2020-06-03 22:20] gschier commented on #2246
Thanks! I appreciate it 💯

[2020-06-03 22:22] gschier commented on #2234
Also... can you let me know if there are any errors in View > Toggle DevTools > Console?

[2020-06-03 22:27] gschier commented on #2234
Also, again... if anyone can share a public graphql endpoint that reproduces this, that would be great! 😁

[2020-06-03 22:37] nataliamelissas commented on #2237
I cleared all the responses but the problem is still there. :/
Yes, I have the "filter responses by environment" setting enabled.

[2020-06-03 23:23] gschier commented on #2237
And the problem is still there even after disabling it?

[2020-06-03 23:53] nataliamelissas commented on #2237
That worked! Interesting because I never changed the workspace settings. Also, this particular workspace only has a Base Environment.

[2020-06-04 00:06] gschier commented on #2237
I think there was a release in the past that enabled that setting by default, but has since been reverted. Thanks for your help debugging this issue. That should narrow it down enough to figure out what the problem is 👍

[2020-06-04 06:22] general-CbIC commented on #2234
@gschier seems I got it.
If there is an error on schema validation, autocomplete works unpredictably.

I have this error in console when type any symbol in query

[code]

In this case query not saves and when I try to send it, sends only part.
Switching to other query and back (like @tipputhynhean described in first message) leaves only part of query in editor.

[2020-06-04 07:41] songjinu opened #2247 "No-proxy setting don't accept asterisk (*)"
**What is your question?**
no proxy setting don't accept asterisk(*)

I'd like to set  localhost, 192.*, 194.*.*.* in no proxy

please check it.

[2020-06-04 09:05] amaaniqbal commented on #2083
Can I work on this issue @nijikokun? I might require some guidance to get started. :)

[2020-06-04 13:19] AndreyD commented on #2234
+1
I had a types in schema without defined fields
After i fixed this, all works fine.

![Insomnia](https://user-images.githubusercontent.com/3584821/83760796-21b7b880-a67e-11ea-9518-d738d378e797.jpg)

[2020-06-04 16:31] gschier commented on #2247
Thanks for the suggestion @songjinu, that seems like it could be very useful 😁

[2020-06-04 16:45] gschier opened #2248 "Rendering object property inside array does not work"
A user in the [Slack](https://chat.insomnia.rest) mentioned that rendering properties from nested objects `{{ users[0].id }}` has stopped working.

I wrote an isolated test case to reproduce the probem.

[code]

[2020-06-04 17:58] gschier commented on #2234
Thanks for the details @general-CbIC and @AndreyD. It seems like updating our `graphql` dependency might do the trick but we should also add some extra safeguards around parse failures.

[2020-06-04 18:06] cat-turner opened #2250 "Types that Implement Interface types should not raise an error if they meet specs"
A type that implements an interface type will have the same fields, not repeat in the same type, and a few other requirements (see validation http://spec.graphql.org/June2018/#sec-Interfaces)

In the present moment, the tool runs a schema check and raises an exception if  the field in the type is different from the field returned in the interface type.

This is not forbidden in the spec, and I thi

[2020-06-04 18:33] aaronhmiller commented on #2117
tried this w/ Insomnia Designer 2020.2.0 and same results:

[code]

[2020-06-04 22:31] nijikokun commented on #2117
@aaronhmiller it's an issue with the plugin itself :(

[2020-06-05 00:40] OgawaTakasi commented on #2245
I need to use such upper-case header names, so I chose Insomnia.
Because the running API behaves as case sensitive.
But recently I was surprised Insomnia corrects header names as lower cases.
Which version doesn't correct header names? I want to rollback to that old version.
Or can I expect the reverting this feature?

[2020-06-05 04:39] jordankkk commented on #1003
Multiple tabs will be great

[2020-06-05 13:15] denniseffing commented on #1000
@sraze My authorization URL is correct. It works when using HTTP instead of HTTPS, however that is only a workaround, not a solution. Many development environments use self signed SSL certificates or the Let's Encrypt Staging environment. Insomnia OAuth won't work in these environments.

[2020-06-05 13:51] denniseffing commented on #1000
@gschier Would you mind taking another look at this issue?

[2020-06-05 14:14] DnlCYan opened #2251 "OpenSSL SSL_read: Connection was reset, errno 10054"
Hi!

Today with insomnia latest versions 2020.2.1 I'm getting this error invoking our own REST API:
**OpenSSL SSL_read: Connection was reset, errno 10054**

I don't know when it has updated, but at the beginning of this week, it was working well.

Our API is located at Azure Cloud and I tried different API that we have.
If I call this same API running on my local machine, I got success.

Finally,

[2020-06-05 15:51] NSExceptional commented on #1536
+1 for this feature. Super annoying when you need to see the last thing in a long list of objects.

[2020-06-05 16:01] NSExceptional opened #2252 "Feature Request: ability to expand or collapse all JSON nodes"
When you want to look at the last object in a JSON response, for example, it can be tedious to collapse 50+ objects by hand to get to the last one. Having the ability to collapse the entire response and navigate to where you want to go by expanding specific nodes one at a time can be much faster than collapsing a dozen nodes to get there, or scrolling and reading.

At the least, I would like to ha

[2020-06-05 17:42] kdeenanauth commented on #1903
Same error. Clicking to open the setup log fails however.

[2020-06-06 00:59] #2183 closed, assigned to nijikokun

[2020-06-06 01:11] #2208 closed, assigned to nicholasraphael

[2020-06-06 01:14] develohpanda opened #2253 "Address occaisional race conditions when updating database models"
See description in #2231 for an example of where a race condition arises.

[2020-06-06 01:21] develohpanda commented on #1903
A little strange; does this occur on the [latest release](https://github.com/Kong/insomnia/releases/tag/core%402020.2.1)? We did recently fix an installation [issue](https://github.com/Kong/insomnia/issues/2073) related to Windows long path restrictions.

[2020-06-06 01:37] #2229 closed, assigned to develohpanda

[2020-06-06 01:48] develohpanda commented on #2252
Looks like there are `foldAll` and `unfoldAll` operations exposed by CodeMirror that we can use.

https://github.com/codemirror/CodeMirror/blob/84a02bcec14a66f6ae6ca102078cb2dc6afd6349/addon/fold/foldcode.js#L98-L115

These can be added as keyboard shortcuts as well, [for example](https://stackoverflow.com/a/50952541).

[2020-06-06 11:58] hsanson opened #2254 "Insomnia is unable to get OAuth2.0 tokens from Ory Hydra authorization sever"
**Describe the bug**
Insomnia is unable to fetch OAuth2.0 tokens from [Ory Hydra](https://www.ory.sh/hydra/) authorization server.

Insomnia follows the [Hydra login and cosent](https://www.ory.sh/hydra/docs/login-consent-flow/) flow until Login part. After submitting the login form with valid credentials, insomnia hits the /oauth2/auth endpoint but for some reason it gets a "forbidden" response a

[2020-06-06 14:36] muuvmuuv opened #2255 "Newest update throws: SSL peer certificate or SSH remote key was not OK"
**Describe the bug**

I have updated CODE today and now no request is working anymore. It throws the following:

[code]

**To Reproduce**

Idk ^^ maybe try to request a self-signet cert endpoint.

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

No browser or my App is throwing this so I expect it to just work.

**Scre

[2020-06-06 14:46] muuvmuuv commented on #2255
This works:

[code]

Directly exported from Insomnia

[2020-06-06 16:02] EMokro opened #2256 "Multipart: Send multiple files quickly"
**Is your feature request related to a problem? Please describe.**
Sending multiple files is nice, but if we need to send hundreds or thousands of files it takes ages.

**Describe the solution you'd like**
Instead of selecting every single file by its own, I would like to select multiple files. Also it should be possible to rename all of them at once.

**Describe alternatives you've considered**
I

[2020-06-07 03:27] MicahRamirez commented on #2097
Thinking about grabbing this one if that's okay. Just to clarify what the expectation is for this...

Adding a menu item (Copy: 'Copy Support Information' ?) on the 'Help' menu, that on click would write to clipboard the following:

1. OS Version
2. App Version
3. Shell (electron version)
4. Node Version
5. V8 Version
6. Architecture
7.  Curl Version

As far as installation method listed in the re

[2020-06-07 05:14] salewski commented on #2082
Just leaving a longer-form representation of the validation error message since Google did not turn up this issue when I looked[0]:
[code]

[0] I found my way here via Hacker News [comments][HN-COMMENTS], into which I happened to wander.

[HN-COMMENTS]: https://news.ycombinator.com/item?id=23022747 "HN comments"

[2020-06-07 11:55] anyforever commented on #2234
I had the same problem
![screen capture image](https://transfer.sh/108YbX/Kapture%202020-06-07%20at%2019.50.30.gif)
please see here: https://transfer.sh/108YbX/Kapture%202020-06-07%20at%2019.50.30.gif

Insomnia:2020.2.1 (2020.2.1)
macOS:10.15.5 (19F101)
This problem was not found in the previous version of Insomnia

[2020-06-07 13:32] sebastianjonasson opened #2257 "Openapi3 importer: Generate endpoint docs."
Currently when importing an OpenAPI3 specification the Docs tab is almost empty. I would like the importer to generate docs for each endpoint.

Example doc generation:

### Endpoint summary here

GET /my/endpoi.nt

Endpoint description here.

### Path parameters
| name  | required  | in  |  description |
| ------------ | ------------ | ------------ | ------------ |
| userId  |  Yes | path  |  Id o

[2020-06-07 13:33] sebastianjonasson commented on #2257
@develohpanda

[2020-06-07 13:34] amaaniqbal commented on #2083
@gschier @allandiego @nijikokun can I help here?

[2020-06-08 15:23] StummeJ opened #2259 "OAuth through browser"
**Is your feature request related to a problem? Please describe.**
Currently if you try to authenticate through Identity Server 4 using the Google social provider a correlation exception is thrown.

**Describe the solution you'd like**
Postman has implemented a signin via browser to work around this.  Would it be possible to mimic this behavior?

**Describe alternatives you've considered**
Switchi

[2020-06-08 15:35] claratorres opened #2260 "GraphQL | Invalid Syntax Error"
Invalid Syntax error when adding return fields for a working query.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a working query and execute normally (will execute ok).
2. Edit query and add a return field with subselection.
3. Execute again
4. Invalid Syntax error
5. Go back to original query
6. Invalid Syntax error

**Expected behavior**
Not to have invalid syntax error if query i

[2020-06-08 16:46] krithigagupta commented on #1937
Any update on this?

[2020-06-08 16:49] krithigagupta commented on #1937
Is this only specific to environment variables? Can Insomnia handle numeric variables coming from Request Body attribute?

[2020-06-08 17:11] rmclaughlin-nelnet opened #2262 "Run a script to parse and build xml before and after a request"
**Is your feature request related to a problem? Please describe.**
I am currently building an integration with a SOAP XML service. It uses a cumbersone authentication process that I would like to automate with request chaining, but I need to be able to run a script in between each request, and preferably before the first request to parse the response.

The initial request requires values to be pas

[2020-06-08 18:46] rmclaughlin-nelnet opened #2263 "Custom response tag for chaining requests"
**What is your question?**
I would like to use request chaining, but I need to do some preprocessing on the response data before I can use it in the next request. Can I write a custom response tag (I would want it to function just like the built in response tag, except do some custom processing)? Or can a custom tag access data from a previous response like the response tag does? If so can you giv

[2020-06-08 19:08] gschier commented on #2263
I suggest taking a look at the Response Eval plugin. It is a fork of the existing Response tag that adds the ability to execute arbitrary JS on the response. You could possibly make use of that or look at it as a starting point for your own plugin.

[2020-06-08 19:08] #2263 closed, assigned to nobody

[2020-06-08 19:09] nicholasraphael commented on #2157
I could give this a try if no one else is working on it. What part of the interface does "Dev Tools" refer to here? Additionally, should the last part of this issue about the autocomplete maybe be a separate feature request?

[2020-06-08 19:52] krithigagupta opened #2264 "How to convert Response Body Attribute value to Numeric variable"
**What is your question?**
A clear and concise description of what you are wanting to ask. Ex. I'm always frustrated when [...]
I want to understand how to convert a response body attribute to numeric. I have two requests that I have chained together. First request returns a response body attribute, which is used in the second request. But when I submit the second request, I get the below error
"T

[2020-06-08 20:48] withinboredom commented on #2260
It seems like it's the last thing entered with a downloaded schema, so this:

[code]

results in

[code]

You can even just use the github graph to reproduce:

[2020-06-08 21:23] rmclaughlin-nelnet commented on #2262
I have been trying to do this with plugins and it is way too onerous, I would have to write a custom tag for every endpoint. If you simply had the ability to run a pre and post script like postman this would be solved. For now I will stick with postman. If you ever add this ability I will try insomnia again. Thanks.

[2020-06-08 22:32] #2237 closed, assigned to gschier

[2020-06-08 23:58] #2234 closed, assigned to gschier

[2020-06-09 00:42] noplanman commented on #1838
@lbenka Care to elaborate? I'm running into the same issue and was wondering if maybe curl or openssl could be the problem. Thanks!

[2020-06-09 00:51] noplanman commented on #1755
I'm having the same issue with version 2020.2.1. Like @maciejzukowski I ran `/Applications/Insomnia.app/Contents/MacOS/Insomnia` from console and saw this as the white screen occurs.
[code]

Looks like the latest versions are MacOS 10.12+? Would be nice if the auto-updater would take that into account.

[2020-06-09 04:24] pierpeople commented on #2260
The current version of Insomnia is basically unusable for GraphQL. I am experiencing some syntax error in both queries and variables.

[2020-06-09 08:35] kirinnee commented on #2228
Issue replicated:

- OS: Windows 10 Build 2004
- Install Method: MSI
- App Version: 2020.2.0 (5/30/2020)

[2020-06-09 09:36] claratorres commented on #2260
Version 2020.2.2 has been released and issues seem to be fixed :)

Many thanks! 👍

[2020-06-09 09:36] #2260 closed, assigned to nobody

[2020-06-09 11:21] k-aziz commented on #2264
It looks like you're surrounding the Response Attribute tag with double quotes. Have you tried removing them?

[2020-06-09 16:07] krithigagupta commented on #2264
Yes. I did. It didn't work with that either. Are there any built-in functions that I could use to convert to numeric?

[2020-06-09 19:41] gschier commented on #2234
This should be fixed now in version 2020.2.2 https://insomnia.rest/changelog/core/2020.2.2

[2020-06-09 20:40] krithigagupta commented on #2264
Any updates on this one, or any workaround to pull non-string values (number, array, etc.) from previous responses?

[2020-06-09 20:42] nijikokun commented on #2157
It's the built-in developer tools, you can access it through the OS Menu.

Correct! My bad, that one snuck in. cc @heptal

[2020-06-09 20:45] tberne commented on #447
It would be SO GREAT if we had this!!

[2020-06-09 20:49] jedelvalled opened #2269 "Sorry I need to clean this post I apologize."
Sorry I need to clean this up.... wrong example

[2020-06-09 20:50] jedelvalled commented on #2269
Just a small comment the working hash is from Insomnia Version 7.1.1 (7.1.1.3350)

This is a regression.

[2020-06-09 20:54] nijikokun commented on #2269
🙆‍♂️ I was wondering if it was me or not

[2020-06-09 20:56] nijikokun commented on #2257
I'm not seeing any downsides to this at the moment, nor has anyone voiced any. Going to put the accepted label on it.

[2020-06-09 20:57] nijikokun commented on #2259
Related to #2254

[2020-06-09 20:59] jedelvalled commented on #2269
I'm sorry @nijikokun  my bad. (it's me not you)

[2020-06-09 20:59] nijikokun commented on #2269
Going to close in favor of starting fresh ❤️

[2020-06-09 20:59] #2269 closed, assigned to nobody

[2020-06-09 21:00] nijikokun commented on #2269
No worries, we've all been there ❤️

[2020-06-09 21:00] itsjms commented on #173
insomnia stop setting cookies solution

[2020-06-09 23:12] develohpanda commented on #2186
Duplicate of #2082

(Please re-open if this request is different)

[2020-06-09 23:12] #2186 closed, assigned to nijikokun

[2020-06-09 23:28] jedelvalled opened #2271 "Hash calculations fail on Insomnia 2020.2.2 (Last known good release 7.1.1)"
Since the upgrade to insomnia 2020 Hash caculations fail.

Formula:
[code]

URL: `http://testurl.com?signature={{ Mashery_signature_hash_Stg  }}`

This is the result of the CURL in 7.1.1
[code]

This is what I get on the Mac and it's the same:
[code]

This is what I get today on Version 2020.2.0 (2020.2.0)

[code]

The first 2 results are good the new one is not.

[2020-06-10 01:18] kdeenanauth commented on #1903
@develohpanda still a problem. though I was able to dig up my logs and it looks different than OP's.

[code]

[2020-06-10 01:19] nicholasraphael commented on #2157
Okay, thanks for clarifying. @nijikokun having trouble finding where the functionality for hotkeys goes. I've added new keys to `hotkeys.js` and also read the `hotkeys-listener.js`. Thanks for your help!

[2020-06-10 10:07] aesyondu commented on #2017
Was just looking for this. `cmd+n` is used though for `New Request` modal.

[2020-06-10 12:13] sebastianjonasson commented on #2257
Alright, sweet. Will start implementing this soon.

[2020-06-10 12:47] vdurante opened #2272 "Publish Insomnia on Microsoft Store"

[2020-06-10 14:15] alexraileanu opened #2273 "Response status code"
previously, it used to be possible to see the description of each status code in the response. something like: `200 OK` or `404 Not Found` or whatever. now, i think since a recent update, it only shows the code and not the text. is this an intended feature? is there any way that i can get the text back?

i am on the latest version (v2020.2.2) on macos 10.15.4.

[2020-06-10 14:20] alexraileanu commented on #2273
my bad. looking thru the code, it looks like the text of the status should be shown. it is probably a bug of some sort with my api. other requests seem to show the text.

[2020-06-10 14:20] #2273 closed, assigned to nobody

[2020-06-10 14:59] baleeds commented on #2255
I'm also hitting the same issue.

Edit: Fixed by unchecking "Validate certificates" in settings.

[2020-06-10 15:13] EXPEylazzari opened #2274 "OAuth 2 Displays Client Secret in Clear Text"
When using OAuth 2 authentication with a grant type of "Client Credentials", the "Client Secret" field displays the user's input in clear text.

Steps to reproduce the behavior:
1. Create a new request.
2. Go the to the authentication tab and select OAuth 2.
3. Set the "Grant Type" to "Client Credentials".
4. Enter a value in the "Client Secret" field.

<img width="585" alt="Screen Shot 2020-06-10

[2020-06-10 16:07] gschier commented on #2273
The latest version of Insomnia added support for HTTP/2, which does not have a status reason anymore.

[2020-06-10 16:22] StummeJ commented on #2259
@nijikokun  I don't think it is.... this is a cookie issue, also fixed in postman.  With identity server and social logins the cookie is not kept/sent back to the identity server causing a correlation error.

[2020-06-10 18:13] gschier commented on #2271
The latest release contained a slight change to the handling of environment variables. It looks like this has affected your use-case..

In the latest version, environment variables are rendered top to bottom. So, in your example, the hash is being calculated before the variable is rendered.

[code]

If you re-order your environment variables, you should end up with the correct result again.

[code

[2020-06-10 18:15] GrangerAts opened #2277 "Edit Variable dialog's Environment Variable dropdown should be sorted."
## Description
In a request body, when I click on the widget that represents my variable, an "Edit Variable" dialog box pops up that has a drop-down/combo-box for switching the Environment Variable. The list in the drop-down is not alphabetically sorted, so it's really hard to find the variable I want to switch to. The list should be (alphabetically) sorted according to what names are displayed (o

[2020-06-10 18:15] #2245 closed, assigned to nobody

[2020-06-10 21:32] Jean-MarcCheynier opened #2278 "[Insomnia Designer] Windows : How can I copy server response"
**How to copy Response body**

In insomnia designer when I execute a request using the preview on the right sidee, I can see the response from the server in a fancy black square, but I cannot copy this response. **I can only click on the "Download" button** and download it in a separate file... I find it not practical did you prevent the text selection on purpose ?

Insomnia designer, windows 10.

[2020-06-11 02:29] WillGoGithub opened #2279 "[Feature Request] Allow controls the font family"
Insomnia Core & Designer Version: 2020.2.2
Operating System: Windows 10

# Description

Current preferences setting are only allow select one font style. It can not cover non-English characters.

![image](https://user-images.githubusercontent.com/45837931/84336452-d8a9bc00-abc9-11ea-8bac-20c843a82e13.png)

Hope can add the feature to setting font family just like VS Code. 👍

![image](https://user-

[2020-06-11 02:57] WillGoGithub opened #2280 "[Insomnia Designer] Themes of Core Default's contrast ratio too low"
**Describe the bug**
In the **Preview mode** there are two problems of context in the info.description[markdown.list].
1. The contrast ratio is too low.
2. Missing decoration.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Application > Preferences > Themes'
2. Click on 'Core Default'
3. Create blank document
4. Add the following code
[code]

**Expected behavior**

1. High contrast r

[2020-06-11 03:02] aesyondu commented on #1383
My usecase is I wanted to add a `Full Timeline` Tab in the `response-pane`, which would display the full timeline of the request (request header & body, response header & body). Maybe add a copy to clipboard somewhere. Also add a `Send and Download Full Timeline` in the `Send` context menu.

[2020-06-11 05:55] jedelvalled commented on #2271
Done, that resolved the issue. The change actually makes sense... I guess we can close this bug as "Works as Designed". Thank you very much.

[2020-06-11 06:58] alexraileanu commented on #2273
@gschier ohh, i did not know this. thank you for your help and for the pr! :)

[2020-06-11 13:34] IsidroFaria opened #2281 "Latest version breaks ability to address objects declared in Enviroment"
**Describe the bug**
With version 2020.2.2 can't access objects in arrays

{
   "test": [
    {
      "a": 1
    },
    {
      "b": 1
    }
  ],
  "aa": {{ test[0].a }},

**To Reproduce**
Steps to reproduce the behavior:
1. Declare an object in Base Environment with array of objects
2. Refer to it in the body of a request or in the environment
3. Not possible to refer to a property of this object

[2020-06-11 13:48] keihuli opened #2282 "Copy as CURL with Multipart"
If you make an Copy with CURL in an POST with an Multipart Body with an choosen file, the file is not include.

A clear and concise description of what the bug is.

1. Get in POST request
2-Use MULTIPART as body type and
3. Add a field
4. Change the type to "File"
5. Then -> Choose File (what you want)
6. right click on the post
7. Copy as CURL
8. Paste IT to an editor
9. Look on the result and se

[2020-06-11 14:33] kirbyjs opened #2283 "Read AWS Credentials from aws-sdk"
**Is your feature request related to a problem? Please describe.**
This stems from #1206, in where there might be a solution in where we can bake that feature requested into insomnia.

**Describe the solution you'd like**
So if the user doesn't define the access key, secret and/or session token we could just fallback to grabbing the credentials form the aws sdk.

So from the current code now: http

[2020-06-11 17:21] EmperorEarth opened #2285 "Focus Body Keyboard Shortcut"
In a variety of contexts, I adjust the request body (usually JSON/GraphQL).

Can we get a keyboard shortcut to set it as the focus?

Also would be nice to have a keyboard shortcut to focus "Query Variables" for GraphQL requests

[2020-06-11 18:57] augustoroman commented on #1972
I took at stab at implementing this (#2284) and it turned out to be simple and, I think, generally useful when dealing with any time-sensitive API.

[2020-06-11 19:28] ghost commented on #2104
FYI you can treat the Flatpak build as you were using a closed source release.

https://github.com/flathub/com.visualstudio.code/blob/master/com.visualstudio.code.yaml#L45
https://github.com/flathub/com.dropbox.Client/blob/master/com.dropbox.Client.json#L92
https://github.com/flathub/shared-modules

I've been running insomnia in a flatpak for months without any issues, using this terrible code sin

[2020-06-11 20:00] #1972 closed, assigned to nobody

[2020-06-12 15:23] robinbertram opened #2289 "Folder hiearchy with snapshots and version control"
When using snapshots with version control, I'm finding it difficult to track exactly which of my requests that have been modified. I've a lot of folders and subfolders, and the snapshot overview doesn't tell me which folder a request belongs to.

It would be nice to be able to get the hiearchy of the request, something like;
[code]

[2020-06-12 18:42] wsrast opened #2290 "Insomnia Core Team sync issues"
Hi, I have a team of 11 that I recently signed up with Insomnia, and we're experiencing some odd behavior with the team sync functionality.

In particular, I've noticed that your sync algorithm has three problems:
1. Syncs are duplicating folders on one machine when changes have been made on another machine
2. Syncs are missing folders which are moved from one workspace to another
3. Environment v

[2020-06-12 20:44] nijikokun commented on #2259
Gotcha @StummeJ they looked similar! Re-opening!

[2020-06-12 20:44] sonicyeti commented on #2278
On it, thanks @Jean-MarcCheynier!

[2020-06-12 20:47] #2280 closed, assigned to nobody

[2020-06-13 04:07] gschier commented on #2290
Hi there. Would you be able to email support@insomnia.rest with your account details so we can take a look? It sounds like something might be off

[2020-06-13 16:37] #2271 closed, assigned to nobody

[2020-06-14 22:02] develohpanda opened #2293 "Read from `.insomnia` git data directory"
`inso` currently works with an API spec on the filesystem itself. It should also allow reading from the `.insomnia` git data directory, in order for commands to run seamlessly. You should be able to access a model via an id-ish, ie: `inso generate config spc_123`.

In the future we also want to use other data sources, like the Insomnia export file format `insomnia-export.yaml`, and the Insomnia El

[2020-06-15 07:19] jaygurnani commented on #1904
![image](https://user-images.githubusercontent.com/481859/84628592-4b010000-af2c-11ea-8af9-9f5cf4c1cd27.png)
This is the error you get from the underlined issue

[2020-06-15 11:46] guaranadev commented on #1979
I have the same problem after any kind of response data is saved to file.

OS: Windows 10
App version: 2020.2.2

[2020-06-15 14:14] ryl commented on #1003
Not having some way to use an api in an ad-hoc fashion without modifying carefully crafted saved requests makes using this app a bummer. Postman does this better in my opinion with its "unsaved changes" indicator in tabs. Having some kind of mechanism like scratches discussed much earlier in this issue would be welcome. Anything! Please!

[2020-06-15 14:21] ctcampbell commented on #645
Another request for this. My company's namespace is long and using XPath 1.0 is painful.

[2020-06-15 17:19] nijikokun commented on #2281
Hi @IsidroFaria 👋

This issue has been fixed in https://github.com/Kong/insomnia/pull/2249 but has not been released yet

[2020-06-15 20:21] #2278 closed, assigned to sonicyeti

[2020-06-16 08:12] michael-82 commented on #1876
This also affects fetching access tokens when the user password contains such a sequence.

When I create a user in keycloak with "foo%6cbar" and try to get a token with resource owner password credentials, it fails. "foo$6cbar" or "foo%!Ubar" for example are working fine.

[2020-06-16 08:20] kjugi opened #2298 "DOCS - Import by "Run-In-Insomnia Button""
**Describe the bug**
There is a problem when want to import example project from docs: https://insomnia.rest/run/?label=To-Do%20Monkey&uri=https%3A%2F%2Fgist.github.com%2Fgschier%2F27a277ed5dd3b0d2b0bc063482e6417a

After processing to open an app we've got error message "The URI does not contain a valid specification". With Stack trace like this:

[code]

**To Reproduce**
Steps to reproduce the be

[2020-06-16 11:25] barseghyanartur opened #2299 "Feature request: Allow usage of dynamic values in Multipart Form"
**Is your feature request related to a problem? Please describe.**
JSON works really nice, but when I switch to Multipart Form I can't dynamically set values.

**Describe the solution you'd like**
Allow usage of dynamic values in Multipart Form.

**Describe alternatives you've considered**
No alternatives, so far.

[2020-06-16 11:56] Vyoam opened #2300 "Display Paths of Client Certs in Workspace Settings -> Client Certificates"
**Is your feature request related to a problem? Please describe.**
When dealing with multiple client certs, it'd be good to conveniently look up the paths where the client certs are stored, especially as the edit feature is absent.

<img width="576" alt="T" src="https://user-images.githubusercontent.com/1176140/84770676-9af7c980-aff5-11ea-9e39-97e8b8b7ab38.png">

**Describe the solution you'd like

[2020-06-16 16:03] elijahjcobb opened #2301 ""Prettify GraphQL" Incorect Indentations"
**Describe the bug**
In my preferences, I have "Indent with tabs" enabled and my "Editor Indent Size" is set to 4. However, whenever I click "Prettify GraphQL" in a GraphQL request body, it reformats my request to 2 spaces.

**To Reproduce**
Steps to reproduce the behaviour:
1. Enabled: "Indent with tabs"
1. Set "Editor Indent Size" to 4
1. Entered GraphQL request
1. Clicked "Prettify GraphQL"

**

[2020-06-16 17:23] diego-lipinski-de-castro commented on #1517
I tried to show one 3.3mb pdf and now my app is frozen, I can close and open and it remains frozen, Im on Macos 10.15, what Im supposed to do? I really dont want to clear app data and lose everything saved there.

Edit: I went to /users/{username}/app support/insominia/responses and deleted everything in this folder, so the response just fails to load and the app run again as normal

[2020-06-16 17:29] #2277 closed, assigned to nobody

[2020-06-16 17:49] nicholasraphael commented on #2157
@nijikokun having trouble finding where the functionality for hotkeys goes. I've added new keys to hotkeys.js and also read the hotkeys-listener.js. Thanks for your help!

[2020-06-16 19:35] dmeunier opened #2302 "Some team members cannot see certain workspaces when shared"
We meet some workspace synchronization problems inside our development team. We are working with "version control beta". Some of the workspaces are successfully shared but other developers cannot see them in the remote workspace list.

**To Reproduce**

1. Create workspace
2. Create and Push Snapshot
3. Share with "Boxtal Developers"

We are all developing on Linux Operating Systems and we are all

[2020-06-16 19:43] dmeunier opened #2303 "Seeing another workspaces history and objects when viewing or creating snapshots"
We meet some version control problems switching from a workspace to another. I currently see the comments of another workspace when I display the master branch history of the current workspace. Moreover when I want to create a new snapshot I can see all the objects of another workspace as "modified objects".

We are all developing on Linux Operating Systems and we are all up to date (Insomnia 2020

[2020-06-16 19:46] dmeunier opened #2304 "Team members not showing up without re-opening dialog"
We meet workspace share problems inside our development team. When we want to share a workspace, the select list is very often empty (you have no team) and we have to close and open it again several times before seeing our team.

We are all developing on Linux Operating Systems and we are all up to date (Insomnia 2020.2.2).

[2020-06-16 19:53] nijikokun commented on #2304
@dmeunier wasn't sure if you meant re-opening the application or the dialog, I assumed the dialog, if that isn't the case can you provide more details 😊

[2020-06-16 19:58] nijikokun commented on #2157
Do you mind opening a PR @nicholasraphael so we could review the code to better give feedback?

[2020-06-16 21:52] matheusmb commented on #1666
Same issue here. Will it ever be fixed?

[2020-06-17 06:01] gregsdennis commented on #975
Still running into this issue.  Even affects double-encoding:

![image](https://user-images.githubusercontent.com/2676804/84861110-7585c100-b0c4-11ea-9327-f193c591937e.png)

This happens for both of the following URLs

- `https://trello.com/1/batch?urls=%2Forganizations%2F538627f73cbb44d1bfbb58f0%3Ffields%3Dname%252Cprefs` (double-encoded comma)
- `https://trello.com/1/batch?urls=%2Forganizations%

[2020-06-17 19:06] aniq-pirzada commented on #2093
@nijikokun can you add the feature label to this please :)

[2020-06-17 22:58] #2293 closed, assigned to develohpanda

[2020-06-18 09:26] dmeunier commented on #2304
@nijikokun we have to close and open the "share workspace" dialog several times (not the application).

[2020-06-18 14:55] eMRaistlin opened #2308 "Add possibility to choose UNIX or DOS formating, and ASCII/UNICODE export when saving result of xml"
Bonjour,

I'm french, and we use a lot of accentuated letters, like é/è etc….

It's usually not a pb, but when the source is located on unix server and you read it into Windows, it's a pb.
I would like to avoid using an external converter, so I was wondering if there was any option to choose the format of the file you download when you click on the « Send and Download » instruction.

[2020-06-18 16:57] nicholasraphael commented on #2157
@nijikokun opened a [PR](https://github.com/Kong/insomnia/pull/2309)

[2020-06-18 17:17] gschier commented on #2157
Just a quick question @nicholasraphael. What are you needing the dev tools for in the production build? The hotkey _is_ actually enabled in the development version, when building from source but we chose to disable it for production, as we didn't find it very useful (although you can still open it from the View menu).

[2020-06-18 17:25] #2290 closed, assigned to gschier

[2020-06-18 18:01] ghost opened #2310 "`insomnia` request results in "Error: SSL peer..." | while copied `curl` (from insomnia) works"
**Describe the bug**
Get the following error:

        "Error: SSL peer certificate or SSH remote key was not OK"

When making a request using insomnia while making the same request using curl works (the curl command was copied from insomnia)

**To Reproduce**
Steps to reproduce the behavior:
1. setup a get request in insomnia
2. send the request
3. returns an error "Error: SSL peer certificate or

[2020-06-18 19:07] nicholasraphael commented on #2157
It seems this was the request from @heptal just to follow the convention of developer applications having this feature in production. However, if you guys think this is not something the product can benefit from then I haven't done too much work on it yet.

[2020-06-19 04:44] develohpanda opened #2312 "Implement unit testing capability for CLI"

[2020-06-19 17:18] baleeds opened #2313 "[Feature] Schema explorer with query builder"
**Is your feature request related to a problem? Please describe.**
Writing queries and mutations manually takes awhile.  They also can easily get out of date, requiring manual updates.

**Describe the solution you'd like**
Gatsby's version of GraphiQL has an extension called Explorer.  This extension [can be seen here](https://www.gatsbyjs.org/docs/running-queries-with-graphiql/).  It allows quick

[2020-06-20 08:08] adelbke commented on #1363
Is there a way I can contribute to the implementation of this feature?

[2020-06-20 08:33] leolux opened #2314 "Option to disable HTTP redirects (301)"
As a REST client it should be able to display HTTP request and response headers. But currently insomnia always follows HTTP redirects and does not allow me to inspect HTTP response headers for the very first request. It is quite important to investigate HTTP redirects to ensure everything works as expected. The most important part of HTTP redirects are HTTP headers. So insomnia could be able to in

[2020-06-22 22:34] lsuttle commented on #675
Another +1, I cannot use this without this functionality.

[2020-06-23 00:17] develohpanda commented on #675
Hi @lsuttle, there is a PR currently open but is blocked on testing and validating the new functionality (https://github.com/Kong/insomnia/pull/2020#issuecomment-630466618). Is this something you may be able to help with? If so, I can prepare a bundle to install on your OS.

[2020-06-23 00:52] ryanprior commented on #675
I could help with validation. I'm on elementary OS 5.1.5 (like Ubuntu Precise) and I'm using [mkcert](https://github.com/FiloSottile/mkcert/releases) as my local CA for API testing. If you can provide a bundle I'd be happy to try it with that configuration.

[2020-06-23 02:34] lsuttle commented on #675
Sure I can give it a try, I have most recent Windows 10 install.

[2020-06-23 07:38] mukulchourasia24 commented on #1918
It's not accepting - instead try to use _ it works.

[2020-06-23 09:26] kingwrcy commented on #2262
Really helpful with pre and post script.
Like below:
[code]
Please add the ability.

[2020-06-23 15:47] kreutter commented on #1784
Could not find the pull request mentioned by @elemanhillary.
This feature would make Insomnia so much more useful with GraphQL. It's terrible to keep fragments in sync when evolving an API.

[2020-06-24 00:05] foxjazz opened #2316 "trying to build get errors:"
**What is your question?**
How is this built?  using node 12...

**What is the context?**
npm run bootstrap results in:

lerna ERR! npm install stderr:
gyp ERR! find Python
gyp ERR! find Python Python is not set from command line or npm configuration
gyp ERR! find Python Python is not set from environment variable PYTHON
gyp ERR! find Python checking if "python" can be used
gyp ERR! find Python -

[2020-06-24 00:07] foxjazz opened #2317 "auto repeat interval"
**Is your feature request related to a problem? Please describe.**
I would like to add a feature where a test can be re-run at a time interval.

Maybe right click on a post or get request and a menu can come up showing how many times, and interval of test.

[2020-06-24 00:26] shellscape commented on #2245
FWIW AWS Lambda does not provide headers lowercased (and has no intention of modifying that behavior). Although I would consider that incorrect, it is what it is for a large swath of users.

[2020-06-24 00:29] shellscape commented on #2245
@gschier which version is this landing in? I'm up to date on the regular channel and don't see this feature yet.

[2020-06-24 17:44] wsrast opened #2319 "Beta sync new team members fail with "Failed to decrypt data""
**Describe the bug**
New team member joining beta sync gets "Failed to decrypt data", and cannot see shared workspaces shared through the new sync service.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new team member to the beta sync
2. New user will see a beta shared workspace
3. Sync will initialize
4. All attempts to pull snapshots will fail with "Failed to decrypt data"

If you

[2020-06-24 19:47] silvioprog opened #2320 "Allow to disable popup suggestion"
Hi.

It would be nice some option to disable the popup below:

![image](https://user-images.githubusercontent.com/1456829/85620087-aa9c9100-b639-11ea-9bf3-ce881f4469ad.png)

It opens on each typed value (e.g: ```1```), making it hard to typing since we have to use <kbd>Esc</kbd> every typed value.

Cheers

[2020-06-24 20:11] gschier commented on #2320
Hi @silvioprog! You can disable automatic autocomplete suggestions by setting the **autocomplete popup delay** to 0 in the app preferences.

Note, you will still be able to summon it when needed with ctrl+space

[2020-06-24 20:11] #2320 closed, assigned to nijikokun

[2020-06-24 20:12] silvioprog commented on #2320
Solved! Thank you @gschier ! 😃 👍

[2020-06-25 00:35] develohpanda opened #2321 "Implement linting capability for CLI"

[2020-06-25 14:51] wesinator opened #2322 "[website] menus on https://insomnia.rest/graphql/ page don't work"
**Describe the bug**
The menus on the website graphql page don't work

(I would report on https://github.com/Kong/insomnia.rest but that project doesn't have issues)

**To Reproduce**
Steps to reproduce the behavior:
1. https://insomnia.rest/graphql/
Try to click the menus (Docs, Plugin, etc.)

Reproduced in FF and Safari

**Desktop (please complete the following information):**
 - OS: macOS
 - In

[2020-06-25 15:31] engineer-go commented on #2282
Have you figured out how to add file yet? I have the same problem - my curl request is not working because the correct file path wasn't copied.

[2020-06-25 16:58] keihuli commented on #2282
NO. I have no solution...

[2020-06-25 17:17] rubendebest opened #2323 "Price link not working on page"
**Describe the bug**
Links to "Docs", "Plugins", "Pricing" and "Login" are not working at https://insomnia.rest/plus/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://insomnia.rest/plus/
2. Try to Click on Pricing. It does not work.

**Expected behavior**
1. Links working on https://insomnia.rest/plus/

[2020-06-25 20:01] nijikokun commented on #2323
Nice catch, recently changed the layouts to make the footer auto-sticky and it seems like this page was missed!

[2020-06-25 20:01] nijikokun commented on #2322
Related to #2323

[2020-06-25 20:05] nijikokun commented on #2314
Welcome @leolux

You can change the redirect settings for a request by right clicking and choosing "settings":

![image](https://user-images.githubusercontent.com/198276/85790286-dd4f9380-b6e4-11ea-84b2-7f5c65d72282.png)

Then choose the option you'd like from the follow redirects dropdown:

![image](https://user-images.githubusercontent.com/198276/85790392-007a4300-b6e5-11ea-8b8f-c81eee9b93fd.png

[2020-06-25 20:08] #2314 closed, assigned to nijikokun

[2020-06-25 20:11] nijikokun commented on #2317
Welcome @foxjazz 👋

You can currently set a request to be re-run at an interval by right clicking the "Send" button and choosing "Repeat on Interval":

![image](https://user-images.githubusercontent.com/198276/85790602-52bb6400-b6e5-11ea-9fbb-60c0df3323c7.png)

From there enter the desired amount of delay, and click "Start"!

![image](https://user-images.githubusercontent.com/198276/85790653-69fa5

[2020-06-25 20:12] #2317 closed, assigned to nijikokun

[2020-06-26 01:05] bmhatfield commented on #2310
Having this same problem. According to the log, Insomnia is no longer correctly using my system trusted roots:

[code]

This previously worked totally fine; not sure if it's that validation was added or insomnia support for keychain roots was broken in a recent version on OSX.

[2020-06-26 01:06] bmhatfield commented on #2310
Related: https://github.com/Kong/insomnia/issues/2255

[2020-06-26 12:55] adhatama commented on #2015
This is happening to me as well. Idle Insomnia getting a high CPU and need restart to fix.
I'm not sure maybe it's happening after getting back from Sleep.

[2020-06-26 14:47] doctorwu opened #2327 "Ingress Path Incorrect when Generating Kubernetes Config with openapi-2-kong"
**Describe the bug**
When you specify a path in the server url, the Ingress path ends in `.*`, which is not correct. If you specify the strip path annotation in the OAS specification, you will get a 404 when proxying to the upstream. Kong is stripping the whole path.

OAS Snippet:

[code]

My request looks like this: `/account/balances`

Here is my upstream application log when the Ingress path is

[2020-06-26 19:09] doctorwu commented on #2327
I think the answer lies in the pathType property.

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#httpingresspath-v1beta1-networking-k8s-io

[2020-06-28 03:04] labs-dlugo commented on #667
+1

[2020-06-29 01:21] renatonolo commented on #1621
I was trying with insomnia snap package and a was facing with this problem...
After uninstall snap package and install .deb package, this feature worked like a charm.

The bad news is that I didn't make a backup of my collection and I forgot that.. =X

Version 2020.2.2...

[2020-06-29 17:05] janhapke commented on #1025
Ran into the same issue while requesting data from a 3rd party endpoint. What helped for me was to go into the Header Tab in insomnia and manually specify `Accept-Encoding`: `gzip, deflate, br`.

Whether that helps probably depends on the 3rd party endpoint, though.

[2020-06-29 18:48] #2157 closed, assigned to nijikokun

[2020-06-29 19:32] paulocuambe commented on #2193
Hi @callebdev . I don't know why this is happening but someone else reported a similar issue here #1982 . You should read the thread and consider closing this if necessary.

[2020-06-29 21:54] #2312 closed, assigned to develohpanda

[2020-06-29 22:34] callebdev commented on #2193
Hi @paulocuambe, thanks for your attention! I'm not using the same computer anymore, so I cannot guarantee whether it has been fixed or no. But according to the issue #1982  seems that this error is not happening in all macOS computers, but some of them, near to `10.15.3` and `10.15.4` versions.

Thanks for mentioning my issue there!
Since I cannot reproduce this error anymore in order to provide

[2020-06-29 22:34] #2193 closed, assigned to nobody

[2020-06-30 00:00] #2321 closed, assigned to nobody

[2020-06-30 14:41] skiat opened #2331 "Designer git commit forces file rights"
**Describe the bug**
All the tracked files are forced and committed without execution rights. i.e. mode 755 resets to 644

**To Reproduce**
Steps to reproduce the behavior:
1. have git shared project
2. have some file UNRELATED to insomnia / OUTSIDE .insomnia folder with execution right tracked into git
3. change something in an insomnia request/record, then commit and then push

**Expected behavi

[2020-06-30 20:53] #1505 closed

[2020-07-01 02:38] develohpanda commented on #2316
Hi @foxjazz, you need to use Node 10. 😄 There is a note in the readme to check the current node version in `.nvmrc`.

[2020-07-01 02:38] #2316 closed, assigned to nobody

[2020-07-01 04:42] develohpanda commented on #2240
This testing is using gitlab-ce 11.10.8, self-hosted on Azure.

# tl;dr
1. Granting the `api` scope to the access token will allow for clone, push and pull of all branches.
2. Trying to push to a protected branch, when a user does not have permission to push to that branch, **silently** fails. Insomnia does not prompt of any failure to push to a protected branch, but the commits never end up in th

[2020-07-01 17:18] reilg commented on #1778
This would be incredibly useful.

[2020-07-01 19:16] designed4device commented on #2255
Works, but this is a security vulnerability. We have not found a way to get this working with validation aside from downgrading insomnia. Best I can tell is it is some weird incompatibility with how my company's cert authority issues certs and insomnia. Would really like to see a fix for this so we can upgrade to latest versions.

[2020-07-01 22:57] #2179 closed, assigned to nobody

[2020-07-02 01:27] gruberdev commented on #1778
You can actually do it your own in a fairly easy way (especially if you rely on a CI), whenever you sync your API to a remote Git, it creates a `.insomnia`  folder, where inside it automatically creates an `ApiSpec` folder, inside there's one `.yaml` file for each one of your API specs.
The good news is: each `.yaml` is elaborated in such a consistent way that if you exclude the first 3 lines and

[2020-07-02 01:30] designed4device commented on #2310
We're having same problem with a cert issued by internal issuer/authority.
Downgrading to 7.1.1 fixed it.
Both root and issuer certificate are trusted in macOS keychain.

[2020-07-02 15:13] JDonaghy commented on #1103
I'm really looking forward to using this feature, but it does not seem to be available and working. Since .wsdl is listed as a valid import extension, I tried to import [this WSDL file](https://www.w3schools.com/xml/tempconvert.asmx?WSDL) using Insomnia Version 2020.2.2 and I get the following error: Error: No importers found for file.
Is it just not in the release branch yet?

[2020-07-02 18:59] develohpanda opened #2339 "CLI - scope unit tests to run"
In order of importance:
- [x] Run All Test Suites for a Document
- [ ] Run everything <- Not doing this because user _must_ provide an environment to use from CLI.
- [x] Run Individual Tests from a Suite

[2020-07-03 03:48] ghostbody commented on #1778
That will be awesome while [swaggymnia](https://github.com/mlabouardy/swaggymnia)v is a decent solution currently.

[2020-07-03 09:01] renatojf commented on #944
Can this be reopened? This would be a great feature to have.

[2020-07-03 12:31] wesleyjconnorsesame opened #2340 "How to sort folders in the left hand pane"
**What is your question?**
I have alot of folders in insomnia one for each microservice and we have 50+, I have created the folders as I needed them and I now find it very hard to find for instance 'search-service' because it is not alphabetical
Is it possible to sort them by name?

[2020-07-03 22:44] sunil-bagde opened #2341 "Not able to create build or package executable"
npm run app-package not able create build package executable

**To Reproduce**

# Install and Link Dependencies
npm run bootstrap

npm run  app-package

**Expected behavior**
Should create build or package

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. macOS 10.15.1]
 - Installation Method: [e.g.

[2020-07-04 06:55] abhuyan opened #2342 "JSONpath evaluator not working as expected"
**Issue**
The JSON path evaluator (https://github.com/dchester/jsonpath) which is being used is not working in the app as expected when multiple keys are given in an expression.

**To Reproduce**
Steps to reproduce the behavior as per the JSON object example given at https://github.com/dchester/jsonpath
1. Try the expression: $.store.book[*].[category,price]
2. No results in Insomnia app

**Expect

[2020-07-04 18:19] arjunkesava commented on #2301
@nijikokun, I had made a PR for this issue.
Thanks for creating this issue @elijahjcobb

[2020-07-05 12:11] sunil-bagde commented on #2341
Fixed

[2020-07-05 12:11] #2341 closed, assigned to nobody

[2020-07-05 17:18] ranayas opened #2345 "Wrong and blurry/pixelated icon"
- Insomnia Core installed but Insomnia Designer icon is displayed
- Blurry/pixelated icon on the title bar and panel window button
- No icon in title bar of help dialog

**To Reproduce**
Steps to reproduce the behavior:
1. Open Insomnia
2. See error

**Expected behavior**
Correct icon

**Screenshots**
![inmsonia](https://user-images.githubusercontent.com/65342923/86538106-82bef000-beb9-11ea-88db-f

[2020-07-06 07:13] 956MB opened #2346 "Make JSON inside Designer preview selectable"
App: Insomnia Designer

**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
It would be cool if the JSON text inside the 'Example Value' section of the api preview was selectable.

**Describe alternatives you've considered**
N/A

**Additional context**
I don't know if it's the way it's being rendered for preview that makes it not selectable,

[2020-07-06 07:20] develohpanda commented on #2346
Hi @Bloumbs! This is likely fixed by #2296, which should be included in the next release. 🤗 Closing the issue for now, keep an eye out for an update (in a week or so)!

[2020-07-06 07:21] #2346 closed, assigned to nijikokun

[2020-07-06 07:25] 956MB commented on #2346
@develohpanda AH, did not see it, my b. 👍

[2020-07-06 12:58] gerhard4 opened #2347 "Provide visual preview support for NDJSON"
**Is your feature request related to a problem? Please describe.**
Many APIs return data in NDJSON (application/x-ndjson) format. The visual preview renderer almost gets it, but not quite. Specifically, the collapsing doesn't work correctly.

**Describe the solution you'd like**
I'd like the visual preview renderer to detect that the result is NDJSON (either by how it is formed, or by looking at t

[2020-07-06 18:30] vdsimako opened #2348 "Export Format Specification v4"
**What is your question?**
Where I can find export format specification for v4?
Because in v3 specification(https://support.insomnia.rest/article/52-importing-and-exporting-data) request body stores as text.
But in v4 specification request body for json payload type stores as object
[code]

same time xml payload exports as text
[code]

**What is the context?**
I wrote a service that convert insomn

[2020-07-06 19:08] gschier commented on #2348
Hi @vdsimako,

That help document is in-fact version 4's documentation. the fact that it says `3` is an error on our part.

The `text` property of `body` is always a string. I just exported a test request from Insomnia and this is what it gives.

[code]

![image](https://user-images.githubusercontent.com/587576/86630201-5cfd1e00-bf81-11ea-9f4f-8be0fff32fbb.png)

[2020-07-06 19:15] vdsimako commented on #2348
Hi @gschier,
I'm using 2020.2.2 version of Insomnia on Mac OS
Here's example
[Insomnia_2020-07-06.json.zip](https://github.com/Kong/insomnia/files/4880827/Insomnia_2020-07-06.json.zip)

<img width="1649" alt="image" src="https://user-images.githubusercontent.com/15703327/86630841-08d05900-bfd6-11ea-84a2-a6eee2547b6e.png">

also was added api_spec type that didn't figured in v3 specification

[2020-07-07 01:33] develohpanda opened #2354 "Copy-paste in unit test code-editor doesn't trigger save"
Copy-pasting does not trigger a save, but typing does. This causes the test to run with stale data (eg. `expect(true).to.equal(false);` passes.

![2020-07-07 13 30 54](https://user-images.githubusercontent.com/4312346/86684005-3d83f500-c056-11ea-9c6a-c2a2c4dced89.gif)

[2020-07-07 09:49] vdsimako commented on #2348
@gschier - translation woks as expected.

[2020-07-07 09:49] #2348 closed, assigned to nobody

[2020-07-07 14:43] sgautrin opened #2355 "Allow escaping a specific double curly braces entry in body"
This is somewhat related to issue #1415 as it targets the same mechanism.

Currently with the settings highlighter as an answer to #1415, you either have the possibility of using variables in your body or you have the possibility to input litteral double curly braces. This is limiting as when you need the litterals, you're locked out of also being able to use environment variables.

My context is

[2020-07-07 20:17] #2339 closed, assigned to develohpanda

[2020-07-07 20:33] nijikokun opened #2357 "Enable unit testing by default"

[2020-07-08 05:36] miraclx commented on #1536
What's the progress on this? would be really handy.

[2020-07-08 06:41] develohpanda opened #2361 "Usage Guide for CLI"

[2020-07-08 11:06] gillescoolen commented on #1367
@gschier could you take a look at the example file @tobylo provided? Thanks!

[2020-07-08 15:00] wsrast commented on #2319
This continues to be an issue, but I have additional information. The ability to see branches created by others joining the team sync is randomly failing.

Also, I've tried having new team members go through the Insomnia removal process here: https://osxuninstaller.com/uninstall-guides/remove-insomniax-2-1-8/

That does not solve the problem. My guess is that there is something about having preexi

[2020-07-08 19:59] #2361 closed, assigned to develohpanda

[2020-07-08 21:13] davidnavas-ashkalabs opened #2362 "Program starts in wrong display (Ubuntu)"
**Describe the bug**
I'm having this problem where insomnia always starts in the display at the right, not the primary display o secondary display, it starts on the display on the right regardless if it is primary or secondary display.
My setup is a PC monitor set to primary default and a TV on the right for presentations.

**To Reproduce**
Steps to reproduce the behavior:
1. First of all I'm usin

[2020-07-09 01:49] develohpanda opened #2364 "Git status on homepage is incorrect when multiple github repositories are cloned"
**Describe the bug**
The branch, and last edited labels on each document of the homepage is incorrect when transitioning between the two.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone a repository (eg. https://github.com/develohpanda/designer)
2. Make some changes, commit, push - so that there are no more change
3. Clone a different repository
4. Make some changes, commit, push - so

[2020-07-09 02:04] develohpanda opened #2365 "Changing branches in git does not remove items, only adds"
**Describe the bug**
I have two branches - `master`, and `break-test`. The only difference between the two, is that `break-test` has added a new unit test (but it could be anything - a new request, a new environment, etc).

With all changes committed, if I switch `master -> break-test`, the new test is added and I can see it in the UI. Then, switching `break-test -> master`, does not delete the ne

[2020-07-09 15:01] o-az commented on #1103
Any idea if this feature will ever become available?

[2020-07-09 16:10] mattcdavis1 opened #2366 "[Feature Request] Nested Folders"
I'm having to prefix all my folders by company, service, etc which is a pain and not ideal. I think nested folders are needed for better organization. For example:

* Google
  * Docs
    * Create
    * List
    * Update
  * Drive
  * etc..
* Salesforce
* Mavenlink
  * Invoices
    * Create
    * Update
    * Save
    * Etc..
  * Workspaces
    * Stuff..
* Some Client
  * Forms
    * Form 1
    * F

[2020-07-09 18:58] develohpanda commented on #2366
Hi! Nested folders are supported, curious to see what you're experiencing - feel free to reopen the issue if there is something else you are after. 🤗

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/4312346/87079678-81574400-c27a-11ea-9017-e9e5f0934c68.png">

[2020-07-09 18:58] #2366 closed, assigned to nijikokun

[2020-07-09 19:08] mattcdavis1 commented on #2366
Didn't even realize that. Thanks for pointing that out!

On Thu, Jul 9, 2020 at 2:58 PM Opender Singh <notifications@github.com>
wrote:

[2020-07-09 19:08] nijikokun opened #2367 "CLI navigation not working on git bash for windows"
Currently when trying to use a command like `inso run test` the navigation doesn't update when using arrow keys

[2020-07-09 19:11] nijikokun opened #2368 "CLI command for exporting specification"
Currently the specifications are stored under the `.insomnia` folder and are wrapped with insomnia meta information. We need a way to export the raw specification for use with third-party tools like `portal-cli` and `kong mock plugin`.

Expected usage:

`inso export spec`

Expected features

- Raw output
- Output to file

[2020-07-09 19:17] nijikokun opened #2369 "Upgrade Electron"
Now that we're finally able to update `node-libcurl` (the main blocker for this task) we should be able to have a better chance at this. Note, there is a previous issue for the first attempt at upgrading Electron, which is now closed in favor of this: #1847

## Discoveries So Far

- `font-manager` does not build for Node 12 yet, however there is an [open PR](https://github.com/Kong/insomnia/issues

[2020-07-09 19:17] nijikokun opened #2370 "Configuration file for CLI"

[2020-07-09 21:42] develohpanda opened #2371 "Silent failure when pushing to protected branch with insufficient permissions"
Trying to push to a protected branch, when a user does not have permission to push to that branch, silently fails. Insomnia does not prompt of any failure to push to a protected branch, but the commits never end up in the repository. Needs further investigation working with protected branches on other VCS providers too.

Found while testing #2240

[2020-07-09 22:45] Rashgild opened #2372 "Bitbucket fails to sync when authenticating with VPN and certificate"
When I try pull/push commit to rep, I getting error:

 TypeError: Cannot read property 'request' of undefined
    at httpPlugin (file:///C:/Users/Rashgild/AppData/Local/insomnia-designer/app-2020.2.2/resources/app.asar/bundle.js:248444:19)
    at process._tickCallback (internal/process/next_tick.js:68:7)".

 Error on bitbucket (!), on github it`s allright.

**Screenshots**
![изображение](https://u

[2020-07-09 22:46] develohpanda commented on #2372
Hi @Rashgild! Could you also add some info on what your _repository_ looks like at the moment? Has it previously been sync'd with Designer, does it contain a `.insomnia` directory at the root?

[2020-07-09 23:07] Rashgild commented on #2372
@develohpanda, repository was empty, I tried to push and get this error. Then I pushed commit with git bush. In insomnia I get this error too.

now state on repository
![изображение](https://user-images.githubusercontent.com/20774418/87099302-0712c980-c252-11ea-99ff-5869aaa8c6ab.png)

[2020-07-09 23:16] develohpanda opened #2373 "CLI changelog on website"
Add the CLI changelog to the website

[2020-07-09 23:22] develohpanda commented on #2372
Thanks. So to confirm, your steps were:
1. Create new bitbucket repo
2. Create new document in insomnia designer
3. Write a specification
3. Click the "Setup Git Sync" button in insomnia
4. Commit your changes
5. Push -> led to the error in your screenshot

Is that correct?

[2020-07-09 23:37] Rashgild commented on #2372
Yes, that's it!

Oh, I discovered a new fact: In main menu -> Create -> Import from "Git Clone"
And I got the following error:
![2020-07-10_02-16-53](https://user-images.githubusercontent.com/20774418/87100912-3aefee00-c256-11ea-8a1c-349c8dc796d6.png)

[2020-07-09 23:43] develohpanda commented on #2372
Interesting, certificate. What is the bitbucket repository setup like? 2FA, self-hosted, etc. It may be a security related issue being surfaced as a different error.

[2020-07-09 23:49] Rashgild commented on #2372
Bitbacket located remotely, I have access to it through vpn under the certificate

[2020-07-09 23:54] develohpanda commented on #2372
My guess is that authentication method is currently not supported by Designer, possibly related to #2220 and #2221

1. When designer asked you to enter your app token, how did you generate that?
2. Could you please identify the version of BitBucket hosted remotely?

[2020-07-09 23:57] Rashgild commented on #2372
1. Yes, I generate token
2. Atlassian Bitbucket v6.10.0

[2020-07-10 01:11] miko opened #2376 ""Failed to to fetch schema" message"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy dgraph/dgraph:master (currently with bad schema introspection)
1. Go to localhost:8080/graphql using GraphQL protocol

**Expected behavior**

Message starting with "Failed to fetch schema" - there is extra "to " in the original message.

**Screenshots**
If applicabl

[2020-07-10 03:25] UUsmonov opened #2377 "Token of bearer authorisation disappears after pasting in version 2020.3.0 for Mac"
**Describe the bug**
While sending a request the token disappears in version 2020.3.0 for Mac. Till yesterday it worked correct but today it updated automatically and this bug appeared. I tried also manually download and install from site. The bug is not gone.

I tried to request to get user information from my secured endpoint. So, I have to provide access token in header as bearer token (JWT).

[2020-07-10 06:40] develohpanda commented on #2377
Hi @UUsmonov! This may be related to #2354, there seems to be a bug where paste doesn't persist the text.

As a workaround, if you paste your code, add a space and remove it (to trigger a save), that should work. Please let me know if that works for you!

In the meantime, marking this as high priority, we'll aim to get a fix out soon. 🤗

[2020-07-10 06:44] #2357 closed, assigned to gschier

[2020-07-10 07:23] andriusvo commented on #2377
Same on the Ubuntu 18.04

[2020-07-10 09:11] tisswb commented on #2377
Same on Window 10

[2020-07-10 09:41] cancng commented on #2377
Same on Windows 10. header values are disappearing.

[2020-07-10 10:28] fransyrcc opened #2378 "Environment variable is not correctly selected after updating to v2020.3.0"
**Describe the bug**
 When trying to enter an environment variable the variable has an error and it has to be manually updated.

**To Reproduce**

1. Try to enter a variable in the URL
2. Press `(Control + Space bar)` (mac)
3. Press `Enter` or select from the dropdown list
4. See error

**Expected behavior**
The variable to be added without need to manually fix it.

**Screenshots**
<img width="134

[2020-07-10 10:44] muratbozkurt35 opened #2379 "Bulk Edit For Headers Not Working"
When i change something in bulk edit it is not doing anything. Only way the change headers is changing from regular edit.

**To Reproduce**
Steps to reproduce the behavior:
1. Open imsomnia
2. Open a request (mine is post)
3. Change headers from bulk edit.
4. Close insomnia
5. Open insomnia

4. send request
5. look at the headers from webservice

it wasnt like this. what changed?

[2020-07-10 10:52] muratbozkurt35 commented on #2379
i did an export and looked at json data.

about:

it is not it is. even i deleted those headers. they are still in json file. so you may prevent dublication of headers that not supposed to be exist.

[2020-07-10 11:11] LocalHeroPro opened #2380 "Beautify syntax when sending multipart/form-data with Text (multi-line)"
**Is your feature request related to a problem? Please describe.**
Can't format syntaxed data when dealing with multipart/form-data and Text (multi-line).

**Describe the solution you'd like**
When I create POST call, and set Structured to `Multipart Form` and add `Text (Multi-line)` and set Editor Syntax to JSON, I want to have the same option as we have on body with type JSON. That option name i

[2020-07-10 11:13] DasJott commented on #2377
Same here on Manjaro Linux. Can not use.

[2020-07-10 11:14] muratbozkurt35 commented on #2379
i found it. i cant paste top of a value of a header in bulk edit.
in default condition headers stay like this

but after i highlighted the value and paste over it. next what i should do is to make the change applied is deleting the space

then i change to regular edit and come back it turns into

 this way its working.

[2020-07-10 11:48] develohpanda commented on #2379
Hi @muratbozkurt35! Looks like you've got a workaround and confirmed it to be the copy-paste bug I mentioned in #2377. I'll close this issue in favor of that, and we'll look to get a fix out ASAP!

[2020-07-10 11:48] #2379 closed, assigned to nobody

[2020-07-10 11:53] oscarmeanwell commented on #2377
Same on Linux mint 18 and macOS Mojave.

[2020-07-10 12:54] justin-databased opened #2381 "Bearer Token Disappears on Blur after pasting on Linux"
#2377 related issue?

# My environment
![image](https://user-images.githubusercontent.com/59099826/87156119-659f6e00-c279-11ea-995b-204df09c0699.png)
![image](https://user-images.githubusercontent.com/59099826/87156246-9d0e1a80-c279-11ea-9300-f9e498d7bdf4.png)

# Steps to reproduce
1. Open a route and paste in a valid auth token with token type Bearer selected
2. Click away
3. Wait 1-3 seconds

![

[2020-07-10 12:55] justin-databased commented on #2381
I now see that this is a duplicate issue. Sorry about that. Closing.

[2020-07-10 12:55] #2381 closed, assigned to nobody

[2020-07-10 13:46] tavareshenrique commented on #2101
Same problem here

[2020-07-10 14:11] tammo commented on #2377
Made a small gif, maybe that helps to understand how to reproduce it. Copy and pasting seems to not work correctly.

![CleanShot 2020-07-10 at 16 07 09](https://user-images.githubusercontent.com/90767/87163644-f735cc80-c2c7-11ea-840c-70e4de70577f.gif)

[2020-07-10 14:28] Cera06 opened #2382 "URI not updated when copying from clipboard"
**Description**
When sending a GET request on a page the first request work.
If I update the same URI but copy-paste something at the end, the URI is not updated and the request is sent to the previous URI.

**To Reproduce**
Steps to reproduce the behaviour:
1. Send a GET request to URI path
2. Update the URI to a sub-path and send a new request

**Expected behavior**
The request should be sent to

[2020-07-10 14:37] Necrontyrr commented on #2382
Not just the url. Also pasting something in the headers doesn't update the request. I have to type everything.
Version 2020.3.0 on Windows 10.

And yes, I just broke stuff on production because of this.

Edit: Pasting in the body also doesn't work. All the clipboard functionality is broken.

[2020-07-10 14:39] marcellorvalle opened #2383 "Environment variable not being saved after copy/paste"
**Describe the bug**
The value of the environment variables are not saved if you just copy/paste and don't type into the json area.

**To Reproduce**
1. Go to 'Manage Environments'
2. Create a new pair variableA/valueA
3. Click 'Done'
4. Go back to 'Manage Environments'
5. Copy some valueB (from notepad for example)
6. Paste as valueB over valueA  (just paste, do not type anything)
7. Click 'Done'

[2020-07-10 14:44] MBerbert commented on #2383
I'm having the same problem when pasting the token into the Bearer.

**Desktop (please complete the following information):**

- OS: Windows 10
- Installation Method: update and download
- App Version: 2020.03.0

[2020-07-10 14:45] wlad opened #2384 "Have you ever tested Insomnia under Windows?"
**What is your question?**
Have you ever tested Insomnia under Windows?

Usability is a nightmare. Copy & Paste seems to be ignored in all input fields. Can't remember that I had that issue under Linux.

I had to delete the app and install the orange one (although I don't like it at all)

[2020-07-10 14:45] marcellorvalle commented on #2382
Just opened a similar issue about the environment variables. Seems to be a application wide problem.

[2020-07-10 14:47] marcellorvalle commented on #2383
A workaround is to type something and just delete it before saving it.

[2020-07-10 14:49] oscarmeanwell commented on #2377
Anyone wanting to downgrade because of issues here is a [link](https://github.com/Kong/insomnia/releases/tag/core%402020.2.2).

[2020-07-10 14:50] oscarmeanwell commented on #2377
Anyone wanting to downgrade because of issues here is the [link](https://github.com/Kong/insomnia/releases/tag/core%402020.2.2)

[2020-07-10 14:51] kjaebker commented on #2383
This seems to be happening across the whole app. I am also experiencing it in the Query Variables section for GraphQL requests. After pasting in a new value, it keeps the old value even though the display has been updated. The workaround from @marcellorvalle does work here as well.

[2020-07-10 15:01] DouglasAndre25 commented on #2384
i'm got the same problem

[2020-07-10 15:01] RayBB commented on #2382
Yes seems related to #2377
If you want to downgrade:
https://github.com/Kong/insomnia/releases/tag/core%402020.2.2

Don't forget to turn off auto update otherwise you'll be upgraded again as soon as you open it.

[2020-07-10 15:04] RayBB commented on #2377
@oscarmeanwell thanks for that link!

Don't forget to turn off auto update otherwise you'll be upgraded again as soon as you open it.

[2020-07-10 15:08] alexislopes commented on #2383
As @marcellorvalle mentioned, I followed this steps:

- click the field and type something;
- click out of the field;
- click the field again and paste your content right after the content typed;
- click out of the field and it should work;
- then just clean the previosly typed content;

I tried to paste right before the typed chracters, same fail.

[2020-07-10 15:16] funkflute opened #2385 "When data is pasted into address field, old request is sent"
**Describe the bug**
When altering an existing URL by pasting data, the url is updated, but the request sent is the old

**To Reproduce**
Steps to reproduce the behavior:
On a Mac
Have an existing request setup
Run that request
Copy part of new url to replace part of the existing request (like changing an id /something/123, copy 345 from somewhere, select 123 and paste to replace 123 with 345)
run

[2020-07-10 15:16] alexislopes commented on #2377
for those looking for a workaround:

    - click the field and type something;
    - click out of the field;
    - click the field again and paste your content right after the content typed;
    - click out of the field and it should work;
    - then just clean the previosly typed content;

I tried to paste right before the typed chracters, same fail.

[2020-07-10 15:19] thomaslevesque commented on #2377
I'm seeing this as well.
It also happens when I paste in the environment JSON

The workaround suggested by @alexislopes seems to work

[2020-07-10 15:21] zakini commented on #2378
I'm getting this on Ubuntu 20.04 as well

[2020-07-10 15:50] rodionbykov commented on #2385
Windows 2020.3.0: paste (Ctrl+V) a param value into Query field. In 2-3 seconds param value is cleared without interaction from user. To avoid the problem, right after pasting in new param value, type something and immediately delete, then pasted value is saved and used in request.

[2020-07-10 16:04] bodegafresh commented on #2385
I have the same problem on linux and when some part of the response collapsed and then I clicked outside the application, returns to its original state alone.

Yesterday I updated to the latest version. Before it did not happen.

uname -a
Linux  4.19.0-9-amd64 #1 SMP Debian 4.19.118-2+deb10u1 (2020-06-07) x86_64 GNU/Linux

Sorry my english (Google translator)

[2020-07-10 16:06] marcohabeck commented on #2378
They also no longer work in the documentation!

Variables inserted with the previous versions are displayed, but can no longer be added.

The variable window opens but when you select it, the corsor jumps up. All entries of the filter in the window appear in the documentation field.

[2020-07-10 16:14] andreshg112 commented on #2378
Same here. I have to type `{{base_url}}` in order to make it work.

[2020-07-10 16:20] Heisenberg87 commented on #2384
I've got the same issue, the issue is to do with the new update(2020.3.0)

[2020-07-10 16:21] mattburton commented on #2385
Same on macOS 2020.3.0

[2020-07-10 16:38] rharkrader commented on #2384
I don't think this latest update was tested at all. Same issue on a Mac.

[2020-07-10 16:39] xyphr commented on #2383
I'm experiencing the same issue. Pasting anything in the environment doesn't stick, only if I manually type something then paste then it gets saved.

[2020-07-10 17:22] Brunopoliveira commented on #2385
When pasting new endpoint parameters and make a new GET it makes the call with the previous parameters value. No matter how many times i try to change the values, it keeps making the request with the previous parameters. This started after updating to the last version V2020.3.0 (7/9/2020).

[2020-07-10 17:24] nijikokun commented on #2382
Duplicate of #2377

[2020-07-10 17:24] #2382 closed, assigned to nobody

[2020-07-10 17:25] nijikokun commented on #2384
Duplicate of #2377

[2020-07-10 17:25] #2384 closed, assigned to nobody

[2020-07-10 17:25] nijikokun commented on #2385
Duplicate of #2377

[2020-07-10 17:25] #2385 closed, assigned to nobody

[2020-07-10 17:26] nijikokun commented on #2383
Duplicate of #2377

[2020-07-10 17:26] #2383 closed, assigned to nobody

[2020-07-10 17:29] nijikokun commented on #2377
We are currently looking into it 🕵️‍♀️

Sorry for any issues this has caused 🙇‍♂️

[2020-07-10 17:30] nijikokun commented on #2378
Related to #2377

[2020-07-10 18:00] SFBorland commented on #2377
Similar issue, when pasting anything into the query field, after like 10 seconds it reverts back to the previous value it you sit and stare at it

EDIT: MacOs latest

[2020-07-10 18:04] FelipeSSantos1 commented on #2377
Also if we start to type some variable name, e then when the list of variable is showed, if we click on that it doesn’t work

[2020-07-10 18:24] EXPEylazzari commented on #2377
Also having this issue with the latest update that I did today. It was the source of a lot of headaches. Consider this a vote to get this fixed ASAP! Thank you!

[2020-07-10 18:24] nijikokun commented on #2377
Looks like we have found the root cause to be a [recently merged PR](https://github.com/Kong/insomnia/pull/2305), we are currently working on a fix. 🙏

[2020-07-10 19:18] KakoF commented on #2377
Same problem! Token disapear, no store env variables.

[2020-07-10 19:48] gschier commented on #2377
There's now a fix out for this in 2020.3.2
- https://insomnia.rest/changelog/core/2020.3.2
- https://insomnia.rest/changelog/designer/2020.3.2

[2020-07-10 19:48] #2377 closed, assigned to nobody

[2020-07-10 19:55] goddard82 opened #2390 "Importing cURL no longer automatic"
**Describe the bug**
Importing cURL now only completes when you press space after pasting.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new request or edit the url of an existing one
2. Paste the cURL of a request

**Expected behavior**
The cURL params to be imported automatically; headers etc to be populated. This now _only_ occurs if you press space after pasting the cURL.

**D

[2020-07-10 20:02] bkcsfi opened #2391 "environment variables not populating form or headers correctly"
**Describe the bug**

In 2020.3.0 and 2020.3.2  I am unable to get some environment variables to populate form or header fields correctly

The environment variables appear when I press CTRL-SPACE, but after selecting the completion, the variable appears onscreen in red with a warning triangle, OR the variable appears correct but the query URL Preview shows the variable as NaN

**To Reproduce**
Ste

[2020-07-10 20:03] JamesK56 opened #2392 "Cannot cut and paste values into graphQL requests"
When I copy and paste into a graphQL request, it is not stored and not sent in the request.  If i click on a different request and then return to the request in question i see that my text is gone.

[2020-07-10 20:05] JamesK56 commented on #2392
Steps to reproduce:
1. copy text
2. past text into message body
3. send request.
4. observe timeline and notice the copied text is not sent.
5. click on a different request
6. return to the request in question
7. notice the text you had pasted into the body is no longer there.

[2020-07-10 20:11] develohpanda commented on #2378
Reopening this, as it is not related to #2377. We're looking into a fix at the moment.

[2020-07-10 20:23] edalzell opened #2393 "How can I send `withCredentials` in a post request?"
I need to set `withCredentials` to true for a request, how can I set that in Insomnia (macOS)?

Thanks

[2020-07-10 20:45] nloding commented on #2392
This is happening on my regular REST calls also, not just GraphQL.

[2020-07-10 20:47] JamesK56 commented on #2392
2020.3.2 was just released and appears to address this issue.

[2020-07-10 21:11] #2378 closed, assigned to nobody

[2020-07-10 21:28] gschier commented on #2392
Yes, this was fixed by #2389

[2020-07-10 21:28] #2392 closed, assigned to nobody

[2020-07-10 21:29] gschier commented on #2391
This is fixed in 2020.3.3, which was a separate issue than the one fixed in 2020.3.2

[2020-07-10 21:29] #2391 closed, assigned to nobody

[2020-07-10 21:30] gschier commented on #2390
This was fixed by #2389 and is now live in 2020.3.2

[2020-07-10 21:30] #2390 closed, assigned to nobody

[2020-07-10 21:41] Bogidon commented on #2118
@gschier @nijikokun ping that we'd likely pay for Insomnia were this implemented.

[2020-07-10 22:38] bkcsfi commented on #2391
thank you for the quick fix, it has resolved the issue for me.

[2020-07-10 22:42] nijikokun commented on #2393
Welcome 👋

Since Insomnia uses CURL for it's networking, we don't deal with CORS / XHR type requests which is what `withCredentials` is for. Instead here are four different ways you can send credentials in Insomnia (assuming normal authentication methods):

You can choose an authentication mechanism from the "Auth" dropdown in a request.

![image](https://user-images.githubusercontent.com/198276/8

[2020-07-10 22:42] #2393 closed, assigned to nobody

[2020-07-10 22:53] fransyrcc commented on #2378
Thanks for that. I tested it in version 2020.3.3  and it works like a charm 😄

[2020-07-11 05:02] UUsmonov commented on #2377
Hi @develohpanda thank for your fast feedback.
I'm sorry that I haven't answer immediately. Since it didn't work for me I had to downgrade to version 2020.2.2.
I was in hurry because I had to test my RestApi.

[2020-07-11 06:07] marcohabeck commented on #2378
The problem with the variables in the documentation has been resolved. thank you

[2020-07-11 07:55] develohpanda commented on #2377
No worries! Thank you for your report! It has been fixed in 2020.3.3 so you should be okay to upgrade now. 😊

[2020-07-11 16:25] UUsmonov commented on #2377
You welcome) I updated successfully to 2020.3.3 and it works correct.
Thank you guys)

[2020-07-11 17:39] tcampbPPU opened #2395 "Bearer token is not staying. Will copy and paste token then it dissapears"
**Describe the bug**
I am unable to paste a bearer token and use it in my request. When I paste in my token after a second or two is disappears and is not part of the request.

**To Reproduce**
Steps to reproduce the behavior:
1. Create New Request
2. Select Bearer Token from Auth dropdown
3. Paste token in
4. Watch the text disappear

**Expected behavior**
Want to paste Bearer token and use in my

[2020-07-11 19:52] develohpanda commented on #2395
Hiya, this has been resolved in the latest release - 2020.3.3. Please update your client. 😊

[2020-07-11 20:01] tcampbPPU commented on #2395
Thanks!

[2020-07-11 20:01] #2395 closed, assigned to nobody

[2020-07-12 07:50] elad-gur opened #2396 "GraphQL body from CURL deleted when choosing GraphQL query"
**Describe the bug**
Since I've upgraded to 2020.3.3
enabled to create GraphQL request from CURL

I never had problems with that before this version

**To Reproduce**
Steps to reproduce the behaviour:
1. In google chrome copy as curl GraphQL request
2. In insomnia paste the CURl at the address line
3. In insomnia switch the dropdown value from 'JSON' to 'GraphQL'
4. See the body and variables dele

[2020-07-12 11:04] VitorSantosCruz opened #2397 "When the user switches to "RAW DATA" viewing mode in a binary file, insomnia crash."
1. Create a request for an api that responds with a binary file (PDF, ZIP).
2. Switch from "visual preview" mode to "row data" mode.

Screenshots
![image](https://user-images.githubusercontent.com/33767387/87244709-7e448b00-c415-11ea-846e-9d112e1b539a.png)

**All functions of the Insomnia crashes, nothing works**
![image](https://user-images.githubusercontent.com/33767387/87244722-b0ee8380-c415-11

[2020-07-12 16:40] toketas commented on #1555
It happened with me. req.body = {} with insomnia, req.body = { content } with postman.

[2020-07-12 23:44] develohpanda commented on #2354
Resolved in v2020.3.3.

[2020-07-12 23:44] #2354 closed, assigned to gschier

[2020-07-13 15:48] UAce opened #2398 "Copy pasting does not work"
Every time I copy paste and send a request, Insomnia treats the pasted text as empty.

**Steps to reproduce:**
1. Copy a URL
2. Create a new request or modify an existing request
3. Paste the URL to the request
4. Send the request
5. Click on another request and come back to the newly created/modified request. Notice that the URL is blank
_**Note**: this behaviour also happens for request body, he

[2020-07-13 16:42] Necrontyrr commented on #2398
Hiya, this has been resolved in the latest release - 2020.3.3. Please update your client. 😊

[2020-07-13 16:44] ajc308 commented on #2398
**Update**: I posted this as the previous comment was being added. Confirmed this is now working in 2020.3.3 for me. Thank you!

---

I am experiencing the same error after upgrading to Insomnia 2020.3.0 (macOS Catalina 10.15.4)

Recording of copying and pasting values into headers and seeing them disappear:

![Insomnia_copy_paste_issue](https://user-images.githubusercontent.com/7770139/87330234-4

[2020-07-13 17:13] UAce commented on #2398
Confirmed that issue is fixed in v2020.3.3!

[2020-07-13 17:13] #2398 closed, assigned to nobody

[2020-07-13 17:29] UAce opened #2399 "Kebab-case environment variable is NaN"
I created an environment variable in kebab-case and was not able to access it.

**Steps to reproduce the behavior:**
1. Add an environment variable in kebab-case
2. Use it in a request and see the preview is NaN

**Expected behavior**
If kebab-case is not allowed, highlight it as a syntax mistake, else show the correct value

**Screenshots**
![image](https://user-images.githubusercontent.com/19378

[2020-07-13 17:55] SmritiShrestha opened #2400 "JSON body not updating when copy pasting as well headers"
**Describe the bug**
For a couple of days, I'm experiencing odd behaviors from insomnia.
1. Copy and paste not working: When I try to copy anything in it by selecting all of the existing contents and paste. It doesn't override existing content.
2. When a param is a change in JSON and request is sent from insomnia, I noticed the request is not being changed when sending and randomly behaving.
Pleas

[2020-07-13 18:27] gschier commented on #2400
Sorry about this! We issued a hotfix release shortly after this one to address the problem. https://insomnia.rest/changelog/core/2020.3.3

[2020-07-13 18:27] #2400 closed, assigned to nobody

[2020-07-13 18:33] gschier commented on #2396
The body will only be preserved if the value of the JSON body is valid for GraphQL.

Based on your screenshot, it appears that your body is _almost_ a GraphQL body but there is an extra `$` at the very beginning, making it unparseable as JSON.

[2020-07-13 18:33] #2396 closed, assigned to nobody

[2020-07-13 18:37] gschier commented on #2399
Ah yes, the dreadful dash problem. There is currently a warning that appears for top-level keys, but it looks like it does not detect nested ones.

![image](https://user-images.githubusercontent.com/587576/87340513-0487cc80-c4fd-11ea-94fa-aaffbac2f27d.png)

An actual inline lint message (as you suggest) would be much nicer for this, as it would be hard to miss too.

[2020-07-13 19:30] sarbikbetal opened #2401 "Insomnia VS Code Extension"
**Is your feature request related to a problem? Please describe.**
I use insomnia extensively for API testing, and while developing an API I have to always switch between VS Code and Insomnia. And as both are made on top of electron, I face high RAM consumption issues because mostly there are a ton of open tabs on chrome and other applications as well.

**Describe the solution you'd like**
As both

[2020-07-13 22:57] JinayJain commented on #2376
Hi @develohpanda I would love to work on this issue.

[2020-07-13 23:05] develohpanda commented on #2376
Hi @JinayJain, sure! Go for it. 🤗

[2020-07-13 23:27] #2376 closed, assigned to nobody

[2020-07-13 23:30] gschier commented on #1847
Going to call this issue done as a first try. Will move progress to the newer https://github.com/Kong/insomnia/issues/2369

[2020-07-13 23:30] #1847 closed

[2020-07-14 00:56] sparcbr opened #2404 "[Improvement] [Accessibility] Allow changing the folding "heading" font style"
Is there a way to change this bold/glowing of the purple text that appears inside the { } when a fold is closed in editor? Check the image below..

Explanation:
I don't like this glowing style as it lowers the contrast and makes it harder to see.

![image](https://user-images.githubusercontent.com/5775999/87368042-f5cc0480-c552-11ea-823e-8542c56e0a9c.png)

[2020-07-14 01:10] develohpanda commented on #2404
This should be possible - either CodeMirror contains a prop we can use to set the placeholder color, or we do some CSS overriding on our side. In any case, I agree, the glow also seems out of place within Insomnia. 💄

Looks strange even in the high-contrast theme

![image](https://user-images.githubusercontent.com/4312346/87369044-9e21ad80-c5d3-11ea-98b1-d97f5a770c4f.png)

[2020-07-14 02:14] leo-regov opened #2405 "JSON Body values missing/resets [Copy-Paste]"
**Describe the bug**
Copy and pasting the values in JSON body turns empty on sending request.
Could be the same for anything inside Insomnia.

**To Reproduce**
Steps to reproduce the behavior:
(Using any backend service)
1. Go to any endpoint with JSON body
2. Paste any values to the JSON
3. Do a request
4. See the log/print of the request
(Just Insomnia)
1. Same steps above (1-2)
2. Switch to ano

[2020-07-14 02:25] develohpanda commented on #2405
Hi @leo-regov! Thank you for such a detailed report. 🤗 This was fixed in v2020.3.3, soon after the v2020.3.0 release, so if you update you should be good to go!

[2020-07-14 02:25] #2405 closed, assigned to nobody

[2020-07-14 02:27] leo-regov commented on #2405
Oh thanks.

[2020-07-14 03:24] #2404 closed, assigned to develohpanda

[2020-07-14 05:06] develohpanda commented on #2367
Visually it doesn't look quite as nice as Mac, we may need to reconsider how the options display, but functionally it works on both Command Prompt, Windows Powershell, and [cmder](https://cmder.net/). https://recordit.co/vHOLlU7bRF

This report is specifically with `git bash`, which [is not an interactive terminal](https://github.com/vuejs/vue-cli/issues/2117#issuecomment-411568882) therefore won'

[2020-07-14 06:19] lsotoj commented on #1102
I have the same question, I need send an array by insomia to my mongoDB. I'm using the next code:
{
	"users": ["i76trdfghjk", "i65rdfgiol"]
}

But it does not work. the result is:

**{
  "error": "",
  "body": [
    {
      "users": [],
      "_id": "5f0d49cf80697d62e4ea283b",
      "__v": 0
    }
  ]
}**

A empty array.

[2020-07-14 09:14] BoKKeR opened #2408 "Swagger OpenAPI 3.0 import does not use tags to group requests in folders"
**Describe the bug**
As described in this issue: https://github.com/Kong/insomnia/issues/1004
Swagger requests should be grouped based on tags. But this only works for swagger 2.0 json/yaml configs. Not for 3.0

**To Reproduce**
1. Importing into insomnia [v2.0](https://petstore.swagger.io/v2/swagger.json) results in folders being generated
2. Importing into insomnia [v3.0](https://dzone.com/artic

[2020-07-14 10:24] gcg opened #2409 "Character limit on tokens & environment variables"
**Describe the bug**
I noticed that there are hard limits on character counts for tokens and environment variables. If you put anything over 704 characters either to a variable in environment variables or directly in the token field, client just removes it without any warning.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Manage Environments' section.
2. Put in a value longer than 7

[2020-07-14 10:35] gcg commented on #2409
Installed the latest version from the repo instead of snapd and I couldn't replicate this bug.

Closing since I am guessing this is either fixed in the latest version or its something related with snapd sandboxing.

[2020-07-14 10:35] #2409 closed, assigned to nobody

[2020-07-14 16:24] aaronhmiller opened #2410 "Error installing `insomnia-inso`"
**Describe the bug**
Cannot install Insomnia CLI (insomnia-inso) due to font-manager error
**To Reproduce**
Following installation guidance here: https://support.insomnia.rest/article/109-cli-installation
1. Install npm
2. Install `npm install -g insomnia-inso` or `sudo npm install -g insomnia-inso`
3. Receive following error:
gyp ERR! clean error
gyp ERR! stack Error: EACCES: permission denied, r

[2020-07-14 17:36] Rillian-Grant opened #2411 "Header info randomly disappearing and having no effect"
**Describe the bug**
Videos: https://drive.google.com/drive/folders/1f2cChQq-Zm_fX5-greVlHKa9PlCdtTl2?usp=sharing
See the video. Note: This happened even when using bulk edit.

**To Reproduce**
See the video.

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Installation Method: snap
 - App Version 2020.3.0

[2020-07-14 17:54] gschier commented on #2411
Hey @Rillian-Grant, this was fixed in a point release in 2020.3.3 https://insomnia.rest/changelog/core/2020.3.3

[2020-07-14 17:54] #2411 closed, assigned to nobody

[2020-07-14 17:55] gschier commented on #2410
Oops, it looks like we added `font-manager` to the CLI dependencies by mistake. We will remove it for the next release.

[2020-07-14 17:59] austin1howard commented on #2310
It's broken between 7.1.1 and 2020.2.0 ... presumably by #2223 but I haven't had time to dig in and see what exactly caused the breakage.

[2020-07-14 18:02] Rillian-Grant commented on #2411
Surely it is an issue that the "stable" snap release has this breaking issue?

[2020-07-14 18:05] nametable commented on #944
I would like this feature as well. The preview JSONPath seemed to show that I would get multiple values, but then I got the `Returned more than one result` error :cry: when using with Chaining

[2020-07-14 20:45] develohpanda commented on #2410
@aaronhmiller As a workaround for now, you can use Node v10, I'll make a note in the readme. We should, however, fix this. 😄

[2020-07-14 20:50] Rillian-Grant commented on #2411
@gschier ?

[2020-07-15 00:51] #2367 closed, assigned to develohpanda

[2020-07-15 08:37] 3DRaven opened #2412 "Cursor hided in Preview window"
In preview response window we have cursor but it is hided.

1. OS Ubuntu linux
2. Insomnia 2020.2.2

[2020-07-15 08:42] 3DRaven opened #2413 "In request url editor toltip windows is broken"
1. Edit url in url editor field of request
2. Showed tooltip help window.
3. Click to another editor (may be a preview or other)
4. Tooltip window was not hide and still in screen and do not react to any events.
5. Only click to tooltip got this window hide. But then url was broken (edited with helped action in tooltip).

1. OS Ubuntu linux
2. Insomnia 2020.2.2

[2020-07-15 08:42] 3DRaven commented on #2413
It is "Some time bug"

[2020-07-15 09:49] Haarolean opened #2414 "Failed to render NunjucksModal"
**Describe the bug**
Clicking on previously added (long time ago) 'response -> body attribute' throws an exception. Works fine with recent placeholders.

[code]

**To Reproduce**
Steps to reproduce the behavior:
no clue, can not reproduce for new placeholders, just the old ones.

**Expected behavior**
Modal window opens, I can edit the stuff.

**Screenshots**
If applicable, add screenshots to help

[2020-07-15 12:27] martasd opened #2415 "Disable automatic schema refetching when switching to another saved request"
**Is your feature request related to a problem? Please describe.**

I have saved a number of requests against my API:

![image (11)](https://user-images.githubusercontent.com/591911/87543968-f1643080-c6a5-11ea-9b2e-3c311d799660.png)

Every time I switch to a different request in my workspace the schema gets fetched from the server. The majority of cases the schema does not change, so there is no n

[2020-07-15 14:21] chriscannon opened #2416 "Disappearing Pasted Text"
**Describe the bug**
When pasting any text into Insomnia it magically erases itself a couple seconds afterwards (see the screenshot below as an example). As far as I can tell it happens on all pasted text anywhere in the UI. I just happened to find it when setting an auth header.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy text.
2. Paste it anywhere in the UI.

**Expected behavior**

[2020-07-15 14:26] Rillian-Grant commented on #2416
See my issue: https://github.com/Kong/insomnia/issues/2411
It was closed because the issue has been fixed in 2020.3.3 but something really needs to be done as it seems that the version that is released as stable everywhere has this issue.

[2020-07-15 14:28] chriscannon commented on #2416
Great, thanks!

[2020-07-15 14:28] #2416 closed, assigned to nobody

[2020-07-15 14:31] DMarby commented on #2411
Hi @Rillian-Grant!

Apologies, we had missed moving the point release from the edge channel to the stable channel on Snapcraft.
This should be remedied now, so you should get the latest version when you update/install from snap.

[2020-07-15 14:35] DMarby commented on #2416
Hi @chriscannon,

Thank you for the report!

As Rillian-Grant mentioned, this was resolved in a recent point release (2020.3.3), your app should automatically update to it.
To force an immediate upgrade, you can use the "Check for updates" button in the Preferences menu, or download it again from the website.

Please let us know if you run into any further issues.

[2020-07-15 14:53] Rillian-Grant commented on #2411
Thank you very much

[2020-07-15 18:33] john-feusi-neuro opened #2417 "Add ability to edit variable value"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently, when you click on a variable, you can edit which environment variable is selected using a dropdown. Below, there is a "Live Preview". It would be nice if in the "Live Preview" textarea we could edit the value stored in the variable.

It would be nice if this could be done for the

[2020-07-15 19:55] brechtvhb commented on #1653
Any update / ETA on this feature?

[2020-07-15 23:51] #2368 closed, assigned to develohpanda

[2020-07-16 01:19] penngrove opened #2421 "Please add support for HTTP Signature Auth"
I understand HTTP Request Signature has been in IETF draft for years, but it is being used (and we are using it)

We are using https://github.com/joyent/node-http-signature on the server side to verify the signature and https://pypi.org/project/requests-http-signature/ on the client side to generate the signature (as an example). It would be nice to test our APIs in Insomnia using this authenticat

[2020-07-16 11:02] ProteanCode opened #2422 "Can I keep the schema in sync with git repository?"
**What is your question?**
Can I keep the schema in sync with git repository? In a way that would allow me to re-export the whole json schema whenever I send / modify a request without manually going through the whole procedure maually.

**What is the context?**
Syncing the API schema using remote code repository

[2020-07-16 15:15] tebruno99 commented on #1347
Same issue for me. I found a reference to Electron apps not working because the dbus error:

https://github.com/snapcore/snapd/pull/7129
https://github.com/IsmaelMartinez/teams-for-linux/issues/175

I haven't seen a clear solution that would make it work.

[code]

[2020-07-16 15:21] tebruno99 commented on #2214
I found this issue in snapd mentioned in other projects:
snapcore/snapd#7129
IsmaelMartinez/teams-for-linux#175

Where do we get the tarball ? Having a really hard time finding any release other than AppImage and snap instructions on the main site.

[2020-07-16 18:00] kaitlynbrown commented on #1347
@theomessin please re-open this issue so that it can be addressed

[2020-07-16 18:57] nijikokun commented on #2413
Can you confirm that this also happens on `2020.3.3`?

[2020-07-16 20:29] obarra-dev opened #2423 "when I copy and past a URL, Insomnia does not do the request IN Insomnia Core 2020.3.0"
**Describe the bug**
when I  copy and past a URL, Insomnia does not do the request

**To Reproduce**
Steps to reproduce the behavior:
1. Copy and past a valid URL
2. Click on 'Send'

**Expected behavior**
Insomnia shows: 'Error: URL using bad/illegal format or missing URL'

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.c

[2020-07-16 20:30] obarra-dev commented on #2423
When I put a space before or after the URL, it works OK.

[2020-07-16 20:31] gschier commented on #2423
Hey @jabbarra! We issued a fix for this last week but it appears you haven't gotten the auto-update yet https://insomnia.rest/changelog/core/2020.3.3

[2020-07-16 20:31] #2423 closed, assigned to nobody

[2020-07-16 20:34] obarra-dev commented on #2423
@gschier Great. Thanks for the answer. I'm going to get it.

[2020-07-16 22:38] rusterholz commented on #1486
@gschier As of Insomnia v7.1.1 on macOS 10.14.5 this appears to not be fixed. I'm seeing the exact behavior originally described by @robclancy.

[2020-07-16 23:57] solarmosaic-kflorence opened #2424 "GraphQL: Cannot use non-String prompt value in query variables"
**Describe the bug**
I'm trying to use a prompt in our query variables JSON for a numerical value (our backend expects `phoneNumber` to be a `Long`, like `1234445555`):

[code]

However, this results in an error: `Unexpected token % in JSON at position 19`. Of course if I quote it like:

[code]

It will render properly, but then the backend complains because it is a `String` value instead of a `Lo

[2020-07-17 00:03] solarmosaic-kflorence commented on #2424
Related: https://github.com/Kong/insomnia/issues/2264

[2020-07-17 00:04] solarmosaic-kflorence commented on #2424
This appears to be a duplicate of https://github.com/Kong/insomnia/issues/973 which I somehow did not find in my initial search. Closing.

[2020-07-17 00:04] #2424 closed, assigned to nobody

[2020-07-17 00:07] solarmosaic-kflorence commented on #2264
@krithigagupta looks the same as https://github.com/Kong/insomnia/issues/973

[2020-07-17 13:26] freakinhippie commented on #2228
I've encountered this issue as well.

[code]

[2020-07-17 16:52] gino8080 commented on #2422
same question, is possiible to change save and get insomia auto re-Import ?

[2020-07-17 19:48] ProteanCode commented on #2422
If the answer is "no" then its still a correct answer, anybody?

[2020-07-18 19:06] stevenossa21 commented on #2101
Same problem. Im waiting for new replies

[2020-07-19 03:50] nijikokun commented on #2322
Fixed in https://github.com/Kong/insomnia.rest/pull/54

[2020-07-19 03:50] #2322 closed, assigned to nijikokun

[2020-07-19 18:41] amir1369x opened #2425 "The headers values cleared after some second"
Wen I add new value to a header's key, after some second the value was cleared

**Screenshots**
![111](https://user-images.githubusercontent.com/10446856/87882377-db8f9c00-ca14-11ea-81d1-e464ffab7311.jpg)

**Desktop:**
 - OS: Archlinux x64
 - Installation Method: from aur packages
 - Insomnia Version 2020.3.0

sorry for my bad english

[2020-07-19 22:07] develohpanda commented on #2425
We have released a fix for this in 2020.3.3 😊 please update your client!

[2020-07-19 22:07] #2425 closed, assigned to nobody

[2020-07-20 14:09] ikeblaster commented on #2345
Same problem on Windows 10 1909, installed from https://insomnia.rest/download/#windows (updated older version), 2020.3.3.

[2020-07-20 15:12] mcorossigo commented on #2345
Also confirmed on Windows 10 2004 with Insomnia Core 2020.3.3 (fresh install).

[2020-07-20 19:35] goddard82 opened #2426 "Environment variables lost after switching tabs [Insomnia Designer]"
**Describe the bug**
Environmental variables are lost after switching between Debug & Design tabs in Insomnia Designer.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open Insomnia Designer & import a api spec (in this case, a .json file)
2. Click on the 'Design' tab & explore.
3. Command + E & open the environment variables. Set a host name, default headers, base path, etc.
4. Perform som

[2020-07-21 04:16] gtolarc commented on #1904
I also experienced the same error.
<img width="491" alt="스크린샷 2020-07-21 오후 1 15 25" src="https://user-images.githubusercontent.com/8623798/88012207-4dbaca80-cb54-11ea-814b-c689a7d78b91.png">

[2020-07-21 05:02] develohpanda opened #2428 "Automated unit test coverage"
Insomnia suffers from a lack of test coverage in certain areas of the code-base. This means we have a lower confidence in changes in the uncovered areas.

As reported by jest, test coverage of the `insomnia-app` package currently, is ~25%.

July 2020
![image](https://user-images.githubusercontent.com/4312346/88015320-055fd480-cb75-11ea-8217-320322fb6857.png)

March 2021
<img width="801" alt="image

[2020-07-21 05:44] blackva commented on #2104
@nijikokun Any updates? Using Flatpak is a much better user experience compared to Appimages. Would be amazing to have it as option.

[2020-07-21 07:58] goddard82 commented on #2426
Apologies, likely a duplicate of #2228

[2020-07-21 11:31] hadifarnoud opened #2429 "Insomnia removes accept header on its own!"
I can't type anything in Accept header as it removes it on its own. very annoying!
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/589808/88050102-769a8a00-cb6b-11ea-962b-46cdf7daabaf.gif)

Insomnia 2020.3.0
MacOS 10.15.5

[2020-07-21 11:43] develohpanda commented on #2429
Hi! Thanks for the report, this has been fixed in 2020.3.3 - please update your client 😄

[2020-07-21 11:43] #2429 closed, assigned to nobody

[2020-07-21 12:47] anotherglitchinthematrix opened #2430 "Array support in environment variables"
**Is your feature request related to a problem? Please describe.**
Yes, I can't directly reference the defined array in the environment variables. Instead of directly referencing the array, we can only reference the elements of the array like in the example below.

[code]
Insomnia dosen't let me to use the `instances` array directly, instead of it serves the elements of the array like `istances[0]

[2020-07-21 18:57] nijikokun commented on #2323
Fixed by https://github.com/Kong/insomnia.rest/pull/56

[2020-07-21 19:00] nijikokun commented on #2422
With designer, you can connect Insomnia to a git repository, push changes, and pull changes. Currently the schema is stored under the `.insomnia` folder and is wrapped with Insomnia meta information. There is an open issue (https://github.com/Kong/insomnia/issues/2082) to address this to allow support of multiple file specifications and specifications to be stored outside of the `.insomnia` folder

[2020-07-21 19:02] nijikokun commented on #2426
Indeed it is, noticed it recently while unit testing, definitely can be frustrating! Going to close this one in favor of #2228

[2020-07-21 19:02] #2426 closed, assigned to nobody

[2020-07-21 19:05] #2323 closed, assigned to nijikokun

[2020-07-22 10:36] sanchitsharma commented on #1778
I tried swaggymnia but it is not working with Insomnia v4 and the latest insomnia is only allowing to export in Insomnia v4. Any idea how to proceed?

[2020-07-22 14:32] micaeldekleyn commented on #1796
@gschier any updates ? I would be interested into this feature too.

[2020-07-22 15:50] #2250 closed, assigned to nijikokun

[2020-07-22 17:51] lukepighetti commented on #1124
Requesting triage of this issue. Comment stripping is not ideal for us since we markup field integration status on the frontend side of things.

<img width="409" alt="Screen Shot 2020-07-22 at 1 52 01 PM" src="https://user-images.githubusercontent.com/666539/88210657-86c17080-cc22-11ea-9ed3-83dcf60856ed.png">

[2020-07-23 05:21] austin1howard commented on #2310
FYI: Still broken in 2020.3.3

[2020-07-23 09:17] rst5nn commented on #1837
I see icon now in panel:
![image](https://user-images.githubusercontent.com/1073415/88270530-75d63500-ccde-11ea-8d49-f29569c2d183.png)

But not sure this is correct one.

Version:
![image](https://user-images.githubusercontent.com/1073415/88270605-90a8a980-ccde-11ea-8e33-3403b65f6f0d.png)

[2020-07-23 13:19] imechemi commented on #424
I am facing same issue on **v2020.3.3** on OS X Mojave. Can anyone point me where these db locations are in OS X?

UPDATE: Never mind, deleted few recent cookie entries and it started generating again. Thank @gschier for the cue 🙂

[2020-07-23 18:39] NSExceptional opened #2434 "Bug: query parameters are ignored when importing Postman collection"
Title. I exported a collection from Postman with a request that has query parameters, and they are not properly imported into Insomnia. It appears to only import the plain URL itself.

[2020-07-23 18:41] nijikokun opened #2435 "Add support for scroll to click in sidebar for JSON specifications"

[2020-07-23 18:42] nijikokun opened #2436 "Check for top-level specification properties when rendering the sidebar"

[2020-07-23 18:53] nijikokun opened #2437 "Determine and resolve duplication issues with auto-generation from Swagger 2 specs"
Currently when generating debug requests, sometimes, the base environment can be duplicated causing errors in the CLI. Additionally, folders can be duplicated as well, causing user frustration.

[2020-07-23 18:55] nijikokun opened #2438 "Better error messaging around duplicate base environments in the CLI"
Currently it exits with a stack trace and semi-cryptic message, we should provide a more specialized and searchable message for users to be able to take action on.

[2020-07-24 00:00] #2410 closed, assigned to gschier

[2020-07-24 09:01] ThaDaVos commented on #1345
Any progress on this?
The same seems to be asked for Postman but like this issue - went quiet...
https://github.com/postmanlabs/postman-app-support/issues/6682

[2020-07-24 12:59] toughengineer commented on #528
OK, I decided that my shitty one-page WS client is polished enough (ha!) to share, with the hope it is useful for someone.
[ws-client.zip](https://github.com/Kong/insomnia/files/4971773/ws-client.zip)

I hope you can figure it out.

As neat features there are indication of timestamps for messages, and calculation of time differences to previous and selected messages (hover messages to see the popu

[2020-07-24 17:58] #2422 closed, assigned to nobody

[2020-07-24 17:59] nijikokun commented on #2412
@3DRaven do you still see the issue on `2020.3.3`?

[2020-07-24 18:15] 3DRaven commented on #2412
Yes is it steel here :)

[2020-07-24 18:16] 3DRaven commented on #2413
No, in 3.3 it fixed or I can't reproduce this behavior.

[2020-07-24 18:43] sonicyeti opened #2440 "Accessibility > Editor Selection Contrast"
Increase readability on inline text selection bounding box. Example below submitted by a user:

![Eds7vFjUYAARvY3](https://user-images.githubusercontent.com/52717970/88424846-4ac21300-cdbc-11ea-8a15-622efa5f4887.png)

Ref: https://twitter.com/eyesspee/status/1286688109782999041

[2020-07-24 20:17] #2440 closed, assigned to erickrico, sonicyeti

[2020-07-24 21:21] gschier commented on #1759
This should have been fixed a few versions ago 👍

[2020-07-24 21:21] #1759 closed

[2020-07-25 11:56] projser opened #2442 "Insomnia Designer - operations in the Debug section are lost when switch to the Design section"
I have added folders to organize operations in the Debug section when I changed to the Design section  and return to the Debug section, the operations are removed from the folders.

Steps to Reproduce

Create a Folder in the Debug section, add operations in it. Change to the Design section and return to the Debug section.

I have even commit the changes and tried to imported later on, but the oper

[2020-07-26 16:13] hagmic opened #2443 "Cookies returned with a leading dot are not stored with the leading dot"
**Describe the bug**
Cookies returned with a leading dot are not stored with the leading dot

**To Reproduce**
Steps to reproduce the behavior:
1. Make a request that returns a cookie with a domain set with a leading dot.
[code]
2. Observe that the cookie was stored in the Cookie Manager without the leading dot.

**Expected behavior**
Cookie to be stored with leading dot.

**Screenshots**
If appli

[2020-07-26 16:15] hagmic opened #2444 "Short issue title"
**Describe the bug**
Cookies returned with a leading dot are not stored with the leading dot

**To Reproduce**
Steps to reproduce the behavior:
1. Make a request that returns a cookie with a domain set with a leading dot.
[code]
2. Observe that the cookie was stored in the Cookie Manager without the leading dot.

**Expected behavior**
Cookie to be stored with leading dot.

**Screenshots**
If appli

[2020-07-26 16:15] #2444 closed, assigned to nobody

[2020-07-26 23:06] ewh opened #2445 "Bulk edit for request Query parameters seems broken."
**Describe the bug**
Bulk edit for request Query parameters is failing (silently not responding).

**To Reproduce**
From the request `Query` tab, click 'Bulk Edit'. Nothing happens in the UI.

**Expected behavior**
Clicking 'Bulk Edit' would presumably enter the bulk edit editor (exactly like when clicking 'Bulk Edit' in the `Header` tab). Instead, nothing seems to happen and in the Insomnia DevTo

[2020-07-27 11:14] crijke opened #2446 "Authentication method of requests reset in debug tab when switching tabs."
**Describe the bug**
Authentication method of requests in debug tab is reset when switching tabs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to debug tab.
2. Set authentication method of a request to a method different from 'No Authentication' (e.g. Bearer Token and enter token settings.)
3. Switch to design tab.
4. Switch back to debug tab.
5. Authentication method of request has be

[2020-07-27 12:58] aemion opened #2447 "Add JWT Bearer grant type support for OAuth2 authentication"
We use JWT bearer grant type on our oauth2 workflow in my company. The RFC talking about this profile can be found here: https://tools.ietf.org/html/rfc7523. This can be cumbersome as we need to first generate a JWT with various keys then go through the authentication process to finally be able to call the interesting API.

Ideally, I would like to be able to :
- Choose JWT Bearer in the Oauth2 Au

[2020-07-27 16:11] Nahasean94 opened #2448 "Workspaces for Insomnia Designer"
Insomnia Core supports the concept of Workspaces where one is able to run multiple projects in isolation.
I am unable to find that setting in Insomnia designer. What I see is ability to switch environments say prod and test, but I would want to design multiple projects and export the designs to relevant teams for implementation. Is this feature currently supported in Insomnia Designer?

[2020-07-27 18:03] matthewryanscott opened #2449 "macOS services are not supported"
**Is your feature request related to a problem? Please describe.**
I have written some macOS services that I use to manipulate selected text in various apps. Insomnia doesn't allow you to click on the Insomnia app name in the menu bar and then navigate to "Services" to select a relevant service. In addition I can't use the shortcut keys I assigned to my services.

**Describe the solution you'd lik

[2020-07-27 20:26] nijikokun commented on #2448
Insomnia Designer currently uses documents as separate projects, hopefully this answers your question!

[2020-07-27 20:27] nijikokun commented on #2446
Seems like another auto-generation artifact related to #2437

[2020-07-27 20:34] natalywadie opened #2450 "Share workspace with 'team name' drop down list shows teams that i left"
**Describe the bug**
Teams that i left still appear in share with drop down list and when i try to select a current team, the drop down reloads and still selects the old team

**To Reproduce**
Steps to reproduce the behavior:
1. Add the user to a team
2. Sync some folders with the team
3. Add the same user to a second team
4. Go to Manage Teams from the user's account
5. Click on 'leave' from the

[2020-07-27 21:04] Nahasean94 commented on #2448
I have been using documents but if you have many projects with modules/microservices that share the same names, it quickly becomes to chaotic to differently name them (the problem am facing now). Workspaces help design/create files for different projects in neat isolation.

[2020-07-27 21:06] Nahasean94 commented on #2448
@nijikokun , are there any plans to add workspaces in future? that way I will know what to do in their indefinite absence

[2020-07-27 21:12] gschier opened #2451 "Migrate Core macOS signing/notarization"
Core's Apple Developer ID should be migrated to use the same one that Designer is using.

[2020-07-27 21:42] IanBurganMod opened #2452 "Active JSONPath filter not obvious"
After filtering a response body with JSONPath, the filter remains on the response indefinitely. This is good, desired behavior, but when looking at a request that you may not have looked at for a while, the fact that it is filtered is not clear. For example, a developer might write `$[0:3]`, not notice later, and be confused why there are only 3 items in the response. It is not immediately obvious

[2020-07-27 23:48] #2371 closed, assigned to develohpanda

[2020-07-27 23:56] develohpanda opened #2454 "Cancelling lint warning still changes switch from design to debug"
**Describe the bug**
When a linting error exists in your spec and you navigate from design to debug, a warning shows. If you cancel or close the warning, the switch still updates. Then, when returning the switch to design, the error is shown again.

**Expected behavior**
Switch shouldn't update.

**Screenshots**
![2020-07-28 11 32 47](https://user-images.githubusercontent.com/4312346/88603520-4736

[2020-07-28 00:57] develohpanda opened #2456 "Lint errors don't show in editor gutter after reopening document"
**Describe the bug**
I have a specification which contains errors. When I navigate to home and reopen the document, or navigate to debug/test and come back to design, the gutter does not show lint errors. It refreshes the errors, after I start typing.

**To Reproduce**
Steps to reproduce the behavior:
1. Introduce lint error into spec
2. Observe errors in gutter
3. Click on "Documents" to go
4. Cl

[2020-07-28 00:58] jonocairns opened #2457 "Add loading state when viewing commit changes in Insomnia designer"
**Is your feature request related to a problem? Please describe.**
As a user I want to be informed that my changes are still loading so that I know whats going on (and don't close the window before the changes load)

**Describe the solution you'd like**
Add any old loading spinner while the changes are loading up or some sick elevator music 🎵 :trollface:

**Describe alternatives you've considered*

[2020-07-28 01:11] develohpanda commented on #2457
Also worth investigating why it's taking so long. Approx how many requests do you have, and what is the size of your `.insomnia` directory?

[2020-07-28 01:23] jonocairns commented on #2457
@develohpanda

61 requests and 92 files in total in my `.insomnia` dir

file size in insomnia repo: 190,506 bytes for 2 items

[2020-07-28 05:18] #2185 closed, assigned to nobody

[2020-07-28 05:18] #2369 closed, assigned to gschier

[2020-07-28 07:58] gautamtyagi81 opened #2458 "Issue with pull, push and commit"
**Describe the bug**
I created a new document in Insomnia designer and cloned a git repository. I switched to a branch and then created an API request. Now I am trying to push that onto my branch. As I click on push button it starts loading and remains same forever. Nothing get pushed. Also same problem with pull also. Also when I click on commit button it shows me nothing to commit.

**To Reprodu

[2020-07-28 19:50] zinyosrim opened #2459 "Python code generated by Insomnia GraphQL client reacts not as expected - Problems with UTF-8"
I've an issue with the python code generated by Insomnia with submitting GraphQL queries to Shopify with Umlauts. When using the Insomnia client the query is executed as expected

<img width="1163" alt="PastedGraphic-4" src="https://user-images.githubusercontent.com/17767575/88713076-05367a80-d11b-11ea-91ea-d9c1d0d805c3.png">

When using the insomnia generated code with Python 3.x on Mac (tried bo

[2020-07-28 21:56] danthemanvsqz opened #2461 "Can no longer use bearer tokens."
Currently when I copy a bearer token into the form the text disappears and when I copy the request to curl I get the header set as authorization: Bearer undefined

I'm on a Mac to reproduce select Bearer from the authentication selections and copy a bearer token into the form. Then make a request and verify that the token is no longer there.

![image](https://user-images.githubusercontent.com/1470

[2020-07-28 21:58] gschier commented on #2461
We have fixed this issue in the latest release https://insomnia.rest/changelog/core/2020.3.3

[2020-07-28 21:58] #2461 closed, assigned to nobody

[2020-07-28 23:47] #2370 closed, assigned to develohpanda

[2020-07-29 02:35] ghostbody commented on #1778
@sanchitsharma try: https://github.com/Fyb3roptik/swaggomnia

[2020-07-29 09:10] ricardopt opened #2463 "Swagger version field is provided but it doesn't render"
**Describe the bug**
I've added a valid swagger yaml definition (I've been using editor.swagger.io to develop the spec and it's working on production) the first line clearly states the version `swagger: '2.0' ` and the render asks to specify the version.

**Tests done**
I've tested with " as well as '  so it's not a matter of quotation marks.

**Screenshots**
![image](https://user-images.githubuse

[2020-07-29 14:15] sonicyeti opened #2464 "Unit Testing Design Implementation @sonicyeti"
We will be performing the following visual and functional tweaks to the existing unit testing MVP.

![unit_testing](https://user-images.githubusercontent.com/52717970/89420367-99e33e80-d700-11ea-9a28-4ed281ed5b35.png)

### Left Rail
**1.**  Integrate new sidebar component in the following format:
TEST SUITE NAME
	- Test Name
	- Test Name
	- Test Name
TEST SUITE NAME
	- Test Name
**2.** Leverage ne

[2020-07-29 16:05] guidoarce89 commented on #203
I see the path params like env variables but to request level. I think I could define path params in my env variables but need to replace for some tests in specific requests..so I see as another layer of env variables but with the highest priority

[2020-07-30 19:04] #2436 closed, assigned to sonicyeti

[2020-07-30 19:36] nijikokun commented on #2463
Welcome @ricardopt 👋

Is it possible to provide the specification so we can test? I'm unable to replicate locally.

[2020-07-30 20:27] develohpanda commented on #1778
While Insomnia currently doesn't _generate_ an OpenAPI spec (and I agree it would be a useful feature), just chiming in that we've recently released [`inso`](https://github.com/Kong/insomnia/tree/develop/packages/insomnia-inso#-inso-export-spec-identifier), a companion CLI through which you can export the spec written in designer into a file (as an alternative to the comment quoted). 😄

`inso expo

[2020-07-30 20:34] develohpanda commented on #997
Looks like the issue was left open, but **Insomnia does support HTTP/2 now** 🎉 🎉 merged with https://github.com/Kong/insomnia/pull/2276, released in [2020.3.3](https://insomnia.rest/changelog/core/2020.3.0).

![image](https://user-images.githubusercontent.com/4312346/88971782-a0407780-d308-11ea-8818-10ee9a7ce010.png)

[2020-07-30 20:38] #997 closed

[2020-07-31 00:02] develohpanda opened #2468 "Remove usages of @autobind to allow for react-hot-reloading to work"

[2020-07-31 01:15] aszx87410 commented on #2397
I can reproduce this issue and I found that it's not actually crash but just very slow. It takes lots of time to load huge file. I have tried smaller file (~100 KB), when the raw data gets loading, the app became unresponsive, I think it's because loading huge raw data block main thread.

There are two solutions came to my mind, first one is we can set textarea by chunk, split huge raw data in pie

[2020-07-31 11:01] martasd commented on #2415
Hi @nijikokun. Does this feature request make sense? Do you know if there's any workaround to achieve this?

[2020-07-31 11:08] st-schneider commented on #2082
Is there an update on this?

[2020-07-31 15:24] robross0606 opened #2470 "Shift+Tab functionality changed in 2020.3.3"
The latest version (v2020.3.3) of Insomnia seems to have removed the ability to auto-indent a GraphQL request.  In previous versions keyboard shortcut `SHIFT+TAB` did this.  In the newest version, it shifts everything back one tab but doesn't fix indents.  What is the new shortcut key for auto-indenting GraphQL?

[2020-07-31 16:46] luca0898 commented on #2445
same hare!

**Environment:**
Windows 10 PRO (build 1909)
Installation method: EXE file
App Version: 2020.3.3

[2020-07-31 18:46] gschier commented on #2446
This is currently the expected behavior. Each time you switch to Debug, all requests are re-generated from the specification. If you want to modify something in the Debug tab, you will first have to duplicate the request (or you can update it within the spec).

[2020-07-31 20:06] gschier opened #2471 "Remove GH_TOKEN CI secret in favor of default GITHUB_TOKEN"
GH_TOKEN was originally added because `electron-builder`'s auto-updater didn't support the format of `GITHUB_TOKEN`. Now that we're not using `electron-builder`'s auto-updater, we can now switch back to using `GITHUB_TOKEN` which is provided by GitHub Actions by default.

[2020-07-31 20:27] sonicyeti opened #2473 "Validate top level spec property values."
Rather than rely on overall spec linter validation to suppress the sidebar if invalid, check top tier component property values that render so we can gracefully show the items that are valid.

[2020-07-31 20:32] #2471 closed, assigned to nobody

[2020-08-02 13:04] crijke commented on #2446
Ah, I see! My spec contains authentication information however, that is not reflected in the debug tab (see below), so I thought I need to manually update it in the debug tab.

[code]
and
[code]
for individual operations.

Is this the correct way to do it?

Also I think it would be better to disable the input fields for generated reqeusts instead of silently deleting values on tab change.

[2020-08-03 05:32] #2098 closed, assigned to nobody

[2020-08-03 06:29] develohpanda opened #2478 "Select all text operation is painfully slow with a large response"
**Describe the bug**
Code-mirror is great at efficiently rendering a very large amount of text, however both the response focus hotkey (`cmd + '` by default, which selects all text) and the select all (`cmd + a`) operations are _painfully_ slow, and also cause the application to become unresponsive.

Documents:
- 206 KB `https://github.com/tpn/pdfs/raw/master/A%20Comparison%20of%20Programming%20La

[2020-08-03 10:13] #2445 closed, assigned to develohpanda

[2020-08-03 10:32] eddiegroves commented on #1421
It was non obvious for me (😴) but remember you can take any helper and use that in an environment variable. So I used `Response -> Body Attribute` in an environment variable and then put that where I wanted with `dump` so that the value from the response was re-stringified (escaped)`{{ myVar | dump }}`.

[2020-08-03 16:48] aszx87410 commented on #2478
I like the idea of adding a CopyButton!  But we need to think about the position of the button. The position shown in the picture is blocking the text under the button, I am not sure if it will be an issue.

Another question for responsiveness, what size should be consider large? maybe > 500kb or 1024kb? And when user try to select the large text, it's better if we can display a message to user, s

[2020-08-04 04:02] develohpanda commented on #2478
In the query preview on the left hand side it's _not_ blocking text; text is wrapping around it.

![2020-08-04 15 47 23](https://user-images.githubusercontent.com/4312346/89250918-ee87aa80-d669-11ea-9fd1-baa3713547a2.gif)

But, I don't quite think that's quite as easy to achieve with CodeMirror, so yes we will need to investigate positioning. Open to ideas; how about in the preview mode dropdown?

[2020-08-04 12:05] trackwell-mike opened #2481 "[WORKAROUND] Receiving "Failed to render Request.name prior to sending""
**Describe the bug**
I am sporadically receiving this error and I'm not sure why so I can't help to reproduce it.  I've gotten it on a few different requests within the same environment. I can delete the request and rebuild the exact same request and it will work without the error. Any idea why I'm getting this if nothing appears to be different from other, working requests with the same info. I g

[2020-08-04 12:52] stormherz opened #2482 "CURL code generation not working"
**Describe the bug**
"Generate Code" and "Copy as CURL" functionality not working

**To Reproduce**
Steps to reproduce the behavior:
1. Create request
2. Click on "Generate Code" or "Copy as CURL"

**Expected behavior**
Generated CURL code or CURL request in clipboard

**Screenshots**
An error in developer tools console:
[code]

**Desktop (please complete the following information):**
 - OS: Linux

[2020-08-04 14:12] tafli opened #2483 "Escaped tags are rendered on sending a request"
In a requestbody, espaced tags like `{% {{key}} %}` should be rendered and sent as `{{key}}`. Instead it is presented as escaped (grayed out), but on send it will try to render it. Following error is shown: Failed to Render Request. Error: tag name expeced. Caused by the following field: line 0 of Request.body.text.

It is possible to deactivate rendering of a request body in the request settings

[2020-08-04 17:09] #2437 closed, assigned to gschier

[2020-08-04 17:25] tobske commented on #1950
We are using insomnia a lot at our company and for us it would be awesome to be able to define JS functions and have the response from another request as input for that JS function. This would allow to build great workflows by chaining several APIs, like in the following example:

- One API gives you a list of aircraft for some query parameters you defined as JSON
- Another API allows you to retri

[2020-08-04 19:17] #2397 closed, assigned to nobody

[2020-08-05 02:16] fredngo commented on #1940
Same here:

![Screen Shot 2020-08-04 at 10 14 57 PM](https://user-images.githubusercontent.com/11791/89364226-0bd76b80-d6a0-11ea-8939-4032d96b13d4.png)

[2020-08-05 02:25] fredngo commented on #1838
Duplicate of https://github.com/Kong/insomnia/issues/1940 ? This is really terrible as I can't use Insomnia anymore... I don't wanna use Postman :(

[2020-08-05 05:38] develohpanda opened #2485 "Update inso documentation on website"

[2020-08-05 08:26] Lysander opened #2486 "Provide an offline mode for requests"
It would be nice to have an offline mode (like [HTTPie has](https://httpie.org/docs#offline-mode)) in order to get the *full* HTTP request in a *raw form* even if there is no working / reachable webservice.

I am aware of the *timeline* function but this simply fails *before* it prints out the HTTP request!
Imagine a simple GET request to a not running / existing service on ``localhost:8080``:
[co

[2020-08-05 09:15] jirian commented on #190
Hi @gschier, I'd also appreciate sync server being open source, or at least a documentation of the API so we can write our own server implementations. And as I see the history of this issue, I think there are a lot of people who'd appreciate this as well. If I can help in any way with this, please, do contact me.

[2020-08-05 10:37] Lyra2108 opened #2487 "Masked Prompt variable is visible in hover text"
**Describe the bug**
For BasicAuth I would like to use Prompts to store the password a little bit better. The issue is that while the value is masked if I hover over the Prompt variable, it is no longer be masked if I hover over the variable which contains the Prompt result.
I need to use a variable in an enviorment, because for different servers I need different passwords (and for some it is fine

[2020-08-05 16:15] arjunbazinga commented on #2101
same, bumping issue

[2020-08-05 18:50] vaibhavpacharya opened #2488 "Read:Content Meaning when compression is enabled"
**What is your question?**
I see read and content properties when i mouse over the response after adding compression in the request header.
Please explain the meaning of the properties.
**What is the context?**
Testing compression for API's.
![read_content](https://user-images.githubusercontent.com/16417441/89452016-e1be9180-d711-11ea-9e49-8d17bdcee7f9.jpg)

[2020-08-05 19:27] sonicyeti opened #2490 "Insomnia Storybook Theme"
Quick pass on getting our instance of SB on brand.

[2020-08-05 20:22] tavareshenrique commented on #2101
I am upgrading my Insomnia to `Version 2020.3.3` and now it looks stable.

[2020-08-05 20:27] armandoSandino commented on #2101
I'm getting the same problem in version 2020.3.3 on Ubuntu 16

[2020-08-06 01:33] develohpanda opened #2491 "App reloading not working after Node12 upgrade"
After `npm run app-start`, making a change in code is not reflected in the app, even after a full reload.

Currently, a developer needs to run `npm run app-start` again, which is not ideal.

[2020-08-06 05:52] develohpanda opened #2492 "insomnia-components does not respect interface font size"
**Describe the bug**
What it says on the tin

**Expected behavior**
All elements should respect interface font size?

**Screenshots**
![2020-08-06 17 49 01](https://user-images.githubusercontent.com/4312346/89495880-57f3ee80-d80d-11ea-8d13-3d7ca2cc58ff.gif)

**Desktop (please complete the following information):**
 - OS: macOS 10.15.6
 - Installation Method: DEV
 - App Version: 2020.3.3

[2020-08-06 10:46] 3DRaven opened #2494 "How about some testing functionality?"
I have lot of requests as "test request for my api". For comfortable testing need to:

1. Start many requests as "one group".
2. Check to responses in this request is same as last time executed. If we have diff, need mark request as "changed response"
3. Show diff between last and current responses in response preview window.

[2020-08-06 14:00] #2490 closed, assigned to sonicyeti

[2020-08-06 16:06] rainzhao2000 commented on #315
I'm trying to use the Response - reference values from other requests, function template tag. I wish specifying a JSONPath in the tag editor could give me the raw escaped string since I'm using this string again to test another request. E.g my problem is that the newline character is being rendered and messing up the request.
[code]
becomes
[code]
so the actual request body fails to be valid json

[2020-08-06 17:31] nciske commented on #1666
Same issue.

A bit disappointed to see there's still no fix after [3 years](https://github.com/Kong/insomnia/issues/456).

[2020-08-06 18:13] nijikokun commented on #2494
@3DRaven - Want to make sure I understand the request correctly, you'd like to be able to make a request, save the response, make the request again, and compare the previous response to the current response?

[2020-08-06 18:16] nijikokun commented on #2488
Good question @vaibhavpacharya

- *Read* is the [entire response payload size](https://github.com/Kong/insomnia/blob/88b0bb784f126fcc880f1db596aa7eb76b75b9fe/packages/insomnia-app/app/plugins/context/response.js#L40)
- *Content* is the [response body payload size](https://github.com/Kong/insomnia/blob/88b0bb784f126fcc880f1db596aa7eb76b75b9fe/packages/insomnia-app/app/plugins/context/response.js#L5

[2020-08-06 18:16] #2488 closed, assigned to nobody

[2020-08-06 18:18] 3DRaven commented on #2494
Yes. But need repeat not only one request, need to repeat group of requests (all requests in group) and mark requests where old and new response is different, and show diff.

[2020-08-06 18:20] 3DRaven commented on #2494
And need to mark group of requests as "contans different responses" (icon or other manner)

[2020-08-06 18:25] nijikokun commented on #2486
@Lysander interesting feature from HTTPie, wonder if CURL has the same functionality as it's the underlying network lib

[2020-08-06 18:29] nijikokun commented on #2483
@tafli I believe raw should be used like following, I haven't tested (will after posting):

[code]

Update, looks like this is the proper usage, let me know if this works for you:

![image](https://user-images.githubusercontent.com/198276/89568646-75f32c00-d7d8-11ea-9e4f-f701cf8617b3.png)

[2020-08-06 18:34] #2473 closed, assigned to sonicyeti

[2020-08-06 18:39] #2435 closed, assigned to sonicyeti

[2020-08-06 20:13] #1640 closed

[2020-08-06 20:45] #2438 closed, assigned to develohpanda

[2020-08-07 07:01] noplanman commented on #1838
I just ended up staying on version 7.1.\*, as the problem only started with the newer 2020.\* versions.
Not a "solution", but at least I can carry on using Insomnia :innocent:

[2020-08-07 10:00] Lysander commented on #2486
Do you really know that? I haven't seen anything in their code that links to anything none python stuff! Imho it is based upon [requests](https://requests.readthedocs.io/en/master/#) which itself doesn't seem to rely on curl.

[2020-08-07 16:58] tafli commented on #2483
@nijikokun Yes, this works indeed as I expect! Thanks!

I also did some other research and found an example with description [here](https://jinja.palletsprojects.com/en/2.11.x/templates/#escaping).

Probably there can be a 'raw' function in the tag edit dialog? When I click now on the tag, it is still marked as 'Base64' function. It might also be easier for others when looking for escaping text.

[2020-08-08 12:58] KaKi87 opened #2500 "[Feature request] URL autocompletion"
Hello,

It would be great to have URL autocompletion on Insomnia just like on Postman :

![](https://media.discordapp.net/attachments/447714969757286423/741632973593640980/unknown.png)

Thanks !

[2020-08-09 00:19] propagating opened #2502 "Iterative Requests w/ Response Body Attributes"
**Is your feature request related to a problem? Please describe.**
When rolling out to new environments, I need to pull down ~60 unique identifiers and their associated content from one of our 3rd party vendors. The first stage is to request a list of objects, and then make a single request per object. We're not at the point where this makes sense to automate, but it's still a bit of an annoyance

[2020-08-09 15:44] ghinazi commented on #1755
any updates on this?

[2020-08-10 14:58] skiat commented on #2458
Additional info to this issue:
- git server is a self-hosted: GitLab
- the branch is Not protected

(Hi @develohpanda FYI this is what we also discussed very quikly on slack a few weeks ago)

[2020-08-10 19:12] #2491 closed, assigned to develohpanda

[2020-08-10 19:15] SerKnight opened #2503 "OAuth2.0 populate `access_token` to env"
**Is your feature request related to a problem? Please describe.**
I am using the OAuth2 auth tab and love the tooling around refreshing, adding scopes, encoding helpers.

However for all the other routes - we use `Authorization: Bearer #{access_ token}` tab like most OAuth2 API's once the token_set is generated you only need the JWT.

This requires copy & pasting the `access_token` back into the

[2020-08-10 21:14] #2097 closed, assigned to nobody

[2020-08-11 04:11] develohpanda commented on #2458
Ah, self-hosted GitLab strikes again.

I merged https://github.com/Kong/insomnia/pull/2432 recently, and there is a beta release (2020.4.0-beta.4) coming hopefully tomorrow that includes this PR, which may help you debug. You can upgrade to the beta channel from Preferences if you'd like to try it, but please note this is _beta_ and not stable.

I find this to be the interesting one, as the git se

[2020-08-11 04:27] #2240 closed, assigned to gschier, develohpanda

[2020-08-11 06:46] vino-jasuba commented on #1937
If the data you're referencing comes from the result of another request, you can pull it out of the response body object as below.
The only downside to this that I noticed is that insomnia can't parse the JSON body correctly. However, the request is handled just as expected.

Using insomnia core 2020.3.3 on ubuntu 20.04

![insomnia crop](https://user-images.githubusercontent.com/30801697/89865765-

[2020-08-11 08:00] soracoder commented on #1367
Still an issue. How is this going? has anyone take a look at this since 2019?

[2020-08-11 08:52] skiat commented on #2458
I think this is related to the long time one have to wait to see changed requests like reported here: #2457

[2020-08-11 10:10] srajsushmitha commented on #2036
Any luck? I have the same problem too

[2020-08-11 13:19] ac1dr3d commented on #1367
nope. no one cares.
tho its big drawback... :/ and just needs small fix.
the only way i suppose to make a pull request.

[2020-08-11 15:14] amcsi commented on #1614
I got all my Insomnia data wiped using Snap after an upgrade of Insomnia.

Luckily it was simple to recover my data.

To anyone who may run into this in the future:

Go to `~/snap/insomnia`.
See that `current` is a link to the latest version of the app.
Move the latest version folder to a backup.
Copy the version folder that's one version older recursively in place of the latest version's folder.

[2020-08-11 15:55] mason commented on #2036
Just use postman and use the Pre-request script feature to escape the json @srajsushmitha

[2020-08-11 16:54] mlh758 commented on #2187
I'm using Insomnia 2020.3.3 and I've observed this behavior:

If using multipart/form-data as the content type with a POST request it will follow the redirect and send POST again. If using application/json Insomnia will follow the redirect and change to a GET request. My version of curl:

[code]

just doesn't follow the redirect at all with a POST request.

[2020-08-11 21:45] mattwelke commented on #964
Not sure how relevant this is today, but this:

[code]

actually happened to me today. One of my team members ended up with one of my private workspaces on their machine, because apparently I had accidentally synced it when switching back to my work account.

Be careful of this.

[2020-08-12 01:48] lrweck opened #2506 "Exception does not contain spaces"
**Describe the bug**
I'm using java to develop a webservice and when I throw an exception it returns the correct response code, however the message does not contain spaces.

**To Reproduce**
Steps to reproduce the behavior:
1. throw exception that contains spaces in its messages in the app

**Expected behavior**
The returned message should contain spaces.

**Screenshots**
Insomnia:
![image](https:

[2020-08-12 06:19] develohpanda commented on #2458
Ah, gotcha. So you _do_, eventually, see changes in the commit dialog? You'll notice that I have put the accepted label on 2457, we'll get onto it when we get a chance.

In that case, with the upcoming beta release, please try those steps and report back. I'm hopeful that the additional logging that has recently been added will help to determine why push/pull isn't working for you.

[2020-08-12 18:02] #2454 closed, assigned to nobody

[2020-08-12 20:34] Ruan20795 commented on #2095
I know this issue is closed, and it was mentioned that there isn't an ETA on this, but that was a while ago and was wondering if there is any progress on this?

This is quite critical for us since all our code is hosted in Azure DevOps Git...

[2020-08-13 06:37] gautamtyagi81 commented on #2458
yes It worked for me. Now I'll check again for my project. Thanks a lot

[2020-08-13 10:46] 3DRaven commented on #2413
Not. This bug is not fixed in 2020.3.3. I found this bug again. But
if I click in url edition field -> tooltip window hided
if I click in another windows -> tooltip window not hided.

[2020-08-13 10:47] SylwesterZarebski opened #2508 "CTRL+A in Visual Preview of CSV data select application texts"
**Describe the bug**
When i have CSV file response, then using <kbd>CTRL+A</kbd> being in Visual Preview (after clicking in) select texts outside preview.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to any endpoint returning CSV response (do not have any public one, sorry).
2. Ensure Visual Preview is shown and click inside.
3. Press <kbd>CTRL+A</kbd> to select all response.
4. S

[2020-08-13 14:14] hyzyla commented on #2482
I also have this problem when I changed cookie via interface
![image](https://user-images.githubusercontent.com/7952949/90145293-75363900-dd88-11ea-9d66-8b6e090ce82d.png)

[2020-08-13 18:56] #2485 closed, assigned to develohpanda

[2020-08-13 19:24] develohpanda opened #2509 "Support "Failed with errors" for Insomnia Core imports"
**Is your feature request related to a problem? Please describe.**
Related to https://github.com/Kong/insomnia/issues/2072.

This is a spec that can be imported, it just has an invalid security key.

<details>
<summary>Example</summary>

[code]

</details>

Swagger editor shows the spec but also presents an error.

![image](https://user-images.githubusercontent.com/4312346/81614801-a96e2680-9434-1

[2020-08-13 19:25] nijikokun opened #2510 "Cannot install kong-plugin-bundle"
Issue with kong-portal plugin when installing

[2020-08-13 21:40] Ruan20795 opened #2511 "CLI Test command should recognize block tags + plugins"
**Describe the bug**
I am using the "[Random Number](https://insomnia.rest/plugins/insomnia-plugin-randomnumber)" plugin in the Insomnia Designer. This tag is used in a few places in my unit test execution. When running the tests through the Insomnia Designer all my tests pass without a problem, but when I use the CLI to run the tests, I get a "Error: unknown block tag: randomnumber".

I am making

[2020-08-13 22:43] develohpanda commented on #2511
Thanks @Ruan20795, this is a valid use case and should be supported. This initial stage of the CLI does not play with plugins, so I've marked this as a feature request instead of a bug. We need to give some thought towards how to communicate plugin information through to the CLI. 👍

[2020-08-13 22:58] Ansuman28 opened #2512 "Proxy Authentication with support for special characters in password"
**Describe the bug**
Proxy password can contain special characters such as @,# so on. Current proxy with authentication setting in Insomnia doesn't support special characters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'preference -> http network proxy '
2. Put on url as 'http://user:p@ss#@proxyurlhost:port
3. Do a normal API request
4. See error 'couldn't resolve proxy name'

**E

[2020-08-14 09:59] eddiegroves commented on #645
Essentially the current filtering is useless for any SOAP responses, likely a common reason us enterprise folks are working with XML.

Would love to see support updated.

[2020-08-14 10:01] gautamtyagi81 commented on #2458
Its working If i create a new blank document. But it is not working if I create new API request in existing document which I synced from gitlab repository

[2020-08-14 20:48] MartinX3 commented on #2101
Fresh installed 2020.3.3 via PPA on a fresh installed Ubuntu 20.04
Getting the same error

[2020-08-14 23:32] Ruan20795 opened #2515 "Designer Tests not using latest "Response Body Attribute" due to not updating the History"
**Describe the bug**
When making use of the Response => Body Attribute tag, all works perfect when executing the requests manually in the DEBUG tab of the designer. When using these created requests to build up a test suite, and chaining the requests, the request that is executed, does not update the history of the request, and in turn, the next request in the chain uses a "stale" response.

**To

[2020-08-15 08:10] seanghay opened #2516 "Kotlin Http Request Code Generation"
**Is your feature request related to a problem? Please describe.**
Currently, Insomnia could let us generate Java code. However, I am an Android developer, and I always wanted to generate **Kotlin** code instead of Java code for OkHttp request. Also, Kotlin now becomes one of the most popular languages.

**Describe the solution you'd like**
I have made a [pull request](https://github.com/Kong/http

[2020-08-15 12:00] bartolomej commented on #2172
Okay, so I added a basic tooltip with references to the official documentation for the most popular platforms.
![Screenshot 2020-08-15 at 13 52 55](https://user-images.githubusercontent.com/36109955/90311793-40002700-deff-11ea-8507-c8b8c149b064.png)

I will also try to make some improvements to the error messages.

[2020-08-15 23:48] develohpanda commented on #2458
Hmm, that's interesting. A couple of questions:
1. Could you provide any information on what your document looks like? A few/a lot of requests, a few/a lot of commits in the repository, whether _you_ created the repository or you cloned an existing repository with the `.insomnia` directory.

1. Both the original repository, and the testing repository - did you create them, and can confirm you have

[2020-08-16 00:47] develohpanda commented on #2172
Marking this as closed with #2517 - while smart notifications with _why_ auth failed are tricky (we recently added more logging in the console window to help, #2432), having docs about how to generate access tokens for each provider are a good alternative. The rest of the configure docs form is self-explanatory. 😄 🎉

[2020-08-16 00:47] #2172 closed, assigned to nobody

[2020-08-16 14:17] ali2560 opened #2521 "robotjs problem with glibc"
I've been install robotjs on ubuntu 20.04 and require it my nodejs application. Also i've been install glibc 2.31 version. but when i want to run my application, i watch error below:

internal/modules/cjs/loader.js:1187
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: /snap/core/current/lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.26' not found (requ

[2020-08-16 19:48] reynolek commented on #2516
Hey @seanghay! When I saw this issue I was reminded of the open PR for `kong/httpsnippet` which you also authored. Since Insomnia uses that library as well, I have merged that, and tomorrow I will deploy a new version of `httpsnippet`.

From there it would be fairly easy to just update https://github.com/Kong/insomnia/blob/17d31eeb507dddf0279ac150596245b7a06cfe43/packages/insomnia-send-request/pac

[2020-08-17 02:04] seanghay commented on #2516
Thank you @reynolek !

[2020-08-17 03:37] 6utt3rfly commented on #2255
This is required to login to Insomnia accounts as well (fresh install)

[2020-08-17 08:53] gautamtyagi81 commented on #2458
Yes @develohpanda . I cloned existing repository in insomnia designer which has already around 80 API requests.
1. I created a new folder in which I created 2 API requests. I tried with just 1 commit. I tried to push in existing branch which was made during development and fetched in insomnia designer.
2. I did not create the repository. It is existing project in gitlab and I was given access. The

[2020-08-17 13:52] gautamtyagi81 commented on #2458
I delete my document and cloned the repository again. Then I added my requests and then commit
Commit goes fine but when I pushed then I got this error

TypeError: Cannot read property 'request' of undefined
    at httpPlugin (file:///C:/Users/91989/AppData/Local/insomnia-designer/app-2020.4.0-beta4/resources/app.asar/bundle.js:175820:19)
    at async Function.discover (C:\Users\91989\AppData\Loca

[2020-08-17 14:59] kossmoboleat commented on #260
How would one implement this workaround? Would I use a plugin that evaluates some script before running a request?

We need the ability to clear tokens because we have users with different credentials and different stages. We often have to switch between them and cannot use Insomnia without the ability to clear the token cache (or having it cache the value including the username)...

[2020-08-17 16:28] twobiers opened #2524 "Insomnia Designer with Schema produces RequestBody null in Debug"
**Describe the bug**
When Debuging a Request which is defined by using a schema as request body the request body in debugging view is null

**To Reproduce**
The following is a minimal OpenAPI 3 config which reproduces the bug:
[code]

**Expected behavior**
As the Example Request Body is generated using the schema I would expect it to be filled in in the debug view as well.

**Screenshots**
The gen

[2020-08-17 20:20] nijikokun commented on #2521
Welcome @ali2560

I think you may have submitted the issue to the wrong repository as this is the `insomnia` repository, not the [`robotjs` repository](https://github.com/octalmage/robotjs).

[2020-08-17 20:20] #2521 closed, assigned to nobody

[2020-08-17 20:29] nijikokun opened #2525 "Allow pulling / pushing to repositories with existing content"
**Is your feature request related to a problem? Please describe.**

Unable to publish or pull from repositories with existing content on initial setup of Git Sync in Insomnia Designer. When attempting to connect to a repository that already contains content such as a readme, a user will run into the error dialog detailing that they cannot pull or push depending on the action taken.

**Describe the

[2020-08-17 21:06] develohpanda commented on #2515
This is very much related to #2511. Running tests doesn't update response history, but tests also don't handle block tags so there are two blockers.

[2020-08-17 21:34] #2510 closed, assigned to develohpanda

[2020-08-17 21:45] reynolek commented on #2516
I have published [1.22.0](https://github.com/Kong/httpsnippet/releases/tag/1.22.0) of `httpsnippet`.

[2020-08-18 11:19] bennyrw commented on #1976
Sorry to comment on a closed issue but I also found myself here after finding the actual behaviour (version 2020.3.3) doesn't match the tooltip that appears for 'Storage key': 'If this is set, the value will be stored in memory under this key until the app is closed'. Perhaps the tooltip could be corrected if this is working as you intend? Thanks

[2020-08-18 19:49] zigiiprens commented on #2101
Installation on Ubuntu 20.04.1 get the same `chmod: cannot access '/opt/Insomnia/chrome-sandbox': No such file or directory` error from PPA source.
`version 2020.3.3`

[2020-08-18 22:10] MagicShoebox commented on #2187
Also ran into this, see https://github.com/curl/curl/issues/5145 for more details.
TL:DR: the `-X/--request` flag **overrides** the switch to GET. In fact, if run with `-v`, the curl command line will log "Switching to GET" and then send off a second POST anyway. Removing the `-X/--request` flag and relying on `--data` to implicitly set it works as expected. I, for one, did not find this intuitive

[2020-08-19 02:54] develohpanda opened #2529 "Create zip archives of Kong Plugin Bundle installations"
- [x] MacOS [macos-insomnia-plugin-kong-bundle-v2.2.21.zip](https://github.com/Kong/insomnia/files/5093869/macos-insomnia-plugin-kong-bundle-v2.2.21.zip)
- [x] Windows 10 [windows-10-insomnia-plugin-kong-bundle-v2.2.21.zip](https://github.com/Kong/insomnia/files/5095426/windows-10-insomnia-plugin-kong-bundle-v2.2.21.zip)
- [X] Ubuntu 20.04.1 LTS [ubuntu-insomnia-plugin-kong-bundle-v2.2.21.zip](htt

[2020-08-19 13:31] kossmoboleat commented on #260
@nathanwaldman @gschier

How would one implement this workaround? I still don't see how that would work, because I'm not aware how to access Insomnia token cache (and where I could trigger such a script)...

I would argue this has a higher priority if there's no workaround. For us it's a block before we could use Insomnia.

[2020-08-20 00:41] savanvadalia commented on #1423
Any updates on this feature seems like very useful missing feature, I am in the same situation using AWS cognito as the OAuth provider and want to use the IdToken. Even Postman doesn't support this so will give an added advantage to Insomnia. Really surprised this request was Closed.

@mim-Armand , any way community can use your work?
Is there way your tool can be shared?

@gschier, any chance we

[2020-08-20 01:11] mim-Armand commented on #1423
@savanvadalia you are welcome to build this fork [here](https://github.com/mim-Armand/insomnia/tree/master) which has that feature implemented (as in the picture above) but it's behind upstream for all the other updates that may have happened during the last two years.
I think we can bring it back/up to date though if we can get it merged?

[2020-08-20 01:28] savanvadalia commented on #1423
@mim-Armand , thanks for your prompt reply. I had a look at your commit, sorry I didn't realize I would need front-end development skills (Javascript. React, etc) to contribute. I am terrible with frontend 😞  so I guess I can just add my voice here to reopen the issue.

[2020-08-20 03:16] develohpanda commented on #994
Likely fixed by https://github.com/Kong/httpsnippet/pull/173

[2020-08-20 03:59] nathanwaldman commented on #260
@kossmoboleat for my use case, for a particular request on the Auth/OAuth2.0 tab I just need to remember to click the "Clear" button after switching environments.  Then when I send the request Insomnia will re-fetch the access token.

[2020-08-20 04:17] #2516 closed, assigned to nijikokun

[2020-08-20 08:13] the-csaba opened #2530 "[Bug] URL field and SEND button font size not respect changes"
**Describe the bug**
Preference changes not applying to the URL text field and the SEND button. Neither the Interface Font Size, neither the Editor Font Size. They always stay the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Preferences
2. Change Interface Font Size
3. Go back to the main window

**Expected behavior**
The Interface Font Size change the URL field and the SEND b

[2020-08-20 08:25] kossmoboleat commented on #260
@nathanwaldman Ah right, that works. For some reason I didn't think of looking there. I had been experimenting with the [env authentication plugin](https://insomnia.rest/plugins/insomnia-plugin-env-authentication) which of course has no UI...

[2020-08-20 08:28] develohpanda commented on #2530
Duplicate of https://github.com/Kong/insomnia/issues/2492, but I will leave it open 👍 Thanks for the report!

[2020-08-20 10:44] softmarshmallow commented on #1841
+1 for gRPC, no other client supports gRPC yet (such postman, postwoman), this will bring insomnia to the next level.
(yet postwoman already supports websocket, mqtt, ..)

[2020-08-20 19:12] develohpanda opened #2535 "Add spectron for automated e2e testing"
- [x] Add spectron with a basic test #2531
- [x] Run with installed app #2531
- [x] Run with packaged app (after `npm run app-package`) #2531
- [x] Run with built app (after `npm run app-build`) #2531 #2537
- [x] Mock local server to query against #2544
- [x] Add Core to PR pipeline #2536
- [x] Run tests specific to Core vs Designer #2545
- [x] Add Designer to PR pipeline #2549
- [x] Add to Linux

[2020-08-21 00:36] aesyondu commented on #2154
I was looking for this as well. But if I'm not mistaken, this is already addressed in https://github.com/Kong/insomnia/issues/1653?

[2020-08-21 08:15] skiat commented on #2458
Hi
 I wanted to do a test also on my side using the beta 2020.4.0-beta.4, but with this version as soon as I start ( **fresh AppData** Insomnia folder and **fresh clone**) when I want to commit all of the requests are set to changed to be staged and committed :-O and if I try to rollback nothing happens

[2020-08-21 08:15] 3DRaven opened #2538 "Autocomplete to jsonpath in preview window"
We can make jsonpath filter in preview filter window as
regularSkus[?(@.year==1)].skuName

Nice to have autocomplete in editor

[2020-08-21 08:17] 3DRaven opened #2539 "Copy jsonpath in preview window"
In preview window we can look at json response of service. Nice to have possibility of select field in json and copy it jsonpath to clipboard.

[2020-08-21 11:21] Zap123 commented on #1871
Same problem for me. It only works the second time if I remove the snap/insomnia folder and start from scratch.
[insomnia-strace.txt](https://github.com/Kong/insomnia/files/5117222/insomnia-strace.txt)

[2020-08-21 13:29] jostFT commented on #1937
@vino-jasuba Are you certain that it is not using your previous json body that had no parsing errors? That's what happened to me. I thought it worked, but it turned out that due to the parsing error, it simply referred to a previous json body that had no parsing errors.

[2020-08-21 14:19] TheAifam5 commented on #1367
I have same issue for OpenAPI 3 and Swagger 2.0 documents :/

[2020-08-21 15:35] #2529 closed, assigned to develohpanda

[2020-08-21 15:58] bob-laz commented on #2011
I would also find this feature useful. being able to keep my folders organized would help me find requests I am looking for much more easily.

[2020-08-21 16:14] rbrianhazzard opened #2540 "Is it possible to have a private base environment?"
**What is your question?**
The documentation [here](https://support.insomnia.rest/article/18-environment-variables) under `Sub Environments` specifies that you can mark a sub-environment as private. Is this possible with base environments?

**What is the context?**
If I export a workspace to source control, I'd like to have a private environment with variables like "me" and "password" for authenti

[2020-08-21 16:21] nijikokun commented on #2540
Unfortunately, at this time, it is not possible to mark your base environment as private. It seems like you're already aware of private sub-environments, which should be used for this functionality.

It would be nice to have required variables that don't get set, not sure what the expected workflow or usage would look like in that scenario, any thoughts? Since it would require user engagement on s

[2020-08-21 16:41] rbrianhazzard commented on #2540
My initial thought was to just have a "Base Private Environment". This doesn't work right now since I'd have to select the private environment in place of the sub-env I actually want to use

For Example:
![image](https://user-images.githubusercontent.com/45824358/90914258-965fe080-e3ab-11ea-8d47-6f848c262c3c.png)

The idea being I can flip `Staging` and `Prod` while falling back to a private base

[2020-08-21 16:53] nijikokun commented on #2540
Yeah, we currently don't support the functionality in the way that you describe so it'd be a feature request, allowing users to have a private base environment.

Currently, you'd have to swap between two private sub-environments.

[2020-08-21 16:54] rbrianhazzard commented on #2540
Got it, thanks!

[2020-08-21 16:54] #2540 closed, assigned to nobody

[2020-08-21 18:49] rbrianhazzard opened #2541 "Private Base Environment"
**Is your feature request related to a problem? Please describe.**
It would be great if I could have a private base environment for sensitive information.

**Describe the solution you'd like**
I provided a potential solution [here](https://github.com/Kong/insomnia/issues/2540), in that there could just be a second "secrets" base environment that is private.

**Describe alternatives you've consider

[2020-08-22 10:28] superTinys opened #2542 "npm run bootstrap failed in windows"
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\tools\\nodejs\\node.exe',
1 verbose cli   'C:\\tools\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'bootstrap' ]
2 info using npm@6.4.1
3 info using node@v10.15.3
4 verbose run-script [ 'prebootstrap', 'bootstrap', 'postbootstrap' ]
5 info lifecycle insomnia@1.0.0~prebootstrap: insomnia@1.0.0
6 info lif

[2020-08-22 10:30] superTinys commented on #2542
**insomnia version**: 7.1.1
**windows version**: win10
**node version**: v10.15.3

[2020-08-22 12:14] develohpanda commented on #2542
Please pull the latest `develop` (the default branch) and try to bootstrap that. There is a pre-install check that will validate you are on the correct version of Node.

The current version is 12.18.3, specified [here](https://github.com/Kong/insomnia/blob/develop/.nvmrc) - since you are on Node 10, that is why bootstrapping is failing for you.

[2020-08-22 12:14] #2542 closed, assigned to nobody

[2020-08-22 12:58] superTinys commented on #2542
thanks

[2020-08-22 14:06] superTinys opened #2543 "npm run bootstrap failed in windows 10"
`
C:\Server\electron\app\insomnia-develop>npm run bootstrap

npm WARN babel-loader@8.1.0 requires a peer of webpack@>=2 but none is installed. You must install peer dependencies yourself.
npm WARN babel-plugin-styled-components@1.11.1 requires a peer of styled-components@>= 2 but none is installed. You must install peer dependencies yourself.
npm WARN eslint-config-semistandard@15.0.1 requires a p

[2020-08-22 14:29] superTinys commented on #2543
insomnia version : lastest

[2020-08-22 23:09] superTinys commented on #2543
rerun :

npm ERR! code ETARGET
npm ERR! notarget No matching version found for isomorphic-git@1.7.4.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of 'insomnia-send-request'
npm ERR! notarget

[2020-08-24 01:30] #2213 closed, assigned to nobody

[2020-08-24 07:04] tckb opened #2547 "Possible regression: Requests does not work for localhost for macOs"
**Describe the bug**
I am not able to make any "localhost" requests. Neither `localhost` or `127.0.0.1` works for me.  I tried with both stable and the current beta version. It is the same issue.

Similar/same issues:
-  https://github.com/Kong/insomnia/issues/1331
- https://github.com/Kong/insomnia/issues/2090

**To Reproduce**
Start a server on localhost at some port

Steps to reproduce the beha

[2020-08-24 07:37] warent commented on #1363
Would love to see this. Using curl in the meantime

[2020-08-24 09:27] tckb commented on #2547
OAuth2 was enabled (my oversight!) from different request. The UI did not highlight that it was enabled and neither did the timeline suggest this was enabled. I will close this because the issue was resolved

[2020-08-24 09:27] #2547 closed, assigned to nobody

[2020-08-24 10:29] wc-matteo commented on #2035
same here with this url: https://www.iutbayonne.univ-pau.fr/~klevron/mm/api/download?path=images/Desert.jpg

[2020-08-24 11:40] 4n70w4 commented on #491
the same issue

[2020-08-24 11:43] 4n70w4 commented on #491
May be add flag (with default value from `Validate SSL Certificates` `General` preferences) to `Generate Client Code` popup for add insecure flags.

![image](https://user-images.githubusercontent.com/38257723/91041024-fb1f7300-e617-11ea-82f4-a58d7bbe97d3.png)

[2020-08-24 13:22] Hitmasu opened #2548 "Could not expand reference"
When i make a pull in a branch from bitbucket, i've receveid this error: `Could not expand reference "branch-name"`.

![image](https://user-images.githubusercontent.com/13804176/91049216-36f41180-e5f3-11ea-9e07-2dab3b7543e1.png)

`ExpandRefError: Could not expand reference "added-insomnia".
    at Function.expand (C:\Users\Hitmasu\AppData\Local\insomnia-designer\app-2020.3.3\resources\app.asar\nod

[2020-08-25 02:59] dgroomes commented on #479
Here is a Node.js script to export a workspace from Insomnia. It mostly boils down to this function https://github.com/dgroomes/nedb-playground/blob/0d20d10407408dfa6cd6a8d16ccd27ef65249a74/insomnia.js#L84

You use it with `npm install && node insomnia.js` and then it writes a valid Insomnia export file. (It hardcodes some things too). It was a good refresher for me for JavaScript (never used asyn

[2020-08-25 04:23] nijikokun commented on #2543
It looks like you've truncated the actual error output in your original post. Do you mind following the steps below and pasting the full output should you encounter an error? I've also written a [small development guide](https://github.com/Kong/insomnia/wiki/Development-Guide) while trying to replicate. Mostly requirements to get started.

Can you follow these steps below and provide output?

1. `

[2020-08-25 04:44] develohpanda opened #2552 "Improve the output of the node version check script"
![image](https://user-images.githubusercontent.com/4312346/91123821-ec0cf380-e6f1-11ea-8079-ca709af26e4e.png)

Currently the response at the top is overpowered by the npm error lines. It would be nice to increase the visibility of the output through console log text colors: https://stackoverflow.com/a/41407246.

Note we cannot use an npm module like chalk for this, as the script runs and errors _b

[2020-08-25 06:20] #2543 closed, assigned to nobody

[2020-08-25 06:22] superTinys commented on #2543
Thank you. I'll try it later

[2020-08-25 12:28] GlowingUmbreon opened #2553 "Having imported requests go inside of a temporary folder"
**Is your feature request related to a problem? Please describe.**
A lot of the requests I import into insomnia are from chrome dev tools, If I click the wrong button on copy request I can end up copying every single request from that page (even more if Preserve log is enabled) and then There is no easy way to get rid of all the requests from insomnia.

**Describe the solution you'd like**
Having

[2020-08-25 14:50] BrakefieldMN commented on #1345
This is still interesting.

[2020-08-25 18:59] matttrawicki commented on #1345
👍

[2020-08-25 19:00] sonicyeti opened #2554 "Unit Testing Default Empty State"
Integrate a visually appealing default empty state for uint testing leveraging Debug's empty state as a starting point. Part of the over-arcing unit testing design sweep: https://github.com/Kong/insomnia/issues/2464

**Current empty state:**
![Screen Shot 2020-08-25 at 3 07 58 PM](https://user-images.githubusercontent.com/52717970/91217004-d6dd9800-e6e4-11ea-9edb-ff300e492a37.png)

**Debug's empty

[2020-08-25 19:06] sonicyeti commented on #2554
Integrate a visually appealing default empty state for uint testing leveraging Debug's empty state as a starting point.

Debug's empty state for reference:
![Screen Shot 2020-08-25 at 3 05 40 PM](https://user-images.githubusercontent.com/52717970/91216817-8c5c1b80-e6e4-11ea-8560-82ef8c58d2cb.png)

@erickrico

Part of the over-arcing unit testing design sweep: https://github.com/Kong/insomnia/issue

[2020-08-25 19:10] sonicyeti opened #2555 "Unit Testing Sidebar Integration"
Integrate our sidebar. Part of the over-arcing unit testing design sweep. See item 1 & 2: https://github.com/Kong/insomnia/issues/2464

**Current state:**
![Screen Shot 2020-08-25 at 3 12 46 PM](https://user-images.githubusercontent.com/52717970/91217408-73a03580-e6e5-11ea-842b-bf5889bf02e2.png)

[2020-08-25 19:15] erickrico commented on #2554
what are the main actions and commands you can do on test mode? @sonicyeti

[2020-08-25 19:21] sonicyeti commented on #2554
@erickrico From an empty state the first (and only) action would be to create a new test suite.

@nijikokun @develohpanda Would it be awesome to almost treat it like a guided scenario where we prompt them to create a new test suite from scratch or start with a template that we drop in? I'd love that, especially given the UX pattern here where you really need to follow a very linear path to get goi

[2020-08-26 05:53] tilakdewangan commented on #1367
I am also facing the same issue. My finding is - when you have a relation between 2 classes and they have each other as a property then Swagger UI stuck in a loop.

[2020-08-26 05:59] yashshah1 commented on #2552
Can I work on this?

[2020-08-26 06:11] develohpanda commented on #2552
@yashshah1 sure can! 😄

[2020-08-26 08:18] fjfnaranjo-wavelt commented on #1850
Another nice-to-have related to this.

If the format used to store the workspace is JSON, you should consider not minifying the JSON. Because for VCS is better to have it line by line. For diffs and efficiency in merges.

[2020-08-26 10:25] scollovati opened #2560 "Add parameter documentation fields (value / type)"
Hi,
it may be great to have in the CORE client the parameter documentation (like description, value, type).
Here an example of a swagger file with this parameter documentation: https://developer.blackboard.com/portal/docs/apis/learn-swagger-3800.17.0.json

[2020-08-26 14:09] erlangparasu opened #2561 "show workspace id too, instead of just workspace name"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when workspace have same name.

**Describe the solution you'd like**
A clear diference between workspaces names

**Describe alternatives you've considered**
Show workspace id + name
eg:
`-----------------------`
`wrk_qwer MyWorkspaceOne`
`-----------------------`
`wrk_asdf MyWorkspaceOne`
`--------------------

[2020-08-26 15:01] #2552 closed, assigned to nobody

[2020-08-26 15:37] sonicyeti opened #2562 "Unit Testing > UI Lag"
**Describe the bug**
When multiple test suites exist, each containing multiple tests the Unit Testing UI is slow to initially render.

**To Reproduce**
See replication steps [here](https://github.com/Kong/insomnia/issues/2562#issuecomment-681013144).

**Expected behavior**
Near zero lag.

**Desktop (please complete the following information):**
![image](https://user-images.githubusercontent.com/52

[2020-08-26 17:16] nijikokun commented on #2562
Reproduction is now possible:

1. Create two unit testing suites
1. Add 20+ unit tests to each suite
1. Use a code block longer than five lines for more than half of the unit tests (see example below)

Now when switching between test suites, or between debug and test, there is noticeable lag of around 3-10 seconds (see attached performance test).

![image](https://user-images.githubusercontent.com

[2020-08-26 21:00] develohpanda commented on #2554
Just some clear buttons in the big open area that say something like "Create a new test suite", and then "create a new test" once an empty test suite is selected. Can be guided, but IMO needs to be as few clicks as possible.

[2020-08-27 08:16] feakuru opened #2563 "File paths not parsed on Windows"
**Describe the bug**
Seems like slashes are not parsed correctly in the "File" JSON field type.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request with JSON body
2. Press Ctrl+Space
3. Choose "File"
4. Choose a file
5. See the error.

**Expected behavior**
File being parsed.

**Screenshots**
![image](https://user-images.githubusercontent.com/14169434/91415383-a7e73380-e856-11ea

[2020-08-27 14:16] sonicyeti opened #2564 "Unit Testing Suite and Tests UI"
This covers the design integration of the primary test stage within the Unit Testing UI. There is a high degree of confidence that the end result will also resolve the UI lag we've identified when multiple CM instances are rendered.

Additional items to implement:
- Sticky action bar so the functionality isn't lost on scroll
- Keyboard shortcuts for new test & new test suite (hinted on empty state

[2020-08-27 21:43] joshpaulchan commented on #1841
Apologies if this is the wrong place to raise this, but I'd like to work on:

I'm not actually sure if someone's currently working on it. I've read the contributing guide and through the relevant issues; is there an existing project or ticket to track the work + implementation plan?

[2020-08-28 07:20] chaosben opened #2567 "Quotes in parameters for template-tags are not escaped"
**Description**
Double quotes in parameters for template-tags aren't escaped. Therefore the whole json (an environment or an body) becomes invalid.

**To Reproduce**
Steps to reproduce the behavior (this is just an example ... the bug _also concerns other plugins_):
1. Install insomnia-plugin-chance
2. Add template-tag "chance" to an JSON-request-body
3. Edit template-tag: select _Type_ **Pick One

[2020-08-29 00:59] gschier commented on #2567
For template tags that need to handle a wide variety of user inputs (eg. quotes), an `encoding` option was added to the parameter option, which can be set to `base64`. If this option is added, the resulting tag will be something like this: `"Param1" : "{% chance 'pickone', '', 'WyJhIiwgImIiXQ==' %}"`

Our 1st-party Response tag uses this for the filter parameter:

https://github.com/Kong/insomnia/

[2020-08-29 07:13] chaosben commented on #2567
Great!
This solution is much better, then escaping. Well done!
Thanks for the hint!

[2020-08-29 07:13] #2567 closed, assigned to nobody

[2020-08-29 17:51] SaraivaDaniel opened #2569 "Request broken if line breaks inside request auth options fields"
**Describe the bug**
The input fields in **Auth** tab allow new lines to be entered if a user types `ENTER` before inputting any text. This new lines are sent in the header of the request, breaking the request.

I inadvertently typed a `ENTER` in the `prefix` field of the Bearer auth option, while the cursor was there, and took a while to figure that there as a line break in the field after the re

[2020-08-29 20:39] alexdeia commented on #691
I try to use Insomnia after Postman, but I have a lot of collections in Postman, and, I'm lazy to move all of them. I hoped this feature will be done.

[2020-08-30 12:02] develohpanda opened #2570 "Re-publish Kong plugins after stable pivot release"
The latest version of the Kong portal plugin can only be used with 2020.4.0 onwards, because of an update to how `styled-components` is bundled. Therefore, these plugins need to be re-published after 2020.4.0 has been released to the stable channel.

[2020-08-30 12:21] arjunkesava commented on #2380
Hey @nijikokun
Please check the PR, raised to resolve this issue.
https://github.com/Kong/insomnia/pull/2571

[2020-08-31 01:41] #2380 closed, assigned to nobody

[2020-08-31 02:06] develohpanda opened #2573 "Design sidebar click doesn't always trigger click-to-scroll"
**Describe the bug**
When clicking on an entity in the sidebar, only clicking on the text triggers the click, not the entire highlighted space next to the text

**To Reproduce**

<details>
<summary>Example spec</summary>

[code]

</details>

![2020-08-31 14 04 07](https://user-images.githubusercontent.com/4312346/91676140-f7996800-eb92-11ea-801e-e4957aedf0be.gif)

**Expected behavior**
Note from a

[2020-08-31 02:10] develohpanda opened #2574 "Design sidebar seems to jump when expanding a section"
**Describe the bug**
What it says on the tin - looks a little janky towards the _end of the open animation_

**To Reproduce**
![2020-08-31 14 08 15](https://user-images.githubusercontent.com/4312346/91676313-85755300-eb93-11ea-9c21-dd37976ef2c3.gif)

**Expected behavior**
Smooth animations

![](https://media1.giphy.com/media/84fFptgxiU7cY/giphy.gif)

**Desktop (please complete the following inform

[2020-08-31 19:00] incompletude commented on #2035
I have been experiencing the same problem on Mac OS Catalina lastest with big payloads. It becomes unusable.

[2020-09-01 08:30] eamigo86 commented on #793
Please do not close this issue that still occurs:

Steps to reproduce:
- Bodies with big data structures (JSON or XML) or base64 strings

Tested too storing the base64 string in an Insomnia's environment variable

- Insomnia Version: 2020.3.3
- Operating System: MacOS Catalina 10.15.6
- Hardware Specs: i7-8750H + 32GB RAM + SSD 1TB

[2020-09-01 11:41] fvieira commented on #2211
This would be very useful, and it doesn't seem to exist yet.

[2020-09-01 13:27] sonicyeti opened #2577 "Insomnia Core & Designer App Icon > Linux"
The branded core & designer icons do not appear post linux install.

**Spotlight**
![Screen Shot 2020-09-01 at 11 56 34 AM](https://user-images.githubusercontent.com/52717970/91876038-40f8be80-ec4a-11ea-8898-9fde0cc29c61.png)

**Favorites**
![Screen Shot 2020-09-01 at 11 56 52 AM](https://user-images.githubusercontent.com/52717970/91876050-448c4580-ec4a-11ea-90d7-2688cc621f2b.png)

[2020-09-01 14:08] sonicyeti opened #2578 "Editor typography muted"
In both designer and core the typography (especially within the editor mode) is extremely muted and hard to visually parse. I checked preferences and they are identical to my OSX settings. The in Ubuntu however, is "Menlo". A switch to Mono or default system sans-serif may be more appropriate, see bottom screenshot.

**Muted display in both light & dark themes**
![Screen Shot 2020-09-01 at 9 36 05

[2020-09-01 14:26] sonicyeti commented on #2578
I'll test this on a fresh VM as well. There was a number of font management and support provisioning needed to run a branch locally. Something might have been thrown.

[2020-09-01 15:25] 4n70w4 commented on #2220
The same issue

[2020-09-01 15:27] 4n70w4 commented on #2221
The same issue

[2020-09-01 15:28] 4n70w4 commented on #2548
The same issue

[2020-09-01 15:36] Hitmasu commented on #2548
A workaround to fix that, is push at least one commit on branch. If branch is really empty (0 commits) that error will happen, however if branch has more than 1 commit, should work.

[2020-09-01 16:08] sonicyeti opened #2579 "404 On generated plugin documentation URL"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to plugins
2. Generate a plugin
3. Click in the version number external link arrow indicator
4. See 404

**Expected behavior**
That link is disabled or we add a tool-tip on the arrow that acts as a subtle reminder saying "Published Documentation" so if the user gets a 4

[2020-09-01 16:10] sonicyeti commented on #2578
Quick follow-up, it appears that this happens only when the environment is provisioned to develop where font-manager etc. come into play.

Everything looks fine, spanning multiple themes, on a fresh instance of Ubuntu.
![Screen Shot 2020-09-01 at 12 09 25 PM](https://user-images.githubusercontent.com/52717970/91877560-27587680-ec4c-11ea-94e4-bbe5805d9990.png)

[2020-09-01 19:01] mattjbrent commented on #793
I've since moved onto using Postman as this issue was a deal breaker for me. Still an issue 2 years later and is now closed out.

[2020-09-01 19:12] nijikokun commented on #2573
Fixes: [INS-31](https://linear.app/insomnia/issue/INS-31/methods-like-get-post-and-put-should-have-individual-hover-animations)

[2020-09-01 19:13] nijikokun commented on #2573
Fixes INS-31

[2020-09-01 23:31] aaronmannino commented on #1651
I think the problem is that our eyes are looking for "SSL" and not finding this string. 🙂 Maybe it should say "Validate certificates (SSL)"

[2020-09-02 00:43] alecglen commented on #1486
^ Same on Ubuntu 20.04 with Insomnia 2020.3.3

[2020-09-02 04:13] ksugiarto commented on #2028
This is a nice and important feature 👍

[2020-09-02 09:24] tobiasr commented on #1592
I would like to take a look at this, if ok?

[2020-09-02 09:30] tobiasr commented on #538
@gschier I'll have a go at this, if ok? I'll start by trying to complete solution 2, the simple, fully rendered version.

[2020-09-02 15:35] codeasashu opened #2580 "Example support for requests"
**Is your feature request related to a problem? Please describe.**
I want to add examples for requests (just like they have in postman) to showcase the expected responses, when sharing with a team. This gives a place to share, modify and improve the responses a lot. This is usually the case when APIs are being discussed and designed, before the actual development.

This will also help generate exp

[2020-09-02 18:59] nijikokun commented on #2221
@4n70w4 were you able to at least get it working with your login and password for the time being?

[2020-09-02 19:08] jrodalo commented on #2482
This could happen if you have a cookie for the same domain without an expire date. As a workaround you can edit the cookie and set `expires = 0` (or any other value). That works for me 🙂

Not sure if Insomnia could do something on their side, otherwise looks like an issue in the `tough-cookie` library: https://github.com/salesforce/tough-cookie/blob/8834cbaae1f523ab9490c991479b2df4870e29d4/lib/coo

[2020-09-02 21:53] ccleve opened #2582 "Allow import/refresh of OpenAPI spec from URL"
**Is your feature request related to a problem? Please describe.**

In the Designer you can start with an OpenAPI file on disk. My OpenAPI spec gets generated dynamically in my JAX-RS app. You go to http://localhost:8081/api/openapi to get it.

When I make an API change in my app I have to regenerate the file, save it to disk and re-import it into Designer. This is a headache.

**Describe the solu

[2020-09-03 00:30] develohpanda opened #2583 "Design Preview and Testing Results pane should be resizable"
**Describe the bug**
In the design and test tabs, the right-most pane (preview and test results) are not resizable. In the debug tab, we can see that the three panels can be resized independently.

**Expected behavior**
All three panels on each tab should be resizable independently.

**Screenshots**
![2020-09-03 12 27 50](https://user-images.githubusercontent.com/4312346/92051789-1856fd00-ede1-11e

[2020-09-03 00:38] develohpanda opened #2584 "Design and Test tabs should respect vertical layout preferences"
**Describe the bug**
Currently, if the following preference setting is checked, the layout on the debug tab is forced to be vertical. However the same behavior is not seen on the design and testing tabs.

<img width="893" alt="image" src="https://user-images.githubusercontent.com/4312346/92054590-36712d00-ede2-11ea-96b3-2d7948b7c937.png">

**Expected behavior**
We should adapt the verbiage of this

[2020-09-03 00:53] develohpanda commented on #2583
INS-54

[2020-09-03 05:37] develohpanda commented on #2458
I literally just came across this 😮

We've published 2020.4.0-beta.6 just now. I think there must be something curious with your repository, let me know if the new beta helps otherwise we'll need to dig further again to atleast try to reproduce this.

[2020-09-03 15:53] Tahaan commented on #1621
Exact same issue here, same errors.

I was about to try the DEB package but fortunately saw renatonolo's comment above.

[2020-09-03 16:53] brunovigano opened #2585 "GraphQL autocomplete query fields losing sorting"
**Describe the bug**
Consuming a graphql endpoint when using the shortcut CTRL + Space to autocomplete the query fields and using the arrow keys to navigate between the indexes, Insomnia switches the index to the top of the list by itself.

**Expected behavior**
Be able to navigate between the indexes of the suggested fields without losing their order.

**Screenshots**
![ezgif com-gif-maker (2)](h

[2020-09-04 10:57] alexejk commented on #2028
I was struggling with this for a while, but i realized that with help of a simple plugin I can make it with:

- Response hook to parse response of desired methods and store it in plugin storage context
- Template tag that is used on methods that need part of the response

While i think it would be nice to `setEnvironmentVariable` I believe it will be challenging as there are multiple layers involv

[2020-09-04 12:37] advance467 opened #2587 "Ability to sync responses history"
It would be really great if I could login to Insomnia Core (of course with my plus account) on a new computer and have synced not only my requests but also the various responses (with the related data attached) I've got over the time that are shown (usually) on the right side of the interface. That would enable a complete seamless experience between multiple computers, especially for developers li

[2020-09-04 13:32] mindaugasbudreika commented on #248
I'm also very interested in this feature.

[2020-09-04 18:02] ankitak2898 commented on #1606
add a jinja code :
{% csrf_token %} in your html file

[2020-09-05 00:17] alefduarte opened #2591 "The autocomplete dropdown won't close"
This problem has happened to me many times. When I click on a field and the autocomplete shows up, if I rapidly click on another request, the dropdown won't leave, no matter where I click. I either have to restart the application or click on one of the options, which will autocomplete the field and then I have to correct it.
This gif shows the problem: (I have added a white target to hide some sen

[2020-09-07 20:33] diego-lipinski-de-castro commented on #646
Update?

[2020-09-08 03:24] rafamerlin commented on #2035
Thanks @heiybb , I tried to import a huge curl request and the app got unresponsive but since that was the last request I used it would always get unresponsive and I couldn't open it at all. Deleting it from the request.db solved the issue for me.

My issue happened because instead of pasting the huge curl script I had in the URL I ended up pasting in one of the Query named properties and it froze

[2020-09-08 06:26] nugmanoff commented on #1486
Same thing on macOS 10.15.5, Insomnia Version 2020.3.3

[2020-09-08 06:30] Duvel opened #2592 "[FEATURE REQUEST] Control order in which Unit tests are executed"
**Describe the bug**
I have multiple unit tests in a test suite and these need to be in a certain order, so have information available in the next request. When I execute this with the cli tool, this doesn't follow the order from the GUI.

I know in theory unit tests shouldn't depend on each other, but with the current way of running multiple requests, you have no clear view which requests are ber

[2020-09-08 09:01] alexbjorlig opened #2593 "Strategy for avoding plain text passwords in environment?"
Is it possible to avoid plain-text passwords in the "Manage Environments" section of Insomnia?

- Make the tokens non-readable?
- Would it be possible to maybe reference the environment on the machine?
- Maybe using a .env file?
- Integrate with 1Pasword manager - or a different password manager?

[2020-09-08 10:58] develohpanda commented on #2593
Great question!

You can install [insomnia-plugin-system-env](https://insomnia.rest/plugins/insomnia-plugin-system-env) to achieve this. Plugins to the rescue! 🎉

In addition, there are a couple more options that you have, ordered in increasing effort:
- Private environments, while these _are_ plain-text, a private environment will never be exported or synced
- Use a prompt [template tag](https://

[2020-09-08 11:08] alexbjorlig commented on #2593
Thanks for the answer. A custom plugin that would get the secrets from a `.env` file or a password manager would be epic. What needs to be done for the exposure of a plugin API to manipulate the environment?

[2020-09-08 11:21] develohpanda commented on #2593
Just to clarify, a plugin that reads from a `.env` file or a password manager _does not_ need the exposure of a plugin API to manipulate the environment. It would just operate as a standalone template tag, to fetch a variable using x plugin.

However, off the top of my head, exposing an API to actually manipulate an Insomnia environment _should_ also be trivial. If you'd like to use this API feel

[2020-09-08 11:26] alexbjorlig commented on #2593
My biggest dream  😂  - because in our team we all share an `.env` file, needed for our code project to connect to services. Would be  🔥  if Insomnia hooks into this. When I find the time, I will give it a try 😅

[2020-09-08 11:30] develohpanda commented on #2593
You've given me inspiration to build something as well as I can absolutely see a use case for it, having used `.env.local`, `.env.staging` files in the past.

I do think this belongs in a plugin rather than the application itself, as there is a use case for standard Insomnia environments as well. Will ping here if I end up patching something together. 😄 EDIT: by all means, give it a go as you'll l

[2020-09-08 17:51] edswangren commented on #2073
Same problem for me, 2020.3.3. Final error in the log is

That file is not locked by anything when the installer is running, so... guess my search for a postman alternative continues.

[2020-09-08 22:16] develohpanda commented on #1486
Reopening as per above reports

[2020-09-08 22:23] sonicwim-zz commented on #2073
Yes, it's Norton AV (and perhaps other similar software?) that does not like these filenames in particular, AFAIK because some cryptolockers or malware will rename all your encrypted files (in batch/automated) with these 'flag' words in it or in the end. And (also a guess) is that if you do it manually instead of a (install) script or likewise it's considered evil but you, as a user are allowed to

[2020-09-09 03:20] g-industrialist opened #2594 "Add sort options for folders and requests"
**Is your feature request related to a problem? Please describe.**
Hard to find Folder / Request

**Describe the solution you'd like**
Sort the saved Folder / Request by either create date / name / anything...

**Describe alternatives you've considered**
Nil

**Additional context**
Add more filed to describe the Folder /  Request name , easy for hashtag or find out the resource.

[2020-09-09 03:51] develohpanda commented on #2594
Sounds reasonable! @erickrico / @nijikokun thoughts on a sort drop-down next to the filter? This drop-down can contain ordering fields such as "name, date created, last updated". Icon withstanding, just used `fa-sort` 😄

![image](https://user-images.githubusercontent.com/4312346/92552225-41313380-f2b4-11ea-8b5b-32c05c37d6c4.png)

As an note for anybody looking to pick this up, it should be somewha

[2020-09-09 10:06] develohpanda commented on #1127
Fixed in #2475! This has been released to the beta channel, and will be coming to the stable channel early next week. 🎉

[2020-09-09 10:09] develohpanda commented on #2035
Hello all, seems this issue was also a duplicate of #2397. It was fixed in #2475, which has been released to the beta channel, and is coming to the stable channel (2020.4.0) next week! 🎉 I will close this issue for now. 😄

[2020-09-09 10:09] #2035 closed, assigned to nobody

[2020-09-09 10:19] develohpanda commented on #1486
Hi @alecglen @nugmanoff, could you please add any screenshots or a screen recording to show what you are seeing? When I drag a request into the empty folder, I see the dotted line indicating the request will be placed inside the folder, which works successfully.

![](http://g.recordit.co/PLHhtbhMzV.gif)

[2020-09-09 10:27] develohpanda commented on #2592
Hi @Duvel, thanks for reporting this!

I'd like to clarify what you mean by this. If you _were_ to set up multiple requests to run in one test, how are you achieving that? A screenshot would be epic!

Ideally, instead of introducing ordering to the tests I would prefer to investigate the solution where we make it nicer to make multiple requests in one test. This way, traditional unit testing conce

[2020-09-09 10:29] kamnyborg opened #2595 "GraphQL schema validation issue"
Deleted due to finding in introspection

[2020-09-09 10:39] #2595 closed, assigned to nobody

[2020-09-09 13:26] Dmitrevicz commented on #1368
Same on Insomnia Response Preview when response is html and charset is set like this **`charset=windows-1251`**.
**Expected** results on Response Preview tab: `Включен отладочный режим`
**Actual** results: `Р’РєР»СЋС‡РµРЅ РѕС‚Р»Р°РґРѕС‡РЅС‹Р№ СЂРµР¶РёРј`

[2020-09-09 15:31] asharonbaltazar commented on #2594
Hello, I'd like to try my hand at this. Where can I find the request properties?

[2020-09-09 16:08] erickrico commented on #2594
agree, we could use this selected state for the sort by dropdown
<img width="261" alt="Screen Shot 2020-09-09 at 11 08 38" src="https://user-images.githubusercontent.com/18429104/92624169-d1f41900-f28c-11ea-85dc-c6c719e17b4b.png">

[2020-09-09 20:37] develohpanda commented on #2594
Thanks Erick. 🎉

Hi @asharonbaltazar!

Here are the models with the property on them:
https://github.com/Kong/insomnia/blob/af6a9b6a78a46402bc254e709b31d8dfa9e4b314/packages/insomnia-app/app/models/request.js#L81
https://github.com/Kong/insomnia/blob/af6a9b6a78a46402bc254e709b31d8dfa9e4b314/packages/insomnia-app/app/models/request-group.js#L16