[2021-06-03 16:33] HeCorr commented on #3444
I tried creating a new collection and the panel is there, but it's still gone from the main collection:

![image](https://user-images.githubusercontent.com/75134774/120679990-2faa4000-c470-11eb-8596-4ba2f85c794b.png)

[2021-06-03 16:42] HeCorr commented on #3444
~~I also tried the "Toggle Sidebar" shortcut but it does nothing. Not even in the collection that has the panel visible.~~

Nevermind.. that was it.. for some reason it wasn't recognizing the `\` key in the default shortcut `Ctrl + \`.
I set it to `Ctrl + Alt + Shift + P` and it works.

Also I just noticed that there's a "Toggle Sidebar" option in the View menu.. *facepalm*

[2021-06-03 16:59] #3444 closed, assigned to nobody

[2021-06-03 17:24] rmsohaila commented on #1556
I've the same issue. Postman works fine for same API. Insomnia please fix it.

[2021-06-03 17:27] runofthemill commented on #3096
plz reopen :(

[2021-06-03 17:56] dimitropoulos commented on #1367
thanks @CPlusPlus17 .  I just tried it with the example you provided and got a call stack exceed:

![Screenshot_20210603_135615](https://user-images.githubusercontent.com/15232461/120690634-78172d00-c473-11eb-8c5b-7cb62cf88d31.png)

We'll have to take a look at this.  CC: @reynolek

[2021-06-03 17:57] dimitropoulos commented on #3444
no worries, have a good day, at least :)

[2021-06-04 01:04] oleg-codaio commented on #1602
Wanted to bump this one up - constantly running into this issue myself.

[2021-06-04 02:25] AlexandreLage commented on #3443
same.

[2021-06-04 08:17] alk-mandrianarijaona opened #3448 "Press and Hold not working on Vim keymap (on MacOS)"
**Describe the bug**
When I enable Vim keymap, long pressing a move key (`j` or `k` for instance) only moves the cursor once.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings', enable Vim keymap in Text Editor Key Map
2. Open a request body and long press `j`
3. The cursor only moves one line down

**Expected behavior**
The cursor should keep moving down until I stop pressing

[2021-06-04 10:50] socheatsok78 commented on #1085
What are the different between `socks5` and `socks5h`? Apology a little bit off-topic!

[2021-06-04 11:05] 4ekki commented on #1904
Not stale, still actual.

[2021-06-04 13:30] sgostanyan commented on #1556
Same here, spent several hours to undestand why the token I request is not valid with  Insomnia but it is with Postman. It was just because forward slash is escaped :

![sc1](https://user-images.githubusercontent.com/23078069/120808905-d0206300-c549-11eb-91e1-53db2edc7827.png)

[2021-06-04 13:44] dimitropoulos commented on #3443
Thanks, can confirm.

Steps to reproduce
1. open the dev console
1. make a GET request to `http://gmail.com` (https has the same behavior)
1. note `Uncaught DOMException: Failed to read the 'cookie' property from 'Document': Cookies are disabled inside 'data:' URLs.
    at m (data:text/html;` errors
1. enter `abcdefg` into the input and hit `next`
1. note the following errors

[code]

-----

Could

[2021-06-04 14:28] rocketraman commented on #3443
@dimitropoulos Well funnily enough, that's a bit of a complex answer...

My situation is that I have a backend API that validates tokens retrieved via Firebase auth (https://firebase.google.com/docs/auth). Firebase auth is (mostly) a middleware to other providers rather than an identity provider itself, so it abstracts away the complexity of supporting oauth2 for multiple IDPs directly.

Firebase

[2021-06-04 14:58] dimitropoulos commented on #1556
@sgostanyan very sorry to hear that you lost time due to this.  I've asked internally if we can get this prioritized in some way.

@K2ouMais sorry on the dealyed response.  A bot to mark issues got enabled which flooded my inbox with 600+ issues from insomnia and your response here got lost in the shuffle.

I think I understand what's going on.

So first off, the response you gave includes the esc

[2021-06-04 15:30] dimitropoulos commented on #3443
I've used firebase auth (to great success!) so I think I understand what you're trying to do.  This is helpful that you describe it because I would, frankly, also expect it to work with firebase auth like you're trying.

I don't have an immediate response on this, but I want you to know that we're aware of this and will look into it, although I cannot provide an estimate.

On a personal note, I wa

[2021-06-04 15:59] dimitropoulos commented on #3448
are you able to run insomnia locally and give this a try?  I ask because we just updated CodeMirror and some of the notes mentioned updates about vim bindings.

[2021-06-04 17:04] rocketraman commented on #3443
Sounds good, thanks. In the meantime unfortunately the only workaround I see is setting the bearer token manually, but I'm open to suggestions.

[2021-06-04 18:43] etienne-bechara commented on #3269
+1 this is very annoying

I have three documents with 100+ request and a design file and they all behave like you describe
The biggest takes around 8 minutes to display the commit analysis

v2021.3.0 / Windows 10

[2021-06-04 19:49] night-fury-web commented on #2850
Is it fixed?

[2021-06-04 21:07] TheUltDev commented on #1842
bump

[2021-06-05 03:37] AlexandreLage commented on #3443
Orixas may help us.

[2021-06-05 13:22] Defkon1 commented on #1367
same problem here with a swagger json OAS3 file generated from a .NET 5 web api project

[2021-06-05 19:40] admodras commented on #777
would like to keep this issue open if at all possible.  There has been a larger need to be able to use JQ within insomnia and think this would be an extremely valuable addition to this product.

[2021-06-05 19:48] admodras opened #3452 "Enable variables in response filter and ability to use JQ as an option"
**Is your feature request related to a problem? Please describe.**
There are several requests that are very repeatable and sometimes there is a very large response body.

Having the ability to set up environment variables - like {{ response.fault }} to always filter out just the faults from the response body.  Currently there is no way to utilize variables in the jsonPATH filter section of Insomni

[2021-06-05 20:56] zersiax commented on #3183
@nijikokun what kind of assistance do you require? Do you have specific questions?

[2021-06-06 15:04] skyhirider opened #3453 "importing swagger deletes requests from collection"
**Describe the bug**
Collection requests getting deleted if using same swagger file to import into another collection

**To Reproduce**
Steps to reproduce the behavior:
1. ~Go to https://editor.swagger.io/~ See https://github.com/Kong/insomnia/issues/3453#issuecomment-877886904
2. ~Click on File -> Convert and save as json~
3. Open latest Insomnia
4. Import json file as new new request collection

[2021-06-06 16:12] Shawyeok commented on #2606
Yes, we still use `http` protocol for most internal apis.

You can disable `Validate certificates` in preferences if that's ok for you.

Now `Validate certificates` setting is effect for entire application, maybe add it in per request settings is more convenient.

[2021-06-06 17:06] amaaniqbal commented on #3297
I can try working on this issue @reynolek. In which format is the response time desired?
I suppose returning `responseTime` in seconds rounded to 3 decimal places would be recommended.

[2021-06-06 19:32] jrgarciadev commented on #2964
Waiting for this... 🙏🏻

[2021-06-06 20:36] reynolek commented on #3297
I would say milliseconds would be the preferred measurement, as often you are intending an API call to return in milliseconds for SLAs.

And an update from my original comment, this is no longer goes through the Axios library. @develohpanda will know specifics but I believe this call functionality was moved to insomnia's network layer using `send_request`, but im fuzzy on details.

[2021-06-07 07:58] alk-mandrianarijaona commented on #3448
hello @dimitropoulos, you want me to try running Insomnia from this repo instead of release, right? If so, I can try that

[2021-06-07 12:32] dimitropoulos commented on #3183
I don't think so at this time.

While it isn't everybody's cup of tea (after all, it's practically a whole different set of skills) I personally would love to see better accessibility in insomnia, and I have done this kind of work in the past.  In this case it's going to mean design work for focus states as well as a thorough overhaul on the UX side for determining what the tab order of things sho

[2021-06-07 12:36] dimitropoulos commented on #3452
Are you saying you'd like to use _both_ jq and jsonpath?

Can you please provide an example of what you're trying to do with mockbin.org or something?  I'd like to understand your current workflow compared to the desired workflow.

[2021-06-07 12:39] dimitropoulos commented on #2964
Hey everyone.  Thanks for the support.  This is on my mind, I promise, but the "+1" comments don't help and just spam our GitHub inboxes.

If you would like to voice your support for this, please throw a :+1: on the issue description.

This will definitely come in time, since it comes for free with an electron upgrade.  The team is super focused on spaces right now, so although I can't say when th

[2021-06-07 14:44] fungiboletus opened #3454 "Insomnia on Mac uses existing connections after connecting to a VPN"
**Describe the bug**

I have a mac running BigSur, with a VPN and the checkbox `Send all traffic over VPN connection` enabled. However Insomnia does not use the VPN if a connection has been open before connecting to the VPN. It's related to #1125

**To Reproduce**
Steps to reproduce the behavior:
1. Do a query like GET https://ifconfig.me
2. See your normal public IP address.
3. Connect to the VPN

[2021-06-07 15:07] amaaniqbal commented on #3297
@develohpanda @gschier Could you please elaborate on the specifics for this issue?

[2021-06-07 15:38] deep-outcome commented on #3270
Well, the bugfixing is not so popular as it was… 👎🏻 Fortunately anyone can use the new features instead, of course. 😕

[2021-06-07 15:52] dimitropoulos commented on #3448
yes, please.  let me know if you need any help :)

[2021-06-07 15:56] iandunn commented on #2606
I need to use HTTPS locally to test code that relies on SSL.

I can't disable cert validation because that would be a significant security problem. Even disabling it for a single site would be a problem in situations where production and local environments share the same hostname.

[2021-06-07 16:12] dimitropoulos commented on #3453
Thank you for the clear reproduction steps.  Can confirm.

[2021-06-07 20:08] HeCorr commented on #793
So? Is anyone going to reopen this issue or do I have to create another one?

[2021-06-07 21:19] ereastman616 commented on #3325
@benovard did you ever get a resolution for this?  I'm having the same issue

[2021-06-07 22:45] #1700 closed

[2021-06-07 23:50] manoger commented on #1931
Hello?

[2021-06-08 02:38] pfcodes commented on #1784
Anybody figure out a good workaround?

[2021-06-08 11:10] dimitropoulos commented on #793
can confirm with the above that there's a lag.  this isn't happening on a CodeMirror demo (e.g. https://codemirror.net/demo/theme.html) so I think it should be possible for us to have the same performance.

[2021-06-08 14:37] rstarkov commented on #2160
Pretty please? Copy & paste continues to be a massive pain without trailing commas.

[2021-06-08 15:28] Zero3 commented on #793
I am confused about why I was just assigned to this issue. I gave up contributing to Insomnia a long time ago because stalebot kept closing my issues that I spent a lot of time preparing...

[2021-06-08 15:40] dimitropoulos commented on #2160
I totalllllly feel yah on this one.  It's too bad that JSON was developed before ES5 when trailing commas were added, otherwise JSON would likely have trailing commas, itself.

There is a third option, which is to use a json parser that will accept the trailing comma.  If we do this, I'd like us to use https://github.com/json5/json5.

Would you be open to making a PR for this?  I could help.

The

[2021-06-08 15:54] dimitropoulos commented on #668
Of all things, this has _got_ to be something that we get _as right as possible_ if we're going to show it.  I'd consider this a core-competency of the tool.

I spent some time in this area of the codebase recently, and I'd like to reopen discussion on what the problem is and what possible solutions might look like.  We can use `performance.now` for example.

I'd also like to hear any ideas on how

[2021-06-08 15:56] dimitropoulos commented on #793
@Zero3 I'd like to personally apologize about that.  If it's any consolation to you - we agree that there's been a lot of undue friction by the stalebot and decided yesterday that we're just going to remove it altogether.  There's a PR that I expect to merge today to do so https://github.com/Kong/insomnia/pull/3457. I don't know why it assigned you.. I've unassigned you.

Please let me know any is

[2021-06-08 19:52] dimitropoulos commented on #2850
sorry bout that @sandguardian, we were having some trouble with our bot marking things as `wontfix`.  (we've since disabled the bot altogether).  watch the PR for any happenings on this front.

[2021-06-08 20:10] andressalro commented on #2781
something new?

[2021-06-08 20:14] andressalro commented on #2781
I was also doing it like this, but, I got to a point where I had to chain too many requests so the timeout is inevitable.

I have tried "no history" and "when expired" but if there are three or more chained requests, sometimes, it will execute a double request, in addition to throwing the timeout.

[2021-06-08 20:14] andressalro commented on #2781
I was also doing it like this, but, I got to a point where I had to chain too many requests so the timeout is inevitable.

I have tried "no history" and "when expired" but if there are three or more chained requests, sometimes, it will execute a double request, in addition to throwing the timeout.

[2021-06-08 20:32] AGenius commented on #1367
I too am now getting this with a expanded api spec - original worked but after adding some new stuff to it it will not import

[2021-06-08 20:42] AGenius commented on #3453
I spotted this today also

[2021-06-08 21:21] develohpanda commented on #3297
Hi @amaaniqbal!

When writing a unit test, the `insomnia` class instance for Mocha is set up here: https://github.com/Kong/insomnia/blob/5f4c19da35e90ffa2f3ae27e9b309ee48f9d4e16/packages/insomnia-testing/src/run/run.ts#L30-L30

This class will use a `sendRequest` callback if it exists in the options sent to the constructor, and use axios _as a fallback_. https://github.com/Kong/insomnia/blob/5f4c1

[2021-06-09 07:53] alk-mandrianarijaona commented on #3448
@dimitropoulos I have just launched insomnia from `develop` branch and I have the same behaviour when using Vim keybinding

[2021-06-09 12:18] dimitropoulos commented on #3448
dang.  ok.  thanks for taking a look.

I can confirm that this doesn't happen on the codemirror vimbindings demo https://codemirror.net/demo/vim.html so that means it's something wrong on our side since we're on the latest codemirror (now).

[2021-06-09 12:29] dimitropoulos commented on #3448
https://user-images.githubusercontent.com/15232461/121354208-a9bd4780-c8fc-11eb-8c92-0529c440ec58.mp4

Actually, for me (on linux) this appears to be working as intended.  In the above video I'm holding `j`.

@reynolek or @develohpanda can you please try real quick on mac and see if you have the same results?

[2021-06-09 14:11] rocketraman commented on #1116
@kokoshneta It works when you define the default headers at the folder level. Not sure if that is the intended behavior or not though. However, I just noted a bug that per-request settings do not override these defaults, which makes this "solution' less than optimal.

[2021-06-09 14:16] rocketraman opened #3459 "Per-request Authorization setting does not override Authorization added by default headers plugin"
**Describe the bug**
I use the [Default Headers](https://github.com/kong/insomnia/tree/master/plugins/insomnia-plugin-default-headers) plugin to workaround https://github.com/Kong/insomnia/issues/1116.

This allows me to set authorization headers at a folder level.

However, a per-request Authorization setting should clearly override the default header set at the folder level, however it does not

[2021-06-09 20:11] ppazos opened #3461 "Access value from REQUEST payload"
**Is your feature request related to a problem? Please describe.**

In requests and URLs it is possible to access / reference values from RESPONSE payloads but is not possible to use a value from a REQUEST payload.

**Describe the solution you'd like**
As we can reference RESPONSE payload values, add a REQUEST payload value reference.

**Describe alternatives you've considered**
This case doesn't

[2021-06-10 04:43] amaaniqbal commented on #3297
Thanks a lot for the detailed overview @develohpanda! I will try creating a PR for this today itself.

[2021-06-10 15:20] jamesmazur commented on #3221
@develohpanda I'm also encountering this issue - any updates?

[2021-06-10 18:33] MrSnix commented on #3437
Hi, 👋🏻  thanks for reporting.
I tried to give it a shoot, but I couldn't reproduce it, but I want to dig into it further.
Seems a tricky one pending for a long time, maybe I may fix it.

Duplicate of #2585 and #1015

**EDIT**:
**I was able to reproduce it** but Woah ... on 15 tries only 1 time it happened. Sounds really cool this bug.

**EDIT - 2**:
It's interesting to see the consistency of this

[2021-06-10 19:16] develohpanda commented on #3221
Hi @jamesmazur, sorry no timeline as yet, but we have disabled statelbot for the time being so it won't close this ticket, as it is valid.

[2021-06-10 19:31] popovanastas commented on #3443
The problem looks similar to what Postman had - related to the version of the internal browser that Insomnia is using which is older and some REST APIs are blocking it (like Google). Maybe posible solutions would be updating it to latest version or similar approach to Postman - introducing an [option to use the default browser of the system](https://user-images.githubusercontent.com/5207331/794285

[2021-06-11 02:50] naturetime10 commented on #3221
I have faced the same issue with Insomnia regarding env

[2021-06-11 09:02] kzbt opened #3463 "Support using id_token as the Bearer token for requests"
**Is your feature request related to a problem? Please describe.**
I'm not an oauth2 or openid expert, so I'm not sure if this makes sense.

Right now when using the **Authorization Code** grant type with openid, we get back 3 tokens: 1) access_token 2) id_token and 3) refresh_token. Due to some limitations with auth providers sometimes we can only use the `id_token` in our applications. However,

[2021-06-11 09:24] nico-arianto opened #3464 "GraphQL fetch schema not able to use the `f` Request"
**Describe the bug**
We set the Header like below
![image](https://user-images.githubusercontent.com/6427889/121662510-0163da80-cad8-11eb-9ad5-3a4cdb433f11.png)

While the Authentication Token is fetched
![image](https://user-images.githubusercontent.com/6427889/121662658-3112e280-cad8-11eb-88f7-14ec8154c9d6.png)

But the GraphQL fetch schema is failed
![image](https://user-images.githubuserconten

[2021-06-11 10:46] #2850 closed, assigned to Nabellaleen

[2021-06-11 21:23] tweetybird99 commented on #1367
I get the same problem with a openapi specification I downloaded from camunda.    Attached here.   I had to change the extension to .txt

It was originally openapi.json
[openapi.txt](https://github.com/Kong/insomnia/files/6641041/openapi.txt)

Version info here...
![image](https://user-images.githubusercontent.com/85767484/121750346-34a76900-cada-11eb-86f9-da506d2b119a.png)

[2021-06-11 22:05] dimitropoulos commented on #1367
thank you for providing another spec @tweetybird99

[2021-06-11 23:32] #3297 closed, assigned to nobody

[2021-06-12 18:34] sathyarajagopal commented on #1345
+1

[2021-06-13 18:45] ad-si opened #3470 "Add support for comments in Query Variables section"
**Is your feature request related to a problem? Please describe.**

I'd like to add comments to the specified query variables for documentation. E.g. where the specified value was retrieved.

**Describe the solution you'd like**

Support comments JavaScript style comments `//`, although they are not strictly party of JSON.

**Describe alternatives you've considered**

Allow specifying the Query Va

[2021-06-14 16:15] reynolek commented on #1925
This was reported by another user via support email.

I was able to reproduce it -- I had to change requests to get it to trigger though after hitting opt+shift+u (on mac)

[2021-06-14 16:27] MrSnix commented on #3448
Hi @dimitropoulos, this appears to be a bug related to CodeMirror for MacOS.
I did exactly as stated (on my macOS), but it moves only one line; meanwhile, it works as expected on my Windows laptop.

Codemirror website:

![Jun-14-2021 18-12-12](https://user-images.githubusercontent.com/20780192/121925144-e47c1100-cd3c-11eb-9824-0f477be56024.gif)

Latest `develop` branch:

![Jun-14-2021 18-22-46](ht

[2021-06-14 18:43] dimitropoulos commented on #3448
thanks @MrSnix!

well, haha @develohpanda I guess that means you're gonna get this one whenever the time comes.  (I don't have access to a Mac device)

[2021-06-14 20:01] develohpanda commented on #3448
Are there any bug reports on the code mirror repo along these lines?

[2021-06-14 20:12] dimitropoulos commented on #1925
I was able to get it to fire by just fiddling with the environment variable values in the preferences.
![Screenshot_20210614_160847](https://user-images.githubusercontent.com/15232461/121952871-cefdeb80-cd2a-11eb-84f0-205928e803a6.png)

[2021-06-14 20:13] reynolek commented on #3448
Looks like a bug in code mirror -- Went their vim bindings demo on their website (https://codemirror.net/demo/vim.html) and the same bug happens on mac, but it works on windows

[2021-06-14 20:35] dimitropoulos commented on #3448
ohhh my bad, I misread to be that it _doesn't_ also happen on the codemirror website.  I guess the next step then for us is to file an issue with them if one doesn't already exist and close this ticket.

[2021-06-14 20:52] MrSnix commented on #3448
I think we may remap the k and j button in the meantime to behave like an arrow key (that has the same function of k and j) ... I have seen some api on CodeMirror to remap keys, I think it may work but I gotta give it a shot. It should be possible to make it available only for the Vim mode.

What do you guys think? As workaround?

[2021-06-14 21:15] dimitropoulos commented on #2829
Hi, I'm going to consider this ticket the (temporary, if nothing else) umbrella for having more permissive json.

[2021-06-14 21:15] dimitropoulos commented on #3470
Thank you for this.  I want this too.  I'm going to close this as a duplicate of https://github.com/Kong/insomnia/issues/2829.  If that's a mistake, please let me know.

[2021-06-14 21:15] #3470 closed, assigned to ad-si

[2021-06-14 21:54] develohpanda commented on #3448
@MrSnix because it's not an urgent bug fix needed for Insomnia I think the best approach will be to push this through an official fix on codemirror and only if the fix is no accepted there we think about a workaround through Insomnia. This does seem like a genuine bug so others will benefit from it too!

And I think we shouldn't close this ticket necessarily, since it is a valid bug in Insomnia, b

[2021-06-14 22:06] develohpanda commented on #3448
Related issue on codemirror: https://github.com/codemirror/CodeMirror/issues/3678 (which suggests updating the mapping)

[2021-06-14 22:23] reynolek commented on #3448
Changing the OSX level variable mentioned in that PR does in fact fix vim mode in insomnia (after a restart of insomnia)

[2021-06-14 23:08] deepal opened #3473 "HTTP3/QUIC Support"
**Is your feature request related to a problem? Please describe.**
The latest HTTP version Insomnia supports is HTTP/2 and it would be amazing to see HTTP3 support too, now that it's widely available via many CDNs, supported by Chrome by default, and being rolled out by Firefox  at the time of the writing. [Curl also has experimental support for HTTP3](https://github.com/curl/curl/blob/master/docs

[2021-06-14 23:24] develohpanda commented on #3448
~~Maybe we do that then, update that config in Insomnia, given it was a known bug in codemirror that has been closed in the past~~ looks like this is setting an OS level variable, which... Seems a bit finicky. I wonder if there is a clean codemirror fix we can contribute downstream

[2021-06-14 23:51] MrSnix commented on #3448
@develohpanda,I have a great news. I think we can handle this through Electron.js itself.

Just look at their api: [System Preferences](https://www.electronjs.org/docs/api/system-preferences#systempreferencessetuserdefaultkey-type-value-macos)

The flag we need is even mentioned in their doc.

What do you think?

I didn't give an in depth look but it seems cool.

[2021-06-14 23:53] develohpanda commented on #3448
@MrSnix wow nice sleuthing, TIL electron can override variables like that. Let's give it a go!

[2021-06-14 23:56] MrSnix commented on #3448
If okay then, I'd love to pick this up, I'll make a PR to introduce this change.

[2021-06-15 12:31] dimitropoulos commented on #3448
Very exciting stuff.  Not only this fix, but I also love to see all the teamwork and collaboration happening here.  If we do find a fix we should go back to https://github.com/codemirror/CodeMirror/issues/3678 and mention what we did (pointing back to the PR).

[2021-06-15 12:32] dimitropoulos commented on #3473
does node-libcurl have (experimental) support for this?  I ask because I'm not sure how current what they build is with respect to curl itself.

[2021-06-15 17:50] MrSnix commented on #3448
@dimitropoulos @develohpanda

Quick update:

The electron interface works like a charm.

I'll commit the fix in a few hour.
It's a one liner and it works really really well.

Yuppie

[2021-06-16 07:25] BSchuhmacher commented on #2310
Still a problem.
As a workaround MarcosReis16 hint helped.

[2021-06-16 09:26] xpac1985 commented on #1085
socks5h = The name of the server you want to connect to is resolved (DNS) by the proxy
socks5 = The name of the server you want to connect to is resolved by your local device

[2021-06-16 10:48] vvidovic commented on #1000
There is still no solution for self-signed URLs?

[2021-06-16 11:08] CEbbinghaus opened #3478 "Add Event hooks to Plugins"
**Is your feature request related to a problem? Please describe.**
There aren't any ways to initialize plugins. Reading Settings and other tasks have to be done in the actions that they are relevant for.

**Describe the solution you'd like**
Methods to handle LifeCycle hooks of the Plugin such as `OnLoad`, `OnUnload`, `OnReload`...etc, as well as event callbacks of the Application which could incl

[2021-06-16 20:30] bfmcneill commented on #986
https://insomnia.rest/plugins/insomnia-plugin-env-authentication

[2021-06-16 21:23] boardy opened #3482 "Laravel XSRF-TOKEN cookie being stored with URL encoding incorrectly"
When working with Laravel API project using Sanctum for authentication and CSRF protection, when the XSRF-TOKEN is stored in the cookie store, it seems to be URL encoded incorrectly as the cookie string usually ends in = but Insomnia stores it as %3D.

For example, I get the following XSRF-TOKEN received and stored in the Insomnia Cookie Store

eyJpdiI6Iml5YWEreGVaYUw0WGc2QmxlVEhQOGc9PSIsInZhbHVlI

[2021-06-16 23:46] William-Jarden commented on #658
If I am not wrong, it seems Insomni couldn't work on a specific local work space. Isn't it?

[2021-06-17 05:04] socheatsok78 commented on #1085
Thank you @xpac1985

[2021-06-17 09:04] DHenryDai opened #3484 "Content type text/other is broken"
**Describe the bug**
Switching Content Type "text/othe"r on Insomnia POST requests has no effect on Content Header.

**To Reproduce**
* Create a POST Request in Insomnia and select the Content Type (e.g. text/edn)
* Switch the Content Type to text/other
* Submit your request
* check Request timeline
* Content Type stays "text/edn"

![grafik](https://user-images.githubusercontent.com/86047904/12236

[2021-06-17 09:28] OllieCrook opened #3485 "After pasting curl into address bar, deleting results in the cursor losing focus"
**Description**
After creating or editing a request by pasting a curl into the address bar the cursor will lose focus after pressing the backspace key. You can regain focus by pressing the tab key or by clicking into the address bar again. After that, there are no issues deleting.

**To Reproduce**
Steps to reproduce the behavior:
1. Click the plus icon
2. Click 'New Request'
3. Click 'Create'
4.

[2021-06-17 13:26] dimitropoulos commented on #3478
Are there specific events you have in mind in the application that you'd like to capture that _are not_ redux actions?

[2021-06-17 13:28] dimitropoulos commented on #3482
Is it possible that you can make a mockbin.org that I could use to reproduce this?

[2021-06-17 13:30] dimitropoulos commented on #658
@William-Jarden I don't understand your question: would you mind rephrasing?

To the rest of the people here, it seems like this can be closed because we have git sync now.  If I am mistaken please let me know and we can reopen.

[2021-06-17 13:30] #658 closed

[2021-06-17 13:32] #3448 closed, assigned to nobody

[2021-06-17 13:35] dimitropoulos commented on #1085
reopening because, as far as I can tell, we didn't want the stalebot to close it (we've since removed the stalebot altogether because of similar problems)

[2021-06-17 13:37] boardy commented on #3482
Hi Dimitri,

I managed to replicate it using mockbin. If you send a POST request to
http://mockbin.org/bin/54e06b59-0cd9-4cbf-b40c-f96883f7794f?foo=bar&foo=baz

It will generate a cookie called XSRF-TOKEN where the value should be
HelloWorld= but Insomnia is showing it stored as HelloWorld%3D

Thanks

Chris Board

On Thu, 17 Jun 2021 at 14:28, Dimitri Mitropoulos ***@***.***>
wrote:

--
*Chris Boa

[2021-06-17 13:42] kjstouffer commented on #1085
hi @dimitropoulos 👋 , I believe this issue is resolved: insomnia supports socks5 proxies via the methods described above: https://github.com/Kong/insomnia/issues/1085#issuecomment-432664923

[2021-06-17 14:00] dimitropoulos commented on #3485
Thank you for the reproduction steps.  I was able to reproduce.

[2021-06-17 14:04] dimitropoulos commented on #3482
perfect.  was able to reproduce.  thank you!

[2021-06-17 14:05] dimitropoulos commented on #1085
ahh, gotcha.  thanks!

[2021-06-17 14:05] #1085 closed

[2021-06-17 14:46] wagner-rebello commented on #2778
This is SUPER needed for debug purposes.

[2021-06-17 16:34] kaedros commented on #3045
We also experiencing this too.
We keep waiting. This feature is vital for using OAuth during the testing process where self-signed certificates are used.

[2021-06-17 16:36] develohpanda commented on #3448
As the PR title suggests, we chose not to automatically override any settings, rather provide a helpful tooltip and link to the documentation [here](https://support.insomnia.rest/article/203-key-maps) to enable key-repeating on macOS.

[2021-06-18 02:41] CEbbinghaus commented on #3478
well I specified a few in the description but some I would like to see are

**Plugin Events:**
* `OnLoad` *(Called after a plugin is loaded. Could be split up into `OnLoad` (one time) and `Initialize` (every load))*
* `OnUnload` *(Called before a plugin is Unloaded. Useful for plugins to ensure their data is saved)*
* `OnReload` *(Called before a plugin is Reloaded. Could be skipped since it would

[2021-06-18 07:59] mdcclxv opened #3488 "Not all fixed width fonts are listed"
**Describe the bug**
In the settings window, "Text Editor Font" doesn't show all fixed width fonts. In fact it shouldn't even have this "fixed width" limitation, showing ALL fonts would be the best.

**To Reproduce**

**Expected behavior**
Show all fixed width fonts. Better yet, show all fonts, give the user freedom.

**Desktop (please complete the following information):**
Windows 10

[2021-06-18 09:04] vvidovic commented on #2778
#1000 - the same issue, closed because of no activity.
There is still no solution for self-signed URLs?

[2021-06-18 10:46] lipsumar commented on #1620
I switched to Altair, it's just unusable without search

[2021-06-18 14:33] lucasgcb commented on #2771
When importing a HAR, neither the history or the latest requests are imported into the application which has made some implementation directives more difficult.

It would be nice to have this feature considered, as it makes sense to me that an imported HAR would allow Insomnia to export the same HAR.

[2021-06-18 16:07] DonBranson opened #3489 "Support running a list of queries in order"
**Is your feature request related to a problem? Please describe.**
Currently, doing a lot of data setup requires clicking on Send many times, and gets laborious as the amount of data grows.

**Describe the solution you'd like**
I'd like the ability to add queries to a list. When doing setup, one click would start the process of running the queries in order. Chained queries should work, that is, if

[2021-06-19 14:54] ches commented on #3271
Fundamental missing functionality for gRPC usage, I don't feel stalebot should wontfix this.

[2021-06-20 12:57] Saurja commented on #1555
Yeah, that worked for me too! Lol

[2021-06-21 18:06] keklabs opened #3490 "Allow multiple results for JSONPath in JSON bodies"
**Describe the bug**
The JSONPath is not working in situations where the result is Array of values.  But it should be supported, because I can have the request, where the result is collection of JSON objects and I need to select IDs by JSONPATH query  and the resulting Array should be provided as single value of Array type

**To Reproduce**
1) Call some  REST API with  LIST of JSON objects as resp

[2021-06-21 18:22] HubKing opened #3491 "Option to toggle the visibility of the top bar"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I use this app because the big mostly-empty top bar (I am not sure of its correct name) is taking up too much vertical space, which is very limited on common 16:9 aspect-ratio monitors. Especially, in my case, I use a bigger UI font size, which makes the top bar even taller wasting more space.

**Describe

[2021-06-21 20:18] abbluiz commented on #3482
Just spent 5 hours on this until I found this issue. At least it has been recognized

[2021-06-22 03:17] WLun001 opened #3493 "i18n support"
**Is your feature request related to a problem? Please describe.**
provide a localised experience for people who are non-English background

[2021-06-22 14:09] dimitropoulos commented on #3478
Wow great! That's a very very helpful and clear list.  cc: @wdawson

[2021-06-22 14:11] dimitropoulos commented on #3488
So that we can reproduce this more easily: please share information about the font you want to see but can't (as well as, please share the font file format).

[2021-06-22 14:58] dimitropoulos commented on #3271
@ches apologies.  we've had some trouble with the stalebot (we recently just turned it off altogether).

[2021-06-22 15:01] dimitropoulos commented on #1555
For what it's worth, I would like to see a mockbin.org link and steps to reproduce this.  If this is an active bug, I imagine the team will care about fixing it.

[2021-06-22 15:05] dimitropoulos commented on #3490
I'd rather not duplicate issues: and so I've reopened the old one that the stalebot closed.

[2021-06-22 15:05] #3490 closed, assigned to nobody

[2021-06-22 15:07] dimitropoulos commented on #944
Providing a mockbin.org link and clear steps to reproduce the behavior in question will help greatly in prioritizing this issue.

[2021-06-22 15:09] dimitropoulos commented on #3482
@abbluiz I'm super sorry to hear that.  I've totally been there too, myself, for what it's worth, so I can relate to how frustrating it is.

I've mentioned this to our product team and will hope we can take a closer look at it soon.  To be transparent, the team is pretty hyper-focused on spaces right now so it won't be in the next release, but hopefully we can find time right after the first push

[2021-06-22 15:13] dimitropoulos commented on #3493
Which language in particular would you like to see?

[2021-06-22 15:30] dimitropoulos commented on #3493
update: I've created https://github.com/Kong/insomnia/discussions/3497.  Please upvote there.

[2021-06-22 15:30] #3493 closed, assigned to nobody

[2021-06-22 16:30] ches commented on #3271
No worries!

[2021-06-22 17:46] fractalic opened #3498 "See full response body in timeline view"
I'd love to be able to see complete request and response objects in the timeline view. I often find myself copying the timeline record out into another program for archiving, and it slows things down when I have to switch back to the Preview tab to see the response body.

This is very similar to these past issues, which added the ability to show Request chunks in the timeline view:
* https://githu

[2021-06-22 20:22] abbluiz commented on #3482
@dimitropoulos Thank you. I actually found an insomnia plugin that happens to "fix" this, however it's probably better to have this fixed without using plugins anyways. It may help the team: https://insomnia.rest/plugins/insomnia-plugin-cookiedecode

[2021-06-22 21:46] boardy commented on #3482
Unless I'm missing something the plugin doesn't seem to work. I still need to manually edit the cookie each time.

I'm disappointed to hear that this isn't being given priority over a feature. As cookie handling is quite a vital part of a REST client app so I would have thought this should have a fairly high priority. I spent 5 days while learning Laravel thinking I was implementing wrong or misun

[2021-06-23 11:17] mdcclxv commented on #3488
I've attached the font that I can't see.

[TerminusTTF-4.47.0.zip](https://github.com/Kong/insomnia/files/6701362/TerminusTTF-4.47.0.zip)

[2021-06-23 13:52] abbluiz commented on #3482
@boardy The plugin does not fix it being stored that way, but you can use it to send it back to Laravel by calling it through the Header section. You put `X-XSRF-TOKEN` and the decoded cookie as the value using the plugin. However, after getting past the 419 errors I was getting, I am still getting 401 errors when I try using protected API routes after login.

[2021-06-23 15:36] boardy commented on #3482
@abbluiz Ah yea that did it. Was thinking it was an automatic thing not a separate cookie option. Thanks

[2021-06-23 16:44] wemersonrv opened #3500 "Just open with a blank windows in windows 7"
**Describe the bug**
After install requisites (NET Framework 4.5) and install insomnia. When open it, just has a blank window.

**To Reproduce**
Steps to reproduce the behavior:
1. Install it in Windows 7
2. If you don't have NET Framework 4.5 installed, will ask to install first. So install it
3. After install insomnia, Open it

**Expected behavior**
Expect open insomina with its features.

**Scr

[2021-06-23 17:03] dimitropoulos commented on #3500
Windows 7 reached end of life a year and a half ago (January 14, 2020).

We're looking into this, regardless, but I'd love to have more context on whether there's some use case (perhaps, "enterprise use case") that we should know about.

[2021-06-23 17:20] dimitropoulos commented on #3488
Thank you very much.  While I can't provide an estimate on when we'll get to this (the team is very focused on a new feature, "spaces" right now), it will really speed things up to have this to test with when we are prioritizing this.

As always, I welcome  you to make a PR if you'd like to expedite the process.

[2021-06-24 15:47] wemersonrv commented on #3500
Hello, Greetins from Brazil.

Yes it's true, Windows 7 is no longer supported by Microsoft. However there are a lot of computers using the SO yet.

Here on Brazil we have a lot gov agencies that still using it. Brazil has a vast territorial extension with many states, cities and counties. So we have government agencies at county, state and federal levels.

Many of them still use Windows 7, which i

[2021-06-25 07:42] Aconitin commented on #2666
I'm having the same issue(s) - I'd like to use an existing Insomnia Export (with all the tests in it) to run CLI tests with, but inso doesn't allow importing that.

[2021-06-25 13:35] HumanAftrAll commented on #2050
I'm also facing this problem!

My XML response:
[code]

And I want to get the value under `<sessionId>` with the following XPath: `/soapenv:Envelope/soapenv:Body/loginResponse/result/sessionId`. Adding the extra `/` at the start did not work...

The same XPath works when testing it [elsewhere](https://www.freeformatter.com/xpath-tester.html).

[2021-06-25 14:21] #3306 closed, assigned to nobody

[2021-06-25 18:07] rrenteria-dev commented on #1585
This is also happening to me. Seems like a cache DNS issue. If i dont make requests in insomnia for like.. 5 minutes. then i get the 5 second lag on the next request.

[2021-06-25 20:10] antempus commented on #2548
@develohpanda or someone else

Can we update the stalebot so these aren't closed prematurely

[2021-06-25 20:47] develohpanda commented on #2548
Hi @antempus, that was our mistake, we're removing all these tags now but stalebot has definitely been disabled so nothing will be closed automatically. Sorry about that!

[2021-06-25 21:04] antempus commented on #2548
No worries just wanted to bring attention to the bot more so than the issue itself (even though I have had this issue :D )

[2021-06-27 01:39] santiagofn opened #3505 "Snap crashes when opening 'Help' > 'About' in Ubuntu 21.04"
**Describe the bug**

Installed insomina 2021.3.0 using snap in Ubuntu 21.04.  When trying to open 'Help' > 'About', the app crashes.

**To Reproduce**

1. Go to 'Help'
2. Click on 'About.'
3. The app crashes

**Expected behavior**

The 'About' window should be opened.

**Screenshots*

https://user-images.githubusercontent.com/8375708/123530327-4a6a8000-d6cf-11eb-8cd6-9e8ed2bc6a7c.mp4

**Desktop:*

[2021-06-28 13:51] acomagu commented on #283
I think "extending other env" feature also works as solution of this problem(not implemented; the feature I want).

For example:

Production Environment:

[code]

Private Production Environment:

[code]

Local Environment

[code]

Private Local Environment

[code]

[2021-06-29 14:57] felderi opened #3507 "Create a Git Action marketplace for inso"
Similar to what Kong has done with decK, we would like to have an inso Git Actions to include in our Git flows.

This will provide a consistent and easier approach to Git flows with less management overhead.  Spec -> inso -> deck.

At the moment @ikeike443 re-packaged [inso](https://github.com/ikeike443/inso-pkg/releases/tag/2.2.35) and setup an inso Git [Actions](https://github.com/ikeike443/setu

[2021-06-29 19:19] skyhirider commented on #3453
I saw this was assigned to me but presumed it was an automated process. Is there anything else I should do apart from reporting this issue? It seems it was replicated by other people and is indeed a bug, and not a fun one at that.

[2021-06-30 05:01] rocketraman commented on #1812
@WhyNotHugo are you still planning to open a PR at flathub/flathub?

[2021-06-30 08:44] Steiniche opened #3508 "Sign apt repository"
As per https://github.com/Kong/insomnia/issues/3349 and https://insomnia.rest/blog/new-insomnia-apt-repository the new repository at download.konghq.com provides the insomnia binaries for installation on ubuntu like distros.
However, currently we have to put `trusted=yes` as the repository is not signed.
It would be better to sign the repository such that apt can check if the repository can be tru

[2021-06-30 15:16] dimitropoulos commented on #1585
@rrenteria-dev if you have some way you know of that we can use to reproduce this please let us know the concrete steps and platform info (os and version, insomnia version).

I have personally never experienced this so the steps you provided above aren't enough (for me, anyway) to reproduce.

[2021-06-30 15:21] rrenteria-dev commented on #1585
Of course. I'll figure out a way for you to reproduce. Thank you.

[2021-06-30 15:27] abbasc52 opened #3509 "Allow Environment variables as command line params to inso cli"
**Is your feature request related to a problem? Please describe.**
Environment Variable can hold some sensitive information such as client secret. We cannot check-in such secrets in repo which blocks us from running inso.

**Describe the solution you'd like**
Allow passing environment variables via command-line argument similar to how newman(postman cli) provides: -
`
--env-var "<environment-varia

[2021-06-30 22:48] hernancerm commented on #3485
Hi, I want to work on this issue, is it ok? I've inspected the app with React dev tools and it seems that the input component of the address bar is [CodeEditor](https://github.com/Kong/insomnia/blob/develop/packages/insomnia-app/app/ui/components/codemirror/code-editor.tsx), so I could start looking there.

Though it would be my first time contributing to Insomnia so I would appreciate any pointer

[2021-06-30 22:53] FischerRobson commented on #1613
Hi, the same error is happened to me:
![image](https://user-images.githubusercontent.com/61335036/124041152-b2290f80-d9dc-11eb-931f-c00f553081bd.png)
Any plugin fails.
I already run `npm install insomnia-plugin-os` within the` /plugins` but the error remains
I tried to install the plugin by terminal, but failed to.

[2021-06-30 23:34] #2017 closed, assigned to nobody

[2021-06-30 23:34] #2054 closed, assigned to nobody

[2021-06-30 23:34] #2093 closed, assigned to nijikokun

[2021-06-30 23:34] #2108 closed, assigned to nijikokun

[2021-06-30 23:35] #2112 closed, assigned to nijikokun

[2021-06-30 23:35] #2118 closed, assigned to nijikokun

[2021-06-30 23:35] #2121 closed, assigned to nijikokun

[2021-06-30 23:35] #2130 closed, assigned to nijikokun

[2021-06-30 23:35] #2133 closed, assigned to nijikokun

[2021-06-30 23:35] #2146 closed, assigned to nijikokun

[2021-06-30 23:35] #2160 closed, assigned to rstarkov, nijikokun

[2021-06-30 23:35] #2168 closed, assigned to nijikokun

[2021-06-30 23:35] #2178 closed, assigned to sonicyeti

[2021-06-30 23:35] #2196 closed, assigned to nijikokun

[2021-06-30 23:35] #2203 closed, assigned to nijikokun

[2021-06-30 23:35] #2221 closed, assigned to nijikokun

[2021-06-30 23:35] #2222 closed, assigned to nijikokun

[2021-06-30 23:35] #2254 closed, assigned to nobody

[2021-06-30 23:35] #2256 closed, assigned to nijikokun

[2021-06-30 23:35] #2257 closed, assigned to nijikokun

[2021-06-30 23:35] #2259 closed, assigned to nijikokun

[2021-06-30 23:35] #2262 closed, assigned to nijikokun

[2021-06-30 23:35] #2283 closed, assigned to nijikokun

[2021-06-30 23:35] #2285 closed, assigned to nijikokun

[2021-06-30 23:35] #2299 closed, assigned to nijikokun

[2021-06-30 23:35] #2300 closed, assigned to nijikokun

[2021-06-30 23:35] #2308 closed, assigned to nobody

[2021-06-30 23:35] #2313 closed, assigned to nijikokun

[2021-06-30 23:35] #2347 closed, assigned to nijikokun

[2021-06-30 23:35] #2401 closed, assigned to nijikokun

[2021-06-30 23:35] #2415 closed, assigned to nijikokun

[2021-06-30 23:35] #2417 closed, assigned to nijikokun

[2021-06-30 23:35] #2421 closed, assigned to nijikokun

[2021-06-30 23:35] #2430 closed, assigned to nijikokun

[2021-06-30 23:35] #2447 closed, assigned to nijikokun

[2021-06-30 23:35] #2449 closed, assigned to nijikokun

[2021-06-30 23:35] #2452 closed, assigned to nijikokun

[2021-06-30 23:35] #2486 closed, assigned to nijikokun

[2021-06-30 23:35] #203 closed

[2021-06-30 23:35] #2494 closed, assigned to nijikokun

[2021-06-30 23:35] #2500 closed, assigned to nijikokun

[2021-06-30 23:35] #2502 closed, assigned to nijikokun

[2021-06-30 23:35] #2509 closed, assigned to nijikokun

[2021-06-30 23:35] #2511 closed, assigned to nobody

[2021-06-30 23:35] #2535 closed, assigned to develohpanda

[2021-06-30 23:35] #2538 closed, assigned to nobody

[2021-06-30 23:35] #2539 closed, assigned to nobody

[2021-06-30 23:35] #2553 closed, assigned to nobody

[2021-06-30 23:35] #2560 closed, assigned to nobody

[2021-06-30 23:35] #2561 closed, assigned to nobody

[2021-06-30 23:35] #2580 closed, assigned to nobody

[2021-06-30 23:35] #260 closed

[2021-06-30 23:35] #2582 closed, assigned to nobody

[2021-06-30 23:35] #2587 closed, assigned to nobody

[2021-06-30 23:35] #2599 closed, assigned to nobody

[2021-06-30 23:36] #2606 closed, assigned to nobody

[2021-06-30 23:36] #283 closed

[2021-06-30 23:36] #2607 closed, assigned to nobody

[2021-06-30 23:36] #401 closed

[2021-06-30 23:36] #2608 closed, assigned to nobody

[2021-06-30 23:36] #2609 closed, assigned to nobody

[2021-06-30 23:36] #447 closed

[2021-06-30 23:36] #2616 closed, assigned to nobody

[2021-06-30 23:36] #2625 closed, assigned to nobody

[2021-06-30 23:36] #2627 closed, assigned to nobody

[2021-06-30 23:36] #2628 closed, assigned to nobody

[2021-06-30 23:36] #2629 closed, assigned to nobody

[2021-06-30 23:36] #2630 closed, assigned to nobody

[2021-06-30 23:36] #2631 closed, assigned to nobody

[2021-06-30 23:36] #2633 closed, assigned to nobody

[2021-06-30 23:36] #479 closed

[2021-06-30 23:36] #2639 closed, assigned to nobody

[2021-06-30 23:36] #2641 closed, assigned to nobody

[2021-06-30 23:36] #2664 closed, assigned to nobody

[2021-06-30 23:36] #2666 closed, assigned to nobody

[2021-06-30 23:36] #480 closed

[2021-06-30 23:36] #538 closed

[2021-06-30 23:36] #2677 closed, assigned to nobody

[2021-06-30 23:36] #2683 closed, assigned to nobody

[2021-06-30 23:36] #2687 closed, assigned to nobody

[2021-06-30 23:36] #599 closed

[2021-06-30 23:36] #2688 closed, assigned to nobody

[2021-06-30 23:36] #605 closed

[2021-06-30 23:36] #2695 closed, assigned to nobody

[2021-06-30 23:36] #2699 closed, assigned to nobody

[2021-06-30 23:36] #2702 closed, assigned to nobody

[2021-06-30 23:36] #2731 closed, assigned to nobody

[2021-06-30 23:36] #2739 closed, assigned to nobody

[2021-06-30 23:36] #2743 closed, assigned to nobody

[2021-06-30 23:36] #618 closed

[2021-06-30 23:36] #2748 closed, assigned to nobody

[2021-06-30 23:36] #2760 closed, assigned to nobody

[2021-06-30 23:36] #650 closed

[2021-06-30 23:36] #2762 closed, assigned to nobody

[2021-06-30 23:36] #667 closed

[2021-06-30 23:36] #2781 closed, assigned to nobody

[2021-06-30 23:36] #2816 closed, assigned to nobody

[2021-06-30 23:36] #2825 closed, assigned to nobody

[2021-06-30 23:36] #2855 closed, assigned to nobody

[2021-06-30 23:36] #669 closed

[2021-06-30 23:36] #2856 closed, assigned to nobody

[2021-06-30 23:36] #2878 closed, assigned to kreosus

[2021-06-30 23:36] #2886 closed, assigned to nobody

[2021-06-30 23:36] #675 closed

[2021-06-30 23:36] #2890 closed, assigned to nobody

[2021-06-30 23:36] #2894 closed, assigned to nobody

[2021-06-30 23:36] #2896 closed, assigned to nobody

[2021-06-30 23:36] #2897 closed, assigned to nobody

[2021-06-30 23:36] #685 closed

[2021-06-30 23:36] #2898 closed, assigned to nobody

[2021-06-30 23:36] #2905 closed, assigned to nobody

[2021-06-30 23:36] #2907 closed, assigned to nobody

[2021-06-30 23:36] #687 closed

[2021-06-30 23:36] #2911 closed, assigned to nobody

[2021-06-30 23:36] #2930 closed, assigned to nobody

[2021-06-30 23:36] #2932 closed, assigned to nobody

[2021-06-30 23:36] #691 closed

[2021-06-30 23:36] #2943 closed, assigned to nobody

[2021-06-30 23:37] #2944 closed, assigned to nobody

[2021-06-30 23:37] #2965 closed, assigned to nobody

[2021-06-30 23:37] #723 closed

[2021-06-30 23:37] #3103 closed, assigned to nobody

[2021-06-30 23:37] #744 closed

[2021-06-30 23:37] #3107 closed, assigned to nobody

[2021-06-30 23:37] #3148 closed, assigned to nobody

[2021-06-30 23:37] #3156 closed, assigned to nobody

[2021-06-30 23:37] #3177 closed, assigned to nobody

[2021-06-30 23:37] #776 closed

[2021-06-30 23:37] #3180 closed, assigned to nobody

[2021-06-30 23:37] #3181 closed, assigned to nobody

[2021-06-30 23:37] #3182 closed, assigned to nobody

[2021-06-30 23:37] #3190 closed, assigned to nobody

[2021-06-30 23:37] #3214 closed, assigned to nobody

[2021-06-30 23:37] #3236 closed, assigned to nobody

[2021-06-30 23:37] #842 closed

[2021-06-30 23:37] #3252 closed, assigned to nobody

[2021-06-30 23:37] #3261 closed, assigned to nobody

[2021-06-30 23:37] #855 closed

[2021-06-30 23:37] #3266 closed, assigned to nobody

[2021-06-30 23:37] #865 closed

[2021-06-30 23:37] #3279 closed, assigned to nobody

[2021-06-30 23:37] #3280 closed, assigned to nobody

[2021-06-30 23:37] #3287 closed, assigned to nobody

[2021-06-30 23:37] #874 closed

[2021-06-30 23:37] #3308 closed, assigned to nobody

[2021-06-30 23:37] #3309 closed, assigned to nobody

[2021-06-30 23:37] #3312 closed, assigned to nobody

[2021-06-30 23:37] #3321 closed, assigned to nobody

[2021-06-30 23:37] #3322 closed, assigned to nobody

[2021-06-30 23:37] #892 closed

[2021-06-30 23:37] #3323 closed, assigned to nobody

[2021-06-30 23:37] #902 closed

[2021-06-30 23:37] #3324 closed, assigned to nobody

[2021-06-30 23:37] #908 closed

[2021-06-30 23:37] #3334 closed, assigned to nobody

[2021-06-30 23:37] #3339 closed, assigned to nobody

[2021-06-30 23:37] #3343 closed, assigned to nobody

[2021-06-30 23:37] #3346 closed, assigned to nobody

[2021-06-30 23:37] #3351 closed, assigned to nobody

[2021-06-30 23:37] #3352 closed, assigned to nobody

[2021-06-30 23:37] #3359 closed, assigned to nobody

[2021-06-30 23:37] #3360 closed, assigned to nobody

[2021-06-30 23:37] #3364 closed, assigned to nobody

[2021-06-30 23:37] #3368 closed, assigned to nobody

[2021-06-30 23:37] #3403 closed, assigned to nobody

[2021-06-30 23:37] #3411 closed, assigned to nobody

[2021-06-30 23:37] #3452 closed, assigned to admodras

[2021-06-30 23:37] #1001 closed

[2021-06-30 23:37] #3461 closed, assigned to nobody

[2021-06-30 23:37] #3463 closed, assigned to nobody

[2021-06-30 23:37] #3473 closed, assigned to nobody

[2021-06-30 23:37] #3478 closed, assigned to nobody

[2021-06-30 23:37] #1116 closed

[2021-06-30 23:37] #3489 closed, assigned to nobody

[2021-06-30 23:37] #3491 closed, assigned to nobody

[2021-06-30 23:37] #3498 closed, assigned to nobody

[2021-06-30 23:37] #3507 closed, assigned to nobody

[2021-06-30 23:37] #3508 closed, assigned to nobody

[2021-06-30 23:37] #3509 closed, assigned to nobody

[2021-06-30 23:37] #1117 closed

[2021-06-30 23:38] #1156 closed

[2021-06-30 23:38] #1181 closed

[2021-06-30 23:38] #1184 closed

[2021-06-30 23:38] #1258 closed

[2021-06-30 23:38] #1259 closed

[2021-06-30 23:38] #1342 closed

[2021-06-30 23:38] #1345 closed

[2021-06-30 23:38] #1363 closed

[2021-06-30 23:38] #1371 closed

[2021-06-30 23:38] #1373 closed

[2021-06-30 23:38] #1384 closed

[2021-06-30 23:38] #1432 closed

[2021-06-30 23:38] #1436 closed

[2021-06-30 23:38] #1477 closed

[2021-06-30 23:38] #1481 closed

[2021-06-30 23:39] #1541 closed

[2021-06-30 23:39] #1571 closed

[2021-06-30 23:39] #1574 closed

[2021-06-30 23:39] #1608 closed

[2021-06-30 23:39] #1620 closed

[2021-06-30 23:39] #1642 closed

[2021-06-30 23:39] #1657 closed

[2021-06-30 23:39] #1764 closed

[2021-06-30 23:39] #1771 closed

[2021-06-30 23:39] #1778 closed

[2021-06-30 23:39] #1802 closed

[2021-06-30 23:39] #1893 closed, assigned to nobody

[2021-06-30 23:39] #1962 closed, assigned to nobody

[2021-06-30 23:39] #1966 closed, assigned to nobody

[2021-06-30 23:39] #1981 closed, assigned to nobody

[2021-06-30 23:39] #2006 closed, assigned to nobody

[2021-06-30 23:39] #2082 closed, assigned to nijikokun

[2021-06-30 23:39] #2159 closed, assigned to develohpanda

[2021-06-30 23:39] #2187 closed, assigned to nobody

[2021-06-30 23:40] #2373 closed, assigned to develohpanda

[2021-06-30 23:59] #3213 closed, assigned to nobody

[2021-07-01 00:01] #3207 closed, assigned to nobody

[2021-07-01 00:04] #3183 closed, assigned to nijikokun

[2021-07-01 00:09] wdawson commented on #3118
Looks like this bug is resolved (I'm unable to reproduce in 2021.4.0), so I'll be converting this back to a feature request and moving to discussions.

[2021-07-01 00:09] #3118 closed, assigned to nobody

[2021-07-01 00:10] #3113 closed, assigned to nobody

[2021-07-01 00:21] wdawson commented on #3099
I suspect our `.ico` and `.icns` files (I think they're [here](https://github.com/Kong/insomnia/tree/develop/packages/insomnia-app/app/icons)) don't have high enough resolutions included, though it seems fine on macOS.

Seems like this might help: https://www.electron.build/icons

[2021-07-01 00:31] #3056 closed, assigned to nobody

[2021-07-01 00:32] #3052 closed, assigned to nobody

[2021-07-01 00:34] #3044 closed, assigned to nobody

[2021-07-01 00:36] #2272 closed, assigned to nijikokun

[2021-07-01 00:39] wdawson commented on #2246
@iveelsm 👋 I'm going to go ahead and close this since you're happy enough with the workaround.

Feel free to open a Discussion in the Ideas category if you (or anyone else who stumbles upon this issue) would rather see a better solution.

[2021-07-01 00:39] #2246 closed, assigned to nobody

[2021-07-01 00:40] #2104 closed, assigned to nijikokun

[2021-07-01 00:43] #1954 closed, assigned to nobody

[2021-07-01 02:59] iveelsm commented on #2246
@wdawson Sounds good! I think the `AppImage` is a better approach anyways. :)

[2021-07-01 08:49] koldoon commented on #2942
Is it going to stay forever? I mean, will we always face this messy "_." part for every and each variable even if it is not necessary because I don't use hyphens in my variables? This is kinda strange decision: to solve some very specific issue resulting into such a dirt in everything else. Even if it is used internally in implementation, I believe it is possible to format variables labels in the

[2021-07-01 12:11] dimitropoulos commented on #2942
@koldoon to access a variable the object needs an identifier (in this case, `_`).  please tell me if you have ideas for other solutions to the problem.

[2021-07-01 12:38] dimitropoulos commented on #3485
@HerCerM I sent you an email to have a call and help you get started with it.

[2021-07-01 12:44] koldoon commented on #2942
@dimitropoulos Please, don't mix up the internal implementation and a simple text label formatting. If internally Insomnia needs an object instance name to resolve a variable - it's ok, this is the matter of implementation, but what's the sense of printing this internal guts to end user and thus flood a nice ui? And by the way, if I explicitly type `{{variable_name}}` (without `_.`) - everything w

[2021-07-01 12:57] dimitropoulos commented on #2942
I don't have full context on this, so I'm just trying to understand what you want.

@develohpanda (the original author on this PR) may have more to say.

[2021-07-01 13:04] koldoon commented on #2942
@dimitropoulos please refer to https://github.com/Kong/insomnia/issues/2601 for more information

[2021-07-01 14:10] mreduar opened #3777 "Export did not work anymore in version 2021.4.0"
**Describe the bug**
When exporting the insomnia configuration it does not export a valid json file and the extension is now `.null` with a content of `undefined`.

**To Reproduce**
Steps to reproduce the behavior:
1. To start, click the dropdown arrow next to workspace name and select ‘Import/Export’.
2. Click the ‘Export Data’ dropdown and click ‘Current Workspace’.
3. Select which (if not all)

[2021-07-01 14:50] dimitropoulos commented on #3777
Thanks for reporting.  I was able to reproduce.  I'm looking into this right away (now).

[2021-07-01 16:23] wdawson commented on #1843
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 17:50] dimitropoulos commented on #3777
update: I debugged it was unable to find an obvious culprit.  I bisected (which, because you have to wipe everything takes _forevzzz_) and narrowed it down to this commit: https://github.com/Kong/insomnia/commit/0b38c68c1fcc91af171b98e8145eb51fa77504cc

Trying to see if I can find a fix now.

While I do that @mreduar could you say a little more about your environment (maybe things like how many co

[2021-07-01 18:00] mreduar commented on #3777
Hello, thank you for the quick response.

I have 20 collections (all different projects), and requests within the project I am trying to export I have like 180 request.
However, I have tried with 20 request collections and the result is the same.

[2021-07-01 19:15] wdawson commented on #3246
Hi @fusionneur , sorry for the confusion. We are moving feature requests to GitHub discussions to offer a better experience for the community for those ideas. However, it looks like you've reported a bug so I'm moving this back to Issues and reopening.

If possible, can you show us which requests you're seeing? It might save us time when we try to reproduce.

[2021-07-01 19:42] develohpanda commented on #3777
Hi @mreduar, we were able to reproduce this as well and have a hotfix on the way! Here's a workaround for the time being.

Open DevTools (View > Toggle DevTools) then run `window.localStorage.setItem('insomnia.lastExportFormat', 'json');`. That's all!

There is a bug we found where a code path is not reached if that key is not specified, so the workaround is just to specify that key.

[2021-07-01 19:46] mreduar commented on #3777
Great! Now it works fine. Thank you very much! You guys are the best.

[2021-07-01 19:46] develohpanda commented on #3777
Awesome! 🙌🏽 hotfix on the way!

[2021-07-01 20:31] develohpanda commented on #2942
Hi @koldoon, `{{variable_name}}` still working was kept for backwards compatibility, and it was a product decision at the time, to make all variables in the auto-complete dropdown prefixed with `_.` for consistency.

I hear you though, that we may need to revisit the display aspect, and I agree with your observations that the `_.` prefix is not strictly needed in all cases.

[2021-07-01 20:58] wdawson commented on #2072
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 21:01] wdawson commented on #2158
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 21:03] wdawson commented on #2201
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 21:03] SynapseScribe commented on #3246
see first comment with the 2 endpoints

[2021-07-01 21:16] wdawson commented on #2228
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 21:17] wdawson commented on #2228
I also just reproduced on 2021.4.0 😞

[2021-07-01 21:22] wdawson commented on #1621
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 21:26] wdawson commented on #1367
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 21:28] a-covar commented on #1902
similar issue

[2021-07-01 21:31] wdawson commented on #1272
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

@seanwash or @jeromedalbert if you're still looking for this enhancement, feel free to check out the Ideas in GitHub Discussions.

[2021-07-01 22:00] wdawson commented on #1989
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 22:04] wdawson commented on #1985
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 22:09] wdawson commented on #1633
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 22:12] wdawson commented on #1373
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

However, it looks like this could be resolved now? Let us know if we should reopen.

[2021-07-01 22:14] wdawson commented on #1137
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 22:17] wdawson commented on #3246
Ok thanks. As @reynolek mentioned, those two calls are made at startup regardless. If you choose to opt out of updates and analytics, the app should not send requests like that in the future. I'm going to close this out as expected.

[2021-07-01 22:17] #3246 closed, assigned to nobody

[2021-07-01 23:36] wdawson commented on #975
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 23:40] wdawson commented on #757
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 23:42] SynapseScribe commented on #3246
i just downloaded v2021.4.0 portable and with 'Do not notify of new releases' it still tries to connect to api.insomnia.rest.

The google's domain redirector.gvt1.com however is not contacted anymore with analytics turned off.

[2021-07-01 23:47] wdawson commented on #1732
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 23:51] wdawson commented on #1518
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 23:53] wdawson commented on #1318
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 23:55] wdawson commented on #1183
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-01 23:57] wdawson commented on #1015
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-02 00:00] wdawson commented on #976
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-02 00:10] wdawson commented on #973
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-02 00:43] wdawson commented on #2456
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-02 00:55] wdawson commented on #2446
Hey @crijke , this issue got moved to discussions by mistake (it was mislabeled). But I just tried to reproduce on Insomnia 2021.4.0 and could not. Are you still seeing this issue?

[2021-07-02 00:59] wdawson commented on #3246
That's expected behavior consistent with our ToS for notification purposes.

[2021-07-02 07:38] PierreAdam opened #3780 "OAuth2 with OAS3 redirect_uri is invalid"
**Describe the bug**
When an OAS3 is created as a Document and has an oauth2 type of authentication, the login is not working on some SSO due to the redirect_uri parameter. This is due to the redirect_url being a file:///... .
I first thought that it was a problem with our Keycloak SSO but after investigating with RedHat, I found out that it's a bad practice to redirect to a file and that Keycloak

[2021-07-02 07:53] PierreAdam opened #3781 "OAuth2 with OAS3 scopes are not transmitted correctly"
**Describe the bug**
When specifying some scopes using an OAS3 document, when you select them on the popup where you select your clientId, instead of sending the scope to the SSO, it's sending the "index".
If you have the scopes :
- api_user_read
- api_user_write

If you select both scopes, the URL being called will contain `&scopes=0%201` without the URL encoding `scope=0 1`.
This only happen if

[2021-07-02 14:08] reberthkss commented on #1561
@gschier can you ellaborate?

[2021-07-02 15:44] wdawson commented on #2603
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-02 15:55] WhyNotHugo commented on #1812
I've opened it here: https://github.com/flathub/flathub/pull/2406

@dimitropoulos As a contributor here, please let me know if you have any comments on this.

[2021-07-02 15:55] WhyNotHugo commented on #939
See https://github.com/flathub/flathub/pull/2406

[2021-07-02 17:18] wdawson commented on #2254
We'll track this as part of the feature request for [OAuth through a browser](https://github.com/Kong/insomnia/discussions/3533). I'm assuming that there is some limitation for apps since Postman has the same issue.

[2021-07-02 18:26] wdawson commented on #1119
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-02 18:39] wdawson commented on #1308
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-02 18:43] wdawson commented on #793
Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

[2021-07-02 19:44] dimitropoulos commented on #1318
I was in this area of the codebase recently and I believe this bug doesn't exist anymore.  At least, I was working _quite_ closely with it and I never saw this occur.

It's been a few years.  I'm more than happy to take another look, but I'll need some reproduction steps.

For example, just now I fired off a request to https://mockbin.org/delay/3000 and didn't see the above issue in the timer.

[2021-07-02 19:44] #1318 closed

[2021-07-02 20:15] dimitropoulos commented on #1717
This appears to no longer be happening in XFCE or KDE

![Screenshot_20210702_161351](https://user-images.githubusercontent.com/15232461/124324157-8333aa80-db50-11eb-938f-3b765f6a4678.png)

![Screenshot_20210702_161535](https://user-images.githubusercontent.com/15232461/124324314-bece7480-db50-11eb-8435-dfe1f861f467.png)

[2021-07-02 20:15] #1717 closed

[2021-07-02 20:41] ondrovic commented on #2998
bump to keep open

[2021-07-02 23:21] dobau opened #3785 "dump nested json"
**Describe the bug**
dump function don't work when has a variable with 4 tears nested on object.

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Manage Enviroments'
2. Use that objects
3. Click on dump to preview

**Expected behavior**
It should show

[code]

instead of

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/126471/124336057-f3ebbe

[2021-07-03 11:28] xZyph commented on #1367
Get the same issue as the others with a "Maximum call stack size exceeded" error when opening a swagger.json file.

![image](https://user-images.githubusercontent.com/17903817/124352724-7d969d00-dc02-11eb-8cd0-9ad2d2b9e417.png)

[2021-07-03 19:15] Zero3 commented on #793
@dimitropoulos Thanks a lot :). Good to hear that you are working on improving things! Thanks for re-opening that other issue as well, which indeed was the one I had in mind. I appreciate it.

(I was re-assigned to this issue by just after you removed me though, by *another* bot, so it seems like your bot troubles are not quite over yet...)

[2021-07-03 19:27] reynolek commented on #1367
@xZyphout of curiosity — how many lines and how many megabytes is the file?

[2021-07-03 19:27] Zero3 commented on #668
@dimitropoulos thanks a lot for reviving this.

As I see it, regardless of whether `performance.now`, `QueryPerformanceCounter` or some other reasonable solution is used, it would be a significant improvement to the current behaviour. Measuring as "close" to the actual call as possible should give the most accurate results, I think, but the difference should be just a few ms at the most anyway.

N

[2021-07-03 20:16] xZyph commented on #1367
@reynolek, I had to check on my phone, but it says 91.94 KB and a total of 3984 lines of JSON data.

[2021-07-03 20:46] reynolek commented on #1367
Ok so it doesnt seem to be in relation to the size (as I have successfully loaded a 45k+ OAS spec before that was substantially loaded) -- Do you have any kind of reference that could be cyclical inside of it?

[2021-07-03 22:47] xZyph commented on #1367
There are a few references in there, but when I look through them I don't see anything that looks cyclical. But yeah, a good way to test if this is the problem?

[2021-07-04 08:09] madrigal1 commented on #3365
in insomnia, nunjunks environments are used to get the definitions of the template tags

relevant file:
insomnia-app->app->templating->index.ts
function: getTagDefinitions

official docs reference:
https://support.insomnia.rest/article/171-template-tags

[2021-07-04 13:20] xZyph commented on #1367
@reynolek, maybe this stack trace will help?

[code]

[2021-07-05 09:44] csotiriou commented on #2877
This would be a major and very useful feature.

[2021-07-05 12:44] Raibo opened #3786 "Insomnia goes idle for 2 minutes before every request."
**Describe the bug**
We have to wait up to 2 minutes for a request to happen.
On my PC it happens to be about 130 seconds. It was less, about 20-40 seconds before, now it's really hard to use.

When I hit "Send" button, "Loading" title appears for about a second, then time count starts and Insomnia goes idle.

During this idle period:
- Insomnia ignores the "Cancel" button, therefore request canno

[2021-07-05 14:51] DFSko commented on #3786
Confirm. I also have this problem

[2021-07-05 18:27] WhyNotHugo commented on #1812
A community-maintained package has been published: https://flathub.org/apps/details/rest.insomnia.Insomnia

Please keep in mind this is **not** an official package, so any packaging issues, please report at https://github.com/flathub/rest.insomnia.Insomnia

[2021-07-06 09:31] DusanLesan opened #3788 "The URL preview does not update when working with queries"
**Describe the bug**
The URL preview in query section does not refresh after switching parameters on and off

**To Reproduce**
Steps to reproduce the behavior:
1. Select one request
2. Go to Query section
3. Note the value of URL in URL Preview
4. Enable one more query

**Expected behavior**
After switching queries on and off, URL preview needs to me updated

**Screenshots**
![image](https://user-

[2021-07-06 10:25] melodyWxy opened #3789 "The DOWNLOAD URL is dead: http://insomnia.rest/download/"
**Describe the bug**
The DOWNLOAD URL is dead:  http://insomnia.rest/download/

**To Reproduce**
I Can not  get http://insomnia.rest/download/ ,

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. macOS 10.15.1]
 - Installation Method: [e.g. homebrew]
 - App Version [e.g. v7.0.3]

**Additional context**
Add any other context about the prob

[2021-07-06 11:35] acaaleksandar commented on #3788
I have the same problem here, on Windows 10.

[2021-07-06 11:49] ThisNoName commented on #217
@georgeflug Thanks, the plugin works perfectly.  I combined it with default header plugin, so 3 token providers can set bearer token across all requests.

[2021-07-06 12:47] arboleya commented on #3777
@develohpanda I found another variant regarding **private** environments.

If I chose to export them, the workaround works fine.

Otherwise, it doesn't.

[2021-07-06 12:55] ThisNoName commented on #3377
How about duplicating your standard chained request, change the parameters you want vary to Prompt, then you can try whatever you like.

Unless of course, you also want to fully automate all workflows, but that might be too much for a generic tool.

[2021-07-06 13:35] mreduar commented on #3777
I just tested and @arboleya is right. When you select not to export the private variables, the export does not work. It keeps loading infinitely due to an error in the console.
![image](https://user-images.githubusercontent.com/22550119/124609282-7c9d7f80-de3d-11eb-82b1-18db8eac6fe7.png)
![image](https://user-images.githubusercontent.com/22550119/124609906-0f3e1e80-de3e-11eb-8fad-0a6e9991436c.png)

[2021-07-06 13:53] leonardo-bispoo opened #3790 "I can't make any requests, I get this error"
[code]

**Expected behavior**
I wait for the response from the route, tested it with other applications and it worked

**Desktop (please complete the following information):**
 - OS: Debian 10 Buster
 - Installation Method: Snap
 - App Version: 2021.3.0

[2021-07-06 14:15] dimitropoulos commented on #3789
Thanks for letting us know, however I was not able to reproduce this.

![image](https://user-images.githubusercontent.com/15232461/124614845-adcc7e80-de42-11eb-9dd8-1de26f8c5504.png)

Please let me know if I missed something and we can reopen right away.

[2021-07-06 14:15] #3789 closed, assigned to nobody

[2021-07-06 16:16] simonholliday opened #3792 "Exporting a collection results in string "undefined" instead of expected JSON"
**Description**

When exporting a collection in V4 (JSON) format, the result is the string "undefined" instead of the expected JSON.

**To Reproduce**

1. Select Import/Export
2. Select Export Data -> Current Document / Selection
3. Click "Export"
4. Select "Insomnia V4 (JSON)" from the dropdown and click "Done"
5. Select a file path to save to

Result: The contents of the file is just the string

[2021-07-06 16:29] simonholliday commented on #3792
Duplicate of #3777

[2021-07-06 16:29] #3792 closed, assigned to nobody

[2021-07-06 17:32] jstephensxoi commented on #3777
I am getting the same error when trying to export just a part of my collection but I am selecting to not export private variables

![image](https://user-images.githubusercontent.com/74548829/124643023-27ba3300-de56-11eb-87a3-16ef996c00eb.png)

using version 2021.4.0 on  Mac OS X Catalina

[2021-07-06 17:33] dimitropoulos commented on #3790
With the information above it's hard to say what we do next.  Do you have any ideas on how we might reproduce this?

[2021-07-06 19:46] theozordako commented on #3484
Will fix this issue

[2021-07-06 23:49] develohpanda commented on #3777
Thank you for reporting this additional regression! I have [fixed it](https://github.com/Kong/insomnia/pull/3778/commits/ff49cb30937f4702e129cab4332bf750bcbd03ef) and included it with the 2021.4.1 RC 🙌🏽

[2021-07-07 13:40] udivankin commented on #3259
I confirm that emptying all cookies in "Manage Cookies" fixes this problem

[2021-07-07 19:47] NikkyAI commented on #944
another thing that could be useful is to generate a http request for each element.. there is enough API's like that sadly

[2021-07-07 21:09] #3777 closed, assigned to nobody

[2021-07-07 21:19] develohpanda commented on #3777
This has been released with [2021.4.1](https://github.com/Kong/insomnia/releases/tag/core%402021.4.1)!

[2021-07-08 04:17] wowdyaln commented on #3788
same problem here.

[2021-07-08 13:44] GIT-chandra commented on #3788
Release date: 7/7/2021
OS: Windows_NT x64 10.0.19042
Electron: 9.3.5
Node: 12.14.1
V8: 8.3.110.13-electron.0
Architecture: x64
node-libcurl: libcurl/7.73.0-DEV OpenSSL/1.1.1g zlib/1.2.11 brotli/1.0.9 WinIDN libssh2/1.9.0_DEV nghttp2/1.41.0

Same issue here

[2021-07-08 16:33] kalvinwang opened #3797 "Insomnia implies non-private certificates will be git synced but does not"
**Describe the bug**
The checkbox in Client Certificates for "Private" has helper text that says "Private certificates will not be synced", which implies that if the "Private" box isn't checked, the certificate will be synced, but no certificates are ever synced.

This seems like a bug, and could also be considered a feature request to (re-)add certificate syncing, since David from Insomnia suppor

[2021-07-08 18:16] Wulfheart commented on #1453
Manjaro too.

[2021-07-08 19:11] Gabrz commented on #3788
I have the same issue.

When I change something in the field with the url, the preview doesn't update.
Also when I enable or disable a Query Parameter the preview doesn't update.

I have to navigate to another request and back for the url preview to update.

Luckily, when I press Send the correct values are used. So this is a minor inconvenience.

[2021-07-08 19:15] idrtabd commented on #3788
same issue
2021.4.1
node 12.14.1
x64
V8: 8.3.110.13-electron.0
Electron: 9.3.5

[2021-07-09 03:06] warwickpalm commented on #3788
Same

[2021-07-09 11:48] xeras opened #3799 "Inso run test fails, ERROR: Cannot read property 'now' of undefined"
**Describe the bug**
Running tests with inso cli `inso run test` results into an error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to command line
2. execute inso cli
3. select a design document containing tests
4. select an environment
5. execute the tests
6. See the error described above

**Expected behavior**
Inso CLI runs the tests as expected without throwing errors.

**

[2021-07-09 12:36] dimitropoulos commented on #1453
@Wulfheart what version of insomnia are you on, and do you have reproduction steps?

[2021-07-09 12:37] Wulfheart commented on #1453
Sorry for not providing more specific steps. I will get them soon.

[2021-07-09 19:54] TristanWiley commented on #1908
Same issue when trying to install a plugin, occurs on both my Mac and Linux machine. Works on my Windows machine

[2021-07-09 22:58] develohpanda commented on #3799
Some code path is leading into loading react polyfills? Hmm

[2021-07-12 00:20] develohpanda commented on #3453
Note, in order to reproduce this you need a spec which has methods with their `operationId` defined and belonging in a tag. The default spec at https://editor.swagger.io no longer matches the requirements for this bug, use the following spec to reproduce it.

[code]

<details>
<summary>Note, this bug does not exist with an OpenAPI 3 spec</summary>

[code]

</details>

[2021-07-12 05:32] develohpanda commented on #3484
Feels like option one would be better 🤔 If a user is selecting a custom content type, then Insomnia should clear anything it set automatically, that seems reasonable. We can add "text/plain" as a standalone option (as per https://github.com/Kong/insomnia/pull/3793), but it doesn't seem right for "other" to fallback to "plain"

[2021-07-12 10:30] h8art commented on #2080
Any updates? Blocked by this issue

[2021-07-12 14:26] vasudevk opened #3805 "Cannot read property 'lastIndexOf' of undefined"
`TypeError: Cannot read property 'lastIndexOf' of undefined
    at findOpening (file:///C:/Users/Vasu/AppData/Local/insomnia/app-2021.4.1/resources/app.asar/bundle.js:198791:43)
    at Array.<anonymous> (file:///C:/Users/Vasu/AppData/Local/insomnia/app-2021.4.1/resources/app.asar/bundle.js:198805:20)
    at file:///C:/Users/Vasu/AppData/Local/insomnia/app-2021.4.1/resources/app.asar/bundle.js:1222

[2021-07-12 17:12] Bubelgin commented on #2707
Same issue after updating to the latest version just today, getting blank screen if you try to navigate to preferences.
![image](https://user-images.githubusercontent.com/39793716/125328792-a45c7e00-e33c-11eb-9c19-b2b531727e38.png)

[2021-07-12 21:41] msmith93 opened #3807 "`--tags` option in insomnia-inso does not work when `--type kubernetes` is used"
**Describe the bug**
The `--tags` option only works when `--type declarative` is used. This is probably because no Kong K8S Custom Resources support adding tags to entities currently. The README should be update to clarify that `--tags` only works with the declarative output.

**To Reproduce**
Steps to reproduce the behavior:
1. inso generate config <file> --tags mytag --output out.yaml --type dec

[2021-07-13 00:26] develohpanda commented on #3484
According to the [spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec7.html#sec7.2.1), when the content-type is not known it should be treated as `application/octet-stream`, but since we already have a `Binary File` body type which defaults to `application/octet-stream`, I think we should clear the content-type header if "Other" is selected as a body type.

[2021-07-13 00:32] hernancerm commented on #3485
Hi @dimitropoulos, I have done some research in the code and want to share my findings. Also and unfortunately, I won't be able to continue with this issue. However, I've created a draft [PR](https://github.com/Kong/insomnia/pull/3808#issue-688281492) if anyone would like to followup

### What causes the bug

I have learned that the input loses focus because importing a request prepares a forceful

[2021-07-13 05:18] develohpanda commented on #3485
Nice findings @HerCerM, I am very familiar with this concept of "force refresh the app using a key" and it's side-effects and we're trying to move away from it slowly. For now I'm not certain what the best way forward is but your initial attempt does look decent. Thank you for working through it 🙏🏽

[2021-07-13 09:15] DHenryDai commented on #3484
Yes, i see the requirement here to remove already set content types in header. does it make sense to inform the user by a slide-in element that the header content type war reset?

[2021-07-13 09:28] BaderMarkus opened #3810 "Git Sync Issue on Windows"
**Problem**
We added the Git Sync facility to our project and created an .insomnia folder in the root directory of our Git repository. Under Linux, synchronisation works without any problems, but under Windows the branch cannot be changed.

**To Reproduce**
1. Create -> Git Clone
2. Go to Branches -> Checkout other Branch (in our case development)
3. Pull changes

**Expected behavior**
The expecte

[2021-07-13 09:43] develohpanda commented on #3484
@DHenryDai hmmm, I think we can get away without any alerts or toasts, behaving the same way as when you select "No Body"

[2021-07-13 13:31] hernancerm commented on #3485
You're welcome :) I found @dimitropoulos' help very useful to reach my findings — thank you Dimitri

[2021-07-13 17:26] msmith93 opened #3811 "insomnia-inso `generate config` with `--type kubernetes` produces Ingress Resources with deprecated apiVersion (extensions/v1beta1)"
**Describe the bug**
The latest version of insomnia-inso produces a Kubernetes configuration file with Ingress resources with apiVersion "extensions/v1beta1". This apiVersion is deprecated as of k8s 1.16 https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

inso generate config should instead produce Ingress resources with apiVersion "networking.k8s.io/v1"

**To Reproduce**
Steps to rep

[2021-07-13 22:02] Foorack opened #3813 "https://support.insomnia.rest/article/116-cli-run-test"
The "git-repo" link at https://support.insomnia.rest/article/116-cli-run-test is broken.

Old: https://github.com/Kong/insomnia/tree/develop/packages/insomnia-inso/src/db/__fixtures__/git-repo
New: https://github.com/Kong/insomnia/tree/develop/packages/insomnia-inso/src/db/fixtures/git-repo/

[2021-07-13 22:41] reynolek commented on #3813
Thanks for the report! Fixed.

[2021-07-13 22:41] #3813 closed, assigned to nobody

[2021-07-14 07:26] veritas1 opened #3814 "App not launching, error: libX11.so.6: cannot open shared object file: No such file or directory"
**Describe the bug**
Application does not launch. Instead returns the following error:

**Desktop**
 - OS: Pop OS 21.04
 - Installation Method: Snap
 - App Version: 2021.4.1 (latest/stable channel)

**Additional context**
I just upgraded from Pop OS 20.10, where it was working.

[2021-07-14 21:53] jasonc779 opened #3815 "Base64 Encode variable is failing when file includes percentile symbol"
**Describe the bug**
When I enter a data file in either XML or JSON format into a base64-->Encode variable, the encoding appears to fail when the file contains a percentage symbol.

**Expected behavior**
I expect it should base64 encode the file.

**Screenshots**

File contains percentage symbol.

![image](https://user-images.githubusercontent.com/87450277/125697606-14423a22-9aa3-4d04-9073-dd87dcd

[2021-07-14 23:33] michaelpeterswa commented on #2937
This issue still exists on Mac version **Insomnia 2021.4.0**. Looking for any new news like @ARKEOLOGIST

[2021-07-15 11:16] sandercamp commented on #3045
Experiencing this issue too. Although I've unchecked the 'Validate certificates' setting I tried manually adding the certifcate as a workaround: does not work either

[2021-07-15 13:59] jackHedaya opened #3816 "Content-Type Headers Not Being Honored"
**Describe the bug**
Manually set Content-Type headers are not sent to the server when including a body. Occurred in both JSON and Multipart form.

**To Reproduce**
Steps to reproduce the behavior:
1. Create JSON body
2. Manually set Content-Type header
3. Send request
4. See incorrect Content-Type

**Expected behavior**
The header to be `application/json`, what I set it to.

**Screenshots**
<img

[2021-07-15 14:12] jackHedaya commented on #3816
My bad, I believe that might be the headers of the response

[2021-07-15 14:12] #3816 closed, assigned to nobody

[2021-07-15 14:16] shokoladova opened #3817 "Basic auth issue"
**Describe the bug**
If you send some http request under basic auth with right creds, insomnia cashes the password and even retyping password will return 200 instead of 401.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute some request to protected (basic auth) endpoint with valid creds -> 200 OK
2. Change password for invalid
3. Send request again -> 200 OK

**Expected behavior**
Im

[2021-07-15 15:38] gpasq commented on #1517
This is still an issue 2 years later.  Sigh.

[2021-07-15 19:22] austinwofford opened #3818 "HTTP Status 303 See Other redirects do not use GET"
**Describe the bug**
When an API returns a 303 See Other status code, Insomnia will follow the redirect with whatever HTTP Method was used for the original request instead of using the GET method as is standard.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a PATCH request to an endpoint that returns a 303 See Other status.
2. See that the request calls the redirect URL with the PATCH

[2021-07-15 19:38] ThisNoName commented on #3071
Tabs and no auto save please.  Insomnia is just amazing otherwise

[2021-07-16 10:06] jsoref opened #3821 "empty response header values listed with `:` in header name"
**Describe the bug**
HTTP Response headers with empty values have their header name listed with a trailing `:`

**To Reproduce**

1. Run the following in a `sh` friendly shell with a cooperative `nc`:
[code]
2. Open Insomnia
3. Make a new request
4. Set the request to (GET) http://localhost:1500
5. Click Send
6. Activate the Header response tab

See:

NAME|VALUE
-|-
X-Foo:|
Content-Type| text/plai

[2021-07-16 10:08] jsoref commented on #3821
For reference, https://datatracker.ietf.org/doc/html/rfc2616#section-14.39 is an RFC example of such a header with an empty value.

[2021-07-16 14:03] destumme opened #3822 "Sub Environments are being re-ordered after leaving environment screen"
**Describe the bug**
Sub Environments are being arbitrarily re-ordered after leaving environment screen

**To Reproduce**
Steps to reproduce the behavior:
1 - Open managed envs
2 - Order multiple sub environments in desired order
3 - close screen
4 - Envs are now moved to a seemingly arbitrary order.

**Expected behavior**
Order is persisted when changed

**Screenshots**

Initial Order
![Screen Sh

[2021-07-16 15:48] gAmUssA commented on #3272
+1 to fix this, please

[2021-07-16 18:31] HeCorr commented on #793
From my testing, code mirror seems to lag just as much as Insomnia..

But Postman seems to handle huge texts very well.. even selecting and erasing everything takes less than a second:

https://user-images.githubusercontent.com/75134774/125992955-4e3b89ce-b260-4667-a822-4278182d11ea.mp4

[2021-07-16 18:45] ariasmn commented on #3242
Hi!

I have (kinda) looked into it, and the problem with the comments comes from the [Javascript GraphQL library AST](https://github.com/graphql/graphql-js/issues/2241), since it can't parse comments. If they implement it, making a small library to correctly prettify the code should not be much of a problem, but modifying the parser is out of my league sadly.

My guess is that the one from [mtp.to

[2021-07-16 19:11] ariasmn commented on #3242
Actually, [Prettier](https://github.com/prettier/prettier) should work to correctly solve the bugs mentioned. I might look into it later and try to make a PR if that's ok!

EDIT: @dimitropoulos May I have any pointer on how/where to load the Prettier package?

[2021-07-16 20:44] dimitropoulos commented on #2964
Hey everyone: 😄

Just to update, we just merged in Electron 11 a few minutes ago.

We hope to have a beta out soon that you will be able to test this with.  I'll update again at that time.

Thank you for your patience

[2021-07-17 13:31] roguib commented on #3821
I believe it could be an edge case, considering that an empty header value is not valid per [RFC-7230](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.6). Don't know why Github sends ```x-accepted-oauth-scopes``` without any value though.

[2021-07-17 16:00] Eddie-Hartman commented on #2028
@develohpanda
Just reaching out to a contributor here. This feature has been requested multiple times and seems like some people are going to struggle (myself and team included) to migrate from Postman if we can't store responses in variables. #217 and #1167 along with this are asking for it.

It seems like the plugin system has a few plugins to allow this kind of functionality, but it's not ideal

[2021-07-17 19:50] develohpanda commented on #2028
Thanks for tagging me @Eddie-Hartman, there's a lot of activity and unfortunately some things go under the radar. Tagging @wdawson here, Wils is our new PM for Insomnia and will be the one who can help prioritise.

As a previous comment mentions this is certainly an involved piece of work _but_ I can see a way in which it could work.

[2021-07-17 22:01] sysarch-repo commented on #2255
I have experienced the "SSL certificate problem: unable to get local issuer certificate" problem on my Win10 laptop and have solved it as follows for Insomnia 2021.4.1:
1. If not already included, add the CA cert PEM data into the ca-certs.pem file used by the Insomnia TLS client. Note, the file location is exposed in the timeline tab of the HTTPS response (adjust the userName and Insomnia version

[2021-07-18 17:14] jsoref commented on #3821
Are you sure?

https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.6

I'm pretty sure the `*` in the `field-vaue` definition effectively means optional.

[2021-07-19 06:48] TheProgrammer21 commented on #2372
I have the same issue with my GitLab server. The certificate is self-singed.

[2021-07-19 08:07] roguib commented on #3821
Not 100% TBH. I did a quick research and some users were saying that empty header values were not valid unless some specific cases, since they could introduce security risks. It would be nice to know exactly if they are valid or not. [Source](https://github.com/eclipse/jetty.project/issues/1116#issuecomment-262099396). However, I found [a StackOverflow answer](https://stackoverflow.com/a/58056620/

[2021-07-19 10:53] jsoref commented on #3821
The source you linked to includes a reference to `mnot` who should be taken as authoritative and it aligns with what I'm saying. He's a spec person. I'm a browser person. We agree.

I too am sorry that people have trouble reading specifications but this really isn't complicated. The ABNF isn't ambiguous and even the prose isn't terrible it says a field-value, and a field value is defined as a `*`

[2021-07-19 12:50] rodrigoddc commented on #1486
Same issue here. Can't move a request into an empty folder.

OS: 20.04.1-Ubuntu
Insomnia: 2021.4.1

Creating any new request to the empty folder, I'm able to drag and drop the outer request into it

[2021-07-19 14:47] crtl opened #3828 "Cannot paste color (hex) when changing color for environment"
**Describe the bug**
Unable to paste color into input field for environment color

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Manage environments'
2. Click on 'Color' > `Change color`
3. Change format to `hexadecimal`
4. Paste any hex color code with optional `#` (`#ffffff`, `ffffff`)
5. The field remains empty or only `#` symbol is displayed. To enter a color one has to use color

[2021-07-19 17:03] roguib commented on #3805
With that information is difficult to understand what's happening. Can you elaborate on what you're doing when you encountered that error?

[2021-07-19 21:33] wdawson commented on #2080
@h8art no updates that I'm aware of on this yet. This issue was mistakenly tagged as a feature request and converted to a Discussion (hence my activity above). I assume this is still happening for you on Swagger 2.0 with the latest Insomnia release?

[2021-07-19 21:55] #2028 closed, assigned to nobody

[2021-07-20 08:19] jarimayenburg opened #3831 "URL preview hangs on old value"
**Describe the bug**
The URL preview hangs on the old value when changing the query parameters.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request
2. Fill in the URL and some query parameters
3. Watch the URL preview update
3. Wait a little
4. Change the query parameters
5. Observe that the URL preview hangs on the old value (or somewhere in the middle of the change)

Also, whe

[2021-07-20 08:53] khyveasna11111908 commented on #3831
Inn at little rock AR Rahman khan

[2021-07-20 09:34] jarimayenburg commented on #3831
Duplicate of #3788

[2021-07-20 09:34] #3831 closed, assigned to nobody

[2021-07-20 11:22] salkeydev commented on #3818
Is anybody looking into this issue??

Relevant Links: #439, #2187, #3753

[2021-07-20 13:57] borekb commented on #1792
I think that adding a "resolve" option to Insomnia would be a good addition, I've opened a feature request here: https://github.com/Kong/insomnia/discussions/3832.

[2021-07-22 13:12] warmfire540 commented on #2851
Hey

I also have this problem.  I have to manually add an Authorization header and copy my token into it (adding Bearer before)
I didn't always have this issue it seems to sometimes happens - but when it happens it stays like that.

![image](https://user-images.githubusercontent.com/19420884/126644541-8d3245c5-31dd-4360-8dda-9d14de740fed.png)

[2021-07-23 15:43] goofy78270 opened #3841 "Rover Support"
I was looking to see if insomnia would be open, or has plans, to support rover and graphQl? Our company recently added rover support to show contact info per service, but it is only available within Apollo itself, and not through an introspection query.

reference link discussing change:
https://www.apollographql.com/docs/studio/federated-graphs/#subgraph-contact-info

[2021-07-24 16:17] aeri commented on #2602
The specification states that Client Credentials Grant SHOULD NOT return a refresh token:
https://tools.ietf.org/html/rfc6749#section-4.4.3

In Client Credentials Grant it is necessary perform the flow again to retrieve a new access token.

[2021-07-25 18:42] schrodingersket opened #3845 "Symlinks to Nested Directories cause ENOENT on Git Sync"
**Describe the bug**
When working with a Git project which contains symlinks to a nested directory on Linux (e.g., `ln -s .my/directory/path directory-link`) which are unrelated to the `.insomnia` folder at the root of the Git repository, performing any Git action (push/pull/commit) triggers the following in the developer console (tested with the repository linked to below in steps to reproduce):

[2021-07-26 00:49] #3221 closed, assigned to nobody

[2021-07-26 19:50] wdawson commented on #2087
Sorry folks! This Issue was converted to Discussions by mistake as a Feature Request. I've moved it back here now where discussions can continue.

[2021-07-26 19:52] wdawson commented on #2087
@brookmg wrote in the Discussion:

No, I don't believe we've updated the documentation yet. What types of issues are you seeing?

[2021-07-26 19:54] brookmg commented on #2087
Well I am currently getting
[code]
this is when I passed a token with all the permissions that seemed necessary. Previously I was getting a 501 error ( not implemented )

[2021-07-27 03:07] staff0rd commented on #2045
This would be epic

[2021-07-27 09:13] sillen102 commented on #1875
Same problem here. Would like to be able to update an entire folder of files. And preferable only the deltas (in case some are already present and are unchanged).

[2021-07-27 12:43] brookmg commented on #2087
I should also add that I'm trying to access an organization repo that belongs to me. It would be really good if you defined what permissions you need and the reasons with some scenarios to cover the usecase

[2021-07-27 12:54] HugoLre commented on #2937
Still exists on Mac version **2021.4.1**. Any news?

[2021-07-27 18:26] lixaotec commented on #1756
Regarding this feature I look for installing a plugin 'system wide' For every user in a server, without the need of install per user. Is it possible already, or that need the whole installation to be system wide?

[2021-07-27 20:47] #3841 closed, assigned to nobody

[2021-07-27 22:12] aeri commented on #3817
Is it possible that when you authenticate for the first time you are given an access Cookie?
That way even with incorrect access parameters the system will be able to authenticate you.

[2021-07-28 05:01] sam97 commented on #2937
Still exists on Windows 10 on a fresh install. FWIW the collection was imported from Postman.

Another thing is that after step 3, if I try to add a new field without refreshing, the old fields get lost.

[2021-07-28 07:54] vladbndko commented on #905
Solution:
[code]

[2021-07-28 10:11] sermarr commented on #2372
I have the same issue with my GITEA server. The certificate is also self-signed.

(Personal rant: I find this particular Insomnia functionality extremely picky)

[2021-07-28 17:14] baermathias commented on #3788
Same issue here. The preview is not reactive and changes its value after restarting Insomnia

[2021-07-28 18:43] epiqueras opened #3858 "Template Tags Don't Run In Tests"
**Describe the bug**

When running requests in the tests tab of the designer, template tags that produce random values reuse cached values instead of executing again.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a request that uses a random number template tag in the debug tab.
2. Use the request in the tests tab multiple times.

**Expected behavior**

The template tag should be e

[2021-07-28 21:05] develohpanda commented on #3858
Thank you for the report! We don't have support for custom plugins with Inso just yet but we have been thinking about it. I'll close this and cross-link in an existing discussion: https://github.com/Kong/insomnia/discussions/3633

[2021-07-28 21:05] #3858 closed, assigned to nobody

[2021-07-28 21:12] earshinov commented on #1367
Same with YouTrack API spec:
https://nv-grt.myjetbrains.com/youtrack/api/openapi.json

[2021-07-29 00:59] epiqueras commented on #3858
Hi, thanks for the prompt reply.

Does the tests tab UI use Inso under the hood?

[2021-07-29 01:43] develohpanda commented on #3858
It doesn't use inso, but inso and Insomnia both use `insomnia-testing` which implements all of the testing functionality. Even the networking and stack to expand the template tags is shared (through `insomnia-send-request`).

The problem arises from inso not having access to the custom plugins installed within Insomnia (eg. the random number generator). Although I can't say where it falls on the r

[2021-07-29 04:31] #2973 closed, assigned to nobody

[2021-07-29 05:35] #2602 closed, assigned to nobody

[2021-07-29 06:53] dixonwille commented on #3443
I can verify that what @popovanastas is probably the issue. I was seeing it with Auth0. When using Postman though, I can't used their backed in browser or I get the same error...

[2021-07-29 07:48] costyn commented on #3786
I also have a similar issue. Recently updated to 2021.4.1, and any New Requests I've added since then will time out after a minute with a 'Error: Server returned nothing (no headers, no data)' error. The exact same query in (for example) Postman instantly returns the correct data.  Old requests still in Insomnia work ok. And funnily enough, if I edit the parameters of an old request to match the n

[2021-07-29 18:08] epiqueras commented on #3858
Got it; thanks for the explanation.

[2021-07-29 19:24] sarmancoder opened #3861 "Allow for drag and drop in Test feature"
**Describe the bug**
In the test section, in the request on a test suite, is not possible to drag and drop the requests

**To Reproduce**
1. Create a design document
2. Create at least requests
3. Create a test suite with at least 2 request
4. Try to move a request

**Expected behavior**
I Expect there is a button to move the position request

**Screenshots**
![image](https://user-images.githubuse

[2021-07-30 05:36] lars06 opened #3868 "Multi-part form cURL export incorrect"
When sending a POST request for multi-part form in Insomnia, everything works as expected. However, when I copy as cURL command, or generate shell cURL code, I receive a command line error when running the command: `curl: (26) Failed to open/read local data from file/application`. After trying the same request and exporting cURL in Postman, the correct shell command is generated. It appears to be

[2021-07-30 10:17] zakshyman commented on #3442
Relevant and pretty annoing, cause every time you need to delete them in order to visit the link. +1

I think it is server behavior, but postman in "pretty" preview deletes the slashes, so link was clickable and ready, while raw response contained them.

Would be great to have it in insomnia too!

[2021-07-30 11:39] sillen102 opened #3869 "Filtering of requests only shows requests from expanded folders"
**Describe the bug**
Filtering requests only filters requests from folders that are expanded.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a collection/document
2. Type something in the filter text box below the environment selection

**Expected behavior**
All requests matching the text pattern entered in the filter text box should show in the request selection panel.

**Desktop (ple

[2021-07-30 14:44] sallendbug commented on #2220
Confirmed problem still exist with BB server 6.10.0 and with  both Mac and Windows clients of Insomnia.

[2021-07-30 17:34] maciekdragan commented on #1003
Same problem here. I wanted to move from Postman after finding great insomnia features: JSONPath filtering and GUI flexibility. But no tabs is deal breaker for me. Also 3-year open github issue without decision doesn't convince me to check if anything has changed in the future.

Goodbye insomnia :(

[2021-07-31 03:26] leonardo-bispoo commented on #3790
I have no idea how to reproduce the same error, I didn't change any settings, I was just making the requests.
On the same day I saw that my application was out of date, and I upgraded to version 2021.4.0 and the error no longer occurred.

[2021-07-31 15:27] mgondowijoyo opened #3870 "[WORKAROUND] Font with umlaut character are not shown"
**Describe the bug**
Fonts with umlaut characters are not shown in Interface font dropdown. (Font name: Söhne)

**To reproduce**
1. Install font with umlaut character
2. Open Insomnia settings
3. Installed font is not there

**Expected behavior**
Installed font is available in the dropdown.

**Desktop (please complete the following information):**
- MacOS Big Sur 11.5.1
- Version: Insomnia 2021.4.

[2021-08-01 04:20] #3790 closed, assigned to nobody

[2021-08-01 18:34] tkajtoch commented on #3870
I checked this font family and found out that each font variant defines the Regular style (weight 400, non-italic) as `Buch` instead of [supported](https://github.com/Kong/insomnia/blob/develop/packages/insomnia-app/app/ui/components/settings/general.tsx#L73) `regular` or `book`. Another issue is that Extra Light, Light, and Regular styles share the same weight (400), making it even harder to incl

[2021-08-02 02:40] #2593 closed, assigned to nobody

[2021-08-02 07:27] Numenorean commented on #1121
any news? --data-binary is still unsupported while importing request as curl, but it's really annoying to upload raw data as file each time i need to send octet-stream(not an image or smth like that). It will be cool if insomina becomes support that

[2021-08-02 09:46] jmsargent commented on #3869
I would like this aswell!

[2021-08-02 10:12] #3437 closed, assigned to nobody

[2021-08-02 10:17] develohpanda commented on #2585
Closed by #3468

[2021-08-02 10:17] #2585 closed, assigned to nobody

[2021-08-02 10:17] develohpanda commented on #1015
Closed by #3468

[2021-08-02 10:18] #1015 closed

[2021-08-03 10:37] tadomaitis commented on #2937
Still exists also on Linux Manjaro, version 2021.4.1.

[2021-08-03 12:26] Kirjy commented on #217
Sorry to answer so lately. This plugin seems to do what I wanted. So thanks !

[2021-08-03 14:15] sillen102 commented on #3218
I am also looking for a way to access variables in unit testing that I can access in the debug tab. Is there a way to do this?

I'm testing an API that needs to use generated values for some imputs since the backend of the service doesn't allow duplications of certain data in the database. But that makes it hard (read: impossible) to do any assertions on the data that I'm receiving in the response

[2021-08-04 05:40] develohpanda commented on #3083
I think this has been resolved and is in production on Insomnia v2021.4.1

Using the following spec:

[code]

The following Declarative config is generated (note the `plugins` entry matches the expected result)
[code]

[2021-08-04 05:40] #3083 closed, assigned to nobody

[2021-08-04 08:46] arafattechstyle commented on #3138
Any thoughts yet on this one. It's annoying to see proxy id/pwd in the open text and scary during a screen sharing session.

[2021-08-04 12:26] rekrios commented on #2674
still doesn't work

[2021-08-04 13:29] cwurm opened #3881 "Exception when generating declarative config for Kubernetes with security scheme"
**Describe the bug**
An exception occurs in both Insomnia App and Inso CLI when trying to generate a declarative config for Kubernetes from an OAS spec file that includes a security scheme.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `security.apikey: []` to any spec (a [valid security scheme](https://swagger.io/docs/specification/authentication/))
2. Try to generate declarative conf

[2021-08-04 14:09] cwurm opened #3882 "Linter error never clears despite return to valid schema"
**Describe the bug**
When introducing a certain error in an OAS spec and reverting it, Insomnia continues showing a parser error even though it's now a valid spec again.

**To Reproduce**
Steps to reproduce the behavior:
1. Start with a valid spec
2. Break it by removing the trailing quote around a response status code
3. Insomnia can no longer render the left-hand side navigation and right-hand s

[2021-08-06 14:44] Evert-Arends opened #3886 "Import function not working"
**Describe the bug**
I'm trying to import an export made on a different pc from insomnia
**To Reproduce**
Steps to reproduce the behavior:
1. Go to a different pc
2. Click on settings > data
3. Click on export
4. Go to own pc with file and hit import

**Expected behavior**
A message with success, which I get. However the data and endpoints are _not_ imported. The success message is basically bull.

[2021-08-06 14:50] Evert-Arends commented on #3886
To whomever might find him/herself googling this CLICK ON THE "Dashboard" text in the left top, which will then show you the imported project... Learned this the hard way. My apologies.

[2021-08-06 14:50] #3886 closed, assigned to nobody

[2021-08-08 13:39] nathanjwtx commented on #3045
I am also having this issue. Verified that I can get back my access token using Postman.

[2021-08-08 13:41] nathanjwtx commented on #2778
Same issue for me as well under Windows 10. Verified that token is returned via Postman.

[2021-08-09 12:42] asyba commented on #1385
Unstale, please.

[2021-08-09 14:57] gpasq opened #3889 "Impossible to delete remote collection"
**There is no way to delete a remote collection**
I have a remote collection that was created previously.  There appears to be no way to delete it, either from the tool or from the half-baked website.

**Desktop (please complete the following information):**
 - OS: Mac OS
 - Installation Method: [e.g. homebrew]
 - App Version 2021.4.1

[2021-08-09 16:45] DMarby commented on #3889
Hi there @gpasq!

Apologies for the confusion, you can delete a remote collection by entering the collection and using the "Delete Collection" button in the Sync menu to the top right:
![image](https://user-images.githubusercontent.com/174626/128741258-f97875fb-4d21-4812-bdd7-3f46a0d0071b.png)
Note that this requires you to have pulled the collection so that it exists locally.

If you run into any

[2021-08-09 16:45] #3889 closed, assigned to nobody

[2021-08-09 16:52] gpasq commented on #3889
Got it, thanks.  The problem was that I didn't have the collection locally.

[2021-08-09 20:46] schrodingersket opened #3893 "Disabling "Validate SSL" feature does not extend to opened OAuth2 windows"
**Describe the bug**
When authenticating a request via OAuth2, Insomnia opens a new windows to perform the login flow. Currently, when presented with a certificate not recognized by the bundled certificate store, Insomia will simply show a blank white screen (tested on Ubuntu 20, with Chromium as the system default browser) in the new window opened to handle OAuth2 login regardless of whether the

[2021-08-09 22:30] #794 closed

[2021-08-10 12:52] mhewedy commented on #1486
First thanks on this amazing software .... I like it alot ... easy to use yet simple.

I'd like to report the same issue here.

Version: Insomnia 2021.4.1
Release date: 7/7/2021
OS: Darwin x64 20.5.0
Electron: 9.3.5
Node: 12.14.1
V8: 8.3.110.13-electron.0
Architecture: x64
node-libcurl: libcurl/7.73.0 OpenSSL/1.1.1k zlib/1.2.11 brotli/1.0.9 zstd/1.4.9 libidn2/2.1.1 libssh2/1.9.0 nghttp2/1.42.0

[2021-08-10 14:16] donni106 commented on #2080
run into the same issue with appending all endpoints on startup, which i imported from a swagger json.
any workaround?

**edit**: i removed the import as designer and imported again as request collection. this way the endpoints will not get duplicated on every startup

[2021-08-10 21:58] jeremycook commented on #2968
I ran into a similar situation but it turned out that I had applied a JSONPath filter and forgot about it, and once I cleared the JSONPath filter the data showed up in Preview and Source Code views like expected. The JSONPath was an array filter that became invalid after the shape of the root element changed from an array to an object.

I think a take away from my experience is that it isn't very

[2021-08-10 23:15] RenatoLopes771 opened #3901 "Less performance using "Preview" than "source code", even if the output from both options is the same"
**Describe the bug**
When you get a response from your request, you can choose from some options. Say I choose Preview and it's an HTML response, it shows the html page. Source code would show the html code instead.

However, I'm dealing with JSON responses. The output from both options is the exact same, yet using "preview" is less performatic (I can notice by how my computer gets slower when usi

[2021-08-10 23:34] develohpanda commented on #3901
Hi @RenatoLopes771, if I am understanding correctly, you notice that when you first send the request and the response renders with "Preview" it's slow. But when you switch to "Source", it's much faster. Is that right?

What happens if you have "Source" selected, and send the request again. Does the response render slowly? It should behave the same.

This is because for a JSON response, the "Previe

[2021-08-10 23:34] #3901 closed, assigned to nobody

[2021-08-10 23:57] RenatoLopes771 commented on #3901
No, weirdly sending the response while I have "source" as default is a little tad faster. I don't know if the two render json differently but that would be my guess. When I noticed this switching between the two did slow it a little too, but the slow isn't for too long in this scenario.

[2021-08-11 08:10] Ldev007 commented on #3349
@DMarby Thanks for the update finally resolved it !

[2021-08-11 16:44] ppicom opened #3906 "URL Preview does not update with the latest value of the request"
The URL preview won't reflect the actual value of the request:

![Screenshot 2021-08-11 at 18 41 10](https://user-images.githubusercontent.com/15328250/129069128-a964c36e-9241-4fbf-89b9-6876ce4ea645.png)

But when sent, the request is correct:

![Screenshot 2021-08-11 at 18 42 55](https://user-images.githubusercontent.com/15328250/129069352-7b4752bf-1337-4ac9-9bc4-2306db22b94d.png)

I am posting i

[2021-08-12 12:53] JoaoPedroMDP opened #3907 "Insomnia freezes when focused (Ubuntu 20.04)"
**Describe the bug**
  When i defocuse Insomnia, e.g go to PHPStorm window, and get back to Insomnia, it freezes for about 2 approx. Then a "app not responding" window appears but at same time Insomnia gets back to work.
  Although i do not think that is the case, PHPStorm is a heavy app, so maybe when Insomnia tries to compete for resources with heavy applications is when the bug happens. But my

[2021-08-12 14:49] vancedy opened #3909 "malfunctioning JSON body input form"
**Describe the bug**
The JSON input form for Body is completely broken and doens't work for anything other than simple object:key pairs. Im going back to postman

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any API and click Body/JSON
2. Try to add a filie in the JSON such as
`{
    Metadata: {
        name: 'ItemStatus'
        keyvalues: {
            ItemID: 'Item001',

[2021-08-12 19:10] sylann opened #3911 "[FEATURE REQUEST] Convert request description from OpenAPI schema into Insomnia's request documentation"
Problem occurs when importing data from an **openapi.json** file.
Paths may have a "description" property:
<img width="426" alt="image" src="https://user-images.githubusercontent.com/17208592/129253727-7b5d2bd5-889a-432f-972b-6fd1eefda22f.png">

There is a description property in insomnia requests (for the documentation):
<img width="426" alt="image" src="https://user-images.githubusercontent.com/

[2021-08-12 19:19] sylann commented on #3911
It may be addressed by this PR: #3370
See change: https://github.com/Kong/insomnia/blame/f48cef02bd14c18dcbf3c7e8393081f5d57743c6/packages/insomnia-importers/src/importers/openapi-3.ts#L199

[2021-08-12 19:39] sylann commented on #3911
Tested [this build](https://github.com/Kong/insomnia/releases/tag/core%402021.5.0-alpha.0) and the problem is still there.

[2021-08-13 13:48] naefp commented on #1367
we have the same problem with our swagger file.

any news about that?

[2021-08-16 03:44] h0wXD opened #3915 "Unusable after pasting large curl command"
**Describe the bug**
App keeps showing Unresponsive dialog, more than once, on startup. Can't use insomnia anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chrome dev tools
2. Copy as curl command that has a large json body (talking in megabytes large)
3. Paste it in the url bar, which is loaded on next app startup
4. Insomnia just hangs, and keeps crashing
5. On startup keeps

[2021-08-16 07:47] VengeQ commented on #3276
I get this issue in version 2021.4.1 with both POST and PUT methods.

[2021-08-16 10:22] sanesai opened #3916 "Unable to connect secure endpoint using self signed certificate using custom Insomnia Plugin (net::ERR_CERT_AUTHORITY_INVALID)"
I am trying to develop a plugin which will connect a website using client-certificate, fetch a token and add to the request context. The node js that I have written for this works fine when executed standalone. However, from Insomnia the request is failing with an error saying `net::ERR_CERT_AUTHORITY_INVALID`

**To Reproduce**
Import the plugin folder and reload to activate.
Trigger an API reques

[2021-08-16 15:59] dimitropoulos commented on #3915
Do you have a way you can think of (preferably using mockbin.org) that we can more easily reproduce this?  We certainly want to avoid any situation that leads to "brick"ing your insomnia instance.

[2021-08-16 16:02] reynolek commented on #3276
Hey @IsidroFaria and @VengeQ -- Any chance you can help provide a URL or perhaps some screenshots to help us see the issue? We tried to reproduce this with some of our endpoints and havent seen it.

[2021-08-16 16:20] dimitropoulos commented on #3911
Unless I'm mistaken: there's at least one key difference, which is that the documentation we allow is a markdown file (well, a string with the contents of a markdown file, to be exactly).  Both are strings, but maybe the context is different?

[OPTION A] Is your use-case that you'd like to ensure that when you add an openapi description that it'll appear in the doc tab of the request, and _also_ t

[2021-08-16 16:47] t-reppert opened #3917 "Feature request: Copy Folder from one Collection to another"
I would like to suggest that the ability to copy a 'folder' and its associated requests from one collection to another be added to Insomnia.  It would be similar to how the individual requests can be copied to other collections except in this case an entire folder and its contents could.

[2021-08-16 16:49] dimitropoulos commented on #3790
now THERE is something I can relate to. haha.  I totally understand.  If you find this happening again or something changes please don't hesitate to ping us again.  We're here.

[2021-08-17 06:23] bbbco opened #3919 "[Environment Variables] Functions/Tags inside nested block referring to another Environment Variable do not render variable value"
**Describe the bug**
When using Environment Variables, functions/tags inside a nested block referring to another Environment Variable that is constructed from an environment variable do not use the calculated variable value; instead the literal string is used. This only seems to impact functions, as direct references to these variables seem to still work.

**To Reproduce**
Steps to reproduce the b

[2021-08-17 06:30] bbbco commented on #3919
Same thing happens if you try to do the function calculation in the root variable and refer to it in the nested object. For example:

[code]

`_.baseEncodedRoot` is calculated correctly. However, `_.sub.baseEncodedSub` is not (the base64 function uses the literal `{{ _.first_name }} {{ _.last_name }}`)

---

Also, this is not just relegated to the Base64 function. This can be swapped out for one o

[2021-08-17 11:49] ctadri commented on #1003
This is one of the few things I am missing from postman. It would be great if this issue gets a little bit of attention

[2021-08-17 15:33] G3sit opened #3922 "MetaSortKey of imsomnia export has wrong value"
**Describe the bug**
When exporting my Insomnia Workspace, a enviroment gets a wrong MetaSortKey value (1).

**To Reproduce**
I have no idea how to reproduce, but will provide more info of someone asks for it.

**Expected behavior**
I would expect the base enviroment to have a lower metaSortKey than any other enviroment.

My custom enviroment does have 1 as MetaSortKey, but my base enviroment has

[2021-08-17 22:15] dimpu opened #3924 "MacOS : The application “Insomnia” can’t be opened. 9."
**Describe the bug**
New Mac update unable to open insomina.

[image](https://user-images.githubusercontent.com/1271995/129807644-0a3efeee-931f-4331-8ef2-27d64020495e.png)

MacOS: 11.5.2 (20G95)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followin

[2021-08-17 22:20] reynolek commented on #3924
Hi @dimpu -- Can you provide the following information:

* What version of insomnia are you using?
* Was it a fresh install?
* How did you install it initially?

My first recommendation would be to make usre you are using the most up to date version of Insomnia.

[2021-08-18 01:18] develohpanda commented on #3924
Hi @dimpu, thanks for reporting! I just checked with our current stable release of 2021.4.1 on MacOS 11.5.2 and it seems to be working okay

![image](https://user-images.githubusercontent.com/4312346/129821156-9360f135-fd13-4ffd-9fd7-3df45bc291ae.png)

[2021-08-18 02:26] dimpu commented on #3924
Closing this issue. Since it's issue with my internal firewall. Now resolved.

[2021-08-18 02:26] #3924 closed, assigned to nobody

[2021-08-18 12:11] malheleco commented on #1948
I'm not sure if it is exactly the same issue or potentially a strongly related one: if a server on localhost (http) returns a `Secure` cookie (`HttpOnly=true; SameSite=None`), Insomnia will store it in its cookie manager but will not send it.
Afaik, localhost should be allowed to use `Secure` for http.
Manually removing the secure flag in insomnia's cookie manager seems to be a workaround.

[2021-08-18 14:19] sylann commented on #3911
My usecase for now:
I generate an openapi.json file from a fastapi backend.
The description is created automatically from the docstring of path action handlers (not sure of the proper name, the function that executes when a request is received).
Because of that, I personally don't need 2-way syncing, but I can't speak for everyone.

And regarding your option B, at the moment, I never have anything

[2021-08-19 07:31] xZyph commented on #1367
Insomnia looks very promising, but is a "no go" until they fix this issue unfortunately.

[2021-08-19 14:58] naefp commented on #1367
exactly... I had to change to postman for one of my projects..

[2021-08-19 15:17] martin-thoma commented on #3093
I have endpoints marked with

[code]

and the securitySchemes:

[code]

in my `OpenAPI3-spec.yaml`. After importing the yaml into insomnia 2021.4.1, Insonmia still requires me to select the authentication + client credentials + token URL manually.

[2021-08-19 16:02] h8art commented on #2080
@wdawson every time when you switch from deisgn to debug it duplicates every endpoint (swagger 2.0)

[2021-08-19 19:26] irontoby commented on #3822
If this is driving anyone else crazy like it was me, give this a try:

* Close any running instances of Insomnia.
* Navigate to your Insomnia settings directory. On Windows, this is `%APPDATA%\Insomnia`.
* Make a backup copy of `insomnia.Environment.db`, then open in a text editor (it's "mostly" just a JSON file; it has one object per line but no comma/square brackets to denote an array).
* At the

[2021-08-20 09:37] oltronix commented on #2937
Still not working for me as well.

`Version: Insomnia 2021.4.1
Release date: 7/7/2021
OS: Windows_NT x64 10.0.19042
Electron: 9.3.5
Node: 12.14.1
V8: 8.3.110.13-electron.0
Architecture: x64
node-libcurl: libcurl/7.73.0-DEV OpenSSL/1.1.1g zlib/1.2.11 brotli/1.0.9 WinIDN libssh2/1.9.0_DEV nghttp2/1.41.0`

[2021-08-23 12:21] joshrl-clearme commented on #3366
Also very curious about this. The docs don't seem to clarify, but it appears that [chained requests](https://support.insomnia.rest/article/175-chaining-requests) just aren't supported in the CLI as far as I can tell.

@develohpanda @coladarci -- can you clarify? is this just not supported as of yet? it would be good to know....

[2021-08-23 14:34] h0wXD commented on #3915
@dimitropoulos I believe this one would do: [curl.txt](https://github.com/Kong/insomnia/files/7032720/curl.txt)

[2021-08-23 14:44] coladarci commented on #3366
We weren’t seeing any traction from the team here so we forked the project and bent it to our will (changes were trivial; they are actively BLOCKING it in the code base from what we could tell) 🙃

I think there was a concern of infinite loops of requests chained in an infinite combo.

[2021-08-23 16:40] tbveloso opened #3934 "URL preview on QUERY tab is not updating dynamically"
to update the value, its necessary close the app and open again!

[2021-08-24 02:54] develohpanda commented on #3366
Hi all, apologies for the delay, issues do slip under our radar and we're trying our best to keep up. Thanks for bringing this to my attention @joshrl-clearme.

I just tested a request chaining scenario using 3 requests in the chain and it seems to be working as intended both within Insomnia v2021.4.1 and with Inso v2.3.0, the stable release for each.

![image](https://user-images.githubuserconten

[2021-08-24 02:59] dmortim opened #3938 "Inso converting "off" string to primitive value"
**Describe the bug**
Inso CLI converts "off" string to a primitive value in decK. When running inso generate config on an openapi spec a string with the value "off" is converted to a boolean in kong decK.

**To Reproduce**
As an example:
The openid-connect plugin has a configuration field authorization_cookie_samesite where the default value is "off". When this is declared in the openapi spec yaml

[2021-08-24 15:43] coladarci commented on #3366
Thanks it appears it was fixed after we submitted this issue - https://github.com/Kong/insomnia/pull/3385/commits

[2021-08-24 16:10] wdawson commented on #3366
Awesome, thanks for confirming @coladarci ! I'll close this issue then. Feel free to reopen if something's still amiss.

[2021-08-24 16:10] #3366 closed, assigned to nobody

[2021-08-25 08:50] Foorack opened #3941 "Missing required field in OpenAPI JSON body"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Import from URL <https://vrchatapi.github.io/specification/openapi.yaml>
2. Click on 'Request Collection'
3. Scroll down to 'favorites'
4. Show the JSON body.
4. See missing "type" field:

![bild](https://user-images.githubusercontent.com/5008081/130759657-26a0f606-4c3a-45

[2021-08-25 09:18] mxmlnglt commented on #3115
I'm still looking forward to it...

[2021-08-25 09:19] mxmlnglt commented on #3115
why what is tagged with "feature-request" then marked as "wontfix" and "closed-by-team"... by a bot?! @nijikokun any idea?

[2021-08-25 09:23] mxmlnglt commented on #3115
Note: also there's a related PR pending: #3189 but that doesn't really solve the problem, as confirmed by @dimitropoulos

[2021-08-25 11:00] higgs01 opened #3944 ""HTTP Error: 500 handshakefailed" during Setup of Git Sync"
**Describe the bug**
While configuring Git Sync for a Design Document i get following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open a Design Document
2. Click "Setup Git Sync"
3. Fill in credentials and git url
4. click "Done"

**Screenshot**
![image](https://user-images.githubusercontent.com/6546697/130778683-f62f4c28-916b-4f76-a7b3-ae8a6dfe7e59.png)
![image](https://us

[2021-08-25 12:49] #3036 closed, assigned to nobody

[2021-08-25 13:34] streats opened #3945 "Website is inaccessible for browser zoom users"
At certain zoom levels (in particular, 150%) the homepage breaks and cuts off content. This makes it inaccessible for users who need to use browser zoom.

For example, I use 150% zoom at 1152x720 resolution as this is the most comfortable for my eyesight.

I noticed that at 175% it becomes single width (like what I would expect on a tablet) so it seems this might just be an issue related to the br

[2021-08-25 13:43] streats opened #3946 "Testimonial faces have distorted aspect ratio at higher browser zooms"
On the [Insomnia homepage](https://insomnia.rest/), the circular photos of 'users' get distorted when the page is zoomed above 110% - the container gets stretched into an oval and the photo's aspect ratio is distorted. It doesn't seem to happen to all of them - for example, 'Paula' remains a circle. Expected behaviour is that the circles and photos increase proportionately.

This is a bug because

[2021-08-25 14:39] ubeogesh commented on #2255
just a clarification on prevous response by @richardjudgeman

the "CAfile" is just a text file with a list of base64 encoded certificates.
You can open it in notepad and append another base64 encoded certificate (for example, your company's Certficatioin Authority, which you can export in base64 format from **certmgr.msc** windows console)

i think insomnia needs a more apparent way of adding cust

[2021-08-25 17:06] dimitropoulos commented on #3946
Thanks for letting us know!  I've just put in a PR to the (private) website repo to get this fixed.  I'll report back when it's deployed.

now:
![Screenshot_20210825_130206](https://user-images.githubusercontent.com/15232461/130833862-1bd6a8df-3cb0-474b-84ba-b16de3d9a0ba.png)

fixed:
![Screenshot_20210825_130226](https://user-images.githubusercontent.com/15232461/130833914-e9ae55ce-c7d9-4ad4-876e-

[2021-08-25 17:43] dimitropoulos commented on #3945
Was there any page in particular that need attention?  I poked around at 200% at 400px width and the only one that I could find that gets cut off was the plugin pages (e.g. https://insomnia.rest/plugins/insomnia-plugin-prettyprint-request-response).  I've made a PR to our (private) website repo to fix that page, at least.  I'll let you know when it's deployed.

[2021-08-25 18:39] streats commented on #3945
It was on the homepage I saw it (https://insomnia.rest/). I didn't see how to attach an image before but now I see it so here are some screenshots from my work computer (Chrome at 150% zoom on a 16-inch MacBook Pro at 1152x720 resolution).

<img width="1152" alt="Screenshot 2021-08-25 at 11 47 00" src="https://user-images.githubusercontent.com/12902836/130846703-e2fd7fe4-60f7-46b4-9017-179899cfb43

[2021-08-25 21:10] #3946 closed, assigned to nobody

[2021-08-25 21:11] #3945 closed, assigned to nobody

[2021-08-25 22:01] reynolek commented on #3946
I have merged and deployed this fix.

[2021-08-25 22:01] reynolek commented on #3945
I have merged and deployed this fix.

[2021-08-25 22:30] jmoniatte commented on #2174
Just hit this error and was able to fix it with:

[code]

(If you try to launch insomnia with `./insomnia`, the console throws an error with instructions for fixing it)

[2021-08-25 22:31] jmoniatte commented on #2101
I was having a similar issue on Debian and was able to fix it with:

[code]

(If you try to launch insomnia with `./insomnia`, the console throws an error with instructions for fixing it)

[2021-08-25 22:45] dimitropoulos commented on #3945
(check out the fix we put in and let us know if it did the trick.  it at least definitely improved the plugin pages.  if it's still an issue we can reopen and keep investigating - no problemo)

[2021-08-26 05:43] #2720 closed, assigned to nobody

[2021-08-26 08:09] #2101 closed, assigned to nobody

[2021-08-26 08:13] #2174 closed, assigned to nobody

[2021-08-26 08:38] IsidroFaria commented on #3276
Hi, I'm not seeing this issue anymore. I'm on 2021.4.1

[2021-08-26 09:16] ghost opened #3952 "`Hide menu bar` stopped working after 2021.5.0"
![2021-08-26_121406](https://user-images.githubusercontent.com/11320080/130936578-9a38ed23-efc5-4020-aa73-2b28bff0e8ed.png)

Win 10

[2021-08-26 15:32] Lonli-Lokli commented on #476
@gschier Can we at least keep this open?

[2021-08-26 15:37] PatrickGhosn opened #3954 "Can't export tests from insomnia to use in inso cli."
When I try to export the tests I have made in the test suite, I only get the option to export the normal requests and the spec, but not the unit tests. Even when I export it from the command line with `inso export spec` I get the same issue.

![image](https://user-images.githubusercontent.com/33845447/130992550-96af17f3-e073-4a21-9de4-003fd53ac260.png)

I'm not sure if I'm doing this right, of if

[2021-08-26 16:21] LeoAlvesBahia opened #3955 "Timer take too long after response to get out of screen"
**Describe the bug**
I send a request (tried only with POST and GET) and within seconds the response show but the timer keeps running indefinitely (200+ seconds) like no response has come. I tried the same request with same parameters and all on postman and it is working properly. Asked some coworkers to test insomnia for me and it is working on their systems (Windows).

**To Reproduce**
Steps to

[2021-08-26 17:53] streats commented on #3945
Sweet, looks good now. It's still a little narrow and close to the edge, but that's fine and it's no longer cut off!
<img width="1152" alt="Screenshot 2021-08-26 at 18 49 18" src="https://user-images.githubusercontent.com/12902836/131011856-309dd02d-5034-4ca4-be6d-9970f0e5008c.png">

[2021-08-26 20:36] dimitropoulos commented on #3945
sweet!  thanks again and let us know if anything else is cut off.  I'll advocate to keep these zoom levels more top-of-mind when we work with the website!

[2021-08-26 20:41] streats commented on #3945
Thank you for such a quick fix!

On Thu, 26 Aug 2021 at 21:36, Dimitri Mitropoulos ***@***.***>
wrote:

[2021-08-26 20:43] develohpanda commented on #3952
Thank you for reporting! Verified that this worked in 2021.4 and broke in 2021.5. We'll be looking into this to resolve it!

[2021-08-27 02:23] #3954 closed, assigned to nobody

[2021-08-27 05:27] aarro commented on #2778
Also encountering this issue.

[code]

[code]

[2021-08-27 09:58] jorrocks opened #3959 "Fails to launch 2nd prompt window in templateTag since release 2021.5.0"
We use the insomnia templateTags functionality to log in to our environment to obtain a JWT (which we need to store for subsequent REST requests)
Your latest release has broken this process because it doesn’t seem to support launching the 2nd dialog window.
See line 11 in the code snippet below (where we launch a dialog to set the password)
[code]

[2021-08-27 12:53] develohpanda commented on #3959
Thanks for reporting and for sharing an example plugin @jorrocks, apologies for any inconvenience caused. We are looking into this!

[2021-08-27 12:58] develohpanda commented on #2778
Seems #3893 is actually a duplicate of this issue, and PR #3894 is in progress to resolve this issue. 🎉

[2021-08-27 12:59] nathanjwtx commented on #2778
This does actually appear to be working for me now. I had an issue with the certificate which, when fixed, seemed to make the login /validation work as expected.

[2021-08-27 14:49] diegocsilva commented on #905
solved for me !!!

[2021-08-28 14:22] eagleDiego opened #3966 "App for mobile devices"
On recommendation of Insomnia Support, I leave here my request for a mobile-compatible app.
In particular I refer to the iOS and iPadOS market.

[2021-08-28 14:28] rildomar commented on #2310
i'm suggesting for you, follow this stepts:

if you using insomnia, go to Preferences -> General -> Response/Request.
So, you can uncheck the box (like the image i uploaded).

![image](https://user-images.githubusercontent.com/2494178/131221186-38ff3f59-5d4f-4bc4-902d-b4fe87eb3f23.png)

[2021-08-29 03:48] anyforever opened #3967 "2021.5.0 install failed."
**Describe the bug**
install failed

**Screenshots**
![Screenshots](https://wx1.sinaimg.cn/mw1024/63900ec6ly1gtxij18j0ej20k9084dgs.jpg)

**Desktop (please complete the following information):**
 - OS: [Windows 10]
 - Installation Method: [Insomnia.Core-2021.5.0.exe]
 - App Version [Insomnia 2021.5.0]

**Additional context**
[code]

[2021-08-29 09:47] heliommsfilho opened #3968 "Insomnia duplicating Swagger requests defined in Design"
**Describe the bug**
When designing an API, every time I switch to _DEBUG_ tab there is a new request. If I keep switching from _DESIGN_ to _DEBUG_ new requests are created.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a Swagger 2.0 API in _DESIGN_ tab
2. Click on _DEBUG_ tab
3. Click on _DESIGN_ tab
4. Click on _DEBUG_ tab
5. ...

**Expected behavior**
Each time you enter in _DEBU

[2021-08-29 09:54] javaherisaber opened #3969 "Cannot switch to ok 200 responses from `response history` pane"
**Describe the bug**
When we have multiple responses in the response history pane, we're unable to switch to other ok 200 responses
if there is at least one non-ok response there.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request with a status code of 200
2. Send another request with a status code of 400
3. Open the response history pane and try to switch to the previous respons

[2021-08-30 07:16] develohpanda commented on #3969
Thanks for reporting this! It seems similar to the bug fixed by https://github.com/Kong/insomnia/pull/2735 🤔 Will validate when looking at that PR.

[2021-08-30 07:19] develohpanda commented on #3967
Thanks for reporting this; I tried this on W10 and wasn't able to reproduce it unfortunately. Does the same thing happen if you fully exit Insomnia, relaunch, and try to update via the auto-updater in Preferences?

[2021-08-30 07:22] amrinaas opened #3971 "Pull changes dissapear"
![image](https://user-images.githubusercontent.com/76085854/131301319-1239da3b-1e33-4456-8aeb-aef637129d1e.png)
My pull request dropdown is dissapear. I can't find the button

[2021-08-30 07:24] #3971 closed, assigned to nobody

[2021-08-30 07:46] develohpanda commented on #3971
I see this issue has been closed, I assume you found how to pull collections, but in case anybody else stumbles across this issue, as of version 2021.5 you need to open a remote project (from the top left on the dashboard) and then you can pull collections available to that project/team. Some documentation [here](https://support.insomnia.rest/article/163-team-collaboration)!

[2021-08-30 08:42] develohpanda commented on #3968
Hiya, thank you for the report 🙌🏽 According to the implementation in the code, if you provide an `operationId` the generator will use that id for requests.

[code]

Unfortunately this is not well documented and is likely going to go through some improvements. There's also a side-effect of this approach and an open [PR](https://github.com/Kong/insomnia/pull/3804/) but we haven't quite figured out h

[2021-08-30 08:44] develohpanda commented on #3968
I will close this issue as resolved but please let me know if you have any other questions!

[2021-08-30 08:44] #3968 closed, assigned to nobody

[2021-08-30 09:14] LocalHeroPro opened #3972 "Typo on method list"
On left side, on method list we have `PTCH` against `PATCH`.

![image](https://user-images.githubusercontent.com/42643563/131316325-d222f949-2085-46c5-9c33-9f18f97d6fb1.png)

[2021-08-30 09:20] develohpanda commented on #3972
Thank you for taking the time to report this! 🙌🏽

This is actually by design; anywhere a HTTP Method tag is shown like that, we remove the vowels to keep the tag under four characters in length so that it visually looks consistent.

https://github.com/Kong/insomnia/blob/e6e9e2a748c71f0e28550e0641428396a247b487/packages/insomnia-app/app/common/misc.ts#L124-L138

[2021-08-30 09:20] #3972 closed, assigned to nobody

[2021-08-30 09:22] LocalHeroPro commented on #3972
Can I turn off that feature?

[2021-08-30 09:41] heliommsfilho commented on #3968
Thanks @develohpanda. I confirm that adding _operationId_ solves the problem.

[2021-08-30 10:34] develohpanda commented on #3972
Unfortunately that's not something that can be toggled at this stage. Feel free to open a feature request/discussion for it!

[2021-08-30 15:47] monrax opened #3974 "Add getInfo to context.app on the Plugin API"
**Is your feature request related to a problem? Please describe.**
There is no way to get information about the Insomnia application, like the version.

**Describe the solution you'd like**
Create a getInfo method for context.app that returns an object with app info.

**Describe alternatives you've considered**
None

**Additional context**
None

[2021-08-30 16:04] iandunn commented on #2310
I wouldn't do that if you use authenticate on any endpoints (or might in the future); that's a huge security risk.

[2021-08-30 19:39] dimitropoulos commented on #3967
Do you happen to know what version of Insomnia was previously installed?

[2021-08-31 01:35] oreid-zd commented on #3788
Same issue here using `v2021.5.1`.

[2021-08-31 01:35] ppazos commented on #2050
When I try to filter by XPath on a reponse body, to use the value in another request, I always get "no results", and then if I erase the XPath, I get "Invalid XPath query: b64::::46b" which doesn't make sense since the field is empty!

![Screenshot_2021-08-30_22-35-20](https://user-images.githubusercontent.com/1278556/131427356-a6e70402-523e-415d-b3af-4871d32702ce.png)

This is on an insomnia just

[2021-08-31 01:38] anyforever commented on #3967
@dimitropoulos
Ver 2021.4.1 is available, but there is a problem with the shortcut. There is no problem before upgrading.
![bug](https://wx1.sinaimg.cn/mw690/63900ec6ly1gtzpxd2sbyj20kg0gvdgt.jpg)

2021.5.1 try it. Dashboard collection is empty

[2021-08-31 01:41] anyforever commented on #3967
Insomnia.Core-2021.5.1-portable.exe     ↑↑↑

[2021-08-31 04:52] #3959 closed, assigned to nobody

[2021-08-31 05:25] Droptests opened #3979 "Insomnia Test tab crashes when object.prototype is used"
**Insomnia Test tab crashes**
When executing code in Test tab Insomnia crashes.

**Steps to reproduce the behavior:**

1. Go to 'Test tab.'
2. Create New Test Suite
3. Select POST request
4. Enter this code:
[code]
5. Click on Run tests

**Expected behavior**
1. Test to pass successfully

**Screenshots**
![Code](https://user-images.githubusercontent.com/82899589/131446176-707735dd-11ac-4afe-8577-e

[2021-08-31 05:56] develohpanda commented on #3969
@javaherisaber - I was unfortunately not able to reproduce this exact bug. Could you please share a screenshot of your response history dropdown, identifying which items you are clicking for this bug to occur? Please make sure to remove any sensitive information like URLs 😄

[2021-08-31 06:21] #2675 closed, assigned to nobody

[2021-08-31 06:21] #1985 closed, assigned to nobody

[2021-08-31 09:56] javaherisaber commented on #3969
@develohpanda The active response status code is 400 and I want to switch to 200 status code, It just remains at 400 status code!

![image](https://user-images.githubusercontent.com/29440700/131482309-94b32197-ceae-4a2b-b1f0-4610e8d51be8.png)

[2021-08-31 11:06] develohpanda commented on #3969
Awesome! Thanks for sharing the screenshot, that helps! This bug has just been fixed by #2735 merged in today, so I will mark this issue as closed, and it will be published with the next major release (no timeframe yet, but next month or two as a guess) 😊

[2021-08-31 11:07] #3969 closed, assigned to nobody

[2021-08-31 13:39] dimitropoulos commented on #2675
@Uzivatel919 We agree.  Since this happened we removed the bot altogether as we were frustrated by the same thing.  Sorry for the annoyance it caused.

[2021-08-31 13:52] dimitropoulos commented on #476
@Lonli-Lokli we've since moved to [discussions](https://github.com/Kong/insomnia/discussions/categories/ideas) for feature requests.  If you'd like to open one and give an example of your use-case (and link back to this issue) I'd welcome it.

[2021-08-31 14:31] dimitropoulos commented on #3115
@mxmlnglt sorry about that.  we've since removed the bot that closed this issue (altogether) because of (among other reasons) how many "false positive" closures (just like this) we experienced.

Lemme know how I can be of help if you or anyone else is working on a PR for this.

[2021-08-31 14:48] jackkav opened #3984 "Dashboard doesn't handle overflowing names"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.1

### What operating system are you using?

macOS

### Operating System Version

N/A

### Installation method

N/A

### Last Known Working Insomnia version

_No response_

###

[2021-08-31 15:01] dimitropoulos commented on #3984
<details>
<summary>testing text for this example</summary>
[code]
</details>

It seems there are two obvious solutions (among others, I'm sure):

on the left is what we have now.
in the middle is with a y-scroll
on the right is an ellipsis

![_snap_insomnia_150_resources_app asar_renderer html](https://user-images.githubusercontent.com/15232461/131526314-80322dba-69c5-4b6d-8753-2e361f551d83.png)

[2021-08-31 15:03] jackkav commented on #3984
I like the ellipsis as it means we could also include collection description below a long title.

[2021-08-31 15:04] dimitropoulos commented on #3984
As a note: we can use `line-clamp` for this https://css-tricks.com/almanac/properties/l/line-clamp/

[2021-08-31 15:05] dimitropoulos commented on #3984
As another note: let's be sure to test this with different fonts and font sizes - no matter how we solve it.  It might be best to put an overflow-y on the container as a backup, anyway.  A scroll is less bad than it actually escaping out of the container like it does now.

[2021-08-31 15:14] jackkav commented on #3984
True, scroll appears to be more robust.

[2021-08-31 17:52] godwinrob opened #3986 "Render Failure: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.1

### What operating system are you using?

Windows

### Operating System Version

Windows 10 Version 20H2

### Installation method

Windows install

### Last Known Working Ins

[2021-08-31 17:54] dimitropoulos commented on #3242
@ariasmn I would love to see a PR for this!!  You'd add it to the `insomnia-app` package and run it using the prettier API (https://prettier.io/docs/en/api.html).

Lemme know how I can help!

[2021-08-31 22:42] reynolek commented on #3967
I just downloaded 2021.5.1-portable and 2021.5.2 portable, both launch with my collections inside of them.

From your logs:

[code]

This looks like a permissions issue against the AppData folder for the Administrator user. Can you check your permissions on that folder?

[2021-08-31 23:47] weirdan opened #3988 "APT repository returns 400 Bad Request"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.2

### What operating system are you using?

Other Linux

### Operating System Version

Linux portable-ws 5.10.0-8-amd64 #1 SMP Debian 5.10.46-4 (2021-08-03) x86_64 GNU/Linux

#

[2021-09-01 05:58] anyforever commented on #3967
@reynolek
This file was not found.

Download and open the insomnia.Core-2021.5.2-portable.exe, the problem remains the same. But Insomnia.Core-2021.4.1-portable ，it's normal.

[2021-09-01 06:27] anyforever commented on #3967
It's ok. The problem was that 360 security guards intercepted it.

the collection is here.
![](https://wx2.sinaimg.cn/mw690/63900ec6ly1gu13zvt23fj20ca0c174s.jpg)

[2021-09-01 06:40] reynolek commented on #3967
Glad you are up and running @anyforever! By 360 security guards I assume you mean your antivirus? Did you have to do anything special to get it bypassed (I mostly ask for future people who may run into a similar issue and are searching our github issues for help)?

[2021-09-01 06:55] anyforever commented on #3967
It's automatically intercepted.   @reynolek

[code]

[2021-09-01 06:58] anyforever commented on #3967
After I observed the interception log, I took the initiative to quit 360 App, re-install insomnia, it's ok.

[2021-09-01 07:43] conmute commented on #1602
Got the same, wanted to test why request is failing, but getting this problem constantly

[2021-09-01 15:00] dimitropoulos commented on #3967
Great, glad we got it figured out!  If something else comes up please don't hesitate to let us know!

[2021-09-01 15:00] #3967 closed, assigned to nobody

[2021-09-01 17:55] dimitropoulos commented on #3988
Thank you for your clear writeup!  I followed your steps and was not able to reproduce:

[code]

some questions:
1. could you please try again (now) and let us know your results.  there was some downtime the other day with download.konghq.com and I'd like to verify that you didn't happen to run this command during that downtime.
1. are you able to fire up a VPN, by any chance, and try from another

[2021-09-01 18:16] dimitropoulos commented on #3979
I was able to reproduce on `develop`.

By the way, I was able to reduce the reproduction steps:
1. create a new test with the following code:
[code]
1. run the test

I'll note, that this crashes the test list portion of the UI: (it looks like it broke in two places but it's just one section)

![image](https://user-images.githubusercontent.com/15232461/131722084-f4e32030-0e44-4a93-a5c9-0365fb7c4f16

[2021-09-01 18:24] dimitropoulos commented on #3979
Can you please tell me what you are trying to do, such that you need to mutate the Object prototype?

[2021-09-01 18:37] dimitropoulos commented on #3986
I was unable to reproduce.  Does this happen if you try with a brand new collection?  I used https://raw.githubusercontent.com/moul/pb/master/hello/hello.proto, as an aside.

If it is reproducible for you, is it possible for you to share an export of this collection?

When you open your console, could you please share the stack trace for this error?  This is 3rd party code that's erroring, so I wa

[2021-09-01 19:21] weirdan commented on #3988
1. I got same results, 400 Bad Request.
2. Using VPN via Frankfurt (Germany) worked. Previously, I was connecting from Ukraine.

[2021-09-01 21:08] #2778 closed, assigned to nobody

[2021-09-01 21:08] #3893 closed, assigned to nobody

[2021-09-02 00:29] ghost commented on #3952
Fixed in https://github.com/Kong/insomnia/pull/3961 / 2021.5.2 / Thanks!

[2021-09-02 00:29] #3952 closed, assigned to nobody

[2021-09-02 00:51] dimitropoulos commented on #3988
Thanks for confirming.  That was it then, huh.  Sorry for the inconvenience but I don't think there's anything we can do about that.  If you think there is lemme know and we can reopen and investigate.

[2021-09-02 00:51] #3988 closed, assigned to nobody

[2021-09-02 01:25] weirdan commented on #3988
I wonder why would there be any geographic restrictions in the first place?

[2021-09-02 04:39] Droptests commented on #3979
Hello,
I wanted to compare the object.prototype.b with specific part of the JSON
response, when converted to String as much as I could remember.

Hope this helps.

On Wed, 1 Sep 2021, 21:24 Dimitri Mitropoulos, ***@***.***>
wrote:

[2021-09-02 13:51] dimitropoulos commented on #3988
I wonder that too, but all I know is that this is the way the repository works for some locations.

[2021-09-02 13:56] dimitropoulos commented on #3979
When you get a moment could you please provide that use-case.  It's relevant here because what we will do to fix this (I'm fairly sure) is disallow modifying prototypes of builtins (like Object and Array and String and Number).  Modifying prototype like this is known as "prototype pollution" and comes with a lot of potential problems.  I want to verify that there's another way to do what you are t

[2021-09-02 14:13] theundertakerjr666 opened #3990 "ERROR all request and response in curly braces with no Tag menu - request chaining"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.2

### What operating system are you using?

macOS

### Operating System Version

macOS Catalina 11.5.2

### Installation method

download app from insomnia

### Last Known Work

[2021-09-02 14:14] theundertakerjr666 commented on #3990
<img width="794" alt="Screenshot 2021-09-02 at 17 14 23" src="https://user-images.githubusercontent.com/4310314/131859693-47dada62-d141-4a2e-a34b-4c635ab7ccd4.png">

[2021-09-02 14:30] weirdan commented on #3988
Do you know if there's someone at kong (?) I can contact regardign this? Or could you raise that internally (seeing that you're a member of kong gh org)?

[2021-09-02 14:44] dimitropoulos commented on #3990
Is it possible this was solved by https://github.com/Kong/insomnia/pull/3983 (merged just 10 hours ago)?

I just tried, and was unable to reproduce:

https://user-images.githubusercontent.com/15232461/131864612-17055763-fc2e-4f34-ac70-2c3dcb447a5c.mp4

any suggestions?

[2021-09-02 16:10] theundertakerjr666 commented on #3990
I have not fully resolved it yet, but it seems to be related to "Raw template syntax" option selected in Insomnia's preference

[2021-09-02 16:12] rozhok commented on #3988
Can confirm this behavior. I'm also connecting from Ukraine.

[2021-09-02 16:40] reynolek commented on #3988
Unfortunately this has to do with US restrictions on companies around I believe cryptography and Russia. Since we didn't have an easy way to only block connections from Crimea, we had to add a restriction to all of Ukraine.

[2021-09-02 17:19] weirdan commented on #3988
Well, I can still download insomnia deb file manually from updates.insomnia.rest, or from Github releases, so restriction is not that thorough. It's just apt repo that doesn't work, meaning it's just an inconvenience but not a blocker.

Is apt repo set up that way because some other kong product needed those restrictions?

[2021-09-02 17:42] reynolek commented on #3988
That is my understanding after talking to the team that runs the apt repo. Since we are hosting the repo ourselves, I can imagine our lawyers gave us requirements to fulfill -- I know its annoying to not be able to use apt. Sorry about that :(

[2021-09-02 19:23] dimitropoulos commented on #3990
Does it work if you change the setting of `Raw template syntax`?

[2021-09-02 19:35] #3974 closed, assigned to nobody

[2021-09-02 19:45] dimitropoulos commented on #3788
Just verified this - taking a look.  Apologies for the radio silence everyone - this one slipped under the radar.

I can confirm that this worked in 2021.3.0 and broke in 2021.4.0.

[2021-09-02 20:36] dimitropoulos commented on #3788
Update: got a PR up with a fix.  Apologies again.  We'll try to get this out sooner than later!

[2021-09-02 20:38] #3966 closed, assigned to nobody

[2021-09-03 03:58] develohpanda commented on #3990
Hi @theundertakerjr666, the default Response -> Body Attribute raw template should be `{% response 'body', '', '', 'never', 60 %}`, not `{% jsonata_response '', '', 'never' %}` as you are experiencing.

Could you please share a gif/video to show exactly what you are experiencing?

If you _disable_ Raw Template Syntax, `{% response 'body', '', '', 'never', 60 %}` should show as the following, and c

[2021-09-03 05:35] mmusket commented on #1367
I'm also running into the same issue when I try to import a schema

`RangeError: Maximum call stack size exceeded
    at object (...\Local\insomnia\app-2021.5.2\resources\app.asar\node_modules\insomnia-importers\dist\src\importers\openapi-3.js:397:17)
    at generateParameterExample (...\Local\insomnia\app-2021.5.2\resources\app.asar\node_modules\insomnia-importers\dist\src\importers\openapi-3.js:

[2021-09-03 11:25] CLTanuki commented on #3357
Same for version 2021.5.2
![Screenshot at 2021-09-03 14-21-05](https://user-images.githubusercontent.com/5824716/131997881-88b84080-0f7e-4bf0-b610-37ef7a91f5cd.png)
Thanks @Trim for solution. Waiting for an official patch, as a paying customer.

[2021-09-03 18:25] #3788 closed, assigned to nobody

[2021-09-05 04:48] #3168 closed, assigned to nobody

[2021-09-05 06:10] jasonblalock opened #4004 "Update package-lock.json to lockversion 2 via npm v7"
I was bootstrapping your insomnia project for the first time using npm v7. Noticed it went through and automatically updated all the package-lock.json files to the new lockfileversion 2. Thought it might be something that would be good to do, but if not, nbd.
You can see the changes that occurred at #4003. More details about that here: https://github.blog/2021-02-02-npm-7-is-now-generally-availabl

[2021-09-06 09:34] ovidiubuligan opened #4005 "Getting Oauth 2 PKCE token from IDP https://connect.visma.com doesn't work, results in 400 error on /token endopint"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.0

### What operating system are you using?

Windows

### Operating System Version

windows 10

### Installation method

downloaded exe from website

### Last Known Working Inso

[2021-09-06 10:11] weiann-tractable opened #4006 "Unable to install insomnia-plugin-uuid"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.4.1

### What operating system are you using?

macOS

### Operating System Version

macOS Big Sur

### Installation method

Insomnia.rest

### Last Known Working Insomnia version

[2021-09-06 10:43] develohpanda commented on #4006
Hi! Thanks for reporting this :) while we do need to update the uuid dependency, the good news in this instance is that this plugin is [pre-installed](https://github.com/Kong/insomnia/blob/develop/packages/insomnia-app/config/config.json#L29) within Insomnia. You should be able to use the UUID template tags by typing in any text field and triggering the auto-complete (cmd + space).

![image](https

[2021-09-06 10:43] #4006 closed, assigned to nobody

[2021-09-06 15:04] onovaes opened #4007 "traps in debian 10"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.2

### What operating system are you using?

Other Linux

### Operating System Version

Debian GNU/Linux 10 (buster)

### Installation method

download deb file e 2 click to ins

[2021-09-06 15:09] onovaes commented on #4007
2021.4.1 - also works
2021.5.0 - trap error

[2021-09-07 08:09] ap1969 commented on #1535
2 years of using online prettifiers, and I finally find this post :-)

[2021-09-07 15:31] reynolek commented on #4007
Sorry you are having issues @onovaes! Have you tried reinstalling? Maybe try the apt repo rather than downloading the deb file from github ([directions here](https://insomnia.rest/blog/new-insomnia-apt-repository))?

We also recently released 2021.5.2.

[2021-09-07 15:50] godwinrob commented on #3986
Thanks for the follow up. I'll try to play around with hello.proto and see if I have any luck with reproduction

[2021-09-07 16:06] mpavkovic opened #4010 "Installation fails during setup phase on Debian due to incorrect path"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.2

### What operating system are you using?

Other Linux

### Operating System Version

Debian 10 (buster)

### Installation method

apt

### Last Known Working Insomnia version

[2021-09-07 17:20] johnwchadwick commented on #4007
Could you provide the output of `cat /proc/cpuinfo`? It's a bit of a wild guess, but I'm curious if perhaps the problem is limited to certain CPU steppings.

[2021-09-07 19:41] johnwchadwick commented on #4007
I'm combing the web for related problems. Here's an issue that might be related:

[browser frequently crashing with trap int3](https://bugs.launchpad.net/ubuntu/+source/chromium-browser/+bug/1898389)

From this Launchpad thread, it has been observed on:

|Chrome Version|Linux Version|
|--|--|
|85.0.4183.83-0ubuntu0.16.04.2|(Unknown Ubuntu 16.04)|
|88.0.4324.96|5.4.0-59-generic x86_64|

[In 2021.4.

[2021-09-07 21:34] MrSnix commented on #1367
Hi folks, I think I may have fixed it (or at least **one of** the root causes of this bug).
I can raise a PR if this sounds reasonable, opinions are welcome, anyway I think it's a step forward.

File used to test:
1. https://nv-grt.myjetbrains.com/youtrack/api/openapi.json (YouTrack API, provided by @earshinov)
2. https://github.com/Kong/insomnia/files/6641041/openapi.txt (Camunda API, rename as .

[2021-09-08 01:01] develohpanda commented on #2050
There appears to be an issue with XPath if namespaces are used. For instance, if `<foo><bar>baz</baz></foo>` is used with the XPath of `/foo/bar`, then `baz` is returned as a result successfully, but if a namespace exists as per the example in https://github.com/Kong/insomnia/issues/2050#issuecomment-868504926, then XPath fails to resolve it.

It appears that the XPath library we use requires the

[2021-09-08 04:21] ppazos commented on #2050
@develohpanda the xml I'm querying has ns declared in the root element:

[code]

This uses the default ns http://schemas.openehr.org/v1, so the element names don't include any ns information. For instance if you have xmlns:xxx="http://schemas.openehr.org/v1", then all tags will be <xxx:tag>

This is the full XML:

[code]

And I'm trying to access this value: c8a0a6ef-a006-497a-b674-c1e595c30303::C

[2021-09-08 04:36] develohpanda commented on #2050
Thanks @ppazos, that'll be very helpful to debug, alongside the other examples in this issue.

Unfortunately I don't have any timeframe for when this might be fixed (right now), on looking through https://github.com/goto100/xpath there doesn't appear to be a straightforward solution using this, so we might need to explore other libraries. I am certainly available and happy to assist in case anybod

[2021-09-08 07:18] arafattechstyle commented on #3138
What can be done to get enough attention?

[2021-09-08 08:56] xZyph commented on #1367
@MrSnix, is this fix meant to be implemented in Insomnia seeing as the setting is set in the parser, or can I reconfigure my Swagger-instance to somehow exclude the circular references?

[2021-09-08 11:09] MrSnix commented on #1367
Hi @xZyph

The fix itself is meant to be implemented inside Insomnia but ... you can try to manually modify your specs **excluding (deleting)** all `$ref` fields inside the file. I used this simple regex `"\$ref.*` and it worked but **I cannot guarantee the result,** you will lose the schema references inside your swagger but it's a workaround (so, make a backup). You won't lose them when the fix

[2021-09-08 12:43] onovaes commented on #4007
cat /proc/cpuinfo - https://pastebin.com/wEcNng3P

I have the Chromium Version 90.0.4430.212 (Developer Build) built on Debian 10.9, running on Debian 10.10 (64-bit). I don't know if this chromium works well, as I rarely use it.

I've tried to reinstall insomnia, with no success. It only works until version 2021.4.1

Guys! Tks for the help

[2021-09-08 13:25] naefp commented on #1367
i would also appreciate it if insomnia ignores the circular references to fix this issue

[2021-09-08 14:50] jarchercritigen commented on #2310
Also having this issue.  Identical sites in test and prod yield different results.  Test works fine, but prod generates this error.  Would like to see this fixed.

[2021-09-08 15:42] mdhenriksen commented on #3799
I'm encountering the same error using macOS big sur. I've made the same steps as @xeras.

[2021-09-08 17:03] ppazos commented on #2050
I'm ignorant about libraries for JS development specially for desktop apps. Though if there is a DOM implemented somewhere, it might have XPath https://developer.mozilla.org/en-US/docs/Web/XPath/Introduction_to_using_XPath_in_JavaScript

[2021-09-08 18:16] johnwchadwick commented on #4007
@onovaes Apologies, I have found the issue. Regrettably, the package is just broken.

For the time being, please run:

[code]

after installing the latest version of Insomnia. It should again work properly.

[2021-09-08 18:18] johnwchadwick commented on #4007
(This is the same issue as #4010 and should be fixed when we have a release that doesn't have a buggy version of `electron-builder`.)

[2021-09-08 18:41] onovaes commented on #4007
Tks, now 2021.5.2 version works

[2021-09-08 18:46] #1851 closed

[2021-09-08 18:46] #1915 closed, assigned to nobody

[2021-09-08 18:56] gatzjames commented on #3934
Thanks!
Closing as it seems to be a duplicate of #3788

[2021-09-08 18:56] #3934 closed, assigned to nobody

[2021-09-08 22:13] develohpanda commented on #3822
Hey everyone, my apolgies for the radio silence on this issue, it slipped under our radar. This appears to be a regression as it certainly shouldn't be re-ordering automatically. We'll aim to get it triaged, and fixed up!

[2021-09-09 01:35] #2478 closed, assigned to nobody

[2021-09-09 06:54] ac1dr3d commented on #1367
great to hear you fixed it

[2021-09-09 07:16] develohpanda commented on #2584
This has already been resolved, closing

![image](https://user-images.githubusercontent.com/4312346/132640281-b2047e07-5d4b-405a-8106-0f3cc0649a04.png)

![image](https://user-images.githubusercontent.com/4312346/132640311-a213ef80-0384-4240-a8df-fafeaa4bcea5.png)

[2021-09-09 07:16] #2584 closed, assigned to nobody

[2021-09-09 07:21] develohpanda commented on #3799
Hi @mdhenriksen, the request being run by the test, is that by any chance consuming a plugin or template tag? If that's the case, unfortunately plugins are not yet supported with Inso, though we do plan to allow this - I suggest following [this](https://github.com/Kong/insomnia/discussions/3653) thread.

It would be incredibly useful for us if you are able to provide a document export that we can

[2021-09-09 08:10] mdhenriksen commented on #3799
Hey @develohpanda! The request is using an environment variable tag (I guess thats a template tag).

However, I've just created a completely new test, that _only_ sends a `GET` request without any parameters, tags or what so ever - and I'm still hitting the same error.

My steps are as follows:
1. Create design document
2. Under the "debug" tab, create `GET` request pointed at https://api.chucknor

[2021-09-09 08:50] develohpanda commented on #3799
Thank you for those steps! Environment variables should be supported just fine, it's more if there are any custom plugins. I followed your steps above and it seems to be working as intended.

<img width="881" alt="image" src="https://user-images.githubusercontent.com/4312346/132654517-7fc91504-8311-463d-a702-2aba097ce120.png">

Could you please confirm which version of Insomnia and Inso you are us

[2021-09-09 08:57] mdhenriksen commented on #3799
Weird it works for you.

**I have a few plugins installed**, but that's fine as long at they are not used in the actual requests and tests, right?

These are my versions:
- Insomnia 2021.5.2
- Inso 2.3.2

Full specifications on my Insomnia installation:
[code]

[2021-09-09 14:42] #2563 closed, assigned to nobody

[2021-09-09 15:17] #4007 closed, assigned to nobody

[2021-09-09 15:17] #4010 closed, assigned to nobody

[2021-09-09 15:18] DMarby commented on #4010
Hi @mpavkovic,

Thank you for reporting this! We'll be releasing a patch release shortly to address this.

[2021-09-09 17:37] dimitropoulos opened #4018 "Document/Collection settings modal an interact with panels beneath it"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.2

### What operating system are you using?

Ubuntu

### Operating System Version

Kubuntu 21.04

### Installation method

apt

### Last Known Working Insomnia version

_No resp

[2021-09-09 17:54] bpartridge commented on #1474
Rebooting this with a suggestion: A global (or per-environment or per-collection) preference for the *default* state of the per-request store/send cookies checkboxes (upon creating a new request) would be a massive quality-of-life improvement. Something like this interface:

As an example use case, we often work with vaguely-documented legacy systems and APIs that change behavior based on cookie s

[2021-09-10 19:25] #2684 closed, assigned to nobody

[2021-09-11 13:03] mfulton26 opened #4021 "Failed to parse multipart response: content-type missing boundary"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.2

### What operating system are you using?

macOS

### Operating System Version

macOS Big Sur 11.5.2

### Installation method

https://insomnia.rest/download

### Last Known W

[2021-09-11 18:19] ariasmn commented on #3242
@dimitropoulos I just submitted a PR for this. Sorry it took that long, I have been a bit busy. :sweat_smile:
Please let me know if any changes are needed!

[2021-09-13 04:01] develohpanda commented on #3799
In theory yes, there might be a situation where an environment variable that uses a template tag/plugin could cause an issue. But you're able to reproduce this with a brand new design document (right?), so environment variables won't play a part.

(I also mistakenly thought Inso 2.3.0 was the latest, however I get the same success response using Inso 2.3.2.)

[2021-09-13 08:24] jasonblalock commented on #4004
Per discussions in https://github.com/Kong/insomnia/pull/4020#discussion_r706984869  this will not be pursued until node version is updated such that npm v7 is the accompanying version

[2021-09-13 08:24] #4004 closed, assigned to nobody

[2021-09-13 13:34] anthros-niccolo commented on #2458
Hi, I'm getting the same error. Using a private repo but I'm able to pull code, just not push changes.

[2021-09-13 16:04] SylonZero opened #4026 "UX: Snapshots vs Commits"
The UI should really use a standard term like **Commit** instead of **Snapshot**. Everything else is identical to terminology in Git that most devs are familiar with - branches, master, push, pull, etc. It would have been obvious to developers how to use this feature if the word _snapshot_ hadn't been used.

[2021-09-13 18:48] MrSnix commented on #3138
Hi everyone, I can open a pull request for this if it's okay (@dimitropoulos)

This is the current implementation:

![Sep-13-2021 20-45-24](https://user-images.githubusercontent.com/20780192/133139727-683d70af-8541-4949-bbb5-f396545bcebd.gif)

[2021-09-14 07:55] thejatmik commented on #1989
I am getting similar error but I found the workaround by cloning the plugin repository to Insomnia plugins folder.

Received error message:
![image](https://user-images.githubusercontent.com/13992930/133217570-ae0f2232-af8a-42fa-b9fa-3d831fd2195e.png)

My workaround:
- `cd ~/snap/insomnia/current/.config/Insomnia/plugins/`
- `git clone https://github.com/Malm/insomnia-plugin-save-access-token.git`

[2021-09-14 12:44] ssleptsov commented on #3202
@dimitropoulos have pushed a fixed version of `jsonlint`, same as `JSV` package too.

`JSV`

- Package - https://www.npmjs.com/package/jsv-fixed
- Repo - https://github.com/ssleptsov/JSV - only fixes for `dependencies` in `package.json`

`JSON Lint`

- Package  - https://www.npmjs.com/package/jsonlint-mod-fixed
- Repo - https://github.com/ssleptsov/jsonlint-mod - forked from one of the most active

[2021-09-14 14:58] Essler commented on #1413
Any new possibilities with this?

It's difficult to use Insomnia when demoing or even pair programming without flashing all of your passwords.

The only workaround I've found, for Form and Multipart bodies at least, is to change the sensitive field from _Text_ to _Text (Multi-line)_ and then the value is hidden until clicked on for editing. Though, tokens and headers can't be hidden in this way.

[2021-09-14 15:14] hapi-cloud commented on #3413
This has happened to me as well, when I had two instances of Insomnia open at the same time.

Basic steps to recreate:
- open instance 1
- make some changes to instance 1 (add/update collections/documents)
- open instance 2
- make some changes to instance 2 (add/update collections/documents)
- close instance 2
- make some changes to instance 1 (add/update collections/documents)
- close instance 1

[2021-09-15 07:11] martinmacke commented on #3906
Seeing this as well. It looks like it has been broken for several last versions. Version 2021.3.0 is the last one I see the URL preview working correctly.

[2021-09-15 13:01] #1633 closed

[2021-09-15 14:17] aarrotta commented on #1003
same here

[2021-09-15 14:50] jbrooksuk commented on #2964
@dimitropoulos this was a couple of months ago now, do you have any updates? :)

[2021-09-15 23:34] jeffreydwalter commented on #336
@gschier sorry to comment on a closed issue, but I was wondering if it is or would be possible to export the authentication cURL?

[2021-09-16 05:00] develohpanda commented on #2458
Hi @anthros-niccolo, do you see anything in the Developer Console when trying to push changes? (View > Toggle DevTools)

[2021-09-16 06:51] mhmmd-ysf commented on #646
Same here, Version 2021.5.0

[2021-09-16 08:29] develohpanda commented on #3138
@MrSnix my understanding is that the proxy fields are not password masked currently (not at a PC)? If so, yes please raise a PR! This seems like a nice addition.

[2021-09-16 14:47] jpuris opened #4034 "Postman collection import successful, but not visible on any dashboard"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.2

### What operating system are you using?

macOS

### Operating System Version

macOS Big Sur 11.5.2

### Installation method

homebrew

### Last Known Working Insomnia versio

[2021-09-16 17:11] cskwrd opened #4035 "Cookie jar cached when chaining"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.3

### What operating system are you using?

Windows

### Operating System Version

Windows 10 Pro Version 20H2

### Installation method

Exe

### Last Known Working Insomnia ve

[2021-09-16 18:17] servernoj commented on #3906
Confirm seeing it, I was about to file a bug, but found this.

[2021-09-16 21:07] degueba commented on #4034
I'm having the same issue here.

[2021-09-17 14:45] prolonginc commented on #1003
I honestly wish our company used postman instead of insomnia cuz of this feature and the workflows. tabs are essential

[2021-09-17 21:07] jclusso commented on #2700
I realized you can just add the extra parameters to the Authorization URL. Figured it might help someone else out since I didn't immediately come up with this solution.

[2021-09-17 22:58] ConnorJennison opened #4037 "[Feature Request] Add hook to allow plugins to edit the URL Preview in the Query tab"
It would be nice to allow plugins to be able to edit the URL Preview under the Query tab. More specifically I have been using the [insomnia-plugin-path-parameters](https://insomnia.rest/plugins/insomnia-plugin-path-parameters) plugin which allows you to add URL query params but then edit the values of those in the query params section of insomnia. However, the only issue is it doesn't update the U

[2021-09-18 09:48] guyguy333 opened #4038 "gRPC import directory doesn't work as expected"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.3

### What operating system are you using?

macOS

### Operating System Version

macOS Big Sur 11.6

### Installation method

homebrew

### Last Known Working Insomnia version

[2021-09-19 00:57] Jaakkonen commented on #4034
Happens with HAR import too on Insomnia versions
- 2021.5.3
- 2021.4.1
- 2021.3.0
- 2021.2.2
- 2021.1.1
running on Arch Linux.

The old UI flow still works though. Create a request collection, go to it, click it's name in the top bar, click "Import/Export" and import requests from there.

[2021-09-20 11:13] MrSnix commented on #3955
This seems like a duplicate of #3786

[2021-09-20 14:53] Miuler opened #4041 "Failed to install because "No license field""
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.3

### What operating system are you using?

Other Linux

### Operating System Version

LSB Version:    1.4 Distributor ID: Garuda Description:    Garuda Linux Release:        S

[2021-09-20 15:03] dimitropoulos commented on #4041
Thanks for the report -> I was unable to reproduce on Kubuntu 21.04.

![Screenshot_20210920_110149](https://user-images.githubusercontent.com/15232461/134025257-bc08068c-8658-4d3e-a13e-03b589b27dd7.png)

This is strange because this plugin does indeed have a license field https://github.com/Kong/insomnia/blob/develop/plugins/insomnia-plugin-kong-bundle/package.json#L6.

I've never run Garuda befor

[2021-09-20 15:08] dimitropoulos commented on #3786
I was unable to reproduce this.  Any tips?  I sent a request to `mockbin.org/delay/3000` and it started immediately and finished after the specified time.

[2021-09-20 15:10] dimitropoulos commented on #3955
Ugg.  I'm very sorry that you had to go through all of that.  I greatly appreciate it, though, because it means that it's not the installation method.

Let's go over to #3786 to keep the discussion going, this looks to be the same thing.

[2021-09-20 15:10] #3955 closed, assigned to nobody

[2021-09-20 15:13] dimitropoulos commented on #3786
Sorry to hear you're having this problem @LeoAlvesBahia and @DFSko and @Raibo -> could you please try making a complete backup of your [insomnia data directory](https://docs.insomnia.rest/insomnia/faq#where-does-the-application-store-data), then verifying that the files in your backup exactly match (really want to be careful here because you can destroy your data if not careful), and then opening

[2021-09-20 15:33] LeoAlvesBahia commented on #3786
@dimitropoulos Not a problem! We're to help each other. As I said on my post ([Timer take too long after response to get out of screen #3955](https://github.com/Kong/insomnia/issues/3955)) I went through some instalation methods. Everytime when I went through a instalation method I erased the Insomnia data directory just to make sure that I did a 'clean' instalation.

[2021-09-20 16:49] dimitropoulos commented on #3786
Ohh.  Interesting.  Well now.  That certainly raises suspicion.  Thanks!  (since you can uninstall and reinstall without deleting your data I didn't gather I wanted to verify).

1. Can you confirm that there's any older version of insomnia that did _not_have this problem (or, as @Raibo said above, at least had it less worse)?
1. This is a long shot, but I'm curious if any of you happen to have a v

[2021-09-20 17:29] LeoAlvesBahia commented on #3786
1. The problem came with version 2021.4.1 the problem wasnt  on earlier versions for me.
2. I do have dual boot on different HDs (Windows on SSD Manjaro on HD). I didnt make tests on Windows but I can do later.

[2021-09-20 20:40] dimitropoulos commented on #3786
That's very helpful.  I'll see what I can dig up in the meantime. :)

[2021-09-21 13:45] AlexeyShok commented on #3786
@dimitropoulos I work for the same company as @Raibo. And I ran into the same problems. Did a little research. The requests use data from another request that receives the token. So when I just executed this token request separately, I saw on the screen that this request was called 22 times in 60 seconds and then only its result was shown on the screen. At the same time, Insomnia reported that thi

[2021-09-21 13:55] LeoAlvesBahia commented on #3786
Sorry for the delay. @dimitropoulos I forgot to test insomnia on WIndows. Ill do it in 20m max. Sorry about that.
@AlexeyShok Im sorry but I cant. =// I use insomnia for work. I cant have the risk to send confidential data. But how would I do that? Maybe I can erase all data from here and make some tests with other APIs

[2021-09-21 14:09] LeoAlvesBahia commented on #3786
@dimitropoulos Same thing is happening on Windows! I exported a file from my insomnia on Linux. Before import the file I created some requests and tested, after 7 sends the problem appeared again the same way as my Linux boot. After that I imported the file and the problem still the same.

[2021-09-21 18:12] dimitropoulos commented on #3786
Ohh, ok, so we're dealing with a chained request, then?

Is everyone else having this problem with a chained request.  Do any other requests work (e.g. a `GET` to `example.com`)?

Would it be possible for you to show a screenshot of this?

Not sure if it helps, but it's just new line delimited JSON (i.e. [ndjson](http://ndjson.org/)) and we use [NeDB](https://github.com/louischatriot/nedb) for the

[2021-09-21 18:17] LeoAlvesBahia commented on #3786
Yes BUT without chained requests the problem still persists with me. Just did a test to example.com with insomnia and postman. At Insomina the problem still persists and at postman just received the html page.

[2021-09-21 18:33] dimitropoulos commented on #3786
I see.. so @LeoAlvesBahia, to confirm, you installed insomnia fresh on Windows (i.e. for the first time, or after clearing your [data directory](https://docs.insomnia.rest/insomnia/faq#where-does-the-application-store-data)) and before you did anything else you were able to get the bug to trigger after making a `GET` request to `example.com`.  Right?

You've already done so much to help, but I'd l

[2021-09-21 18:39] LeoAlvesBahia commented on #3786
Yes!

Not to example.com but yes! I didnt have Insomnia on my Windows partition.

I can do that but not right now. Just 9~10h from now. =/
When I do that I send the results here!
Do you need that I do those tests on Linux aswell?

I really like using Insomnia, I just hate not have this toll at my work days..! I really miss it. Heheh And Thanks for your help!

[2021-09-21 18:47] dimitropoulos commented on #3786
That's plenty fast!  Thanks!  I really appreciate it.

Not for right now, especially since we're getting it to happen on all architectures.  It's so much easier to test this with the portable builds, that if we can at least get this down to a particular version when the problem first appeared, that'll go a long way.

Wow, thanks!  All of us on the team are really passionate about having the best e

[2021-09-21 21:26] develohpanda commented on #4041
Hi @Miuler! This plugin bundle is pre-installed within Insomnia now, so you shouldn't need to install it manually from the plugins tab 😄 We also have an open-source PR in the works (https://github.com/Kong/insomnia/pull/4039) to allow for unsafe plugin installation as sometimes it fails on a warning as well.

I'll go ahead and close this issue for now, but please ask if you have any other question

[2021-09-21 21:26] #4041 closed, assigned to nobody

[2021-09-22 00:42] blshkv commented on #4034
There is actually an error if you try to import it from cli:
![Screenshot_20210922_083728](https://user-images.githubusercontent.com/309751/134265713-9ac80cb6-fd3a-4b59-b57c-cc9f0b71f1ec.png)

Could be something to do with a scheme?
"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"

[2021-09-22 03:40] DFSko commented on #3786
Hello @dimitropoulos

Maybe this info help you
Windows 11, Insomina 2021.5.3

Request: GET https://httpbin.org/get without chaining
Request inside my new and clean collection takes 147ms
Request inside my team shared collection takes more than 1 minute
Team collection has 3 environments with many variables and many saved requests (maybe around one hundred)

![image](https://user-images.githubuserc

[2021-09-22 14:39] LeoAlvesBahia commented on #3786
@dimitropoulos hello! I'm sorry for the delay. Right now I won't be able to make the tests. Still not at home. I need to get some sleep before get the road. A soon as I get home I do the tests!!

[2021-09-23 04:13] develohpanda commented on #4034
Thanks for reporting this! We've seen a number of reports for the Postman import failing in this way. This is on our sprint and should be fixed with the upcoming major release (likely towards the end of October). 🙌🏽

In the meantime, as a workaround, you can create a Request Collection as normal, then open that collection, and select the import option.

![image](https://user-images.githubuserconte

[2021-09-23 04:49] blshkv commented on #4034
Wow, that's tricky. I didn't know it is even possible. Thanks!

[2021-09-23 04:59] develohpanda commented on #4034
Yes! Work in progress, we'll have this fixed up as soon as we can though! :)

[2021-09-23 15:44] rocketraman commented on #2600
This seems to be a duplicate of https://github.com/Kong/insomnia/issues/2023.

[2021-09-23 15:46] rocketraman commented on #2023
Work seems to be happening under https://github.com/Kong/insomnia/issues/3242.

[2021-09-23 16:38] baldwindavid commented on #1864
I still have to supplement Insomnia with GraphiQL for searching documentation. GraphiQL provides a persistent documentation area that doesn't reset every time something happens in the query window like Insomnia.

Really, it would be nice if there were a persistent sidebar that could be toggled on the right displaying searchable documentation rather than the current ephemeral popup.

Insomnia is gr

[2021-09-23 16:55] dimitropoulos commented on #1864
Just to make sure: https://github.com/Kong/insomnia/pull/3388 recently merged.  Is what you're asking for something different than that?

[2021-09-23 17:21] jrgarciadev commented on #2964
Still waiting...

[2021-09-23 17:55] #2600 closed, assigned to nobody

[2021-09-23 18:40] baldwindavid commented on #1864
@dimitropoulos Oh, awesome! I noted some asides about documentation resetting and I'm not sure if that is covered. Regardless, this feature request was pertaining to search and it appears #3388 introduces it, so it seems that this will be able to be closed. I'm looking forward to using it. Thanks!

[2021-09-23 19:22] dimitropoulos commented on #1864
sweet.  and hey, as always, if there's something you'd like to be improved about it let us know!  not sure about the resetting, so when can, please try it out and let us know.  "easy to use" is always our goal, and we're excited about this feature, too.

[2021-09-23 19:22] #1864 closed

[2021-09-23 21:30] augustoaraujoo commented on #923
i am also having the same issue

[2021-09-24 00:10] dimitropoulos commented on #923
Could you say a little more about what the circumstance is - and by that I mean, is this a company computer where there are restrictions on writing?  It's always useful if you can provide a screenshot or a log, and also some OS information (and insomnia version).

[2021-09-24 12:52] LeoAlvesBahia commented on #3786
Hello @dimitropoulos. Sorry for the 2 days delay. Im doing the tests right now and dicovered something new, I'll try to explain the best I can.
Lets take the exemple where I do a send on requests2 and request2 is linked with request1. While on the screen of request2 is counting If I click on request1 this request have the new return (I can assure the return is new by the time from the top right) w

[2021-09-24 13:21] LeoAlvesBahia commented on #3786
I had to stop the testing for now. I tested the version 2021.5.3 with the folder %APPDATA%/Insomnia erased.
made around 10~15 GET to exemple.com and it did without any problem fast. Next I'll build a chained request from scratch to one of my working endpoints.

[2021-09-24 18:05] johnwchadwick commented on #2964
Sorry for all of the delays, everyone. Just to let you know, we will be looking into this again. I've taken a look at this a couple times before, so I'd like to add some technical details to make it clearer why this has not happened yet.

One of the bigger blockers in our way was GitHub Actions, but unbeknownst to me it seems like [GitHub Actions is unblocked and now has Big Sur runners generally

[2021-09-25 04:00] anyforever opened #4051 "Query url preview display error."
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.3

### What operating system are you using?

Windows

### Operating System Version

Win10

### Installation method

download and install

### Last Known Working Insomnia version

[2021-09-27 13:30] AleksaKolarski opened #4052 "Path has $ appended when it does not contain a variable"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2.3.2

### What operating system are you using?

Windows

### Operating System Version

Windows 10

### Installation method

npm

### Last Known Working Insomnia version

_No response_

[2021-09-27 22:07] develohpanda commented on #4051
Thanks for reporting @anyforever! This has been resolved by #3995 but not released yet. We aim to have a beta or stable release towards the end of October, which will include this fix.

[2021-09-27 22:07] #4051 closed, assigned to nobody

[2021-09-27 22:17] develohpanda commented on #4052
Thanks for reporting this @AleksaKolarski! To make sure I understand, the `kong-spec-expose` plugin enables a `/specz` path against all routes, but the declarative config generation for Kong generates the path as `/demo2/test$` resulting in `/demo2/test/specz` not being matched. Is that right?

@Tieske would you have any thoughts here? Forcing the route path end marker was done so in #3066. I wond

[2021-09-28 00:12] brian316 commented on #3906
the issue is annoying. the only way around it is to click another request and then go back for it to update

[2021-09-28 06:52] AleksaKolarski commented on #4052
@develohpanda That is correct!

[2021-09-28 22:06] SohamJ opened #4055 "Request Chaining: "Always" trigger behavior fails to invoke chained request on first attempt"
### Is there an existing issue for this?

- [X] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for a bug that matches the one I want to file, without success.

### Insomnia Version

2021.5.3

### What operating system are you using?

macOS

### Operating System Version

Catalina 10.15.7 (19H2)

### Installation method

homebrew

### Last Known Working Insomnia ver

[2021-09-29 14:16] alk-mandrianarijaona commented on #4018
I see the same behaviour on macOs

[2021-09-29 14:37] alk-mandrianarijaona commented on #4018
@dimitropoulos I can work on this issue, can you assign it to me please?

[2021-09-29 15:36] mikaoelitiana commented on #3984
Is anyone working on this? I am interested to take it

[2021-09-29 16:49] dimitropoulos commented on #3984
not so far as I'm aware!  please feel free to give it a shot!

[2021-09-29 20:00] Tieske commented on #4052
The problem is with the `kong-spec-expose` plugin. The `$` at the end is there since the OAS spec lists exact paths. So if the generated path would be; `/mypath` then Kong would match `/myapth`, but also `/mypath/and/something/else` since Kong matches on prefixes, not exact paths. By adding the `$` it makes sure that Kong only honours exact matches. As it should.

So the plugin should be updated t

[2021-09-29 20:10] AleksaKolarski commented on #4052
I agree. I'm looking into better ways to expose OAS from services. Thanks!

[2021-09-29 20:10] #4052 closed, assigned to nobody

[2021-09-30 07:52] Tieske commented on #4052
@AleksaKolarski one way to do that would be to send a PR for Kong's `request-termination` plugin, and add an option to send a repsonse from a file? You can already use that plugin by copying the entire OAS spec into the `body` parameter I guess.

[2021-09-30 13:41] nymous commented on #2657
The issue hasn't reproduced since, so either something changed in Insomnia or we changed something with our redirects ^^'
Anyway, I'll close the issue.

[2021-09-30 13:41] #2657 closed, assigned to nobody

[2021-09-30 16:14] eldon111 commented on #2220
I'm having the same issue with Bitbucket v7.6.3

[2021-10-01 10:31] #3242 closed, assigned to nobody

[2021-10-01 12:07] dimitropoulos commented on #2301
this should be fixed by https://github.com/Kong/insomnia/pull/4022 which should be in the next release

[2021-10-01 12:07] #2301 closed, assigned to nobody

[2021-10-01 12:08] dimitropoulos commented on #2023
this should be fixed by https://github.com/Kong/insomnia/pull/4022 which should be in the next release

[2021-10-01 12:08] #2023 closed, assigned to nobody

[2021-10-01 12:08] dimitropoulos commented on #1124
this should be fixed by https://github.com/Kong/insomnia/pull/4022 which should be in the next release

[2021-10-01 12:14] dimitropoulos commented on #2657
thanks for the followup and apologies that no one responded.  we're trying to be more responsive than we were able to be in the past.

[2021-10-01 14:23] Samad-Shaikh opened #4061 "Bearer Token is passed as null even after setting the token"
### Is there an existing issue for this?
- [x] I have searched the issue tracker for a bug that matches the one I want to file, without success.

Insomnia _Info_

Release date: 9/13/2021
OS: Windows_NT x64 10.0.19042
Electron: 11.2.3
Node: 12.18.3
V8: 8.7.220.31-electron.0
Architecture: x64

### Last Known Working Insomnia version
not known

### Expected Behavior
a kvp named "Authorization" : "Bea

[2021-10-02 14:42] crimsonvspurple commented on #2640
This is still a valid issue and insomnia often overwrites that field by itself too.

[2021-10-02 21:11] tom-at-bowntie commented on #2458
@develohpanda I'm running into this currently and can't push or pull any code to a private repo. My info:

[code]

And the error I'm seeing in the developer console tools:

`[ErrorModal] TypeError: Cannot read property 'request' of undefined
    at Object.request (bundle.js:130995)
    at async Function.discover (/Applications/Insomn…-git/index.cjs:6559)
    at async Object.getRemoteInfo (/Applica