[2020-03-09 23:06] #1974 closed, assigned to nobody

[2020-03-09 23:07] gschier commented on #1971
The best way to go about this would be to create your own plugin.

I just did a quick search and it looks like someone already has https://www.npmjs.com/package/insomnia-plugin-base64-file

[2020-03-09 23:07] #1971 closed, assigned to nobody

[2020-03-09 23:12] gschier commented on #1990
Can you provide a PR with a fix?

[2020-03-09 23:15] gschier commented on #1976
@etauker the best way to go about this would be to fork the prompt plugin and modify it to your needs. It is not meant for storing sensitive information.

As for the original issue. Values are not meant to reset after restarting Insomnia. What you're seeing is expected behavior. To reset a prompt that uses a storage key, you need to change the storage key.

[2020-03-09 23:15] #1976 closed, assigned to nobody

[2020-03-09 23:19] gschier commented on #1981
I agree that this would be very useful! Any ideas of how this could be signified in the UI?

[2020-03-09 23:47] asyba commented on #905
I fix it with "npm init" , what version of npm and node do you have?
I have npm 6.13.4
node v12.16.1

[2020-03-09 23:48] asyba commented on #1989
@gschier I should close this or leave open?

[2020-03-10 06:54] eregnier commented on #1975
I have no backup, only the .config/Insomnia folder. It does not work as expected. That's strange as zll other software continued ,working the same with rsync

[2020-03-10 08:03] barseghyanartur commented on #905
Node.js: v13.5.0
npm: {
  npm: '6.13.4',
  ares: '1.15.0',
  brotli: '1.0.7',
  cldr: '36.0',
  icu: '65.1',
  llhttp: '2.0.1',
  modules: '79',
  napi: '5',
  nghttp2: '1.40.0',
  node: '13.5.0',
  openssl: '1.1.1d',
  tz: '2019c',
  unicode: '12.1',
  uv: '1.34.0',
  v8: '7.9.317.25-node.23',
  zlib: '1.2.11'
}

[2020-03-10 12:18] m-v-k commented on #1841
Really Really need Team Collaboration (the $8,- one) support for Single Sign On (we use AzureAD but any openid-connect provider should be possible).
i cannot manage 80+ developer accounts in all tooling that my company uses :(
i want to move to insomnia for all our devs, but we really need this.

[2020-03-10 14:18] collinzh commented on #1982
Hey @gschier ,

Thanks for responding. The issue isn't with selecting a specific file, it's about just opening the "Choose File" dialog window. Clicking on "Choose File" button simply freezes Insomnia for a few seconds, and nothing happens.

[2020-03-10 15:33] tobylo commented on #1367
Just stumbled upon this myself, e.g. https://github.com/MicrosoftDocs/vsts-rest-api-specs/blob/master/specification/build/5.0/build.json will fail with "Maximum call stack size exceeded".

[2020-03-10 23:53] gschier commented on #1972
Since this is such a specific use-case, I suggest writing a plugin to accomplish what you need. For example, you could have a plugin that stores its own token and manually refreshes it (if needed) on the "request hook" event. You could also fork the current Response plugin to add the functionality needed as well.

[2020-03-10 23:56] gschier commented on #1970
This looks to be an issue with the [`httpsnippet`](https://github.com/Kong/httpsnippet) library used to generate the Curl command.

[2020-03-10 23:59] gschier commented on #1982
Thanks for clarifying. I'm not able to reproduce the issue on my machine, unfortunately.

![image](https://user-images.githubusercontent.com/587576/76369327-6b4b6e00-62f0-11ea-8500-e3d7804ca44e.png)

[2020-03-11 00:02] gschier commented on #1989
Will leave it open for now, as it's technically a bug with the Snap package.

[2020-03-11 00:05] gschier commented on #1975
If you inspect the `*.db` files in the `Insomnia/` folder, do you see your data in there?

Also, be sure to check Help > Show AppData Folder within Insomnia to ensure it's pointing to the same place as before.

[2020-03-11 00:09] gschier commented on #1965
Development should use the same version of Node that is included in the Electron dependency. Currently, it's 10.

12 won't work right now because it fails to build our native `libcurl` dependency. I'll update the readme to point to the `.nvmrc` included in the project.

[2020-03-11 00:10] #1965 closed, assigned to nobody

[2020-03-11 06:49] Olimovv commented on #1659
Is it possible to send this files in one variable?

[2020-03-11 08:39] masseelch opened #1991 "[Bug] 301 Moved Permanently - Cache Issue"
**Describe the bug**
Calling a route which returns a 301 response correctly redirects. If the route then no longer returns a 301 insomnia still will redirect to the resource. I cannot find any other way then completely wipe out all insomnia configuration to reset this cached redirect.

**To Reproduce**
Steps to reproduce the behavior:
1. call a route which returns 301
2. let the route no longer re

[2020-03-11 10:35] fmeriaux commented on #1653
We use it too, it'd be really cool to have it.

[2020-03-11 18:59] #1990 closed, assigned to nobody

[2020-03-11 20:52] nijikokun commented on #1954
Could have the site (https://github.com/kong/insomnia.rest) source from the releases release notes; wouldn't be too different from the npm package sourcing

[2020-03-11 21:52] gschier commented on #1962
Ah yes, ARM seems like a good target to support as it's likely the future of computing.

From that article, it seems like there are a few hurdles to overcome:

- Node 12 is recommended, which we can't use until we upgrade electron #1847
- Will likely need an ARM CI environment to build within (does GH Actions support Windows ARM?)

It seems like it should be fairly trivial after these two things a

[2020-03-11 22:15] #1935 closed, assigned to nobody

[2020-03-11 22:41] #1952 closed, assigned to nobody

[2020-03-12 08:43] serpilacar commented on #1904
What does it display as an error when you hover on the underlined part? I've tried it on my local but it underlines item if the query doesn't contain that variable.

[2020-03-12 10:15] michaelversus opened #1993 "[Feature Request] access to exportHARRequest for the plugins API"
It would be nice to have access to **exportHARRequest** function from the plugins API so that we can write custom httpSnippets for networking code.

Thank you!
Great software!!

[2020-03-12 10:48] yatmanov opened #1994 "[Bug] Insomnia shows blank/white window after deleting all workspaces"
-  Insomnia Version: 7.1.0
 -  Operating System: Windows 10

**Details**
After removing all workspaces Insomnia shows blank/white window. Restarting the program fixes this bug by creating the default workspace though.

**Steps to reproduce**:
1. Go to 'Workspace Settings'
2. Click on 'Delete'

**Outcome**
Insomnia window becomes blank/white.

**Expected outcome**
Insomnia restricts deleting the la

[2020-03-13 15:16] sturose commented on #1907
Is there any thoughts on the feasibility of this from a dev's perspective?  Right now, in order to edit a variable's value, I have to click 3 times, then find the element by eye inside of a json object to update it, which is quite cumbersome.

[2020-03-13 16:51] jialu98 commented on #431
Support for a portable edition of Insomnia on windows

[2020-03-13 17:44] damajor commented on #431
Please reopen.

[2020-03-13 21:53] revnode commented on #1962
I was able to build it without issue on a CentOS 8 x64 Intel system running node v10.16.3

[code]

Of course, it built it for Linux arm64, so not terribly useful unless you're running Linux. Will try to build it on Windows 10 x64 Intel next.

[2020-03-14 00:57] benholz commented on #1743
Well, after encountering this error and almost giving up, I ended up getting this working. What I think was happening is that I had php5 libraries in my /usr/local/lib directory. I had just migrated over to a new machine so PHP v7.4 was already installed in /usr/bin so all I had to do was run: `brew link --overwrite php ` and now Insomnia works! Excellent!

[2020-03-14 05:12] #1994 closed, assigned to nobody

[2020-03-14 11:08] michaelversus commented on #1993
found out that this can be done with the workspaceActions instead of requestGroupsActions

[2020-03-14 11:08] #1993 closed, assigned to nobody

[2020-03-16 06:31] tercteberc opened #1998 "[Bug] Partial synchronization"
Hello!
Thank you very much for the cool product!
I'm having trouble syncing. I have one account and several machines. Both machines operate on a MacOS system. Almost every time I synchronize one of my workspaces, I get the following result: my folder that I created is synchronized, but there are no requests inside it! When I create requests on one machine and sort them into directories, only direc

[2020-03-16 09:22] JuricT commented on #1659
To upload files in one variable
<img width="744" alt="Снимок экрана 2020-03-16 в 11 20 44" src="https://user-images.githubusercontent.com/16841864/76741433-35870900-6778-11ea-9eba-93d968c4c812.png">

[2020-03-16 12:46] m-v-k opened #1999 "[Feature Request] Single Sign On Support (SSO)"
Really Really need Team Collaboration (the $8,- one) support for Single Sign On (we use AzureAD but any openid-connect provider should be possible).
i cannot manage 80+ developer accounts in all tooling that my company uses :(
i want to move to insomnia for all our devs, but we really need this.

[2020-03-16 22:12] hyshka commented on #1885
I have a similar issue except I get the full white page when trying to open preferences at all, perhaps because it defaults to the "General" tab.

- OS: Arch Linux 5.5.8-arch1-1
- Installation Method: AUR
- App Version v7.1.1

[2020-03-17 00:26] gschier commented on #1991
Hmm, that's interesting. I guess `libcurl` is remembering 301 (permanent redirect) redirects as it is supposed to. However, you're correct that this behavior does not really make sense for an app like Insomnia.

After some Googling, it doesn't look like there's a way to have libcurl not cache 301s. Does it reset after Insomnia is restarted @masseelch?

[2020-03-17 00:30] gschier commented on #1998
Have you, by any chance, ever moved a request from one workspace to another?

One thing to try is to duplicate the workspace and sync the duplicated one, which will generate new IDs for all local resources. Insomnia can sometimes get into a weird state if, for example, you were manually sharing workspaces via import/export before signing up for sync.

[2020-03-17 00:47] gschier commented on #1999
Hi @m-v-k,

This is something we've been hearing from other large organizations as well and is something we'll be focusing on going forward.

I know this explanation won't help your current situation, but the reason Insomnia does not currently support SSO is because it uses end-to-end encrypted sync, requiring each user to have an email and password to encrypt/decrypt data. Even with SSO, users wo

[2020-03-17 07:45] Azumi0 commented on #203
2020 and still not a sign of this feature :( I guess I have to use postman untill this becomes a thing :(

[2020-03-17 20:05] eMerzh opened #2000 "[Feature Request] Add support for GraphQL defaultValues"
I was trying to browse the documentation of some input of my mutation,
and it seems that Insomnia does not display default values
( looks like this `isGlobal: Boolean = false`)

It would be great if it could be displayed at least in the code pane

currently

<img width="278" alt="image" src="https://user-images.githubusercontent.com/177003/76900427-9f4b0400-6899-11ea-846b-28177be62b76.png">

[2020-03-17 20:53] eMerzh commented on #2000
FTR github explorer displays
<img width="231" alt="image" src="https://user-images.githubusercontent.com/177003/76900482-ba1d7880-6899-11ea-8a80-69173e1028ff.png">

[2020-03-17 21:51] masseelch commented on #1991
Restarting does not reset the cache. A fresh install, which essentially deletes the cache folder of insomnia, does reset the saved 301.

[2020-03-17 22:04] masseelch commented on #1991
BTW, as far as I know libcurl does not cache anything. But I might be wrong there.

[2020-03-18 03:18] artificial-cassiano commented on #528
any idea about the timeline for the release of WebSockets support on Insomnia? (ps: I like this tool a lot! great job building it).

[2020-03-18 07:04] tercteberc commented on #1998
Yes, that’s exactly what happened!

Request files are sent to me, I import them to myself, but they appear in the workspace that I was thrown off. Because of what I have to move these requests to my space.

Probably duplication will solve my problem, but what about next?)) Do I have to duplicate my workspace every time in my situation?

[2020-03-18 09:22] PHBMdeveloper commented on #758
It would be great too if the repetition saved a list .. ;-)

[2020-03-18 18:49] toughengineer commented on #528
I actually implemented my own (shitty and ugly) one-page WebSocket client for the application I'm testing (using stackoverflow, MDN, W3Schools, etc.), though with blackjack, and hookers! 😁
Still have no idea how to do it within a Node app.
<details>
<summary>Here is the gist of it...</summary>

[code]

</details>

Not rocket science at all.

[2020-03-18 18:58] #2000 closed, assigned to nobody

[2020-03-18 19:15] revnode commented on #1962
Didn't have much luck with Windows 10. Crashed during packaging. I think it's related to electron-builder. It would build for x64_x86, but crash when specifying arm64 as a target.

[2020-03-18 22:09] GrangerAts commented on #217
It looks like this is "dead", and that's really, really sad. There's really no way to "setEnvironmentVariable" from a response? I see that in a response, you can use "getEnvironmentVariable", but that's not helpful for this.

As has been well-said previously, it's critical to be able to set an Environment variable from data in the response of a request. But there doesn't even seem to be a way to w

[2020-03-19 03:40] matheust3 opened #2004 "[Bug] Short issue title"
**Describe the bug**
Error starting the snap package on arch linux.

[code]
[code]

[code]

[2020-03-19 09:43] m-v-k commented on #1998
i have the same issue, sync is not fully functioning
- i created a new workspace
- added 1 requests
- invite 2 colleagues to the workspace
- added 1 requests
- added subenvironments & added vars (also to base)
all was good so far.
next day:
- my colleague changed 1 var in a subenvironment
- all of my environments were empty for over 10 minutes
- the subenvironments were eventually synced to me, al

[2020-03-19 11:58] IndrekHaav commented on #1986
I also get the same "SSL connect error" message when trying to connect to a GraphQL API running on Debian + Apache 2.4. Cert is signed by an internal CA, but everything has worked fine previously, and still works fine in other clients (e.g. Postman). Certificate validation is disabled.

**To Reproduce**
Same as above - create and send a new request.

Timeline:
[code]

**Expected behavior**
GraphQL

[2020-03-19 18:57] JuMp3 commented on #1659
Sorry if I allow myself @JuricT , but the correct way is:
![immagine](https://user-images.githubusercontent.com/13451331/77104107-c2052600-6a1b-11ea-9ee8-35af6989f2f4.png)

Thanks

[2020-03-19 19:48] zakini commented on #1932
There's already a feature request for OpenAPI v3 export (#1778) which is the spec that Swagger conforms to

[2020-03-19 20:39] xanderbuck commented on #1784
@elemanhillary any update on this?

[2020-03-19 22:02] mikeh-35 opened #2005 "[Question] Use templates for multiple graphql examples"
Is it possible to use a templating system to replicate Postman's ability to add multiple examples of queries to a single endpoint?

For example a basic query of:

[code]

Plus examples of filtered queries such as:

[code]

[2020-03-20 02:38] leonbreedt commented on #1885
Also on Arch (5.5.9-arch1-2), AUR package, v7.1.1.

Something is suspect about the AUR created package, when I build Insomnia from Git repository and run it, it works fine, see screenshot:

![insomnia-preferences](https://user-images.githubusercontent.com/167841/77131524-c1729b00-6ac0-11ea-89c0-edfc352d3743.png)

[2020-03-20 03:16] vscncls commented on #1885
The AUR package simply [dowloads the official .deb, extracts it, and adds a script that executes it to $PATH](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=insomnia). My guess is, because it's expecting a debian based distro (ubuntu), some dependency got messed up. btw, where did you find instruction to build from source? @leonbreedt

[2020-03-20 08:54] leonbreedt commented on #1885
Yeah, I suspect as well there's some binary incompatibility with the .deb vs Arch. Perhaps the AUR could instead perform a build as well? I followed the instruction from this repository's README:

[code]
Note that it needs Node.js 10.x, the latest one in the repository causes the build to fail with V8 errors.

I'm using `nodejs-lts-dubnium`.

The app package fails because it tries to do some RPM s

[2020-03-20 11:26] joel-daros commented on #1851
+1 for having a keyboard shortcut for Beautify.

[2020-03-20 12:37] vscncls commented on #1885
Just tested and it works perfectly when built from source!

[2020-03-20 12:37] #1885 closed, assigned to nobody

[2020-03-20 20:41] vscncls commented on #1885
If anyone is interested, I just adopted and updated the [insomnia-src AUR package](https://aur.archlinux.org/packages/insomnia-src/). Because it's built from source, it doesn't have this bug.

[2020-03-21 05:57] hungtcs commented on #203
I need this feature because I want to solve the encoding problem

[2020-03-21 14:18] crash7 commented on #1661
@knomdlo me too! We are looking to do the same thing!

[2020-03-21 22:20] TCFox opened #2006 "[Feature Request] OpenID Connect Auth: Auto-populate values"
**Is your feature request related to a problem? Please describe.**
One thing that I find I spend a lot of time doing is adding fiddly authentication details to the Authentication tab, particularly when a request needs to auth using OAuth 2.0 flows. I often find myself manually copying these details out of the standardised document exposed at `https://identityprovider.domain.tld/.well-known/openid-

[2020-03-22 02:31] privettoli commented on #993
The solution that @gschier suggested (to set value to __Di$aB13d__) worked for me. Thanks!

[2020-03-23 16:18] manoger commented on #1932
Thanks.

[2020-03-23 16:18] #1932 closed, assigned to nobody

[2020-03-23 18:39] gschier commented on #2005
It's not possible with templating, but you can add both queries to a single request and use a fragment to help with duplication:

![image](https://user-images.githubusercontent.com/587576/77351402-f23e1480-6cfa-11ea-977d-d2ff34c68f5d.png)

[2020-03-23 18:39] #2005 closed, assigned to nobody

[2020-03-24 09:26] imrishabh18 commented on #1944
Hey @gschier , i want to work on this issue. Can you guide me how to add this feature ?

[2020-03-25 04:12] kimjoaoun commented on #2004
Same problem here with Manjaro KDE.
After:

`sudo snap install insomnia`

When I run...

`insomnia
Error org.freedesktop.DBus.Error.Failed: cannot use setting "default-url-scheme-handler": not allowed
[fix] Running database repairs
[db] Initialized DB at /home/joaopsantos/snap/insomnia/62/.config/Insomnia/insomnia.$TYPE.db
Init responses DB
[localstorage] Initialized at /home/joaopsantos/snap/inso

[2020-03-25 12:17] iagxferreira commented on #2004
same problem with Arch XFCE

[2020-03-25 13:28] rohinrohin commented on #1752
Hey @gschier - I am still interested in building this. Would you be able to help me out on some of the implementation details?

Here is my current thought process:
1. Build a plugin that is able to export and import current workspace
2. Link the exporter to a version controlled (git) repo to track all the changes.
3. Exporter will show conflicts in the UI and the user can resolve the conflict.
4.

[2020-03-25 19:49] kimjoaoun commented on #2004
I "solved" this by giving up on the snap option, installed [insomnia via AUR.](https://aur.archlinux.org/packages/insomnia/).
First I uninstalled the Insomnia snap version, then...
Cloned the git repo by typing this on the terminal:

`git clone https://aur.archlinux.org/packages/insomnia/`

then, I wrote:

`cd insomnia`

and finally:

`makepkg -si`

I ran insomnia just typing its name on the termi

[2020-03-25 21:26] forrest-lookback commented on #1000
I'm also encountering this even on the latest release release of Insomnia, what can we provide data wise to try and get this resolved?

[2020-03-27 02:33] erlangp commented on #1944
I think it's already added in version 7.1.1 Thanks :)

[2020-03-27 02:57] develohpanda commented on #1944
Hi @imrishabh18, awesome! 🎉

In the `build.js` file that Greg mentioned, there is a function called `generatePackageJson()` that outputs a `package.json` file containing some app specific data.

In particular, the `package.json` contains a version number.
https://github.com/Kong/insomnia/blob/0b0c5baa0e55c847583f679becc5dd8c422a6855/packages/insomnia-app/scripts/build.js#L214

This version number

[2020-03-27 09:31] woobhurk opened #2010 "[Feature Request] Store more Response History in Insomnia"
Hello! Sorry for my bad English.

Can you make Insomnia store more response history? The current history size is too small for me. If possible, please add an option that can set the history size. Greatly appreciate you work, thanks!

[2020-03-27 11:16] imrishabh18 commented on #1944
@develohpanda Hey, thanks for explaining it so clearly. But i am having an issue setting up insomnia. I have cloned this repo and now running `npm run bootstrap` as said in the initial setup dev in readme but this shows an error the `lerna is not recognized as an internal command` so what should i do next. And also apart from cloning this repo do i even need to download insomnia from there website

[2020-03-27 18:32] dgilbertsei opened #2011 "Enhancement request; Provide option to sort Requests on left panel alphabetically."
It would be very useful if an option was provide to sort the list of Request items (left panel) alphabetically. Thanks!

[2020-03-28 13:38] AryanshMahato commented on #1127
I am having this same issue

[2020-03-29 14:59] wellingtonmacena commented on #1555
Bad post requisitions.
I spent hours reviewing my code just to realize the bug wasn't in my application.  You should tell users about the issues software has.

[2020-03-29 15:38] 4n70w4 opened #2012 "[Improvement] Plugin API to send new request in response hook"
**Is your feature request related to a problem? Please describe.**
An external API does not always respond successfully. Server errors for example 50x or `429 Too Many Requests` may occur. Manually pressing the send button while waiting for a successful response can be tedious.

**Describe the solution you'd like**
Be able to set the number of retries and the expected/unexpected status codes of th

[2020-03-29 16:51] imrishabh18 opened #2013 "[Question] How do i setup insomnia for development having issues ?"
I want to setup insomnia for development. So , I have already forked and cloned the repo. But when running the `npm run bootstrap` as said in the readme intial dev setup it gives an error `lerna not an internal or external command` so how should i go about this. And, do i also need to install the insomnia from the website so that when i make changes in repo it is seen over there ?

[2020-03-29 19:20] ranjan-purbey opened #2014 "[Feature Request] Refetching the schema doesn't refresh the currently open docs page"
When a user re-fetches the schema with one of schema docs page already open, the page doesn't refresh after a successful request. The only way to reload the docs is to either close the docs panel and re-open it, or to go back to the root query and navigate to the page again.

It will be really helpful, especially in early prototyping stage of an API to refresh the page automatically.

[2020-03-30 01:26] develohpanda commented on #1944
No worries!

The first command that is run in `npm run bootstrap` is `npm install`, which should install `lerna`.

If you simply run `npm install`, do you see any errors? Also, are you able to see  `@lerna` under `node_modules`?

<img width="484" alt="Screen Shot 2020-03-30 at 2 22 23 PM" src="https://user-images.githubusercontent.com/4312346/77867031-02716900-7292-11ea-9db7-a7f1870d1fbe.png">

Al

[2020-03-30 16:53] starJammer commented on #2010
what's the current size?

[2020-03-30 18:01] stephanoparaskeva opened #2015 "[Bug] Insomnia Helper CPU up to 50% while Idle"
**Describe the bug**

CPU Usage rises to 50% max sometimes while insomnia is Idle, and Insomnia Helper is to blame in activity monitor. Tanked my performance in editor.

**Specs**
Macbook Pro Catalina i7 4cores 2.8ghz

**Insomnia**
Version: latest
Plugins: 1 plugin 'insomnia-plugin-default-headers'
Account: none

not logged in on insomnia at all

[2020-03-30 23:21] woobhurk commented on #2010
Well, I don't know. But I can only see no more than 50 entires in history.

[2020-03-30 23:27] gschier commented on #2010
There's a setting for this in the app preferences 👍

![image](https://user-images.githubusercontent.com/587576/77971346-46209e80-72a3-11ea-8f4c-fa7fcd1d6b8e.png)

[2020-03-30 23:27] #2010 closed, assigned to nobody

[2020-03-30 23:30] gschier commented on #2012
That's an interesting request! I'm not sure it makes sense to add such a specific feature directly to Insomnia, but it would be nice if the plugin API supported creation of such plugins.

Currently, there is a "response hook" plugin API for intercepting responses but there is no exposed way to send a new request from there. If there was, a plugin could be written to intercept all responses, check

[2020-03-30 23:33] gschier commented on #2013
That's a strange error. `npm run bootstrap` installs lerna before running any lerna commands.

Can you make sure you're running Node 10? If that doesn't work, you may be able to do `npm install -g lerna` as a workaround.

[2020-03-30 23:34] gschier commented on #2014
Oh, this is actually a duplicate of #1966

[2020-03-30 23:34] #2014 closed, assigned to nobody

[2020-03-30 23:37] gschier commented on #2015
Can you post a screenshot of activity monitor? This is what I'm getting

![image](https://user-images.githubusercontent.com/587576/77971815-8a606e80-72a4-11ea-8b14-9eda0b16f212.png)

Can you try backing up app data and seeing if it happens in a fresh install too? It could be request or response data causing issues.

1. Local app data folder from Help > Show AppData Folder
2. Rename (backup) folder

[2020-03-30 23:38] woobhurk commented on #2010
Wow, I have found it everywhere 😁. Thanks very much!

[2020-03-30 23:39] gschier commented on #2011
Hi @dgilbertsei, thanks for the suggestion! Can you provide more context as to why you'd find this feature useful? What problem are you having that would be solved by being able to sort requests by name?

[2020-03-30 23:40] gschier commented on #2006
Thanks for the detailed request! This definitely seems like it has the ability to save a lot of time for OpenID users.

We currently don't have the bandwidth to work on this, but if you (or someone else) wants to make an attempt, we'd be happy to offer high-level guidance.

[2020-03-30 23:43] gschier commented on #1991
I didn't think it cached anything either. Insomnia defers to `libcurl` for all redirect handling so it's hard to say what's going on for sure.

Can you test `curl` (not necessarily the same behavior as libcurl) from the command line to see if it exhibits the same behavior?

[2020-03-30 23:48] gschier commented on #1841
We hear you @m-v-k! 😄

We're aware of the issues larger orgs face by not supporting SSO and it's something we'll be working towards going forward.

[2020-03-31 05:38] ranjan-purbey commented on #1966
May I take up this issue?

[2020-03-31 05:52] ahatzz11 opened #2016 "[Feature Request] Add option to show curl"
**Is your feature request related to a problem? Please describe.**
I used to use PAW and have recently been trying out insomnia. My one big pain point is I can no longer see the curl alongside my request.

The one thing I find myself doing a lot is having to click on or hover over my `base_url` environment variable as a double check of what that variable is, or using some other command like `cmd+s

[2020-03-31 05:58] ahatzz11 opened #2017 "[Feature Request] Add keyboard shortcuts to switch environments"
**Is your feature request related to a problem? Please describe.**
I switch environments a lot and manually having to click (or arrow through) to select environments is something I spend a lot of time doing.

**Describe the solution you'd like**
I'd love to be able to switch environments with hotkeys. It is possible to have many environments and you're able to re-order the environments, so the ord

[2020-03-31 06:06] ahatzz11 opened #2018 "[Bug] Hotkey to show keyboard shortcuts conflicts with macOS"
**Describe the bug**
The default keyboard shortcut to bring up the keyboard settings is `cmd+shift+/`

![image](https://user-images.githubusercontent.com/6256032/77992323-7855ee80-72eb-11ea-8879-440903b3a6f0.png)

However, macOS has this as a default key binding that brings up the 'help' menu:
![image](https://user-images.githubusercontent.com/6256032/77992369-8c015500-72eb-11ea-8cb5-18466fd04fdb.

[2020-03-31 08:22] Kirjy commented on #217
Il looks doable for me now. If you take a look at the [documentation](https://support.insomnia.rest/article/43-chaining-requests) it explains how to do it.
You can set an environment variable as a part of the response of a request.
Sadly, I didn't figure out how to use two different routes for the same variable.

[2020-03-31 09:21] Kirjy commented on #1167
Chaining request seems to do part of the job but not entierly.
If you have 2 different possible resources to authenticate, I didn't figure out how to put the last result of the last executed request into the variable. It seems you just can put the result of only one request per variable. Am I mistaken ?

[2020-03-31 10:32] stephanoparaskeva commented on #2015
I've done a fresh install, problem hasn't re-occurred since rebooting laptop. Didn't manage to screenshot activity. Got a feeling it will happen again so when it does will post here.

[2020-03-31 11:15] djibarian opened #2019 "Show interface Implementations and Implements in GraphQL schema"
Currently are not shown. It would be good to have them shown in the schema. Otherwise a key part is missing in the documentation if using interfaces. A good example to look at can be found in GraphiQL schema.

[2020-03-31 12:07] imrishabh18 commented on #2013
@gschier Thanks, I got it solved.

[2020-03-31 12:07] #2013 closed, assigned to nobody

[2020-03-31 12:17] dgilbertsei commented on #2011
I've created dozens of requests and use a specific naming convention, so it would just be a convenience to have them automatically sort rather than me having to drag each one as it's created to the correct position in the list. This feature is also missing from SoapUI and it's one of the features I was hoping to find in Insomnia. But Insomnia does allow for nested folders which is very useful for

[2020-03-31 19:07] GrangerAts commented on #217
That's old news, unfortunately. We need the opposite:  We want N number of different requests to each be able to independently **push** a change to an environment variable, based on the response, when they're executed. The "response chaining" docs talk about being able to **pull** data from the response of a single request.

There are presently 2 lame workarounds which would allow you to use "requ

[2020-04-01 02:34] lukik commented on #1003
I've been coming to Insomnia on and off over the last few years. Every time I get here, I import an API collection from postman with hundreds of APIs only to find that in Insomnia I can't open multiple tabs. So I usually close Insomnia and go back to Postman.

**Prominence**
All opened issues requesting for multiple Tabs (e.g. #1175 and #1123) are marked as duplicate and linked to this one. Howeve

[2020-04-01 12:31] ianbarker commented on #1986
I had this with an Nginx server, I found that adding `ssl_protocols TLSv1.2` to the vhost config made it work. Previously I only had `ssl_protocols TLSv1.3`, I'm guessing that Insomnia doesn't support TLSv1.3.

[2020-04-01 13:16] IndrekHaav commented on #1986
In my case TLS v1.2 was enabled, but thanks to @ianbarker's comment I poked around in Apache vhost settings and found that the culprit was the `SSLCipherSuite` directive. It contained a fairly lengthy list of ciphers, and changing the value to `HIGH:!aNULL:!MD5` made Insomnia work. I could have probably tweaked it by trial-and-error to add some cipher that works with Insomnia, but since it's a dev

[2020-04-01 17:27] rafaelrenanpacheco commented on #1717
Is this still an issue?

[2020-04-01 17:53] masseelch commented on #1991
Will do on the weekend :+1:

[2020-04-01 18:02] markholden1 opened #2021 "sslkeylog feature"
I have a feature request for Insomnia regarding saving the sslkeylog.
This will help when using Wireshark for packet captures.
We need a feature similar to the -ssl-key-log-file parameter that chrome.exe provides.
It looks like Open SSL 1.1.1 has this feature with a callback function.
Can we get Insomnia updated to Open SSL 1.1.1 and add a feature to save the keylog.
This feature can either be in

[2020-04-02 08:11] 7sDream opened #2022 "[Feature Request] Customizable fallback font"
Recently, I need to work with some non-English API, it returns some Chinese and Japanese charcters, but I still want use beautiful code fonts like FiraCode, Cascadia, JetbrainsMono, etc...

But those font can't render CJK chatacters, so it fallback to some, let's say, "system font", but it's little too shin and hard to read for me.

So I'm wordering if insomnia can add a option to customize fallba

[2020-04-02 09:16] rst5nn commented on #1717
Not sure this is the latest version but issue still exists.
![image](https://user-images.githubusercontent.com/1073415/78231591-b7e32d00-74db-11ea-8393-7c9c40c49f53.png)

[2020-04-02 13:37] chasingmaxwell opened #2023 "GraphQL query prettification doesn't handle a large number of arguments very well"
When a query contains a field or named query with a large number of arguments, the "Prettify GraphQL" button condenses them all down to one line when a multi-line format would be easier to read. Here's a very contrived example:

![Selection_081](https://user-images.githubusercontent.com/3128659/78255378-3bddea80-74c5-11ea-8ee6-625bdf19884b.jpg)

I think something like this would be easier to read:

[2020-04-02 19:32] gschier commented on #2018
Hmm, this is strange. For me, on macOS, it correctly shows the keyboard shortcuts dialog in Insomnia.

However, it _does_ conflict with the OS-level shortcut so I agree that we should change the default.

[2020-04-03 00:50] stephanoparaskeva commented on #2015
@gschier
Here insomnia helper is only using 6%, but I think there is a leak somewhere as I'm sure Insomnia is *requesting* high CPU usage from the system and being stopped by kernal_task which then runs many threads and causes laptop to overheat.
<img width="935" alt="Screenshot 2020-04-03 at 01 47 50" src="https://user-images.githubusercontent.com/40718272/78313035-7d19dd00-754d-11ea-8ca5-c02c055

[2020-04-03 07:10] stdedos opened #2025 "[Bug] Application menu is hidden in non-Unity Ubuntu Xenial"
**Describe the bug**
The application menu is hidden in Ubuntu Xenial, even though the rendering environment is **not** Unity

**To Reproduce**
Steps to reproduce the behavior:

1. Use xpra in Ubuntu Xenial
2. From a Windows xpra client, start insomnia

**Expected behavior**
Menus are not hidden

[2020-04-03 10:38] seanghay commented on #2023
Love it

[2020-04-03 18:01] gschier commented on #2023
While I agree that having prettier be part of the app would be awesome, it's a huge dependency to be adding just to format a GraphQL query.

I was talking to the team about this yesterday and we came to the conclusion that this would be great to expose as a plugin API behavior. A "Prettier Format" plugin would be self-contained and easy to install for those who want it.

[2020-04-03 18:03] gschier commented on #2023
I was talking to the team about this yesterday and we came to the conclusion that this would be great to expose as a plugin API behavior. A "Prettier Format" plugin would be self-contained and easy to install for those who want it.

[2020-04-03 18:04] gschier commented on #2025
Can you post a screenshot of the current (and expected if possible) behavior?

[2020-04-03 18:04] chasingmaxwell commented on #2023
Sounds reasonable. I should be able to put that together shortly.

[2020-04-03 18:25] stdedos commented on #2025
It is complicated, but it's easy to imagine how it looks like.

Just, see the window as it appears on normal systems, with the file menu bar ... without that bar

[2020-04-03 21:34] 0xdevalias commented on #1310
This issue isn't stale, and this is still a very much desired flow. Postman is finally getting around to implementing it apparently, so if others end up here with a need, check out https://github.com/postmanlabs/postman-app-support/issues/3825

**Edit:** seems this is a dupe of https://github.com/Kong/insomnia/issues/1653

[2020-04-03 21:36] 0xdevalias commented on #1653
If this doesn't land here anytime soon, postman should have it added soon it seems: https://github.com/postmanlabs/postman-app-support/issues/3825

There was also a workaround posted by @clementcur in https://github.com/postmanlabs/postman-app-support/issues/3825#issuecomment-580786136

[2020-04-04 01:36] benemohamed opened #2027 "[Question] how export data with response ?"
**What is your question?**
Hey
I am trying to add response on the docs is work fine with Template tag .

 ![Screenshot from 2020-04-04 02-33-47](https://user-images.githubusercontent.com/49129795/78415899-bb320200-761c-11ea-8166-bd0a81eb4f16.png)

![Screenshot from 2020-04-04 02-27-29](https://user-images.githubusercontent.com/49129795/78415797-0861a400-761c-11ea-91be-bc2c675a3d63.png)

but the re

[2020-04-05 11:08] masseelch commented on #1991
curl does not cache / save 301 responses.

I called a route, returned 301 and curl followed.
Called route again, did return 200 and curl did not redirect.

[2020-04-05 14:27] jason2li opened #2028 "[Question] Can I set an environment variable depending on the last run endpoint?"
**What is your question?**
I'm using JWT authentication.  I have a /SignIn endpoint and a /Refresh endpoint.  Both of them return the same data model, which includes an access token.  I'd like to save the last called endpoint to an environment variable called "accessToken".  Is this possible?

**What is the context?**
In my scenario, the user signs in using the /SignIn endpoint.  I then save the r

[2020-04-06 18:37] 4n70w4 commented on #1940
Similar problem.

![image](https://user-images.githubusercontent.com/38257723/78593162-db490780-784e-11ea-9492-a113680f4a80.png)

[2020-04-07 23:52] qwo commented on #1903
I think I got this same error on same Windows 10 installation
Installing with administrator did not help
OS: Windows 10

Version 7.1.1
[code]

[2020-04-08 11:53] pgp opened #2029 "[Bug] [User-Experience] Pressing ESC while renaming object closes whole modal dialog"
**Describe the bug**
In some cases, if one's renaming an object, and presses ESC (to discard rename), the triggered action is exiting the current modal dialog, if any is open

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Manage Environments'
2. Double click on an existing environment to start renaming it
3. Press ESC key
4. The entire environment management window closes

**Expected

[2020-04-08 13:52] denniseffing commented on #1000
I have the same issue when my identity provider is hosted using a self-signed TLS certificate, even though "Validate certificates" is set to off in Insomnia settings.

[2020-04-08 16:38] serpilacar commented on #2029
I have faced the same problem on Mac. I believe it is a generic problem but I haven't encountered the same problem in other modals. What do you refer by "In some cases" @pgp ?

[2020-04-08 17:26] pgp commented on #2029
I wrote 'in some cases' because I was not aware whether there were other renamable widgets in contexts other than the environment manager modal window, that triggered the same situation.

[2020-04-08 21:17] jj0b commented on #1638
+1 to this feature request. Being able to save a workspace in a project's repository would be very valuable.

[2020-04-09 11:39] 28mandeep opened #2033 "I 'm working multiple API Post Requests using Insomnia. Is there a way I can save all of the responses in one go by a click of the button?"
Right now I'm creating multiple API requests and each one of them has a response in the right monitor. Now to further analyse each response, I would like to copy all of them in an excel or somewhere. But I don't think there is some feature like that unless I'm missing something.

[2020-04-09 16:10] maciejzukowski commented on #1755
Running the application from terminal gave me the following error when i try to perform any request.

`Insomnia Helper(73249,0x1137c9dc0) malloc: *** error for object 0x7ffa9c1b0658: pointer being freed was not allocated
Insomnia Helper(73249,0x1137c9dc0) malloc: *** set a breakpoint in malloc_error_break to debug
[73248:0409/120900.670265:ERROR:gles2_cmd_decoder.cc(18288)] [.DisplayCompositor-0x7

[2020-04-09 17:29] gschier commented on #2033
There is no supported way to do this but you could create a plugin. I haven't tested it out yet, but it looks like there might be one for this already, although it's undocumented https://insomnia.rest/plugins/@munenaga/insomnia-plugin-save-response/

[2020-04-09 18:39] vinisxs commented on #1972
@gschier This is not a specific case, when working with a authenticated API is a common case to have to refresh tokens after several minutes.

I'm chaining my request using a response tag requesting to my token server with trigger behavior to "no history" and sometimes I have to manually refresh the token.

It would be very useful to have a trigger option "expire after..."

[2020-04-10 05:56] zappatero commented on #2028
I would love to have this features as well. Like in Postman "setEnvironmentVariable".

[2020-04-10 19:39] imrishabh18 commented on #2006
@gschier Hey, can i take up this issue ?

[2020-04-11 09:35] mum-never-proud commented on #2018
@gschier is someone already working on this PR?

[2020-04-11 19:28] mariusa commented on #1347
@theomessin +1 for a clear RPM link and "Install instructions for Fedora/CentOS" on the downloads page, please

[2020-04-11 23:39] stephanoparaskeva commented on #2015
@gschier Hey, this is happening non-stop. Any Updates?

[2020-04-13 09:18] weeix commented on #1659
I think this might depend on the server-side technologies used. I'm using [Express.js](https://expressjs.com/) and [multer](https://github.com/expressjs/multer) to handle `multipart/form-data` requests. The only format that doesn't induce `MulterError: Unexpected field` is multiple entries with the same name without any brackets.

![image](https://user-images.githubusercontent.com/6592791/79109140

[2020-04-13 11:35] bleketux opened #2034 "[Bug] Query parameter doesn't work if url contain ? character"
**Describe the bug**
I have a API url endpoint from my friend containing "?" character. When we put additional query, the first query will translate to ampersand "&" character, while it should be "?" character.

**To Reproduce**
Steps to reproduce the behavior:
1. Create New Request with Get method
2. Put endpoint (for example)t: http://localhost/api/v2/index.php?/todo
3. On Query tab, put key:val

[2020-04-13 12:16] weeix opened #2035 "[Bug] Viewing large response in raw mode stunned Insomnia"
**Describe the bug**
Sending a request to an endpoint that returns a large response (in my case it's a 1.8MB doc file) caused Insomnia to become unresponsive for quite a while. Users can only access the main menu (Application, Edit, View, etc.) and the pop-up. Closing the app while it's unresponsive doesn't help since the response would be loaded again at startup.

**To Reproduce**
Steps to reprod

[2020-04-13 13:37] seanghay commented on #1851
+1

[2020-04-14 18:53] tharun208 commented on #2016
I like to work on this.

[2020-04-14 18:58] tharun208 commented on #2016
can i proceed with a mockup of my own @gschier ?

[2020-04-14 19:44] isansahoo commented on #1651
Having same issue. I can't find where to disable the SSL certificate. Anyone could help me to locate it? Using v7.1.1

[2020-04-14 23:43] elemanhillary-zz commented on #650
yeah i totally see HAR as a solution, let me look at this

[2020-04-14 23:44] elemanhillary-zz commented on #650
get me assigned to this @gschier so that it stays on my remainders

[2020-04-15 12:32] Dunky13 commented on #1383
My idea for a UI plugin would be an environment editor. I want to use the variables, but I need to test with different values. I want to be able to edit the base environment or even sub environments in a textfield. So I don't have to click to open & edit as much.

I use this because I want to chain two requests in following sequence

* /run/\<num\>
* /run/\<num\>/log/\<id\>

Where the first endpoi

[2020-04-15 16:16] codybrouwers commented on #1909
@golanw I ran into the same issue and was able to fix it by using [this default headers plugin](https://insomnia.rest/plugins/insomnia-plugin-default-headers/). It seems the GraphQL schema fetch request also picks up the headers defined with the plugin.

[2020-04-15 18:06] mason opened #2036 "[Question] How do I make Insomnia escape json for GraphQL requests like other clients?"
**How do I make Insomnia escape json like other clients?**
When using Insomnia, the query variables field accepts json. When looking at the request sent, it looks like this

[code]

When using other clients like Feen GraphQL, the same request may look like this:

[code]

As you can see, the variables section is a string vs insomnia which sends an object. Is there a way to make insomnia send variab

[2020-04-15 21:33] tkarakai opened #2037 "OAuth2 `Fetch token` in Auth tab fails to parse out tokens from server response."
It goes through the `authorization_code` grant type flow correctly, all the way to issuing the `POST` request to the `access_token_uri`, the response from the server seems to be correct with the tokens, yet Insomnia reports that it `"Failed to fetch token ... status=0"` and does not parse out the tokens.

There is nothing useful in the Developer Tools console.

I had to install a local proxy to se

[2020-04-15 22:19] tkarakai commented on #2037
It looks like the `POST access_token_uri` is not being executed by the main Insomnia process, it is executed by the "Insomnia Helper" process instead. Is it possible that this process cannot communicate the results back to the mothership?

[2020-04-16 09:16] tnicolaysen opened #2038 "[Bug] Import of OpenAPI 3 and Swagger 2 fails when contract is missing 'servers' property"
**Describe the bug**
Importing a contract without the `servers` property yields a cryptic error message.

**To Reproduce**

Importing this API does not work (gives a cryptic error message).
It is missing the `servers` property.

[code]

Importing this API is working fine as it has the `servers` property.
[code]

**Expected behavior**
A proper error message with an explanation of what is wrong.
(An

[2020-04-16 09:31] develohpanda commented on #2038
Hi @tnicolaysen! Thank you so much for that excellent write up and the example APIs. 💯

#2007 fixes this and has already been merged; it should go out in the next release. It will allow for the import of an API without the servers property defined.

Closing this issue, though I'll link it in the PR. 😄

[2020-04-16 09:31] #2038 closed, assigned to nobody

[2020-04-16 10:54] finnmerlett commented on #1116
I've made a pull request fixing this

[2020-04-16 17:49] kirbyjs commented on #1206
@gschier why don't we just instead fallback with getting the aws credentials from the aws sdk?

So from https://github.com/Kong/insomnia/blob/cb715f95659f917dbc8464e987cedc10cc1296f1/packages/insomnia-app/app/network/network.js#L581-L585

We could just do something like

[code]

This would load whatever default credentials that the user has defined. It would also pick up a more complex setup like

[2020-04-17 13:46] joshtitus commented on #1875
Same pain point here. We have about 58 files in our current workspace.

[2020-04-17 15:34] elemanhillary-zz commented on #2018
can we use this cmd+/ @gschier

[2020-04-17 17:31] leonardofa commented on #1651
Y can go to Settings on Request/Response disable validate certificates

![image](https://user-images.githubusercontent.com/11917146/79597113-19002880-80b8-11ea-8017-ef924c3eb5d3.png)

[2020-04-19 18:00] ardyfeb commented on #1049
Please re open this issue, i still getting face problem

[2020-04-19 19:56] ejose19 opened #2041 "[Feature Request] Environment cookie jar"
**Is your feature request related to a problem? Please describe.**
When using multiple users dealing with cookies (like auth cookies), there's no direct way to linking cookies with them.

**Describe the solution you'd like**
When dealing with cookies, insomnia will transverse the environment hierarchy path and use the closest cookie jar

On environment creation, there will be a cookieJar generated

[2020-04-21 07:59] DavidExtern commented on #493
What is the status ? When we are importing a big swagger, it's take too long to delete one by one

[2020-04-21 20:56] eregnier commented on #1975
I should have worked, but it did not . I wiped my work and started another project.

Thank you for your time anyway, Insomnia remains very cool to me ;)

[2020-04-21 20:56] #1975 closed, assigned to nobody

[2020-04-22 00:14] ASing0 commented on #923
I'm having the same issue on Windows 10. I have permissions on the folder. I have tried several steps to remove temp files, grant other permissions etc. but the issue persists.
![image](https://user-images.githubusercontent.com/29284114/79927033-7d025400-840c-11ea-8380-a19c39ffd452.png)

[2020-04-22 01:13] manbeing opened #2042 "[Question] How do I Force insomnia to open login screen on clicking "Refresh Token'"
I want to test various users with oauth2 authentication, so i will need the login page is always up after clicking 'Refresh Token'.

Cookie management doesn't work for me. For example, I was using Google authentication, somehow, Insomnia remembered everything so no login page. I didn't find any google cookies in the cookies management (Ctrl k)

[2020-04-22 02:46] develohpanda commented on #2042
Hi @manbeing! Restarting the application and refreshing the token should allow for this - as per #647. It would be nice to support logging out in the future (maybe via a plugin 👀), but this workaround should work for now! 🤗

[2020-04-22 06:13] DanAlexson90 commented on #1666
Sadly closed.

[2020-04-22 07:53] bharath144 opened #2044 "[Bug] Menu bar doesn't hide even with the option unselected in Preferences"
**Describe the bug**
Menu bar doesn't hide even with the option unselected in Preferences

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Preferences
2. Uncheck the 'Hide menu bar' option
3. Go back to the main window
4. Menu bar is still show

**Expected behavior**
Menu bar should get hidden and can be activated if needed using menu bar mnemonics

**Desktop (please complete the follow

[2020-04-22 08:05] Techbrunch opened #2045 "[Feature Request] Import GraphQL schema as collection"
It would be awesome if there was the possibility to generate a collection of requests from a GraphQL schema if introspection is enabled.

Something like this: https://github.com/oshosanya/graphql-export/blob/master/src/exporters/insomnia/insomnia.ts

[2020-04-22 09:12] gevial commented on #1633
I'm using Ctrl+Space for Spotlight, so can't use Show Autocomplete too.
Is there any way to paste vars without keyboard shortcut? Can't use Insomnia at all without that.

[2020-04-22 10:15] develohpanda commented on #2045
Wow, that is awesome! It may be possible to do something similar via an Insomnia plugin in the near future! 😁

[2020-04-22 12:34] kodek-sleuth commented on #2044
I would like to take this one on

[2020-04-22 12:55] crystalfp commented on #997
Insomnia is based on libcurl on Windows, correct? So it should be able to access HTTP/2 servers as I do with curl that sets `--http2` by default:
[code]
Hope it helps
mario

[2020-04-22 17:39] hardeaux commented on #248
oh man - same here ;)
++

[2020-04-22 19:28] #2029 closed, assigned to nobody

[2020-04-22 23:51] TCFox commented on #2006
@imrishabh18 I'm happy to provide assistance with high-level design decisions and technical details around how the spec works, but unfortunately my JavaScript skills won't be up to scratch to provide any help with the code itself, sorry!

[2020-04-23 01:45] danielbom commented on #493
https://jmespath.org/tutorial.html#multiselect please!

[2020-04-23 07:31] shravan2x opened #2046 "[Bug] Insomnia doesn't respect system proxy"
**Describe the bug**
Insomnia doesn't respect the currently set system proxy, so network trace tools like Fiddler don't catch its traffic. This is difficult in cases where Fiddler is being used to compare requests from different sources.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Fiddler
2. Send a request through Insomnia

**Expected behavior**
Insomnia respects the system proxy.

*

[2020-04-23 16:35] nmaves opened #2047 "[Bug] Unrecognized or bad HTTP Content or Transfer-Encoding"
**Describe the bug**
We are trying to execute a POST to return JSON but we are getting the following error.

Unrecognized or bad HTTP Content or Transfer-Encoding

Below is the timeline which also shows an error

* Error while processing content unencoding: incorrect header check

If I right-click and copy the curl command it executes fine from a terminal.

CURL

[code]

[code]

**Desktop (please

[2020-04-23 18:44] #423 closed

[2020-04-23 19:47] andreassiegel commented on #1666
I just heard about Insomnia (I'm actually using Postman) and wanted to give it a try... At first, I was amazed by the opportunity to import both collections and environments from Postman! 🎉

Unfortunately, nothing worked after that - just because of `-` in the names of environment variables, and all variables of my environments have names with dashes. That's really sad! 😞

[2020-04-23 23:41] mdnorman opened #2048 "[Feature Request] Include implementations of interfaces in documentation"
**Is your feature request related to a problem? Please describe.**
Many of the schemas that I work with have interfaces that are implemented by several types. However, those types may not appear anywhere else in the schema documentation because they are not explicitly part of any operation.

For example, imagine you have a `Shape` interface, and `Circle` and `Square` types. But the `Query` object

[2020-04-24 06:13] pinggi opened #2049 "[Bug] Regression: Cannot export data to HAR while using Inception plugin anymore"
**Describe the bug**
I use Inception plugin which encodes json body. The JSON body contains its tag:
[code]

When I try to export data to HAR format, it ends up with error:
[code]
![image](https://user-images.githubusercontent.com/18471834/80180236-940a9700-8602-11ea-913e-ba494e622818.png)

[2020-04-24 13:49] jredl-va commented on #2011
I also would find this feature useful, our organization is closing in on 100 individual microservices each with there own series of apis. Being able to sort your collection automatically by name would be a great time saver.

[2020-04-24 17:08] brad-young opened #2050 "[Bug] XPath filter returns no results"
**Describe the bug**
I am trying to chain together a few API calls. Step #1, get a TOKEN, Step #2, use the token in subsequent calls.

Here is the sample response from the TOKEN API call:

[code]

Then in my "next" API call, I am using the Insomnia RESPONSE functionality, by grabbing the TOKEN from the body.

Using the following XPath filter:
[code]

However, the UI in the modal window says "Retur

[2020-04-24 18:25] LamineMbn opened #2051 "[Bug] [Improvement] Improve the import of Postman variables"
**Describe the bug**
In my new job they're using Postman and personally I prefer Insomnia. So I tried to import postman environnement variables to Insomnia and it didn't work for because the variables were either *nested* (`openapi.tokenId`) or with a *dash*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preferences'
2. Click on 'Data'
3. Import data using this example :

[code]
You'

[2020-04-24 20:28] LamineMbn opened #2052 "[Bug] Import from clipboard"
**Describe the bug**
The import from clipboard doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preferences'
2. Click on 'Data'
3. Import from clipboard

**Solution**
In `import.js#importUri`

Replace :
[code]

With:
[code]
Already tested and its working.

Can do PR for that if it's relevant.

Thank you

[2020-04-24 21:59] develohpanda commented on #2051
Hi @LamineMbn! Thanks for using Insomnia! ♥️

This is a commonly reported issue: #1666 and #456, and the limitations for why it's a tricky one are outlined in the linked there too.

However! If you have something working, feel free to submit a PR and we'll take a look. We were talking about the _dash_ restriction just yesterday!

I'll leave this ticket open for the nesting failure, but this is a d

[2020-04-24 22:13] develohpanda commented on #2052
This is an interesting one... Importing from the clipboard has an explicit handle that reads from the clipboard and attempts an import.
 https://github.com/Kong/insomnia/blob/28e7d928a809402660293189eeccd5bb2c773bb4/packages/insomnia-app/app/ui/redux/modules/global.js#L268-L286

Does your clipboard contain a uri, or the contents of the file?

[2020-04-25 10:42] jariesdev commented on #217
@Kirjy I second. In my case I need to get authentication from another server then use it to make a request to REST service, It is doable as you mentioned.

My Environment Variable:
[code]

Then for the Authentication Header:
![image](https://user-images.githubusercontent.com/17381846/80277726-957fb080-8723-11ea-854c-4fc0ebc942d6.png)

So I just need to re-request the Auth endpoint if the token exp

[2020-04-25 15:42] geoffreywiseman commented on #217
@jariesdev Sure -- now imagine that you want the keycloak access token variable to be filled from any one of N source requests. Whichever request was last made to get a key cloak access token is now populated in the variable.  That's the piece we currently can't do.

[2020-04-25 21:33] polarlightning opened #2053 "[Feature Request] Continuation criteria and ok/fail counters for repeat on Interval"
My case is that I need to make long running stress testing against JSON API and know how reliably or long it works without errors or how often errors happen. PASS or FAIL -criteria could be detected from one key-value pair in the response and of course from completely missing response within specified timeout.

I would like to use 'Repeat on Interval' as a base, but to parameterize it additionally

[2020-04-26 12:40] mehdibahrami commented on #2045
Postman support this one but in a so bad model and because of that I switched to Insomnia and I saw you don't support it!
It's really simple just user select a file and u make the requests based on the GraphQL Schema and also he should have an ability to refresh the collection and the app add new requests based on that

[2020-04-27 00:34] dpkano commented on #1371
Could we just expose the the SelectModal throught the app.js the same way PromptModal is?

[2020-04-27 01:01] dpkano commented on #1371
I have a change in my local branch, @gschier Could I contribute these lines to unblock a good amount of workflows? Do you think adding the SelectModal to be accessed the same way as PromptModal (e.g. context.app.select) fits the interest of the project?

[2020-04-27 08:12] florrdv opened #2054 "[Feature Request] Generate Rust Code for Requests"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Insomnia does not currently support Rust code generation for the requests.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add Rust support (preferably for the reqwest crate) code generation

[2020-04-27 08:15] rectof commented on #2054
https://www.youtube.com/watch?v=OUgKU2One5g

[2020-04-27 09:12] EnilPajic opened #2055 "[Feature Request] Notification or progress bar for data export"
**Is your feature request related to a problem? Please describe.**

It may seem a bit annoying to hit "export" button and not know when export is finished.
For now, I hit "export" and periodically check folder if content is there.

**Describe the solution you'd like**

1. notifications: e.g. "Export started" and "Export finished" (or maybe only the last one). It may look same as "new version" noti

[2020-04-27 12:51] RodolfoSilva opened #2056 "[Bug] Changelog links are Not-Found"
**Describe the bug**
The link of both last pre-release  are Not-Found

Not Found ⇒ https://insomnia.rest/changelog/designer/2020.1.0-beta.1
Not Found ⇒ https://insomnia.rest/changelog/core/2020.1.0-beta.1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/Kong/insomnia/releases
2. Scroll down to pre-release * Insomnia Designer 2020.1.0-beta.1* or *Insomnia 2020.1.0-beta

[2020-04-27 14:35] eMerzh opened #2057 "[Bug] Some post params are not imported from curl"
When importing request from curl, it seems that we drop some --data params

**To Reproduce**

- Create a new request
- select POST, Form URL Encoded
- add param key "Hello" value "World"
- add param key "Foo" value "Baz"
- click copy as curl

- then create a new request
- past the curl in the url to import it

Only Hello=World is reported in query params

query :

[code]

after import

<img width=

[2020-04-27 14:57] reynolek commented on #2057
Thanks for opening a bug report! Can you paste an exact curl request that shows the behavior you are seeing? It will make it easier to be reproduced.

[2020-04-27 15:10] eMerzh commented on #2057
of course, i've updated the content

[2020-04-27 16:55] nijikokun commented on #2056
Nice catch, keep an eye out as we haven't launched the site updates yet, doing a soft launch to ensure codebase sanity and packages are working. Official launch date for Designer is the 29th! Feel free to try it out until then and give feedback ❤️

![](https://media0.giphy.com/media/ncU3bkZ5ghDlS/giphy.gif)

[2020-04-27 18:28] RodolfoSilva commented on #2056
Thanks @nijikokun

[2020-04-27 20:28] develohpanda opened #2061 "Swagger Preview throws `indexOf` error when interacting with a tag"
**Describe the bug**
When clicking on a path in the Swagger Preview of the petstore example, an error modal is shown and the design view breaks instead of expanding into the path group.

This is not fatal, as you are able to navigate back to Home and back into the document.

![swagger-browser](https://user-images.githubusercontent.com/4312346/80344382-99463b00-88bb-11ea-93b1-f36b923da55c.gif)

**T

[2020-04-27 20:45] gschier commented on #2056
Removed the broken links from the release entries for now 👍

[2020-04-27 20:45] #2056 closed, assigned to nobody

[2020-04-27 20:46] RodolfoSilva commented on #2056
Thanks @gschier

[2020-04-27 20:58] #2061 closed, assigned to develohpanda

[2020-04-28 05:48] mpern commented on #519
Any chance that #203 gets added to this roadmap?

It has a lot of upvotes and a glaringly missing feature of Insomnia.

[2020-04-28 07:43] Isanderthul opened #2065 "Response autocomplete Handlebars not displaying nicely"
**Describe the bug**
The handlebars do not show the variable nicely, and as seen as raw data, but you cant get to the dialog to pick the response etc, because the UI is not triggering the autocomplete.
<img width="911" alt="Screenshot 2020-04-28 at 08 36 44" src="https://user-images.githubusercontent.com/3693197/80456422-d6e3ac00-892d-11ea-9166-5fa9d3abb857.png">

**To Reproduce**
Steps to reprodu

[2020-04-28 08:42] sraze commented on #1000
I had the same issue - see below for what fixed it for me.

STEPS:
- Attempt an OAuth connection, as per OP
- Click on [Fetch Tokens] button

EXPECTED:
- Browser window opens, with which I can grant requested permission

ACTUAL:
- New blank instance of Insomnia opens
- That's all

Only option then is to close the spawned Insomina window, whereupon the original Insomnia window says "Authorization w

[2020-04-28 09:24] Quelu commented on #1796
@gschier Any updates ? 😄 Tell me if you need more informations as the label is still in "Need more info"

[2020-04-28 18:43] reynolek commented on #2057
Looks like the bug is here: https://github.com/Kong/insomnia/blob/develop/packages/insomnia-importers/src/importers/curl.js#L248-L255

The function is returning the first match (in the example `hello=world`) and ignores the fact that there is another `--data`.

That being said, I think the other issue is that [this piece of code](https://github.com/Kong/insomnia/blob/develop/packages/insomnia-impo

[2020-04-28 18:56] eMerzh commented on #2057
@reynolek yess i've create a PR for this in #2058

[2020-04-28 19:05] reynolek commented on #2057
Ah I hadn't refreshed this issue until this comment happened. Ill tag the devs for review.

[2020-04-28 23:28] develohpanda commented on #2057
Resolved with #2058 and #2070 🙂

[2020-04-28 23:28] #2057 closed, assigned to nobody

[2020-04-29 08:51] anno1985 opened #2072 "Importing Swagger 2.0 file fails with generic error for a key mismatch in spec"
**Describe the bug**
When trying to import a Swagger 2.0 file (from file, URL, or clipboard), I initially got the following errors:
* Import Failed: TypeError: Cannot read property 'Symbol(Symbol.iterator)' of undefined
* Failed to import: Import failed: Cannot read property 'type' of undefined

Later (after formatting the JSON file with line breaks) these:
* Import Failed: TypeError: result.summa

[2020-04-29 08:55] anno1985 commented on #2072
Importing the file into Postman, exporting it in that file format, and importing it then in Insomnia worked, by the looks of it. Maybe helpful as a workaround...

[2020-04-29 09:51] develohpanda commented on #2072
Hi @anno1985! There will likely be a release within the next week that includes #2007. tl;dr the current import fails if the `servers` section is missing, and this PR caters for the case where it is missing.

This _should_ fix what you're facing. If you could provide a sample swagger spec where it's failing for you, I can validate and try make sure it's fixed before release. 😄

[2020-04-29 10:22] eek opened #2073 "Insomnia Designer install fails"
**Describe the bug**

Installing Insomnia Designer Crashes.

**To Reproduce**
Steps to reproduce the behavior:

Just tried to install Insomnia Designer-2020.1.0.exe
Upon trying to access the installer I get an error, and points me to error logs.

System Logs:

[code]

**Expected behavior**
Install the APP

**Screenshots**

![image](https://user-images.githubusercontent.com/2953026/80585580-4932ba0

[2020-04-29 10:34] eek commented on #2073
Apparently even after uninstalling Discord, it still tries to access it's files from
`C:\Users\radua\AppData\Local\Discord` where there's a `.dead` file now and `updater.exe`

I've deleted these files, tried again, still fails but now my setup log looks a bit different:

[code]

[2020-04-29 11:15] develohpanda commented on #2073
Thanks for reporting @eek! I did some research, hopefully some of these help. 😄

The Discord one seems really strange. Do you recall any failed Discord updates recently? Given that also uses Squirrel as its update framework ([ref](https://www.reddit.com/r/discordapp/comments/8f5y4w/what_is_squirrelexe_and_is_it_supposed_to_be_there/)), there may be residual data in that directory as a result.

Do

[2020-04-29 11:18] develohpanda commented on #2073
Actually I just checked through the Discord logs - those are from March, so likely a failed installation at that time.

The 2nd half of the first log snippet, shows the same install errors for `insomnia-designer`. 🤔

[2020-04-29 12:02] eek commented on #2073
Yeah, I haven't noticed the date either :))

I've deleted both the `insomnia-designer` folder (~6k files) and also the `SquirrelTemp` folder and I have the same issue.

Just to make clear, I'm not selecting any install directory.

I'm just double-clicking the installer, I'm presented with the loading:

![image](https://user-images.githubusercontent.com/2953026/80593424-e21c0200-8a29-11ea-8436-69d7

[2020-04-29 12:04] eek commented on #2073
Oh, I see that if I run the `Insomnia Designer.exe` file from `AppData\Local\insomnia-designer` the app starts.

[2020-04-29 12:04] Natfan commented on #2073
Getting a similar error.
Looks like Squirrel uses the same log path for all of it's installs, which makes sense why you're having errors regarding Discord (I'm having errors regarding Microsoft Teams, Riot.im, DiscordCanary, Postman, Discord and Insomnia!)

**Suggested fix for the logger** is to instead use the Squirrel log for Insomnia, not the global log.
(Global log located at `C:\Users\YOU\App

[2020-04-29 12:09] Natfan commented on #2073
@eek I'm getting similar results, application loads from %appdata%\Local\insomnia-designer, however the application doesn't seem to be "Installed" on my device (Start Menu doesn't show Designer as an application, just as the executable that I just launched)

[2020-04-29 12:25] Natfan opened #2075 "Git Sync Modal Crashes App"
**Describe the bug**
When opening Git Sync Respository Settings (described as `[ga] Event Modals, Show, GitRepositorySettingsModal` in the Developer Console) the app seems to crash (white screen) and there is no way to recover without restarting the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Setup Git Sync".
    ![Setup Git Sync](https://i.natfan.io/TameWingedBass.png)
2.

[2020-04-29 13:21] xorock commented on #1685
Is Insomnia holding any copy of the certificate? The server certificate has expired, it has been replaced by the current one and I am getting this error message even though everything has returned to normal in the regular browser. There was no problem before the certificate expired.

[2020-04-29 15:51] nmaves commented on #2047
So the issue here was that we were not passing in the `Accept-Encoding` request header for gzip content but the server was returning it anyway.  How is this not part of the default headers?  But for anyone else that runs into this make sure to set your request header correctly to accept gzip'ed responses.

[2020-04-29 15:51] #2047 closed, assigned to nobody

[2020-04-29 17:17] aniq-pirzada opened #2078 "Insomnia Designer Install Error"
**Describe the bug**
Unable to install Insomnia Designer

**To Reproduce**
1. Download Insomnia Designer for Windows
2. Try to install Insomnia Designer (as Admin)
3. Error when isntalling.

**Expected behavior**
Insomnia Designer to be installed.

**Screenshots**
![image](https://user-images.githubusercontent.com/11415321/80625727-87909f00-8a45-11ea-826f-d47710b8842b.png)

**Desktop (please compl

[2020-04-29 17:48] TheProgrammer21 opened #2079 "Insomnia Designer installation fails"
**Describe the bug**
The installation of insomnia designer 2020.1.1 fails. The logs can be found here: https://pastebin.com/JM8b45R7

**To Reproduce**
Steps to reproduce the behavior:
1. Execute the exe file as administrator.

**Expected behavior**
The installation is successful.

**Screenshots**
![image](https://user-images.githubusercontent.com/52009814/80628865-4d79ca00-8a52-11ea-9dee-73b508133

[2020-04-29 18:26] reynolek commented on #2079
Duplicate of #2073

Thanks for reporting! We are actively investigating the issue. I am going to close this in favor of the other one for easier tracking purposes.

[2020-04-29 18:26] #2079 closed, assigned to nobody

[2020-04-29 18:33] reynolek commented on #2078
Duplicate of #2073

Thanks for reporting! We are actively investigating the issue. I am going to close this in favor of the other one for easier tracking purposes.

[2020-04-29 18:33] #2078 closed, assigned to nobody

[2020-04-29 18:50] StephenStrickland commented on #2073
Same issue here, downloaded the designer installer and ran it. My logs are pointing to Microsoft Teams for some reason.

OS: Windows 10 Enterprise

[code]

[2020-04-29 18:54] ybadragon commented on #2073
I also have this issue with the installer, my logs point to Slack

[2020-04-29 18:54] gschier commented on #2073
Can you all test out this new release please? https://github.com/Kong/insomnia/releases/tag/designer%402020.1.2

(Might have to remove the failed installation first)

[2020-04-29 18:55] reynolek commented on #2073
@gschier I didnt have to remove the old failed install when I tested it, so it should Just Work (tm)

[2020-04-29 18:59] shivasurya commented on #2073
Working now on windows 10. Tested

[2020-04-29 19:00] ybadragon commented on #2073
Testing the installation now

[2020-04-29 19:02] ybadragon commented on #2073
Installation did not work for me, I'm going to try clearing out the directories that were mentioned above then try again. I'm also on Windows 10 Enterprise.

[2020-04-29 19:04] nijikokun commented on #2073
Latest release is working for me on Windows 10 🎉

Teamwork ❤️

![](https://media3.giphy.com/media/26xBAevSH9ORZM6tO/giphy.gif)

[2020-04-29 19:06] StephenStrickland commented on #2073
same situation as @ybadragon, not working on Windows 10 Enterprise.

[2020-04-29 19:07] gschier commented on #2073
Just to update everyone on the issue. It looks like some of the file paths included in the installation can exceed Window's max path length of 260 characters. The last release `2020.1.2` attempted to shorten some of them but it may be possible for some people with longer Windows usernames to continue to exceed this limit. **If you still cannot install, can you post the length of your Windows usern

[2020-04-29 19:09] gschier commented on #2073
Also, I believe all logs are shared for any app that uses the Squirrel Windows update system. This is why other app logs from Postman/Slack/Discord show. Insomnia's install logs will display at the very bottom of the log file.

[2020-04-29 19:09] StephenStrickland commented on #2073
@gschier 18 character username here! And yes, the issue I was seeing with the latest install of `2020.1.2` was `System.IO.PathTooLongException`.

[2020-04-29 19:10] ybadragon commented on #2073
My install is still failing after removing the old version. This is a company computer so my username is 15 characters long. My co-workers username is 18 and he is having the same issue.

[2020-04-29 19:18] ImVexed opened #2080 "Requests are duplicated when switching between design and debug tabs"
Upon loading a spec, if you switch back and forth from Design <-> Debug, it will continually append the endpoints and never clear them.

**To Reproduce**
Steps to reproduce the behavior:
- User any OpenAPI spec, (ex. Petstore)
- Swap to Debug
- Swap to Designer
- Swap to Debug
- Repeat

**Expected behavior**
Only to have 1 set of endpoints

**Screenshots**
![image](https://user-images.githubuserco

[2020-04-29 19:21] gschier commented on #2080
Can you please post the API spec you are using?

[2020-04-29 19:22] ImVexed commented on #2080
The example Petstore spec from https://editor.swagger.io/

[2020-04-29 19:24] ImVexed commented on #2080
It also seems that there are no endpoints in the duplicate folders:
![image](https://user-images.githubusercontent.com/10090878/80637712-4d5ad980-8a14-11ea-88fb-05b5a7222a6e.png)

[2020-04-29 19:24] gschier commented on #2080
Thanks! I think this issue is specific to Swagger 2.0. We'll get that fixed! For now, OpenAPI 3 specs should work

[2020-04-29 19:25] ybadragon commented on #2073
it looks like there is possibly a workaround for this @gschier not sure if the exe can update the PATH variable when it is ran, but the people running it definitely can. I'm willing to try this in a couple hours, but I'm about to go into a meeting (I also don't know the default squirrel_temp path so have to figure that out). If anyone else wants to attempt this let us know how it goes, if not I'll

[2020-04-29 19:44] jcbeck37 opened #2082 "[Feature Request] Resolve File References"
**Problem:**
While OpenAPI supports file references like `$ref: './components/paths/myPath.yml` this results in "invalid-ref No resolve defined" error, and the properties of the references are not loaded into the preview.

**Solution:**
A plugin that could read the files of a folder where the OpenAPI file exists, resolving the references would pull the OpenAPI properties into the preview. If neces

[2020-04-29 20:01] sonicwim-zz commented on #2073
Same here on Windows 7...

Setting the <code>squirrel_temp</code> path to <code>C:\Program Files (x86)</code> does not work but creating a <code>C:\t</code> folder and using this as <code>squirrel_temp</code> however does work and it even updated itself.

If I take a look at the pathlengths, the maximum seems to be 234 characters, but I used <code>du -h /c/t | cut -f 2</code> so it uses forward sl

[2020-04-29 20:10] gschier commented on #2073
Wow, amazing work @sonicwim! Thanks so much for debugging.

The PR #2081 should remove `insomnia-libcurl/node_modules/` from that path, which will save a few more chars for now. In the future, we'll look at trimming down some more of that cruft.

Going to trigger another release now.

[2020-04-29 20:46] ybadragon commented on #2073
Is there a link to the new release?

[2020-04-29 21:27] gschier commented on #2073
@ybadragon Yep! It just finished: https://github.com/Kong/insomnia/releases/tag/designer%402020.1.3

[2020-04-29 21:38] gschier commented on #2073
Looks like 2020.1.3 worked on my Windows VM. I'm going to go ahead and assume this is fixed now for 99% of users. Please create a new issue if you are still experiencing problems after `2020.1.3`

[2020-04-29 21:38] #2073 closed, assigned to nobody

[2020-04-29 21:45] nijikokun commented on #2082
Absolutely, awesome request.

Folder support would be absolutely amazing, and I've sent this over to our designer @jitachi who is currently working on the new sidebar to make sure we aren't painting ourselves into a corner, and to get insights from community input.

[2020-04-29 21:55] allandiego opened #2083 "Add dropdown arrow indicator for SEND button"
**Is your feature request related to a problem? Please describe.**
Currently the send options are hidden, you have no way of knowing that you need to use the right click to show up the advanced menu, i just figured out this looking for issues about how to download a file from response

**Describe the solution you'd like**
Add a dropdown arrow like the others elements for example the http method to

[2020-04-29 21:57] gschier commented on #2075
Thanks for reporting this! We'll take a look

[2020-04-29 22:09] Natfan commented on #2073
As an FYI, Windows Smartscreen Defender seems to flag the latest release as potential malware. Might just be due to the age of the application and the fact that very few people have downloaded this patch?

Outside of that, the installer seems to work fine now! As someone with a 16 character Windows username, it's always a bit of a worry that I can't install stuff due to path limits. Glad to see th

[2020-04-29 22:12] rmharrison commented on #1837
![Insomnia_Ico](https://user-images.githubusercontent.com/4275722/80651930-d984f500-8a44-11ea-8c38-9459118d6633.png)

**CORE/REST**
Verified ico.
Ubuntu 19.10 via snap (V7.1.1)

**Designer**
No ico.
Ubuntu 19.10 via [`.deb`](https://github.com/Kong/insomnia/releases/tag/designer%402020.1.3) (designer@2020.1.3)

[2020-04-29 22:13] nijikokun commented on #2083
Makes sense, we use this pattern in other places, however here, maybe a split button pattern?

Everyone right clicking the send button right now:

![](https://media0.giphy.com/media/xT0xeJpnrWC4XWblEk/giphy-downsized-medium.gif)

[2020-04-29 22:18] nijikokun commented on #2075
Having trouble replicating this, is it possible to replicate with the developer console open to see if there are any errors that can be captured?

Here I am able to enter values, and hover over:

![image](https://user-images.githubusercontent.com/198276/80652343-91f26f00-8a2c-11ea-8367-fcf1e416a9fd.png)

I am running version `2020.1.2`

[2020-04-29 22:19] gschier commented on #2083
For some backstory... That dropdown was added years ago but I always thought a down-arrow icon made it look bad, so never added it. I also agree with @nijikokun that having two buttons makes more sense if a single click still triggers an action.

[2020-04-29 22:42] rmharrison opened #2084 "Insomnia.Designer-2020.1.3.deb shows package information as 1.2"
**Describe the bug**
Insomnia.Designer-2020.1.3.deb shows package information as 1.2
I'm not sure if it's mislabeled 1.2 and is actually 1.3.
Or is actually 1.3 and the package builds are pointing to the wrong verson.

**To Reproduce**
- Ubuntu 19.10
- Download `Insomnia.Designer-2020.1.3.deb` from https://github.com/Kong/insomnia/releases/tag/designer%402020.1.3

**Expected behavior**
Should show

[2020-04-29 22:56] Natfan commented on #2075
Looks like this was fixed when I reinstalled? Might have just been some lingering issues caused by #2073?

Currently on 2020.1.3, and am no longer getting the error.

[2020-04-29 22:56] #2075 closed, assigned to nobody

[2020-04-29 23:04] gschier commented on #2084
This was intentional. The Linux build failed for 2020.1.3 so we uploaded the 2020.1.2 binaries instead as a quick fix. The only difference between them was some fixes for the Windows installer so you're not missing anything 🙂

Going to close this issue, as it was intentional, and will be resolved with the next release.

Thanks for taking the time to report it @rmharrison 🤗

[2020-04-29 23:04] #2084 closed, assigned to nobody

[2020-04-29 23:12] gschier commented on #2065
It looks like you may have accidentally enabled the "Raw Template Syntax" setting in app preferences?

![image](https://user-images.githubusercontent.com/587576/80655736-45ab2d00-8a34-11ea-8f98-59dc86483301.png)

[2020-04-29 23:14] develohpanda commented on #2072
#2007 only caters for the missing `servers` section in OpenAPI 3 and does not impact Swagger 2. I found a [fixture test](https://github.com/Kong/insomnia/blob/develop/packages/insomnia-importers/src/__tests__/fixtures/swagger2/petstore-yml-input.yml) that exists for Swagger 2 that doesn't contain a `servers` section, so it looks like the importer does handle that case.

If you could provide a samp

[2020-04-30 01:16] allandiego commented on #2083
It would be nice also add a highlight to the buttons in the white url bar, maybe a border, it is difficult to distinguish that they are buttons at first sight when you open the program for the first time

[2020-04-30 02:11] rmharrison opened #2085 "Insomnia Designer, Documentation: Repo folder should be `.insomnia` instead of `.designer`"
**Describe the bug**

https://support.insomnia.rest/article/96-git-sync (accessed 29 April 2020, 21:59 ET)

However, when I look at my git repo:
[code]

And if I use the folder `.designer` instead (https://github.com/rmharrison/insomnia-designer-medium/tree/designer-folder-test)
![20200429_Insomnia_Designer_CloneFailure](https://user-images.githubusercontent.com/4275722/80664933-11506480-8a66-11ea

[2020-04-30 02:13] mdaniel opened #2086 "Clicking on the Tags of an OpenAPI document produces an Application Error"
**Describe the bug**
Clicking on the Tags of an OpenAPI document produces an `indexOf` error in `swagger-ui-react`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `npm run app-start`
1. Click on "Petstore Example"
1. Click "Submit" (using the predefined URL)
1. Click Ok
1. Click on the "Swagger Petstore 1.0.2" box
1. Click on the top tag, labeled "pet (everything about your Pets)"
1.

[2020-04-30 02:17] rmharrison opened #2087 "Insomnia Designer, Documentation: Github token and scopes not documented"
**Describe the bug**
https://support.insomnia.rest/article/96-git-sync
(Accessed 29 April 2020 22:17 ET)
should include sub-sections for major git providers: Savannah, Github, GitLab, BitBucket, etc.

_GitHub_
- Specify that you need to a ["Personal Access Token" ](https://help.github.com/en/github/authenticating-to-github/creating-a-personal-access-token-for-the-command-line#creating-a-token)
- T

[2020-04-30 02:21] gschier commented on #2085
Thanks for reporting this! I went ahead and updated the docs to change references of `.designer` to `.insomnia`

[2020-04-30 02:21] #2085 closed, assigned to nobody

[2020-04-30 02:29] develohpanda commented on #2086
Thanks for your time in reporting this! If you pull the latest `develop`, it will contain https://github.com/Kong/insomnia/commit/0e7b96c868087c9a10ccfd3514152de193173a67 - this fixes what you are seeing. See #2061, the steps in there seem to line up with what you are seeing.

Closing as resolved! 🎉 😄

[2020-04-30 02:29] #2086 closed, assigned to nobody

[2020-04-30 02:32] mdaniel commented on #2086
My apologies for the dupe, I tried searching for "indexOf" in the issues but regrettably didn't think to search for "petstore". Thanks for your quick response!

[2020-04-30 02:39] develohpanda commented on #2086
No worries! I must admit the original report ~is~ was... poorly named too. Guilty as charged. 🤣

[2020-04-30 03:16] gschier commented on #2073
@Natfan yes, I think it's because we're using a fresh signing certificate that Windows has not seen before. Thanks for mentioning it. In Insomnia's early days, I remember it also being flagged a lot by various virus scanning programs for the same reason.

@develohpanda mentioned today that Windows has a way to configure the maximum path limit now? Might be worth knowing for future reference 👍

[2020-04-30 03:20] develohpanda commented on #2073
Have never tried it myself so YMMV, but here's a potential solution for it: https://superuser.com/a/1119980. 😄

[2020-04-30 04:47] ryanprior opened #2088 "[Feature Request] Use API Blueprint for Designer instead of OpenAPI"
The vision that Designer lays out of an integrated, human friendly workbench for designing and iterating on APIs is poorly paired with OpenAPI, which while being super easy to parse, doesn't really lend itself to a friendly authorship user experience. A great fit would be [API Blueprint](https://apiblueprint.org/), which extends Markdown with API description super powers.

API Blueprint files alre

[2020-04-30 05:44] gschier commented on #2088
Thanks for the suggestion on API Blueprint!

We'd love to support for more API Specification formats in the future, but chose to launch with OpenAPI because it's the most popular amongst the companies and developers we talked to. Do you have any API Blueprint editors/tools that you like already? I'd be curious to see what the ecosystem is like.

💜

[2020-04-30 06:40] kroleg commented on #2088
I personally prefer OpenAPI over API Blueprint for many reasons. API Blueprint can be one of supported formats but Designer should not use API Blueprint _instead_ of OpenAPI.

[2020-04-30 06:43] kroleg commented on #2082
This functionality (resolving file references) is a must have. I think it should not be a plugin, it should be core feature (It's a core feature of OpenAPI)

[2020-04-30 07:31] rmharrison commented on #479
@alexus1024 [dredd](https://github.com/apiaryio/dredd) is fantastic for running tests against the examples in a swagger/OAS contract (v2 `x-example`; v3 `examples`). It's _not_ a cli for a general purpose req/res tool (and is therefore not as customisable as newman), but for no-fuss testing with an existing contract, I consider it peerless.

[2020-04-30 07:41] porozhnyy opened #2089 "Designer snap"
Hello! I wanted to install the Designer through snap, but I didn’t succeed - the site contains links only for the Core application (`sudo snap install insomnia`). Are you planning add to snap the Designer? Thank!

[2020-04-30 07:47] rmharrison commented on #2088
Apiary's SaaS "Editor" is more or less the only game in town.

They've open-sourced the parser ([drafter.js](https://github.com/apiaryio/drafter.js)) and a node wrapper for the parser ([protagonist](https://github.com/apiaryio/protagonist)), but the "Editor" proper is closed. API Blueprint is very human readable compared to Swagger, so not having a dedicated editor doesn't become an issue immediat

[2020-04-30 08:02] tms1337 opened #2090 "Request can't be canceled"
Let me note that this is a minor issue, but it might tell you something more about request handler potentially.

**Describe the bug**

When using graphQL, if  the server is taking long to respond, if I send request AND try refreshing the schema, and then cancel the request, it cancels the schema fetching, not the request. Request is left hanging.

**To Reproduce**
Steps to reproduce the behavior:

[2020-04-30 08:08] rmharrison commented on #2089
They're working on it. There isn't a PPA either.

For now, install latest release from `.deb` [^1]
https://github.com/Kong/insomnia/releases

[code]

[^1] "About" and `dpkg` will show `v1.2` instead of `v1.3`. This caught me off-guard as well, but it's a known issue. https://github.com/Kong/insomnia/issues/2084#issuecomment-621514027

[2020-04-30 08:18] porozhnyy commented on #2089
Oh, I already installed by this method, the question about snap was due to updates

[2020-04-30 08:23] rmharrison commented on #2089
Sorry about that. Should have noticed from your doing an assignment that you're a maintainer. Derp.

That said, I strongly suspect others will be having the same issue until the main download link is updated.

[2020-04-30 08:35] porozhnyy commented on #2089
Oh, everything is fine, thanks for your attention to this problem)
Snap is nothing more than a convenient tool, and I decided to immediately ask this question to know how to proceed

[2020-04-30 10:11] meixger opened #2091 "[Feature Request] Save and close Environment Editor with Ctrl+Enter"
**I would like to press Ctrl+Enter to save and close the Environment Editor.**

I'm always frustrated when i have to leave the keyboard and use the mouse.

The Environment Editor can be opened with Ctrl+E but needs to be closed by pressing the "Done" button.

[2020-04-30 11:30] bulgariamitko opened #2092 "How to download and install Insomnia Designer?"
I am trying to install Insomnia Designer for Ubuntu, but when I go to [https://insomnia.rest/download/designer/](here) it wants me to download the REST Insomnia that I have already installed. Can someone help?

[2020-04-30 11:31] bulgariamitko commented on #2092
Oh I saw someone already asked that question:
https://github.com/Kong/insomnia/issues/2089

[2020-04-30 11:31] #2092 closed, assigned to nobody

[2020-04-30 13:56] aniq-pirzada opened #2093 "RAML Support"
**Is your feature request related to a problem? Please describe.**
I would like to import RAML (.raml) documents into Insomnia Designer

**Describe the solution you'd like**
RAML is extended from YAML and at the moment Insomnia Designer does not allow to import .raml files.
It would be great to see support for this extension..

[2020-04-30 15:24] ryanprior commented on #2088
Apart from Apiary, the best API Blueprint editor is Emacs with [apib-mode](https://github.com/w-vi/apib-mode). So that makes this a wide open field for Insomnia to take the best-in-class trophy. Meanwhile there's already [a ton of samey box-ticking OpenAPI GUI editors](https://openapi.tools/#gui-editors).

I definitely see where people who say "why not both" are coming from, but the user experienc

[2020-04-30 15:46] LucasSimpson opened #2094 "Crashes when typing openAPI spec"
**Describe the bug**
Program crashes

**To Reproduce**
Steps to reproduce the behavior:
1. Create new blank document, name it whatever
2. Type the following into the spec:
[code]

3. Enter the following line after "servers:":
[code]
4. The program should crash

**Expected behavior**
The program does not crash

**Screenshots**
After step 2: https://allthepics.net/image/t1jsE
After step 3: https://a

[2020-04-30 16:54] dryize opened #2095 "Cannot use Azure DevOps git repo in Insomnia Designer"
**Describe the bug**
In the designer when try to import a git repo hosted in Azure DevOps, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Designer
2. Click on 'Create' -> 'Git Clone'
3. Configure using Azure DevOps git repo
4. Click 'Done' and observe nothing happens.
5. Open Developer Tools
6. Observe error message "HTTPError: HTTP Error: 404 Not Found"

**Expected be

[2020-04-30 19:30] nijikokun commented on #2094
Oof, thanks for reporting this. Getting some eyes on it now 👀

pinging @develohpanda who has been looking into similar issues 🤗

[2020-04-30 19:40] nijikokun opened #2096 "Document how to use Kong Plugins with OpenAPI"
For launch we built out the Kong functionality as plugins and we haven't fully fleshed out the documentation from a technical and usage perspective, this issue is to address that gap.

- [x] Technical Generation Documentation for Kong For Kubernetes Plugin
- [x] Usage Documentation for Kong For Kubernetes Plugin

Once documentation is available on the README of each plugin we can move desired port

[2020-04-30 19:45] nijikokun commented on #2087
Thank you for raising this 🙌

[2020-04-30 20:10] nijikokun commented on #2055
Great points, and I think @jitachi you brought up some UX concerns last week around item creation of documents in designer, while this is exports in core it seems like this is similar in topic - notification of something happening / completing, thoughts?

[2020-04-30 20:15] nijikokun commented on #2046
Hi @shravan2x! Thanks for using Insomnia 😊

I think we did some work for proxies in Core for the Designer application. @gschier would this happen to be fixed by that proxy work we did, or is there more that we would need to do to support things like this?

[2020-04-30 20:48] nijikokun opened #2097 "Menu item for copying app info to clipboard"
See **additional info** [here](https://github.com/Kong/insomnia/issues/2094#issue-610168314), and maybe there are more instances of this.

Idea is that there is a menu item that when clicked will copy application details such as the version, operating system, etc... that one could paste into an issue body or comment body instead of having to manually type it out.

[2020-04-30 21:00] develohpanda opened #2098 "Designer export dropdown says "workspace" instead of "document""
**Describe the bug**
Designer verbiage says "Workspace" instead of "Document"

**To Reproduce**
Steps to reproduce the behavior:
1. `Cmd` + `,` to open the preferences tab
2. Click on data
3. Click Export data

**Expected behavior**
Should use the "document" verbiage from https://github.com/Kong/insomnia/blob/6fc394891d575931a0ca7f9babde3adb6a7452ef/packages/insomnia-app/app/common/strings.js#L7

[2020-04-30 21:09] develohpanda commented on #2094
It works fine in the state where you previously _copy-pasted_ a spec with servers, and then removed it. Swagger UI shows an error correctly, in that state.

![](https://user-images.githubusercontent.com/4312346/80432038-2edadc80-8947-11ea-8b39-0384ea6a708d.gif)

Reopening a broken spec (that previously showed the error correctly in the design view), shows the reported behavior, therefore rendering

[2020-04-30 22:38] thebestfella commented on #725
Perfect thanks

[2020-04-30 23:53] dbodow commented on #667
+1

Or, if you find another good way to have a user work with multiple requests at once, that works too. I need to be able to see data from one endpoint and use it to play around with another endpoint side-by-side.

[2020-04-30 23:55] develohpanda opened #2100 "Apply priority order if the same kong plugin exists in different sections of OAS"
Kong plugins `x-kong-plugin-*` can exist at the OpenAPI object, server, path, and operation levels. These must collate together, however if the _same_ plugin type (eg. `x-kong-plugin-key-auth`) exists at multiple levels, then the highest priority should be selected, and the others ignored.

The priority order is **Operation > Path > Server > Global** (OpenAPI spec object).

For example, with the f

[2020-05-01 04:18] joshuataylor opened #2101 "chmod: cannot access '/opt/Insomnia Designer/chrome-sandbox': No such file or directory"
**Describe the bug**
Trying to install `Insomnia.Designer-2020.1.3.deb` on Ubuntu 20.04 shows the following:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Run Ubuntu 20.04
2. `dpkg -i Insomnia.Designer-2020.1.3.deb`
3. See error

**Expected behavior**
It installs?

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Installation Method: `dpkg -i`
 - App V

[2020-05-01 04:27] nijikokun commented on #2088
We do have plans on our roadmap to support AsyncAPI as well which, pushes us into the "How do we support multiple types - and well".

Current thoughts are to abstract functionality into plugin bundles, that detect type and augment ui and workflows accordingly, thoughts?

[2020-05-01 04:36] nijikokun commented on #1841
We were definitely overly-ambitious when we made this post originally. Updated accordingly, and it may get updated again with a proper timeline.

[2020-05-01 05:10] develohpanda commented on #2091
Hi @meixger! Pressing escape seems to achieve the same workflow - save the env and close the editor. Does this work for your case? (I'm using macOS, Insomnia v7.1.1)

[2020-05-01 06:39] develohpanda opened #2102 "Various Kong for Kubernetes config generation bugs"
- [x] Name derived from `x-kubernetes-ingress-metadata` is not slugified
    <details>
    <summary>Example</summary>

    #### Source spec

[code]

    #### Current output

[code]

    #### Expected output
[code]
    </details>

- [x] If the server url is at root, the path rule generated is null
	<details>
	<summary>Example</summary>

	#### Source spec

[code]

	#### Current output

[code]

	####

[2020-05-01 07:48] meixger commented on #2091
Yes. How embarassig - i realized that pressing escape also saves the env 😌

[2020-05-01 07:48] #2091 closed, assigned to nijikokun

[2020-05-01 09:26] peheje opened #2103 "Swift code generation not working"
**Description**
I can't get the Swift code generation to work, after choosing it it never switches to that button and no Swift code is showing.

**Reproduce**
Right click a request
Generate code
Choose Swift

**Expected behavior**
See Swift code for firing the request

**Screenshots**
![image](https://user-images.githubusercontent.com/7273366/80795993-5d062980-8b9e-11ea-983e-f38bb65fe7f9.png)

**D

[2020-05-01 10:45] develohpanda commented on #2091
No worries! I have seen talk of _not_ saving env changes specifically when pressing escape to close the modal, however for now, this works. 🤗

[2020-05-01 14:07] ldelossa opened #2104 "Publish Flathub Package"
**Is your feature request related to a problem? Please.

While appimage is a viable installation option for non ubuntu distributions, flathub is becoming the defacto "enterprise application" hub for all platofrms.

**Describe the solution you'd like**
Instead of providing app images which are clunky to work with, make efforts toward providing a flathub driven installation.

**Describe alternatives

[2020-05-01 15:26] sesgoe opened #2105 "[Bug] context.app.prompt from workspaceAction"
I tried to open a prompt from a `workspaceAction`, but no dialog is rendered.

[code]

- Insomnia Version: 7.1.1
- OS: Windows 10

[code]

Context: I'm trying to allow a prompt to set a configuration option for my small plugin. Unsure if using API correctly or if actually bug.

`context.app.alert` seems to work with no issues from `workspaceAction`s.

[2020-05-01 15:56] sonicyeti commented on #2101
Thanks for the catch and level of detail provided, we're on it! ❤️

[2020-05-01 16:54] gschier commented on #2105
The prompt api is new and I don't think it's been released yet. Do you see a JS error in the console if you View > Toggle DevTools?

[2020-05-01 17:55] sesgoe commented on #2105
Ah--didn't realize the prompt api was new. I'm assuming you mean new for the `workspaceAction` api? And to answer your question: No, I don't see any errors in the JS Console upon trying to call the `context.app.prompt` function from a `workspaceAction`.

I was looking through issues when I found https://github.com/Kong/insomnia/issues/1520 and figured if it was a year old then the `prompt` api in

[2020-05-01 18:34] nijikokun commented on #2104
Hi @ldelossa! Thank you for raising this.

Did some digging and found out there was originally a PR to make Insomnia support flatpak but it seems it never got merged, wonder if that could be reopened: https://github.com/Kong/insomnia/issues/939

[2020-05-01 19:00] skorokithakis commented on #1640
I'm affected by this bug as well. I get "Cannot read property 'map' of undefined." whether I import from URL or file.

[2020-05-01 19:01] gschier commented on #2105
My apologies. I was thinking of the `dialog` API, which was just added. It definitely seems like you're using it correctly. Let me try to reproduce it 👍

[2020-05-01 19:06] ryanprior commented on #2088
If multiple types support is already a given, then having that sort of detection to automatically find and use the right bundle would be a solid experience.

[2020-05-01 20:11] gschier commented on #2105
Hmm, after testing with the code you posted, I was able to successfully show a prompt in Insomnia 7.1.1. 🤔

![image](https://user-images.githubusercontent.com/587576/80838162-3dc2c880-8bad-11ea-8a18-96267215e451.png)
![image](https://user-images.githubusercontent.com/587576/80838173-41564f80-8bad-11ea-98ec-25307af1622e.png)

[2020-05-01 21:13] ldelossa commented on #2104
Would be awesome. I know most of my colleagues use flatpak to install Drobox, Slack, Signal, etc... it's becoming a hot spot for desktop applications.

[2020-05-01 21:15] ldelossa commented on #2104
it looks like github actions supply a flatpak builder:

https://github.com/bilelmoussaoui/flatpak-github-actions

maybe it can be used almost in a drop in fashion?

[2020-05-02 02:49] gschier commented on #2104
Thanks for the suggestion @ldelossa!

While I would love it if we could support all the various Linux distribution formats, it quickly becomes a maintenance headache. It seems like Flatpak is very similar to Snap, which we [already support](https://snapcraft.io/insomnia
) (and supported OOTB by `electron-builder`) so I'd be curious to understand the benefits that Flatpak offers.

_Note: we're work

[2020-05-02 06:28] Isanderthul commented on #2065
Correct 😔, well thanks @gschier its "fixed" now 😅

[2020-05-02 06:28] #2065 closed, assigned to nobody

[2020-05-02 09:24] duanecilliers opened #2108 "Insomnia Designer: Fold keyboard shortcuts in design view"
**Is your feature request related to a problem? Please describe.**
The yaml file quickly gets unwieldy. It would be amazing to be able to fold and unfold, especially on certain levels. I've attached a screenshot of the shortcuts in VSCode.

<img width="956" alt="Screenshot 2020-05-02 at 11 12 36" src="https://user-images.githubusercontent.com/1135407/80860129-07954f80-8c66-11ea-8df0-c123c468a2f5.p

[2020-05-02 13:44] ldelossa commented on #2104
I seems like youre catering to one linux community (ubuntu) where almost all others (fedora, arch, clear linux, manjaro, etc...) Utilize flatpak. Its not very likely other distros will use snap, but rather likely ubuntu users will use flatpak.

I believe a flatpak install would actually make it so you DONT have to handle a deployment for each type of linux.

[2020-05-02 17:04] gschier commented on #2104
Thanks for the info @ldelossa! To be honest, none of us are full-time Linux users (anymore) so we've really just been going with whatever `electron-builder` supports out of the box. It looks like Flatpak is actually very-highly requested over there too so that's a good sign https://github.com/electron-userland/electron-builder/issues/512

[2020-05-02 18:36] gschier commented on #2050
I think I've seen this reported before somewhere. It looks like the XPath library we're using doesn't like the `xmlns="http://url/DataService/"` attribute. Removing this makes the query `//LoginResult` work. However, the `text()` function also seems to be not supported, as `//LoginResult/text()` returns nothing.

Perhaps we should look at updating our XPath dependency or finding a more-complete on

[2020-05-02 18:40] gschier commented on #2046
We don't support automatic detection of system proxies but perhaps we could handle this better in the future.

For now, you can manually set the proxy settings from within the application preferences. https://support.insomnia.rest/article/53-http-s-proxy

Going to close this one, as it's not a bug. Feel free so open another issue if you still feel that automatic detection is necessary 😄

[2020-05-02 18:40] #2046 closed, assigned to nobody

[2020-05-02 19:18] shravan2x commented on #2046
@gschier I think this is a reasonable default so Insomnia plays well with other applications. Manually setting the proxy works but is a chore to set/remove on each use.

Could we reopen this issue and treat it as a feature request? I see the appropriate tag has been added already.

[2020-05-02 20:05] aadityabhatia commented on #2104
Related #1812

[2020-05-03 00:21] burtonr commented on #2101
Not sure if this helps, but I was having trouble running the Insomnia REST client (not designer) with a similar error on Ubuntu freshly updated to 20.04:
[code]
As you can see, this was installed via snap. It was working fine, but once upgrading to Ubuntu 20.04, the app no longer started.

To "fix" it, I removed the snap and re-installed:

[code]
Working fine after that (lost my data though :frown

[2020-05-03 13:50] develohpanda commented on #2018
@mum-never-proud as far as I know, nobody is working on this at the moment, feel free to pick it up! 😊 any reasonable key combination is probably okay.

@elemanhillary potentially - does `cmd + /` conflict with the default keybind for commenting code in the editor?

[2020-05-03 14:05] develohpanda commented on #1966
Hi @ranjan-purbey, feel free to! Sorry about the late response 🤗 it's been a busy few weeks!

[2020-05-03 18:16] jacobparis opened #2110 "Axios support for Code Generation"
The code generation for Javascript (browser) supports jQuery, fetch, and XHR. For Node.js it supports http, request, and unirequest

Axios is one of the most popular request libraries in the javascript ecosystem, working on both frontend and backend code with the same API and only weighing 5kb after gzipped

If deemed to be within scope for insomnia, I'd be willing to submit a PR adding code gener

[2020-05-03 19:17] gschier commented on #2110
Thanks for the request!

It looks like there's already a discussion for axios on the `httpsnippet` library that generates these. Please feel free to participate in that discussion/work 🙂
 https://github.com/Kong/httpsnippet/issues/155

[2020-05-04 11:39] gbogard opened #2111 "Keep equal sign for empty query parameters"
Hi :)
I've been using Insomnia for over 2 years now, and it's such a great piece of software. However, I am currently facing an issue that stops me from using on a particular project.

I need to call a legacy web server that has a very *not standard* way of dealing with query parameters. There is only one endpoint, and all parameters of a request, including the nature of the request itself is pass

[2020-05-04 11:47] gbogard commented on #2111
Update: I have found a workaround for my particular use case. When putting the equal sign in the parameter name itself in the `Query` tab, the server picks it up as if it wasn't part of the parameter name, even though it is url-encoded.

However this only works because of the way this particular application handles query parameters. I believe the feature request is still relevant, although much le

[2020-05-04 11:55] anno1985 commented on #2072
Our swagger file is massive; I'll try to provide a sample file that fails to import some time this week, but no promises... ;-)

[2020-05-04 12:47] fcottet commented on #669
This is very similar to issue #260
It would be awesome to see these 2 questions solved in a similar manner - like an option at the workspace level to reset all the stored responses/tokens when switching between environments.

[2020-05-04 14:37] fabiosantoscode opened #2112 "Make a cookie immutable"
**Is your feature request related to a problem? Please describe.**

Whenever I'm talking to a backend I'm working with, and there's anything wrong with auth, it clears the session cookie. This is good behaviour I don't wish to change. The problem is, every time something wrong happens with auth, I have to go and manually set the session cookie again in the cookie screen.

**Describe the solution y

[2020-05-04 16:22] tvelich commented on #1922
Still happening on the latest version for me unfortunately. I'm wondering if this has to do with an existing Electron app running already. It seems to not do this as frequently if I close Slack before launching Insomnia.

Edit: FYI, my installation is from `apt`

[2020-05-04 20:06] brad-young commented on #2050
yeah, the hard part is not being able to control the TOKEN API call that adds the xmlns. And .... I don't think there's another way to do this, correct? If I want to chain together commands and grab the token value, this is really the only method.

[2020-05-04 20:29] tcelestino commented on #1717
Insomnia Designer v2020.1.3 on Ubuntu 18.04

![Screenshot from 2020-05-04 17-25-28](https://user-images.githubusercontent.com/190265/81010463-bbe0d280-8e2c-11ea-8555-0b592f83d3a5.jpg)

[2020-05-04 20:33] reynolek opened #2113 "Design mode's spec validator runs before spec renders in"
**Describe the bug**
When switching from Debug mode to Design mode with a valid spec, the linter briefly says there is an error on the first line (`'undefined' does not exist @ ''`). Likely the linter is running too soon. You can see the spec file blink in when switching.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter a valid spec into Design mode
2. Go to Debug mode
3. Switch back to

[2020-05-04 21:03] gschier commented on #2050
Not quite. You could write your own fork of the Response Tag plugin or maybe make use of this one https://insomnia.rest/plugins/insomnia-plugin-response-eval

[2020-05-04 21:57] reynolek commented on #2080
I imagine for the same reasons, but Swagger 2.0 also causes extra environments to be copied (seems to only show up when you restart the app)

[2020-05-05 06:12] elemanhillary-zz commented on #2018
@develohpanda yeah, may be we can do ctrl + /

[2020-05-05 08:18] mpern commented on #1841
Any chance that #203 gets added to this roadmap?

It has a lot of upvotes and is a glaringly missing feature of Insomnia.

[2020-05-05 13:00] jostFT commented on #1937
any update on this?

[2020-05-05 14:58] zzFluke commented on #973
I've noticed same behavior using REST json payload. Template tags that are not wrapped in quotes, that must be rendered to any valid json value other than `STRING` reported by linter as a syntax error.

[code]

Gives:
`Expecting 'STRING', '}', got 'undefined'`

[2020-05-05 16:44] IamFlowZ opened #2116 "[Feature Request] Schema Exploration"
**What is the context?**
From my experience using insomnia, you can only explore the root query and mutation objects that your schema definition contains. Transitively, you can only explore types that are currently being used by those objects. Any type you define, has to be used be either the root query object or the root mutation object, at one point or another. Otherwise it is inaccessible from

[2020-05-05 17:14] aaronhmiller opened #2117 "Error installing plugin on Insomnia Designer"
**Describe the bug**
Error when installing `insomnia-plugin-os` into Insomnia Designer

**To Reproduce**
Steps to reproduce the behavior:
1. go to Insomnia Designer menu, select Preferences
2. go to Plugins tab
3. enter "insomnia-plugin-os" into npm-package-name field
4. click "Install Plugin"
error results

**Expected behavior**
A working plugin is installed

**Screenshots**
If applicable, add sc

[2020-05-05 18:09] Bogidon opened #2118 "Sharing auth method"
**Describe the solution you'd like**
1. An way to easily share an oauth provider as the auth mechanism for a bunch of different endpoints, or an entire environment.
2. Would also love it if the auth cookie is held on to so a new token can be issued without another login.

**Describe alternatives you've considered**
Currently I have one endpoint that has the auth mechanism (OAuth 2) set up. I copy

[2020-05-05 18:41] nijikokun commented on #1841
Looking into it to see if we can scope something out for the application.

For now, I'm wondering if [this plugin](https://insomnia.rest/plugins/insomnia-plugin-path-parameters) would help?

[2020-05-05 18:44] nijikokun commented on #2118
Welcome @Bogidon 👋

Oh, I see, something like a shared authentication store that you could reference on requests? Seems like a really good idea actually. I'm wondering if it could be used more than just authentication.

@gschier is there anything like this in the app currently?

[2020-05-05 19:20] gschier commented on #2118
There was a discussion a long time ago under the feature "Parent Requests" but it was abandoned for various reasons: #598

For OAuth 2.0, specifically, someone has created a plugin that allows referencing the Access Token from a different request. That way you only have to define the information once. This should solve your immediate problem of manually copying the token into the environment:

htt

[2020-05-05 19:20] securisec opened #2119 "Request/Respone actions for plugins"
**Is your feature request related to a problem? Please describe.**
Currently, there are actions support for workspaces and folders, but not for individual requests itself when building plugins. It would be awesome to be able to write plugins that can use used at a request/response context also.

Often times, I am using quicktype to convert json, graphql, or json schema responses to various types d

[2020-05-05 19:40] gschier commented on #2018
Since it's only conflicting on Mac, and seems like a relatively infrequent key combo, I suggest changing _only_ the mac keybinding to `cmd+ctrl+shift+/`.

[2020-05-05 20:40] sonicyeti commented on #2095
@dryize Just a quick update, we are looking into full OAuth support for Azure DevOps. We'll touch base shortly!

[2020-05-05 22:04] Bogidon commented on #2118
👋

In general +1 to referencing parts of other requests. Though, to me the clearest way for auth to work would be if you can declare an auth strategy that can be applied to multiple requests, that would internally only rerun as necessary. That would remove the "oh you have to run this special request first".

Thanks for the plugin. I tried a [different one](https://github.com/malm/insomnia-plugin-

[2020-05-05 23:29] dpkano commented on #1371
@gschier ? The prompt hints do not give me the possibility to to have a label/id pair to bind with each option, the SelectModel give this possibility.

[2020-05-05 23:55] anotheri commented on #2015
Same here but when I pulling from git, restart app helps, but I have to do it all the time

[2020-05-06 03:59] jacobparis commented on #2110
Oh thanks for the direction 🙏

[2020-05-06 03:59] #2110 closed, assigned to nijikokun

[2020-05-06 04:10] nijikokun commented on #2117
Thanks for the report @aaronhmiller 🙏

If you install twice does it happen both times? Sometimes npm can fail when installing a module, not the best error message to debug either! Going to try locally.

---

Looks like I can replicate, and attempting to install multiple time triggers the same error, definitely something going on with the package.

![image](https://user-images.githubusercontent.com

[2020-05-06 04:17] nijikokun commented on #2116
Hi there 👋

Is this related to #2019?

Seems like this issue would also benefit from #1864 & #1831

[2020-05-06 08:59] rb610 opened #2121 "Provide feature to run requests from one folder or multiple one by by one sequentially."
need feature to execute all requests from a collection at once.
may be sequentially.

[2020-05-06 09:02] rb610 opened #2122 "Request chaining is not very user friendly."
how to achieve this using insomnia :

For example :

request 1 : login with username and password
response: returns sessionId for user.
set this sessionId in env variables

request 2 . use this env variable in header or in body of Request # 2

[2020-05-06 09:24] knokio opened #2123 "[Feature Request] - Improve error message when variable is not found"
**The error message before sending a request, when some variable is missing is not very clear**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. In any request add some non-existing variable to the body or headers
2. Send request
3. See error: `attempted to output null or undefined value`

**Expected behavior**
The error should be clearer: `

[2020-05-06 12:20] giladt opened #2124 "Windows defender raises security issue while downloading / Installing Designer 2020.1.3"
Got this error message while trying to install `Insomnia.Designer-2020.1.3.exe`.
Apparently because of certificate issue.

![image](https://user-images.githubusercontent.com/2517870/81175969-b1e1df80-8fa4-11ea-9918-cd93209ca344.png)

![image](https://user-images.githubusercontent.com/2517870/81175549-0173db80-8fa4-11ea-9e11-8d0b4c9a13c6.png)

[2020-05-06 12:53] heptal opened #2126 "Selecting request not working"
**Describe the bug**
Not exactly sure what happened here, as I didn't change anything (that I know of) but selecting certain requests (nothing special about them) breaks hard now - apparently by trying to resolve non-string path params now (`[]`).

Related and as a feature request - I wish a world state snapshot history were kept (last X hours, days, weeks) as it's not much data - at least accessi

[2020-05-06 13:31] igor-simoes opened #2127 "The response should be parsed by Insomnia"
Recently, I migrated from Postman to Insomnia and it worked very well. A few moments ago I tried to get a response from a private service and the result didn't work as expected.

The Header contains:
[code]

**Screenshots**
I ran the same request in Postman and worked as expected.
Postman
![image](https://user-images.githubusercontent.com/24598778/81178363-77654c00-8f7e-11ea-9e5b-cf62daf764fe.png)

[2020-05-06 15:34] sylann commented on #1640
Exactly in the same situation as @vitalis. Also I just wanted to point out that the bug does not occur when you directly copy&paste your openapi.json inside of the Insomnia Rest Designer text editor.

[2020-05-06 17:16] nijikokun commented on #2124
Welcome @giladt

It will take some time for the certificate to reach it’s installation quota and be “safe”. 😞

Unfortunate issue with new certs.

[2020-05-06 17:16] #2124 closed, assigned to nobody

[2020-05-06 17:43] gschier commented on #2124
Insomnia (Core) had this problem for months after launch. Hopefully Designer will exit the transition more quickly from having a larger number of users to start with.

As an additional note, virus scanning software will sometimes also flag it for the same reasons, until enough people mark it as "safe".

[2020-05-06 18:27] yagodorea opened #2128 "Insomnia freezes lightdm on startup"
**Description**
Insomnia sometimes freeze my UI when I try to open it.

I've seen this bug happen in two different scenarios.
- First when I forcibly closed Insomnia in the middle of a request and then tried to open it again. I guess the Responses file wasn't properly closed by then and when Insomnia tried to open it it somehow messed up my lightdm (the screen was frozen and I had to restart my se

[2020-05-06 19:04] nsankaranarayanan commented on #2124
Running into the same issue.

[2020-05-06 21:05] IamFlowZ commented on #2116
Yes, I would agree that all three could possibly be solved, if you could plainly view a schema file. I've looked at both the introspection query that is called to get the schema, along with the component responsible for rendering the documentation. The introspection query 100% has all the information necessary to display a full schema, what will probably need to be changed is the GraphQLExplorerSc

[2020-05-06 21:38] develohpanda commented on #1640
I recently built functionality to honor default variables in an OpenAPI spec server, as part of the `openapi-2-kong` package, but the logic is fairly generic and should be usable by `insomnia-importers` as well. With some adaptation, I _believe_ this would solve the original bug reported.

https://github.com/Kong/insomnia/blob/453745d3e22cb64bb271a2ab7b36df2b8d936892/packages/openapi-2-kong/src/ku

[2020-05-06 22:47] gschier commented on #2122
I suggest taking a look at the request chaining documentation in Insomnia: https://support.insomnia.rest/article/43-chaining-requests

It sounds like you might be coming from Postman, which has the concept of setting an environment variable after a response. Insomnia, however, solves this problem with a different solution: if you want to reference a sessionId from a separate request, you use the R

[2020-05-06 23:08] #2126 closed, assigned to nobody

[2020-05-06 23:13] gschier commented on #2128
Hmm, this sounds like similar behavior to when Insomnia freezes when trying to render really large responses (> 5MB). Did this happen with larger responses, specifically, or did that not matter?

Just one more note, it is currently a bug that you can open multiple Insomnia windows on Linux/Windows. Insomnia does not properly handle having multiple windows open at this time.

[2020-05-06 23:54] aaronhmiller opened #2130 "No place to set certificate info"
**Is your feature request related to a problem? Please describe.**
I'm trying to create a certificate to use with TLS calls. In Kong Studio, this was possible with the Workspace's settings:

![image](https://user-images.githubusercontent.com/223486/81239582-1e1b0e00-8fba-11ea-8334-02b6cc01a28c.png)

**Describe the solution you'd like**
Seems like authenticated calls using certificate keys should b

[2020-05-07 00:43] aaronhmiller commented on #2130
just learned about the `command-shift-comma` method to bring up workspace. It'll do for now, but a GUI way is always nice.

[2020-05-07 09:40] rb610 commented on #2122
thanks very much !

how to run multiple request from single folder?

[2020-05-07 10:12] rb610 commented on #2122
Also,
1. how to find difference between saved request and unsaved request. is there any notation to distinguish it.

2. How to set expected result, to identify response as pass or fail.

[2020-05-07 11:47] Lonli-Lokli commented on #2035
Similar issue happens when Save to file button pressed - seems like this file save block UI as well.

[2020-05-07 13:21] yagodorea commented on #2128
I'm not sure that's the case. The overall size of the responses folder was over 5MB, I guess? But I don't think any individual response was that size. Also it never happened while opening any request, just when opening the app itself.

[2020-05-07 13:41] yagodorea opened #2133 "Disable decompression in responses"
Some servers provide wrong decompression headers that result in an error being shown even though the data itself isn't broken.

Insomnia could have an option to disable automatic decompression for certain requests. Axios recently incorporated that feature in it's request configuration (`{ decompress: false }`). We could then set manual decompression methods we know will work for the kind of data w

[2020-05-07 14:27] OtavioCapila commented on #1922
[code]
`snap --version`

[2020-05-07 14:39] blake59 commented on #1956
Having the same problem did you manage to fix it?

[2020-05-07 19:14] gschier commented on #2105
I'm going to close this for now, as it seems to be working, but please follow up if you continue experiencing problems

[2020-05-07 19:14] #2105 closed, assigned to gschier

[2020-05-07 19:16] gschier commented on #2127
Can you please provide a public endpoint that can be used to reproduce this?

[2020-05-07 19:54] imrishabh18 commented on #2098
@develohpanda Can you assign me this issue ?

[2020-05-07 20:42] develohpanda commented on #2098
Feel free to work on this @imrishabh18 🤗

[2020-05-07 22:27] igor-simoes commented on #2127
Hi @gschier thanks for the response. I don't know how proceed to reproduce this case, it is a paid service that I don't have access to the server. I stored the response obtained by Postman and I built a simple api to provide the data. The Insomnia got the data with success. I think it is something related to client-side when try to enconding/parsing the data but I really don't know what happened.

[2020-05-08 00:37] #2100 closed, assigned to develohpanda

[2020-05-08 00:58] #1944 closed, assigned to nobody

[2020-05-08 04:45] mdaniel opened #2137 "recursive schema items are empty"
**Describe the bug**

When trying to use an OpenAPI file with [a recursive schema definition](https://json-schema.org/understanding-json-schema/structuring.html#recursion), the recursive type is omitted from the schema browser

**To Reproduce**
Steps to reproduce the behavior:
1. Load the file below
1. Expand the `person` schema
1. Expand the `children` items
1. Observe the list is empty

**Expect

[2020-05-08 04:46] superj80820 opened #2138 "Cannot sync with Gitlab repository"
**Describe the bug**
Cannot sync with Gitlab repository

**To Reproduce**
1. Set Gitlab [personal access token](https://gitlab.com/profile/personal_access_tokens)
  ![20200508122831](https://i.imgur.com/hDxKRRB.png)
2. Copy token
  ![20200508123023](https://i.imgur.com/7kjrNcU.png)
3. Paste to insomnia designer
  ![20200508122957](https://i.imgur.com/vCFFy8O.png)
4. Pull repository. Get Error
  ![

[2020-05-08 08:55] KamilKot95 commented on #2082
+1

[2020-05-08 11:42] sylann commented on #1640
First, I'm on Macos Catalina, and I use Insomnia `Version 7.1.1 (7.1.1.3350)`

Steps to reproduce:

1. In the data menu, **click on "Import data"**
2. Choose any option as long as you use the data given below

<img width="638" alt="image" src="https://user-images.githubusercontent.com/17208592/81401374-7889ab00-912f-11ea-9127-657d59ca89f9.png" style="border: 1px solid #c0d3eb; border-radius:3px;">

[2020-05-08 12:32] sonicyeti commented on #2095
We are exploring options that will expand git support for Azure (among others) however currently we don't have an ETA on when that might ship. Thanks again for identifying this @dryize!

[2020-05-08 12:34] sonicyeti commented on #2101
We are exploring another installation delivery approach for linux but haven't an ETA on when that may ship. Thanks for the additional notes @burtonr!

[2020-05-08 12:54] sylann commented on #1794
I think the need here is to have the ability to quickly change the state of "being authenticated".

If we have a endpoint `/login` that returns `'{ "token": "super token" }'`
And we want to automatically add the token to the Authorization header.

We could create a variable `token` that would have a Response template tag as value.
The template tag would be configured like so:

<img width="775" alt

[2020-05-08 13:42] jigarius opened #2139 "Query Variables viewport - Strange jumps in scroll position while editing"
**Describe the bug**
  * Say, you're preparing a query with a bunch of input vars.
  * When you edit the Query Variables, there are strange jumps in the scroll position unlike I've ever seen in any other app. These result in a negative experience.
  * Seems like the app tries to adjust the scroll such that the line you clicked appears as the last line.

**To Reproduce**
Steps to reproduce the beha

[2020-05-08 14:24] sturose commented on #1794
Just for reference, the way this is handled in Postman is closest to option 2.  You simply set a variable's value when processing a response (as opposed to referencing a response when processing a request).  That allows the user to then freely clear out the value whenever they choose.  I haven't found a way to do that using insomnia.  Insomnia's templating solution seems more complicated and less

[2020-05-08 16:29] sonicyeti opened #2140 "Legacy component migration"
Migrate the following components from legacy to latest instance of Storybook.
- [x] Notice
- [x] Prompt Button
- [x] Help Tooltip
- [x] Forms

~~Editable~~

Visually organize components in storybook mirroring MUI/Boostrap/Foundation

[2020-05-08 21:05] gschier opened #2141 "Fix Linux builds"
Currently, Linux builds fail with the following error:

https://github.com/Kong/insomnia/runs/638178312?check_suite_focus=true

[code]

This seems to start happening out of the blue and could be related to the CI environment of GitHub Actions. Running the Docker build locally seems to work.

We have two potential "solutions" to try and fix this:

- [x] ~~Try running the Docker build from a macOS h

[2020-05-08 21:35] EnilPajic opened #2142 "(Insomnia Designer): some text not visible on darker themes"
**Describe the bug**
When switched to darker theme, some text is not visible or it is very hard to see (depending on the theme).

**To Reproduce**
1. Open Insomnia Desginer,
2. create new Blank document
3. Change theme to e.g. Default (dark)

**Expected behavior**
To see the full text, especially 'code syntax'

**Screenshots**
<img width="679" alt="image" src="https://user-images.githubusercontent

[2020-05-09 02:24] nijikokun commented on #2082
@kroleg absolutely, core functionality to support multi-file is something we are actively thinking about.

[2020-05-09 07:41] bannmann opened #2143 "'JetBrains Mono' missing in text editor font list"
**Describe the bug**
Insomnia does not list [JetBrains Mono](https://www.jetbrains.com/lp/mono/) as a text editor font. Obviously, the font does not have the `monospace` property the code filters on.

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro 1909
 - Installation Method: Installer from Insomnia website
 - App Version v7.1.1

**Additional context**
Can be fixed

[2020-05-09 07:52] bannmann commented on #2143
The problem appeared with JetBrains Mono 1.0.0. I only now discovered there's an update: installing JetBrains Mono 1.0.3 fixed the problem. 🎉

[2020-05-09 07:52] #2143 closed, assigned to nobody

[2020-05-09 10:05] zachcheung opened #2144 "failed to select some history response"
**Describe the bug**
failed to select some history response.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to request
2. Click on history responses menu
3. Select some history response
4. Won't go to selected history response

**Expected behavior**
Show selected history response

**Screenshots**
![insomnia](https://user-images.githubusercontent.com/964285/81470709-d9dc7780-921e-11ea-8c0

[2020-05-09 10:33] sylann commented on #1794
@sturose I remember using the "test" panel to save the token in the environment on login response success.
I know I could do that similarly with insomnia plugins, but the documentation is a little terse for now, I've tried some things but - jokes aside - my nodejs is a little rusty.

[2020-05-09 11:00] kaaj opened #2145 "Is it safe to store sensitive data in environment variables? (e.g. apiKey)"
In our system there is a custom authentication method which is similar to Amazon’s AWS4 authentication but not the same.
That is why we would like to create a plugin which will be able to do the authentication process providing sensitive data by the environment variables.
As we see the environment variables are stored in `insomnia.Environment.db` file on the filesystem without any encryption.
Is i

[2020-05-09 23:43] fabiojaniolima opened #2146 "[Feature Request] Ability to export workspace without cookies"
**Is your feature request related to a problem? Please describe.**
Considering the privacy factor I would say that it is a problem related to each context of use.

After exporting the workspace and opening the JSON file, it creates content that presents a cookie with the data definitions of my private workspace, that is, the export does not cover this privacy feature.

Example:
[code]

**Describe

[2020-05-10 01:08] sonicyeti commented on #2142
Thanks for the feedback!  🙏

[2020-05-10 10:10] nishantha-kumara opened #2147 "GraphQL enumeration auto complete."
I already used many tools such as altair graphql client, apollo graphql client like that. but I moved to insomnia because the interface is very clear and has some valuable features.

**Today I notice something in insomnia, the enumeration variable does not suggest (autocomplete) so I think this feature is valuable for the developers.**

[2020-05-10 13:07] #2122 closed, assigned to nobody

[2020-05-10 13:08] rb610 opened #2148 "how to run multiple requests from folder? and set expected result?"
how to find difference between saved request and unsaved request. is there any notation to distinguish it.

How to set expected result, to identify response as pass or fail.

how to run multiple requests from folder.

[2020-05-10 13:26] nguyenkien opened #2149 "Insomnia dark theme should leverage dark theme on linux"
When user choose dark theme title bar should use system dark theme too.

**Screenshots**
This is how it look now
![Screenshot from 2020-05-10 20-17-16](https://user-images.githubusercontent.com/1940081/81500321-b5a29880-92fb-11ea-891a-247faef16be0.png)

This is how it should be.
![Screenshot from 2020-05-10 20-22-05](https://user-images.githubusercontent.com/1940081/81500375-0adeaa00-92fc-11ea-938

[2020-05-10 17:45] sturose commented on #1794
I guess that's kind of my overall point. Every developer understands defining a variable and setting it's value.  It's so much easier than the template system that insomnia has, in my opinion.   I've used postman for years, but I want to switch to insomnia. There's just a few things that would make it's use easier for me.  Right now, it feels like variables are very inflexible, unless you want to

[2020-05-10 23:29] develohpanda commented on #1640
Thanks for that @SylannBin! A missing `servers` declaration wasn't handled by the openapi3 importer previously, resulting in those errors. I'm willing to say @vitaliis is experiencing the same thing as well.

That has been resolved by #2007 though, and will be included in the next release of Insomnia Core. I confirmed by importing that specification successfully while running on the latest `develo

[2020-05-11 00:30] vitaliis commented on #1640
Right. The issue is gone when you add the `servers` section. I also see the following error, but again it is also resolved after adding the `servers` section.
![image](https://user-images.githubusercontent.com/1839541/81514396-2c0cbe00-932f-11ea-8303-d4635a3d985e.png)

Good that it is generally resolved by #2007. Thanks, @develohpanda for the info!

[2020-05-11 08:57] crimsonvspurple commented on #2148
I dont think insomnia supports any of these.

[2020-05-11 09:15] crimsonvspurple opened #2152 "Multi-Window, Sync, Workspace ex/import"
I'm a heavy user of Insomnia and I even paid for team/sync features at some point.

Generally, these are the issues I have faced:
- open multiple window, you can work on multiple workspaces; but if you by mistake open same workspace on multiple window, depending on what you change, when you close these windows, things get overwritten. Has this been fixed?

- Similarly, people with sync making chan

[2020-05-11 09:18] afterdigital commented on #1937
I'm hitting this problem as well I'm having to hardcode the value in, which defeats the purpose.

[2020-05-11 10:13] briandiephuis commented on #1784
@elemanhillary What PR were you referring to? This would be a great feature to have!

[2020-05-11 11:16] anno1985 commented on #2072
I tried to create a sample file with the same sections we have, but only dummy values instead of the real ones. However, that imported without a problem. So it's not an issue with a missing section, I think.

Our swagger file is 11k lines long, and internal, so I can't share it as is, I'm afraid. And selectively removing individual sub-blocks is going to potentially take ages until I find the offe

[2020-05-11 11:42] bagf opened #2153 "Git Sync clone not working on Windows"
**Describe the bug**
When pulling documents using Git Sync a `Error: ENOENT: no such file or directory` error is reported and nothing is updated. This appears to occur on Windows and not OS X.

**To Reproduce**
Quick steps:
1. Create -> Git Clone
2. Paste `https://github.com/bagf/pullcrash.git` into 'Git URI' field
3. Enter your author name and email
4. Paste authentication token
5. Done

Steps to

[2020-05-11 11:47] sdc4 opened #2154 "Support "code_challenge" with OAuth2 Auth Code"
**Support of "code_challenge" with OAuth2**
Hi, does Insomia support the Pkce "Code Challenge" Machanism with OAuth2 and the Auth Code Flow?

An error is returned, when Pkce is activated, without Pkce insomia can get the token.

Greetings
sdc4

[2020-05-11 12:16] anno1985 commented on #2072
Ok, I decided to look closer at everything that has a `type` property that looks suspicious (by searching for `(?:"type": ")(?!(string|array|integer|object|boolean|number)).*`, and I eventually found the issue via the `securityDefinitions` block:

We've basically got the following security definitions defined:
[code]

We then erroneously use

[code]

In other words, we are trying to reference a se

[2020-05-11 14:55] Geobert opened #2155 "content-type is wrongly reporting text/html"
**Describe the bug**
The server sends `application/json` in header but Insomnia reports `text/html` and doesn't render the json

**To Reproduce**
Steps to reproduce the behavior:
1. I'm pointing Insomnia to an OAuth client that redirect to a OAuth provider with a loging page
2. I log in
3. I receive an OAuth2 token but displayed as text instead of JSON

**Expected behavior**
Insomnia should displa

[2020-05-11 18:21] nijikokun commented on #2138
After doing some research, @develohpanda it appears that a combination of Bearer + Scopes + `.git` might resolve the issue. https://github.com/isomorphic-git/isomorphic-git/issues/1082 https://github.com/isomorphic-git/isomorphic-git/issues/1122

[2020-05-11 18:25] nijikokun commented on #2146
Hello, yes, we full export all data so you are able to transport it to other applications and leave the burden of ensuring that whatever you are putting the export into you trust and have confirmed it to be a secure or secure enough environment.

These exports are often times used for replication purposes.

I could see maybe an option to export with certain things removed.

---

Adding the needs d

[2020-05-11 19:31] #1857 closed

[2020-05-11 19:41] heptal opened #2157 "Show Dev Tools with ⌘⌥I (⌃⇧I)"
Show Dev Tools with `⌘⌥I` (or `⌃⇧I`) like all the browsers do, and many Electron apps.

Also, it would be a nice if some level of smarter completion occurred when editing environment JSON - tabbing through the entries, auto-insert quotes, etc. Enter could append a new entry like:
[code]

[2020-05-11 20:34] sonicyeti commented on #2113
Can't reproduce, verified on @reynolek's env.

[2020-05-11 20:34] #2113 closed, assigned to sonicyeti

[2020-05-11 20:53] #2142 closed, assigned to sonicyeti

[2020-05-11 21:27] develohpanda commented on #2072
![](https://media0.giphy.com/media/BmmfETghGOPrW/giphy.gif)

Nice find! You raise a good point about how you would expect Insomnia to handle this. We should at the very least try to provide a better error (the `workspace.type` not iterable is fairly generic).

I'll leave this issue open for the **Insomnia Core** import, here is an example specification with which I reproduced this issue.

<details

[2020-05-11 21:44] develohpanda opened #2158 "[BUG] Error due to mismatched key in specification is not handled by designer"
**Describe the bug**
When designing a Swagger 2.0 specification with a mismatched security key (such as `testKey` in the following example), no error is shown in Design view while the import fails when moving to Debug.

Here is an example specification. This is valid yaml, but invalid for a swagger definition.

<details>
<summary>Example</summary>

[code]
</details>

In editor.swagger.io, this is

[2020-05-11 21:51] develohpanda opened #2159 "Kong for Kubernetes config generation improvements"
- [x] If multiple `Ingress` documents exist, they must have unique names. Otherwise, running `kubectl` will overwrite the previous one - #2163
- [ ] Consider adding [`konghq.com/protocols`](https://github.com/Kong/kubernetes-ingress-controller/blob/master/docs/references/annotations.md#konghqcomprotocols) annotation explicitly, to retain more routing information if a service can be both `http` and

[2020-05-11 23:26] crash7 commented on #1841
Any chances that you port the git sync from the designer back to insomnia core? the designer in debug mode is basically insomnia core 😕

[2020-05-11 23:27] rstarkov opened #2160 "Trailing commas in Environments"
When I tweak my environment, I'm constantly cutting and pasting lines of JSON here and there. Having to worry about adding/removing trailing commas just to keep the tool happy is really quite annoying.

Is there a reason why Insomnia won't just allow and ignore trailing commas?

This is similar to issue #770 but that one is about JSON request body so I felt it's best to submit a separate request.

[2020-05-11 23:57] nijikokun commented on #2159
Server URL protocol. We should use `http` or `https`, not both.

True. This modifies the K8s behavior, which would be nice if K4K8s converted this to annotations for Kong. The `http` / `https` annotation would only impact Kong not K8s.

My understanding was that K4K8s did this under the hood, if that's not the case, this would be ideal.

Let's meet tomorrow to discuss this in depth

[2020-05-12 00:01] nijikokun commented on #2160
This is due to the JSON specification not allowing trailing commas. An idea we could explore is treating it as a JS Object, rather than using the notation form. This way trailing commas could be supported. The issue then becomes that this opens up a security vulnerability vector.

Another idea is that instead of warning the user or berating the user, we could attempt to format the document and cle

[2020-05-12 00:03] nijikokun commented on #2149
I'm not sure if this is possible through the electron API, but I'd love to be enlightened. It looks awesome.

[2020-05-12 00:05] nijikokun commented on #2155
Can you post a screenshot of the headers sent over? feel free to scrub any sensitive data.

[2020-05-12 00:08] nijikokun commented on #2153
The library we use doesn't rely on your local git so that shouldn't be affecting it. What scopes did you apply to the Access Token?

[2020-05-12 00:10] nijikokun commented on #2153
Appears it's not a scope issue. Just tried using `read` scopes and I can replicate the issue.

![image](https://user-images.githubusercontent.com/198276/81624146-5059b080-93aa-11ea-8af7-ed545221989e.png)

[2020-05-12 00:18] nijikokun commented on #2145
It's as safe as the place you store them since there is no encryption. If you are using teams, there is end to end encryption to ensure safety, and should you export them, I'd advise to store them in a private repository.

We have discussed recently the possibility of encrypting variables in the environment.

[2020-05-12 00:49] develohpanda commented on #2138
Looks like we're not sending `username` as part of the requests to GitLab. It is only optional for GitHub as per isomorphic-git implementation. I forced it to my username for testing and voila!

![image](https://user-images.githubusercontent.com/4312346/81626068-c31c6780-944e-11ea-858b-e275de8101c6.png) [ref](https://isomorphic-git.org/docs/en/authentication)

[2020-05-12 03:06] nguyenkien commented on #2149
Just foundout this on electron docs: Passing `darkTheme: true` when you create BrowserWindow
https://github.com/electron/electron/blob/v3.1.13/docs/api/browser-window.md

[2020-05-12 04:47] nijikokun commented on #1841
We have plans for this but it will be later in the year

[2020-05-12 07:57] Geobert commented on #2155
Thank you for your answer :)

sure:
content-type: text/html; charset=utf-8
content-length: 424
date: Mon, 11 May 2020 15:59:44 GMT

![image](https://user-images.githubusercontent.com/72570/81655987-8fc9e080-942e-11ea-9165-e85c69163750.png)

[2020-05-12 13:47] shasureshkumar commented on #1367
Even I am facing same kind of issue when importing huge data, as I am trying to deploy my application's swagger file I couldn't share here.
<img width="782" alt="Screenshot 2020-04-29 at 9 13 40 PM" src="https://user-images.githubusercontent.com/11661366/81699588-3214b300-9485-11ea-91e4-bb1a3d021a43.png">

[2020-05-12 14:41] rootext opened #2161 "[FEATURE REQUEST] Meeting user expectations when editing uploaded specs and source file updates."
**What is your question?**
Insomnia Designer is great tool but I don't understand how I can use it to modify existing API definition .yaml? I can import a file using Create -> Import from -> File but after that no changes are synced to the original file.
My expected scenario is the following:
1. Run Insomnia Designer and open existing API definition file.
2. I modify API definition (debug, preview

[2020-05-12 16:23] bagf commented on #2153
I used the repo scope `Full control of private repositories` and the same token worked on OS X version of the app - thanks replying

[2020-05-12 17:02] skyhirider commented on #874
How is this looking? Seems like a nice feature to add as even right clicking on a link does not allow us to copy it, so we either must drag and copy, or click, open in browser then select and copy.

[2020-05-12 19:15] nijikokun commented on #2161
Hi @rootext

Currently we create a local instance of the file in the app directory instead of modifying the original, is the ask here for the application to modify the opened file instead?

[2020-05-12 20:04] stdedos commented on #874
Seems stale both ways to me. I don't think it received a proper review, and there are some things in the air from owner's point of view.

Honestly, I think @dschulten has had a pretty good idea of what everyone in this thread is requesting (and it is implemented), but the code needs to go through a quality gate.

[2020-05-12 21:22] #2096 closed, assigned to develohpanda

[2020-05-12 22:05] #2094 closed, assigned to develohpanda

[2020-05-13 00:33] rootext commented on #2161
Exactly.

[2020-05-13 03:24] develohpanda opened #2163 "k4k8s - ingress document name must be unique"
If multiple Ingress documents exist, they must have unique names for each run. Otherwise, on applying the configuration, the last ingress document will overwrite all previous ones.

[2020-05-13 07:06] hervehobbes opened #2167 "Openapi3 spec with empty item in security schema fails to import"
**Describe the bug**
I can't import a Json OpenApi file.

**To Reproduce**
Hello,

I have an OpenApi Json file that generate an error when I try to import it in Insomnia Designer.
This file can be opened in Swgger Editor and this editor does not report any problem.
Here is the error message I have when I try to import the json file :
`
Import Failed
TypeError:
result.summary[_models_WEBPACK_IMPORT

[2020-05-13 07:59] m-v-k opened #2168 "feature for teams - invite users"
when i want to add people to our payed teams account, i have to explain them they need to create an account first, only them i can add them.

why not simply let me invite users whith emailaddress?
the result is the same

there is also a feature request open, to add single-sign-on providers to my insomnia teams account (openid-connect) this would be much better.

currently i am not really happy wit

[2020-05-13 08:20] Nisgrak commented on #1841
I think #1778 should be a priority, with that you improve the interoperability with Postman. We would import Insomnia collections in Postman.

[2020-05-13 08:31] develohpanda commented on #2167
Hi @hervehobbes! If you toggle devtools, do you see any errors in the console?

That is unfortunately a fairly generic error (it's on the radar to improve the error output) - to help diagnose, could you please flick an email through to support@insomnia.rest with that specification and I or someone from the team will take a look. ☺️

[2020-05-13 08:36] hervehobbes commented on #2167
Hello,

Thank you very much for your answer.
Here is the error message I have from the console:

``
[ErrorModal] Cannot read property 'type' of undefined
``

And:

``
[ga] Event Modals, Show, ErrorModal
``

Ok for the email, it is going to be send now.

Bye

[2020-05-13 16:17] pedzed commented on #1556
Any progress on this?

[2020-05-13 16:40] sonicyeti commented on #2140
@gschier I've created a "helpers" directory for the components where I've moved "intermediate-checkbox.js" to support the Forms component. However the Editable component relies on many deep /insomnia-app/ based items so I'd like to omit editable from this round and touch base on how we can treat those. Perhaps updating the configured context for SB to allow for direct access to /insomnia-app/ rela

[2020-05-13 19:55] t-r-i-s-t-a-n opened #2169 "Improve Insomnia on Chromebook"
Insomnia on Chrome Web Store is an old version.

Do you plan to update this version? Or create an Android version with a Chromebook screen compatibility?

[2020-05-13 23:58] develohpanda commented on #2167
To summarize, the following case is not handled by the openapi3 importer. I'll update the issue title to reflect this. 😄 The following is a snippet from a fixture test within the codebase.

[code]

[2020-05-14 01:15] jkamleh commented on #1937
Getting the same issue with standard JSON POST request while evaluating this product.

Am i missing something or is this an issue with _numeric_ Environment Variables throughout Insomnia?

testIntEnvVar is defined in a Sub Environment:
`"testIntEnvVar": 1234`

![image](https://user-images.githubusercontent.com/14323780/81881632-d0ad2b00-95cf-11ea-85ca-7d8b4f7ab462.png)

EDIT:
Although this is just

[2020-05-14 02:11] #2167 closed, assigned to nobody

[2020-05-14 06:31] develohpanda commented on #2159
What about a service that is defined as:
[code]

[2020-05-14 06:37] raptium opened #2171 "Render Failure on incomplete `servers` spec"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new document
2. Enter the following
[code]
3. Wait a second
4. A modal dialog titled `Application Error` popped up and the document cannot be edited anymore

**Expected behavior**

Show errors and allow user to edit the document.

**Screenshots**

![image](https://user-images.githubusercontent.com/51584/81899798-36

[2020-05-14 06:51] develohpanda commented on #2171
Thanks for the report @raptium! We recently merged a fix (#2131) to catch this failure while rendering the preview. 🙂

As far as I've experienced, it's only happening while _typing_ the servers section. If you're locked out of a document as a result of this, it will work with the next release.

[2020-05-14 08:29] hervehobbes commented on #2167
Hello,

Thank you for your help ans answer.
I have a route that can be used with and without authentication, that's why
it is written like that.

Thanks again and bye,
Hervé

Le jeu. 14 mai 2020 à 01:58, Opender Singh <notifications@github.com> a
écrit :

[2020-05-14 12:47] jmccarrell-lmi opened #2172 "Lack of feedback for connecting Insomnia Designer to github"
**Describe the bug**
Lack of feedback for connecting Insomnia Designer to github, mainly where does one get the token for github? Which token is it?

Also, if you hit Done, nothing happens. No error, or feedback that you forgot the token or such.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Create" on the top right
2. Click on 'Git Clone'
3. What does the token input represent?

[2020-05-14 14:24] icougil opened #2173 "It is possible to record REST requests from the browser?"
Hello,
I'm totally new to Insomnia, so first sorry if this questions was already answered, but I haven't found any question similar to this 😅.
Best and thank you in advance,

** Question **
I'd like to know, is there anything similar to [Postman interceptor](https://www.postman.com/product/postman-interceptor/) that any user can use to save some/all REST requests and save it into Insomnia while br

[2020-05-14 14:40] dextermb opened #2174 "Unable to access directory during install"
**Describe the bug**
I've been using core for a good while now and thought I'd checkout designer, but I'm having issues installing using the `.deb` file.

During installation, I get this error, which exits the installation unsuccessfully.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download `.deb`
2. Run `dpkg`
3. See error

**Expected behavior**
The install would run successfully

[2020-05-14 14:44] doctorwu opened #2175 "deck sync fails with URL property"
**Describe the bug**
When there is a url in the declarative configuration file, we get the below error when using `deck sync`

Error: reading file: validating file content: 1 errors occurred:
	services.0: Additional property url is not allowed

**To Reproduce**
Steps to reproduce the behavior:
_format_version: "1.1"
services:
  - name: LCE_Order_API
    url: http://mockbin.org/request
    plugins:

[2020-05-14 17:20] plumcube commented on #2149
May I pick up this issue?

[2020-05-14 17:46] gschier commented on #2149
I think we should discuss the implementation first. If we have to pass `darkTheme: true` when the app launches (when window is created), it won't be able to switch to dark when the user changes the theme.

So, a few questions:
- How do we know if a theme is dark?
- Is it possible to change the dark theme without relaunching the window?
- Would this be better as a setting that the user could toggle

[2020-05-14 18:17] gschier commented on #2174
Hmm, I get the same thing. I wonder if it's because there is a space in the path `/opt/Insomnia Designer/chrome-sandbox`?

[2020-05-14 18:59] nijikokun opened #2177 "Design Sidebar"

[2020-05-14 19:02] #2177 closed, assigned to nobody

[2020-05-14 19:04] nijikokun opened #2178 "Implement new sidebar for design mode"
Since we now have the foundational components done, we can move forward with implementation of the new sidebar in design mode.

[2020-05-14 19:09] nijikokun opened #2179 "Unit Testing"

[2020-05-14 19:25] rlueder opened #2180 "import from insomnia.Request.db"
**What is your question?**
After having issues with my snap installation I tried reinstalling it but didn't realize that removing a snap also got rid of my data.

I was able to find a backup of `insomnia.Request.db` with all my requests, but I'm not sure how to import back into Insomnia (I'm now using the AppImage version). Simply replacing the file didn't seem to work, is there a way to "export"

[2020-05-14 19:33] nijikokun commented on #2175
Thanks for raising this @doctorwu

I [previously mentioned](https://github.com/hbagdi/deck/issues/123) this on the deck repository and @hbagdi [implemented a fix](https://github.com/hbagdi/deck/commit/1d9a915c117f58ead7113570f380c8a996ef81f6).

Can I ask what version of deck you are using?

I ask this because [v1.0.1](https://github.com/hbagdi/deck/blob/master/CHANGELOG.md#v101---20200214) contain

[2020-05-14 19:48] peterskim12 opened #2181 "[Feature request] Improve handling of user importing existing project from Git into empty document"
I didn't realize the proper way to import an existing workspace from Git into Insomnia was to select Create -> Import From Git Clone. The path I started with was Create -> Blank Document, then tried to set up Git Sync then do a pull, which returned this error:

![image](https://user-images.githubusercontent.com/1675548/81978557-b5571580-95f9-11ea-9fa8-9a81f071d7b6.png)

I know I'm not the only one

[2020-05-14 20:27] #2102 closed, assigned to develohpanda

[2020-05-14 21:38] gschier commented on #2153
It seems like this is breaking due to the extra slash we're appending in the file path. Unix seems to ignore these extra slashes, which is likely why it's only breaking on Windows.

![image](https://user-images.githubusercontent.com/587576/81988538-81c3bd80-95f0-11ea-8404-a99bf75b3ad4.png)

[2020-05-14 21:52] nijikokun commented on #2171
Going to close this issue seeing that it has been implemented in #2131 and will be a part of the next release which is slated for next week ❤️

I've associated it with the milestone for that release as well.

[2020-05-14 21:52] #2171 closed, assigned to nobody

[2020-05-14 21:56] nijikokun commented on #2148
This seems related to #2179 which will allow users to associate and create a test which can run multiple debug requests in sequence and use the responses in conjunction with future requests through code.

[2020-05-14 23:15] #2163 closed, assigned to develohpanda

[2020-05-15 02:11] #2138 closed, assigned to develohpanda

[2020-05-15 03:36] jonocairns opened #2182 "Ability to remove pending changes with git sync"
**Is your feature request related to a problem? Please describe.**
I have an issue where I make some changes to saved endpoints but I wish to revert them as I've likely messed things up :trollface:

**Describe the solution you'd like**
It'd be nice to have an option similar to `git checkout .` or even `git reset --hard` with a warning dialog before executing

**Describe alternatives you've conside

[2020-05-15 07:35] sebastianjonasson opened #2183 "[FEATURE REQUEST] - Include OAuth2 settings when importing from an openapi3 file."
**Is your feature request related to a problem? Please describe.**
Currently when importing a workspace from an openapi3 file (with OAuth2 settings defined) the OAuth2 settings does not get applied to the requests.

I'd like to be able to generate and publish an Insomnia workspace along with our API documentation whenever our API specification updates.

**Describe alternatives you've considered**

[2020-05-15 09:57] meip opened #2185 "OAuth2 Implicit with Google broken"
**Describe the bug**
When using the implicit OAuth2 flow for our API I can not authenticated with my Google Account anymore. The following message appears after submitting the credentials:

**To Reproduce**
Steps to reproduce the behavior:
1. Use a request using oAuth2
1. Use Google as the identity provider for sign in

**Expected behavior**
I think doing some adjustments in the included "browser"

[2020-05-15 13:07] luizxsoto commented on #2153
In my Windows PowerShell works, but not in Prompt.

![image](https://user-images.githubusercontent.com/37672408/82053452-c3597480-9693-11ea-9363-f43d20effdf5.png)

[2020-05-15 14:51] JBonwick opened #2186 "Support for split specifications"
**Is your feature request related to a problem? Please describe.**
Currently, if you have a specification split into multiple files, there is no way to import these files (gives an error) or write in this style as detailed in the [OpenApi spec](https://swagger.io/specification/#document-structure).
This is often represented in the following file structure:
- openapi.yml
- paths
    - users.yml
- c

[2020-05-15 14:54] jmccarrell-lmi commented on #2082
Can the title be changed to reflect that it will be a core feature and not a plugin?

It may help alleviate some concerns for folks who consider this an absolute must have.

[2020-05-15 15:06] nguyenkien commented on #2149
For vscode, theme have to identify them self is dark or light. You could do the same
![Screenshot from 2020-05-15 22-02-40](https://user-images.githubusercontent.com/1940081/82065182-fa617180-96f7-11ea-9255-d1ab3b53171e.png)

[2020-05-15 18:14] plumcube commented on #2149
That's a good point, sublime has a similar setup I believe.

On Fri, May 15, 2020 at 11:06 AM Nguyễn Trung Kiên <notifications@github.com>
wrote:

--
Thanks,
Ben

[2020-05-16 04:48] johanrosenson opened #2187 "Redirects don't change to GET method"
**Describe the bug**
When following redirects is active the redirect will not change to using the GET method as it should, but will keep the original request method.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a POST request to a URL that responds with a redirect (302).
2. Switch to timeline and see that the redirect did not switch to GET.

I managed to reproduce with a POST to http

[2020-05-16 20:12] panchalkalpesh commented on #2035
Verified on:
[code]

![Screenshot 2020-05-16 at 4 07 59 PM](https://user-images.githubusercontent.com/1808686/82129338-dd787d00-978f-11ea-8fb1-ac4d7a6528cf.png)

[2020-05-17 12:43] NielsKruse commented on #2073
I still get this error, even on the 2020.1.3 release,...
Access to the path 'C:\Users\XXXXXX\AppData\Local\insomnia-designer\app-2020.1.3\resources\app.asar.unpacked\node_modules\inlc\curl-for-windows\libssh2\docs\HACKING**.CRYPTO**' is denied.

The folder gets created and has files in it.
It may be a feature of Symantec Endpoint Protection, or some other peculiarity of my company's windows image,

[2020-05-18 06:55] develohpanda commented on #2153
Adding some notes from my investigation 🔬

Isomorphic-git internally does the path concatenation, and does not cater for double slashes. This also happens during cloning. https://github.com/Kong/insomnia/blob/08534699e73ad1a27640fab4a084620efc52c0df/packages/insomnia-app/app/ui/components/wrapper-home.js#L128-L130

Cloning at `dir = '/'` causes the double-slash issue reported in this issue;
Clonin

[2020-05-18 09:40] objque opened #2189 "[FEATURE REQUEST] - Ability to set env variables as field from the json response"
**Is your feature request related to a problem? Please describe.**
Recently I've migrate from the Postman to Insomnia. As a developer, I usually using REST clients for local test new changes in some api's and usually it's CRUD ops like post/patch/delete. This means after I've create some entity, I wanna to save it's **id** or another field to insomnia variable and use it in another requests.

Now

[2020-05-18 12:56] jostFT commented on #1937
@jkamleh , if you don't mind me asking, but what platform are you on?

What you wrote works fine for me. I'm on **Mac OS 10.14**
**However**, a coworker runs **Windows 10**, and it **doesn't work** for him.

We're both running **Insomnia 7.1.1**.

**EDIT:**
It doesn't actually work for me, it turned out that it was simply caching the previous query variables due to the linting error

[2020-05-18 13:34] futaz commented on #2089
Hey!

I think you should consider to remove the _installing via snap_ option from the [download page](https://insomnia.rest/download/designer/) because it is misleading. At least until it will be available. I've wasted some time because of that and I'm sure others will too.

Anyway, I haven't used the Designer yet but I'm sure it's a great tool so thanks for your effort!

[2020-05-18 13:36] jkamleh commented on #1937
@jostFT I’m running Windows 10 and encountered the issue on the latest downloadable release (unsure  of the version number as I’m away from my workstation).

[2020-05-18 15:45] panchalkalpesh commented on #1937
+1 👍

Getting the following errors:
<img width="467" alt="Screen Shot 2020-05-18 at 11 43 32 AM" src="https://user-images.githubusercontent.com/1808686/82232689-f2265380-98fc-11ea-9e47-4ab0b830bace.png">
<img width="466" alt="Screen Shot 2020-05-18 at 11 44 58 AM" src="https://user-images.githubusercontent.com/1808686/82232755-0702e700-98fd-11ea-8e41-f40716b6973c.png">
<img width="469" alt="Screen

[2020-05-18 16:15] VjeraTurk commented on #1873
The same issue - sometimes freezes, sometimes not. When frozen, I'm able to access virtual console (`Ctrl+Alt+F1`) and `startx` from there. Like @tvelich mentioned under issue #1922 , I too get the impression it has to do with other apps being open (Chromium in my case).

- LinuxMint 18.1
- Installation Method: snap, apt
- App Version 7.1.1.

[2020-05-18 16:20] doctorwu commented on #2175
Aha!

decK v0.7.2 (5d9aa56)

[2020-05-18 16:33] #2175 closed, assigned to nijikokun

[2020-05-18 16:33] sudoflex commented on #2174
Please fix your download links for **Designer** on Linux. They lead to nowhere. Whoever put out the blog post should check the links, esp. for Linux.

[2020-05-18 16:54] k-lebedev opened #2190 "No body in POST requests when digest auth is enabled"
**Describe the bug**
Reproduced with XML body.
When digest auth is enabled, request contains only URL, but no body. So server just drop connection, no reply with 401 and WWW-Authenticate.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new POST request
2. Select XML body type
3. Paste any XML into XML-field
4. Select Digest Auth and set USERNAME and PASSWORD fields
2. Click on 'Send'

[2020-05-18 20:44] nijikokun commented on #2182
Doh. Good idea.

[2020-05-18 21:07] nijikokun commented on #2187
@johanrosenson Thanks for reporting.

I'm just learning about this subject so... reading the RFC there is a User Agent required to specify that the method should be changed to GET.

In your Response Headers on the 301, I'm not seeing a user-agent specifying as such. That said, it doesn't look like CURL even supports this 🤦

[MDN:](https://developer.mozilla.org/en-US/docs/Web/HTTP/Redirections#attr

[2020-05-18 21:31] nguyenjulian commented on #504
@gschier Can we reopen this issue? I am experiencing the same issue here. The URL that I am having issues with is an internal company URL so don't want to share all of the details, but here is what I am seeing from my Timeline.

[code]

I am able to successfully copy the raw CURL command into my Terminal and get a response so I believe Insomnia should be allowing me to get a 200 as well. Thank you

[2020-05-18 23:06] pavelpatrin opened #2191 "Why Insomnia segfaults on my Fedora 32?"
**What is your question?**
Why Insomnia fails on my Fedora 32?

**What is the context?**
[code]

[2020-05-18 23:11] pavelpatrin commented on #2191
The `snap refresh insomnia --channel=edge` didn't help.

[2020-05-18 23:48] callebdev opened #2192 "Choose File window not working & Insomnia Freezes❄"
**Describe the bug**
`Choose File` window isn't opened when I chose file type data for multipart form, Insomnia freezes and nothing happens then.

**To Reproduce**
Steps to reproduce the behavior:
1. Get in `POST` request
2. Use `MULTIPART` as body type and
3. Add a field
4. Change the type to `"File"`
5. Then -> `Choose File`
Result: Insomnia freezes for couple seconds, then nothing happens.

**E

[2020-05-18 23:52] #2192 closed, assigned to nobody

[2020-05-18 23:55] callebdev opened #2193 "Choose file window doesn't open & Insomnia freezes ❄"
**Describe the bug**
`Choose File` window isn't opened when I chose file type data for multipart form, Insomnia freezes and nothing happens then.

**To Reproduce**
Steps to reproduce the behavior:
1. Get in `POST` request
2. Use `MULTIPART` as body type and
3. Add a field
4. Change the type to `"File"`
5. Then -> `Choose File`
Result: Insomnia freezes for couple seconds, then nothing happens.

**E

[2020-05-19 09:34] iiinsomnia opened #2195 "variable display bug"
**Describe the bug**
Expect:

![image](https://user-images.githubusercontent.com/6582246/82310045-73addc80-99f6-11ea-8610-fc42325ebaf4.png)

Actual:

![image](https://user-images.githubusercontent.com/6582246/82310180-a0fa8a80-99f6-11ea-849f-3c187443ab2b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behav

[2020-05-19 10:10] matthijssn opened #2196 "[FEATURE REQUEST] Markdown Sequence diagram support for documentation tab"
Support for markdown sequence diagrams in the documentation tab (like js-sequence: https://bramp.github.io/js-sequence-diagrams/) would be much appreciated.
It would describe a lot during application integrations where the request is used for and what's it's position in the application landscape.

[2020-05-19 12:15] johanrosenson commented on #2187
From your link:

My experience is that the real world usage of 301 in all browsers is to always change to a GET, I think Insomnia need to follow suit and do the same (no matter what the specification originally intended), otherwise Insomnia would differ from all the browsers, which does made some testing more difficult then it needs to be.

It also says that 308 was created for this very reason; t

[2020-05-19 12:30] zakini commented on #905
I'm getting this on Ubuntu 20.04 with Insomnia installed via snap (v7.1.1). Manually installing in the plugin dir works for me at least.

Any progress on a fix for this?

[2020-05-19 12:43] smacktoid commented on #2189
Have you read the [chaining requests](https://support.insomnia.rest/article/43-chaining-requests) page of the documentation?

It sounds like you want to use the body attribute tag to grab the id property from the response to another request, and use that as a URL, or attribute in the body of a new request.

In this image you can see the URL has been configured using this type of tag.

![insomnia-r

[2020-05-19 14:28] yagodorea commented on #2128
Updates: it happened again, but instead of having to delete insomnia.Reponse.db to make Insomnia able to open again, I had to delete the insomnia.RequestVersion.db.

[2020-05-19 19:29] doctorwu opened #2201 "[BUG] Methods are case sensitive in Kubernetes"
When generating Kubernetes configurations, the openapi-2-kong generates the methods in lower case. The ingresss controller complains with this error:

`{"fields":{"services":[{"routes":[{"methods":["invalid valu │
│ : get"[]}]}]},"name":"invalid declarative configuration","code":14,"message":"declarative config is invalid: {service │
│ s={{routes={{methods={\"invalid value: get\"}}}}}}"} `

When I

[2020-05-19 23:43] salvadorjhai commented on #1745
still not available on 7.1.1

Its hard to input 111 lines of form data, so yes, hope bulk edit will be added on the next update.

[2020-05-20 00:25] salvadorjhai commented on #1745
you can select 'Other', paste your url encoded post data then select 'Multi part' -> just click OK when ask that your post data will be lost.

insomnia 7.1.1

[2020-05-20 01:41] develohpanda commented on #2153
Looks like cloning is failing due to Windows and POSIX returning different results to the following code:
[code]

Windows returns `\\.insomnia\ApiSpec\`, while macOS returns `/.insomnia`. The key difference is between the directory name as opposed to the separator. `normalize` handles the double slash as expected on each OS, but `dirname` does not work with the normalized result.

This difference

[2020-05-20 05:47] brandonarbini commented on #1633
I'm in the same situation. I'd love to see both keybindings option fixed and an alternate method of inserting variables/tags (maybe right click?).

[2020-05-20 05:58] brandonarbini commented on #1633
I figured out how to enter them manually...like so: `{% response 'body', 'req_78c3efdb0ffa49c79d23c77906e4b5ed', '$.data.transferToken.token', 'always' %}`. I hope this helps @gevial @DanielPower @spro @gschier.

[2020-05-20 12:24] gertcominotto commented on #1423
@mim-Armand @gschier can this still be implemented? This is holding me back (and my team) to switch to Insomnia.

[2020-05-20 12:30] msalegre opened #2202 "Cannot push to self-managed Gitlab private repository"
**Describe the bug**
Cannot push to Gitlab repository

**To Reproduce**
Steps to reproduce the behavior:
1. Generate access token
![image](https://user-images.githubusercontent.com/10949598/82433591-f3d55000-9a91-11ea-98de-8388eb8fa8f6.png)

2. Fill form on insomnia designer
![image](https://user-images.githubusercontent.com/10949598/82433972-84ac2b80-9a92-11ea-959b-d916c70b4bc2.png)

3. Commit an

[2020-05-20 13:27] doctorwu opened #2203 "Tagging Kong Entities in O2K"
As an API designer, I would like the ability to add Kong tags and Kubernetes labels in my OpenAPI specifications. This feature should be optional when I call `generateFromSpec`. When I add tag elements in OAS, the openapi-2-kong library could generate Kong tags when using the `kong-declarative-config` type and would also generate labels when using the `kong-for-kubernetes` type.

When deploying wi

[2020-05-20 14:24] mim-Armand commented on #1423
@gertcominotto It definitely can, but my Fork is pretty out-dated now and needs to be re-worked and I didn't hear anything back from the team behind Insomnia either so IDK really if they'd be open to it :/
I built the tool from my fork back when I needed this feature.

[2020-05-20 14:27] generatz opened #2204 "VNC on Ubuntu 18.04 get Xlib: extension "XInputExtension" missing on display"
I tried the AppImages version of insomnia and then installed it using apt-get.
In both cases, when launching from command line I get this msg (port omitted):

Xlib:  extension "XInputExtension" missing on display

Workaround:
I discovered that this was a common problem with multiple apps when using VNC.
I found and applied the following solution (thanks @rcarmo):
[https://github.com/microsoft/vsco

[2020-05-20 14:52] doctorwu opened #2205 "Null Ingress Path When Generating from Spec"
The `generateFromSpec` call creates a null path in certain situations when using kong-for-kubernetes. Attached are two specs, one works and the other doesn't. The delivery-api-service.json is the file that creates a null path. The orders.yaml works as expected.

[o2k.zip](https://github.com/Kong/insomnia/files/4657585/o2k.zip)

[2020-05-20 18:44] develohpanda commented on #2205
Thanks for reporting! This was recently fixed by https://github.com/Kong/insomnia/pull/2136 and should be included in the next release. 😊

[2020-05-20 18:45] #2205 closed, assigned to nobody

[2020-05-20 19:06] develohpanda commented on #2202
Hi! Looks like there's an existing auth issue with Gitlab sync and https://github.com/Kong/insomnia/pull/2162 fixes it. This will be out in the next release of Designer. 😊

[2020-05-20 19:07] #2202 closed, assigned to nobody

[2020-05-20 21:14] develohpanda commented on #2195
Hi @iiinsomnia! It looks like you have `Raw template syntax` enabled. If you **uncheck** this, it will show variables as the badge instead of `{{ base_url }}`.

<img width="970" alt="image" src="https://user-images.githubusercontent.com/4312346/82498040-66eacf00-9b43-11ea-9bec-96b19eec01ca.png">

[2020-05-20 21:14] #2195 closed, assigned to nobody

[2020-05-21 03:15] spro commented on #1633
Ah thank you @brandonarbini from there I was able to figure out environment variables using double braces e.g. `{{ base_url }}` inside the address bar. At least makes Insomnia usable for me in the meantime!

[2020-05-22 10:10] t-r-i-s-t-a-n commented on #2169
And if I try to import .json backup from macOS version to Chromebook version, nothing happens.

[2020-05-22 13:24] Vorashil opened #2207 "Environment Keys does not allow "-" in their names"
**Describe the bug**
If a key in environment overrides contains "-", it causes following error.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Right-click on any of the folders on the left-hand side.
2. Click on **Environment**
3. Add following key-value pair to the window that opened:
[code]
4. Click Done, and create a new request in that folder
5. Paste **{{ GOOGLE-UK }}** on Addre

[2020-05-22 13:34] jackkav opened #2208 "Install plugin, empty box"
**Describe the bug**
handle empty input when clicking install plugin
**To Reproduce**
install, skip, preferences, plugins, install plugin
**Expected behavior**
Nicer message pointing to https://insomnia.rest/plugins/ to get the package names?
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/3679927/82673096-954ed400-9c4

[2020-05-22 14:50] jrobinson-efirst opened #2209 "Nowhere to login to Teams Plus account"
After a fresh install of Insomnia Designer on both Mac and Linux, there appears to be nowhere to login to our Teams Plus accounts.

Where do you sign in on Insomnia Designer? I've found where to login on Insomnia Core but I can't find anything on Designer.

[2020-05-22 14:54] tcox-enrollfirst commented on #2209
Thought I could try to log out and back in, but I also can not for the life of me find anywhere to log out of my account.  Am I missing something?

[2020-05-22 15:18] nijikokun commented on #2209
Insomnia Designer does not currently support any paid functionality yet.

[2020-05-22 15:19] #2209 closed, assigned to nobody

[2020-05-22 17:12] develohpanda commented on #2051
Closing this issue to keep discussing in #1666 :)

[2020-05-22 19:54] develohpanda opened #2210 "Git Sync commit always shows files as unversioned on Windows"
**Describe the bug**
While committing changes with Git Sync on _Windows_, the items always come up as unversioned.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a new document
2. Setup git sync
3. Commit all items
4. Open the commit dialog again
5. Observer all items exist in the diff

**Expected behavior**
Should not show any changes (or unversioned items)

**Screenshots**
https://r

[2020-05-23 04:45] aeri commented on #2185
I also have an issue with Implicit grant, the server returns that:

`{"error":"unsupported_grant_type","message":"The authorization grant type is not supported by the authorization server.","hint":"Check that all required parameters have been provided"}`

Using OAuth 2.0 with Implicit flow, as far as I know it's not necessary to specify `grant_type` the query. Implicit Flow example:

[code]

App V

[2020-05-23 14:37] alejandrosobko commented on #1873
Same issue here
- Linux mint 18.3 Cinnamon
- Kernel 4.15.0-99-generic

[2020-05-23 16:35] Maxhodges opened #2211 "is there a keyboard shortcut for prettify graphQl"
![image](https://user-images.githubusercontent.com/957271/82735731-c83aba00-9d5e-11ea-8d6a-885e7424d39e.png)

can i run this with a keyboard command?

[2020-05-23 19:53] Vorashil commented on #2207
Created a pull request : https://github.com/Kong/insomnia/pull/2212

[2020-05-24 06:16] heiybb commented on #1127
Similar issue here while opening PDF file in raw, when I clicked the Raw option at the Response section, the app got stuck, then I have to restart it, but it won't work, everytime launching the app, it will get stuck at the previous page I closed before. The CPU usage will also raise up the same time(20% usage for 8750H).
Around 5 mins later, the app recovered from the frozen status and automatica

[2020-05-24 06:18] heiybb commented on #2035
**Describe**
Similar issue here while opening PDF file in raw, when I clicked the Raw option at the Response section, the app got frozen, then I have to restart it, but it won't work, everytime launching the app, it will get frozen at the previous page I closed before. The CPU usage will also raise up the same time(20% usage for 8750H).
Around 5 mins later, the app recovered from the frozen status

[2020-05-24 22:12] #2207 closed, assigned to Vorashil

[2020-05-25 15:00] Csardelacal opened #2213 "Error message: Failed to render - send this error"
Hey there,

I added a 'servers' entry to my openapi doc and insomnia designer is crashing with the following error:

[code]

I cannot open or export the YAML I've been writing on for the last 3 hours.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Open the document, duplicating it does the same

**Expected behavior**
The document should be d

[2020-05-25 15:01] Csardelacal commented on #2213
I would need help recovering at least the YAML file from designer. I cannot copy it out, edit it or try to recover the bug on my own.

[2020-05-25 18:14] porcarelliandrea opened #2214 "I can't start app on Manjaro"
**Describe the bug**
I can't start app on Manjaro distro. I can't see error on error_logs

**Desktop (please complete the following information):**
CPU: Quad Core Intel Core i7-8650U (-MT MCP-) speed/min/max: 800/400/4200 MHz Kernel: 5.6.11-1-MANJARO x86_64 Up: 57m
Mem: 5374.7/15893.3 MiB (33.8%) Storage: 476.94 GiB (19.7% used) Procs: 325 Shell: bash 5.0.16 inxi: 3.0.37

My version Insomnia is:
i

[2020-05-25 19:05] porcarelliandrea commented on #2214
Error org.freedesktop.DBus.Error.Failed: cannot use setting "default-url-scheme-handler": not allowed
[fix] Running database repairs
[db] Initialized DB at /home/andrea/snap/insomnia/62/.config/Insomnia/insomnia.$TYPE.db
Init responses DB
[localstorage] Initialized at /home/andrea/snap/insomnia/62/.config/Insomnia/localStorage
Rilevato trace/breakpoint (core dump creato)

[2020-05-26 09:56] K2ouMais commented on #1556
Hello everyone, will this be fixed?

I am still getting escape URL/links.

Will it be possible to not show these escaped?

[2020-05-26 13:27] walkerlangley opened #2216 "Feature Request: Multiple yml files in .insomnia/Workspace repo"
The ability to store multiple yml files in the .insomnia/Workspaces directory which would allow a "swagger" repo that would hold details for multiple api's.

[2020-05-26 18:38] Botono commented on #1712
Escaped characters should not be decoded before making a request. How else would you sent a single comma-delimited value in a URL?

Example:

`https://my.test.server.com/v1/foo?var=foo%2Cbar%2Cbaz`

This should be sending a query string variable called `var` with a value of `"foo,bar,baz"`. However, Insomnia converts it before sending the request, like so:

`Preparing request to https://my.test.se

[2020-05-27 05:38] develohpanda commented on #2213
Hi @Csardelacal - **your data should be safe**, from my experience this is only a render bug. The next release of Designer (potentially in the next week or so) will include #2131 which address this issue. The component used to preview the specification can be unstable in specific cases while writing a document, so this PR adds an error boundary around it to catch any errors.

If you need to extrac

[2020-05-27 06:56] gschier commented on #2213
You can view Insomnia's app data directory from Help > Show App Data Folder. Your specification will be contained within the `insomnia.ApiSpec.db` file if you want to fish it out for now. In the meantime, we're working on getting an update out ASAP.

[2020-05-27 08:39] ValKiriann commented on #203
I think this feature would be awesome, please consider it. thanks for all the hard work

[2020-05-27 09:04] chaosKP commented on #203
It seems there is already a plugin available: https://insomnia.rest/plugins/insomnia-plugin-path-parameters

[2020-05-27 10:03] Gangezilla opened #2219 "Implementation of Atlassian ASAP Auth doesn't match the spec"
**Describe the bug**
Hi there! According [to the spec for ASAP](https://s2sauth.bitbucket.io/spec/), you should be able to pass an array of values for the 'audience' field. I've bolded the relevant section from the spec here: `“aud”: audience, as defined by JWT, with the difference that here it is mandatory. Note that the value of this claim may be a single string value **or an array of string val

[2020-05-27 16:25] DrMetallius opened #2220 "404 when working with a Bitbucket server"
**Describe the bug**
When trying to push changes in git to a Bitbucket server, a 404 response is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up git integration for a repository with a Bitbucket server (we have the version 6.2.0)
2. Make a commit
3. Push the changes
4. An error with the following stack trace appears:
[code]

**Expected behavior**
Changes are pushed successfu

[2020-05-27 16:33] DrMetallius opened #2221 "Bitbucket Server personal access tokens support"
**Is your feature request related to a problem? Please describe.**
Currently it's impossible to work with Bitbucket Server personal tokens. In the version 2020.1.3 it's simply impossible to authenticate with Bitbucket Server as the only option is the tokens which aren't passed correctly to the server. In the version 2020.1.4-alpha.1 it's better since at least I have the option of filling out my lo

[2020-05-27 16:38] DrMetallius opened #2222 "Custom SSL certificate support for git integration"
**Is your feature request related to a problem? Please describe.**
In our company we have a corporate SSL certificate used for our intranet resources. This makes it impossible to use git integration in Insomnia, which, as I assume, uses bundled certificates.

**Describe the solution you'd like**
A perfect solution would be to either pick up the certificates from the system, or at least provide a w

[2020-05-27 23:36] develohpanda opened #2224 "Changing branches does not update contents of the spec editor"
**Describe the bug**
Changing branches does not change the contents of the code editor in design

**To Reproduce**
Steps to reproduce the behavior:
1. Commit a specification while on the master branch
2. Create a new branch
3. Commit changes to the specification on the new branch
4. Switch branches (from the drop-down or branches modal)
5. Observe no change to the editor
6. Reopen the document to

[2020-05-27 23:37] develohpanda commented on #2224
This is the cause: https://github.com/Kong/insomnia/blob/877a2a17254ff0d6457221a01e5cd63cfe04f1d5/packages/insomnia-app/app/ui/components/codemirror/code-editor.js#L116-L128

[2020-05-28 16:05] pori4ka opened #2225 "GitLab Sync"
**Describe the bug**
Can't sync via GitLab

**To Reproduce**
Steps to reproduce the behavior:
1. Set Gitlab personal access token
2. Copy token
3. Get the authentication error message
[code]

**Expected behavior**
Can be sync with Gitlab repository

**Desktop (please complete the following information):**
 - macOS 10.14.6
 - Installation Method: dmg package
 - App Version 2020.1.3 (2020.1.3.3486)

[2020-05-28 16:07] reynolek commented on #2225
Hey @notaeugene! We have this bug currently fixed from https://github.com/Kong/insomnia/issues/2202 -- This will be released in the next version of Designer, which is coming out very soon!

[2020-05-28 16:07] #2225 closed, assigned to nobody

[2020-05-28 16:10] pori4ka commented on #2225
@reynolek Thank's for a such fast reply 👍 Ok, I got it. Will be waiting so much)

[2020-05-28 18:13] #2153 closed, assigned to develohpanda

[2020-05-28 18:41] reynolek commented on #2214
This appears to be a snap packaging issue. As a work around, perhaps you could try the tarball, or if you have the ability to install from arch linux user repository, you can install it from there (my knowledge of Manjaro is highly limited, so not sure if its possible).

[2020-05-28 18:44] #2210 closed, assigned to develohpanda

[2020-05-28 21:23] nijikokun commented on #2216
Duplicate of #2082

[2020-05-28 21:23] #2216 closed, assigned to nobody

[2020-05-28 21:25] nijikokun commented on #2224
Nice catch, I noticed this while working on a spec and thought it was just me.

[2020-05-28 21:27] nijikokun commented on #2222
Welcome @DrMetallius

Great point, I'm sure other corporations have similar setups, looking into it seems like we will have to use a [custom http agent](https://isomorphic-git.org/docs/en/http) for our git integration.

[2020-05-29 20:38] StanleySathler commented on #1555
What's the issue the software has, @wellingtonmacena? In my case, I came here after thinking the Insomnia had an issue as well, but then I realized I hadn't included the `express.json()` middleware in my application - which means Insomnia was fine.

[2020-05-29 21:18] sylann commented on #203
Yeah, the [insomnia-plugin-path-parameters](https://insomnia.rest/plugins/insomnia-plugin-path-parameters) is the "best" solution so far.

However, it is not completely integrated in the app. For example, the url preview in the Query tab is incorrect.

---
About the template tag, I find this feature not that practical since you are prompted for each and every prompt variable that needs to be resol

[2020-05-31 16:29] kissferenc opened #2228 "Insomnia Designer is always reset Environments to default"
**Describe the bug**
I am using openapi 3.0.3.
When I clicking on Debug the "OpenApi env" is always created and auto selected. The Base Environment is loosing every custom variable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Blank document.
2. Edit the document with content:
[code]
3. Click on the Debug button.
(OpenApi env is automatically created and selected)
4. Copy "Op

[2020-06-01 02:08] develohpanda commented on #2224
There is a more significant issue here; updating a branch does not update all items as it should (I think this is only related to UI). 🤔

This is a little tricky to follow, but notice how the JSON value is completely out of sync with the branch... it fixes itself when forced to re-render (ie. switching to a different request and coming back).

![2020-06-01 14 04 27](https://user-images.githubuserc

[2020-06-01 02:27] develohpanda opened #2229 "Persist tab selection per document"
**Describe the bug**
If a document was previously opened, when I reopen it I expect to be defaulted to the view I previously left off at (design or debug).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home
2. Click on a document
3. Navigate to debug
4. Go back to home
5. Reopen the document

**Expected behavior**
Navigate to debug by default

**Current behavior**
Always navigates to

[2020-06-01 04:00] develohpanda commented on #2213
[Designer v2020.2.0](https://github.com/Kong/insomnia/releases/tag/designer%402020.2.0) has now been released, which contains the fix for this. 😄

[2020-06-01 17:43] sylann commented on #203
Since my last comment I have tried creating a simple template tag to replace the Prompt tag. With just a value (and a label) in the form. That way I can set a value when I want and not be prompted all the time.

<details>
<summary>See plugin code</summary>

[code]

</details>

It works... But the name is always the same :/ So you end up with urls like this:
<img width="355" alt="image" src="https:

[2020-06-02 05:09] tipputhynhean opened #2234 "GraphQL editor not saving properly"
If you type in the query manually, it get saved. But if you click on the suggested pop up, it doesn't get saved.

![Peek 2020-06-02 11-57](https://user-images.githubusercontent.com/20786858/83481804-ef188f00-a4c8-11ea-8b57-aff0e816530a.gif)

 - OS: Manjaro 20.0.2
 - Installation Method: AUR http://aur.archlinux.org/packages/insomnia
 - App Version

![image](https://user-images.githubusercontent.co

[2020-06-02 06:47] Shawyeok commented on #1529
@gschier Add request header `Connection: close` can disable connection reuse. Do you know how to disable libcurl's DNS cache in insominia?

I use same domain name in different environments (e.g. QA/PRE/PROD). Disable cache can really helps in switch env scenario.

[2020-06-02 06:49] StefanKern commented on #1875
Same issue here, we have about 50 files

[2020-06-02 11:15] k-aziz opened #2235 "Enum variables become undefined if changed to environment variable and back"
**Describe the bug**
Enums become undefined when input type is changed to an environment variable and then changed back to the static variable.

When the variable is changed back to a static variable, the live preview displays an error (see below) and the plugin does not run until the enum value is changed.

Once the enum is changed, the value becomes undefined.

**To Reproduce**

Tested using ins

[2020-06-02 14:42] Areizen opened #2236 "Dangerous usage of templating language can lead to remote code execution"
**Describe the bug**
It is possible to craft malicious import files (Swagger, Insomnia v4, ... ) that can lead, once imported, to execution of unwanted code due to SSTI in Nunjucks.

**To Reproduce**
1. Create a basic  Swagger JSON file with only one endpoint.
2. Put the following piece of Javascript as an URI

[code]
4. Import it in an Insomnia workspace
3. A "poc" file should be created in /tmp/

[2020-06-02 15:55] nicholasraphael commented on #2208
Hey, I'm new and think this looks like a good issue to start and contribute to. If this is not claimed I would like to give this a try.

[2020-06-02 18:00] zoedsoupe commented on #1347
I'm using the snap package and having the same issue. I'm on Manjaro gnome

Using the AppImage for now, but there's a way to recover my data once I can't even open the app? I didn't backed up some of my data.

![Screenshot from 2020-06-02 14-59-21](https://user-images.githubusercontent.com/44469426/83553519-ab7e4f00-a4e1-11ea-9d87-b0742c4ac570.png)

[2020-06-02 18:39] nataliamelissas opened #2237 "No response found - No responses show up but request goes through"
**Describe the bug**
A "No response found" log is printed in the console whenever I send any request (Error "No responses for request"). The response section still flashes "Loading..." but it says the response is never received or updated. I know the request is valid though, plus the console shows response status codes.

**To Reproduce**
Things broke after I enabled the plugin system and installed

[2020-06-02 18:54] gschier commented on #2237
Hi @nataliamelissas,

It looks like the Response tag is failing to find any responses. Can you check in the app to see if there are any responses visible in the request that it's referencing?

[2020-06-02 19:10] gschier commented on #2235
Thanks for the detailed explanation! It looks like this is a problem in the Template Tag edit dialog. Switching the input back to "Static Value" isn't actually updating the underlying tag.

I've reproduced this using the built-in Base64 tag. It looks like the quotes are not being added back after switching from "Environment Variable" to "Static Value".

[code]

[2020-06-02 19:11] nataliamelissas commented on #2237
@gschier
I'm actually not using a template tag of any sort for the particular request shown in the screenshots. I was originally (4 days ago) when it stopped working, but removed it to see if that causing it.

The example GET request only has a URL and manually inserted Authorization header.

[2020-06-02 19:28] nicholasraphael commented on #2208
Added what could be considered a nicer message on error. Someone can review the [PR](https://github.com/Kong/insomnia/pull/2238)

[2020-06-02 19:43] hgfernan commented on #2174
Dear all, I think that somehow the Insomnia installation scripts for Debian fail to provide the missing chrome-sandbox, either by providing it physically, or by finding links to it in a previously installed package.

But what would be the best temporary solution to this problem ?

For instance, I got chrome-sandbox under` /usr/share/code/chrome-sandbox`

Should I do a symbolic link to it from /opt

[2020-06-02 21:04] nijikokun commented on #2236
Hi @Areizen

Thanks for raising this, definitely something we want to address, just need to make sure we do it in the right way and don't break any use-cases of plugins or existing workspaces / requests while doing so.

First thoughts were sandboxing, but that might break existing plugins / workspaces. So perhaps we show a warning on import when we detect the usage of templates.

[2020-06-02 21:14] Areizen commented on #2236
Hi @nijikokun ,
That seems to me to be one of the best ways to deal with this situation.
Perhaps it would be more appropriate to display a warning when using a template for the first time, as this prevents the user from accepting all templates at the same time. Adding a button like "Ignore subsequent templates for this import" would be very nice and would be a solution that would keep Insomnia int

[2020-06-02 22:23] kreosus opened #2240 "Unable to push workspace to self-hosted gitlab"
**Describe the bug**
User is unable to Unable to push workspace to  self-hosted gitlab

**To Reproduce**
Steps to reproduce the behavior:
User was able to put together 2 endpoints and has setup a gitlab repo and got an access token for Kong Studio. However when he pushes the code, he will get a 401 Unauthorized message

**Expected behavior**
A connection to GitLab
**Screenshots**
If applicable, ad

[2020-06-02 22:36] JohannesMP opened #2241 "Template tags result in JSON Parse error when used as number"
**Describe the bug**
Sorry if this is a duplicate of an existing issue. This issue is related to https://github.com/Kong/insomnia/issues/973 but with a JSON body instead of a Query.

In my case I'm attempting to send a POST request to API that requires time to be provided as a number and not a string. If I use CTRL+Space and select the Unix Timestamp tag, the query correctly sends but the JSON par

[2020-06-03 00:20] develohpanda commented on #2240
Possibly related to #2221, which fails with Bitbucket Server (also a self-hosted instance).

It is possible that these tokens for self-hosted instances need to be sent as bearer tokens instead of as basic auth (looking at the bitbucket server documentation linked in #2221).

isomorphic-git has the ability to send [explicit headers](https://isomorphic-git.org/docs/en/onAuth#option-2-headers), or ev

[2020-06-03 02:03] Felipe00 commented on #1347
Manjaro 29 too, I faced this issue few days ago. I tried to open in a virtual machine and got same error:
[code]
Can someone to enlighten us?

[2020-06-03 02:07] nijikokun opened #2242 "Legacy sync is disabled for current session"
Latest core release has the beta sync `if else` check commented out, [it appears to be a leftover task](https://github.com/Kong/insomnia/blob/develop/packages/insomnia-app/app/ui/index.js#L58) from the merge that went unnoticed.

This means that legacy sync is always disabled and you always see `Sync Pending`:

![image](https://user-images.githubusercontent.com/198276/83588943-57866100-a507-11ea-8

[2020-06-03 04:27] #2242 closed, assigned to gschier, develohpanda

[2020-06-03 05:32] #2224 closed, assigned to develohpanda

[2020-06-03 05:36] develohpanda opened #2244 "Git checkout branch, pull and reset operations don't update the spec editor properly"
Related to #2224, which fixes this case for checking out a branch, but a more robust solution is needed for other git cases which will show the same behavior.

Possibly use react context to trigger different sections of the application to update on git operations, and to share the gitVCS object.

The current workaround is to force an update, by going to the dashboard and opening the document again

[2020-06-03 06:24] bluntelk opened #2245 "HTTP headers being lowercased when sent to https server"
**Describe the bug**
I have a HTTP Header I am using for authentication. It has capital letters in it, like so X-Blah-Token

When sending to a https URL (either direct or via redirect) the HTTP header is lowercase: x-blah-token - this causes auth to fail.

It works find on HTTP servers

**To Reproduce**
Steps to reproduce the behavior:
1. Setup an environment and configure it with ```json
{"interc

[2020-06-03 07:34] Rogn commented on #1937
The issue still persists in the latest version, 2020.2.1.
Insomnia can't handle numeric query variables correctly.
![image](https://user-images.githubusercontent.com/3670768/83608222-766f0c80-a574-11ea-8deb-8d7941069699.png)

Previewing the User variable:
![image](https://user-images.githubusercontent.com/3670768/83608344-ad452280-a574-11ea-9a62-dbefc20b990a.png)